<template>
    <div class="portlet light bordered" id="list-customer-block">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-feed font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Customer Feedbacks</span>
            </div>
        </div>
        <div class="portlet-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover table-checkable dataTable no-footer"
                               role="grid" id="customers-table">
                            <thead>
                            <tr role="row" class="heading">
                                <th> </th>
                                <th> Content</th>
                                <th> Name</th>
                                <th> Email</th>
                                <th> Phone</th>
                                <th> Created At</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-if="pagination &&  pagination.data && pagination.data.length > 0"
                                v-for="model, index in pagination.data" role="row" class="odd">
                                <td>{{calc_index(index)}}</td>
                                <td width="50%"> {{model.content}}</td>
                                <td> {{model.name}}</td>
                                <td> {{model.email}}</td>
                                <td> {{model.phone}}</td>
                                <td> {{formatDate(model.created_at)}}</td>
                            </tr>
                            <tr v-if="!pagination || pagination.data && pagination.data.length == 0">
                                <td colspan="8">No Data</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row" v-if="pagination &&  pagination.data && pagination.data.length > 0">
                <div class="col-md-12">
                    <ul class="pager">
                        <li data-lp="1" class="previous" v-bind:class="pagination.current_page == 1?'disabled':''"><a
                                href="javascript:void(0);" @click="backPage()"><i
                                class="fa fa-angle-left"></i></a></li>
                        <span>{{pagination.current_page}}/{{pagination.last_page}}</span>
                        <li data-lp="7" class="next"
                            v-bind:class="pagination.current_page == pagination.last_page?'disabled':''"><a
                                href="javascript:void(0);" @click="nextPage()"><i class="fa fa-angle-right"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import MomentMixin from '../../mixins/MomentMixin.js';
    export default{
        mixins:[MomentMixin],
        data: function () {
            return {
                pagination: {},
                currentPage: 1,
            }
        },
        mounted: function () {
            this.refresh();
            var _self = this;
        },
        methods: {
            refresh: function () {
                App.blockUI({
                    target: "#list-customer-block",
                    animate: true
                });
                var _self = this;
                this.$http.get("api/feedback/pagination" + "?page=" + this.currentPage).then(function (response) {
                    _self.pagination = response.data.data;
                    App.unblockUI("#list-customer-block");
                }).catch(function (error) {
                    App.unblockUI("#list-customer-block")
                });
            },
            changePage: function (index) {
                this.currentPage = index;
                this.refresh();
            },
            backPage: function () {
                if (this.currentPage > 1) {
                    this.currentPage--;
                    this.refresh();
                }
            },
            nextPage: function () {
                if (this.currentPage < this.pagination.last_page) {
                    this.currentPage++;
                    this.refresh();
                }
            },
            calc_index(index) {
              return (this.currentPage - 1) * 15 + 1 + index;
            }
        }
    }
</script>
