<template>
  <div>

  </div>
</template>
<script>
export default {
  props: {},
  data: function() {
    return {
      showError: false,
      errors: "",
      role_id: AppData.role_id,
      isSending: false,
      isLoadType: false,
      disabled: 1,
      isChecked: false,
      checkedList: [],
      customer_code: "",
      customer: {
        customer_code: "",
        fullname: "",
        phone: "",
        email: ""
      },
      tracking_code: "",
      listTracking: []
    };
  },
  components: {},
  computed: {},
  created: function() {
    console.log("test_form created");
    this.checkCarrier();
  },
  watch: {
  },
  beforeMount: function() {
    console.log("test_form beforeMount");
  },
  mounted: function() {},
  updated: function() {
    console.log("test_form updated");
  },
  beforeDestroy: function() {
    console.log("test_form beforeDestroy");
  },
  methods: {
    checkCarrier: function () {
      var _self = this;
      // var xhr = new XMLHttpRequest();
      // var url = "https://api.trackingmore.com/v2/carriers/detect";
      // xhr.setRequestHeader("Trackingmore-Api-Key", "60e1b250-0bdf-4b44-a052-bbd84b1742ce");
      // //xhr.setRequestHeader('Content-type', 'application/json');
      // xhr.open("POST", url,true);
      // xhr.onreadystatechange = function () {
      //           if (this.readyState === XMLHttpRequest.DONE) {
      //               if (this.status === 200) {
      //                   comp.customerArray = JSON.parse(this.responseText);
      //               } else {
      //                   console.log(this.status, this.statusText);
      //               }
      //           }
      //       };
      //       xhr.send({
      //         "tracking_number": "1Z999AA10123456784"
      //       });
      // let headers = {
      //   'Content-Type': 'application/x-www-form-urlencoded',
      //   'Trackingmore-Api-Key':'60e1b250-0bdf-4b44-a052-bbd84b1742ce',
      //   'Access-Control-Allow-Origin': 'http://dev.express-cargo',
      //   'Accept-Encoding': 'gzip, deflate'
      // };
      this.$http
          .post("https://api.trackingmore.com/v2/carriers/detect",
          {
          body:{"tracking_number": "1Z999AA10123456784"},
          headers:{
            'Trackingmore-Api-Key':'60e1b250-0bdf-4b44-a052-bbd84b1742ce',
            'Content-Type': 'application/json',
            'Access-Control-Allow-Origin': '*',
            'Access-Control-Allow-Headers': 'Origin, Authorization, X-Requested-With, Content-Type, Accept',
            'Access-Control-Allow-Methods':'POST,GET,OPTIONS,PUT,DELETE'
          }
          })
          .then(
            response => {
              console.log(response);
            },
            error => {
              _self.isSending = false;
              if (error.data && error.data.data) {
                _self.errors = error.data.data;
              }
            }
          );
    }
  }
};
</script>
