<template>
    <div id="responsive" class="modal fade" tabindex="-1" data-width="50%">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title"><i class="icon-settings"></i> {{user.id ? 'Edit' : 'Create New User'}}</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form action="#" class="form-horizontal">
                        <div class="form-body">
                            <form-error :errors="errors" field="full_name" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Vietnam Name</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                  <span class="input-group-addon input-circle-left">
                    <i class="fa fa-indent"></i>
                  </span>
                                        <input type="text" class="form-control input-circle-right" placeholder="Full name"
                                               v-model="user.vietnam_name">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="phone" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">English Name</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                  <span class="input-group-addon input-circle-left">
                    <i class="fa fa-indent"></i>
                  </span>
                                        <input type="text" class="form-control input-circle-right" placeholder="Phone"
                                               v-model="user.english_name">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="username" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Note</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                  <span class="input-group-addon input-circle-left">
                    <i class="fa fa-sticky-note"></i>
                  </span>
                                        <textarea type="text" class="form-control input-circle-right" placeholder="Username"
                                               v-model="user.note"></textarea>
                                    </div>
                                </div>
                            </form-error>
                        </div>
                    </form>
                    <!-- END FORM-->
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-outline dark btn-circle">Close</button>
            <button type="button" class="btn green btn-circle" @click="updateUser()">{{ (isSending) ? 'Sending ...' : 'Save'}}
            </button>
        </div>
    </div>
</template>
<script>
    export default{
        props: {
            userProp: {
                type: Object,
                default: function () {
                    return {
                        vietnam_name: '',
                        english_name: '',
                        note: '',
                        created_by: 1,
                        updated_by: 1,
                    }
                }
            }
        }
        ,
        data: function () {
            return {
                isUpdated: false,
                showError: false,
                errors: '',
                role_id: AppData.role_id,
                isSending: false,
            }
        },
        computed: {
            user() {
                return this.userProp;
            },
        },
        created: function () {
            console.log('user_form created');
        },
        beforeMount: function () {
            console.log('user_form beforeMount');
        },
        mounted: function () {
            console.log('user_form mounted');
            var _self = this;
            $('#responsive').on('hidden.bs.modal', function (e) {
                _self.$emit('close');
                console.log('run close');
                _self.errors = '';
            });
        },
        updated: function () {
            console.log('user_form updated');
        },
        beforeDestroy: function () {
            console.log('user_form beforeDestroy');
        },
        methods: {
            updateUser: function () {
                var _self = this;
                if(!this.isSending) {
                    this.isSending = true;
                    if (this.user.id) {
                        this.$http.put('/api/shipmentstatus/' + _self.user.id, _self.user).then((response) => {
                            _self.isSending = false;
                            var user_ = response.data.data;
                            eventHub.$emit("USER_UPDATED", user_);
                            //$('#responsive').modal('hide');
                            $('.modal.in').modal('hide') ;
                            _self.errors = '';
                            showToast('Updated shipment status successfully', 'Shipment status\'s information has been updated', 'success');
                        }, (error) => {
                            _self.isSending = false;
                            if (error.data && error.data.data) {
                                _self.errors = error.data.data;
                            }
                            showToast('Updated  shipment status failed', 'Shipment status\'s information has not been updated', 'error');
                        });
                    } else {
                        this.$http.post('/api/shipmentstatus', _self.user).then((response) => {
                            _self.isSending = false;
                            var user_ = response.data.data;
                            eventHub.$emit("USER_CREATED", user_);
                            //$('#responsive').modal('hide');
                            $('.modal.in').modal('hide') ;
                            _self.errors = '';
                            showToast('Created  shipment status successfully', 'Shipment status\'s information has been created', 'success');
                        }, (error) => {
                            _self.isSending = false;
                            if (error.data && error.data.data) {
                                _self.errors = error.data.data;
                            }
                            showToast('Created  shipment status failed', 'Shipment status\'s information has not been created', 'error');
                        });
                    }
                }
            }
        }
    }
</script>
