<template>
  <div class="row">
    <div v-for="n in showNewModal">
      <user-form @close="onCloseNew()"></user-form>
    </div>
    <div v-for="n in showEditModal">
      <user-edit-form @close="onCloseEdit()" :userProp="current_user"></user-edit-form>
    </div>

    <div class="col-md-12">
      <!-- BEGIN EXAMPLE TABLE PORTLET-->
      <div class="portlet light bordered">
        <div class="portlet-title">
          <div class="caption font-dark">
            <i class="icon-settings font-dark"></i>
            <span class="caption-subject bold uppercase"> All Shipment Status </span>
          </div>
           <div class="actions">
          <button class="btn sbold green btn-circle" @click="onClickNewButton()" data-toggle="modal" href="#responsive"> Add New
                  <i class="fa fa-plus"></i>
                  </button>
            </div>
        </div>
        <div class="portlet-body">
          <div class="table-toolbar">
            <div class="row">
              <div class="col-md-6">
                <div class="btn-group pull-right" v-if="false">
                  <button class="btn green btn-outline dropdown-toggle" data-toggle="dropdown">Tools
                  <i class="fa fa-angle-down"></i>
                  </button>
                  <ul class="dropdown-menu pull-right">
                    <li>
                      <a href="javascript:;">
                      <i class="fa fa-print"></i> Print </a>
                    </li>
                    <li>
                      <a href="javascript:;">
                      <i class="fa fa-file-pdf-o"></i> Save as PDF </a>
                    </li>
                    <li>
                      <a href="javascript:;">
                      <i class="fa fa-file-excel-o"></i> Export to </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <table class="table table-striped table-bordered table-hover dt-responsive dataTable no-footer dtr-inline collapsed" id="sample_1">
            <thead>
              <tr>
                <th style="text-align:center">
                  <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                </th>
                <th> Vietnam </th>
                <th> English </th>
                <th> Note </th>
                <th style="text-align:center"> Edit </th>
                <th style="text-align:center"> Delete </th>

              </tr>
            </thead>
            <tbody>
              <tr v-for="user in users" class="odd gradeX">
                <td align="center">
                  <input type="checkbox" class="checkboxes" value="1" />
                </td>
                <td>{{user.vietnam_name}}</td>
                <td>{{user.english_name}}</td>
                <td>{{user.note}}</td>
                <td align="right">
                  <button class="btn btn-info" @click="onClickEditButton(user)" data-toggle="modal" href="#responsive_edit">
                    <i class="fa fa-edit"></i>
                  </button>
                </td>
                <td align="right">
                  <button class="btn btn-danger" @click="deleteUser(user)">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- END EXAMPLE TABLE PORTLET-->
    </div>
  </div>
</template>
<script>
  var TableDatatablesManaged = require('../../../utils/table-datatables-responsive');
  import UserForm from './Form.vue';
  import UserEditForm from './FormEdit.vue';
  
  export default {
    data: function () {
      return {
        search: '',
        users: [],
        current_user: {},
        origin_user: {},
        statuses:
          [
            {index: 0, name: 'Pending', css: 'label-warning'},
            {index: 1, name: 'Actived', css: 'label-success'}
          ],
        roles:
          [
            {index: 0, name: 'User', css: 'label-success'},
            {index: 1, name: 'Admin', css: 'label-danger'},
            {index: 2, name: 'Admin Two', css: 'label-warning'},
          ],
        isUpdated: false,
        showNewModal: 1,
        showEditModal: 1,
        role_id: AppData.role_id,
        isEdited: false
      }
    },
    components: {
      UserForm, UserEditForm
    },
    computed: {
    },
    created: function () {
      this.loadData();
      eventHub.$on("USER_CREATED", this.onUserCreated);
      eventHub.$on("USER_UPDATED", this.onUserUpdated);
    },
    updated: function () {
      if (!this.isUpdated) {
        TableDatatablesManaged.default.init();
        this.isUpdated = true;
      }
    },
    methods: {
      onCloseNew() {
        this.showNewModal -= 1;
      },
      onCloseEdit() {
        this.showEditModal -= 1;
      },
      onCloseEditPackage() {
        this.showEditPackageModal -= 1;
      },
      onClickEditButton(user) {
        this.isEdited = false;
        this.current_user = user;
        this.setOriginUser(user);
        this.showEditModal += 1;
      },
      onClickEditPackageButton(user) {
        this.isEdited = false;
        this.current_user = user;
        this.setOriginUser(user);
        this.showEditPackageModal += 1;
      },
      onClickNewButton() {
        this.showNewModal += 1;
      },
      setOriginUser(user){
        this.origin_user = _.clone(user);
      },
      loadData: function () {
        var _self = this;
        var searchQuery = this.buildSearchQuery();
        this.$http.get('/api/shipmentstatus/pagination' + searchQuery).then(function (response) {
          _self.users = response.data.data.data;
        }).catch(function (error) {
          console.log(error);
        })
      },
      buildSearchQuery: function () {
        var searchQuery = '';
        if (this.search && this.search != '') {
          searchQuery = "?search=" + this.search + '&searchFields=name:like;email:like';
        }
        return searchQuery;
      },
      updateStatus: function(user) {
        var oldStatus = user.status;
        var _self = this;
        this.$http.put('/api/shipmentstatus/' + user.id, {status: user.status, user_id: user.id}).then((response) => {
        showToast('Updated status successfully', 'User\'s status has been changed', 'success');
        }, (response) => {
          user.status = oldStatus;
          showToast('Updated status failed', 'User\'s status has not been changed', 'error');
        });
      },
      onUserCreated: function(user) {
        this.users.push(user);
        //showToast('User', 'User has been added to list', 'info');
      },
      onUserUpdated: function(user) {
        this.isEdited = true;
      },
      deleteUser: function(user) {
        if (confirm("Do you want to delete?")) {
          var _self = this;
          this.$http.delete('/api/shipmentstatus/' + user.id).then((response) => {
             var index = _self.users.indexOf(user);
             if(index != -1)
                _self.users.splice(index,index);
            showToast('Deleted successfully', 'Shipment status has been removed', 'success');
          }, (response) => {
            console.log('Delete failed:' + response);
            showToast('Delete failed', 'Shipment status has not been deleted', 'error');
          });
        }
      }
    }
  }
</script>
<style>
  .dataTables_filter {
    float: right !important;
  }
</style>
