<template>
<div class="portlet light bordered" id="list-check-shipments-block">
<div class="portlet-title">
    <div class="caption">
        <i class="icon-users font-red"></i>
        <span class="caption-subject font-red sbold uppercase">Check Shipments</b></span>
    </div>
    <div class="actions">
        
    </div>
</div>
<div class="portlet-body">
    <div class="row">
        <div class="col-md-4">
            <form action="#" class="form-horizontal">
                <div class="form-group" style="margin-bottom: 10px !important;">
                    <label class="control-label">#REF</label>
                    <input class="form-control" type='text' v-model="filterREF" placeholder="#REF" @keyup.enter="filterChange">
                    <label class="control-label">Customer Code</label>
                    <input class="form-control" type='text' v-model="filterCustomerCode" placeholder="Customer Code" @keyup.enter="filterChange">
                    <label class="control-label">Customer Phone</label>
                    <input class="form-control" type='text' v-model="filterPhoneC" placeholder="Customer Phone" @keyup.enter="filterChange">
                </div>
                <div class="form-group" style="margin-bottom: 10px !important;">
                    <button class="btn sbold green btn-circle" @click="searchChange"> Search
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="portlet-body">
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover no-footer"
                        role="grid" id="recipient-table">
                    <thead>
                    <tr role="row" class="heading">
                        <th rowspan="2">Status</th>
                        <th rowspan="2">#REF</th>
                        <th rowspan="2">Customer</th>
                        <th rowspan="2">Service Type</th>
                        <th rowspan="2">Payment Type</th>
                        <th colspan="2">SENDER</th>
                        <th colspan="2">RECIPIENT</th>
                    </tr>
                    <tr role="row" class="heading">
                        <th> Name</th>
                        <th width="10%">Phone</th>
                        <th> Name</th>
                        <th width="10%">Phone</th>
                    </tr>
                    <tr>
                        <th>
                            <select v-model="filterStatus" @change="refresh()" class="" style="width: 62px;">
                                <option value="">All</option>
                                <option :value="type_.id" v-for="type_ in typeStatus" >{{ type_.english_name}}-{{type_.vietnam_name }}</option>
                            </select>
                        </th>
                        <th>
                        
                        </th>
                        <th>
                        </th>
                        <th></th>
                        <th></th>
                        <th>
                        </th>
                        <th>
                        </th>
                        <th>
                        </th>
                        <th>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-if="pagination &&  pagination.data && pagination.data.length > 0"
                        v-for="model in pagination.data" role="row" class="odd">
                        <td>
                            {{typeStatus[model.status-1].english_name}}/{{typeStatus[model.status-1].vietnam_name}}<br/>
                            (<i>{{model.status_note}}</i>)
                        </td>
                        <td>
                            {{model.shipment_code}}
                        </td>
                        <td>
                            ({{model.customer_code}}) - {{model.firstname}} {{model.lastname}}
                        </td>
                        <td>
                            {{model.service_type_item}}
                        </td>
                        <td>
                            <label v-if="model.payment_type_paid_type" class="label-readonly">
                                <span>UnPaid</span> - 
                                <span v-if="model.payment_type_item == 1">Sender</span>
                                <span v-if="model.payment_type_item == 2">Recipient</span>
                                -
                                <span v-if="model.payment_type_paid_type == 1">Cash</span>
                                <span v-if="model.payment_type_paid_type == 2">Credit</span>
                                <span v-if="model.payment_type_paid_type == 3">Check</span>
                            </label>
                            <label v-else class="label-readonly">
                                <span>Paid</span> -
                                <span v-if="model.payment_type_item == 1">Cash</span>
                                <span v-if="model.payment_type_item == 2">Credit</span>
                                <span v-if="model.payment_type_item == 3">Check</span>
                            </label>
                        </td>
                        <td> ({{model.sender_code}}) - {{model.sender_firstname}} {{model.sender_lastname}}</td>
                        <td>
                            {{model.sender_phone}}
                        </td>
                        <td>
                            ({{model.recipient_code}}) - {{model.recipient_firstname}} {{model.recipient_lastname}}
                        </td>
                        <td>
                            {{model.recipient_phone}}
                        </td> 
                    </tr>
                    <tr v-if="!pagination || pagination.data && pagination.data.length == 0 ||pagination.total==0">
                        <td colspan="10">No Data - No find data</td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row" >
        <div v-if="pagination &&  pagination.data && pagination.data.length > 0">
            <div class="col-md-12">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <ul class="pager">
                        <li data-lp="1" class="previous" v-bind:class="pagination.current_page == 1?'disabled':''"><a
                                href="javascript:void(0);" @click="backPage()"><i
                                class="fa fa-angle-left"></i></a></li>
                        <span>{{pagination.current_page}}/{{pagination.last_page}}</span>
                        <li data-lp="8" class="next"
                            v-bind:class="pagination.current_page == pagination.last_page?'disabled':''"><a
                                href="javascript:void(0);" @click="nextPage()"><i class="fa fa-angle-right fa-4"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
</div>
</template>
<style scoped>
    .actions {
        margin-right: 10px;
    }
    .table-responsive .form-control {
        height: 25px;
        width: 100%;
    }
    .form-group {
        margin-bottom: 0px !important;
    }
</style>
<script>
    export default{
        data: function () {
            return {
                search: '',
                pagination: {},
                filterStatus: "",
                currentPage: 1,
                filterCustomerCode: '',
                filterPhoneC: '',
                filterREF:'',
                current_recipient: {},
                origin_recipient: {},
                showNewModal: 1,
                showEditModal: 1,
                isEdited: false,
                typeStatus: [],
                showEditModal:1,
                origin_shiment:{},
                current_shipment:{},
                shipment_packages:{},
                historyList:false,
                view_customer_id:'',
                view_sender_id:'',
                view_recipient_id:'',
                view_title:''
            }
        },
        props: {

        },
        components: {
            
        },
        mounted: function () {
            var _self = this;
            
            $(document).ready(function(){
                $('[data-toggle="popover"]').popover();
            });
            eventHub.$on('shipment_update_status', function () {
                _self.refresh();
            });
            this.refresh();
        },
        created: function(){
            this.loadStatus();
        },
        watch: {
        },
        computed: {
            searchQuery: function () {
                var query = "?orderBy=created_at&sortedBy=desc&page=" + this.currentPage + "&";
                var search = '';

                if (this.filterStatus) {
                    search += 'status=' + this.filterStatus + '&';
                }
                if (this.filterCustomerCode) {
                    search += 'customer_code=' + this.filterCustomerCode + '&';
                }
                if (this.filterPhoneC) {
                    search += 'customer_phone=' + this.filterPhoneC + '&';
                }
                if (this.filterREF) {
                    search += 'shipment_code=' + this.filterREF + '&';
                }
                query += search.slice(0, -1);
                return query;
            },
            pages: function () {
                var pages = [];
                if (this.pagination && this.pagination.last_page) {
                    for (var i = 1; i <= this.pagination.last_page; i++) {
                        pages.push(i);
                    }
                }
                return pages;
            }
        },
        methods: {
            onCloseEdit() {
                this.showEditModal -= 1;
            },
            onCloseNew() {
                this.showNewModal -= 1;
            },
            onClickNewButton() {
                this.showNewModal += 1;
            },
            searchChange: _.debounce(function () {
                this.refresh();
            }, 500),
            refresh: function () {
                App.blockUI({
                    target: '#list-check-shipments-block',
                    animate: true
                });
                $('.btn-checked').html('Check Clicked');
                var _self = this;
                this.$http.get(AppData.baseUrl+'/api/check-shipments/pagination' + this.searchQuery).then(function (response) {
                    _self.pagination = response.data.data;
                    App.unblockUI('#list-check-shipments-block');
                }).catch(function (error) {
                    App.unblockUI('#list-check-shipments-block')
                });
            },
            changePage: function (index) {
                this.currentPage = index;
                this.refresh();
            },
            backPage: function () {
                if (this.currentPage > 1) {
                    this.currentPage--;
                    this.refresh();
                }
            },
            nextPage: function () {
                if (this.currentPage < this.pagination.last_page) {
                    this.currentPage++;
                    this.refresh();
                }
            },
            filterChange: function () {
                this.refresh();
            },
            searchChange: function () {
                this.refresh();
            },
            loadStatus: function() {
                var _self=this;
                this.$http.get('api/shipmentstatuslog/loadstatus').then(function (response) {
                    _self.typeStatus = response.data;
                }).catch(function (error) {
                });
            }
        }
    }
</script>
