<template>
  <div>
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default" id="login-form">
        <div class="panel-body">
          <div>
            <div>
              <img
                src="http://dev.express-cargo/assets/layouts/layout4/img/logo-blue1.png"
                alt="Xpress Cargo"
              />
            </div>
            <div class="form-group">
              <label>Email Or Phone</label>
              <input type="text" placeholder="Email Or Phone" class="form-control" v-model="user" />
            </div>
            <div class="row">
              <div class="col-md-12">
                <button
                  type="submit"
                  @click="login"
                  class="btn btn-success btn-block btn-flat"
                >Sign In</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default" id="chosse-form" style="display:none">
        <div class="panel-body">
          <div v-for="customer in list_customer">
            {{customer.customer_code}}
            <button class="btn btn-primary">Access</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      user: "",
      list_customer: []
    };
  },
  created() {
    console.log("form_login_customer created");
  },
  methods: {
    login: function() {
      var _self = this;
      if (_self.user === "") {
        showToast("error", "Email or phone require", "error");
        return;
      } else {
        this.$http
          .post("api/customer-login", {
            user: _self.user
          })
          .then(function(response) {
            _self.list_customer = response.data.data;
            if (_self.list_customer.length > 1) {
              $("#login-form").hide();
              $("#chosse-form").show();
            }
            showToastFromResponse(response);
          })
          .catch(function(error) {
            showToastFromResponse(error);
          });
      }
    }
  }
};
</script>
