<template>
  <div id="responsive_edit" class="modal fade" tabindex="-1" data-width="80%" data-height="80%">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title">
        <i class="icon-wrench"></i>
        {{ !isCreate ? 'Edit Group Zone' : 'Create Group Zone'}}
      </h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="portlet-body form">
          <!-- BEGIN FORM-->
          <form action="#" class="form-horizontal">
            <div class="form-body">
              <div class="row">
                <div v-if="isCreate != true" class="col-md-3">
                  <span v-for="(model,n) in serviceTypeZone">
                    <button
                      @click="changeListZone(model)"
                      class="btn btn-default"
                    >Group Zone {{n+1}}</button>
                    <button v-if="n!=0" class="btn btn-danger" @click="deleteUser(model.id)">
                      <i class="fa fa-times red" aria-hidden="true"></i>
                    </button>
                    <br />
                    <br />
                  </span>
                </div>

                <div class="col-md-9">
                  <form-error :errors="errors" field="rate" error-class="col-md-offset-3 col-md-8">
                    <div class="col-md-12">
                      <label class="col-md-3 control-label">List Zone</label>
                      <div class="col-md-8">
                        <multiselect
                          v-model="selected"
                          :options="list_filter"
                          :multiple="true"
                          :close-on-select="false"
                          :clear-on-select="false"
                          :preserve-search="true"
                          :hideSelected="true"
                          placeholder="Select zone"
                          label="zone_name"
                          track-by="zone_name"
                        >
                          <template slot="selection" slot-scope="{ values, search, isOpen }">
                          <span
                            class="multiselect__single"
                            v-if="selected.length &amp;&amp;  !isOpen"
                          >{{ selected.length }} zone selected</span>
                          </template>
                        </multiselect>
                        <div
                          class="col-md-12"
                          style="line-height: 2px"
                          v-if="selected.length != 0 || selected.length != null"
                        >
                          <label class="col-md-3 control-label"></label>
                          <p v-for="item in selected">
                            <button class="btn btn-danger" @click="RemoveItem(item)">X</button>&nbsp;{{item.zone_name}}
                          </p>
                        </div>
                      </div>
                    </div>
                  </form-error>

                  <div class="col-md-12">
                    <form-error
                      :errors="errors"
                      field="rate"
                      error-class="col-md-offset-3 col-md-8"
                    >
                      <label class="col-md-3 control-label">Rate</label>
                      <div class="col-md-8">
                        <input v-model="TypeZone.rate" type="text" class="form-control tel" />
                      </div>
                    </form-error>
                  </div>

                  <div class="col-md-12">
                    <form-error
                      :errors="errors"
                      field="discount_rate"
                      error-class="col-md-offset-3 col-md-8"
                    >
                      <label class="col-md-3 control-label">Discount Rate</label>
                      <div class="col-md-8">
                        <input
                          v-model="TypeZone.discount_rate"
                          type="text"
                          class="form-control tel"
                        />
                      </div>
                    </form-error>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <!-- END FORM-->
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        v-if="isCreate == false"
        class="btn green btn-circle"
        @click="createdZone()"
      >Create New Zone</button>
      <button
        type="button"
        class="btn green btn-circle"
        @click="updateUser()"
      >{{ (isSending) ? 'Sending ...' : 'Save'}}</button>
    </div>
  </div>
</template>
<style>
.multiselect__tag {
  display: none !important;
}
</style>
<script>
import Multiselect from "~/../vue-multiselect";
Vue.component("multiselect", Multiselect);

export default {
  props: {
    userProp: {
      type: Object,
      default: function() {
        return {};
      }
    }
  },
  data: function() {
    return {
      TypeZone: {},
      isUpdated: false,
      showError: false,
      errors: "",
      role_id: AppData.role_id,
      isSending: false,
      serviceTypeZone: [],
      list_zone: [],
      list_filter: [],
      selected: [],
      list_created: [],
      isCreate: false,
      role_id: AppData.role_id
    };
  },
  components: {
    Multiselect
  },
  computed: {
    user() {
      return this.userProp;
    }
  },
  created: function() {
    var _self = this;
    this.loadServiceTypeZone(this.user);
    console.log("user_form created");
  },
  beforeMount: function() {
    console.log("user_form beforeMount");
  },
  mounted: function() {
    console.log("user_form mounted");
    var _self = this;
    $("#responsive_edit").on("hidden.bs.modal", function(e) {
      _self.$emit("close");
      console.log("run close");
      _self.errors = "";
    });
  },
  updated: function() {
    console.log("user_form updated");
  },
  beforeDestroy: function() {
    console.log("user_form beforeDestroy");
  },
  methods: {
    updateUser: function() {
      var _self = this;
      if (_self.isCreate == true) {
        _self.TypeZone["id"] = null;
      }
      _self.TypeZone["zone_to"] = _self.getListZone();
      _self.TypeZone["list_zone"] = null;
      if (!this.isSending) {
        this.isSending = true;
        if (_self.TypeZone.id) {
          _self.TypeZone["updated_by"] = _self.role_id;
          this.$http
            .put("/api/service_type_zone/" + _self.TypeZone.id, _self.TypeZone)
            .then(
              response => {
                _self.isSending = false;
                var user = response.data.data;
                eventHub.$emit("USER_UPDATED", user);
                //$('#responsive').modal('hide');
                $(".modal.in").modal("hide");
                _self.errors = "";
                showToast(
                  "Updated Service type zone successfully",
                  "Service type zone's information has been updated",
                  "success"
                );
              },
              error => {
                _self.isSending = false;
                if (error.data && error.data.data) {
                  _self.errors = error.data.data;
                }
                showToast(
                  "Updated Service type zone failed",
                  "Service type zone's information has not been updated",
                  "error"
                );
              }
            );
        } else {
          _self.TypeZone['service_type'] = _self.user.service_type_id;
          _self.TypeZone['service_type_item'] = _self.user.id;
          _self.TypeZone["created_by"] = _self.role_id;
          _self.TypeZone["status"] = 1; 
          this.$http.post("/api/service_type_zone", _self.TypeZone).then(
            response => {
              _self.isSending = false;
              var user = response.data.data;
              _self.isCreate = false;
              //eventHub.$emit("USER_CREATED", user);
              //$('#responsive').modal('hide');
              $(".modal.in").modal("hide");
              _self.errors = "";
              showToast(
                "Created Service type zone successfully",
                "Service type zone's information has been created",
                "success"
              );
            },
            error => {
              _self.isSending = false;
              if (error.data && error.data.data) {
                _self.errors = error.data.data;
              }
              showToast(
                "Created Service type zone failed",
                "Service type zone's information has not been created",
                "error"
              );
            }
          );
        }
      }
    },
    deleteUser: function(id) {
      var _self = this;
      if (confirm("Do you want to delete?")) {
        this.$http.delete("/api/service_type_zone/" + id).then(
          response => {
            _self.isSending = false;
            var user = response.data.data;
            _self.isCreate = false;
            eventHub.$emit("USER_UPDATED", user);
            //$('#responsive').modal('hide');
            $(".modal.in").modal("hide");
            _self.errors = "";
            showToast(
              "Deleted Service type zone successfully",
              "Service type zone's information has been deleted",
              "success"
            );
          },
          error => {
            _self.isSending = false;
            if (error.data && error.data.data) {
              _self.errors = error.data.data;
            }
            showToast(
              "Deleted Service type zone failed",
              "Service type zone's information has not been deleted",
              "error"
            );
          }
        );
      }
    },
    loadServiceTypeZone: function(user) {
      var _self = this;
      if(user.id) {
        this.$http
          .get("/api/service_type_zone/list_service_type_zone/" + user.id)
          .then(function(response) {
            _self.serviceTypeZone = response.data.data.service_type_zone;
            _self.list_zone = response.data.data.service_zone;
            _self.list_filter = response.data.data.service_zone;
            if(_self.serviceTypeZone.length != 0){
              _self.changeListZone(null);
            }
            else{
              _self.isCreate =true;
            }
          })
          .catch(function(error) {
            console.log(error);
          });
        this.isEdited = true;
      }
    },
    changeListZone: function(item) {
      var _self = this;
      //reset list_filter, selected
      _self.selected = new Array();
      var result = new Array();
      _self.list_filter = _self.list_zone;

      if (_self.isCreate == true) {
        _self.list_filter = _self.list_created;
      }

      //Option: create new zone
      if (_self.list_created == null || _self.list_created.length == 0) {
        var list_type_zone = new Array();

        _self.serviceTypeZone.forEach(type_zone => {
          type_zone.list_zone.forEach(element => {
            list_type_zone.push(element);
          });
        });

        list_type_zone.forEach(element => {
          for (var i = 0; i < _self.list_filter.length; i++) {
            if (element == _self.list_filter[i].id) {
              _self.list_filter[i]["$isDisabled"] = true;
            }
          }
        });

        result = _self.list_filter.filter(x => x.$isDisabled != true);
        _self.list_created = result;

      }
      if (_self.list_created.length != 0 || _self.isCreate == false) {
        //set up default
        if (item == null) {
          item = _self.serviceTypeZone[0];
        }
        _self.TypeZone = item;

        _self.serviceTypeZone.forEach(type_zone => {
          if (type_zone.id == item.id) {
            type_zone.list_zone.forEach(element => {
              for (var i = 0; i < _self.list_filter.length; i++) {
                if (element == _self.list_filter[i].id) {
                  _self.selected.push(_self.list_filter[i]);
                }
              }
            });
          } else {
            type_zone.list_zone.forEach(element => {
              for (var i = 0; i < _self.list_filter.length; i++) {
                if (element == _self.list_filter[i].id) {
                  _self.list_filter[i]["$isDisabled"] = true;
                }
              }
            });
          }
        });
        result = _self.list_filter.filter(x => x.$isDisabled != true);
        _self.list_filter = result;
      }
    },
    getListZone: function() {
      var _self = this;
      var result = "";
      _self.selected.forEach(element => {
        result += "," + element.id;
      });
      return result;
    },
    createdZone: function() {
      var _self = this;
      if (_self.list_created.length < 2) {
        alert("List zone less more 1");
      } else {
        _self.isCreate = true;
        _self.TypeZone["zone_to"] = null;
        _self.changeListZone();
      }
    },
    onCloseCreate: function() {
      var _self = this;
      _self.isCreate = false;
      _self.changeListZone(null);
    },
    RemoveItem: function(item) {
      var _self = this;
      _self.selected = _self.selected.filter(x => x.id != item.id);
      item.$isDisabled=false;
      var item_exist =_self.list_filter.filter(x => x.id == item.id);
      if(item_exist != null){
       _self.list_filter.push(item); 
      }
    }
  }
};
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>