<template>
  <div class="profile-sidebar">
      <!-- PORTLET MAIN -->
      <div class="portlet light profile-sidebar-portlet bordered">
          <!-- SIDEBAR USERPIC -->
          <div class="profile-userpic">
              <img src="/assets/layouts/layout4/img/avatar.png" class="img-responsive" alt=""> </div>
          <!-- END SIDEBAR USERPIC -->
          <!-- SIDEBAR USER TITLE -->
          <div class="profile-usertitle">
              <div class="profile-usertitle-name">{{user.full_name}}</div>
              <div class="profile-usertitle-job">
                <span class="badge" v-bind:class="roles[user.role].css"> {{roles[user.role].name}} </span>
              </div>
          </div>
          <!-- END SIDEBAR USER TITLE -->
          <div class="profile-usermenu"></div>
      </div>
      <!-- END PORTLET MAIN -->
  </div>
</template>
<script>
  export default {
    data: function () {
      return {
        user: {
          full_name: '...',
          role: 0
        },
        roles:
          [
            {index: 0, name: 'User', css: 'label-success'},
            {index: 1, name: 'Manager', css: 'label-danger'},
            {index: 2, name: 'Agent', css: 'label-danger'},
          ]
      }
    },
    created: function () {
      eventHub.$on("USER_LOADED", this.onUserLoaded);
    },
    methods: {
      onUserLoaded(user) {
        this.user = user;
      }
    }
  }
</script>
