<template>
    <div id="responsive_commodity_brand" class="modal fade" tabindex="-1" data-width="70%">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title"><i class="icon-layers"></i> Create New Commodity Brand</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form action="#" class="form-horizontal">
                        <div class="form-body">
                            <form-error :errors="errors" field="commodity_name" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Commodity Category</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon input-circle-left">
                                            <i class="fa fa-bars"></i>
                                        </span>
                                        <select v-model="commodityBrand_.commodity_cate" class="form-control input-circle-right">
                                            <option v-for="commodity_cate in commodity_cates" :value="commodity_cate.id">{{ commodity_cate.commodity_cate_name }}</option>
                                        </select>
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="commodity_name" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Commodity Brand Name</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon input-circle-left">
                                            <i class="fa fa-bars"></i>
                                        </span>
                                        <input type="text" class="form-control input-circle-right" placeholder="Name"
                                               v-model="commodityBrand_.commodity_brand_name">
                                    </div>
                                </div>
                            </form-error>
                        </div>
                    </form>
                    <!-- END FORM-->
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-outline dark btn-circle">Close</button>
            <button type="button" class="btn green btn-circle" @click="createCommodityBrand()">{{ (isSending) ? 'Saving ...' : 'Save'}}
            </button>
        </div>
    </div>
</template>
<script>
    export default{
        props: {
            commodityBrandProp_: {
                type: Object,
                default: function () {
                    return {
                        id:0,
                        commodity_cate: 0,
                        commodity_brand_name:'',
                        status: 1,
                    }
                }
            }
        },
        data: function () {
            return {
                isUpdated: false,
                showError: false,
                errors: '',
                role_id: AppData.role_id,
                isSending: false,
                commodity_cates:{},
                disabled: 1
            }
        },
        components: {
        },
        computed: {
            commodityBrand_() {
                return this.commodityBrandProp_;
            }
        },
        created: function () {
            console.log('commodity_brand_form created');
        },
        beforeMount: function () {
            console.log('commodity_brand_form beforeMount');
        },
        mounted: function () {
            console.log('commodity_brand_form mounted');
            var _self = this;
            $('#responsive_commodity_brand').on('hidden.bs.modal', function (e) {
                _self.$emit('close');
                console.log('run close');
                _self.errors = '';
            });
            this.loadDataCate();
        },
        updated: function () {
            console.log('commodity_brand_form updated');
        },
        beforeDestroy: function () {
            console.log('commodity_brand_form beforeDestroy');
        },
        methods: {
            createCommodityBrand: function () {
                var _self = this;
                if(!this.isSending) {
                    this.isSending = true;
                    this.$http.post(AppData.baseUrl+'/api/commodities/brand', _self.commodityBrand_).then((response) => {
                        _self.isSending = false;
                        var commodites_ = response.data.data;
                        eventHub.$emit("commodityBrand_CREATED", commodites_);
                        $('.modal.in').modal('hide') ;
                        _self.errors = '';
                        showToast('Created commodites brand successfully', 'commodites brand information has been created', 'success');
                    }, (error) => {
                        _self.isSending = false;
                        if (error.data && error.data.data) {
                            _self.errors = error.data.data;
                        }
                        showToast('Created commodites brand failed', 'commodites brand information has not been created', 'error');
                    });
                }
            },
            loadDataCate: function(){
                var _self = this; //edit11
                this.$http.get(AppData.baseUrl+'/api/commodities/brand/categories').then(function (response) {
                    _self.commodity_cates = response.data.data;
                }).catch(function (error) {
                });
            }
        }
    }
</script>
