<template>
  <div id="responsive" class="modal fade" tabindex="-1" data-width="50%">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title">{{category.id ? 'Edit' : 'Create'}}</h4>
    </div>
    <div class="modal-body">
      <div v-if="errors" class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        <p>{{errors}}</p>
      </div>
      <div class="row">

        <div class="portlet-body form">
          <!-- BEGIN FORM-->
          <form action="#" class="form-horizontal">
            <div class="form-body">
              <div class="form-group">
                <label class="col-md-3 control-label">Name</label>
                <div class="col-md-8">
                  <input type="text" class="form-control" row="1" placeholder="Name" v-model="category.name"></textarea>
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-3 control-label">Parent</label>
                <div class="col-md-8">
                  <select v-model="category.enabled" class="form-control">
                    <option v-for="category in categories" :value="category.id">{{ category.name }}</option>
                  </select>
                </div>
              </div>
            </div>
          </form>
          <!-- END FORM-->
        </div>

      </div>
    </div>
    <div class="modal-footer">
      <button type="button" data-dismiss="modal" class="btn btn-outline dark">Close</button>
      <button type="button" class="btn green" @click="updatecategory()">{{category.id ? 'Save changes' : 'Create'}}</button>
    </div>
  </div>
</template>
<script>
  export default{
    props:
      {
        category:
          {
            type: Object,
            default: function(){
              return {
                name: '',
                parent: 0
              }
            }
          }
      }
      ,
    data: function () {
      return {
        isUpdated: false,
        showError: false,
        errors: '',
        category_default:
          {
            name: '',
            parent: 0
          }
      }
    },
    created: function () {
      console.log('category_form created');
    },
    beforeMount: function () {
      console.log('category_form beforeMount');
    },
    mounted: function () {
      console.log('category_form mounted');
      var _self = this;
      $('#responsive').on('hidden.bs.modal', function (e) {
        _self.errors = '';
        _self.$emit('close');
      });
    },
    updated: function () {
      console.log('category_form updated');
    },
    beforeDestroy: function () {
      console.log('category_form beforeDestroy');
    },
    methods: {
      updatecategory: function() {
        var _self = this;
        if (this.category.id) {
          this.$http.put('/api/categories/' + this.category.id, this.category).then((response) => {
            var category = response.data.data;
            eventHub.$emit("category_UPDATED", category);
            $('#responsive').modal('toggle');
            _self.errors = '';
            showToast('Updated category successfully', 'category has been updated', 'success');
          }, (response) => {
            _self.errors = response.data.message;
            showToast('Updated category failed', 'category has not been updated', 'error');
          });
        } else {
          this.$http.post('/api/categories', this.category, {method: 'POST'}).then((response) => {
            var category = response.data.data;
            eventHub.$emit("category_CREATED", category);
            $('#responsive').modal('toggle');
            _self.errors = '';
            _self.category = _.assignIn(_self.category, _self.category_default);
            showToast('Created category successfully', 'category has been created', 'success');
          }, (response) => {
            _self.errors = response.data.message;
            showToast('Created category failed', 'category has not been created', 'error');
          });
        }
      }
    }
  }
</script>
