<template>
  <div class="row">
    <div v-for="n in showNewModal">
      <category-form @close="onCloseNew()"></category-form>
    </div>
    <div v-for="n in showEditModal">
      <category-form @close="onCloseEdit()" :category="current_category"></category-form>
    </div>
    <div class="col-md-12">
      <!-- BEGIN EXAMPLE TABLE PORTLET-->
      <div class="portlet light bordered">
        <div class="portlet-title">
          <div class="caption font-dark">
            <i class="icon-settings font-dark"></i>
            <span class="caption-subject bold uppercase"> All Categories </span>
          </div>
          <div class="actions">
            <div class="label label-info">
              Total: {{categories.length}}
            </div>
            </div>
          </div>
        </div>
        <div class="portlet-body">
          <div class="table-toolbar">
            <div class="row">
              <div class="col-md-6">
                <div class="btn-group">
                  <button class="btn sbold green" @click="onClickNewButton()" data-toggle="modal" href="#responsive"> Add New
                  <i class="fa fa-plus"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_3">
            <thead>
              <tr>
                <th><input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" /></th>
                <th> Index </th>
                <th> Name </th>
                <th> Slug </th>
                <th> Parent </th>
                <th> Edit </th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(category, index) in categories" class="odd gradeX">
                <td><input type="checkbox" class="checkboxes" value="1" /></td>
                <td> {{index + 1}} </td>
                <td> {{category.name}} </td>
                <td> {{category.slug}} </td>
                <td> {{category.parent}}</td>
                <td>
                  <button class="btn btn-info" @click="onClickEditButton(category)" data-toggle="modal" href="#responsive">
                    <i class="fa fa-edit"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- END EXAMPLE TABLE PORTLET-->
    </div>
  </div>
</template>
<script>
  var TableDatatablesManaged = require('../../../utils/table-datatables-responsive');
  import categoryForm from './Form.vue'
  export default {
    data: function () {
      return {
        search: '',
        categories: [],
        current_category: {},
        origin_category: {},
        isUpdated: false,
        showNewModal: 0,
        showEditModal: 0,
        isEdited: false
      }
    },
    components: {
      categoryForm
    },
    computed: {
      categoryActive() {
        var count = 0;
        for (var category in this.categories){
          if (this.categories[category].enabled == true) count += 1;
        }
        return count;
      }
    },
    created: function () {
      this.loadData();
      eventHub.$on("category_CREATED", this.oncategoryCreated);
      eventHub.$on("category_UPDATED", this.oncategoryUpdated);
    },
    updated: function () {
      if (!this.isUpdated) {
        TableDatatablesManaged.default.init();
        this.isUpdated = true;
      }
    },
    methods: {
      onCloseEdit() {
        this.showEditModal -= 1;
        if (!this.isEdited) {
          this.current_category = _.assignIn(this.current_category, this.origin_category);
        }
      },
      onCloseNew() {
        this.showNewModal -= 1;
      },
      onClickEditButton(category) {
        this.isEdited = false;
        this.showEditModal += 1;
        this.current_category = category;
        this.setOrigincategory(category)
      },
      onClickNewButton() {
        this.showNewModal += 1;
      },
      setOrigincategory(category){
        this.origin_category = _.clone(category);
      },
      loadData: function () {
        var _self = this;
        this.$http.get('/api/categories').then(function (response) {
          console.log('url: ', '/api/categories');
          console.log(response);
          _self.categories = response.data.data;
        }).catch(function (error) {
          console.log(error);
        })
      },
      updateStatus: function(category) {
        var oldStatus = category.enabled;
        var _self = this;
        this.$http.put('/api/categories/' + category.id, {enabled: category.enabled, content: category.content}).then((response) => {
          showToast('Updated status successfully', 'category\'s status has been changed', 'success');
        }, (response) => {
          category.enabled = oldStatus;
          showToast('Updated status failed', 'category\'s status has not been changed', 'error');
        });
      },
      oncategoryCreated: function(category) {
        this.categories.push(category);
        showToast('category', 'category has been added to list', 'info');
      },
      oncategoryUpdated: function(category) {
        console.log("Edited", category);
        this.isEdited = true;
      },
      deletecategory: function(category) {
        if (confirm("Do you want to delete?")) {
          var _self = this;
          this.$http.delete('/api/categories/' + category.id).then((response) => {
            var index = _self.categories.indexOf(category);
            if(index != -1)
                _self.categories.splice(index, 1);
            showToast('Deleted category successfully', 'category has been deleted', 'success');
          }, (response) => {
            showToast('Deleted category failed', 'category has not been deleted', 'error');
          });
        }
      }
    }
  }
</script>
<style>
  .dataTables_filter {
    float: right !important;
  }
</style>
