<template>
  <div class="portlet light" id="email-request-label-alert-content-block" v-if="componentShouldShow">
    <div class="portlet-title">
      <div class="caption">
          <span class="caption-subject bold font-blue uppercase">
            <i class="icon-envelope font-blue"></i> EMAIL REQUEST LABEL ALERT CONTENT </span>
      </div>
      <div class="actions">
        <div class="btn-group btn-group-devided">
          <button class="btn btn-info btn-circle btn-sm" data-toggle="modal" href="#responsive_request_label_alert_email" @click="onClickButton()" :message="message"> {{message.id ? 'Edit' : 'Create'}} </button>
        </div>
      </div>
    </div>
    <div class="portlet-body form">
        <form role="form" class="form-horizontal">
          <div class="form-body">
            <div class="col-md-12">
              <div class="col-md-2 col-xs-2">
                <h5 class="block">Email Title</h5>
              </div>
              <div class="col-md-10 col-xs-10">
                <div class="well">
                  <div class="settings" v-text="mailSettings.email_title"></div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="col-md-2 col-xs-2">
                <h5 class="block">Message</h5>
              </div>
              <div class="col-md-10 col-xs-10">
                <div class="well">
                  <div v-html="message.content"></div>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="form-group">
          <p v-pre>
            <strong>#Tip:</strong>
            The following variables may be included in the content:
            <strong>{{customer_code}}</strong>,
            <strong>{{full_name}},</strong>
            <strong>{{send_date}},</strong>
            <strong>{{total_package}},</strong>
            <strong>{{delivery_company}}</strong>
          </p>
        </div>
    </div>
    <div v-for="n in formRange">
      <email-request-label-alert-content-form :message="message_clone" :review_link="review_link" :emailSettings="setting_clone" @close="onCloseForm"></email-request-label-alert-content-form>
    </div>
  </div>
</template>
<script>


    const block_id = '#email-request-label-alert-content-block'
    import EmailRequestLabelAlertContentForm from './EmailRequestLabelAlertContentForm.vue';
    export default{
        data: function () {
            return {
                message: {
                  store_id: AppData.store_id,
                  language: 'en',
                  content: '',
                  type: 4
                },
                mode: 'create',
                errors: {},
                formRange: 0,
                isForm: false,
                mailSettings: {},
                tourSteps:[
                    {
                        element: "#menu-4", // element selector to show the popover next to;
                        title: "Templates setting",
                        content: "Custom your sms, mms, email template to send."
                    },
                    {
                        placement: "left",
                        element: "#email-content-block",
                        title: "Email content",
                        content: "Your email's template. Click the top-right button to custom."
                    },
                    {
                        placement: "top",
                        element: "#sms-content-block",
                        title: "SMS content",
                        content: "Your sms's template. Click the top-right button to custom."
                    },
                    {
                        placement: "top",
                        element: "#mms-content-block",
                        title: "MMS content",
                        content: "Your mms's template. Click the top-right button to custom."
                    },
                    {
                        element: "#menu-3", // element selector to show the popover next to;
                        path: "/customers"
                    }
                ],
              store: {}
            }
        },
        components: {
          EmailRequestLabelAlertContentForm
        },
        mounted: function () {
          this.refresh();
          this.loadStore();
          eventHub.$on("EMAIL_CONTENT_CREATED", this.onContentCreated);
          eventHub.$on("EMAIL_CONTENT_UPDATED", this.onContentUpdated);
          eventHub.$on("EMAIL_SETTING_CHANGED", this.onSettingUpdated);
          eventHub.$on("STORE_LOADED", this.onStoreLoaded);
        },
        computed: {
          message_clone: function () {
            return $.extend(true, {}, this.message);
          },
          setting_clone: function () {
            return $.extend(true, {}, this.mailSettings);
          },
          componentShouldShow: function () {
            return AppData.store_id;
          },
          review_link() {
            return AppData.baseUrl + '/' + this.store.slug;
          }
        },
        methods: {
          loadStore: function () {
              this.$http.get(AppData.baseUrl+'/api/users/stores').then(function (response) {
                var store = response.data.data[0];
                eventHub.$emit("STORE_LOADED", store);
              }).catch(function (error) {
              });
          },
          onStoreLoaded(store) {
            this.store = store;
            this.formRange += 1;
          },
          onClickedReviewLink() {
            swal(this.store.name, this.review_link, 'info');
          },
          refresh: function () {
              App.blockUI({
                  target: block_id,
                  animate: true
              });
              var _self = this;
              this.$http.get(AppData.baseUrl+'/api/stores/' + AppData.store_id + '/emailRequestLabelAlertMessage').then(function (response) {
                  if (response.data && response.data && response.data.data.length == 0) {
                      _self.mode = 'create'
                  } else {
                      _self.mode = 'update';
                      _self.message = response.data.data;
                  }
                  App.unblockUI(block_id)
                  _self.setTourGlobal(this.tourSteps,'templates');
                  _self.startTourGlobalFirst(this.tourSteps,'templates');
              }).catch(function (error) {
                  App.unblockUI(block_id)
              });
              this.$http.get(AppData.baseUrl+'/api/settings/by-user').then(function (response) {
                  _self.mailSettings = response.data.data;
              }).catch(function (error) {
              });
          },
          onClickButton: function () {
            // this.isForm = true;
            this.formRange += 1;
          },
          onCloseForm() {
            // this.isForm = false;
            this.formRange -= 1;
          },
          onContentCreated: function(message) {
            this.message = message;
          },
          onContentUpdated: function(message) {
            this.message = message;
          },
          onSettingUpdated: function(setting) {
            this.mailSettings = setting;
          }
        }
    }
</script>
<style scoped>
.settings {
    font-size: fit-width;
}
.well {
  text-align: justify;
}
</style>
