<template>
  <div id="responsive_email_request_label" class="modal fade" tabindex="-1" data-width="80%">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title bold font-green-sharp uppercase">{{message.id ? 'Edit Email Content' : 'Create Email Content'}}</h4>
    </div>
    <div class="modal-body" id="email-request-label-content-form">
      <div v-if="errors" class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        <p>{{errors}}</p>
      </div>
      <div class="row">

        <div class="portlet-body form">
          <!-- BEGIN FORM-->
          <form action="#" class="form-horizontal">
            <div class="form-body">
              <div class="form-group">
                <div class="col-md-2 col-xs-2">
                  <label class="bold">Email Title Request Label:</label>
                </div>
                <div class="col-md-10 col-xs-10">
                  <input type="text" class="form-control" placeholder="Email Title Request Label"
                    v-model="mailSettings.email_request_label_title">
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-12">
                  <p>The following variables may be included in the content:
                    <strong v-pre>{{full_name}}</strong>,
                    <strong v-pre>{{tracking_label}} : link file</strong>,
                    <strong v-pre>{{tracking_label_info}} : link file</strong>
                    They will be replaced with the appropriate information when an invite is sent out. Note
                    that some of this information (such as the customer's name) will only be available if it
                    is submitted when the review invite is sent out.
                  </p>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-12">
                  <h5 class="block bold">Content:</h5>
                  <!-- <vue-editor :placeholder="'Content'"
                              :editor-content="content"
                              :use-save-button="false"
                              :show-preview="true"
                              :editor-toolbar="customToolbar"
                              @editor-updated="handleUpdatedContent">

                  </vue-editor> -->
                  <div name="summernote_requestlabel" id="summernote_requestlabel"></div>
                </div>
              </div>
            </div>
          </form>
          <!-- END FORM-->
        </div>

      </div>
    </div>
    <div class="modal-footer">
      <button type="button" data-dismiss="modal" class="btn btn-outline btn-circle btn-sm dark">Close</button>
      <button type="button" class="btn green-haze btn-outline btn-circle btn-sm" name="save-content" @click="updateEmailContent()">{{ (isSendingEmail) ? 'Sending ...' : 'SAVE'}}</button>
    </div>
  </div>
</template>
<script>
  // import { VueEditor } from 'vue2-editor';
  var toolbarOptions = [
      ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
      ['blockquote', 'code-block'],

      [{ 'header': 1 }, { 'header': 2 }],               // custom button values
      [{ 'list': 'ordered'}, { 'list': 'bullet' }],
      [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
      [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
      [{ 'direction': 'rtl' }],                         // text direction

      [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
      [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
      [ 'link', 'image', 'video', 'formula' ],          // add's image support
      [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
      [{ 'font': [] }],
      [{ 'align': [] }],

      ['clean']                                         // remove formatting button
  ];
  var formID = '#email-request-label-content-form';
  export default{
    props:
    {
      message:
      {
        type: Object,
        default: function(){
          return {
            store_id: AppData.store_id,
            language: 'en',
            content: '',
            type: 4
          }
        }
      },
      emailSettings: {},
      review_link: {
        type: String
      }
    },
    // components: {
    //   VueEditor
    // },
    data: function () {
      return {
        content: null,
        errors: '',
        isSendingEmail:false,
        customToolbar: toolbarOptions
      }
    },
    computed: {
      mailSettings() {
        return this.emailSettings;
      }
    },
    created: function () {
      console.log('email_form created');
    },
    beforeMount: function () {
      console.log('email_form beforeMount');
    },
    mounted: function () {
      console.log('email_form mounted');
      var _self = this;
      $('#responsive').on('hidden.bs.modal', function (e) {
        _self.$emit('close');
        console.log('run close');
        _self.errors = '';
      });
      this.content = this.message.content;
      $('#summernote_requestlabel').summernote({
        height: 200,
        minHeight: 200,
        maxHeight: 250,
        focus: true,
        onChange: function(contents, $editable) {
            _self.message.content = contents;
            //$('.note-codable').html(contents);
          }
      });
      $('#summernote_requestlabel').code(this.message.content);
      $('#summernote_requestlabel').summernote('destroy');
    },
    updated: function () {
      console.log('email_form updated');
    },
    beforeDestroy: function () {
      console.log('email_form beforeDestroy');
    },
    methods: {
      handleUpdatedContent: function(value) {
        this.message.content = value;
      },
      updateEmailContent: function() {
        //var _content = $('.note-codable').html();//$('#summernote').code();
        //alert(this.message.content);
        //var html = $('#summernote').summernote('code');
        App.blockUI({
            target: formID,
            animate: true
        });
        var _self = this;
        if(!this.isSendingEmail) {
          this.isSendingEmail = true;
          if (this.message.id) {
            this.$http.put(AppData.baseUrl+'/api/invite_messages/' + this.message.id, this.message).then((response) => {
              this.isSendingEmail = false;
              var message = response.data.data;
              eventHub.$emit("EMAIL_RL_CONTENT_UPDATED", message);
              //$('#responsive').modal('toggle');
              $('.modal.in').modal('hide') ;
              _self.errors = '';
              showToast('Updated email content successfully', 'Email content has been updated', 'success');
              App.unblockUI(formID);
            }, (response) => {
              this.isSendingEmail = false;
              _self.errors = response.data.message;
              showToast('Updated email content failed', 'Email content has not been updated', 'error');
              showToastFromResponse(response);
              App.unblockUI(formID);
            });
          } else {
            this.$http.post(AppData.baseUrl+'/api/invite_messages', this.message, {method: 'POST'}).then((response) => {
              this.isSendingEmail = false;
              var message = response.data.data;
              eventHub.$emit("EMAIL_RL_CONTENT_CREATED", message);
              //$('#responsive').modal('toggle');
              $('.modal.in').modal('hide') ;
              _self.errors = '';
              showToast('Created email content successfully', 'Email content has been created', 'success');
              App.unblockUI(formID);
            }, (response) => {
              this.isSendingEmail = false;
              _self.errors = response.data.message;
              showToast('Created email content failed', 'Email content has not been created', 'error');
              showToastFromResponse(response);
              App.unblockUI(formID);
            });
          }
          if (this.mailSettings.id) {
              this.$http.put(AppData.baseUrl+'/api/settings/' + this.mailSettings.id, this.mailSettings).then(function (response) {
                  showToastFromResponse(response);
                  var mailSettings = response.data.data;
                  eventHub.$emit("EMAIL_RL_SETTING_CHANGED", mailSettings);
                  _self.mailSettings = mailSettings;
              }).catch(function (error) {
                  showToastFromResponse(error);
              })
          }
        }
      }
    }
  }
</script>
