<template>
    <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered" id="dashboard-block">
        <h4 class="widget-thumb-heading"><a :href="link">{{title}}</a></h4>
        <div class="widget-thumb-wrap">
            <i class="widget-thumb-icon" v-bind:class="icon"></i>
            <div class="widget-thumb-body">
                <span class="widget-thumb-subtitle">{{subtitle}}</span>
                <span class="widget-thumb-body-stat" data-counter="counterup" v-bind:data-value="number">0</span>
            </div>
        </div>
    </div>
</template>
<script>
    export default{
        props:{
            number:{
                default: function () {
                    return 0;
                }
            },
            title:String,
            icon:String,
            subtitle:{
                type:String,
                default:function () {
                    return ""
                }
            },
            link:String,
        },
        updated:function () {
            $("[data-counter='counterup']").counterUp({
                delay: 10,
                time: 1000
            });
        }
    }
</script>
