<template>
    <div class="portlet light" id="customer-status-block">
        <div class="portlet-title">
            <div class="caption font-gray-sharp">
                <span class="caption-subject"> CUSTOMER STATUS </span>
            </div>
        </div>
        <div class="portlet-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4 col-offset-md-8">
                        <time-range @change="changeTime"></time-range>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <div id="customer-status" style="width:100%;height:200px"></div>
            </div>
        </div>
    </div>
</template>
<script>
    export default{
        data:function () {
          return {
              chart:null
          };
        },
        mounted: function () {

        },
        methods:{
            changeTime:function(data){
                let _self = this;
                App.blockUI({
                    target: '#customer-status-block',
                    animate: true
                });
                this.$http.get('/api/statistic/customer/'+data.startDateText+'/'+data.endDateText).then(function(response){
                    App.unblockUI('#customer-status-block');
                    _self.refresh(response.data.data)
                });
            },
            refresh: function (data) {
                if (this.chart) {
                    this.chart.dataProvider = data;
                    this.chart.validateData();
                } else {
                    this.chart = AmCharts.makeChart("customer-status", {
                        "type": "serial",
                        "theme": "light",
                        "categoryField": "date",
                        "rotate": false,
                        "legend": {
                            "useGraphSettings": true,
                            "markerSize": 12,
                            "valueWidth": 0,
                            "verticalGap": 0
                        },
                        "startDuration": 1,
                        "categoryAxis": {
                            "gridPosition": "start",
                            "position": "left"
                        },
                        "trendLines": [],
                        "graphs": [
                            {
                                "balloonText": "New:[[value]]",
                                "fillAlphas": 0.8,
                                "id": "AmGraph-1",
                                "lineAlpha": 0.2,
                                "title": "New Customer",
                                "type": "column",
                                "valueField": "new_count"
                            },
                            {
                                "balloonText": "Email:[[value]]",
                                "fillAlphas": 0.8,
                                "id": "AmGraph-2",
                                "lineAlpha": 0.2,
                                "title": "Email sent",
                                "type": "column",
                                "valueField": "count_email"
                            },
                            {
                                "balloonText": "SMS:[[value]]",
                                "fillAlphas": 0.8,
                                "id": "AmGraph-2",
                                "lineAlpha": 0.2,
                                "title": "SMS sent",
                                "type": "column",
                                "valueField": "count_phone"
                            },
                            {
                                "balloonText": "MMS:[[value]]",
                                "fillAlphas": 0.8,
                                "id": "AmGraph-2",
                                "lineAlpha": 0.2,
                                "title": "MMS Sent",
                                "type": "column",
                                "valueField": "count_mms"
                            }
                        ],
                        "guides": [],
                        "valueAxes": [
                            {
                                "id": "ValueAxis-1",
                                "position": "top",
                                "axisAlpha": 0
                            }
                        ],
                        "dataProvider":data,
                        "allLabels": [],
                        "balloon": {},
                        "titles": []

                    })
                }
            }
        }
    }
</script>
