<template>
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption">
                <span class="caption-subject uppercase"> Recent Reviews </span>
            </div>
            <div class="actions">
              <div class="btn-group">
                  <a class="btn green-haze btn-circle btn-sm" href="/reviews"> View all </a>
              </div>
            </div>
        </div>
        <div class="portlet-body">
            <div class="row">
                <div class="col-md-12">
                    <div v-for="review in reviews">
                        <review-item :review="review"></review-item>
                    </div>
                    <div class="center" v-show="reviews.length == 0 && !loading">
                        <div>No reviews</div>
                    </div>
                    <div class="center" v-show="loading">
                        <pulse-loader :loading="loading"></pulse-loader>
                        <div>Getting reviews</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<style scoped>
    .center {
        text-align: center;
    }
</style>
<script>
    import ReviewItem from '../review/ReviewItem.vue';
    import PulseLoader from 'vue-spinner/src/PulseLoader.vue';
    export default{
        data: function () {
            return {
                reviews: [],
                loading: false
            }
        },
        mounted: function () {
            this.loadData();
        },
        components: {
            ReviewItem,PulseLoader
        },
        methods: {
            loadData: function () {
                this.isRequesting = true;
                this.loading = true;
                var _self = this;
                this.$http.get('api/reviews?offset=1&limit=5&orderBy=published_at&sortedBy=desc').then(function (response) {
                    _self.reviews = response.data.data;
                    _self.loading = false;
                    _self.isRequesting = false;
                })
            }
        }
    }
</script>
