<template>
    <div class="row" id="dashboard-block">
        
        <div class="row" id="step-2">
            <div class="col-xs-12">
             <review-link-statistic></review-link-statistic>
            </div>
        </div>
        
    </div>
</template>
<script>
    // var tour = new Tour();

    // Add your steps

    import CounterNumberPortlet from "./CounterNumberPortlet.vue";
    import MonthlyReviewGoal from "./MonthlyReviewGoal.vue";
    import ReviewBySite from "./ReviewBySite.vue";
    import RatingBySite from "./RatingBySite.vue";
    import LatestReviewList from "./LatestReviewList.vue";
    import BootstrapTourMixin from '../../mixins/BootstrapTourMixin';
    import CustomerStatus from './CustomerStatus.vue';
    import ReviewLinkStatistic from './ReviewLinkStatistic.vue';

    export default {
        data: function () {
            return {
                model: {
                    "overallRating": 0,
                    "totalReview": 0,
                    "reviewByGoogle": 0,
                    "reviewByFacebook": 0,
                    "reviewByYelp": 0,
                    "reviewByTripadvisor": null,
                    "reviewByAgoda": null,
                    "reviewByBooking": null,
                    "ratingByGoogle": 0,
                    "ratingByFacebook": 0,
                    "ratingByYelp": 0,
                    "ratingByTripadvisor": null,
                    "inviteClickedThroughRate": 0,
                    "inviteSentThisMonth": 0,
                    "inviteSentLastMonth": 0
                },
                tourSteps:[
                    {
                        placement: "bottom",
                        element: "#menu-1",
                        title: "Welcome to the dashboard.",
                        content: "Let us show you around. Click 'Next' to continue."
                    },
                    {
                        placement: "bottom",
                        element: "#step-1", // element selector to show the popover next to;
                        title: "Statistics",
                        content: "Show your ratings/reviews statistics"
                    },
                    {
                        element: "#step-2", // element selector to show the popover next to;
                        title: "Review/Rating by site",
                        content: "See how many reviews/ratings you have by site.",
                        placement: "top"
                    },
                    {
                        element: "#step-3", // element selector to show the popover next to;
                        title: "Recent Reviews",
                        content: "See your five most recent reviews. New reviews are usually populated within 24 hours of going live.",
                        placement: "top"
                    },
                    {
                        element: "#menu-5", // element selector to show the popover next to;
                        path: "/settings"
                    }
                ]
            }
        },
        mixins:[BootstrapTourMixin],
        computed: {
            reviewBySiteData: function () {
                return [
                    {'provider': 'Facebook', 'value': this.model.reviewByFacebook},
                    {'provider': 'Google', 'value': this.model.reviewByGoogle},
                    {'provider': 'Yelp', 'value': this.model.reviewByYelp},
                    {'provider': 'Tripadvisor', 'value': this.model.reviewByTripadvisor},
                    {'provider': 'Agoda', 'value': this.model.reviewByAgoda},
                    {'provider': 'Booking', 'value': this.model.reviewByBooking}
                ];
            },
            ratingBySiteData: function () {
                return [
                    {'provider': 'Facebook', 'value': this.model.ratingByFacebook},
                    {'provider': 'Google', 'value': this.model.ratingByGoogle},
                    {'provider': 'Yelp', 'value': this.model.ratingByYelp},
                    {'provider': 'Tripadvisor', 'value': this.model.ratingByTripadvisor},
                    {'provider': 'Agoda', 'value': this.model.ratingByAgoda},
                    {'provider': 'Booking', 'value': this.model.ratingByBooking}
                ];
            }
        },
        components: {
            CounterNumberPortlet, ReviewLinkStatistic, MonthlyReviewGoal, ReviewBySite, RatingBySite, LatestReviewList, CustomerStatus
        },
        created: function () {
            this.refresh();
        },
        methods: {
            refresh: function () {
                App.blockUI({
                    target: '#dashboard-block',
                    animate: true
                });
                var _self = this;
                this.$http.get('api/statistic').then(function (response) {
                    _self.model = response.data.data;
                    App.unblockUI('#dashboard-block');
                    _self.startTourGlobalFirst(_self.tourSteps,'dashboard');
                }).catch(function (error) {
                    App.unblockUI('#dashboard-block');
                })
            }
        }
    }
</script>
