<template>
<div>
    <div class="row" id="dashboard-block">
        <div class="row widget-row" id="step-1">
            <div class="col-md-3">
                <counter-number-portlet v-bind:number="model.shipmentInDate"
                                        icon="icon-star  bg-green"
                                        subtitle="Shipments In Date"
                                        link="/shipments"
                                        title="SHIPMENTS"></counter-number-portlet>
            </div>
            <div class="col-md-3">
                <counter-number-portlet v-bind:number="model.totalShipments"
                                        icon="icon-layers bg-red"
                                        subtitle="Total"
                                        link="/shipments"
                                        title="TOTAL SHIPMENTS"></counter-number-portlet>
            </div>
            <div class="col-md-3">
                <counter-number-portlet v-bind:number="model.totalCustomers"
                                        icon="icon-calendar bg-yellow"
                                        subtitle="Total Customer"
                                        title="CUSTOMERS"></counter-number-portlet>
            </div>
            <div class="col-md-3">
                <counter-number-portlet v-bind:number="model.totalSender"
                                        icon="icon-notebook bg-blue"
                                        subtitle="Total"
                                        title="Sender/Recipient"></counter-number-portlet>
            </div>
        </div>
    </div>
    <div class="row widget-row">
        <div class="col-md-6">
            <div class="portlet light bordered col-md-12 padding-15" id="search-customer-block">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="icon-user font-dark"></i>
                        <span class="caption-subject bold uppercase"> Search Customer </span>
                    </div>
                    <div class="actions">
                        <div class="btn-group btn-group-devided">
                            <a class="btn sbold green btn-circle" href="../customers" role="button">
                            Add New Customer
                            <i class="fa fa-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="portlet-body form col-md-12">
                <form role="form" lpformnum="1">
                    <div class="form-group col-md-12">
                        <label>
                        <b>Search Customer by Phone </b>
                        </label>
                        <div>
                        <input type="text" placeholder="Enter phone ..." 
                            autofocus
                            v-model="query" 
                            @input="getData()"
                            @keydown.down="down"
                            @keydown.up="up"
                            @keydown.enter="hit"
                            @keydown.esc="reset"
                            autocomplete="off" class="form-control input-lg input-circle" />
                        <div class="panel-footer" v-if="search_data.length">
                            <ul class="list-group">
                                <a href="#" class="list-group-item" v-for="(data1, key) in search_data" 
                                    :class="activeClass(key)" 
                                    @click="getName(data1.customer_code)" 
                                    @keydown.enter="getName(data1.customer_code)" 
                                    @mousedown="hit"
                                    >
                                    {{ data1.phone }} - {{ data1.firstname }} {{ data1.lastname }} - {{ data1.customer_code }}
                                </a>
                            </ul>
                        </div>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label>
                        <b>Customer Phone</b>
                        </label>
                        <input
                        ref="customerphone"
                        name="customer_phone"
                        id="customer_phone"
                        type="text"
                        class="form-control"
                        v-model="customer.phone"
                        @change="SearchCustomerPhone"
                        placeholder="Input Customer Phone"
                        />
                    </div>
                    <div class="form-group col-md-12">
                        <label>
                        <b>Customer Code</b>
                        </label>
                        <input
                        ref="customercode"
                        autofocus
                        name="customer_code"
                        id="customer_code"
                        type="text"
                        class="form-control"
                        v-model="customer.customer_code"
                        @change="SearchCustomer"
                        placeholder="Input Customer Code"
                        />
                    </div>
                    <div class="form-group col-md-12">
                        <label>
                        <b>Full Name</b>
                        </label>
                        <input
                        disabled="true"
                        id="fullname"
                        v-model="customer.fullname"
                        type="text"
                        class="form-control"
                        />
                    </div>
                    <div class="form-group col-md-12">
                        <label>
                        <b>Email</b>
                        </label>
                        <input
                        disabled="true"
                        id="email"
                        v-model="customer.email"
                        type="text"
                        class="form-control"
                        />
                    </div>
                </form>
                <div class="actions">
                    <div v-if="customer.customer_code" class="btn-group btn-group-devided">
                        <a class="btn sbold blue" :href="'../shipments/create?customerid='+customer.customer_id" role="button">
                        Create New Shipment
                        <i class="fa fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>
<script>
    import CounterNumberPortlet from "./CounterNumberPortlet.vue";

    export default {
        data: function () {
            return {
                model: {
                    "shipmentInDate":0,
                    "totalShipments":0,
                    "totalCustomers":0,
                    "totalSender":0,
                    "overallRating": 0,
                    "totalReview": 0,
                    "reviewByGoogle": 0,
                    "reviewByFacebook": 0,
                    "reviewByYelp": 0,
                    "reviewByTripadvisor": null,
                    "reviewByAgoda": null,
                    "reviewByBooking": null,
                    "ratingByGoogle": 0,
                    "ratingByFacebook": 0,
                    "ratingByYelp": 0,
                    "ratingByTripadvisor": null,
                    "inviteClickedThroughRate": 0,
                    "inviteSentThisMonth": 0,
                    "inviteSentLastMonth": 0,
                    "emailSentTotal": 0,
                    "smsSentTotal": 0,
                    "invSentLastMonth": 0,
                    "invSentThisMonth": 0,
                },
                customer: {
                    customer_id: "",
                    customer_code: "",
                    fullname: "",
                    phone: "",
                    email: ""
                },
                query:'',
                search_data:[],
                current: -1,
            }
        },
        computed: {
            reviewBySiteData: function () {
                return [
                    {'provider': 'Facebook', 'value': this.model.reviewByFacebook},
                    {'provider': 'Google', 'value': this.model.reviewByGoogle},
                    {'provider': 'Yelp', 'value': this.model.reviewByYelp},
                    {'provider': 'Tripadvisor', 'value': this.model.reviewByTripadvisor},
                    {'provider': 'Agoda', 'value': this.model.reviewByAgoda},
                    {'provider': 'Booking', 'value': this.model.reviewByBooking}
                ];
            },
            ratingBySiteData: function () {
                return [
                    {'provider': 'Facebook', 'value': this.model.ratingByFacebook},
                    {'provider': 'Google', 'value': this.model.ratingByGoogle},
                    {'provider': 'Yelp', 'value': this.model.ratingByYelp},
                    {'provider': 'Tripadvisor', 'value': this.model.ratingByTripadvisor},
                    {'provider': 'Agoda', 'value': this.model.ratingByAgoda},
                    {'provider': 'Booking', 'value': this.model.ratingByBooking}
                ];
            }
        },
        components: {
            CounterNumberPortlet
        },
        created: function () {
            this.refresh();
        },
        methods: {
            refresh: function () {
                App.blockUI({
                    target: '#dashboard-block',
                    animate: true
                });
                var _self = this;
                this.$http.get('api/statistic').then(function (response) {
                    _self.model = response.data.data;
                    App.unblockUI('#dashboard-block');
                }).catch(function (error) {
                    App.unblockUI('#dashboard-block');
                })
            },
            SearchCustomer: function() {
                var _self = this;
                if (_self.customer.customer_code === "") {
                    showToast("error", "Customer code require", "error");
                    return;
                } else{
                    App.blockUI({
                    target: "#search-customer-block",
                    animate: true
                    });
                    this.$http
                    .get("/api/get-customer/" + _self.customer.customer_code)
                    .then(function(response) {
                    var cus = response.data.data;
                    if (response.data.success) {
                        _self.customer.fullname = cus.firstname + " " + cus.lastname;
                        _self.customer.email = cus.email;
                        _self.customer.phone = cus.phone;
                        _self.customer.customer_id = cus.id;
                        _self.customer.customer_code = cus.customer_code;
                    } else {
                        showToast("Not found", "Please enter customer code again", "error");
                    }
                    App.unblockUI("#search-customer-block");
                    })
                    .catch(function(error) {
                    App.unblockUI("#search-customer-block");
                    console.log(error);
                    });
                }
            },
            SearchCustomerPhone: function() {
                var _self = this;
                if (_self.customer.phone === "") {
                    showToast("error", "Customer phone require", "error");
                    return;
                } else{
                    App.blockUI({
                    target: "#search-customer-block",
                    animate: true
                    });
                    this.$http
                    .get("/api/get-customer-by-phone/" + _self.customer.phone)
                    .then(function(response) {
                    var cus = response.data.data;
                    if (response.data.success) {
                        _self.customer.fullname = cus.firstname + " " + cus.lastname;
                        _self.customer.email = cus.email;
                        _self.customer.phone = cus.phone;
                        _self.customer.customer_id = cus.id;
                        _self.customer.customer_code = cus.customer_code;
                    } else {
                        showToast("Not found", "Please enter customer phone again", "error");
                    }
                    App.unblockUI("#search-customer-block");
                    })
                    .catch(function(error) {
                    App.unblockUI("#search-customer-block");
                    console.log(error);
                    });
                }
            },
            getData:function(){
                var _self = this;
                this.search_data = [];
                if(this.query !== "") {
                    this.$http
                    .get("/api/get-customer-by-phone/" + this.query)
                    .then(function(response) {
                        _self.search_data = response.data.data;
                    })
                    .catch(function(error) {
                        console.log(error);
                    });
                }
            },
            getName:function(customer_code){
                var _self = this;
                this.search_data = [];
                App.blockUI({
                    target: "#search-customer-block",
                    animate: true
                    });
                    this.$http
                    .get("/api/get-customer/" + customer_code)
                    .then(function(response) {
                    var cus = response.data.data;
                    if (response.data.success) {
                        _self.customer.fullname = cus.firstname + " " + cus.lastname;
                        _self.customer.email = cus.email;
                        _self.customer.phone = cus.phone;
                        _self.customer.customer_id = cus.id;
                        _self.customer.customer_code = cus.customer_code;
                        _self.query = _self.customer.phone +' - '+_self.customer.fullname;
                    } else {
                        showToast("Not found", "Please enter customer code again", "error");
                    }
                    App.unblockUI("#search-customer-block");
                    })
                    .catch(function(error) {
                    App.unblockUI("#search-customer-block");
                    console.log(error);
                    });
            },
            onHit (item) {
                alert(item)
            },
            up: function up() {
                if (this.current > 0) {
                    this.current--;
                } else if (this.current === -1) {
                    this.current = this.search_data.length - 1;
                } else {
                    this.current = -1;
                }
            },
            down: function down() {
                if (this.current < this.search_data.length - 1) {
                    this.current++;
                } else {
                    this.current = -1;
                }
            },
            setActive: function setActive(index) {
                this.current = index;
            },
            activeClass: function activeClass(index) {
                return {
                    active: this.current === index
                };
            },
            hit: function hit() {
                if (this.current !== -1) {
                    this.onHit(this.search_data[this.current]);
                    this.getName(this.search_data[this.current].customer_code);
                }
            },
            onHit: function onHit() {
            },
            reset: function reset() {
                this.search_data = [];
                this.query = '';
            },
        }
    }
</script>
<style scoped>
.active {
    background-color: #009edb;
}
.active span {
    color: white;
}
</style>
