<template>
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption font-gray-sharp">
                <span class="caption-subject"> MONTHLY REVIEW GOAL </span>
            </div>
        </div>
        <div class="portlet-body">
            <div class="text-center">
                <!--<div id="montly-review-goal" style="width:100%;height:200px"></div>-->
            </div>
        </div>
    </div>
</template>
<style scoped>
</style>
<script>

    export default{
        data: function () {
          return {
          }
        },
        mounted: function () {
            var data = [
                {
                    label: "data1",
                    data: [[0, -1]]
                }, {
                    label: "data2",
                    data: [[0, 0]],
                    gauges: {
                        label: {
                            show: false
                        }
                    }
                }, {
                    label: "data3",
                    data: [[0, 45]],
                    gauges: {
                        value: {
                            show: false
                        }
                    }
                }, {
                    label: "data4",
                    data: [[0, 50]],
                    gauges: {
                        threshold: {
                            show: false
                        }
                    }
                }, {
                    label: "data5",
                    data: [[0, 65]],
                    gauges: {
                        threshold: {
                            label: {
                                show: false
                            }
                        }
                    }
                }, {
                    label: "data6",
                    data: [[0, 80]],
                    gauges: {
                        cell: {
                            border: {
                                color: "red"
                            }
                        }
                    }
                }, {
                    label: "data7",
                    data: [[0, 90]],
                    gauges: {
                        cell: {
                            border: {
                                show: false
                            }
                        }
                    }
                }, {
                    label: "data8",
                    data: [[0, 100]],
                    gauges: {
                        gauge: {
                            min: 70,
                            max: 90
                        }
                    }
                }, {
                    label: "data9",
                    data: [[0, 200]],
                    gauges: {
                        gauge: {
                            startAngle: 1.1,
                            endAngle: 1.9
                        }
                    }
                }
            ];
            var options = {
                series: {
                    grow: {
                        active: true,
                        duration: 1500
                    },
                    gauges: {
                        debug: {
                            log: false,
                            layout: false
                        },
                        show: true,
                        // frame: {
                        //   show: false
                        // },
                        // cell: {
                        //     border: {
                        //         show: false
                        //     }
                        // },
                        // gauge: {
                        //   background: {
                        //       color: "gray"
                        //   }
                        // }
                    }
                }
            };
            $("#montly-review-goal").plot(data, options);
        }
    }
</script>
