<template>
  <div class="portlet light" id="review-by-site-block">
    <div class="portlet-title">
      <div class="caption font-gray-sharp">
        <span class="caption-subject"> {{title}} </span>
      </div>
    </div>
    <div class="portlet-body">
      <div class="text-center">
        <div id="review-by-site" style="width:100%;height:200px"></div>
      </div>
    </div>
  </div>
</template>
<style>
</style>
<script>
    export default{
        data: function () {
            return {
                dataSet: [{label: this.title, data: this.data, color: "#4497E6"}],
                chart: null
            }
        },
        props: {
            data: {
                type: Array,
                default: function () {
                    return [{'provider': 'Facebook', 'value': 0}, {
                        'provider': 'Google',
                        'value': 0
                    }, {'provider': 'Yelp', 'value': 0}, {'provider': 'Tripadvisor', 'value': 0}]
                }
            },
            title: String
        },
        watch: {
            data: function (val) {
                this.refresh(val);
                App.unblockUI('#review-by-site-block')
            }
        },
        mounted: function () {
            App.blockUI({
                target: '#review-by-site-block',
                animate: true
            });
            this.refresh(this.data);
//            this.chart.addListener("drawn", this.modifyAxis);
//            this.chart.addListener("zoomed", this.modifyAxis);
        },
        methods: {
            refresh: function (data) {
                if (this.chart) {
                    this.chart.dataProvider = data;
                    this.chart.validateData();
                } else {
                    this.chart = AmCharts.makeChart("review-by-site", {
                        "type": "serial",
                        "theme": "light",
                        "legend": {
                            "useGraphSettings": true,
                            "markerSize": 12,
                            "valueWidth": 0,
                            "verticalGap": 0
                        },
                        "dataProvider": data,
                        "startDuration": 1,
                        "graphs": [{
                            "balloonText": "<span style='font-size:13px;'>[[provider]]: <b>[[value]]</b></span>",
                            "title": "Review",
                            "type": "column",
                            "fillAlphas": 0.8,

                            "valueField": "value"
                        }],
                        "rotate": true,
                        "categoryField": "provider",
                        "categoryAxis": {
                            "gridPosition": "start"
                        },
                        "export": {
                            "enabled": true
                        }

                    });
                }
            },
            modifyAxis: function (e) {
                var axes = e.chart.valueAxes;
                for (var i1 in axes) {
                    var labels = axes[i1].allLabels;
                    var parent = labels[0].node.parentNode;
                    for (var i2 in labels) {
                        var label = labels[i2].node;
                        var group = document.createElementNS('http://www.w3.org/2000/svg', "g");
                        var img = document.createElementNS('http://www.w3.org/2000/svg', "image");

                        // Setup image
                        img.setAttributeNS('http://www.w3.org/1999/xlink', 'href', '/assets/global/img/providers/' + label.text + '.png');
                        img.setAttribute('x', '0');
                        img.setAttribute('y', '-17'); // half the height
                        img.setAttribute('width', '34');
                        img.setAttribute('height', '34');

                        // Swap position to group; remove from label
                        group.setAttribute('transform', label.getAttribute('transform'));
                        label.setAttribute('transform', '');

                        // Group axis labels
                        group.appendChild(label);
                        group.appendChild(img);
                        parent.appendChild(group);
                    }
                }
            }
        }
    }
</script>
