<template>
    <div id="responsive_commodity_cate" class="modal fade" tabindex="-1" data-width="70%">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title"><i class="icon-layers"></i> Create New Commodity Category</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form action="#" class="form-horizontal">
                        <div class="form-body">
                            <form-error :errors="errors" field="commodity_name" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Commodity Category Name (*)</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon input-circle-left">
                                            <i class="fa fa-bars"></i>
                                        </span>
                                        <input type="text" class="form-control input-circle-right" placeholder="Name"
                                               v-model="commodityCate.commodity_cate_name">
                                    </div>
                                </div>
                            </form-error>
                        </div>
                    </form>
                    <!-- END FORM-->
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-outline dark btn-circle">Close</button>
            <button type="button" class="btn green btn-circle" @click="createCommodityCate()">{{ (isSending) ? 'Saving ...' : 'Save'}}
            </button>
        </div>
    </div>
</template>
<script>
    export default{
        props: {
            commodityCateProp: {
                type: Object,
                default: function () {
                    return {
                        commodity_cate_name: '',
                        status: 1,
                    }
                }
            }
        },
        data: function () {
            return {
                isUpdated: false,
                showError: false,
                errors: '',
                role_id: AppData.role_id,
                isSending: false,
                disabled: 1
            }
        },
        components: {
        },
        computed: {
            commodityCate() {
                return this.commodityCateProp;
            }
        },
        created: function () {
            console.log('commodity_cate_form created');
        },
        beforeMount: function () {
            console.log('commodity_cate_form beforeMount');
        },
        mounted: function () {
            console.log('commodity_cate_form mounted');
            var _self = this;
            $('#responsive_commodity_cate').on('hidden.bs.modal', function (e) {
                _self.$emit('close');
                console.log('run close');
                _self.errors = '';
            });
        },
        updated: function () {
            console.log('commodity_cate_form updated');
        },
        beforeDestroy: function () {
            console.log('commodity_cate_form beforeDestroy');
        },
        methods: {
            createCommodityCate: function () {
                var _self = this;
                if(!this.isSending) {
                    this.isSending = true;
                    this.$http.post(AppData.baseUrl+'/api/commodities/categories', _self.commodityCate).then((response) => {
                        _self.isSending = false;
                        var commodites_ = response.data.data;
                        eventHub.$emit("commodityCate_CREATED", commodites_);
                        $('.modal.in').modal('hide') ;
                        _self.errors = '';
                        showToast('Created commodites cate successfully', 'commodites cate information has been created', 'success');
                    }, (error) => {
                        _self.isSending = false;
                        if (error.data && error.data.data) {
                            _self.errors = error.data.data;
                        }
                        showToast('Created commodites cate failed', 'commodites cate information has not been created', 'error');
                    });
                }
            }
        }
    }
</script>
