<template>
  <div id="responsive_email" class="modal fade" tabindex="-1" data-width="80%">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title bold font-green-sharp uppercase">{{message.id ? 'Edit Email Content' : 'Create Email Content'}}</h4>
    </div>
    <div class="modal-body" id="email-content-form">
      <div v-if="errors" class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        <p>{{errors}}</p>
      </div>
      <div class="row">

        <div class="portlet-body form">
          <!-- BEGIN FORM-->
          <form action="#" class="form-horizontal">
            <div class="form-body">
              <div class="form-group">
                <div class="col-md-2 col-xs-2">
                  <label class="bold">Email from:</label>
                </div>
                <div class="col-md-4 col-xs-4">
                  <input type="text" class="form-control" placeholder="Sender email"
                    v-model="mailSettings.sender_email">
                </div>
                <div class="col-md-2 col-xs-2">
                  <label class="bold">Sender name:</label>
                </div>
                <div class="col-md-4 col-xs-4">
                  <input type="text" class="form-control" placeholder="Sender name"
                    v-model="mailSettings.sender_name">
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-2 col-xs-2">
                  <label class="bold">Email title:</label>
                </div>
                <div class="col-md-10 col-xs-10">
                  <input type="text" class="form-control" placeholder="Title"
                    v-model="mailSettings.email_title">
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-12">
                  <p>The following variables may be included in the content:
                    <strong v-pre>{{full_name}}</strong>,
                    <strong v-pre>{{review_link}}</strong>,
                    <strong v-pre>{{business_name}}</strong>,
                    <strong v-pre>{{business_address}}</strong>,
                    <strong v-pre>{{email}}</strong>, and
                    <strong v-pre>{{phone_number}}</strong>
                    They will be replaced with the appropriate information when an invite is sent out. Note
                    that some of this information (such as the customer's name) will only be available if it
                    is submitted when the review invite is sent out.
                  </p>
                  <p>To improve your response rates, make sure your greeting is informal and human-sounding.</p>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-2 col-xs-2">
                  <label class="bold">Review link:</label>
                </div>
                <div class="col-md-10 col-xs-10">
                  <div class="form-control">
                    {{review_link}}
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-12">
                  <h5 class="block bold">Content:</h5>
                    <vue-editor :placeholder="'Content'"
                              :editor-content="content"
                              :use-save-button="false"
                              :show-preview="false"
                              :editor-toolbar="customToolbar"
                              @editor-updated="handleUpdatedContent">

                  </vue-editor>
                </div>
              </div>
            </div>
          </form>
          <!-- END FORM-->
        </div>

      </div>
    </div>
    <div class="modal-footer">
      <button type="button" data-dismiss="modal" class="btn btn-outline btn-circle btn-sm dark">Close</button>
      <button type="button" class="btn green-haze btn-outline btn-circle btn-sm" name="save-content" @click="updateEmailContent()">{{ (isSendingEmail) ? 'Sending ...' : 'SAVE'}}</button>
    </div>
  </div>
</template>
<script>
   import { VueEditor } from 'vue2-editor';
  var toolbarOptions = [
      ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
     

      ['clean']                                         // remove formatting button
  ];
  var formID = '#email-content-form';
  export default{
    props:
    {
      message:
      {
        type: Object,
        default: function(){
          return {
            store_id: AppData.store_id,
            language: 'en',
            content: '',
            type: 1
          }
        }
      },
      emailSettings: {},
      review_link: {
        type: String
      }
    },
     components: {
       VueEditor
     },
    data: function () {
      return {
        content: null,
        errors: '',
        isSendingEmail:false,
        customToolbar: toolbarOptions
      }
    },
    computed: {
      mailSettings() {
        return this.emailSettings;
      },
    },
    created: function () {
      console.log('email_form created');
    },
    beforeMount: function () {
      console.log('email_form beforeMount');
    },
    mounted: function () {
      console.log('email_form mounted');
      var _self = this;
      $('#responsive').on('hidden.bs.modal', function (e) {
        _self.$emit('close');
        console.log('run close');
        _self.errors = '';
      });
      this.content = this.message.content;
     <!-- $('.summernote').summernote({
        height: 300,
        minHeight: 200,
        maxHeight: 500,
        focus: true
      }); -->
    // $('.summernote').code(this.message.content);
    },
    updated: function () {
      console.log('email_form updated');
    },
    beforeDestroy: function () {
      console.log('email_form beforeDestroy');
    },
    methods: {
      handleUpdatedContent: function(value) {
        this.message.content = value;
      },
      updateEmailContent: function() {
        var _content = $('#summernote').code();

        App.blockUI({
            target: formID,
            animate: true
        });
        var _self = this;
        if(!this.isSendingEmail) {
          this.isSendingEmail = true;
        if (this.message.id) {
          this.$http.put('/api/invite_messages/' + this.message.id, this.message).then((response) => {
             this.isSendingEmail = false;
            var message = response.data.data;
            eventHub.$emit("EMAIL_CONTENT_UPDATED", message);
            //$('#responsive').modal('toggle');
            $('.modal.in').modal('hide') ;
            _self.errors = '';
            showToast('Updated email content successfully', 'Email content has been updated', 'success');
            App.unblockUI(formID);
          }, (response) => {
            this.isSendingEmail = false;
            _self.errors = response.data.message;
            showToast('Updated email content failed', 'Email content has not been updated', 'error');
            showToastFromResponse(response);
            App.unblockUI(formID);
          });
        } else {
          this.$http.post('/api/invite_messages', this.message, {method: 'POST'}).then((response) => {
            this.isSendingEmail = false;
            var message = response.data.data;
            eventHub.$emit("EMAIL_CONTENT_CREATED", message);
            //$('#responsive').modal('toggle');
            $('.modal.in').modal('hide') ;
            _self.errors = '';
            showToast('Created email content successfully', 'Email content has been created', 'success');
            App.unblockUI(formID);
          }, (response) => {
            this.isSendingEmail = false;
            _self.errors = response.data.message;
            showToast('Created email content failed', 'Email content has not been created', 'error');
            showToastFromResponse(response);
            App.unblockUI(formID);
          });
        }
        if (this.mailSettings.id) {
            this.$http.put('api/settings/' + this.mailSettings.id, this.mailSettings).then(function (response) {
                showToastFromResponse(response);
                var mailSettings = response.data.data;
                eventHub.$emit("EMAIL_SETTING_CHANGED", mailSettings);
                _self.mailSettings = mailSettings;
            }).catch(function (error) {
                showToastFromResponse(error);
            })
        }
      }
    }
  }
  }

</script>
