<template>
  <div id="responsive_mms" class="modal fade" tabindex="-1" data-width="80%">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title bold font-green-sharp uppercase">{{message.id ? 'Edit MMS Content' : 'Create MMS Content'}}</h4>
    </div>
    <div class="modal-body" id="mms-content-form">
      <div v-if="errors" class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
        <p>{{errors}}</p>
      </div>
      <div class="row">

        <div class="portlet-body form">
          <!-- BEGIN FORM-->
          <form action="#" class="form-horizontal">
            <div class="form-body">
              <div class="form-group">
                <div class="col-md-12">
                  <p>The following variables may be included in the content:
                    <strong v-pre>{{full_name}}</strong>,
                    <strong v-pre>{{review_link}}</strong>,
                    <strong v-pre>{{business_name}}</strong>,
                    <strong v-pre>{{business_address}}</strong>,
                    <strong v-pre>{{email}}</strong>, and
                    <strong v-pre>{{phone_number}}</strong>
                    They will be replaced with the appropriate information when an invite is sent out. Note
                    that some of this information (such as the customer's name) will only be available if it
                    is submitted when the review invite is sent out.
                  </p>
                  <p>To improve your response rates, make sure your greeting is informal and human-sounding.</p>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-2 col-xs-2">
                  <label class="bold">Review link:</label>
                </div>
                <div class="col-md-10 col-xs-10">
                  <div class="form-control">
                    {{review_link}}
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-12">
                  <h4 class="block bold">Content:</h4>
                  <textarea type="text" class="form-control" rows="5" placeholder="Content" v-model="message.content"></textarea>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-12">
                  <h4 class="block bold">Image:</h4>
                  <ul class="grid cs-style-3 cc-selector">
                    <li v-for="choice, index in choices">
                      <figure>
                        <input :id="choice.key" name="image" type="radio"
                          :value="choice.key" :checked="checkDefaultChoice(choice)"/>
                        <label class="drinkcard-cc" :for="choice.key" @click="onClickedImage(choice)">
                          <img :src="choice.img_url || upload_img_url" :id="choice.key=='your_image'?'image-block':''"/>
                        </label>
                        <figcaption>
                          <h3>{{choice.name}}</h3>
                          <span>{{choice==current_choice?'Selected':'Click image to select!'}}</span>
                          <span class="Image-input__input-wrapper btn green" v-if="index == 2">
                              Upload
                              <input class="Image-input__input" name="thumbnail" type="file" @change="loadImage">
                          </span>
                        </figcaption>
                      </figure>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </form>
          <!-- END FORM-->
        </div>

      </div>
    </div>
    <div class="modal-footer">
      <button type="button" data-dismiss="modal" class="btn btn-outline btn-circle btn-sm dark">Close</button>
      <button type="button" class="btn green-haze btn-outline btn-circle btn-sm" @click="saveMMSContent()">{{ (isSendingMMS) ? 'Sending ...' : 'SAVE'}}</button>
    </div>
  </div>
</template>
<script>
  var formID = '#mms-content-form';
  export default{
    props:
      {
        message:
          {
            type: Object,
            default: function(){
              return {
                store_id: AppData.store_id,
                language: 'en',
                content: '',
                type: 2,
                extra_data: {}
              }
            }
          },
        review_link: {
          type: String
        }
      }
      ,
    data: function () {
      return {
        errors: '',
        upload_img_url: '/assets/global/img/mms_upload.png',
        isNewImage: false,
        choices: [
          {key:'default_1', name: 'Default 1', img_url: '/assets/global/img/mms_image_1.jpg'},
          {key:'default_2', name: 'Default 2', img_url: '/assets/global/img/mms_image_2.jpg'},
          {key:'your_image', name: 'Your image', img_url: this.message.extra_data.mediaLink}
        ],
        current_choice: {},
        isSendingMMS:false,
        current_event: null
      }
    },
    created: function () {
      console.log('MMS_form created');
    },
    beforeMount: function () {
      console.log('MMS_form beforeMount');
    },
    mounted: function () {
      console.log('MMS_form mounted');
      var _self = this;
      $('#responsive_mms').on('hidden.bs.modal', function (e) {
        _self.$emit('close');
        console.log('run close');
        _self.errors = '';
      });
    },
    updated: function () {
      console.log('MMS_form updated');
    },
    beforeDestroy: function () {
      console.log('MMS_form beforeDestroy');
    },
    methods: {
      checkDefaultChoice(choice) {
        if (this.message.extra_data && choice.img_url == this.message.extra_data.mediaUrl) {
          this.current_choice = choice;
          return true;
        }
        return false;
      },
      saveMMSContent: function() {
        App.blockUI({
            target: formID,
            animate: true
        });
        console.log('abc');
        var _self = this;
        if(!this.isSendingMMS) {
          this.isSendingMMS = true;
          if (this.message.id) {
            this.$http.put('/api/invite_messages/' + this.message.id, this.message).then((response) => {
              this.isSendingMMS = false;
              var message = response.data.data;
              eventHub.$emit("MMS_CONTENT_UPDATED", message);
              this.saveImage(message);
              $('.modal.in').modal('hide') ;
              _self.errors = '';
              showToast('Updated MMS content successfully', 'MMS content has been updated', 'success');
              App.unblockUI(formID);
            }, (response) => {
              this.isSendingMMS = false;
              _self.errors = response.data.message;
              showToast('Updated MMS content failed', 'MMS content has not been updated', 'error');
              showToastFromResponse(response);
              App.unblockUI(formID);
            });
          } else {
            this.$http.post('/api/invite_messages', this.message, {method: 'POST'}).then((response) => {
              this.isSendingMMS = false;
              var message = response.data.data;
              eventHub.$emit("MMS_CONTENT_CREATED", message);
              this.saveImage(message);
              $('.modal.in').modal('hide') ;
              _self.errors = '';
              showToast('Created MMS content successfully', 'MMS content has been created', 'success');
              App.unblockUI(formID);
            }, (response) => {
              this.isSendingMMS = false;
              _self.errors = response.data.message;
              showToast('Created MMS content failed', 'MMS content has not been created', 'error');
              showToastFromResponse(response);
              App.unblockUI(formID);
            });
          }
        }
      },
      onClickedImage(choice) {
        this.current_choice = choice;
        if (choice.img_url == '' || this.isNewImage){
          return;
        }
        this.message.extra_data.mediaUrl = choice.img_url;
        console.log(choice.key);
      },
      loadImage: function(event) {
        var input = event.target;

        if (input.files && input.files[0]) {
          var reader = new FileReader();
          var vm = this;

          reader.onload = function(e) {
            vm.isNewImage = true;
            vm.choices[2].img_url = e.target.result;
          };

          reader.readAsDataURL(input.files[0]);
          // this.$emit('change',event);
          this.current_event = event;
        }
      },
      saveImage(message) {
        if (this.current_event){
          var input = this.current_event.target;
          if (input.files && input.files[0]){
            var formData = new FormData();
            formData.append('file', input.files[0]);
            formData.append('id', message.id);
            this.$http.post('/api/invite_messages/upload-mms-picture',formData).then(function (response) {
              var message = response.data.data;
              eventHub.$emit("MMS_IMAGE_UPDATE", message);
              showToastFromResponse(response);
            }).catch(function (error) {
              showToastFromResponse(error);
              showToast('Upload image failed', 'MMS content has not been created', 'error');
            });
          }
        }
      }
    }
  }
</script>
<style scoped>
  .cc-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
  }

  .cc-selector input:active +.drinkcard-cc{opacity: .9;}
  .cc-selector input:checked +.drinkcard-cc{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
  }
  .drinkcard-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width: auto;
    height: auto;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
  }
  .drinkcard-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
  }

  /* Extras */
  a:visited{color:#888}
  a{color:#444;text-decoration:none;}
  p{margin-bottom:.3em;}

  /* Common Caption Styles */
  .grid {
    padding: 20px 20px 100px 20px;
    max-width: 1300px;
    margin: 0 auto;
    list-style: none;
    text-align: center;
  }

  .grid li {
    display: inline-block;
    width: auto;
    margin: 0;
    padding: 20px;
    text-align: left;
    position: relative;
  }

  .grid figure {
    margin: 0;
    position: relative;
  }

  .grid figure img {
    max-width: 100%;
    display: block;
    position: relative;
  }

  .grid figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    background: #2c3f52;
    color: #ed4e6e;
  }

  .grid figcaption h3 {
    margin: 0;
    padding: 0;
    color: #fff;
  }

  .grid figcaption span:before {
    content: '';
  }

  .grid figcaption input {
    text-align: center;
    padding: 5px 10px;
    border-radius: 2px;
    display: inline-block;
    background: #ed4e6e;
    color: #fff;
  }

  /* Individual Caption Styles */

  /* Caption Style 3 */
  .cs-style-3 figure {
    overflow: hidden;
    width: 200px;
  }

  .cs-style-3 figure img {
    width: 200px;
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
  }

  .cs-style-3 figure .icon {
    color: #ccc;
    font-size: 50px;
    cursor: default;
  }

  .no-touch .cs-style-3 figure:hover img,
  .cs-style-3 figure.cs-hover img {
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    transform: translateY(-50px);
  }

  .cs-style-3 figcaption {
    height: auto;
    width: 100%;
    top: auto;
    bottom: 0;
    opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
    transition: transform 0.4s, opacity 0.1s 0.3s;
  }

  .no-touch .cs-style-3 figure:hover figcaption,
  .cs-style-3 figure.cs-hover figcaption {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s;
    transition: transform 0.4s, opacity 0.1s;
  }

  .cs-style-3 figcaption a {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }

  @media screen and (max-width: 31.5em) {
    .grid {
      padding: 10px 10px 100px 10px;
    }
    .grid li {
      width: 100%;
      min-width: 300px;
    }
  }

</style>
