<template>
    <div id="responsive_customer" class="modal fade" tabindex="-1" data-width="50%">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title"><i class="icon-users"></i> Create New Customer</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form action="#" class="form-horizontal">
                        <div class="form-body">
                            <form-error :errors="errors" field="type_customer" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Customer Type (*)</label>
                                <div class="col-md-8">
                                    <select v-model="customer.type_customer" @change="getCustomerCode(customer.type_customer)" class="form-control input-circle-left">
                                        <option value="">Type Customer</option>
                                        <option v-for="type_ in types" :value="type_.index" >{{type_.name}}</option>
                                    </select>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="customer_code" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Customer Code (*)</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon input-circle-left">
                                            <i class="fa fa-code"></i>
                                        </span>
                                        <input type="text" class="form-control input-circle-right" placeholder="Customer Code Custom"
                                            v-model="customer.customer_code">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="firstname" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">First name (*)</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                    <span class="input-group-addon input-circle-left">
                                        <i class="fa fa-info-circle"></i>
                                    </span>
                                    <input type="text" class="form-control input-circle-right" placeholder="First name" v-model="customer.firstname">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="lastname" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Last name (*)</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon input-circle-left">
                                            <i class="fa fa-info-circle"></i>
                                        </span>
                                        <input type="text" class="form-control input-circle-right" placeholder="Last name"
                                            v-model="customer.lastname">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="phone" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Phone (*)</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon input-circle-left">
                                            <i class="fa fa-phone"></i>
                                        </span>
                                        <input type="text" class="form-control input-circle-right" placeholder="Phone" v-model="customer.phone">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="email" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Email </label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                    <span class="input-group-addon input-circle-left">
                                        <i class="fa fa-envelope"></i>
                                    </span>
                                        <input type="email" class="form-control input-circle-right" placeholder="Email" v-model="customer.email">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="address" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Address (*)</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                    <span class="input-group-addon input-circle-left">
                                        <i class="fa fa-tasks"></i>
                                    </span>
                                        <input type="text" class="form-control input-circle-right" placeholder="Address" v-model="customer.address">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="discount_rate" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Discount Rate</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                    <span class="input-group-addon input-circle-left">
                                        <i class="fa fa-tasks"></i>
                                    </span>
                                        <input type="text" class="form-control input-circle-right" placeholder="Discount Rate" v-model="customer.discount_rate">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="zipcode" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Zipcode (*)</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                    <span class="input-group-addon input-circle-left">
                                        <i class="fa fa-tasks"></i>
                                    </span>
                                        <input type="text" class="form-control input-circle-right" v-model="zip" maxlength="5" placeholder="ex: 94301" />      
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="city" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">City</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <div v-if="error" class="error form-control input-circle">{{error}}</div>
                                        <div v-if="city" class="display form-control input-circle">{{city}}</div>
                                    </div>
                                </div>
                            </form-error>
                        </div>
                    </form>
                    <!-- END FORM-->
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-outline dark btn-circle">Close</button>
            <button type="button" class="btn green btn-circle" @click="updateUser()">{{ (isSending) ? 'Sending ...' : 'Save'}}
            </button>
        </div>
    </div>
</template>
<script>

Vue.component("v-select", VueSelect.VueSelect);
    export default{
        props: {
            customerProp: {
                type: Object,
                default: function () {
                    return {
                        firstname: '',
                        lastname: '',
                        customer_code: '',
                        email: '',
                        phone: '',
                        address: '',
                        city: 0,
                        discount_rate: 0,
                        country: 1,
                        zipcode: '',
                        type_customer: ""
                    }
                }
            },
            clickCreate: false,
            cre_countries: {}
        }
        ,
        data: function () {
            return {
                types: [
                    {index: 0, name: 'Walk-In Customer', css: 'label-info'},
                    {index: 1, name: 'Remote Customer', css: 'label-danger'},
                    {index: 2, name: 'Agent Customer', css: 'label-danger'}
                ],
                isUpdated: false,
                showError: false,
                errors: '',
                role_id: AppData.role_id,
                isSending: false,
                cities: [{value:0, label:''}],
                selected: { label: null, value: null },
                disabled: 1,
                selected:'',
                customer_default: {
                    firstname: '',
                    lastname: '',
                    customer_code: '',
                    email: '',
                    phone: '',
                    address: '',
                    city: 0,
                    country: 0,
                    discount_rate: 0,
                    type_customer: 0
                },
                city: " ",
                zip: "",
                error: ""
            }
        },
        computed: {
            customer() {
                return this.customerProp;
            }
        },
        created: function () {
            console.log('customer_form created');
        },
        beforeMount: function () {
            console.log('customer_form beforeMount');
        },
        mounted: function () {
            console.log('customer_form mounted');
            var _self = this;
            $('#responsive_customer').on('hidden.bs.modal', function (e) {
                _self.$emit('close');
                console.log('run close');
                _self.errors = '';
            });
            this.getCities(1);
            this.getCity();
        },
        updated: function () {
            console.log('customer_form updated');
        },
        beforeDestroy: function () {
            console.log('customer_form beforeDestroy');
        },
        watch: {
            zip: function() {
            if (this.zip.length === 5) {
                this.getCity();
                this.error = "";
                $(".error").removeClass("no");
            }
            if (this.zip.length < 5) {
                this.city = "";
                this.error = "hey, that's not a zipcode";
                $(".error").addClass("no");
                $(".display").removeClass("animated fadeInDown");
            }
            }
        }, 
        methods: {
            updateUser: function () {
                var _self = this;
                if(!this.isSending) {
                    this.isSending = true;
                    this.$http.post('/api/customers', _self.customer).then((response) => {
                        _self.isSending = false;
                        var customer_ = response.data.data;
                        eventHub.$emit("CUSTOMER_CREATED", customer_);
                        $('.modal.in').modal('hide') ;
                        _self.errors = '';
                        _self.customer = _self.customer_default;
                        location.reload("/customer");
                        showToast('Created Customer successfully', 'Customer information has been created', 'success');
                    }, (error) => {
                        _self.isSending = false;
                        if (error.data && error.data.data) {
                            _self.errors = error.data.data;
                        }
                        showToast('Created Customer failed', error.data.message, 'error');
                    });
                }
            },
            getCities(countryId) {
                var _self = this;
                this.$http.get("api/sender/load-city/"+countryId)
                .then((response) => {
                    _self.disabled = 0;
                    _self.cities = response.data.data;
                })
            },
            runme(selected) {
                var _self = this; 
                if(selected.value){
                    _self.customer.city = selected.value;
                    // get customer code
                    this.$http.get("api/customers/load-customer-code/"+selected.value)
                    .then((response) => {
                        _self.customer.customer_code = response.data.data;
                    })
                }
            },
            getCustomerCode(typeCustomer) {
                var _self = this;
                this.$http.get("api/customers/load-customer-code/"+typeCustomer)
                    .then((response) => {
                        _self.customer.customer_code = response.data.data; // edit44
                    })
            },
            getCity: function() {
                let self = this;
                $.getJSON("https://ZiptasticAPI.com/" + this.zip, function(result) {
                    if (result.error) {
                    self.error = "zip code not found";
                    self.city = "";
                    $(".error").addClass("no");
                    } else {
                    self.city = result.city + "," + result.state;
                    self.customer.zipcode = self.zip;
                    $(".display").addClass("animated fadeInDown");
                    }
                    console.log(result);
                });
            }
        }
    }
</script>
