<template>
    <div id="responsive_edit" class="modal fade" tabindex="-1" data-width="70%">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title"><i class="icon-users"></i> Edit Customer</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form action="#" class="form-horizontal">
                        <div class="form-body">
                            <form-error :errors="errors" field="type_customer" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Type Customer (*)</label>
                                <div class="col-md-8">
                                    <select v-model="customer.type_customer" @change="getCustomerCode(customer.type_customer)" class="form-control input-circle-left">
                                        <option v-for="type_ in types" :value="type_.index">{{ type_.name }}</option>
                                    </select>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="customer_code" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Customer Code (*)</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon input-circle-left">
                                            <i class="fa fa-code"></i>
                                        </span>
                                        <input :disabled="customer.existed ? true : false" type="text" class="form-control input-circle-right" placeholder="Customer Code Custom"
                                            v-model="customer.customer_code">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="firstname" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">First name (*)</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                    <span class="input-group-addon input-circle-left">
                                        <i class="fa fa-info-circle"></i>
                                    </span>
                                    <input type="text" class="form-control input-circle-right" placeholder="First name" v-model="customer.firstname">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="lastname" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Last name (*)</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon input-circle-left">
                                            <i class="fa fa-info-circle"></i>
                                        </span>
                                        <input type="text" class="form-control input-circle-right" placeholder="Last name"
                                            v-model="customer.lastname">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="phone" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Phone (*)</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon input-circle-left">
                                            <i class="fa fa-phone"></i>
                                        </span>
                                        <input type="text" class="form-control input-circle-right" placeholder="Phone" v-model="customer.phone">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="email" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Email </label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                    <span class="input-group-addon input-circle-left">
                                        <i class="fa fa-envelope"></i>
                                    </span>
                                        <input type="email" class="form-control input-circle-right" placeholder="Email" v-model="customer.email">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="country" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Upload ID </label>
                                <div class="col-md-8">
                                    <image-small-input :src="customer.customer_upload_id" @change="uploadIDChange"></image-small-input>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="address" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Address (*)</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                    <span class="input-group-addon input-circle-left">
                                        <i class="fa fa-tasks"></i>
                                    </span>
                                        <input type="email" class="form-control input-circle-right" placeholder="Address" v-model="customer.address">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="discount_rate" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Discount Rate</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                    <span class="input-group-addon input-circle-left">
                                        <i class="fa fa-tasks"></i>
                                    </span>
                                        <input type="text" class="form-control input-circle-right" placeholder="Discount Rate" v-model="customer.discount_rate">
                                    </div>
                                </div>
                            </form-error>
                            <form-error v-if="customer.country == 1" :errors="errors" field="zipcode" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Zipcode (*)</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                    <span class="input-group-addon input-circle-left">
                                        <i class="fa fa-tasks"></i>
                                    </span>
                                        <input type="text" class="form-control input-circle-right" v-model="zip_" maxlength="5" placeholder="ex: 94301" /> 
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="city" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">City</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <div v-if="error_" class="error form-control input-circle">{{error_}}</div>
                                        <div v-if="city_" class="display form-control input-circle">{{city_}}</div>
                                    </div>
                                </div>
                            </form-error>
                        </div>
                    </form>
                    <!-- END FORM-->
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-outline dark">Close</button>
            <button type="button" class="btn green" @click="updateCustomer()">{{ (isSending) ? 'Sending ...' : 'Save'}}
            </button>
        </div>
    </div>
</template>
<script>
    export default{
        props: {
            customerProp: {
                type: Object,
                default: function () {
                    return {
                        firstname: '',
                        lastname: '',
                        customer_code: '',
                        email: '',
                        phone: '',
                        address: '',
                        zipcode: '',
                        city: 0,
                        country: 1,
                        discount_rate: 0,
                        type_customer: 0
                    }
                }
            },
            edit_countries_: {},
            edit_cities_: {},
            city_detail_: 0,
            zip_:""
        },
        data: function () {
            return {
                isUpdated: false,
                showError: false,
                errors: '',
                isSending: false,
                types: [
                    {index: 0, name: 'Walk-In Customer', css: 'label-info'},
                    {index: 1, name: 'Remote Customer', css: 'label-danger'},
                    {index: 2, name: 'Agent Customer', css: 'label-danger'}
                ],
                cities_:[{lable:'', value:0}],
                selected: { value: '0', label: 'City' },
                city_: " ",
                error_: ""
            }
        },
        computed: {
            customer() {
                return this.customerProp;
            },
            edit_countries() {
                return this.edit_countries_;
            },
            edit_cities() {
                return this.edit_cities_;
            }
        },
        created: function () {
            console.log('customer_edit_form created');
        },
        beforeMount: function () {
            console.log('customer_edit_form beforeMount');
        },
        mounted: function () {
            console.log('user_form mounted');
            var _self = this;
            $('#responsive_edit').on('hidden.bs.modal', function (e) {
                _self.$emit('close');
                console.log('run close');
                _self.errors = '';
            });
            
        },
        updated: function () {
            console.log('customer_edit_form updated');
        },
        beforeDestroy: function () {
            console.log('customer_edit_form beforeDestroy');
        },
        watch: {
            zip_: function() {
            if (this.zip_.length === 5) {
                this.getCity_();
                this.error_ = "";
                $(".error").removeClass("no");
            }
            if (this.zip_.length < 5) {
                this.city_ = "";
                this.error_ = "hey, that's not a zipcode";
                $(".error").addClass("no");
            }
            }
        },
        methods: {
            updateCustomer: function () {
                var _self = this;
                if(!this.isSending) {
                    this.isSending = true;
                    if (this.customer.id) {
                        this.$http.put('/api/customers/' + _self.customer.id, _self.customer).then((response) => {
                            _self.isSending = false;
                            var customer = response.data.data;
                            eventHub.$emit("CUSTOMER_UPDATED", customer);
                            $('.modal.in').modal('hide') ;
                            _self.errors = '';
                            _self.user = customer;
                            location.reload("/customer");
                            showToast('Updated customer successfully', 'Customer\'s information has been updated', 'success');
                        }, (error) => {
                            _self.isSending = false;
                            if (error.data && error.data.data) {
                                _self.errors = error.data.data;
                            }
                            showToast('Updated customer failed', error.data.message, 'error');
                        });
                    }
                }
            },
            getCities_(countryId) {
                var _self = this;
                this.$http.get("api/sender/load-city/"+countryId)
                .then( function (response) {
                    _self.edit_cities_ = response.data.data;
                })
            },
            getCities_detail(cityId) {
                var _self = this;
                this.$http.get("api/sender/load-city-detail/"+cityId)
                .then( function (response) {
                    _self.selected = response.data.data;
                })
            },
            runme_(selected) {
                var _self = this;
                if(selected.value){
                    this.customer.city = selected.value;
                }
            },
            getCustomerCode(typeCustomer) {
                var _self = this;
                if(_self.customer.existed != 1){
                   this.$http.get("api/customers/load-customer-code/"+typeCustomer)
                    .then((response) => {
                        _self.customer.customer_code = response.data.data; 
                    })
                }
            },
            getCity_: function() {
                let self = this;
                $.getJSON("https://ZiptasticAPI.com/" + this.zip_, function(result) {
                    if (result.error) {
                    self.error_ = "zip code not found";
                    self.city_ = "";
                    $(".error").addClass("no");
                    } else {
                        self.city_ = result.city + "," + result.state;
                        self.customer.zipcode = self.zip_;
                    }
                    console.log(result);
                });
            },
            uploadIDChange: function (event) {
                var _self = this;
                var input = event.target;
                if (input.files && input.files[0]) {
                    var formData = new FormData();
                    formData.append('file', input.files[0]);
                    formData.append('id', _self.customer.id);
                    console.log('customerid-'+_self.customer.id);
                    this.$http.post('/api/customers/upload-id', formData).then(function (response) {
                        showToastFromResponse(response);
                    }).catch(function (error) {
                        showToastFromResponse(error);
                    });
                }
            }
        }
    }
</script>
