<template>
    <a class="btn btn-circle red-sunglo btn-sm" data-style="expand-left" @click="openImportModal()">
        <modal :show="isShowModal"
               :show-footer="false"
               title="Add customer"
               v-on:modalClose="isShowModal=false">
            <form role="form" lpformnum="1" id='form-import-customer'>
                <div class="form-body">
                    <form-error :errors="errors" field="name">
                        <input class="form-control" type="text" placeholder="Fullname" v-model="model.name">
                    </form-error>
                    <form-error :errors="errors" field="email">
                        <input class="form-control" type="email" placeholder="Email" v-model="model.email">
                    </form-error>
                    <form-error :errors="errors" field="phone">
                        <input class="form-control" type="tel" placeholder="Phone" v-model="model.phone">
                    </form-error>
                </div>
                <div class="form-actions">
                    <button id="btnAdd" type="button" class="btn blue mt-ladda-btn ladda-button"
                            data-style="expand-right" @click="add">
                        <span class="ladda-label">Add</span>
                        <span class="ladda-spinner"></span>
                    </button>
                </div>
            </form>
            <hr>
            <form role="form" lpformnum="1" method="POST" action="" enctype="multipart/form-data"
                  v-on:submit.prevent="onSubmitForm">
                <div class="form-body">
                    <p>You can import your customer list with Excel file.Please download <a href="/files/example_invites.xlsx" target="_blank">Customer
                        excel file template</a></p>
                    <form-error :errors="errors" field="file">
                        <input class="form-control" type="file" name="file" @change.prevent="onFileChange">
                    </form-error>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn blue ladda-button" data-style="expand-left"
                            v-bind:disabled="isLoading"><span
                            class="ladda-label"> {{isLoading?'Importing...':'Import'}} </span></button>
                </div>
            </form>
        </modal>
        <i class="fa fa-cloud-upload"></i> Import Customers </a>
</template>
<style>
</style>
<script>
    export default{
        data: function () {
            return {
                isShowModal: false,
                formData: new FormData(),
                model: {
                    store_id: AppData.store_id
                },
                errors: {},
                isLoading: false
            }
        },
        methods: {
            openImportModal: function () {
                this.isShowModal = true;
            },
            submit: function () {
                console.log('Event model submit');
                this.isShowModal = false;
            },
            onFileChange: function (e) {
                this.formData.append('file', e.target.files[0]);
            },
            onSubmitForm: function (e) {
                this.isLoading = true;
                var _self = this;
                this.$http.post('/api/invites/import', this.formData).then(function (response) {
                    console.log(response);
                    showToastFromResponse(response);
                    _self.$emit('importCustomerSuccess');
                    _self.isShowModal = false;
                    _self.formData = new FormData();
                    _self.isLoading = false;
                    this.errors = {};
                    $('#form-import-customer').find('input[type="file"]').val('');
                }).catch(function (error) {
                    if (error.data && error.data.data) {
                        this.errors = error.data.data;
                    } else {
                        showToastFromResponse(error);
                        this.$emit('importCustomerFail');
                        this.isShowModal = false;
                    }
                    _self.isLoading = false;
                });
            },
            add: function () {
                this.$http.post('api/invites', this.model).then(function (response) {
                    showToastFromResponse(response);
                    this.isShowModal = false;
                    this.model = {store_id: AppData.store_id};
                    this.$emit('importCustomerSuccess');
                    eventHub.$emit('SEND_INVITATION_SUCCESS',response.data);
                }).catch(function (error) {
                    if (error.data && error.data.data) {
                        this.errors = error.data.data;
                    } else {
                        showToastFromResponse(error);
                        this.isShowModal = false;
                        this.$emit('importCustomerFail');
                        this.model = {store_id: AppData.store_id};
                    }
                });
            }
        }
    }
</script>
