<template>
    <div class="portlet light bordered padding-right-5" id="list-customer-block">
        <div v-for="n in showEditModal">
            <customer-edit-form @close="onCloseEdit()" :customerProp="current_customer" :zip_="edit_zipcode" :edit_countries_="cre_countries" :edit_cities_="edit_cities"  ></customer-edit-form>
        </div>
    <div v-for="n in showNewModal">
        <customer-form @close="onCloseNew()" :cre_countries="cre_countries"></customer-form>
    </div>
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-users font-red"></i>
                <span class="caption-subject font-red sbold uppercase">List All Customer</span>
            </div>
            <div class="actions">
                <button class="btn sbold green btn-circle" @click="onClickNewButton()" data-toggle="modal" href="#responsive_customer"> Add New
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
            <div class="portlet-body">
                <div class="col-md-12 per-page-wrap">
                    <label>Show Per Page:</label>
                    <select class="ui simple dropdown" v-model="perPage">
                        <option value=15>15</option>
                        <option value=20>20</option>
                        <option value=25>25</option>
                        <option value=50>50</option>
                        <option value=100>100</option>
                        <option value=250>250</option>
                    </select>
                </div>
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover table-checkable dataTable no-footer"
                                role="grid" id="customers-table">
                            <thead>
                            <tr role="row" class="heading">
                                <th class="nowrap"> Customer Code</th>
                                <th> Type Customer</th>
                                <th> Fullname</th>
                                <th> Phone</th>
                                <th> Email</th>
                                <th> Actions</th>
                            </tr>
                            <tr>
                                <th>
                                    <div class="form-group padding-15">
                                        <input class="form-control" type='text' v-model="filterCustomerCode"
                                                @input="filterChange_keyboard(filterCustomerCode)">
                                    </div>
                                </th>
                                <th>
                                    <div class="form-group">
                                        <select v-model="filterTypeCustomer" @change="filterChange" class="form-control form-control-select">
                                            <option value="-1">All</option>
                                            <option value="0">Walk-In Customer</option>
                                            <option value="1">Remote Customer</option>
                                            <option value="2">Agent Customer</option>
                                        </select>
                                    </div>
                                </th>
                                <th>
                                    <div class="form-group">
                                        <input class="form-control" type='text' v-model="filterName" @input="filterChange_keyboard(filterName)">
                                    </div>
                                </th>
                                <th>
                                    <div class="form-group">
                                        <input class="form-control" type='text' v-model="filterPhone" @input="filterChange_keyboard(filterPhone)">
                                    </div>
                                </th>
                                <th>
                                    <div class="form-group">
                                        <input class="form-control" type='text' v-model="filterEmail" @input="filterChange_keyboard(filterEmail)">
                                    </div>
                                </th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody class="body-table">
                            <tr v-if="pagination &&  pagination.data && pagination.data.length > 0"
                                v-for="model in pagination.data" role="row" class="odd">
                                <td>
                                    <a @click="onClickEditButton(model)"  data-toggle="modal" href="#responsive_edit" alt="">
                                        {{model.customer_code}} <i v-if="model.customer_upload_id" class="fa fa-check-square tooltips text-success" data-original-title="Verified ID"
                                                data-container="body" @click="imgInfo" :data-src="model.customer_upload_id" data-toggle="modal" data-target="#myModal"></i>
                                    </a>
                                </td>
                                <td>
                                    <span v-if="model.type_customer == 0">Walk-In Customer</span>
                                    <span v-if="model.type_customer == 1">Remote Customer</span>
                                    <span v-if="model.type_customer == 2">Agent Customer</span>
                                </td>
                                <td>
                                <a @click="onClickEditButton(model)"  data-toggle="modal" href="#responsive_edit" alt="">
                                    <span style="font-size:12.5px;font-weight: bold;">{{model.firstname}} {{model.lastname}}</span>
                                </a>
                                </td>
                                <td> {{model.phone}}</td>
                                <td> {{model.email}}</td>
                                <td class="nowrap">
                                    <button class="btn btn-info tooltip-custom" :href="'/shipments/?customer_id='+(model.id)" target="_blank">
                                        <i class="fa fa-history"></i>
                                        <span class="tooltiptext">View history shipment</span>
                                    </button>
                                    <button class="btn red btn-default tooltip-custom" @click="deleteCustomer(model.id, model.firstname, model.lastname )">
                                        <i class="fas fa-trash"></i>
                                        <span class="tooltiptext">Delete</span>
                                    </button>
                                </td>
                            </tr>
                            <tr v-if="!pagination || pagination.data && pagination.data.length == 0">
                                <td colspan="6">No Data</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="row" v-if="pagination &&  pagination.data && pagination.data.length > 0">
                    <div class="col-md-12">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="table-center pagination-detail"><span class="pagination-info">Showing <b>{{pagination.current_page}}</b> to <b>{{pagination.last_page}}</b> of <b>{{pagination.total}}</b> rows</span></div>
                        <ul class="pager">
                            <li data-lp="1" class="previous" v-bind:class="pagination.current_page == 1?'disabled':''"><a
                                    href="javascript:void(0);" @click="backPage()"><i
                                    class="fa fa-angle-left"></i></a></li>
                            <span>{{pagination.current_page}}/{{pagination.last_page}}</span>
                            <li data-lp="7" class="next"
                                v-bind:class="pagination.current_page == pagination.last_page?'disabled':''"><a
                                    href="javascript:void(0);" @click="nextPage()"><i class="fa fa-angle-right fa-4"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4 per-page-wrap">
                        <label>Show Per Page:</label>
                        <select class="ui simple dropdown" v-model="perPage">
                            <option value=15>15</option>
                            <option value=20>20</option>
                            <option value=25>25</option>
                            <option value=50>50</option>
                            <option value=100>100</option>
                            <option value=250>250</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <!-- popup tooltips-->
        <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <img id="img_src" :src="imgSrc" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
        <!-- END popup tooltips-->

    </div>
</template>
<style scoped>
    .actions {
        margin-right: 10px;
    }
    .table-responsive .form-control {
        height: 25px;
        width: 100%;
    }
    table {
    border-collapse: collapse;
    width: 100%;
    overflow-x: scroll;
    display: block;
    }
    thead {
        background-color: #EFEFEF;
    }
    thead, tbody {
        display: block;
    }
    tbody {
        overflow-y: scroll;
        overflow-x: hidden;
        max-height: 400px;
    }
    th {
        min-width: 20% !important;
        overflow:hidden;
        text-overflow: ellipsis;
        width: 22.8%;
    }
    td {
        min-width: 20% !important;
        overflow:hidden;
        text-overflow: ellipsis;
        width: 22.8%;
    }

</style>
<script>
    import CustomerEditForm from './FormEdit.vue'
    import CustomerForm from './Form.vue'
    export default{
        data: function () {
            return {
                search: '',
                pagination: {},
                currentPage: 1,
                checkedList: [],
                checkAll: false,
                sendConfirmType: '',
                showSendConfirm: false,
                filterCustomerCode: '',
                filterTypeCustomer: -1,
                filterEmail: '',
                filterName: '',
                filterPhone: '',
                current_customer: {},
                origin_customer: {},
                showNewModal: 1,
                showEditModal: 1,
                isEdited: false,
                countClick: [],
                clickCreate: false,
                clickEdit: false,
                cre_countries: {},
                edit_cities:{},
                edit_zipcode:"",
                imgSrc:'',
                perPage: 15,
            }
        },
        props: {
            idTotal: 0
            },
        components: {
            CustomerEditForm, CustomerForm
        },
        mounted: function () {
            $(document).ready(function(){
                $('[data-toggle="popover"]').popover();
            });
            this.refresh();
            var _self = this;
            eventHub.$on('CUSTOMER_CREATED', function () {
                _self.refresh();
            });
            eventHub.$on('CUSTOMER_UPDATED', function () {
                _self.refresh();
            });
        },
        watch: {
            'perPage': function(val, oldVal) {
                //Vue.nextTick( () => this.$refs.vuetable.refresh())
                this.refresh();
            }
        },
        computed: {
            searchQuery: function () {
                var query = "?orderBy=created_at&sortedBy=desc&per_page="+this.perPage+"&page=" + this.currentPage + "&";
                var search = 'search=';

                if (this.filterTypeCustomer && this.filterTypeCustomer >= 0) {
                    search += 'type_customer:' + this.filterTypeCustomer + ';';
                }
                if (this.filterCustomerCode) {
                    search += 'customer_code:' + this.filterCustomerCode + ';';
                }
                if (this.filterName) {
                    search += 'firstname:' + this.filterName + ';';
                }
                if (this.filterName) {
                    search += 'lastname:' + this.filterName + ';';
                }
                if (this.filterPhone) {
                    search += 'phone:' + this.filterPhone.trim() + ';';
                }
                if (this.filterEmail) {
                    search += 'email:' + this.filterEmail.trim() + ';';
                }
                query += search.slice(0, -1);
                return query;
            },
            pages: function () {
                var pages = [];
                if (this.pagination && this.pagination.last_page) {
                    for (var i = 1; i <= this.pagination.last_page; i++) {
                        pages.push(i);
                    }
                }
                return pages;
            }
        },
        methods: {
            onCloseEdit() {
                this.showEditModal -= 1;
            },
            onCloseNew() {
                this.showNewModal -= 1;
            },
            onClickNewButton() {
                this.getCountries();
                this.clickCreate = true;
                this.showNewModal += 1;
            },
            searchChange: _.debounce(function () {
                this.refresh();
            }, 500),
            refresh: function () {
                App.blockUI({
                    target: '.body-table',
                    animate: true
                });
                $('.btn-checked').html('Check Clicked');
                var _self = this;
                this.$http.get('api/customers/pagination' + this.searchQuery).then(function (response) {
                    _self.pagination = response.data.data;
                    App.unblockUI('.body-table');
                }).catch(function (error) {
                    App.unblockUI('.body-table')
                });
            },
            changePage: function (index) {
                this.currentPage = index;
                this.refresh();
            },
            backPage: function () {
                if (this.currentPage > 1) {
                    this.currentPage--;
                    this.refresh();
                }
            },
            nextPage: function () {
                if (this.currentPage < this.pagination.last_page) {
                    this.currentPage++;
                    this.refresh();
                }
            },
            filterChange: function () {
                this.refresh();
            },
            filterChange_keyboard: _.debounce(function (text_) {
                console.log(text_);
                console.log(text_.length);
                if(text_.length >= 3 || text_.length == 0){
                    this.refresh();
                }
            }, 1000),
            deleteCustomer: function (id, firstname, lastname) {
                if (confirm("Are you sure you want to delete ["+firstname +' '+ lastname +" ]?")) {
                    App.blockUI({
                        target: '#list-customer-block',
                        animate: true
                    });
                    return this.$http.delete('/api/customers/'+id).then(function (response) {
                        App.unblockUI('#list-customer-block');
                        showToastFromResponse(response);
                        this.refresh();
                    }).catch(function (error) {
                        App.unblockUI('#list-customer-block');
                        showToastFromResponse(error);
                    })
                }
            },
            onClickEditButton(model) {
                this.isEdited = false;
                this.getCountries();
                this.current_customer = model;
                this.edit_zipcode = model.zipcode;
                this.setOriginCustomer(model);
                this.getCities_(model.country);
                this.showEditModal += 1;
            },
            setOriginCustomer(model){
                this.origin_customer = _.clone(model);
            },
            getCountries: function () {
                var _self = this;
                this.$http.get('api/sender/load-country').then(function (response) {
                    console.log('getCountries inside');
                    _self.cre_countries = response.data.data;
                }).catch(function (error) {
                    console.log(error);
                });
            },
            getCities_(countryId) {
                var _self = this;
                this.$http.get("api/sender/load-city/"+countryId)
                .then( function (response) {
                    _self.edit_cities = response.data.data;
                    _self.showEditModal += 1;
                })
            },
            imgInfo:function(event) {
                var element = event.target;
                var _self = this;
                var _src = element.getAttribute('data-src');
                _self.imgSrc = _src;
            }
        }
    }
</script>
