<template>
    <modal :title="modelTitle" :show="showModel" @modalSubmit="sendList" @modalClose="handleDidClose">
        <h4>You will send {{type}} invitation for {{data.length}} contacts</h4>
    </modal>
</template>
<script>
    export default {
        data:function(){
            return {
                showModel:false,
                isLoading: false
            }
        },
        props:{
            'type':String,
            'data': Array,
            'show': Boolean
        },
        computed:{
            modelTitle:function(){
                return 'Send '+this.type+' invitation'
            }
        },
        watch:{
            show:function(value){
                this.showModel = value;
            }
        },
        methods:{
            sendList: function () {
                this.isLoading = true;
                var _self = this;
                return this.$http.post('/api/invites/send', {
                    list: this.data,
                    via: [this.type]
                }).then(function (response) {
                    showToastFromResponse(response);
                    _self.handleDidClose();
                }).catch(function (error) {
                    showToastFromResponse(error);
                    _self.handleDidClose();
                })
            },
            handleDidClose:function(){
                this.showModel = false;
                this.$emit('onClosed');
            }
        }
    }
</script>