<template>
    <div class="row">
        <div class="col-md-8">
            <div id="customer-summary-by-time-block" class="col-md-12 pull-right">
                <div class="label label-default">
                    New Customer: {{information.newCreatedCount}}
                </div>
                <div class="label label-info">
                    Email: {{information.emailSentCount}} sent
                </div>
                <div class="label label-warning">
                    SMS: {{information.smsSentCount}} sent
                </div>
                <div class="label label-success">
                    MMS: {{information.mmsSentCount}} sent
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <time-range @change="changeTime"></time-range>
        </div>
    </div>
</template>
<script>
    import moment from 'moment';
    export default{
        data(){
            return {
                information:{
                    all:0,
                    newCreatedCount:0,
                    emailSentCount:0,
                    smsSentCount:0,
                    mmsSentCount:0
                },
                startDateText:'',
                endDateText:'',
            }
        },
        mounted(){
            let _self = this;
            eventHub.$on('SEND_INVITATION_SUCCESS', function (invite) {
                _self.refresh();
            });
        },
        methods:{
            refresh() {
                App.blockUI({
                    target: '#customer-summary-by-time-block',
                    animate: true
                });
                var _self = this;
                this.$http.get('/api/invites/information/'+this.startDateText+'/'+this.endDateText).then(function (response) {
                    _self.information = response.data.data;
                    App.unblockUI('#customer-summary-by-time-block');
                }).catch(function (error) {
                    App.unblockUI('#customer-summary-by-time-block');
                });
            },
            changeTime(data){
                console.log(data);
                this.startDateText = data.startDateText;
                this.endDateText = data.endDateText;
                this.refresh();
            }
        }
    }
</script>
