<template>
<div>
    <div class="btn-group dropup open" style="width:70px">
        <button type="button" class="btn btn-success">{{countClick.total}}</button>
        <button v-if="countClick.total != 0" type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-angle-up"></i>
        </button>
        <ul v-if="countClick.total != 0" class="dropdown-menu pull-right" role="menu">
            <li v-if="countClick.google != 0">
                <a href="javascript:;"> Google <span class="badge badge-warning"> {{countClick.google}} </span> </a>
            </li>
            <li v-if="countClick.facebook != 0">
                <a href="javascript:;"> Facebook <span class="badge badge-warning"> {{countClick.facebook}} </span> </a>
            </li>
            <li v-if="countClick.tripadvisor != 0">
                <a href="javascript:;"> TripAdvisor <span class="badge badge-warning"> {{countClick.tripadvisor}} </span> </a>
            </li>
            <li v-if="countClick.yepl != 0">
                <a href="javascript:;"> YEPL <span class="badge badge-warning"> {{countClick.yepl}} </span> </a>
            </li>
            <li v-if="countClick.agoda != 0">
                <a href="javascript:;"> Agoda <span class="badge badge-warning"> {{countClick.agoda}} </span> </a>
            </li>
            <li v-if="countClick.booking != 0">
                <a href="javascript:;"> Booking <span class="badge badge-warning"> {{countClick.booking}} </span> </a>
            </li>
        </ul>
    </div>
</div>
</template>
<script>
  export default {
    data: function () {
      return {
        countClick: []
      }
    },
    props: {
       idTotal: 0
    },
    mounted: function() {
      this.loadData();
    },
    methods: {
      loadData: function () {
        var _self = this;
        this.$http.get('/api/invites/click_review_link/'+this.idTotal).then(function (response) {
          _self.countClick = response.data.data;
        }).catch(function (error) {
          console.log(error);
        });
      }
    }
  }
</script>
