<template>
    <div id="responsive_customer" class="modal fade" tabindex="-1" data-width="50%">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title"><i class="icon-users"></i> Create New Customer</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form action="#" class="form-horizontal">
                        <div class="form-body">
                            <form-error :errors="errors" field="country" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Customer Type </label>
                                <div class="col-md-8">
                                    <select v-model="customer.type_customer" @change="getCustomerCode(customer.type_customer)" class="form-control input-circle-left">
                                        <option value="">Type Customer</option>
                                        <option v-for="type in types" :value="type.index">{{ type.name }}</option>
                                    </select>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="customer_code" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Customer Code </label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon input-circle-left">
                                            <i class="fa fa-code"></i>
                                        </span>
                                        <input type="text" class="form-control input-circle-right" placeholder="Customer Code Custom"
                                            v-model="customer.customer_code">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="firstname" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">First name </label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                    <span class="input-group-addon input-circle-left">
                                        <i class="fa fa-info-circle"></i>
                                    </span>
                                    <input type="text" class="form-control input-circle-right" placeholder="First name"
                                               v-model="customer.firstname">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="firstname" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Last name </label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon input-circle-left">
                                            <i class="fa fa-info-circle"></i>
                                        </span>
                                        <input type="text" class="form-control input-circle-right" placeholder="Last name"
                                            v-model="customer.lastname">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="phone" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Phone </label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon input-circle-left">
                                            <i class="fa fa-phone"></i>
                                        </span>
                                        <input type="text" class="form-control input-circle-right" placeholder="Phone"
                                               v-model="customer.phone">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="email" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Email </label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                    <span class="input-group-addon input-circle-left">
                                        <i class="fa fa-envelope"></i>
                                    </span>
                                        <input type="email" class="form-control input-circle-right" placeholder="Email"
                                               v-model="customer.email">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="address" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Address</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                    <span class="input-group-addon input-circle-left">
                                        <i class="fa fa-tasks"></i>
                                    </span>
                                        <input type="email" class="form-control input-circle-right" placeholder="Address"
                                               v-model="customer.address">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="country" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Country </label>
                                <div class="col-md-8">
                                    <select v-model="customer.country"  @change="getCities(customer.country)" class="form-control input-circle-left">
                                        <option value="0">Choose Country</option>
                                        <option v-for="country in cre_countries" :value="country.id">
                                            {{country.country_name}}
                                        </option>
                                    </select>
                                </div>
                            </form-error>
                            <form-error v-if="customer.country == 1" :errors="errors" field="zipcode" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Zipcode</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                    <span class="input-group-addon input-circle-left">
                                        <i class="fa fa-tasks"></i>
                                    </span>
                                        <input type="zipcode" class="form-control input-circle-right" placeholder="Zip Code"
                                               v-model="customer.zipcode">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="city" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">City</label>
                                <div class="col-md-8">
                                   <!-- <select v-model="customer.contact_city" class="form-control input-circle-left" :disabled="disabled == 1 ? true : false">
                                        <option v-for="city in cities" :value="city.id">{{city.city_name}}</option>
                                    </select> -->
                                    <v-select :options="cities" :disabled="disabled == 1 ? true : false" :on-change="runme"></v-select>
                                </div>
                            </form-error>
                        </div>
                    </form>
                    <!-- END FORM-->
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-outline dark btn-circle">Close</button>
            <button type="button" class="btn green btn-circle" @click="updateUser()">{{ (isSending) ? 'Sending ...' : 'Save'}}
            </button>
        </div>
    </div>
</template>
<script>

Vue.component("v-select", VueSelect.VueSelect);
    export default{
        props: {
            customerProp: {
                type: Object,
                default: function () {
                    return {
                        firstname: '',
                        lastname: '',
                        customer_code: '',
                        email: '',
                        phone: '',
                        address: '',
                        city: 0,
                        country: 0,
                        zipcode: '',
                        type_customer: ""
                    }
                }
            },
            clickCreate: false,
            cre_countries: {}
        }
        ,
        data: function () {
            return {
                types: [
                    {index: 0, name: 'Walk-In Customer', css: 'label-info'},
                    {index: 1, name: 'Remote Customer', css: 'label-danger'},
                    {index: 2, name: 'Agent Customer', css: 'label-danger'}
                ],
                isUpdated: false,
                showError: false,
                errors: '',
                role_id: AppData.role_id,
                isSending: false,
                cities: [{value:0, label:''}],
                selected: { label: null, value: null },
                disabled: 1,
                selected:'',
                customer_default: {
                    firstname: '',
                    lastname: '',
                    customer_code: '',
                    email: '',
                    phone: '',
                    address: '',
                    city: 0,
                    country: 0,
                    type_customer: 0
                }
            }
        },
        computed: {
            customer() {
                return this.customerProp;
            }
        },
        created: function () {
            console.log('customer_form created');
        },
        beforeMount: function () {
            console.log('customer_form beforeMount');
        },
        mounted: function () {
            console.log('customer_form mounted');
            var _self = this;
            $('#responsive_customer').on('hidden.bs.modal', function (e) {
                _self.$emit('close');
                console.log('run close');
                _self.errors = '';
            });
        },
        updated: function () {
            console.log('customer_form updated');
        },
        beforeDestroy: function () {
            console.log('customer_form beforeDestroy');
        },
        methods: {
            updateUser: function () {
                var _self = this;
                if(!this.isSending) {
                    this.isSending = true;
                    this.$http.post('/api/customers', _self.customer).then((response) => {
                        _self.isSending = false;
                        var customer_ = response.data.data;
                        eventHub.$emit("CUSTOMER_CREATED", customer_);
                        $('.modal.in').modal('hide') ;
                        _self.errors = '';
                        _self.customer = _self.customer_default;
                        showToast('Created Customer successfully', 'Customer information has been created', 'success');
                    }, (error) => {
                        _self.isSending = false;
                        if (error.data && error.data.data) {
                            _self.errors = error.data.data;
                        }
                        showToast('Created Customer failed', 'Customer information has not been created', 'error');
                    });
                }
            },
            getCities(countryId) {
                var _self = this;
                this.$http.get("api/sender/load-city/"+countryId)
                .then((response) => {
                    _self.disabled = 0;
                    _self.cities = response.data.data;
                })
            },
            runme(selected) {
                var _self = this; 
                if(selected.value){
                    _self.customer.city = selected.value;
                    // get customer code
                    this.$http.get("api/customers/load-customer-code/"+selected.value)
                    .then((response) => {
                        _self.customer.customer_code = response.data.data;
                    })
                }
            },
            getCustomerCode(typeCustomer) {
                var _self = this;
                this.$http.get("api/customers/load-customer-code/"+typeCustomer)
                    .then((response) => {
                        _self.customer.customer_code = response.data.data; // edit44
                    })
            },
        }
    }
</script>
