<template>
  <div id="responsive_edit_package" class="modal fade" tabindex="-1" data-width="50%">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title">
        <i class="icon-users"></i> Edit Package
      </h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="portlet-body form">
          <!-- BEGIN FORM-->
          <div class="col-md-3">
            <div v-for="(model,n) in list_package">
              <button class="btn btn-default" @click="changePackage(model)">Package {{n+1}}</button>
              <br />
              <br />
            </div>
          </div>
          <div class="col-md-9">
            <form action="#" class="form-horizontal">
              <div class="form-body">
                <form-error
                  :errors="errors"
                  field="sender_name"
                  error-class="col-md-offset-3 col-md-8"
                >
                  <label class="col-md-3 control-label">Sender</label>
                  <div class="col-md-8">
                    <div class="input-group">
                      <span class="input-group-addon input-circle-left">
                        <i class="fa fa-code"></i>
                      </span>
                      <input
                        type="text"
                        class="form-control input-circle-right"
                        placeholder="Customer Code Custom"
                        v-model="current_package.sender_name"
                        disabled="true"
                      />
                    </div>
                  </div>
                </form-error>
                <form-error :errors="errors" field="weight" error-class="col-md-offset-3 col-md-8">
                  <label class="col-md-3 control-label">Dimension Weight</label>
                  <div class="col-md-8">
                    <div class="input-group">
                      <span class="input-group-addon input-circle-left">
                        <i class="fa fa-info-circle"></i>
                      </span>
                      <input
                        type="text"
                        class="form-control input-circle-right"
                        placeholder="Sender Address"
                        disabled="true"
                        :value="parseFloat((current_package.width*current_package.height*current_package.length) /139).toFixed(2)"
                      />
                    </div>
                  </div>
                </form-error>
                <form-error :errors="errors" field="weight" error-class="col-md-offset-3 col-md-8">
                  <label class="col-md-3 control-label">Actual Weight</label>
                  <div class="col-md-8">
                    <div class="input-group">
                      <span class="input-group-addon input-circle-left">
                        <i class="fa fa-info-circle"></i>
                      </span>
                      <input
                        @change="calcu_service()"
                        type="text"
                        class="form-control input-circle-right"
                        placeholder="Sender Address"
                        v-model="current_package.weight"
                      />
                    </div>
                  </div>
                </form-error>
                <form-error
                  :errors="errors"
                  field="weight_unit"
                  error-class="col-md-offset-3 col-md-8"
                >
                  <label class="col-md-3 control-label">Weight Unit</label>
                  <div class="col-md-8">
                    <div class="input-group">
                      <span class="input-group-addon input-circle-left">
                        <i class="fa fa-info-circle"></i>
                      </span>
                      <select
                        class="form-control input-circle-right"
                        v-model="current_package.weight_unit"
                      >
                        <option value="LBS">Pounds</option>
                        <!-- <option value="KGS">Kilograms</option> -->
                      </select>
                    </div>
                  </div>
                </form-error>
                <form-error :errors="errors" field="height" error-class="col-md-offset-3 col-md-8">
                  <label class="col-md-3 control-label">Height</label>
                  <div class="col-md-8">
                    <div class="input-group">
                      <span class="input-group-addon input-circle-left">
                        <i class="fa fa-info-circle"></i>
                      </span>
                      <input
                        @change="calcu_service()"
                        type="text"
                        class="form-control input-circle-right"
                        v-model="current_package.height"
                      />
                    </div>
                  </div>
                </form-error>
                <form-error :errors="errors" field="width" error-class="col-md-offset-3 col-md-8">
                  <label class="col-md-3 control-label">Width</label>
                  <div class="col-md-8">
                    <div class="input-group">
                      <span class="input-group-addon input-circle-left">
                        <i class="fa fa-info-circle"></i>
                      </span>
                      <input
                        @change="calcu_service()"
                        type="text"
                        class="form-control input-circle-right"
                        v-model="current_package.width"
                      />
                    </div>
                  </div>
                </form-error>
                <form-error :errors="errors" field="length" error-class="col-md-offset-3 col-md-8">
                  <label class="col-md-3 control-label">Length</label>
                  <div class="col-md-8">
                    <div class="input-group">
                      <span class="input-group-addon input-circle-left">
                        <i class="fa fa-info-circle"></i>
                      </span>
                      <input
                        @change="calcu_service()"
                        type="text"
                        class="form-control input-circle-right"
                        v-model="current_package.length"
                      />
                    </div>
                  </div>
                </form-error>
                <form-error :errors="errors" field="unit" error-class="col-md-offset-3 col-md-8">
                  <label class="col-md-3 control-label">Unit</label>
                  <div class="col-md-8">
                    <div class="input-group">
                      <span class="input-group-addon input-circle-left">
                        <i class="fa fa-info-circle"></i>
                      </span>
                      <select
                        class="form-control input-circle-right"
                        v-model="current_package.unit"
                      >
                        <option value="IN">Inches</option>
                        <!-- <option value="CM">Centimeters</option> -->
                      </select>
                    </div>
                  </div>
                </form-error>
                <form-error :errors="errors" field="rate" error-class="col-md-offset-3 col-md-8">
                  <label class="col-md-3 control-label">Rate</label>
                  <div class="col-md-8">
                    <div class="input-group">
                      <span class="input-group-addon input-circle-left">
                        <i class="fa fa-info-circle"></i>
                      </span>
                      <input
                        disabled="true"
                        type="text"
                        class="form-control input-circle-right"
                        v-model="current_package.shippingRate"
                      />
                    </div>
                  </div>
                </form-error>
              </div>
            </form>
          </div>
          <!-- END FORM-->
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" data-dismiss="modal" class="btn btn-outline dark">Close</button>
      <button
        type="button"
        class="btn green"
        @click="updateCustomer()"
      >{{ (isSending) ? 'Sending ...' : 'Save'}}</button>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    customerProp: {
      type: Object,
      default: function() {
        return {
          sender_name: "",
          customer_code: "",
          address: "",
          zipcode: "",
          receiver_name: "",
          receiver_address: ""
        };
      }
    }
  },
  data: function() {
    return {
      isUpdated: false,
      showError: false,
      errors: "",
      isChecked: 0,
      isSending: false,
      error_: "",
      list_package: [],
      current_package: {
        id: 0,
        sender_name: "",
        weight: "",
        weight_unit: "LBS",
        height: "",
        width: "",
        length: "",
        unit: "IN",
        shippingRate: 0,
      }
    };
  },
  computed: {
    customer() {
      return this.customerProp;
    }
  },
  created: function() {
    console.log("customer_edit_form created");
    if (this.customer != null) {
      this.loadPackage(this.customer.id);
    }
  },
  beforeMount: function() {
    console.log("customer_edit_form beforeMount");
  },
  mounted: function() {
    console.log("user_form mounted");
    var _self = this;
    $("#responsive_edit_package").on("hidden.bs.modal", function(e) {
      _self.$emit("close");
      console.log("run close");
      _self.errors = "";
    });
  },
  updated: function() {
    console.log("customer_edit_form updated");
  },
  beforeDestroy: function() {
    console.log("customer_edit_form beforeDestroy");
  },
  watch: {},
  methods: {
    updateCustomer: function() {
      var _self = this;
      if (!this.isSending) {
        this.isSending = true;
        if (this.current_package.id) {
          if (
            _self.current_package.weight === "" ||
            _self.current_package.weight === ""
          ) {
            showToast("error", "Width require", "error");
            return;
          } else if (
            _self.current_package.height === "" ||
            _self.current_package.height === ""
          ) {
            showToast("error", "Width require", "error");
            return;
          } else if (
            _self.current_package.width === "" ||
            _self.current_package.width === ""
          ) {
            showToast("error", "Width require", "error");
            return;
          } else if (
            _self.current_package.length === "" ||
            _self.current_package.length === ""
          ) {
            showToast("error", "Width require", "error");
            return;
          } else {
            this.$http
              .put(
                AppData.baseUrl +
                  "/api/request-label-package-list/" +
                  _self.current_package.id,
                _self.current_package
              )
              .then(
                response => {
                  _self.isSending = false;
                  var customer = response.data.data;
                  eventHub.$emit("REQUESTLABEL_UPDATED", customer);
                  $(".modal.in").modal("hide");
                  _self.errors = "";
                  showToast(
                    "Updated request label successfully",
                    "Request Label information has been updated",
                    "success"
                  );
                },
                error => {
                  _self.isSending = false;
                  if (error.data && error.data.data) {
                    _self.errors = error.data.data;
                  }
                  showToast(
                    "Updated request label failed",
                    "Request Label information has not been updated",
                    "error"
                  );
                }
              );
          }
        }
      }
    },
    loadPackage: function(request_label_id) {
      var _self = this;
      this.$http
        .get(
          AppData.baseUrl +
            "/api/request-label/list-package/" +
            request_label_id
        )
        .then(
          response => {
            _self.list_package = response.data.data;
            _self.current_package = response.data.data[0];
          },
          error => {}
        );
    },
    changePackage: function(model) {
      var _self = this;
      _self.current_package = model;
    },
    calcu_service: function() {
      var _self = this;
      if (
        _self.current_package.weight === "" ||
        _self.current_package.weight === ""
      ) {
        showToast("error", "Width require", "error");
        return;
      } else if (
        _self.current_package.height === "" ||
        _self.current_package.height === ""
      ) {
        showToast("error", "Width require", "error");
        return;
      } else if (
        _self.current_package.width === "" ||
        _self.current_package.width === ""
      ) {
        showToast("error", "Width require", "error");
        return;
      } else if (
        _self.current_package.length === "" ||
        _self.current_package.length === ""
      ) {
        showToast("error", "Width require", "error");
        return;
      } else {
          _self.current_package.service_option = _self.customer.service_option;
          _self.current_package.zipcode = _self.customer.zipcode;
        if(_self.current_package.delivery_company==1){
          this.$http
          .post("/api/request-label/rate-ups/"+ _self.current_package.request_label_id, _self.current_package)
          .then(function(response) {
            App.unblockUI("#package-info-block");
            _self.current_package =
              response.data.package[0];
            _self.current_package.shippingRate = response.data.shippingRate;
          })
          .catch(function(error) {
            App.unblockUI("#package-info-block");
            console.log(error);
          });
        }else{
          this.$http
          .post("/api/request-label/rate-fedex/"+ _self.current_package.request_label_id, _self.current_package)
          .then(function(response) {
            App.unblockUI("#package-info-block");
            _self.current_package =
              response.data.package[0];
            _self.current_package.shippingRate = response.data.shippingRate;
          })
          .catch(function(error) {
            App.unblockUI("#package-info-block");
            console.log(error);
          });
        }
      }
    }
  }
};
</script>
