<template>
  <div id="responsive_recipient_new" class="modal fade" tabindex="-1" data-width="70%">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title">
        <i class="icon-users"></i> Create New Recipient
      </h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="portlet-body form">
          <!-- BEGIN FORM-->
          <form action="#" class="form-horizontal">
            <div class="form-body">
              <form-error
                :errors="errors"
                field="contactname"
                error-class="col-md-offset-3 col-md-8"
              >
                <label class="col-md-3 control-label">Customer (*)</label>
                <div class="col-md-8">
                  <div class="input-group">
                    <span class="input-group-addon input-circle-left">
                      <i class="fa fa-user-circle"></i>
                    </span>
                    <input
                      type="text"
                      disabled="disabled"
                      class="form-control input-circle-right"
                      placeholder="Customer"
                      :value="customer.customer_code+'-'+customer.lastname"
                    />
                    <input type="hidden" v-model="recipient.customer_id" />
                    <input type="hidden" v-model="recipient.customer_code" />
                  </div>
                </div>
              </form-error>
              <form-error
                :errors="errors"
                field="contact_firstname"
                error-class="col-md-offset-3 col-md-8"
              >
                <label class="col-md-3 control-label">First Name (*)</label>
                <div class="col-md-8">
                  <div class="input-group">
                    <span class="input-group-addon input-circle-left">
                      <i class="fa fa-info-circle"></i>
                    </span>
                    <input
                      type="text"
                      class="form-control input-circle-right"
                      placeholder="First Name"
                      v-model="recipient.contact_firstname"
                    />
                  </div>
                </div>
              </form-error>
              <form-error
                :errors="errors"
                field="contact_lastname"
                error-class="col-md-offset-3 col-md-8"
              >
                <label class="col-md-3 control-label">Last Name (*)</label>
                <div class="col-md-8">
                  <div class="input-group">
                    <span class="input-group-addon input-circle-left">
                      <i class="fa fa-info-circle"></i>
                    </span>
                    <input
                      type="text"
                      class="form-control input-circle-right"
                      placeholder="Last Name"
                      v-model="recipient.contact_lastname"
                    />
                  </div>
                </div>
              </form-error>
              <form-error
                :errors="errors"
                field="contact_phone"
                error-class="col-md-offset-3 col-md-8"
              >
                <label class="col-md-3 control-label">Contact Phone (*)</label>
                <div class="col-md-8">
                  <div class="input-group">
                    <span class="input-group-addon input-circle-left">
                      <i class="fa fa-phone"></i>
                    </span>
                    <input
                      type="text"
                      class="form-control input-circle-right"
                      placeholder="Phone"
                      v-model="recipient.contact_phone"
                    />
                  </div>
                </div>
              </form-error>
              <form-error
                :errors="errors"
                field="contact_email"
                error-class="col-md-offset-3 col-md-8"
              >
                <label class="col-md-3 control-label">Contact Email</label>
                <div class="col-md-8">
                  <div class="input-group">
                    <span class="input-group-addon input-circle-left">
                      <i class="fa fa-envelope"></i>
                    </span>
                    <input
                      type="email"
                      class="form-control input-circle-right"
                      placeholder="Email"
                      v-model="recipient.contact_email"
                    />
                  </div>
                </div>
              </form-error>
              <form-error
                :errors="errors"
                field="contact_address"
                error-class="col-md-offset-3 col-md-8"
              >
                <label class="col-md-3 control-label">Contact Address(*)</label>
                <div class="col-md-8">
                  <div class="input-group">
                    <span class="input-group-addon input-circle-left">
                      <i class="fa fa-tasks"></i>
                    </span>
                    <input
                      type="email"
                      class="form-control input-circle-right"
                      placeholder="Address"
                      v-model="recipient.contact_address"
                    />
                  </div>
                </div>
              </form-error>
              <form-error
                :errors="errors"
                field="tax_personal_id"
                error-class="col-md-offset-3 col-md-8"
              >
                <label class="col-md-3 control-label">Tax/Personal ID</label>
                <div class="col-md-8">
                  <div class="input-group">
                    <span class="input-group-addon input-circle-left">
                      <i class="fa fa-address-card"></i>
                    </span>
                    <input
                      type="email"
                      class="form-control input-circle-right"
                      placeholder="Tax/Persional ID"
                      v-model="recipient.tax_personal_id"
                    />
                  </div>
                </div>
              </form-error>
              <form-error
                :errors="errors"
                field="contact_country"
                error-class="col-md-offset-3 col-md-8"
              >
                <label class="col-md-3 control-label">Country(*)</label>
                <div class="col-md-8">
                  <select
                    v-model="recipient.contact_country"
                    @change="getCities(recipient.contact_country)"
                    class="form-control input-circle-left"
                  >
                    <option value="0">Choose Country</option>
                    <option
                      v-for="country in cre_countries"
                      :value="country.id"
                    >{{country.country_name}}</option>
                  </select>
                </div>
              </form-error>
              <form-error
                v-if="recipient.contact_country == 1"
                :errors="errors"
                field="zipcode"
                error-class="col-md-offset-3 col-md-8"
              >
                <label class="col-md-3 control-label">Zipcode</label>
                <div class="col-md-8">
                  <div class="input-group">
                    <span class="input-group-addon input-circle-left">
                      <i class="fa fa-tasks"></i>
                    </span>
                    <input
                      type="text"
                      class="form-control input-circle-right"
                      v-model="zip"
                      maxlength="5"
                      placeholder="ex: 94301"
                    />
                  </div>
                </div>
              </form-error>
              <form-error
                v-if="recipient.contact_country == 1"
                :errors="errors"
                field="city"
                error-class="col-md-offset-3 col-md-8"
              >
                <label class="col-md-3 control-label">City</label>
                <div class="col-md-8">
                  <div class="input-group">
                    <div v-if="error" class="error form-control input-circle">{{error}}</div>
                    <div v-if="city" class="display form-control input-circle">{{city}}</div>
                  </div>
                </div>
              </form-error>
              <form-error
                v-if="recipient.contact_country == 2"
                :errors="errors"
                field="contact_city"
                error-class="col-md-offset-3 col-md-8"
              >
                <label class="col-md-3 control-label">City (*)</label>
                <div class="col-md-8">
                  <v-select
                    :options="cities"
                    :disabled="disabled == 1 ? true : false"
                    :on-change="runme"
                  ></v-select>
                </div>
              </form-error>
              <form-error
                v-if="recipient.contact_country == 2"
                :errors="errors"
                field="contact_district"
                error-class="col-md-offset-3 col-md-8"
              >
                <label class="col-md-3 control-label">District (*)</label>
                <div class="col-md-8">
                  <v-select
                    :options="districts"
                    :disabled="disabled == 1 ? true : false"
                    :on-change="runme_"
                  ></v-select>
                </div>
              </form-error>
              <form-error
                v-if="recipient.contact_country == 2"
                :errors="errors"
                field="tax_personal_id"
                error-class="col-md-offset-3 col-md-8"
              >
                <label class="col-md-3 control-label">Ward</label>
                <div class="col-md-8">
                  <div class="input-group">
                    <span class="input-group-addon input-circle-left">
                      <i class="fa fa-address-card"></i>
                    </span>
                    <input
                      type="ward"
                      class="form-control input-circle-right"
                      placeholder="Ward"
                      v-model="recipient.contact_ward"
                    />
                  </div>
                </div>
              </form-error>
            </div>
          </form>
          <!-- END FORM-->
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" data-dismiss="modal" class="btn btn-outline dark btn-circle">Close</button>
      <button
        type="button"
        class="btn green btn-circle"
        @click="createrecipient()"
      >{{ (isSending) ? 'Saving ...' : 'Save'}}</button>
    </div>
  </div>
</template>
<style>
.dropdown-input {
  border-radius: 0 25px 25px 0 !important;
  width: 100% !important;
}
.dropdown-content {
  z-index: 100 !important;
}
</style>
<script>
export default {
  props: {
    recipientProp: {
      type: Object,
      default: function () {
        return {
          customer_id: 0,
          customer_code: "",
          sender_id: 0,
          sender_code: "",
          contact_code: "",
          contact_firstname: "",
          contact_lastname: "",
          contact_phone: "",
          contact_email: "",
          contact_address: "",
          contact_country: 0,
          contact_city: 0,
          contact_district: 0,
          tax_personal_id: "",
          contact_zipcode: "",
          contact_zipcode_name: "",
          contact_ward: "",
        };
      },
    },
    cre_countries: {},
    customerProp: {
      type: Object,
      default: function () {
        return {};
      },
    },
  },
  data: function () {
    return {
      isUpdated: false,
      showError: false,
      errors: "",
      role_id: AppData.role_id,
      isSending: false,
      countries: {},
      cities: [{ value: 0, label: "" }],
      districts: [{ value: 0, label: "" }],
      disabled: 1,
      options: [{ name: "Customer", id: "0", dataCode: "abhcj" }],
      sender_options: [{ name: "Sender", id: "0", dataCode: "abhcj" }],
      selected: { name: null, id: null, dataCode: null },
      recipient_default: {
        customer_id: 0,
        customer_code: "",
        sender_id: "",
        sender_code: "",
        contact_code: "",
        contact_firstname: "",
        contact_lastname: "",
        contact_phone: "",
        contact_email: "",
        contact_zipcode: "",
        contact_zipcode_name: "",
        tax_personal_id: "",
        contact_country: 0,
        contact_city: 0,
        contact_district: 0,
      },
      city: " ",
      zip: "",
      error: "",
    };
  },
  components: {},
  computed: {
    recipient() {
      return this.recipientProp;
    },
    customer() {
      return this.customerProp;
    },
  },
  created: function () {
    console.log("recipient_form created");
  },
  beforeMount: function () {
    console.log("recipient_form beforeMount");
  },
  mounted: function () {
    console.log("recipient_form mounted");
    var _self = this;
    $("#responsive_recipient_new").on("hidden.bs.modal", function (e) {
      _self.$emit("close");
      console.log("run close");
      _self.errors = "";
    });
    this.getCity();
  },
  updated: function () {
    console.log("recipient_form updated");
  },
  beforeDestroy: function () {
    console.log("recipient_form beforeDestroy");
  },
  watch: {
    zip: function () {
      if (this.zip.length === 5) {
        this.getCity();
        this.error = "";
        $(".error").removeClass("no");
      }
      if (this.zip.length < 5) {
        this.city = "";
        this.error = "hey, that's not a zipcode";
        $(".error").addClass("no");
        $(".display").removeClass("animated fadeInDown");
      }
    },
  },
  methods: {
    createrecipient: function () {
      var _self = this;
      _self.recipient.customer_code = _self.customer.customer_code;
      _self.recipient.customer_id = _self.customer.id;
      if (!this.isSending) {
        var re_email = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,10}))$/;
        var re_phone = /^[+]*[(]{0,1}[0-9]{1,3}[)]{0,1}[-\s\./0-9]*$/g;
        if (_self.recipient.contact_firstname === "") {
          showToast("error", "Firstname require", "error");
          return;
        } else if (_self.recipient.contact_lastname === "") {
          showToast("error", "Lastname require", "error");
          return;
        } else if (_self.recipient.contact_phone === "") {
          showToast("error", "Phone require", "error");
          return;
        } else if (
          !re_phone.test(_self.recipient.contact_phone.trim()) ||
          _self.recipient.contact_phone.trim().length < 9 ||
          _self.recipient.contact_phone.trim().length > 11
        ) {
          showToast("Error", "Phone Invalid", "error");
          return;
        } else if (
          !re_email.test(_self.recipient.contact_email.trim()) &&
          _self.recipient.contact_email.trim() != ""
        ) {
          showToast("Error", "Email invalid", "error");
          return;
        } else if (_self.recipient.contact_address === "") {
          showToast("error", "Address id require", "error");
          return;
        } else if (
          _self.recipient.contact_country === "" ||
          _self.recipient.contact_country == 0
        ) {
          showToast("error", "Country require", "error");
          return;
        } else if (
          _self.recipient.contact_zipcode === "" &&
          _self.recipient.contact_country == 1
        ) {
          showToast("error", "Zipcode require", "error");
          return;
        } else if (
          (_self.recipient.contact_city === "" ||
            _self.recipient.contact_city == 0) &&
          _self.recipient.contact_country == 2
        ) {
          showToast("error", "City require", "error");
          return;
        } else if (
          (_self.recipient.contact_district === "" ||
            _self.recipient.contact_district == 0) &&
          _self.recipient.contact_country == 2
        ) {
          showToast("error", "District require", "error");
          return;
        } else if (
          _self.recipient.contact_ward === "" &&
          _self.recipient.contact_country == 2
        ) {
          showToast("error", "Ward require", "error");
          return;
        } else {
          this.isSending = true;
          var _token = $('meta[name="csrf-token"]').attr('content');
            _self.recipient._token =_token;
          this.$http
            .post("/api/request-label/create-by-customer", _self.recipient)
            .then(
              (response) => {
                _self.isSending = false;
                var recipient_ = response.data.data;
                eventHub.$emit("recipient_CREATED", recipient_);
                $(".modal.in").modal("hide");
                _self.errors = "";
                showToast(
                  "Created recipient successfully",
                  "recipient information has been created",
                  "success"
                );
              },
              (error) => {
                _self.isSending = false;
                if (error.data && error.data.data) {
                  _self.errors = error.data.data;
                }
                showToast(
                  "Created recipient failed",
                  "recipient information has not been created",
                  "error"
                );
              }
            );
        }
      }
    },
    getCities(countryId) {
      var _self = this;
      this.$http
        .get("api/requestcustomer/load-city/" + countryId)
        .then((response) => {
          _self.disabled = 0;
          _self.cities = response.data.data;
        });
    },
    validateSelection(selection) {
      var _self = this;
      _self.recipient.sender_id = selection.id;
      _self.recipient.sender_code = selection.dataCode;
      this.selected = selection;
      console.log(selection.name + " has been selected");
    },
    runme(selected) {
      var _self = this;
      if (selected.value) {
        _self.recipient.contact_city = selected.value;
        this.$http
          .get("api/requestcustomer/load-district/" + selected.value)
          .then((response) => {
            _self.disabled = 0;
            _self.districts = response.data.data;
          });
      }
    },
    runme_(selected) {
      var _self = this;
      if (selected.value) {
        _self.recipient.contact_district = selected.value;
      }
    },
    getCity: function () {
      let self = this;
      $.getJSON("https://ZiptasticAPI.com/" + this.zip, function (result) {
        if (result.error) {
          self.error = "zip code not found";
          self.city = "";
          $(".error").addClass("no");
        } else {
          self.city = result.city + "," + result.state;
          self.recipient.contact_zipcode_name = self.city;
          self.recipient.contact_zipcode = self.zip;
          $(".display").addClass("animated fadeInDown");
        }
        console.log(result);
      });
    },
  },
};
</script>
