<template>
    <div id="responsive_edit" class="modal fade" tabindex="-1" data-width="70%">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title"><i class="icon-users"></i> Edit Request Label</h4>

        </div>
        <div class="modal-body">
            <div class="row">
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form action="#" class="form-horizontal">
                        <div class="form-body">
                            <form-error :errors="errors" field="customer_code" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Customer Code </label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon input-circle-left">
                                            <i class="fa fa-code"></i>
                                        </span>
                                        <input type="text" class="form-control input-circle-right" placeholder="Customer Code Custom"
                                            v-model="customer.customer_code" @change="changeCustomerCode(customer.customer_code)">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="sender_name" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Sender Name</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon input-circle-left">
                                            <i class="fa fa-code"></i>
                                        </span>
                                        <input type="text" class="form-control input-circle-right" placeholder="Sender Name"
                                            v-model="customer.sender_name">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="address" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Sender Address</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                    <span class="input-group-addon input-circle-left">
                                        <i class="fa fa-info-circle"></i>
                                    </span>
                                    <input type="text" class="form-control input-circle-right" placeholder="Sender Address" v-model="customer.address">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="zipcode" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Zipcode</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                    <span class="input-group-addon input-circle-left">
                                        <i class="fa fa-info-circle"></i>
                                    </span>
                                    <input type="text" class="form-control input-circle-right" v-model="zip_" maxlength="5" placeholder="ex: 94301">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="city" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">City</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <div v-if="error_" class="error form-control input-circle">{{error_}}</div>
                                        <div v-if="city_" class="display form-control input-circle">{{city_}}</div>
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="receiver_name" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Recipient Name</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                    <span class="input-group-addon input-circle-left">
                                        <i class="fa fa-info-circle"></i>
                                    </span>
                                    <input type="text" class="form-control input-circle-right" placeholder="Recipient Name" v-model="customer.receiver_name">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="receiver_name" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Recipient Address</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                    <span class="input-group-addon input-circle-left">
                                        <i class="fa fa-info-circle"></i>
                                    </span>
                                    <input type="text" class="form-control input-circle-right" placeholder="Recipient Address" v-model="customer.receiver_address">
                                    </div>
                                </div>
                            </form-error>
                        </div>
                    </form>
                    <!-- END FORM-->
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-outline dark">Close</button>
            <button type="button" class="btn green" @click="updateCustomer()">{{ (isSending) ? 'Sending ...' : 'Save'}}
            </button>
        </div>
    </div>
</template>
<script>
    export default{
        props: {
            customerProp: {
                type: Object,
                default: function () {
                    return {
                        sender_name: '',
                        customer_code: '',
                        address: '',
                        zipcode: '',
                        receiver_name: '',
                        receiver_address: '',
                    }
                }
            },
            zip_:""
        },
        data: function () {
            return {
                isUpdated: false,
                showError: false,
                errors: '',
                isChecked:0,
                isSending: false,
                city_: " ",
                error_: ""
            }
        },
        computed: {
            customer() {
                return this.customerProp;
            },
        },
        created: function () {
            console.log('customer_edit_form created');
        },
        beforeMount: function () {
            console.log('customer_edit_form beforeMount');
        },
        mounted: function () {
            console.log('user_form mounted');
            var _self = this;
            $('#responsive_edit').on('hidden.bs.modal', function (e) {
                _self.$emit('close');
                console.log('run close');
                _self.errors = '';
            });
            
        },
        updated: function () {
            console.log('customer_edit_form updated');
        },
        beforeDestroy: function () {
            console.log('customer_edit_form beforeDestroy');
        },
        watch: {
            zip_: function() {
                if (this.zip_.length === 5) {
                    this.getCity_();
                    this.error_ = "";
                    $(".error").removeClass("no");
                }
                if (this.zip_.length < 5) {
                    this.city_ = "";
                    this.error_ = "hey, that's not a zipcode";
                    $(".error").addClass("no");
                }
            }
        },
        methods: {
            updateCustomer: function () {
                var _self = this;
                if(!this.isSending) {
                    this.isSending = true;
                    if (this.customer.id) {
                        this.customer.check = this.isChecked;
                        this.$http.put(AppData.baseUrl+'/api/request-label/'+_self.customer.id, _self.customer).then((response) => {
                            _self.isSending = false;
                            var customer = response.data.data;
                            eventHub.$emit("REQUESTLABEL_UPDATED", customer);
                            $('.modal.in').modal('hide') ;
                            _self.errors = '';
                            _self.user = customer;
                            showToast('Updated request label successfully', 'Request Label information has been updated', 'success');
                        }, (error) => {
                            _self.isSending = false;
                            if (error.data && error.data.data) {
                                _self.errors = error.data.data;
                            }
                            showToast('Updated request label failed', error.data.message , 'error');
                        });
                    }
                }
            },
            getCity_: function() {
                let self = this;
                $.getJSON("https://ZiptasticAPI.com/" + this.zip_, function(result) {
                    if (result.error) {
                    self.error_ = "zip code not found";
                    self.city_ = "";
                    $(".error").addClass("no");
                    } else {
                        self.city_ = result.city + "," + result.state;
                        self.customer.zipcode = self.zip_;
                    }
                    console.log(result);
                });
            },
            changeCustomerCode(customer_code) {
                var _self = this;
                _self.customer.receiver_address = "14936 Dillow St, #" + _self.customer.customer_code + ", Westminster, CA 92683";
            },
        }
    }
</script>
