<template>
  <div>
    <div class="row">
      <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="#" class="form-horizontal">
          <div class="form-body">
            <!-- START Form Info-->
            <div class="portlet light bordered col-md-12 padding-10" id="sender-info-block">
              <div class="portlet-title">
                <div class="caption font-dark">
                  <i class="icon-user font-dark"></i>
                  <span class="caption-subject bold uppercase">Information</span>
                </div>
                <div class="actions">
                  <div class="btn-group btn-group-devided"></div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <h3>Sender info</h3>

                  <form-error
                    :errors="errors"
                    field="service_type"
                    error-class="col-md-offset-3 col-md-8"
                  >
                    <label class="col-md-4 control-label">Customer code(*)</label>
                    <div class="col-md-8">
                      <div class="input-group">
                        <span class="input-group-addon input-circle-left">
                          <i class="fa fa-indent"></i>
                        </span>
                        <input
                          :disabled="!isCreating"
                          class="form-control"
                          @change="SearchCustomer()"
                          v-model="user.customer_code"
                        />
                      </div>
                    </div>
                  </form-error>

                  <form-error
                    :errors="errors"
                    field="service_type"
                    error-class="col-md-offset-3 col-md-8"
                  >
                    <label class="col-md-4 control-label">Sender(*)</label>
                    <div class="col-md-8">
                      <div class="input-group">
                        <span class="input-group-addon input-circle-left">
                          <i class="fa fa-indent"></i>
                        </span>
                        <input
                          :disabled="!isCreating"
                          v-model="user.sender_name"
                          class="form-control"
                        />
                      </div>
                    </div>
                  </form-error>

                  <form-error
                    :errors="errors"
                    field="service_type"
                    error-class="col-md-offset-3 col-md-8"
                  >
                    <label class="col-md-4 control-label">Address(*)</label>
                    <div class="col-md-8">
                      <div class="input-group">
                        <span class="input-group-addon input-circle-left">
                          <i class="fa fa-indent"></i>
                        </span>
                        <input :disabled="!isCreating" class="form-control" v-model="user.address" />
                      </div>
                    </div>
                  </form-error>

                  <form-error
                    :errors="errors"
                    field="service_type"
                    error-class="col-md-offset-3 col-md-8"
                  >
                    <label class="col-md-4 control-label">Zip code(*)</label>
                    <div class="col-md-8">
                      <div class="input-group">
                        <span class="input-group-addon input-circle-left">
                          <i class="fa fa-indent"></i>
                        </span>
                        <input
                          :disabled="!isCreating"
                          @change="checkZipcode(user.zipcode)"
                          class="form-control"
                          v-model="user.zipcode"
                        />
                      </div>
                    </div>
                  </form-error>
                  <form-error :errors="errors" field="city" error-class="col-md-offset-3 col-md-8">
                    <label class="col-md-4 control-label">City</label>
                    <div class="col-md-8">
                      <div class="input-group">
                        <div v-if="error_" class="error form-control input-circle">{{error_}}</div>
                        <div v-if="city_" class="display form-control input-circle">{{city_}}</div>
                      </div>
                    </div>
                  </form-error>
                </div>

                <div class="col-md-6">
                  <h3>Receiver info</h3>
                  <form-error
                    :errors="errors"
                    field="service_type"
                    error-class="col-md-offset-3 col-md-8"
                  >
                    <label class="col-md-4 control-label">Receiver Code</label>
                    <div class="col-md-8">
                      <div class="input-group">
                        <span class="input-group-addon input-circle-left">
                          <i class="fa fa-indent"></i>
                        </span>
                        <select
                          :disabled="!isCreating"
                          class="form-control"
                          v-model="user.receiver_id"
                          @change="changeReceiver()"
                        >
                        <option value="" selected>Select Receiver</option>
                        <option v-for="recipient in recipients" :value="recipient.id">{{recipient.contact_code}}-{{recipient.contact_phone}}</option>
                        </select>
                      </div>
                    </div>
                  </form-error>

                  <form-error
                    :errors="errors"
                    field="status"
                    error-class="col-md-offset-3 col-md-8"
                  >
                    <label class="col-md-4 control-label">Receiver Name</label>
                    <div class="col-md-8">
                      <div class="input-group">
                        <span class="input-group-addon input-circle-left">
                          <i class="fa fa-indent"></i>
                        </span>
                        <input disabled="true" class="form-control" v-model="user.receiver_name" />
                      </div>
                    </div>
                  </form-error>

                  <form-error
                    :errors="errors"
                    field="status"
                    error-class="col-md-offset-3 col-md-8"
                  >
                    <label class="col-md-4 control-label">Receiver Address</label>
                    <div class="col-md-8">
                      <div class="input-group">
                        <span class="input-group-addon input-circle-left">
                          <i class="fa fa-indent"></i>
                        </span>
                        <input disabled="true" class="form-control" v-model="user.receiver_address" />
                      </div>
                    </div>
                  </form-error>
                </div>
              </div>
            </div>
            <!-- END Form Info-->
            <!-- START Form packages-->
            <div class="portlet light bordered col-md-12 padding-10" id="package-info-block">
              <div class="portlet-title">
                <div class="caption font-dark">
                  <i class="icon-layers font-dark"></i>
                  <span class="caption-subject bold uppercase">Packages</span>
                </div>
                <div class="actions">
                  <div class="btn-group btn-group-devided"></div>
                </div>
              </div>
              <div class="row package-info">
                <div class="col-md-6">
                  <form-error
                    :errors="errors"
                    field="status"
                    error-class="col-md-offset-3 col-md-8"
                  >
                    <label class="col-md-4 control-label">Date Send(*)</label>
                    <div class="col-md-8">
                      <div class="input-group">
                        <Datepicker
                          v-model="user.send_date"
                          :disabled="!isCreating"
                          placeholder="Please select send date"
                          :disabled-dates="disabledDates"
                          @change="getPackage()"
                          format="yyyy-MM-dd"
                          input-class="form-control date-color"
                        ></Datepicker>
                      </div>
                    </div>
                  </form-error>
                </div>
                <div class="col-md-6">
                  <form-error
                    :errors="errors"
                    field="status"
                    error-class="col-md-offset-3 col-md-8"
                  >
                    <label class="col-md-4 control-label">Package Number(*)</label>
                    <div class="col-md-8">
                      <div class="input-group">
                        <select
                          class="form-control"
                          v-model="package_num"
                          :disabled="!isCreating"
                          @change="changePackage(package_num)"
                        >
                          <option value="0">Select package</option>
                          <option v-for="n in 10" :value="n">{{n}}</option>
                        </select>
                      </div>
                    </div>
                  </form-error>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div id="list_package" v-html="htmlContext"></div>
                </div>
                <div class="col-md-6" v-if="package_num != 0">
                  <div class="row">
                    <div class="col-md-12">
                      <form-error
                        :errors="errors"
                        field="status"
                        error-class="col-md-offset-3 col-md-8"
                      >
                        <label class="col-md-4 control-label">Delivery Company(*)</label>
                        <div class="col-md-8">
                          <div class="input-group">
                            <select
                              v-model="user.delivery_company"
                              @change="change_delivery_company"
                              class="form-control"
                              :disabled="!isCreating"
                            >
                              <option value="0">Select Delivery Company</option>
                              <option value="1">UPS</option>
                              <option value="2">Fedex</option>
                            </select>
                          </div>
                        </div>
                      </form-error>
                      <form-error
                        :errors="errors"
                        v-if="user.delivery_company != 0"
                        field="status"
                        error-class="col-md-offset-3 col-md-8"
                      >
                        <label class="col-md-4 control-label">Service Option(*)</label>
                        <div class="col-md-8">
                          <div class="input-group">
                            <select
                              v-model="user.service_option"
                              class="form-control"
                              :disabled="!isCreating"
                            >
                              <option value="0">Select Service Option</option>
                              <option v-for="service in list_service" :value="service.option">{{service.description}}</option>
                            </select>
                          </div>
                        </div>
                      </form-error>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- END Form packages-->
          </div>
        </form>
        <!-- END FORM-->
      </div>
    </div>
    <div class="col center-align text-center btn-request-label">
      <div>
        <button
          type="button"
          class="btn green"
          @click="updateUser()"
          v-if="isCreating"
        >{{ (isSending) ? 'Sending ...' : 'Create Request'}}</button>
        <button type="button" class="btn green" v-if="isCreating" @click="addNew()">Reset</button>
        <!-- <button type="button" class="btn green btn-circle" v-if="!isCreating">Print</button> -->
        <button
          type="button"
          class="btn btn-secondary"
          v-if="!isCreating"
          @click="addNew()"
        >Add New Request</button>
      </div>
    </div>
  </div>
</template>
<style>
.date-color {
  background-color: white !important;
}
</style>
<script>
import Datepicker from "vuejs-datepicker";
import Multiselect from "vue-multiselect";
Vue.component("multiselect", Multiselect);
export default {
  props: {
    userProp: {
      type: Object,
      default: function() {
        return {
          sender_name: "",
          send_date: "",
          customer_code: "",
          address: "",
          zipcode: "",
          tracking_number:"",
          receiver_id:"",
          receiver_name:"",
          receiver_address: "",
          delivery_company: "0",
          service_option: "0"
        };
      }
    }
  },
  data: function() {
    return {
      package: {
        request_label_id: 1,
        weight: "",
        weight_unit: "Kg",
        height: "",
        width: "",
        length: "",
        unit: "Kg",
        zipcode: "1234"
      },
      isSending: false,
      customers: [],
      recipients:[],
      errors: {},
      isCreating: true,
      zipcode_error: false,
      city_: " ",
      error_: "",
      package_num: 0,
      send_date: "",
      disabled: false,
      htmlContext: "",
      list_package: [],
      zip_code: "",
      rate_preview: 0,
      list_service: [],
      disabledDates: {
        to: new Date()
      },
      selected: [],
      list_recipient:[]
    };
  },
  computed: {
    user() {
      return this.userProp;
    }
  },
  components: {
    Datepicker,
    Multiselect 
  },
  created() {
    var _self = this;
  },
  mounted() {
    var _self = this;
    $(document).on("change", ".package-info", function() {
      /* if (_self.user.service_option != 0) {
        _self.calcu_service();
      }*/
    });
  },
  methods: {
    updateUser: function() {
      var _self = this;
      _self.list_package = [];
      if (_self.user.customer_code === "") {
        showToast("error", "Customer code require", "error");
        return;
      } else if (_self.user.sender_name === "") {
        showToast("error", "Sender name require", "error");
        return;
      } else if (_self.user.address === "") {
        showToast("error", "Address require", "error");
        return;
      } else if (_self.user.zipcode === "") {
        showToast("error", "Zipcode require", "error");
        return;
      } else if (_self.user.receiver_id === "") {
        showToast("error", "Receiver code require", "error");
        return;
      }else if (_self.user.receiver_name === "") {
        showToast("error", "Receiver name require", "error");
        return;
      } else if (_self.user.receiver_address === "") {
        showToast("error", "Receiver address require", "error");
        return;
      } else if (_self.user.send_date === "" || _self.user.send_date === null) {
        showToast("error", "Send date require", "error");
        return;
      } else if (_self.package_num == "" || _self.package_num == 0) {
        showToast("error", "Package require", "error");
        return;
      }else if (_self.user.delivery_company === "" || _self.user.delivery_company == 0) {
        showToast("error", "Delivery company require", "error");
        return;
      }else if (
        _self.user.service_option === "0" ||
        _self.user.service_option === null
      ) {
        showToast("error", "Service option require", "error");
        return;
      } else {
        var check_aw = true
        // check dimension weight and actual weight
        for (let i = 0; i < _self.package_num; i++) {
          var weight = parseFloat($("#weigth_" + (i + 1)).val());
          var width = parseFloat($("#width_" + (i + 1)).val());
          var height = parseFloat($("#height_" + (i + 1)).val());
          var length = parseFloat($("#length_" + (i + 1)).val());
          if(weight == "" || isNaN(weight)){
            showToast("error", "Weight of package "+ (i+1) +" require or must be number", "error");
            return;
          }  if(weight != "" & weight > 50){
            showToast("error", "Weight of package "+ (i+1) +" cannot more than 50 LBS", "error");
            return;
          } else if(width == "" || isNaN(width)) {
            showToast("error", "width of package "+ (i+1) +" require or must be number", "error");
            return;
          } else if(height == "" || isNaN(height)) {
            showToast("error", "Height of package "+ (i+1) +" require or must be number", "error");
            return;
          } else if(length == "" || isNaN(length)) {
            showToast("error", "Length of package "+ (i+1) +" require or must be number", "error");
            return;
          }
          var dimensionWeight = width*height*length/139;
          if(dimensionWeight > weight){
            check_aw = false;
          }
        }
        if (!this.isSending & check_aw) {
          this.checkZipcode(_self.user.zipcode);
          if (!_self.zipcode_error) {
            _self.zip_code = _self.user.zipcode;
            var day =
              _self.user.send_date.getDate() < 10
                ? "0" + _self.user.send_date.getDate()
                : _self.user.send_date.getDate();
            var month =
              _self.user.send_date.getMonth() < 10
                ? "0" + _self.user.send_date.getMonth()
                : _self.user.send_date.getMonth();
            var date =
              _self.user.send_date.getFullYear() + "-" + month + "-" + day;
            _self.user.send_date = date;
            var city = _self.city_.split(",")[0];
            _self.user.city = city;
            var state = _self.city_.split(",")[1];
            _self.user.state = state;
            for (let i = 0; i < _self.package_num; i++) {
              var weight = $("#weigth_" + (i + 1)).val();
              var weight_unit = $("#weight_unit_" + (i + 1)).val();
              var width = $("#width_" + (i + 1)).val();
              var height = $("#height_" + (i + 1)).val();
              var length = $("#length_" + (i + 1)).val();
              var unit = $("#unit_" + (i + 1)).val();
              var description = $("#description_" + (i + 1)).val();
              _self.list_package.push({
                sender_name: _self.user.sender_name,
                receiver_name: _self.user.receiver_name,
                description: description,
                city: city,
                state: state,
                send_date: date,
                weight: weight,
                weight_unit: weight_unit,
                width: width,
                height: height,
                length: length,
                unit: unit,
                zipcode: _self.user.zipcode,
                service_option: _self.user.service_option,
                request_label_id: 1,
                saved: true
              });
            }
            this.isSending = true;
            this.$http.post("/api/request-label", _self.user).then(
              response => {
                this.submitPackage(response.data.data);
                _self.isSending = false;
                _self.isCreating = false;
                // showToast(
                //   "Created request label successfully",
                //   "Request label's information has been created",
                //   "success"
                // );
              },
              error => {
                _self.isSending = false;
                if (error.data && error.data.data) {
                  _self.errors = error.data.data;
                }
                showToast(
                  "Created request label failed",
                  "Request label's information has not been created",
                  "error"
                );
              }
            );
          }
        } else {
          _self.isSending = false;
          showToast(
            "Created request label failed",
            "Check again Package: deminsion weight less than actual weight",
            "error"
          );
        }
      }
    },
    loadCustomer: function() {
      var _self = this;
      App.blockUI({
        target: "#package-info-block",
        animate: true
      });
      this.$http
        .get("/api/list-customer")
        .then(function(response) {
          _self.customers = response.data;
          this.loadRecipient(_self.customer.id);
          App.unblockUI("#sender-info-block");
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    loadRecipient: function(customer_id) {
      var _self = this;
      this.$http
        .get("/api/list-recipient/"+customer_id)
        .then(function(response) {
          _self.recipients = response.data.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    SearchCustomer: function() {
      var _self = this;
      this.$http
        .get("/api/get-customer/" + _self.user.customer_code)
        .then(function(response) {
          _self.customers = response.data.data;
          this.loadRecipient(_self.customers[0].id);
          _self.user.receiver_id = "";
          _self.user.receiver_name ="";
          if (_self.customers.length != 0) {
            _self.customers.forEach(element => {
              _self.user.sender_name =
                element.firstname + " " + element.lastname;
              _self.user.customer_code = element.customer_code;
              _self.user.zipcode = element.zipcode;
              _self.user.address = element.address;
              this.checkZipcode(_self.user.zipcode);
            });
          }
          _self.user.receiver_address =
            "14936 Dillow St, #" +
            _self.user.customer_code +
            ", Westminster, CA 92683";
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    checkZipcode: function(zipcode) {
      let _self = this;
      _self.error_ = "";
      $.getJSON("https://ZiptasticAPI.com/" + zipcode, function(result) {
        if (result.error) {
          showToast("warning", "hey, that's not a zipcode!", "warning");
          _self.zipcode_error = true;
          _self.city_ = "";
          _self.error_ = "hey, that's not a zipcode!";
          $(".error").addClass("no");
        } else {
          if (_self.user.address == "") {
            _self.user.receiver_address =
              "14936 Dillow St, #" +
              _self.user.customer_code +
              ", Westminster, CA 92683";
          }
          _self.user.zipcode = zipcode;
          _self.zipcode_error = false;
          _self.city_ = result.city + "," + result.state;
        }
      });
    },
    addNew: function() {
      var _self = this;
      _self.user.zipcode = "";
      _self.user.customer_code = "";
      _self.user.receiver_name = "";
      _self.user.receiver_address = "";
      (_self.user.sender_name = ""), (_self.user.address = "");
      _self.isCreating = true;
      _self.zipcode_error = false;
      _self.user.send_date = "";
      _self.city_ = "";
      _self.htmlContext = "";
      _self.package_num = 0;
      _self.user.service_option = "0";
      _self.rate_preview = 0;
    },
    changePackage: function(package_num) {
      var _self = this;
      var _html = "";
      _self.rate_preview = 0;
      console.log(package_num);
      _self.htmlContext = "";
      var i = 0;
      for (i = 0; i < package_num; i++) {
        console.log("in---" + i);
        _html +=
          '<div class="col-md-12" style="border:1px solid"><div class="col-md-12">';
        _html +=
          '<div class="col-md-offset-5 col-md-12"><b class="package-number">PACKAGE ' +
          (i + 1) +
          '</b></div> <div class="col-md-11">(*)<i class="request_label_note">Thùng hàng 50lbs max và dimension weight nên < actual weight</i></div>';
        _html +=
          '<form-error :errors="errors" field="weight" error-class="col-md-offset-3 col-md-8" >';
        _html +=
          '<div class="col-md-12"><label class="col-md-3 control-label">Weight</label></div>';
        _html += '<div class="col-md-12">';
        _html +=
          '<div class="col-md-6"><input id="weigth_' +
          (i + 1) +
          '" class="form-control input-small package-info" /></div>';
        _html +=
          '<div class="col-md-6"><select id="weight_unit_' +
          (i + 1) +
          '" class="form-control input-small input-sm">';
        _html += '      <option value="LBS">Pounds</option>';
        _html += '      <option value="KGS" disabled="true">Kilograms</option>';
        _html += "      </select>";
        _html += "</div></div></form-error></div>";
        _html += '<div class="col-md-12">';
        _html +=
          '<form-error :errors="errors" field="status" error-class="col-md-offset-3 col-md-8">';
        _html += '<div class="col-md-12">';
        _html += '<div class="col-md-6">';
        _html += '<label class="col-md-7 control-label">Width</label>';
        _html +=
          '<input id="width_' +
          (i + 1) +
          '" class="form-control input-small package-info" /></div>';
        _html += '<div class="col-md-6">';
        _html += '<label class="col-md-7 control-label">Height</label>';
        _html +=
          '<input id="height_' +
          (i + 1) +
          '" class="form-control input-small package-info" /></div>';
        _html += '<div class="col-md-12"><div class="col-md-6">';
        _html +=
          '<label class="col-md-7 control-label">Length</label></div></div>';
        _html +=
          '<div class="col-md-6"><input id="length_' +
          (i + 1) +
          '" class="form-control input-small package-info" /></div>';
        _html +=
          '<div class="col-md-6"><select id="unit_' +
          (i + 1) +
          '" class="form-control input-small input-sm">';
        _html +=
          '<option value="IN">Inches</option> <option value="CM" disabled="true">Centimeters</option></select> </div>';
        _html += '<div class="col-md-12"><div class="col-md-6">';
        _html +=
          '<label class="col-md-6 control-label">Note</label></div></div>';
        _html +=
          '<div class="col-md-11"><textarea id="description_' +
          (i + 1) +
          '" class="form-control input-sm" row="3"></textarea></div>';
        //if (i == 0) {
          _html +=
            '<div class="col-md-11">(*)<i class="request_label_note">Thông tin thùng hàng</i></div>';
        //}
        _html += "</div></div></form-error></div></div>";
      }
      _self.htmlContext = _html;
    },
    getPackage: function() {
      var _self = this;
      console.log($("send_date").val());
    },
    submitPackage: function(request_label) {
      var _self = this;
      for (let i = 0; i < _self.list_package.length; i++) {
        _self.list_package[i].request_label_id = request_label.id;
      }
      _self.rate_preview = 0;
      this.$http
        .post("/api/request-label-package", _self.list_package)
        .then(function(response) {
          showToast(
            "Created request label successfully",
            "Request label's information has been created",
            "success"
          );
          setTimeout(function(){
              location.reload(); 
            }, 3000);
          //_self.htmlContext = "";
        })
        .catch(function(error) {
          console.log(error);
        });
      //_self.list_package = [];
    },
    calcu_service: function() {
      var _self = this;
      _self.list_package = [];
      _self.rate_preview = 0;
      App.blockUI({
        target: "#package-info-block",
        animate: true
      });
      this.checkZipcode(_self.user.zipcode);
      if(_self.zipcode_error){
        App.unblockUI("#package-info-block");
        _self.user.service_option = "0";
      } else {
        if (_self.user.customer_code === "") {
          showToast("error", "Customer code require", "error");
          _self.user.service_option = "0";
          App.unblockUI("#package-info-block");
          return;
        } else if (_self.user.sender_name === "") {
          showToast("error", "Sender name require", "error");
          _self.user.service_option = "0";
          App.unblockUI("#package-info-block");
          return;
        } else if (_self.user.address === "") {
          showToast("error", "Address require", "error");
          _self.user.service_option = "0";
          App.unblockUI("#package-info-block");
          return;
        } else if (_self.user.zipcode === "") {
          showToast("error", "Zipcode require", "error");
          _self.user.service_option = "0";
          App.unblockUI("#package-info-block");
          return;
        } else if (_self.user.receiver_name === "") {
          showToast("error", "Receiver name require", "error");
          _self.user.service_option = "0";
          App.unblockUI("#package-info-block");
          return;
        } else if (_self.user.receiver_address === "") {
          showToast("error", "Receiver address require", "error");
          _self.user.service_option = "0";
          App.unblockUI("#package-info-block");
          return;
        } else if (
          _self.user.send_date === "" ||
          _self.user.send_date === null
        ) {
          showToast("error", "Send date require", "error");
          _self.user.service_option = "0";
          App.unblockUI("#package-info-block");
          return;
        } else if (
          _self.user.service_option === "0" ||
          _self.user.service_option === null
        ) {
          showToast("error", "Service option require", "error");
          _self.user.service_option = "0";
          App.unblockUI("#package-info-block");
          return;
        } else if (_self.user.send_date == "" || _self.user.send_date == null) {
          showToast("error", "Please select send date", "error");
          _self.user.service_option = "0";
          App.unblockUI("#package-info-block");
          return;
        }
        var day =
          _self.user.send_date.getDate() < 10
            ? "0" + _self.user.send_date.getDate()
            : _self.user.send_date.getDate();
        var month =
          _self.user.send_date.getMonth() < 10
            ? "0" + (_self.user.send_date.getMonth() + 1)
            : _self.user.send_date.getMonth() + 1;
        var date = _self.user.send_date.getFullYear() + "-" + month + "-" + day;
        var city = _self.city_.split(",")[0];
        var state = _self.city_.split(",")[1];
        for (let i = 0; i < _self.package_num; i++) {
          var weight = $("#weigth_" + (i + 1)).val();
          var weight_unit = $("#weight_unit_" + (i + 1)).val();
          var width = $("#width_" + (i + 1)).val();
          var height = $("#height_" + (i + 1)).val();
          var length = $("#length_" + (i + 1)).val();
          var unit = $("#unit_" + (i + 1)).val();
          var description = $("#description_" + (i + 1)).val();
          _self.list_package.push({
            sender_name: _self.user.sender_name,
            receiver_name: _self.user.receiver_name,
            description: description,
            city: city,
            state: state,
            send_date: date,
            weight: weight,
            weight_unit: weight_unit,
            width: width,
            height: height,
            length: length,
            unit: unit,
            zipcode: _self.user.zipcode,
            service_option: _self.user.service_option,
            request_label_id: 1
          });
          if (
            _self.list_package[i].weight == "" ||
            (_self.list_package[i].weight == null &&
              _self.list_package.length != 0)
          ) {
            showToast(
              "error",
              "Please enter weight package " + (i + 1),
              "error"
            );
            _self.user.service_option = "0";
            App.unblockUI("#package-info-block");
            return;
          } else if (
            _self.list_package[i].width == "" ||
            (_self.list_package[i].width == null &&
              _self.list_package.length != 0)
          ) {
            showToast(
              "error",
              "Please enter width package " + (i + 1),
              "error"
            );
            _self.user.service_option = "0";
            App.unblockUI("#package-info-block");
            return;
          } else if (
            _self.list_package[i].height == "" ||
            (_self.list_package[i].height == null &&
              _self.list_package.length != 0)
          ) {
            showToast(
              "error",
              "Please enter height package " + (i + 1),
              "error"
            );
            _self.user.service_option = "0";
            App.unblockUI("#package-info-block");
            return;
          } else if (
            _self.list_package[i].length == "" ||
            (_self.list_package[i].length == null &&
              _self.list_package.length != 0)
          ) {
            showToast(
              "error",
              "Please enter length package " + (i + 1),
              "error"
            );
            _self.user.service_option = "0";
            App.unblockUI("#package-info-block");
            return;
          }
        }
        if (_self.user.zipcode == null || _self.user.zipcode == "") {
          showToast("error", "Please enter zipcode", "error");
          _self.user.service_option = "0";
          App.unblockUI("#package-info-block");
          return;
        } else {
          this.$http
            .post("/api/request-label-package/rate-ups", _self.list_package)
            .then(function(response) {
              App.unblockUI("#package-info-block");
              _self.list_package = response.data.data;
              response.data.data.forEach(element => {
                _self.rate_preview += element.shippingRate;
              });
            })
            .catch(function(error) {
              App.unblockUI("#package-info-block");
              _self.user.service_option = "0";
            });
        }
      }
    },
    check_actual_weight: function() {},
    change_delivery_company : function () {
      var _self = this;
      _self.list_service= [];
      _self.user.service_option = "0";
      if(_self.user.delivery_company == 1){
        _self.list_service= [
          {option:"14", description:'UPS Next Day Air Early AM'},
          {option:"01", description:'UPS Next Day Air'},
          {option:"13", description:'Next Day Air Saver'},
          {option:"59", description:'UPS Second Day Air AM'},
          {option:"02", description:'UPS Second Day Air'},
          {option:"12", description:'UPS Three-Day Select'},
          {option:"03", description:'UPS Ground'}
          ]
      }else if(_self.user.delivery_company == 2){
        _self.list_service= [
          {option:"FEDEX_2_DAY", description:'FedEx 2 Day'},
          {option:"FEDEX_2_DAY_AM", description:'FEDEX 2 Day AM'},
          {option:"FIRST_OVERNIGHT", description:'FedEx First Overnight'},
          {option:"STANDARD_OVERNIGHT", description:'FedEx Standard Overnight'},
          {option:"PRIORITY_OVERNIGHT", description:'FedEx Priority Overnight'},
          {option:"FEDEX_EXPRESS_SAVER", description:'FedEx Express Saver'}
          ]
      }
    },
    changeReceiver: function () {
      var _self = this;
      if(_self.user.receiver_id){
      var index = _self.recipients.findIndex(item => item.id == _self.user.receiver_id)
      _self.user.receiver_name = _self.recipients[index].contact_firstname +" "+ _self.recipients[index].contact_lastname;
      }
      else{
        _self.user.receiver_name= "";
      }
    }
  }
};
</script>
