<template>
  <div class="portlet light bordered" id="request-label-list-block">
    <div v-for="n in showEditModal">
      <request-label-edit-form
        @close="onCloseEdit()"
        :zip_="edit_zipcode"
        :customerProp="current_customer"
      ></request-label-edit-form>
    </div>
    <div v-for="n in showEditPackageModal">
      <edit-package
        @close="onCloseEditpackage()"
        :customerProp="current_customer_package"
        :current_package_prod="current_package_prod"
        :list_package_prod="list_package_prod"
      ></edit-package>
    </div>
    <div class="portlet-title">
      <div class="caption">
        <i class="icon-users font-red"></i>
        <span class="caption-subject font-red sbold uppercase">List All</span>
      </div>
      <div class="actions">
        <a class="btn sbold green btn-circle" href="../request-label" role="button" target="_blank">
          Add New
          <i class="fa fa-plus"></i>
        </a>
      </div>
    </div>
    <div class="portlet-body">
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table
              class="table table-striped table-bordered table-hover no-footer"
              role="grid"
              id="recipient-table"
            >
              <thead>
                <tr role="row" class="heading heading-custom">
                  <th>Action</th>
                  <th>Status</th>
                  <th>Customer Code</th>
                  <th>Sender</th>
                  <th>Recipient</th>
                  <th>Address Recipient</th>
                  <th>Package</th>
                  <th class="nowrap">Delivery Company</th>
                  <th class="nowrap">Tracking Number</th>
                </tr>
                <tr>
                  <th></th>
                  <th>
                    <div class="form-group">
                      <select v-model="filterStatus" @change="filterChange" class="form-control form-control-select">
                        <option value="-1">All</option>
                        <option v-for="status in requestLabelStatus" :value="status.index">{{status.name}}</option>
                      </select>
                    </div>
                  </th>
                  <th>
                    <div class="form-group">
                      <input
                        class="form-control"
                        type="text"
                        v-model="filterCustomerCode"
                        @keyup.enter="filterChange"
                      />
                    </div>
                  </th>
                  <th>
                    <div class="form-group">
                      <input
                        class="form-control"
                        type="text"
                        v-model="filterCustomerName"
                        @keyup.enter="filterChange"
                      />
                    </div>
                  </th>
                  <th></th>
                  <th></th>
                  <th>
                    
                  </th>
                  <th>
                    <div class="form-group">
                      <select v-model="filterDeliveryCompany" @change="filterChange"  class="form-control form-control-select">
                        <option value="-1">All</option>
                        <option v-for="delivery in deliveryCompany" :value="delivery.index">{{delivery.name}}</option>
                      </select>
                    </div>
                  </th>
                  <th>
                    <div class="form-group">
                      <input
                        class="form-control"
                        type="text"
                        v-model="filterTrackingNumber"
                        @keyup.enter="filterChange"
                      />
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-if="pagination &&  pagination.data && pagination.data.length > 0"
                  v-for="model in pagination.data"
                  role="row"
                  class="odd"
                >
                  <td class="nowrap">
                    <button v-if="model.status == 2" class="btn purple" @click="sendEmail(model.id)">
                      <i class="fa fa-mail-forward"></i>
                      Send Email
                    </button>
                    <button v-if="model.status == 1" class="btn btn-success btn-default" @click="confirmRequestLabel(model.id)">
                      <i class="fa fa-check-square"></i>
                      Confirm
                    </button>
                    <button v-if="model.status == 1" class="btn red btn-default tooltip-custom" @click="deleteRequestLabel(model.id)">
                      <i class="fas fa-trash"></i>
                      <span class="tooltiptext-right">Cancel Request</span>
                    </button>

                    <button v-if="model.status == 1"
                      class="btn btn-info tooltip-custom"
                      @click="onClickEditButton(model)"
                      data-toggle="modal"
                      href="#responsive_edit"
                    >
                      <i class="fa fa-edit"></i>
                      <span class="tooltiptext-right">Edit Information</span>
                    </button>
                  </td>
                  <td>
                    {{requestLabelStatus[(model.status-1)].name}}
                  </td>
                  <td>{{model.customer_code}}</td>
                  <td>
                    <b>{{model.sender_name}}</b>
                    <br/>
                    {{model.email}}
                    <br/>
                    {{model.address}}
                    <br/>
                    {{model.zipcode}}
                  </td>
                  <td>{{model.receiver_name}}</td>
                  <td>{{model.receiver_address}}</td>
                  <td>
                    <button
                      class="btn btn-primary btn-circle tooltip-custom"
                      @click="onClickEditPackageButton(model)"
                      data-toggle="modal"
                      href="#responsive_edit_package"
                    >{{model.volumn}}
                    <span class="tooltiptext">Click view detail package(s)</span>
                    </button>
                  </td>
                  <td>
                    {{deliveryCompany[(model.delivery_company-1)].name}}
                  </td>
                  <td>
                    <p class="label-tracking-img" v-if="model.tracking_number" v-for="tracking_number_item in model.tracking_number.split(';')">
                      <a v-if="tracking_number_item && model.delivery_company == 1" target="_blank" :href="'storage/tracking_number/ups/'+tracking_number_item+'.pdf'">{{tracking_number_item}}</a>
                      <a v-if="tracking_number_item && model.delivery_company == 2" target="_blank" :href="'storage/tracking_number/fedex/'+tracking_number_item+'.pdf'">{{tracking_number_item}}</a>
                    </p>
                  </td>
                </tr>
                <tr v-if="!pagination || pagination.data && pagination.data.length == 0">
                  <td colspan="10">No Data - No find data</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div v-if="pagination &&  pagination.data && pagination.data.length > 0">
        <div class="col-md-12">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <div class="table-center pagination-detail"><span class="pagination-info">Showing <b>{{pagination.current_page}}</b> to <b>{{pagination.last_page}}</b> of <b>{{pagination.total}}</b> rows</span></div>
            <ul class="pager">
              <li
                data-lp="1"
                class="previous"
                v-bind:class="pagination.current_page == 1?'disabled':''"
              >
                <a href="javascript:void(0);" @click="backPage()">
                  <i class="fa fa-angle-left"></i>
                </a>
              </li>
              <span>{{pagination.current_page}}/{{pagination.last_page}}</span>
              <li
                data-lp="8"
                class="next"
                v-bind:class="pagination.current_page == pagination.last_page?'disabled':''"
              >
                <a href="javascript:void(0);" @click="nextPage()">
                  <i class="fa fa-angle-right fa-4"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4"></div>
        </div>
      </div>
    </div>
  </div>
</template>
<style scoped>
.actions {
  margin-right: 10px;
}
.table-responsive .form-control {
  height: 25px;
  width: 100%;
}
.form-group {
  margin-bottom: 0px !important;
}
</style>
<script>
import RequestLabelEditForm from "./FormEdit.vue";
import EditPackage from "./EditPackage.vue";
export default {
  data: function() {
    return {
      search: "",
      pagination: {},
      filterStatus: "",
      currentPage: 1,
      filterCustomerCode: "",
      filterCustomerName: "",
      showNewModal: 1,
      showEditModal: 1,
      isEdited: false,
      current_customer: {},
      current_customer_package: {},
      origin_customer: {},
      edit_zipcode: "",
      showEditPackageModal: 1,
      deliveryCompany: [
        { index: 1, name: "UPS" },
        { index: 2, name: "FedEx"}
      ],
      requestLabelStatus: [
        { index: 1, name: "Pending" },
        { index: 2, name: "Confirmed" },
        { index: 3, name: "Cancel" }
      ],
      filterDeliveryCompany:-1,
      filterStatus:-1,
      filterTrackingNumber:"",
      list_package_prod:{},
      current_package_prod:{}
    };
  },
  props: {},
  components: {
    RequestLabelEditForm,
    EditPackage
  },
  mounted: function() {
    var _self = this;

    $(document).ready(function() {
      $('[data-toggle="popover"]').popover();
    });
    eventHub.$on("REQUESTLABEL_UPDATED", function() {
      _self.refresh();
    });
    this.refresh();
  },
  watch: {},
  computed: {
    searchQuery: function() {
      var query =
        "?orderBy=created_at&sortedBy=desc&page=" + this.currentPage + "&";
      var search = "";
      if (this.filterCustomerCode) {
        search += "customer_code=" + this.filterCustomerCode + "&";
      }
      if (this.filterCustomerName) {
        search += "customer_name=" + this.filterCustomerName + "&";
      }
      if (this.filterTrackingNumber) {
        search += "tracking_number=" + this.filterTrackingNumber + "&";
      }
      if (this.filterDeliveryCompany && this.filterDeliveryCompany >= 0) {
          search += 'delivery_company=' + this.filterDeliveryCompany + '&';
      }
      if (this.filterStatus && this.filterStatus >= 0) {
          search += 'status=' + this.filterStatus + '&';
      }
      query += search.slice(0, -1);
      return query;
    },
    pages: function() {
      var pages = [];
      if (this.pagination && this.pagination.last_page) {
        for (var i = 1; i <= this.pagination.last_page; i++) {
          pages.push(i);
        }
      }
      return pages;
    }
  },
  methods: {
    onCloseEdit() {
      this.showEditModal -= 1;
    },
    onCloseEditpackage() {
      this.showEditPackageModal -= 1;
    },
    onClickEditButton(model) {
      this.isEdited = false;
      this.current_customer = model;
      this.edit_zipcode = model.zipcode;
      this.setOriginCustomer(model);
      this.showEditModal += 1;
    },
    onClickEditPackageButton(model) {
      this.isEdited = false;
      this.current_customer_package = model;
      this.setOriginCustomer(model);
      this.loadPackageProps(model.id);
      this.showEditPackageModal += 1;
    },
    setOriginCustomer(model) {
      this.origin_customer = _.clone(model);
    },
    searchChange: _.debounce(function() {
      this.refresh();
    }, 500),
    refresh: function() {
      App.blockUI({
        target: "#request-label-list-block",
        animate: true
      });
      $(".btn-checked").html("Check Clicked");
      var _self = this;
      this.$http
        .get(
          AppData.baseUrl +
            "/api/request-label-list/pagination" +
            this.searchQuery
        )
        .then(function(response) {
          _self.pagination = response.data.data;
          App.unblockUI("#request-label-list-block");
        })
        .catch(function(error) {
          App.unblockUI("#request-label-list-block");
        });
    },
    changePage: function(index) {
      this.currentPage = index;
      this.refresh();
    },
    backPage: function() {
      if (this.currentPage > 1) {
        this.currentPage--;
        this.refresh();
      }
    },
    nextPage: function() {
      if (this.currentPage < this.pagination.last_page) {
        this.currentPage++;
        this.refresh();
      }
    },
    filterChange: function() {
      this.refresh();
    },
    deleteRequestLabel: function(id) {
      if (confirm("Are you sure you want to delete this label?")) {
        App.blockUI({
          target: "#request-label-list-block",
          animate: true
        });
        return this.$http
          .delete(AppData.baseUrl + "/api/request-label-list/" + id)
          .then(function(response) {
            App.unblockUI("#request-label-list-block");
            showToastFromResponse(response);
            this.refresh();
          })
          .catch(function(error) {
            App.unblockUI("#request-label-list-block");
            showToastFromResponse(error);
          });
      }
    },
    confirmRequestLabel: function(id) {
      if (confirm("Do you sure confirm this request?")) {
        App.blockUI({
          target: "#request-label-list-block",
          animate: true
        });
        return this.$http
          .post(AppData.baseUrl + "/api/confirm-request-label/" + id)
          .then(function(response) {
            App.unblockUI("#request-label-list-block");
            showToastFromResponse(response);
            this.refresh();
          })
          .catch(function(error) {
            App.unblockUI("#request-label-list-block");
            showToastFromResponse(error);
          });
      }
    },
    sendEmail: function(id) {
      if (confirm("Do you sure send email to customer with this request?")) {
        App.blockUI({
          target: "#request-label-list-block",
          animate: true
        });
        return this.$http
          .post(AppData.baseUrl + "/api/request-label-send-email/" + id)
          .then(function(response) {
            App.unblockUI("#request-label-list-block");
            showToastFromResponse(response);
            this.refresh();
          })
          .catch(function(error) {
            App.unblockUI("#request-label-list-block");
            showToastFromResponse(error);
          });
      }
    },
    loadPackageProps: function(request_label_id) {
      var _self = this;
      this.$http
        .get(
          AppData.baseUrl +
            "/api/request-label/list-package/" +
            request_label_id
        )
        .then(
          response => {
            _self.list_package_prod = response.data.data;
            _self.current_package_prod = response.data.data[0];
          },
          error => {}
        );
    },
  }
};
</script>
