<template>
  <div>
    <div class="row">
      <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="#" class="form-horizontal">
          <div class="form-body">
            <div class="col-md-6">
              <h3>Sender info</h3>

              <form-error
                :errors="errors"
                field="service_type"
                error-class="col-md-offset-3 col-md-8"
              >
                <label class="col-md-3 control-label">Customer code</label>
                <div class="col-md-8">
                  <div class="input-group">
                    <span class="input-group-addon input-circle-left">
                      <i class="fa fa-indent"></i>
                    </span>
                    <input
                      :disabled="!isCreating"
                      class="form-control"
                      @change="SearchCustomer()"
                      v-model="user.customer_code"
                    />
                  </div>
                </div>
              </form-error>

              <form-error
                :errors="errors"
                field="service_type"
                error-class="col-md-offset-3 col-md-8"
              >
                <label class="col-md-3 control-label">Sender</label>
                <div class="col-md-8">
                  <div class="input-group">
                    <span class="input-group-addon input-circle-left">
                      <i class="fa fa-indent"></i>
                    </span>
                    <input :disabled="!isCreating" v-model="user.sender_name" class="form-control" />
                  </div>
                </div>
              </form-error>

              <form-error
                :errors="errors"
                field="service_type"
                error-class="col-md-offset-3 col-md-8"
              >
                <label class="col-md-3 control-label">Address</label>
                <div class="col-md-8">
                  <div class="input-group">
                    <span class="input-group-addon input-circle-left">
                      <i class="fa fa-indent"></i>
                    </span>
                    <input :disabled="!isCreating" class="form-control" v-model="user.address" />
                  </div>
                </div>
              </form-error>

              <form-error
                :errors="errors"
                field="service_type"
                error-class="col-md-offset-3 col-md-8"
              >
                <label class="col-md-3 control-label">Zip code</label>
                <div class="col-md-8">
                  <div class="input-group">
                    <span class="input-group-addon input-circle-left">
                      <i class="fa fa-indent"></i>
                    </span>
                    <input
                      :disabled="!isCreating"
                      @change="checkZipcode(user.zipcode)"
                      class="form-control"
                      v-model="user.zipcode"
                    />
                  </div>
                </div>
              </form-error>
              <form-error :errors="errors" field="city" error-class="col-md-offset-3 col-md-8">
                  <label class="col-md-3 control-label">City</label>
                  <div class="col-md-8">
                      <div class="input-group">
                          <div v-if="error_" class="error form-control input-circle">{{error_}}</div>
                          <div v-if="city_" class="display form-control input-circle">{{city_}}</div>
                      </div>
                  </div>
              </form-error>
            </div>

            <div class="col-md-6">
              <h3>Receiver info</h3>
              <form-error
                :errors="errors"
                field="service_type"
                error-class="col-md-offset-3 col-md-8"
              >
                <label class="col-md-3 control-label">Receiver Name</label>
                <div class="col-md-8">
                  <div class="input-group">
                    <span class="input-group-addon input-circle-left">
                      <i class="fa fa-indent"></i>
                    </span>
                    <input
                      :disabled="!isCreating"
                      class="form-control"
                      v-model="user.receiver_name"
                    />
                  </div>
                </div>
              </form-error>

              <form-error :errors="errors" field="status" error-class="col-md-offset-3 col-md-8">
                <label class="col-md-3 control-label">Receiver Address</label>
                <div class="col-md-8">
                  <div class="input-group">
                    <span class="input-group-addon input-circle-left">
                      <i class="fa fa-indent"></i>
                    </span>
                    <input
                      :disabled="!isCreating"
                      class="form-control"
                      v-model="user.receiver_address"
                    />
                  </div>
                </div>
              </form-error>
            </div>
          </div>
        </form>
        <!-- END FORM-->
      </div>
    </div>
    <div class="row center-align">
      <div>
        <button
          type="button"
          class="btn green btn-circle"
          @click="updateUser()"
          v-if="isCreating"
        >{{ (isSending) ? 'Sending ...' : 'Save'}}</button>
        <button type="button" class="btn green btn-circle" v-if="!isCreating">Print</button>
        <button
          type="button"
          class="btn green btn-circle"
          v-if="!isCreating"
          @click="addNew()"
        >Add new</button>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    userProp: {
      type: Object,
      default: function() {
        return {
          sender_name: "",
          customer_code: "",
          address: "",
          zipcode: "",
          receiver_name: "",
          receiver_address: ""
        };
      }
    }
  },
  data: function() {
    return {
      isSending: false,
      customers: [],
      errors: {},
      isCreating: true,
      zipcode_error: false,
      city_: " ",
      error_: ""
    };
  },
  computed: {
    user() {
      return this.userProp;
    }
  },
  created() {
    var _self = this;
  },
  methods: {
    updateUser: function() {
      var _self = this;
      if (_self.user.customer_code === "") {
        showToast("error", "Customer code require", "error");
        return;
      } else if (_self.user.sender_name === "") {
        showToast("error", "Sender name require", "error");
        return;
      } else if (_self.user.address === "") {
        showToast("error", "Address require", "error");
        return;
      } else if (_self.user.zipcode === "") {
        showToast("error", "Zipcode require", "error");
        return;
      } else if (_self.user.receiver_name === "") {
        showToast("error", "Receiver name require", "error");
        return;
      } else if (_self.user.receiver_address === "") {
        showToast("error", "Receiver address require", "error");
        return;
      } else {
        if (!this.isSending) {
          this.checkZipcode(_self.user.zipcode);
          if (!_self.zipcode_error) {
            this.isSending = true;
            this.$http.post("/api/request-label", _self.user).then(
              response => {
                _self.isSending = false;
                _self.isCreating = false;
                showToast(
                  "Created request label successfully",
                  "Request label's information has been created",
                  "success"
                );
              },
              error => {
                _self.isSending = false;
                if (error.data && error.data.data) {
                  _self.errors = error.data.data;
                }
                showToast(
                  "Created request label failed",
                  "Request label's information has not been created",
                  "error"
                );
              }
            );
          }
        }
      }
    },
    loadCustomer: function() {
      var _self = this;
      this.$http
        .get("/api/list-customer")
        .then(function(response) {
          _self.customers = response.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    SearchCustomer: function() {
      var _self = this;
      this.$http
        .get("/api/get-customer/" + _self.user.customer_code)
        .then(function(response) {
          _self.customers = response.data.data;
          if (_self.customers.length != 0) {
            _self.customers.forEach(element => {
              _self.user.sender_name =
                element.firstname + " " + element.lastname;
              _self.user.customer_code = element.customer_code;
              var address = element.address.split(",");
              _self.user.address = element.address;
            });
          }
          _self.user.receiver_address =
            "14936 Dillow St, #" +
            _self.user.customer_code +
            ", Westminster, CA 92683";
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    checkZipcode: function(zipcode) {
      let _self = this;
      $.getJSON("https://ZiptasticAPI.com/" + zipcode, function(result) {
        if (result.error) {
          showToast(
            "warning",
            "hey, that's not a zipcode!",
            "warning"
          );
          _self.zipcode_error = true;
          _self.city_ = "";
          _self.error_ = "hey, that's not a zipcode!";
          $(".error").addClass("no");
        } else {
          if (_self.user.address == "") {
            _self.user.receiver_address =
              "14936 Dillow St, #" +
              _self.user.customer_code +
              ", Westminster, CA 92683";
          }
          _self.user.zipcode = zipcode;
          _self.zipcode_error = false;
          _self.city_ = result.city + "," + result.state;
        }
      });
    },
    addNew: function() {
      var _self = this;
      _self.user.zipcode = "";
      _self.user.customer_code = "";
      _self.user.receiver_name = "";
      _self.user.receiver_address = "";
      (_self.user.sender_name = ""), (_self.user.address = "");
      _self.isCreating = true;
      _self.zipcode_error = false;
    }
  }
};
</script>
