<template>
  <div>
    <div v-for="n in showNewModal">
      <recipient-form
        @close="onCloseNew()"
        :cre_countries="cre_countries"
        :customerProp="customerProp"
      ></recipient-form>
    </div>
    <div class="row">
      <div class="portlet-body form">
        <!-- BEGIN FORM-->
          <div class="form-body">
            <!-- START Form Info-->
            <div class="portlet light bordered col-md-12 padding-15" id="sender-info-block">
              <div class="portlet-title">
                <div class="caption font-dark">
                  <i class="icon-user font-dark"></i>
                  <span class="caption-subject bold uppercase">Information</span>
                </div>
                <div class="actions">
                  <div class="btn-group btn-group-devided"></div>
                  <button
                    class="btn btn-circle green"
                    @click="onClickNewButton()"
                    data-toggle="modal"
                    href="#responsive_recipient_new"
                  >Add New Recipient</button>
                </div>
              </div>
              
              <div class="row">
              <form action="#" class="form-horizontal">
                <!--sender infor-->
                <div class="col-md-6 block-customer-infor">
                  <h3>Sender info</h3>

                  <form-error
                    :errors="errors"
                    field="service_type"
                    error-class="col-md-offset-3 col-md-8"
                  >
                    <label class="col-md-4 control-label">Customer code (*)</label>
                    <div class="col-md-8">
                      <div class="input-group">
                        <span class="input-group-addon input-circle-left">
                          <i class="fa fa-indent"></i>
                        </span>
                        <input
                          placeholder="Customer Code"
                          :disabled="!isCreating"
                          class="form-control"
                          @change="SearchCustomer()"
                          @keydown.enter="SearchCustomer()"
                          v-model="user.customer_code"
                        />
                      </div>
                    </div>
                  </form-error>

                  <form-error
                    :errors="errors"
                    field="service_type"
                    error-class="col-md-offset-3 col-md-8"
                  >
                    <label class="col-md-4 control-label">Sender (*)</label>
                    <div class="col-md-8">
                      <div class="input-group">
                        <span class="input-group-addon input-circle-left">
                          <i class="fa fa-info-circle"></i>
                        </span>
                        <input
                          placeholder="Sender Name"
                          :disabled="!isCreating"
                          v-model="user.sender_name"
                          class="form-control"
                        />
                      </div>
                    </div>
                  </form-error>
                  <form-error
                    :errors="errors"
                    field="contact_email"
                    error-class="col-md-offset-3 col-md-8"
                  >
                    <label class="col-md-4 control-label">Email (*)</label>
                    <div class="col-md-8">
                      <div class="input-group">
                        <span class="input-group-addon input-circle-left">
                          <i class="fa fa-envelope"></i>
                        </span>
                        <input
                          :disabled="!isCreating"
                          type="email"
                          class="form-control"
                          placeholder="Email"
                          v-model="user.email"
                        />
                      </div>
                    </div>
                  </form-error>
                  <form-error
                    :errors="errors"
                    field="service_type"
                    error-class="col-md-offset-3 col-md-8"
                  >
                    <label class="col-md-4 control-label">Address (*)</label>
                    <div class="col-md-8">
                      <div class="input-group">
                        <span class="input-group-addon input-circle-left">
                          <i class="fa fa-address-card"></i>
                        </span>
                        <input
                          :disabled="!isCreating"
                          placeholder="Address"
                          class="form-control"
                          v-model="user.address"
                        />
                      </div>
                    </div>
                  </form-error>

                  <form-error
                    :errors="errors"
                    field="service_type"
                    error-class="col-md-offset-3 col-md-8"
                  >
                    <label class="col-md-4 control-label">Zip code (*)</label>
                    <div class="col-md-8">
                      <div class="input-group">
                        <span class="input-group-addon input-circle-left">
                          <i class="fa fa-indent"></i>
                        </span>
                        <input
                          placeholder="Zip Code"
                          :disabled="!isCreating"
                          @change="checkZipcode(user.zipcode)"
                          class="form-control"
                          v-model="user.zipcode"
                        />
                      </div>
                    </div>
                  </form-error>
                  <form-error :errors="errors" field="city" error-class="col-md-offset-3 col-md-8">
                    <label class="col-md-4 control-label">City</label>
                    <div class="col-md-8">
                      <div class="input-group">
                        <div v-if="error_" class="error form-control input-circle">{{error_}}</div>
                        <div v-if="city_" class="display form-control input-circle">{{city_}}</div>
                      </div>
                    </div>
                  </form-error>
                </div>
                <!--END sender infor-->
              </form>
              <!-- Reciever infor-->
              <form action="#" class="form-horizontal">
                <div class="col-md-6">
                  <h3>Receiver info</h3>
                  <form-error
                    :errors="errors"
                    field="service_type"
                    error-class="col-md-offset-3 col-md-8"
                  >
                    <label class="col-md-4 control-label">Receiver Code</label>
                    <div class="col-md-8">
                      <div class="input-group">
                        <span class="input-group-addon input-circle-left">
                          <i class="fa fa-indent"></i>
                        </span>
                        <select
                          placeholder="Receiver Code"
                          :disabled="!isCreating"
                          class="form-control"
                          v-model="user.receiver_id"
                          @change="changeReceiver()"
                        >
                          <option value selected>Select Receiver</option>
                          <option
                            v-for="recipient in recipients"
                            :value="recipient.id"
                          >{{recipient.contact_firstname}} {{recipient.contact_lastname}} [{{recipient.contact_phone}}] - ({{recipient.contact_code}})</option>
                        </select>
                      </div>
                    </div>
                  </form-error>

                  <form-error
                    :errors="errors"
                    field="status"
                    error-class="col-md-offset-3 col-md-8"
                  >
                    <label class="col-md-4 control-label">Receiver First Name</label>
                    <div class="col-md-8">
                      <div class="input-group">
                        <span class="input-group-addon input-circle-left">
                          <i class="fa fa-info-circle"></i>
                        </span>
                        <input
                          placeholder="Receiver First Name"
                          class="form-control"
                          v-model="recipient.contact_firstname"
                        />
                      </div>
                    </div>
                  </form-error>

                  <form-error
                    :errors="errors"
                    field="status"
                    error-class="col-md-offset-3 col-md-8"
                  >
                    <label class="col-md-4 control-label">Receiver Last Name</label>
                    <div class="col-md-8">
                      <div class="input-group">
                        <span class="input-group-addon input-circle-left">
                          <i class="fa fa-info-circle"></i>
                        </span>
                        <input
                          placeholder="Receiver Last Name"
                          class="form-control"
                          v-model="recipient.contact_lastname"
                        />
                      </div>
                    </div>
                  </form-error>

                  <form-error
                    :errors="errors"
                    field="status"
                    error-class="col-md-offset-3 col-md-8"
                  >
                    <label class="col-md-4 control-label">Receiver Phone</label>
                    <div class="col-md-8">
                      <div class="input-group">
                        <span class="input-group-addon input-circle-left">
                          <i class="fa fa-phone"></i>
                        </span>
                        <input
                          placeholder="Receiver Phone"
                          class="form-control"
                          v-model="recipient.contact_phone"
                        />
                      </div>
                    </div>
                  </form-error>

                  <form-error
                    :errors="errors"
                    field="status"
                    error-class="col-md-offset-3 col-md-8"
                  >
                    <label class="col-md-4 control-label">Receiver Email</label>
                    <div class="col-md-8">
                      <div class="input-group">
                        <span class="input-group-addon input-circle-left">
                          <i class="fa fa-envelope"></i>
                        </span>
                        <input
                          placeholder="Receiver Email"
                          class="form-control"
                          v-model="recipient.contact_email"
                        />
                      </div>
                    </div>
                  </form-error>

                  <form-error
                    :errors="errors"
                    field="status"
                    error-class="col-md-offset-3 col-md-8"
                  >
                    <label class="col-md-4 control-label">Receiver Address</label>
                    <div class="col-md-8">
                      <div class="input-group">
                        <span class="input-group-addon input-circle-left">
                          <i class="fa fa-address-card"></i>
                        </span>
                        <input
                          placeholder="Receiver Address"
                          class="form-control"
                          v-model="recipient.contact_address"
                        />
                      </div>
                    </div>
                  </form-error>
                  <form-error :errors="errors" field="contact_city" error-class="col-md-offset-3 col-md-8">
                      <label class="col-md-4 control-label">Receiver City</label>
                      <div class="col-md-8">
                          <select v-model="recipient.contact_city" @change="getDistrict_(recipient.contact_city)" class="form-control input-circle-left">
                              <option v-for="city in cities" :value="city.value" :selected="city.value == recipient.contact_city">{{city.label}}</option>
                          </select>
                      </div>
                  </form-error>
                  <form-error :errors="errors" field="contact_district" error-class="col-md-offset-3 col-md-8">
                      <label class="col-md-4 control-label">Receiver District</label>
                      <div class="col-md-8">
                          <select v-model="recipient.contact_district" class="form-control input-circle-left">
                              <option v-for="district in districts" :value="district.value" :selected="district.value == recipient.contact_district">{{district.label}}</option>
                          </select>
                      </div>
                  </form-error>
                  <form-error :errors="errors" field="tax_personal_id" error-class="col-md-offset-3 col-md-8">
                      <label class="col-md-4 control-label"> Receiver Ward</label>
                      <div class="col-md-8">
                        <div class="input-group">
                          <span class="input-group-addon input-circle-left">
                            <i class="fa fa-indent"></i>
                          </span>
                          <input class="form-control" placeholder="Ward"
                                  v-model="recipient.contact_ward">
                        </div>
                      </div>
                  </form-error>
                  <label class="col-md-4 control-label"></label>
                  <div class="col-md-8">
                    <button v-if="recipient.id" type="button" class="btn green" @click="updateRecipient()">{{ (isSending) ? 'Saving ...' : 'Update'}}
                    </button>
                  </div>
                </div>
              </form>
              <!-- END Reciever infor-->
              </div>
            </div>
            <!-- END Form Info-->
            <!-- START Form packages-->
            <div class="portlet light bordered col-md-12 padding-15" id="package-info-block">
              <div class="portlet-title">
                <div class="caption font-dark">
                  <i class="icon-layers font-dark"></i>
                  <span class="caption-subject bold uppercase">Packages</span>
                </div>
                <div class="actions">
                  <div class="btn-group btn-group-devided"></div>
                </div>
              </div>

              <div class="row package-info">
              <form action="#" class="form-horizontal">
                <div class="col-md-6">
                  <form-error
                    :errors="errors"
                    field="status"
                    error-class="col-md-offset-3 col-md-8"
                  >
                    <label class="col-md-4 control-label">Date Send (*)</label>
                    <div class="col-md-8">
                      <div class="input-group">
                        <Datepicker
                          v-model="user.send_date"
                          :disabled="!isCreating"
                          placeholder="Please select send date"
                          :disabled-dates="disabledDates"
                          @change="getPackage()"
                          format="yyyy-MM-dd"
                          input-class="form-control date-color"
                        ></Datepicker>
                      </div>
                    </div>
                  </form-error>
                </div>
                <div class="col-md-6">
                  <form-error
                    :errors="errors"
                    field="status"
                    error-class="col-md-offset-3 col-md-8"
                  >
                    <label class="col-md-4 control-label">Package Number (*)</label>
                    <div class="col-md-8">
                      <div class="input-group">
                        <select
                          class="form-control"
                          v-model="package_num"
                          :disabled="!isCreating"
                          @change="changePackage(package_num)"
                        >
                          <option value="0">Select package</option>
                          <option v-for="n in 10" :value="n">{{n}}</option>
                        </select>
                      </div>
                    </div>
                  </form-error>
                </div>
              </form>
              </div>

              <div class="row">
              <form action="#" class="form-horizontal">
                <div class="col-md-8">
                  <!-- Package items -->
                    <div class="col-12 package-item-wrap">
                      <div class="row text-center tat-padding-bottom-10">
                        <b class="package-number">PACKAGE 1</b> <br/>
                        (*)<i class="request_label_note">Thùng hàng 50lbs max và dimension weight nên &lt; actual weight</i>
                      </div>
                      <div class="row">
                        <div class="col-12 col-md-4">
                          <label>Weight</label>
                          <input id="weigth_1" class="form-control package-info">
                        </div>
                        <div class="col-12 col-md-4">
                        <label>&nbsp;</label>
                          <select id="weight_unit_1" class="form-control input-md">      <option value="LBS">Pounds</option>      <option value="KGS" disabled="true">Kilograms</option>      </select>
                        </div>
                        <div class="col-12 col-md-4">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 col-md-3">
                          <label>Width</label>
                          <input id="width_1" class="form-control package-info">
                        </div>
                        <div class="col-12 col-md-3">
                          <label>Height</label>
                          <input id="height_1" class="form-control package-info">
                        </div>
                        <div class="col-12 col-md-3">
                          <label>Length</label>
                          <input id="length_1" class="form-control package-info">
                        </div>
                        <div class="col-12 col-md-3">
                          <label>&nbsp;</label>
                          <select id="unit_1" class="form-control input-md"><option value="IN">Inches</option> <option value="CM" disabled="true">Centimeters</option></select>
                        </div>
                      </div>
                      <div class="row pi-note">
                        <div class="col-12">
                          <label>Note</label>
                          <textarea id="description_1" class="form-control input-sm" row="3"></textarea>
                          <label>(*)<i class="request_label_note">Thông tin thùng hàng</i></label>
                        </div>
                      </div>
                    </div>
                  <!-- END Package items -->
                  <div id="list_package_request_label" v-html="htmlContext">
                    
                  </div>
                </div>
                <div class="col-md-4" v-if="package_num != 0">
                  <div class="row">
                    <div class="col-md-12">
                      <form-error
                        :errors="errors"
                        field="status"
                        error-class="col-md-offset-3 col-md-8"
                      >
                        <label class="col-md-4 control-label">Delivery By (*)</label>
                        <div class="col-md-8">
                          <div class="input-group">
                            <select
                              v-model="user.delivery_company"
                              @change="change_delivery_company"
                              class="form-control"
                              :disabled="!isCreating"
                            >
                              <option value="0">Select Delivery Company</option>
                              <option value="1">UPS</option>
                              <option value="2">Fedex</option>
                            </select>
                          </div>
                        </div>
                      </form-error>
                      <form-error
                        :errors="errors"
                        v-if="user.delivery_company != 0"
                        field="status"
                        error-class="col-md-offset-3 col-md-8"
                      >
                        <label class="col-md-4 control-label">Service Option (*)</label>
                        <div class="col-md-8">
                          <div class="input-group">
                            <select
                              v-model="user.service_option"
                              class="form-control"
                              :disabled="!isCreating"
                            >
                              <option value="0">Select Service Option</option>
                              <option
                                v-for="service in list_service"
                                :value="service.option"
                              >{{service.description}}</option>
                            </select>
                          </div>
                        </div>
                      </form-error>
                    </div>
                  </div>
                </div>
              </form>
              </div>
            </div>
            <!-- END Form packages-->
          </div>
        <!-- END FORM-->
      </div>
    </div>
    <div class="col center-align text-center btn-request-label">
      <div>
        <button
          type="button"
          class="btn green"
          @click="updateUser()"
          v-if="isCreating"
        >{{ (isSending) ? 'Sending ...' : 'Create Request'}}</button>
        <button type="button" class="btn default" v-if="isCreating" @click="addNew()">Reset</button>
        <button
          type="button"
          class="btn btn-secondary"
          v-if="!isCreating"
          @click="addNew()"
        >Add New Request</button>
      </div>
    </div>
  </div>
</template>
<style>
.date-color {
  background-color: white !important;
}

</style>
<script>
import Datepicker from "vuejs-datepicker";
import Multiselect from "vue-multiselect";
import recipientForm from "./FormRecipient.vue";
Vue.component("multiselect", Multiselect);
export default {
  props: {
    userProp: {
      type: Object,
      default: function () {
        return {
          sender_name: "",
          send_date: "",
          customer_code: "",
          email: "",
          address: "",
          zipcode: "",
          tracking_number: "",
          receiver_id: "",
          receiver_name: "",
          receiver_address: "",
          delivery_company: "0",
          service_option: "0",
        };
      },
    },
  },
  data: function () {
    return {
      package: {
        request_label_id: 1,
        weight: "",
        weight_unit: "Kg",
        height: "",
        width: "",
        length: "",
        unit: "Kg",
        zipcode: "1234",
      },
      isSending: false,
      customers: [],
      recipients: [],
      errors: {},
      isCreating: true,
      zipcode_error: false,
      city_: " ",
      error_: "",
      package_num: 0,
      send_date: "",
      disabled: false,
      htmlContext: "",
      list_package: [],
      zip_code: "",
      rate_preview: 0,
      list_service: [],
      disabledDates: {
        to: new Date(),
      },
      selected: [],
      list_recipient: [],
      showNewModal: 1,
      buttonAdd: false,
      cre_countries: {},
      customerProp: {},
      cities: [{value:0, label:''}],
      districts: [{value:0, label:''}],
      recipient:{},
    };
  },
  computed: {
    user() {
      return this.userProp;
    },
  },
  components: {
    Datepicker,
    Multiselect,
    recipientForm,
  },
  created() {
    var _self = this;
  },
  mounted() {
    var _self = this;
    $(document).on("change", ".package-info", function () {
      /* if (_self.user.service_option != 0) {
        _self.calcu_service();
      }*/

    });
    eventHub.$on("recipient_CREATED", function (recipient) {
      _self.buttonAdd = false;
      _self.recipients.unshift(recipient);
      _self.user.receiver_id = recipient.id;
      _self.changeReceiver();
    });
  },
  methods: {
    onCloseNew() {
      this.showNewModal -= 1;
    },
    onClickNewButton() {
      var _self = this;
      this.getCountries();
      _self.customerProp = _self.customers;
      this.showNewModal += 1;
    },
    updateUser: function () {
      var _self = this;
      _self.list_package = [];
      if (_self.user.customer_code === "") {
        showToast("error", "Customer code require", "error");
        return;
      } else if (_self.user.sender_name === "") {
        showToast("error", "Sender name require", "error");
        return;
      } else if (_self.user.email === "") {
        showToast("error", "Email require", "error");
        return;
      } else if (_self.user.address === "") {
        showToast("error", "Address require", "error");
        return;
      } else if (_self.user.zipcode === "") {
        showToast("error", "Zipcode require", "error");
        return;
      } else if (_self.user.receiver_id === "") {
        showToast("error", "Receiver code require", "error");
        return;
      } else if (_self.user.receiver_name === "") {
        showToast("error", "Receiver name require", "error");
        return;
      } else if (_self.user.receiver_address === "") {
        showToast("error", "Receiver address require", "error");
        return;
      } else if (_self.user.send_date === "" || _self.user.send_date === null) {
        showToast("error", "Send date require", "error");
        return;
      } else if (_self.package_num == "" || _self.package_num == 0) {
        showToast("error", "Package require", "error");
        return;
      } else if (
        _self.user.delivery_company === "" ||
        _self.user.delivery_company == 0
      ) {
        showToast("error", "Delivery company require", "error");
        return;
      } else if (
        _self.user.service_option === "0" ||
        _self.user.service_option === null
      ) {
        showToast("error", "Service option require", "error");
        return;
      } else {
        var check_aw = true;
        // check dimension weight and actual weight
        for (let i = 0; i < _self.package_num; i++) {
          var weight = parseFloat($("#weigth_" + (i + 1)).val());
          var width = parseFloat($("#width_" + (i + 1)).val());
          var height = parseFloat($("#height_" + (i + 1)).val());
          var length = parseFloat($("#length_" + (i + 1)).val());
          if (weight == "" || isNaN(weight)) {
            showToast(
              "error",
              "Weight of package " + (i + 1) + " require or must be number",
              "error"
            );
            return;
          }
          if ((weight != "") & (weight > 50)) {
            showToast(
              "error",
              "Weight of package " + (i + 1) + " cannot more than 50 LBS",
              "error"
            );
            return;
          } else if (width == "" || isNaN(width)) {
            showToast(
              "error",
              "width of package " + (i + 1) + " require or must be number",
              "error"
            );
            return;
          } else if (height == "" || isNaN(height)) {
            showToast(
              "error",
              "Height of package " + (i + 1) + " require or must be number",
              "error"
            );
            return;
          } else if (length == "" || isNaN(length)) {
            showToast(
              "error",
              "Length of package " + (i + 1) + " require or must be number",
              "error"
            );
            return;
          }
          var dimensionWeight = (width * height * length) / 139;
          if (dimensionWeight > weight) {
            check_aw = false;
          }
        }
        if (!this.isSending & check_aw) {
          this.checkZipcode(_self.user.zipcode);
          if (!_self.zipcode_error) {
            _self.zip_code = _self.user.zipcode;
            var day =
              _self.user.send_date.getDate() < 10
                ? "0" + _self.user.send_date.getDate()
                : _self.user.send_date.getDate();
            var month =
              _self.user.send_date.getMonth() < 10
                ? "0" + _self.user.send_date.getMonth()
                : _self.user.send_date.getMonth();
            var date =
              _self.user.send_date.getFullYear() + "-" + month + "-" + day;
            _self.user.send_date = date;
            var city = _self.city_.split(",")[0];
            _self.user.city = city;
            var state = _self.city_.split(",")[1];
            _self.user.state = state;
            for (let i = 0; i < _self.package_num; i++) {
              var weight = $("#weigth_" + (i + 1)).val();
              var weight_unit = $("#weight_unit_" + (i + 1)).val();
              var width = $("#width_" + (i + 1)).val();
              var height = $("#height_" + (i + 1)).val();
              var length = $("#length_" + (i + 1)).val();
              var unit = $("#unit_" + (i + 1)).val();
              var description = $("#description_" + (i + 1)).val();
              _self.list_package.push({
                sender_name: _self.user.sender_name,
                receiver_name: _self.user.receiver_name,
                description: description,
                city: city,
                state: state,
                send_date: date,
                weight: weight,
                weight_unit: weight_unit,
                width: width,
                height: height,
                length: length,
                unit: unit,
                zipcode: _self.user.zipcode,
                service_option: _self.user.service_option,
                request_label_id: 1,
                saved: true,
              });
            }
            _self.user.total_package = _self.list_package.length;
            this.isSending = true;
            this.$http.post("/api/request-label/create", _self.user).then(
              (response) => {
                this.submitPackage(response.data.data);
                _self.isSending = false;
                _self.isCreating = false;
              },
              (error) => {
                _self.isSending = false;
                if (error.data && error.data.data) {
                  _self.errors = error.data.data;
                }
                showToast(
                  "Created request label failed",
                  "Request label's information has not been created",
                  "error"
                );
              }
            );
          }
        } else {
          _self.isSending = false;
          showToast(
            "Created request label failed",
            "Check again Package: deminsion weight less than actual weight",
            "error"
          );
        }
      }
    },
    loadCustomer: function () {
      var _self = this;
      App.blockUI({
        target: "#package-info-block",
        animate: true,
      });
      this.$http
        .get("/api/list-customer")
        .then(function (response) {
          _self.customers = response.data;
          this.loadRecipient(_self.customer.id);
          App.unblockUI("#sender-info-block");
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    loadRecipient: function (customer_id) {
      var _self = this;
      this.$http
        .get("/api/list-recipient/" + customer_id)
        .then(function (response) {
          _self.recipients = response.data.data;
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    SearchCustomer: function () {
      var _self = this;
      this.$http
        .get("/api/get-customer/" + _self.user.customer_code)
        .then(function (response) {
          _self.customers = response.data.data;
          this.loadRecipient(_self.customers.id);
          _self.user.receiver_id = "";
          _self.user.receiver_name = "";
          if (_self.customers.length != 0) {
            //_self.customers.forEach((element) => {
              _self.user.sender_name =
                _self.customers.firstname + " " + _self.customers.lastname;
              _self.user.customer_code = _self.customers.customer_code;
              _self.user.zipcode = _self.customers.zipcode;
              _self.user.address = _self.customers.address;
              _self.user.email = _self.customers.email;
              this.checkZipcode(_self.user.zipcode);
            //});
          }
          _self.buttonAdd = true;
          _self.user.receiver_address =
            "14936 Dillow St, #" +
            _self.user.customer_code +
            ", Westminster, CA 92683";
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    checkZipcode: function (zipcode) {
      let _self = this;
      _self.error_ = "";
      $.getJSON("https://ZiptasticAPI.com/" + zipcode, function (result) {
        if (result.error) {
          showToast("warning", "hey, that's not a zipcode!", "warning");
          _self.zipcode_error = true;
          _self.city_ = "";
          _self.error_ = "hey, that's not a zipcode!";
          $(".error").addClass("no");
        } else {
          if (_self.user.address == "") {
            _self.user.receiver_address =
              "14936 Dillow St, #" +
              _self.user.customer_code +
              ", Westminster, CA 92683";
          }
          _self.user.zipcode = zipcode;
          _self.zipcode_error = false;
          _self.city_ = result.city + "," + result.state;
        }
      });
    },
    addNew: function () {
      var _self = this;
      _self.user.zipcode = "";
      _self.user.email = "";
      _self.user.customer_code = "";
      _self.user.receiver_name = "";
      _self.user.receiver_address = "";
      (_self.user.sender_name = ""), (_self.user.address = "");
      _self.isCreating = true;
      _self.zipcode_error = false;
      _self.user.send_date = "";
      _self.city_ = "";
      _self.htmlContext = "";
      _self.package_num = 0;
      _self.user.service_option = "0";
      _self.rate_preview = 0;
    },
    changePackage: function (package_num) {
      var _self = this;
      var _html = "";
      _self.rate_preview = 0;
      console.log(package_num);
      _self.htmlContext = "";
      var i = 0;
      for (i = 0; i < package_num; i++) {
        console.log("in---" + i);
        _html +=
          '<div class="col-md-12" style="border:1px solid"><div class="col-md-12">';
        _html +=
          '<div class="col-md-offset-5 col-md-12"><b class="package-number">PACKAGE ' +
          (i + 1) +
          '</b></div> <div class="col-md-11">(*)<i class="request_label_note">Thùng hàng 50lbs max và dimension weight nên < actual weight</i></div>';
        _html +=
          '<form-error :errors="errors" field="weight" error-class="col-md-offset-3 col-md-8" >';
        _html +=
          '<div class="col-md-12"><label class="col-md-3 control-label">Weight</label></div>';
        _html += '<div class="col-md-12">';
        _html +=
          '<div class="col-md-6"><input id="weigth_' +
          (i + 1) +
          '" class="form-control input-small package-info" /></div>';
        _html +=
          '<div class="col-md-6"><select id="weight_unit_' +
          (i + 1) +
          '" class="form-control input-small input-sm">';
        _html += '      <option value="LBS">Pounds</option>';
        _html += '      <option value="KGS" disabled="true">Kilograms</option>';
        _html += "      </select>";
        _html += "</div></div></form-error></div>";
        _html += '<div class="col-md-12">';
        _html +=
          '<form-error :errors="errors" field="status" error-class="col-md-offset-3 col-md-8">';
        _html += '<div class="col-md-12">';
        _html += '<div class="col-md-6">';
        _html += '<label class="col-md-7 control-label">Width</label>';
        _html +=
          '<input id="width_' +
          (i + 1) +
          '" class="form-control input-small package-info" /></div>';
        _html += '<div class="col-md-6">';
        _html += '<label class="col-md-7 control-label">Height</label>';
        _html +=
          '<input id="height_' +
          (i + 1) +
          '" class="form-control input-small package-info" /></div>';
        _html += '<div class="col-md-12"><div class="col-md-6">';
        _html +=
          '<label class="col-md-7 control-label">Length</label></div></div>';
        _html +=
          '<div class="col-md-6"><input id="length_' +
          (i + 1) +
          '" class="form-control input-small package-info" /></div>';
        _html +=
          '<div class="col-md-6"><select id="unit_' +
          (i + 1) +
          '" class="form-control input-small input-sm">';
        _html +=
          '<option value="IN">Inches</option> <option value="CM" disabled="true">Centimeters</option></select> </div>';
        _html += '<div class="col-md-12"><div class="col-md-6">';
        _html +=
          '<label class="col-md-6 control-label">Note</label></div></div>';
        _html +=
          '<div class="col-md-11"><textarea id="description_' +
          (i + 1) +
          '" class="form-control input-sm" row="3"></textarea></div>';
        //if (i == 0) {
        _html +=
          '<div class="col-md-11">(*)<i class="request_label_note">Thông tin thùng hàng</i></div>';
        //}
        _html += "</div></div></form-error></div></div>";
      }
      _self.htmlContext = _html;
    },
    getPackage: function () {
      var _self = this;
      console.log($("send_date").val());
    },
    submitPackage: function (request_label) {
      var _self = this;
      for (let i = 0; i < _self.list_package.length; i++) {
        _self.list_package[i].request_label_id = request_label.id;
      }
      _self.rate_preview = 0;
      this.$http
        .post("/api/request-label-package", _self.list_package)
        .then(function (response) {
          this.getRate(response.data.data);
        })
        .catch(function (error) {
          console.log(error);
        });
      //_self.list_package = [];
    },
    calcu_service: function () {
      var _self = this;
      _self.list_package = [];
      _self.rate_preview = 0;
      App.blockUI({
        target: "#package-info-block",
        animate: true,
      });
      this.checkZipcode(_self.user.zipcode);
      if (_self.zipcode_error) {
        App.unblockUI("#package-info-block");
        _self.user.service_option = "0";
      } else {
        if (_self.user.customer_code === "") {
          showToast("error", "Customer code require", "error");
          _self.user.service_option = "0";
          App.unblockUI("#package-info-block");
          return;
        } else if (_self.user.sender_name === "") {
          showToast("error", "Sender name require", "error");
          _self.user.service_option = "0";
          App.unblockUI("#package-info-block");
          return;
        } else if (_self.user.address === "") {
          showToast("error", "Address require", "error");
          _self.user.service_option = "0";
          App.unblockUI("#package-info-block");
          return;
        } else if (_self.user.zipcode === "") {
          showToast("error", "Zipcode require", "error");
          _self.user.service_option = "0";
          App.unblockUI("#package-info-block");
          return;
        } else if (_self.user.receiver_name === "") {
          showToast("error", "Receiver name require", "error");
          _self.user.service_option = "0";
          App.unblockUI("#package-info-block");
          return;
        } else if (_self.user.receiver_address === "") {
          showToast("error", "Receiver address require", "error");
          _self.user.service_option = "0";
          App.unblockUI("#package-info-block");
          return;
        } else if (
          _self.user.send_date === "" ||
          _self.user.send_date === null
        ) {
          showToast("error", "Send date require", "error");
          _self.user.service_option = "0";
          App.unblockUI("#package-info-block");
          return;
        } else if (
          _self.user.service_option === "0" ||
          _self.user.service_option === null
        ) {
          showToast("error", "Service option require", "error");
          _self.user.service_option = "0";
          App.unblockUI("#package-info-block");
          return;
        } else if (_self.user.send_date == "" || _self.user.send_date == null) {
          showToast("error", "Please select send date", "error");
          _self.user.service_option = "0";
          App.unblockUI("#package-info-block");
          return;
        }
        var day =
          _self.user.send_date.getDate() < 10
            ? "0" + _self.user.send_date.getDate()
            : _self.user.send_date.getDate();
        var month =
          _self.user.send_date.getMonth() < 10
            ? "0" + (_self.user.send_date.getMonth() + 1)
            : _self.user.send_date.getMonth() + 1;
        var date = _self.user.send_date.getFullYear() + "-" + month + "-" + day;
        var city = _self.city_.split(",")[0];
        var state = _self.city_.split(",")[1];
        for (let i = 0; i < _self.package_num; i++) {
          var weight = $("#weigth_" + (i + 1)).val();
          var weight_unit = $("#weight_unit_" + (i + 1)).val();
          var width = $("#width_" + (i + 1)).val();
          var height = $("#height_" + (i + 1)).val();
          var length = $("#length_" + (i + 1)).val();
          var unit = $("#unit_" + (i + 1)).val();
          var description = $("#description_" + (i + 1)).val();
          _self.list_package.push({
            sender_name: _self.user.sender_name,
            receiver_name: _self.user.receiver_name,
            description: description,
            city: city,
            state: state,
            send_date: date,
            weight: weight,
            weight_unit: weight_unit,
            width: width,
            height: height,
            length: length,
            unit: unit,
            zipcode: _self.user.zipcode,
            service_option: _self.user.service_option,
            request_label_id: 1,
          });
          if (
            _self.list_package[i].weight == "" ||
            (_self.list_package[i].weight == null &&
              _self.list_package.length != 0)
          ) {
            showToast(
              "error",
              "Please enter weight package " + (i + 1),
              "error"
            );
            _self.user.service_option = "0";
            App.unblockUI("#package-info-block");
            return;
          } else if (
            _self.list_package[i].width == "" ||
            (_self.list_package[i].width == null &&
              _self.list_package.length != 0)
          ) {
            showToast(
              "error",
              "Please enter width package " + (i + 1),
              "error"
            );
            _self.user.service_option = "0";
            App.unblockUI("#package-info-block");
            return;
          } else if (
            _self.list_package[i].height == "" ||
            (_self.list_package[i].height == null &&
              _self.list_package.length != 0)
          ) {
            showToast(
              "error",
              "Please enter height package " + (i + 1),
              "error"
            );
            _self.user.service_option = "0";
            App.unblockUI("#package-info-block");
            return;
          } else if (
            _self.list_package[i].length == "" ||
            (_self.list_package[i].length == null &&
              _self.list_package.length != 0)
          ) {
            showToast(
              "error",
              "Please enter length package " + (i + 1),
              "error"
            );
            _self.user.service_option = "0";
            App.unblockUI("#package-info-block");
            return;
          }
        }
        if (_self.user.zipcode == null || _self.user.zipcode == "") {
          showToast("error", "Please enter zipcode", "error");
          _self.user.service_option = "0";
          App.unblockUI("#package-info-block");
          return;
        } else {
          this.$http
            .post("/api/request-label-package/rate-ups", _self.list_package)
            .then(function (response) {
              App.unblockUI("#package-info-block");
              _self.list_package = response.data.data;
              response.data.data.forEach((element) => {
                _self.rate_preview += element.shippingRate;
              });
            })
            .catch(function (error) {
              App.unblockUI("#package-info-block");
              _self.user.service_option = "0";
            });
        }
      }
    },
    check_actual_weight: function () {},
    change_delivery_company: function () {
      var _self = this;
      _self.list_service = [];
      _self.user.service_option = "0";
      if (_self.user.delivery_company == 1) {
        _self.list_service = [{ option: "03", description: "UPS Ground" }];
      } else if (_self.user.delivery_company == 2) {
        _self.list_service = [
          { option: "FEDEX_GROUND", description: "FedEx Ground" },
        ];
      }
    },
    changeReceiver: function () {
      var _self = this;
      if (_self.user.receiver_id) {
        var index = _self.recipients.findIndex(
          (item) => item.id == _self.user.receiver_id
        );
        _self.recipient = _self.recipients[index];
        _self.user.receiver_name =
          _self.recipients[index].contact_firstname +
          " " +
          _self.recipients[index].contact_lastname;
        /** _self.user.receiver_phone = _self.recipients[index].contact_phone;
        _self.user.receiver_email = _self.recipients[index].contact_email;
        _self.user.receiver_address_1 = _self.recipients[index].contact_address;
        _self.user.contact_country = _self.recipients[index].contact_country;
        _self.user.contact_city = _self.recipients[index].contact_city;
        _self.user.contact_district = _self.recipients[index].contact_district;
        _self.user.contact_ward = _self.recipients[index].contact_ward;*/
        _self.getCities_(_self.recipients[index].contact_country);
        _self.getDistrict_(_self.recipients[index].contact_city);
      } else {
        _self.recipient = {};
      }
    },
    getRate: function (model) {
      var _self = this;
      this.$http
        .post(
          "/api/request-label-client/submit-rate/" + model[0].request_label_id
        )
        .then(function (response) {
          showToast(
            "Created request label successfully",
            "Request label's information has been created",
            "success"
          );
          setTimeout(function () {
            location.reload();
          }, 3000);
          _self.htmlContext = "";
        })
        .catch(function (error) {
          showToast(
            "Created request label failed",
            "Check again Package: deminsion weight less than actual weight",
            "error"
          );
          console.log(error);
        });
    },
    getCountries: function () {
      var _self = this;
      this.$http
        .get("api/requestcustomer/load-country")
        .then(function (response) {
          console.log("getCountries inside");
          _self.cre_countries = response.data.data;
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    getCities_(countryId) {
        var _self = this;
        this.$http.get("api/requestcustomer/load-city/"+countryId)
        .then( function (response) {
            _self.cities = response.data.data;
        })
    },
    getDistrict_(cityId) {
        var _self = this;
        this.$http.get("api/requestcustomer/load-district/"+cityId)
        .then( function (response) {
            _self.districts = response.data.data;
        })
    },
    updateRecipient: function () {
      var _self = this;
      if (confirm("Are you sure you want to edit the receiver information?")) {
        if(!this.isSending) {
            this.isSending = true;
            if (this.recipient.id) {
                this.$http.post('/api/request-label/update-by-customer/' + _self.recipient.id, _self.recipient).then((response) => {
                    _self.isSending = false;
                    _self.errors = '';
                    showToast('Updated recipient successfully', 'Recipient information has been updated', 'success');
                }, (error) => {
                    _self.isSending = false;
                    if (error.data && error.data.data) {
                        _self.errors = error.data.data;
                    }
                    showToast('Updated recipient failed', 'Recipient information has not been updated', 'error');
                });
            }
        }
    }
  },
},
};
</script>
