<template>
  <div class="row">
    <!-- <div v-for="n in showNewModal">
      <user-form @close="onCloseNew()"></user-form>
    </div>
    <div v-for="n in showEditModal">
      <user-edit-form @close="onCloseEdit()" :userProp="current_user"></user-edit-form>
    </div> -->

    <div class="col-md-12">
      <!-- BEGIN EXAMPLE TABLE PORTLET-->
      <div class="portlet light bordered">
        <div class="portlet-title">
          <div class="caption font-dark">
            <i class="icon-settings font-dark"></i>
            <span class="caption-subject bold uppercase">Request Label List</span>
          </div>
          <div class="actions">
            <button
              class="btn sbold green btn-circle"
              @click="onClickNewButton()"
              data-toggle="modal"
              href="#responsive"
            >
              Add New
              <i class="fa fa-plus"></i>
            </button>
          </div>
        </div>
        <div class="portlet-body">
          <div class="table-toolbar">
            <div class="row">
              <div class="col-md-6">
                <div class="btn-group pull-right" v-if="false">
                  <button class="btn green btn-outline dropdown-toggle" data-toggle="dropdown">
                    Tools
                    <i class="fa fa-angle-down"></i>
                  </button>
                  <ul class="dropdown-menu pull-right">
                    <li>
                      <a href="javascript:;">
                        <i class="fa fa-print"></i> Print
                      </a>
                    </li>
                    <li>
                      <a href="javascript:;">
                        <i class="fa fa-file-pdf-o"></i> Save as PDF
                      </a>
                    </li>
                    <li>
                      <a href="javascript:;">
                        <i class="fa fa-file-excel-o"></i> Export to
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <table
            class="table table-striped table-bordered table-hover dt-responsive dataTable no-footer dtr-inline collapsed"
            id="sample_1"
          >
            <thead>
              <tr>
                <th style="text-align:center">STT</th>
                <th>Customer Code</th>
                <th>Sender</th>
                <th>Recipient</th>
                <th>Address Recipient</th>
                <th>Package</th>
                <th>Delivery Company</th>
                <th>Rate</th>
                <th>Tracking Number</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(request,n) in requestLabelList" class="odd gradeX">
                <td align="center">{{n+1}}</td>
                <td>{{request.customer_code}}</td>
                <td>{{request.sender_name}}</td>
                <td>{{request.receiver_name}}</td>
                <td>{{request.receiver_address}}</td>
                <td>{{request.volumn}}</td>
                <td>{{deliveryCompany[request.delivery_company-1].name}}</td>
                <td>{{request.rate}}</td>
                <td>{{request.tracking_number}}</td>
                <td>{{requestLabelStatus[request.status-1].name}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- END EXAMPLE TABLE PORTLET-->
    </div>
  </div>
</template>
<style scoped>
.actions {
  margin-right: 10px;
}
.table-responsive .form-control {
  height: 25px;
  width: 100%;
}
.form-group {
  margin-bottom: 0px !important;
}
</style>
<script>
var TableDatatablesManaged = require("../../../utils/table-datatables-responsive");
export default {
  data: function() {
    return {
      requestLabelList:[],
      search: "",
      pagination: {},
      filterStatus: "",
      currentPage: 1,
      filterCustomerCode: "",
      filterCustomerName: "",
      showNewModal: 1,
      showEditModal: 1,
      isEdited: false,
      isUpdated: false,
      current_customer: {},
      current_customer_package: {},
      origin_customer: {},
      edit_zipcode: "",
      showEditPackageModal: 0,
      deliveryCompany: [
        { index: 1, name: "UPS" },
        { index: 2, name: "FedEx"}
      ],
      requestLabelStatus: [
        { index: 1, name: "Pending" },
        { index: 2, name: "Confirmed" },
        { index: 3, name: "Cancel" }
      ],
      filterDeliveryCompany:-1,
      filterStatus:-1,
      filterTrackingNumber:""
    };
  },
  props: {},
  components: {
  },
  mounted: function() {
    var _self = this;

    $(document).ready(function() {
      $('[data-toggle="popover"]').popover();
    });
    eventHub.$on("REQUESTLABEL_UPDATED", function() {
      _self.refresh();
    });
    this.refresh();
  },
  watch: {},
  computed: {
    searchQuery: function() {
      var query =
        "?orderBy=created_at&sortedBy=desc&page=" + this.currentPage + "&";
      var search = "";
      if (this.filterCustomerCode) {
        search += "customer_code=" + this.filterCustomerCode + "&";
      }
      if (this.filterCustomerName) {
        search += "customer_name=" + this.filterCustomerName + "&";
      }
      if (this.filterTrackingNumber) {
        search += "tracking_number=" + this.filterTrackingNumber + "&";
      }
      if (this.filterDeliveryCompany && this.filterDeliveryCompany >= 0) {
          search += 'delivery_company=' + this.filterDeliveryCompany + '&';
      }
      if (this.filterStatus && this.filterStatus >= 0) {
          search += 'status=' + this.filterStatus + '&';
      }
      query += search.slice(0, -1);
      return query;
    },
    pages: function() {
      var pages = [];
      if (this.pagination && this.pagination.last_page) {
        for (var i = 1; i <= this.pagination.last_page; i++) {
          pages.push(i);
        }
      }
      return pages;
    }
  },
  updated: function() {
    if (!this.isUpdated) {
      TableDatatablesManaged.default.init();
      this.isUpdated = true;
    }
  },
  methods: {
    onCloseEdit() {
      this.showEditModal -= 1;
    },
    onCloseEditpackage() {
      this.showEditPackageModal -= 1;
    },
    onClickEditButton(model) {
      this.isEdited = false;
      this.current_customer = model;
      this.edit_zipcode = model.zipcode;
      this.setOriginCustomer(model);
      this.showEditModal += 1;
    },
    onClickEditPackageButton(model) {
      this.isEdited = false;
      this.current_customer_package = model;
      this.setOriginCustomer(model);
      this.showEditPackageModal += 1;
    },
    setOriginCustomer(model) {
      this.origin_customer = _.clone(model);
    },
    searchChange: _.debounce(function() {
      this.refresh();
    }, 500),
    refresh: function() {
      App.blockUI({
        target: "#request-label-list-block",
        animate: true
      });
      $(".btn-checked").html("Check Clicked");
      var _self = this;
      this.$http
        .get(
          AppData.baseUrl +
            "/api/request-label-list" +
            this.searchQuery
        )
        .then(function(response) {
          _self.requestLabelList = response.data.data;
          App.unblockUI("#request-label-list-block");
        })
        .catch(function(error) {
          App.unblockUI("#request-label-list-block");
        });
    },
    changePage: function(index) {
      this.currentPage = index;
      this.refresh();
    },
    backPage: function() {
      if (this.currentPage > 1) {
        this.currentPage--;
        this.refresh();
      }
    },
    nextPage: function() {
      if (this.currentPage < this.pagination.last_page) {
        this.currentPage++;
        this.refresh();
      }
    },
    filterChange: function() {
      this.refresh();
    },
    deleteRequestLabel: function(id) {
      if (confirm("Do you want to delete?")) {
        App.blockUI({
          target: "#request-label-list-block",
          animate: true
        });
        return this.$http
          .delete(AppData.baseUrl + "/api/request-label-list/" + id)
          .then(function(response) {
            App.unblockUI("#request-label-list-block");
            showToastFromResponse(response);
            this.refresh();
          })
          .catch(function(error) {
            App.unblockUI("#request-label-list-block");
            showToastFromResponse(error);
          });
      }
    },
  }
};
</script>
