<template>
    <span class="label label-sm label-success circle">{{totalUser}}</span>
</template>
<script>
  export default {
    data: function () {
      return {
        totalUser: 0
      }
    },
    props: {
       idAgent: 0
    },
    mounted: function() {
      this.loadData();
    },
    methods: {
      loadData: function () {
        var _self = this;
        this.$http.get('/api/users/get-total-user/'+this.idAgent).then(function (response) {
            _self.totalUser = response.data.data.total;
        }).catch(function (error) {
          console.log(error);
        });
      }
    }
  }
</script>
