<template>
<div>
    <div class="col-md-12" id="package-block">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase"> Packages </span>
                </div>
                <div class="actions">
                    <div class="btn-group btn-group-devided">
                        <div class="form-group">
                            <button class="btn sbold green btn-circle" @click="onClickNewPackage()" data-toggle="modal" href="#responsive_package" ref="btnPackage"> Add Package
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="package_wrapper" class="portlet-body form">
                <div v-for="(package, key_) in packages">
                    <div class="col-md-12">
                        <div class="portlet light bordered">
                            <div class="portlet-title">
                                <div class="caption font-dark">
                                    <i class="icon-trash font-red" v-on:click="removePackage(key_)"></i>
                                    <span class="caption-subject bold uppercase"> Packages {{key_+1}} - </span>
                                    <span class="caption-subject"> Weight <input class=" frm-package" type='text' v-model="packages[key_].w"> - D<input class="frm-package" type='text' v-model="packages[key_].dD">xW<input class="frm-package" type='text' v-model="packages[key_].dW">xH<input class="frm-package" type='text' v-model="packages[key_].dH"></span>
                                </div>
                                <div class="actions">
                                    <div class="btn-group btn-group-devided">
                                        <div class="form-group">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="portlet-body form">
                                <!-- Start Commo -->
                                <div class="actions" style="margin-bottom: 10px;">
                                    <div :id="'select_addCommo_'+(key_+1)" class="select_addCommo hide">
                                        <Dropdown
                                                :options="com_options"
                                                v-on:selected="validateSelection"
                                                v-on:filter="getDropdownValues"
                                                :disabled="false"
                                                placeholder="Add New Commodities">
                                        </Dropdown>
                                        <input type="hidden" class="input" name="name" :value="(key_+1)">
                                    </div>
                                    <div id="btn_addCommo">
                                        <button :id="'btn-add-'+(key_+1)" class="btn-add-commo btn sbold green btn-circle" @click="onAddCommo(key_+1)" data-toggle="modal"  href="#responsive_package"> Add Commodity
                                        </button>
                                    </div>
                                </div>
                                <table class="table table-striped table-bordered table-hover no-footer"
                                    role="grid" id="sender-table">
                                <thead>
                                    <tr role="row" class="heading">
                                        <th width="40%">Commodity Name</th>
                                        <th>Quanlity</th>
                                        <th>Total Value</th>
                                        <th>Weight</th>
                                        <th>Cal</th>
                                        <th>Surchage</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(commodity, key) in commodities" v-if="commodities[key].package_id == (key_+1)">
                                        <td>{{commodities[key].name}}</td>
                                        <td>
                                            <div class="form-group">
                                                <input class="form-control" type='text' v-model="commodities[key].quanlity">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <input class="form-control" type='text' v-model="commodities[key].total_value">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                               <input class="form-control" type='text' v-model="commodities[key].weight">
                                            </div>
                                            
                                        </td>
                                        <td>
                                            <button class="btn green btn-default" @click="calCommoItem(commodities[key], key)">>></button>
                                        </td>
                                        <td>
                                            <label :id="'sur-'+(key)"></label>$
                                        </td>
                                        <td>
                                            <button class="btn red btn-default" @click="removeCommo(key)">X</button>
                                        </td>
                                    </tr>
                                </tbody>
                                </table>
                                 <!-- End Commo -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <input type="hidden" class="input" name="name" :value="0">
</div>

</template>
<style>
.dropdown-input {
    border-radius: 0 25px 25px 0 !important;
    width: 100% !important;
}
.dropdown-content {
    z-index: 100 !important;
}
.dropdown .dropdown-content {
    min-width: 50% !important;
}
.dropdown .dropdown-input {
    min-width: 50% !important;
}
</style>
<script>
Vue.component("v-select", VueSelect.VueSelect);
    export default{
        props: {

        },
        data: function () {
            return {
                isUpdated: false,
                showError: false,
                errors: '',
                role_id: AppData.role_id,
                isSending: false,
                isLoadCommo: false,
                isLoadRecipient: false,
                countries: {},
                cities: {},
                recipient: {},
                sender: {},
                disabled: 1,
                com_options: [
                    { "name": 'Watch - Rolex - rolex', "id": '1'}
                    ],
                re_options: [
                    { "name": '', "id": '0' , "dataCode":''}
                    ],
                selected: { name: null, id: null },
                packages: [],
                commodities:[],
                options_: [
                { countryCode: "AU", countryName: "Australia" }
                ],
                package_key:0,
                select_dis: true,
                current_package:0,
                current_key:0
            }
        },
        components: {
        },
        computed: {
        },
        created: function () {
            console.log('sender_form created');
             eventHub.$on("STEP_PACKAGE", this.onPaymentStep);
        },
        beforeMount: function () {
            console.log('sender_form beforeMount');
        },
        mounted: function () {
            console.log('sender_form mounted');
            this.$refs.btnPackage.click();
            var _self = this;
            this.loadCom();
        },
        updated: function () {
            console.log('sender_form updated');
        },
        beforeDestroy: function () {
            console.log('sender_form beforeDestroy');
        },
        methods: {
            loadCom: function(){
                var _self = this;
                this.$http.get(AppData.baseUrl+'/api/shipments/load-commo').then(function (response) {
                    _self.com_options = response.data.data;
                }).catch(function (error) {
                });
            },
            onClickNewPackage: function () {
                this.package_key += 1;
                this.packages.push({ 'w':'', 'dD':'', 'dW':'', 'dH':''});
                //this.commodities.push({package_id:this.package_key});
                //console.log('com'+JSON.stringify(this.commodities));
               // this.calPackagePrice();
               // this.calCommoPrice();
            },
            removePackage: function (key) {
                this.packages.splice( key, 1 );
                this.package_key -= 1;
                let idx = this.commodities.findIndex(i => i.package_id === (key+1))
                this.commodities.splice( idx, 1 );
            },
            removeCommo: function (key) {
                this.commodities.splice( key, 1 );
            },
            validateSelection(selection) {
                 var _self = this;
                var pack_id = _self.current_package;
                this.selected = selection;
                if(pack_id && selection.id && !_self.isLoadCommo){
                    _self.isLoadCommo = true;
                    this.commodities.push({package_id:pack_id, "name":selection.name, "id":selection.id});
                }
                console.log(JSON.stringify(this.commodities)+' -----');
                //this.commodities[key].push(selected); // theateam115
                console.log(selection.name+' has been selected');
            },
            getDropdownValues(keyword) {
                 var _self = this;
                _self.isLoadCommo = false;
                console.log('You could refresh options by querying the API with '+keyword);
            },
            runme: selected => {
                 console.log($('#mySelect1').data('key')+' -----');
                 console.log(key+' -----');
                alert(`label: ${selected.name} value: ${selected.value}`);
            },
            onAddCommo: function (key) {
                var _self = this;
                console.log('Curent package ---- '+key);
                _self.select_dis = false;
                // show and hide commodity
                $('.select_addCommo').removeClass('show').addClass('hide');
                $('#select_addCommo_'+key).removeClass('hide').addClass('show');
                // show and hide button
                $('.btn-add-commo').removeClass('hide').addClass('show');
                $('#btn-add-'+key).removeClass('show').addClass('hide');
                this.current_package = key;
            },
            indexWhere(array, conditionFn) {
                const item = array.find(conditionFn)
                return array.indexOf(item)
            },
            calPackagePrice: function () {
                var _self = this;
                console.log('Curent package ---- '+JSON.stringify(this.packages));
                this.$http.post(AppData.baseUrl+'/api/shipments/package-price', this.packages).then(function (response) {
                        if (response.data && response.data.message) {
                            console.log('Curent package ---- PRICE '+JSON.stringify(response.data));
                            eventHub.$emit("PAYMENT_PACKGAE_PRICE", response.data);
                        }
                        App.unblockUI('#store-setting-block')
                    }).catch(function (error) {
                        if (error.data && error.data.data) {
                            _self.errors = error.data.data;
                        } else {
                            showToastFromResponse(error);
                        }
                        App.unblockUI('#store-setting-block')
                    });
            },
            calCommoPrice: function () {
                var _self = this;
                console.log('Curent package ---- '+JSON.stringify(this.commodities));
                this.$http.post(AppData.baseUrl+'/api/shipments/commo-price', this.commodities).then(function (response) {
                        if (response.data && response.data.message) {
                            console.log('Curent package commo ---- PRICE '+JSON.stringify(response.data));
                            eventHub.$emit("PAYMENT_PACKGAE_SURCHARGE", response.data.data);
                            eventHub.$emit("PAYMENT_PACKGAE_SURCHARGE_", response.data.data);
                        }
                        App.unblockUI('#store-setting-block')
                    }).catch(function (error) {
                        if (error.data && error.data.data) {
                            _self.errors = error.data.data;
                        } else {
                            showToastFromResponse(error);
                        }
                        App.unblockUI('#store-setting-block')
                    });
            },
            onPaymentStep: function (beforeTabSwitch) {
                this.calPackagePrice();
                this.calCommoPrice();
                eventHub.$emit("PRINT_PACKAGES", this.packages);
                eventHub.$emit("SHIPMENT_PACKAGES", this.packages);
                eventHub.$emit("SHIPMENT_COMMO", this.commodities);
            },
            calCommoItem(commItem,key){
                console.log('com-------'+JSON.stringify(key));
                var _self = this;
                _self.current_key = key;
                this.$http.post(AppData.baseUrl+'/api/shipments/commo-price-item',commItem).then(function (response) {
                    if (response.data && response.data.message) {
                        //console.log('com-------'+JSON.stringify(_self.current_key));
                        var curr_key = _self.current_key;
                        _self.commodities[curr_key].surchage = response.data.data;
                        $('#sur-'+curr_key).html(response.data.data);
                        //console.log('Curent package commo ---- PRICE '+JSON.stringify(response.data));
                    }
                    //App.unblockUI('#store-setting-block')
                }).catch(function (error) {
                    if (error.data && error.data.data) {
                        _self.errors = error.data.data;
                    } else {
                        showToastFromResponse(error);
                    }
                   // App.unblockUI('#store-setting-block')
                });
            }
        }
    }
</script>
