<template>
<div>
    <div class="col-md-12">
        <div class="portlet light bordered col-md-12">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase"> Print Shipment </span>
                </div>
                <div class="actions">
                    <div class="btn-group btn-group-devided">
                        <button tabindex="-1" type="button" style="background-color: rgb(230, 126, 34); border-color: rgb(230, 126, 34); color: white;" class="wizard-btn" @click="printAll()">PRINT ALL</button>
                    </div>
                </div>
            </div>
            <div class="portlet-body form">
            <div class="col-md-12">
                <!-- START PRINT -->
                <div v-for="(package, key_) in packages" class="col-md-12" style="padding-bottom: 10px;">
                    <div class="col-md-4">
                        <div class="row text-center">
                            <button tabindex="-1" type="button" style="background-color: rgb(230, 126, 34); border-color: rgb(230, 126, 34); color: white;" class="wizard-btn" @click="print(key_+1)">PRINT Thermal {{key_+1}}</button>
                        </div>
                        <div class="print_wrapper" :id="'printMe_'+(key_+1)">
                            <div id="printme_content" class="">
                                <div class="table-responsive" style="width: 100%;height:100%">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <img src="/assets/layouts/layout4/img/logo-light.png" alt="logo" class="">
                                                </th>
                                                <th colspan="2" style="text-align: right !important;">
                                                    14936 Dillor St <br/>
                                                    Westminster. CA 92683 <br/>
                                                    Tel: 714 790 999 <br/>
                                                    support@texpresscargo.net 
                                                </th>   
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td></td>
                                                <td>Date</td>
                                                <td>{{new Date().getMonth() }}/{{new Date().getDate() }}/{{new Date().getFullYear() }}</td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td>Tracking Number</td>
                                                <td>{{shipment_code}}</td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td>Service Type</td>
                                                <td>{{shipment_info}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="table table-bordered">
                                        <tbody>
                                        <tr>
                                                <td colspan="3"><b>Sender/Người Gửi</b></td>
                                                <td colspan="3"><b>Consignee/Người Nhận</b></td>
                                            </tr>
                                            <tr >
                                                <td colspan="3">
                                                    <b>{{sender_.contact_firstname}} {{sender_.contact_lastname}}</b>
                                                    <br/>
                                                    {{address_sender}}
                                                    <br/>
                                                    <b>{{sender_.contact_phone}}</b>
                                                </td>
                                                <td colspan="3">
                                                    <b>{{recipient_.contact_firstname}} {{recipient_.contact_lastname}}</b>
                                                    <br/>
                                                    {{address_recipient}}
                                                    <br/>
                                                    <b>{{recipient_.contact_phone}}</b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="6"><b>Package information/Thông tin kiện hàng</b></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <b> No. of package:</b> 
                                                </td>
                                                <td>
                                                    {{packageCount}} Box
                                                </td>
                                                <td>
                                                    <b>Actual Weight: </b>
                                                </td>
                                                <td>
                                                    {{packages[key_].w}} Lbs
                                                </td>
                                                <td>
                                                    <b>Dimension:</b>
                                                </td>
                                                <td>
                                                    {{packages[key_].dD}} x {{packages[key_].dW}} x {{packages[key_].dH}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3"><b>Package:</b></td>
                                                <td colspan="3">{{(key_+1)}}</td>
                                            </tr>
                                            <tr>
                                                <td colspan="6" style="text-align: center;">
                                                    <svg :id="'barcode_'+(key_+1)"></svg>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row text-center">
                            <button tabindex="-1" type="button" style="background-color: rgb(230, 126, 34); border-color: rgb(230, 126, 34); color: white;" class="wizard-btn" @click="printA4(key_+1)">PRINT Master - {{key_+1}}</button>
                        </div>
                        <div class="print_wrapper" :id="'printMeA4_'+(key_+1)">
                            <div id="printme_content" class="">
                                <div class="table-responsive" style="width: 100%;height:100%">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <img src="/assets/layouts/layout4/img/logo-light.png" alt="logo" class="">
                                                </th>
                                                <th colspan="2" style="text-align: right !important;">
                                                    14936 Dillor St <br/>
                                                    Westminster. CA 92683 <br/>
                                                    Tel: 714 790 999 <br/>
                                                    support@texpresscargo.net 
                                                </th>   
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td></td>
                                                <td>Date</td>
                                                <td>{{new Date().getMonth() }}/{{new Date().getDate() }}/{{new Date().getFullYear() }}</td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td><b>Tracking Number</b></td>
                                                <td>{{shipment_code}}</td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td><b>Service Type</b></td>
                                                <td>{{shipment_info}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <td colspan="3"><b>Sender/Người Gửi</b></td>
                                                <td colspan="3"><b>Consignee/Người Nhận</b></td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">
                                                    <b>{{sender_.contact_firstname}} {{sender_.contact_lastname}}</b>
                                                    <br/>
                                                        {{address_sender}}
                                                    <br/>
                                                    <b>{{sender_.contact_phone}}</b>
                                                </td>
                                                <td colspan="3">
                                                    <b>{{recipient_.contact_firstname}} {{recipient_.contact_lastname}}</b>
                                                    <br/>
                                                        {{address_recipient}}
                                                    <br/>
                                                    <b>{{recipient_.contact_phone}}</b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="6"><b>Package information/Thông tin kiện hàng</b></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <b> No. of package: </b>
                                                </td>
                                                <td>
                                                    {{packageCount}} Box
                                                </td>
                                                <td>
                                                    <b> Actual Weight: </b>
                                                </td>
                                                <td>
                                                    {{packages[key_].w}} Lbs
                                                </td>
                                                <td>
                                                    <b> Dimension:</b>
                                                </td>
                                                <td>
                                                    {{packages[key_].dD}} x {{packages[key_].dW}} x {{packages[key_].dH}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3"><b>Package:</b></td>
                                                <td colspan="3">{{(key_+1)}}</td>
                                            </tr>
                                            <tr>
                                                <td colspan="6" style="text-align: center;">
                                                <svg :id="'barcode_'+(key_+1)"></svg>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <p><b>Commodity/Nội dung hàng hoá</b></p>
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr role="row" class="heading">
                                                <th width="40%">Commodity Name</th>
                                                <th>Quanlity</th>
                                                <th>Value</th>
                                                <th>Weight</th>
                                                <th>Surchage</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(commodity, key) in commodities" v-if="commodities[key].package_id == (key_+1)">
                                                <td>{{commodities[key].name}}</td>
                                                <td>
                                                    {{commodities[key].quanlity}}
                                                </td>
                                                <td>
                                                    {{commodities[key].total_value}}
                                                </td>
                                                <td>
                                                    {{commodities[key].weight}}
                                                </td>
                                                <td>
                                                    {{commodities[key].surchage}}$
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td width="30%">
                                                    Payment method
                                                </td>
                                                <td width="40%">
                                                    <label v-if="paymentPaids.paymentPaidType" class="label-readonly">
                                                        <span>UnPaid</span> - 
                                                        <span v-if="paymentPaids.paymentPaidItem == 1">Sender</span>
                                                        <span v-if="paymentPaids.paymentPaidItem == 2">Recipient</span>
                                                        -
                                                        <span v-if="paymentPaids.paymentPaidType == 1">Cash</span>
                                                        <span v-if="paymentPaids.paymentPaidType == 2">Credit</span>
                                                        <span v-if="paymentPaids.paymentPaidType == 3">Check</span>
                                                    </label>
                                                    <label v-else class="label-readonly">
                                                        <span>Paid</span> -
                                                        <span v-if="paymentPaids.paymentPaidItem == 1">Cash</span>
                                                        <span v-if="paymentPaids.paymentPaidItem == 2">Credit</span>
                                                        <span v-if="paymentPaids.paymentPaidItem == 3">Check</span>
                                                    </label>
                                                </td>
                                                <td><b>Chargeable weight</b></td>
                                                <td>{{packages[key_].w}}</td>
                                                <td>Lbs</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <b>Note/Ghi Chú</b>
                                                </td>
                                                <td></td>
                                                <td><b>Shipping Rate</b></td>
                                                <td>{{shipmentRate.shippingRate}}</td>
                                                <td>Usd</td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td><b>Package Rate</b></td>
                                                <td>{{shipmentRate.packagePrice}}</td>
                                                <td>Usd</td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td><b>UPS Fee</b></td>
                                                <td>{{shipmentRate.upsFee}}</td>
                                                <td>Usd</td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td><b>Insurance</b></td>
                                                <td>{{shipmentRate.insurancePrice}}</td>
                                                <td>Usd</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <b>Sender's signature/Chữ ký người gửi</b>
                                                </td>
                                                <td></td>
                                                <td><b>Other Charge</b></td>
                                                <td>{{shipmentRate.otherCharge}}</td>
                                                <td>Usd</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <b>Employee/Nhân Viên</b>
                                                </td>
                                                <td>{{ user_fullname }}</td>
                                                <td><b>TOTAL</b></td>
                                                <td>{{shipmentRate.totalRate}}</td>
                                                <td>Usd</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <p style="text-align: center;font-size:12px"><i>I have read understand, and agree all information above is correct/Tôi đã đọc, hiểu và đồng ý với thông tin bên trên là đúng!</i></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row text-center">
                            <button tabindex="-1" type="button" style="background-color: rgb(230, 126, 34); border-color: rgb(230, 126, 34); color: white;" class="wizard-btn" @click="printA4Attached(key_+1)">PRINT Attached - {{key_+1}}</button>
                        </div>
                        <div class="print_wrapper" :id="'printMeA4Attached_'+(key_+1)">
                            <div id="printme_content" class="">
                                <div class="table-responsive" style="width: 100%;height:100%">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <img src="/assets/layouts/layout4/img/logo-light.png" alt="logo" class="">
                                                </th>
                                                <th colspan="2" style="text-align: right !important;">
                                                    14936 Dillor St <br/>
                                                    Westminster. CA 92683 <br/>
                                                    Tel: 714 790 999 <br/>
                                                    support@texpresscargo.net 
                                                </th>   
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td></td>
                                                <td><b>Date</b></td>
                                                <td>{{new Date().getMonth() }}/{{new Date().getDate() }}/{{new Date().getFullYear() }}</td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td><b>Tracking Number</b></td>
                                                <td>{{shipment_code}}</td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td><b>Service Type</b></td>
                                                <td>{{shipment_info}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="table table-bordered">
                                        <tbody>
                                        <tr>
                                                <td colspan="3"><b>Sender/Người Gửi</b></td>
                                                <td colspan="3"><b>Consignee/Người Nhận</b></td>
                                            </tr>
                                            <tr >
                                                <td colspan="3">
                                                    {{sender_.contact_firstname}} {{sender_.contact_lastname}}
                                                    <br/>
                                                    {{address_sender}}
                                                    <br/>
                                                    <b>{{sender_.contact_phone}}</b>
                                                </td>
                                                <td colspan="3">
                                                    <b>{{recipient_.contact_firstname}} {{recipient_.contact_lastname}}</b>
                                                    <br/>
                                                    {{address_recipient}}
                                                    <br/>
                                                    <b>{{recipient_.contact_phone}}</b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="6"><b>Package information<br/>(Thông tin kiện hàng)</b></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <b> No. of package: </b>
                                                </td>
                                                <td>
                                                    {{packageCount}} Box
                                                </td>
                                                <td>
                                                    <b> Actual Weight: </b>
                                                </td>
                                                <td>
                                                    {{packages[key_].w}} Lbs
                                                </td>
                                                <td>
                                                    <b> Dimension:</b>
                                                </td>
                                                <td>
                                                    {{packages[key_].dD}} x {{packages[key_].dW}} x {{packages[key_].dH}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3"><b>Package:</b></td>
                                                <td colspan="3">{{(key_+1)}}</td>
                                            </tr>
                                            <tr>
                                                <td colspan="6" style="text-align: center;">
                                                    <svg :id="'barcode_'+(key_+1)"></svg>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <p><b>Commodity/Nội dung hàng hoá</b></p>
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr role="row" class="heading">
                                                <th>Commodity Name</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(commodity, key) in commodities" v-if="commodities[key].package_id == (key_+1)">
                                                <td>{{commodities[key].name}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                    </div>
                </div>
                </div>
                <!-- END PRINT -->
                </div>
            </div>
        </div>
    </div>
</div>
</template>
<style>
.dropdown-input {
    border-radius: 0 25px 25px 0 !important;
    width: 100% !important;
}
.dropdown-content {
    z-index: 100 !important;
}
#printme_content {
    /* width: 384px;height: 576px;*/
    width: 98%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center !important;
    flex-wrap: wrap;
}
.print_wrapper {
    display:none;
}
</style>

<script>
import VueHtmlToPaper from '../vue-html-to-paper.js';
var options = {
        name: '_blank',
            specs: [
            'fullscreen=yes',
            'titlebar=no',
            'scrollbars=yes'
            ],
        styles: [
            'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css',
            'https://unpkg.com/kidlat-css/css/kidlat.css'
        ]
    }
    Vue.use(VueHtmlToPaper, options);
    export default{
        props: {

        },
        data: function () {
            return {
                showError: false,
                errors: '',
                role_id: AppData.role_id,
                user_fullname: AppData.fullname,
                isSending: false,
                isLoadType: false,
                sender_:{},
                recipient_:{},
                packageCount:0,
                shipment_code:{},
                packages:[{w:0, dD:0, dW:0, dH:0}],
                sku: '150010',
                shipment_info:'',
                commodities:[],
                shipment_detail:{},
                paymentPaids:{paymentPaid:0, paymentPaidItem:0, paymentPaidType:0},
                shipmentRate:{packagePrice:0, otherCharge:0, shippingRate:0, packageSurchargePrice:0, insurancePrice:0,upsFee:0, totalRate:0},
            }
        },
        components: {
        },
        computed: {
            address_sender: function(){
                if(this.sender_.contact_address) {
                    return this.sender_.contact_address+' - '+this.sender_.contact_zipcode_name + ',' + this.sender_.country_name;
                }
            },
            address_recipient: function(){
                if(this.recipient_.contact_address){
                    return this.recipient_.contact_address+' - '+this.recipient_.district_name+' - '+this.recipient_.city_name + ',' + this.recipient_.country_name;
                }
            },
        },
        created: function () {
            var _self = this;
            eventHub.$on("PRINT_SENDER",  function (sender_) {
                _self.sender_    = sender_;
            });
            eventHub.$on("PRINT_PACKAGES",  function (packages, commodities) {
                _self.packages    = packages;
                _self.commodities    = commodities;
            });
            eventHub.$on("PRINT_RECIPIENT",  function (recipient_) {
                _self.recipient_  = recipient_;
            });
            eventHub.$on("PRINT_SHIPMENT_INFO",  function (shipment_info) {
                _self.shipment_info    = shipment_info;
            });
            
            eventHub.$on("PRINT_SHIPMENT_CODE",  function (code, packageCount) {
                console.log('PRINT_SHIPMENT_CODE ---'+packageCount);
                _self.shipment_code    = code;
                _self.packageCount = packageCount;
                if(packageCount == 2){
                    JsBarcode("#barcode_1", (_self.shipment_code),{
                        lineColor: '#000',
                        height: 100,    
                        displayValue: true
                    })
                } else {
                var i;
                    for (i = 1; i < packageCount; i++) {
                        JsBarcode("#barcode_"+i, (_self.shipment_code+'-'+i),{
                            lineColor: '#000',
                            height: 100,
                            displayValue: true
                        });
                    }
                }
            });
            eventHub.$on("PRINT_SHIPMENT_PAYMENT",  function (paymentPaids) {
                _self.paymentPaids = paymentPaids;
            });
            eventHub.$on("PRINT_SHIPMENT_RATE",  function (shipmentRate) {
                _self.shipmentRate = shipmentRate;
            });
            console.log('shipmentinfo_form created');
        },
        beforeMount: function () {
            console.log('shipmentinfo_form beforeMount');
        },
        mounted: function () {
            console.log('bar code mounted');
        },
        updated: function () {
            console.log('shipmentinfo_form updated');
        },
        beforeDestroy: function () {
            console.log('shipmentinfo_form beforeDestroy');
        },
        methods: {
            print(key) {
                this.$htmlToPaper('printMe_'+key);
            },
            printA4(key) {
                this.$htmlToPaper('printMeA4_'+key);
            },
            printA4Attached(key) {
                this.$htmlToPaper('printMeA4Attached_'+key);
            },
            printAll() {
                var i;
                for (i = 1; i < this.packageCount; i++) {
                    this.$htmlToPaper('printMe_'+i);
                    this.$htmlToPaper('printMeA4_'+i);
                    this.$htmlToPaper('printMeA4Attached_'+i);
                }
            }
        }
    }
</script>
