<template>
<div>
    <div class="col-md-12" id="package-block">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase"> Packages </span>
                </div>
                <div class="actions">
                    <div class="btn-group btn-group-devided">
                        <div class="form-group">
                            <button class="btn sbold green btn-circle" @click="onClickNewPackage()" data-toggle="modal" href="#responsive_package" ref="btnPackage"> Add Package
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="package_wrapper" class="portlet-body form">
                <div v-for="(package, key_) in packages">
                    <div class="col-md-12">
                        <div class="portlet light bordered">
                            <div class="portlet-title">
                                <div class="caption font-dark">
                                    <i class="icon-trash font-red" v-on:click="removePackage(key_)"></i>
                                    <span class="caption-subject bold uppercase"> Packages {{key_+1}} </span> <br/><br/>
                                    <span class="caption-subject"> Weight <input class=" frm-package" type='text' v-model="packages[key_].w"> - D<input class="frm-package" type='text' v-model="packages[key_].dD">xW<input class="frm-package" type='text' v-model="packages[key_].dW">xH<input class="frm-package" type='text' v-model="packages[key_].dH"></span>
                                </div>
                                <div class="actions">
                                    <div class="btn-group btn-group-devided">
                                        <div class="form-group">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="portlet-body form">
                                <!-- Start Commo -->
                                <div class="actions" style="margin-bottom: 10px;">
                                    <div :id="'select_addCommo_'+(key_+1)" class="select_addCommo hide">
                                        <Dropdown
                                                :options="com_options"
                                                v-on:selected="validateSelection"
                                                v-on:filter="getDropdownValues"
                                                :disabled="false"
                                                placeholder="Add New Commodities">
                                        </Dropdown>
                                        <input type="hidden" class="input" name="name" :value="(key_+1)">
                                    </div>
                                    <div id="btn_addCommo">
                                        <button :id="'btn-add-'+(key_+1)" class="btn-add-commo btn sbold green btn-circle" @click="onAddCommo(key_+1)" data-toggle="modal"  href="#responsive_commodity_"> Add Commodity
                                        </button>
                                    </div>
                                </div>
                                <table class="table table-striped table-bordered table-hover no-footer"
                                    role="grid" id="sender-table">
                                <thead>
                                    <tr role="row" class="heading">
                                        <th width="40%">Commodity Name</th>
                                        <th>Quanlity</th>
                                        <th>Total Value</th>
                                        <th>Weight</th>
                                        <th>Surchage</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(commodity, key) in commodities" v-if="commodities[key].package_id == (key_+1)">
                                        <td>{{commodities[key].name}}</td>
                                        <td>
                                            <div class="form-group">
                                                <input class="form-control" type='text' v-model="commodities[key].quanlity" v-on:keyup="calCommoItem(commodities[key], key)">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <input class="form-control" type='text' v-model="commodities[key].total_value" v-on:keyup="calCommoItem(commodities[key], key)">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                               <input class="form-control" type='text' v-model="commodities[key].weight" v-on:keyup="calCommoItem(commodities[key], key)">
                                            </div>
                                            
                                        </td>
                                       <!-- <td>
                                            <button class="btn green btn-default" @click="calCommoItem(commodities[key], key)">>></button>
                                        </td> -->
                                        <td>
                                            <label :id="'sur-'+(key)"></label>$
                                        </td>
                                        <td>
                                            <button class="btn red btn-default" @click="removeCommo(key)">X</button>
                                        </td>
                                    </tr>
                                </tbody>
                                </table>
                                 <!-- End Commo -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <input type="hidden" class="input" name="name" :value="0">
<!-- POPUP COMMO-->
<div id="responsive_commodity_" class="modal fade" tabindex="-1" data-width="70%">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title"><i class="icon-layers"></i> Add New Commodity For Package - {{current_package}}</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form action="#" class="form-horizontal">
                        <div class="form-body">
                            <form-error :errors="errors" field="commodity_name" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Commodity Category</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon input-circle-left">
                                            <i class="fa fa-bars"></i>
                                        </span>
                                        <select v-model="addCommotities.cate" @change="loadCommoByCate(addCommotities.cate)" class="form-control input-circle-right">
                                            <option value="-1" selected>All</option>
                                            <option v-for="commodity_cate in commodity_cates" :value="commodity_cate.id">{{ commodity_cate.commodity_cate_name }}</option>
                                        </select>
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="commodity_name" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Commodity</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon input-circle-left">
                                            <i class="fa fa-bars"></i>
                                        </span>
                                        <Dropdown
                                                v-on:selected="validateSelectionCommodity"
                                                :options="com_options"
                                                v-on:filter="getDropdownValues"
                                                placeholder="Add New Commodities">
                                        </Dropdown>
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="quanlity" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Quanlity</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon input-circle-left">
                                            <i class="fa fa-bars"></i>
                                        </span>
                                        <input type="text" class="form-control input-circle-right" placeholder="Quanlity"
                                                v-model="addCommotities.quanlity">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="total_value" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Total Value</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon input-circle-left">
                                            <i class="fa fa-bars"></i>
                                        </span>
                                        <input type="text" class="form-control input-circle-right" placeholder="Total Value"
                                                v-model="addCommotities.total_value">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="weight" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Weight</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon input-circle-left">
                                            <i class="fa fa-bars"></i>
                                        </span>
                                        <input type="text" class="form-control input-circle-right" placeholder="Weight"
                                                v-model="addCommotities.weight">
                                    </div>
                                </div>
                            </form-error>
                        </div>
                    </form>
                    <!-- END FORM-->
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-outline dark btn-circle">Close</button>
            <button type="button" class="btn green btn-circle" @click="addCommodity(0)">{{ (isSending) ? 'Saving ...' : 'Add&Exit'}} </button>
            <button type="button" class="btn green btn-circle" @click="addCommodity(1)">{{ (isSending) ? 'Saving ...' : 'Add&Continue'}}</button>
        </div>
</div>
<!-- END POPUP COMMO-->
</div>

</template>
<style>
.dropdown-input {
    border-radius: 0 25px 25px 0 !important;
    width: 100% !important;
}
.dropdown-content {
    z-index: 100 !important;
}
.dropdown .dropdown-content {
    min-width: 50% !important;
}
.dropdown .dropdown-input {
    min-width: 50% !important;
}
</style>
<script>
Vue.component("v-select", VueSelect.VueSelect);
import { ModelSelect } from 'vue-search-select';
    export default{
        props: {

        },
        data: function () {
            return {
                isUpdated: false,
                showError: false,
                errors: '',
                role_id: AppData.role_id,
                isSending: false,
                isLoadCommo: false,
                isLoadRecipient: false,
                countries: {},
                cities: {},
                recipient: {},
                sender: {},
                disabled: 1,
                com_options: [
                    { "name": 'Watch - Rolex - rolex', "id": '1'}
                    ],
                re_options: [
                    { "name": '', "id": '0' , "dataCode":''}
                    ],
                selected: { name: null, id: null },
                packages: [],
                commodities:[],
                options_: [
                { countryCode: "AU", countryName: "Australia" }
                ],
                package_key:0,
                select_dis: true,
                current_package:0,
                current_key:0,
                commodity_cates:[{ value: '0', text: 'Select Cate' }],
                addCommotities:{
                    quanlity:0,
                    total_value:0,
                    weight:0
                },
                addCommotities_default:{
                    quanlity:0,
                    total_value:0,
                    weight:0
                },
                options: [
                    { value: '1', text: 'aa' + ' - ' + '1' },
                    { value: '2', text: 'ab' + ' - ' + '2' },
                    { value: '3', text: 'bc' + ' - ' + '3' },
                    { value: '4', text: 'cd' + ' - ' + '4' },
                    { value: '5', text: 'de' + ' - ' + '5' }
                ],
                item: {
                    value: '',
                    text: ''
                },
            }
        },
        components: {
            ModelSelect
        },
        computed: {
        },
        created: function () {
            console.log('sender_form created');
            eventHub.$on("STEP_PACKAGE", this.onPaymentStep);
        },
        beforeMount: function () {
            console.log('sender_form beforeMount');
        },
        mounted: function () {
            console.log('sender_form mounted');
            this.$refs.btnPackage.click();
            var _self = this;
            this.loadCom();
            this.loadDataCate();
        },
        updated: function () {
            console.log('sender_form updated');
        },
        beforeDestroy: function () {
            console.log('sender_form beforeDestroy');
        },
        methods: {
            loadCom: function(){
                var _self = this;
                this.$http.get(AppData.baseUrl+'/api/shipments/load-commo').then(function (response) {
                    _self.com_options = response.data.data;
                }).catch(function (error) {
                });
            },
            onClickNewPackage: function () {
                this.package_key += 1;
                this.packages.push({ 'w':'', 'dD':'', 'dW':'', 'dH':''});
                //this.commodities.push({package_id:this.package_key});
                //console.log('com'+JSON.stringify(this.commodities));
               // this.calPackagePrice();
               // this.calCommoPrice();
            },
            removePackage: function (key) {
                this.packages.splice( key, 1 );
                this.package_key -= 1;
                let idx = this.commodities.findIndex(i => i.package_id === (key+1))
                this.commodities.splice( idx, 1 );
            },
            removeCommo: function (key) {
                this.commodities.splice( key, 1 );
            },
            validateSelection(selection) {
                var _self = this;
                var pack_id = _self.current_package;
                this.selected = selection;
                if(pack_id && selection.id && !_self.isLoadCommo){
                    _self.isLoadCommo = true;
                    this.commodities.push({package_id:pack_id, "name":selection.name, "id":selection.id});
                }
                console.log(JSON.stringify(this.commodities)+' -----');
                //this.commodities[key].push(selected); // theateam115
                console.log(selection.name+' has been selected');
            },
            getDropdownValues(keyword) {
                var _self = this;
                _self.isLoadCommo = false;
                console.log('You could refresh options by querying the API with '+keyword);
            },
            runme: selected => {
                console.log($('#mySelect1').data('key')+' -----');
                console.log(key+' -----');
                alert(`label: ${selected.name} value: ${selected.value}`);
            },
            onAddCommo: function (key) {
                var _self = this;
                console.log('Curent package ---- '+key);
                _self.select_dis = false;
                /*
                // show and hide commodity
                $('.select_addCommo').removeClass('show').addClass('hide');
                $('#select_addCommo_'+key).removeClass('hide').addClass('show');
                // show and hide button
                $('.btn-add-commo').removeClass('hide').addClass('show');
                $('#btn-add-'+key).removeClass('show').addClass('hide');*/
                this.current_package = key;
            },
            indexWhere(array, conditionFn) {
                const item = array.find(conditionFn)
                return array.indexOf(item)
            },
            calPackagePrice: function () {
                var _self = this;
                console.log('Curent package ---- '+JSON.stringify(this.packages));
                this.$http.post(AppData.baseUrl+'/api/shipments/package-price', this.packages).then(function (response) {
                        if (response.data && response.data.message) {
                            console.log('Curent package ---- PRICE '+JSON.stringify(response.data));
                            eventHub.$emit("PAYMENT_PACKGAE_PRICE", response.data);
                        }
                        App.unblockUI('#store-setting-block')
                    }).catch(function (error) {
                        if (error.data && error.data.data) {
                            _self.errors = error.data.data;
                        } else {
                            showToastFromResponse(error);
                        }
                        App.unblockUI('#store-setting-block')
                    });
            },
            calCommoPrice: function () {
                var _self = this;
                console.log('Curent package ---- '+JSON.stringify(this.commodities));
                this.$http.post(AppData.baseUrl+'/api/shipments/commo-price', this.commodities).then(function (response) {
                        if (response.data && response.data.message) {
                            console.log('Curent package commo ---- PRICE '+JSON.stringify(response.data));
                            eventHub.$emit("PAYMENT_PACKGAE_SURCHARGE", response.data.data);
                            eventHub.$emit("PAYMENT_PACKGAE_SURCHARGE_", response.data.data);
                        }
                        App.unblockUI('#store-setting-block')
                    }).catch(function (error) {
                        if (error.data && error.data.data) {
                            _self.errors = error.data.data;
                        } else {
                            showToastFromResponse(error);
                        }
                        App.unblockUI('#store-setting-block')
                    });
            },
            onPaymentStep: function (beforeTabSwitch) {
                this.calPackagePrice();
                this.calCommoPrice();
                eventHub.$emit("PRINT_PACKAGES", this.packages, this.commodities);
                eventHub.$emit("SHIPMENT_PACKAGES", this.packages);
                eventHub.$emit("SHIPMENT_COMMO", this.commodities);
            },
            calCommoItem(commItem,key){
                console.log('com-------'+JSON.stringify(key));
                var _self = this;
                _self.current_key = key;
                this.$http.post(AppData.baseUrl+'/api/shipments/commo-price-item',commItem).then(function (response) {
                    if (response.data && response.data.message) {
                        //console.log('com-------'+JSON.stringify(_self.current_key));
                        var curr_key = _self.current_key;
                        _self.commodities[curr_key].surchage = response.data.data;
                        $('#sur-'+curr_key).html(response.data.data);
                        //console.log('Curent package commo ---- PRICE '+JSON.stringify(response.data));
                    }
                    //App.unblockUI('#store-setting-block')
                }).catch(function (error) {
                    if (error.data && error.data.data) {
                        _self.errors = error.data.data;
                    } else {
                        showToastFromResponse(error);
                    }
                   // App.unblockUI('#store-setting-block')
                });
            },
            addCommodity:function (exit_) {
                var _self = this;
                var pack_id = _self.current_package;
                var commo_id = _self.addCommotities.commodity;
                var commo_name = _self.addCommotities.commodity_name;
                var commo_q = _self.addCommotities.quanlity;
                var commo_v = _self.addCommotities.total_value;
                var commo_w = _self.addCommotities.weight;
                if(pack_id && commo_id){
                    console.log('addCommodity-----'+JSON.stringify(this.addCommotities)+' -----');
                    _self.isLoadCommo = true;
                    var addCommItem = {package_id:pack_id, "name":commo_name, "id":commo_id, "quanlity":commo_q, "total_value":commo_v, "weight":commo_w  };
                    _self.commodities.push(addCommItem);
                    this.calCommoItem(addCommItem,(_self.commodities.length-1));
                }
                if(!exit_){
                    $('.dropdown-input').val('Add New Commodity');
                    $('#responsive_commodity_').modal('hide');
                    _self.addCommotities = _self.addCommotities_default;
                } else {
                    _self.addCommotities.quanlity = 0;
                    _self.addCommotities.total_value = 0;
                    _self.addCommotities.weight = 0;
                }
            },
            loadDataCate: function(){
                var _self = this; //edit11
                this.$http.get(AppData.baseUrl+'/api/commodities/brand/categories').then(function (response) {
                    _self.commodity_cates = response.data.data;
                }).catch(function (error) {
                });
            },
            loadCommoByCate: function(commodity_cate){
                var _self = this;
                this.$http.get(AppData.baseUrl+'/api/shipments/load-commo-cate/'+commodity_cate).then(function (response) {
                    _self.com_options = response.data.data;
                }).catch(function (error) {
                    console.log(error);
                });
            },
            validateSelectionCommodity(selection) {
                var _self = this;
                var pack_id = _self.current_package;
                this.selected = selection;
                _self.addCommotities.commodity = selection.id;
                _self.addCommotities.commodity_name = selection.name;
            },
        }
    }
</script>
