<template>
<div>
    <!-- Start Fee-->
    <div class="col-md-6">
        <div class="portlet light bordered col-md-12">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase"> Fee </span>
                </div>
                <div class="actions">
                    <div class="btn-group btn-group-devided">

                    </div>
                </div>
            </div>
            <div class="portlet-body form">
                <form role="form" lpformnum="1" style="width: 100%;">
                    <div class="form-group col-md-12">
                        <label class="col-md-6"><b>Shipping Rate</b></label>
                        <label class="col-md-6">{{shippingRate.rate}} $</label>
                    </div>
                    <div class="form-group col-md-12 ">
                        <label class="col-md-6"><b>Package Rate</b></label>
                        <label class="col-md-6">{{packagePrice.price}} $</label>
                    </div>
                    <div class="form-group col-md-12 ">
                        <label class="col-md-6"><b>Package Surcharge</b></label>
                        <label class="col-md-6">{{packageSurchargePrice.price}} $</label>
                    </div>
                    <div class="form-group col-md-12 ">
                        <label class="col-md-6"><b>Insurance Package?</b></label>
                        <div class="col-md-6">
                        <input type="checkbox" :value="1" :id="1" @click="check($event)">
                        </div>
                    </div>
                    <div v-if="isChecked" class="form-group col-md-12">
                        <label style="padding-left:25px" class="col-md-6"><b>Insurance Rate</b></label>
                        <label style="padding-left:25px" class="col-md-6">{{insurancePrice}} $</label>
                    </div>
                    <div class="form-group col-md-12 ">
                        <label class="col-md-6"><b>Other Charge</b></label>
                        <div class="col-md-6">
                            <input class="form-control" type='text' v-model="otherCharge.price">
                        </div>
                    </div>
                    <div class="form-group col-md-12 ">
                        <label class="col-md-6"><b>UPS Fee</b></label>
                        <div class="col-md-6">
                            <input class="form-control" type='text' v-model="upsFee">
                        </div>
                    </div>
                    <div class="form-group col-md-12 ">
                        <label class="col-md-6"><b style="color:red">Total Rate</b></label>
                        <label class="col-md-6"><b style="color:red">{{totalRate}}</b></label>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--End Fee -->
    <!-- Start Payment-->
    <div class="col-md-6" style="min-height:320px;">
        <div class="portlet light bordered col-md-12">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase"> Payment </span>
                </div>
                <div class="actions">
                    <div class="btn-group btn-group-devided">
                    </div>
                </div>
            </div>
            <div class="portlet-body form">
                <form role="form" lpformnum="1" style="width: 100%;">
                    <div class="form-group col-md-12">
                        <label class="col-md-4"><b>Payment:</b></label>
                        <div class="col-md-8">
                            <v-select :options="paymentTypes" v-model="paymentType"></v-select>
                        </div>
                    </div>
                    <div class="form-group col-md-12" v-if="availablePaymentType">
                        <label class="col-md-4"><b>Payment Item:</b></label>
                        <div class="col-md-8">
                        <v-select :options="availablePaymentType" v-model="paymentTypeItem" :on-change="runme" ></v-select>
                        </div>
                    </div>
                    <div v-if="showUnpaidPaymentType" class="form-group col-md-12">
                        <label class="col-md-4"><b>Payment Paid Type:</b></label>
                        <div class="col-md-8">
                            <v-select :options="unpaidPaymentTypes" v-model="unpaidPaymentType" :on-change="runmePaidType"></v-select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--End Payment -->
</div>
</template>
<style>
.dropdown-input {
    border-radius: 0 25px 25px 0 !important;
    width: 100% !important;
}
.dropdown-content {
    z-index: 100 !important;
}
</style>
<script>
Vue.component("v-select", VueSelect.VueSelect);
    export default{
        props: {

        },
        data: function () {
            return {
                showError: false,
                errors: '',
                role_id: AppData.role_id,
                isSending: false,
                isLoadType: false,
                disabled: 1,
                isChecked: false,
                packagePrice: {price:0},
                insurancePrice: 0,
                upsFee: 0,
                otherCharge: {price:0},
                shippingRate:{rate:0, discount_rate:0},
                packageSurchargePrice:{price:0, totalValue:0},
                paymentType:null,
                showUnpaidPaymentType: false,
                paymentTypeItem:null,
                unpaidPaymentType:null,
                customer_type:null,
                paymentTypes: [
                {
                    label: 'Paid',
                    value: 1,
                    typeItems: [{
                        label: 'Cash',
                        value: 1
                    },
                    {
                        label: 'Credit',
                        value: 2
                    },
                    {
                        label: 'Check',
                        value: 3
                    }]
                },
                {
                    label: 'UnPaid',
                    value: 2,
                    typeItems: [{
                        label: 'Sender',
                        value: 1
                    },
                    {
                        label: 'Recipient',
                        value: 2
                    }]
                }],
                unpaidPaymentTypes: [
                {
                    label: 'Cash',
                    value: 1
                },
                {
                    label: 'Credit',
                    value: 2
                },
                {
                    label: 'Check',
                    value: 3
                }],
            }
        },
        components: {

        },
        computed: {
            totalRate: function(){
                console.log('---total ---');
                var totalRate = (parseFloat(this.packagePrice.price) + parseFloat(this.otherCharge.price) + parseFloat(this.shippingRate.rate) + parseFloat(this.packageSurchargePrice.price) + parseFloat(this.insurancePrice) +  parseFloat(this.upsFee));
                eventHub.$emit("PAYMENT_SERVICE_RATE", this.packagePrice.price, this.otherCharge.price, this.shippingRate.rate, this.packageSurchargePrice.price, this.insurancePrice, this.upsFee, totalRate);
                return (Math.round(totalRate * 100) / 100);
            },
            availablePaymentType() {
                return this.paymentType ? this.paymentType.typeItems : false;
            }
        },
        created: function () {
            var _self = this;
            eventHub.$on("PAYMENT_SERVICE_PRICE", this.onShippingRate);
            eventHub.$on("PAYMENT_CUSTOMERTYPE", function (customerType) {
                _self.customer_type    = customerType;
                console.log('PAYMENT_CUSTOMERTYPE ----- '+JSON.stringify(_self.customer_type));
            });
            eventHub.$on("PAYMENT_PACKGAE_PRICE", this.onPackagePrice);
            eventHub.$on("PAYMENT_PACKGAE_SURCHARGE", function (packageSurchargePrice) {
                _self.packageSurchargePrice.price = packageSurchargePrice.total_price;
                _self.packageSurchargePrice.totalValue = packageSurchargePrice.total_value;
            });
            console.log('sender_form created');
        },
        beforeMount: function () {
            console.log('sender_form beforeMount');
        },
        mounted: function () {
            console.log('sender_form mounted');
            var _self = this;
        },
        updated: function () {
            console.log('sender_form updated');
        },
        beforeDestroy: function () {
            console.log('sender_form beforeDestroy');
        },
        methods: {
            onShippingRate: function(shippingRate_) {
                var _self = this;
                console.log('shipping1 - cus - '+JSON.stringify(_self.customer_type));
                if(_self.customer_type == 0){
                    this.shippingRate.rate = shippingRate_.discount_rate;
                } else {
                    this.shippingRate.rate = shippingRate_.rate;
                }
            },
            onPackagePrice: function(packagePrice) {
                this.packagePrice.price = packagePrice.data;
            },
            check: function(e) {
                if (e.target.checked) {
                    console.log(e.target.value)
                    var commo = this.packageSurchargePrice.totalValue;
                    /**
                     * Door + Station HN -> 3%, Airport + Station HCM 1%
                     */
                    this.insurancePrice = parseFloat(commo)*parseFloat(0.03);
                    this.isChecked = true;
                } else {
                    this.isChecked = false;
                    this.insurancePrice = 0;
                }
            },
            runme(selected) {
                if(this.paymentType.value == 2){
                    this.showUnpaidPaymentType = true;
                } else {
                    this.showUnpaidPaymentType = false;
                }
                eventHub.$emit("SHIPMENT_PAID_paymentPaidItem", selected.value);
                eventHub.$emit("SHIPMENT_PAID_paymentPaid", this.paymentType);
            },
            runmePaidType(selected) {
                if(selected.value) {
                    eventHub.$emit("SHIPMENT_PAID_paymentPaidType", selected.value);
                }
            }
        }
    }
</script>
