<template>
<div>
    <div class="col-md-12">
        <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption font-dark">
                <i class="icon-settings font-dark"></i>
                <span class="caption-subject bold uppercase"> Shipment Infomation </span>
            </div>
            <div class="actions">
                <div class="btn-group btn-group-devided">

                </div>
            </div>
        </div>
        <div class="portlet-body form">
            <!--START FORM-->
             <form role="form" lpformnum="1" style="width: 50%;">
                <div class="form-group">
                     <label><b>Service Types:</b></label>
                    <v-select :options="serviceTypes" v-model="serviceType"></v-select>
                </div>
                <div class="form-group" v-if="availableCities">
                     <label><b>Service Item:</b></label>
                        <v-select :options="availableCities" v-model="typeItem" :on-change="runme" ></v-select>
                </div>
            </form>
            <!-- END FORM-->
        </div>
        </div>
    </div>
</div>
</template>
<style>
.dropdown-input {
    border-radius: 0 25px 25px 0 !important;
    width: 100% !important;
}
.dropdown-content {
    z-index: 100 !important;
}
</style>
<script>
Vue.component("v-select", VueSelect.VueSelect);
    export default{
        props: {

        },
        data: function () {
            return {
                showError: false,
                errors: '',
                role_id: AppData.role_id,
                isSending: false,
                isLoadType: false,
                shipmentInfo: {},
                disabled: 1,
                serviceType: null,
                shippingRate: {service_type:0},
                typeItem: null,
                zoneId:0,
                serviceTypes: [
                {
                    label: 'Door',
                    value: 1,
                    typeItems: [{label:'Door - HN', value:1}, {label:'Door - HCM', value:2}]
                },
                {
                    label: 'Station',
                    value: 2,
                    typeItems: [{label:'Station - HN', value:3}, {label:'Station - HCM', value:4}]
                },
                {
                    label: 'Airport',
                    value: 3,
                    typeItems: [{label:'Airport - HN', value:5}, {label:'Airport - HCM', value:6}]
                }]
            }
        },
        components: {
        },
        computed: {
            availableCities() {
                return this.serviceType ? this.serviceType.typeItems : false
            }
        },
        created: function () {
            eventHub.$on("PAYMENT_ZONEID", this.onZoneid);
            eventHub.$on("STEP_SHIPMENT_INFO", this.onPackageStep);
            console.log('shipmentinfo_form created');
        },
        beforeMount: function () {
            console.log('shipmentinfo_form beforeMount');
        },
        mounted: function () {
            console.log('shipmentinfo_form mounted');
            var _self = this;
        },
        updated: function () {
            console.log('shipmentinfo_form updated');
        },
        beforeDestroy: function () {
            console.log('shipmentinfo_form beforeDestroy');
        },
        methods: {
            runme(selected) {
                console.log('choice service type');
                 var _self = this;
                _self.shippingRate.service_type = selected.value;
                eventHub.$emit("SHIPMENT_INFO", this.serviceType, this.shippingRate.service_type);
               // console.log('--'+JSON.stringify(_self.shippingRate));
               // eventHub.$emit("SERVICE_TYPE", _self.shippingRate);
               // alert(`label: ${selected.name} value: ${selected.value}`);
            },
            calShipmentInfo: function() {
                var _self = this;
                var zoneId = _self.zoneId;
                var service_type = _self.shippingRate.service_type;
                // price type and recipient
                this.$http.get(AppData.baseUrl+'/api/shipments/load-service-price/'+zoneId+'/'+service_type).then(function (response) {
                    console.log('--'+JSON.stringify(response.data.data));
                    eventHub.$emit("PAYMENT_SERVICE_PRICE", response.data.data);
                    eventHub.$emit("PAYMENT_SERVICE_PRICE_", response.data.data);
                }).catch(function (error) {
                    console.log(error);
                });
            },
            onZoneid: function(zoneId) {
                this.zoneId = zoneId;
            },
            onPackageStep: function (onPackageStep) {
                this.calShipmentInfo();
            }
        }
    }
</script>
