<template>
<div>
    <div v-for="n in showNewModal">
        <customer-form @close="onCloseNew()" :cre_countries="cre_countries"></customer-form>
    </div>
    <div v-for="n in showNewSenderModal">
        <sender-form @close="onCloseNewSender()" :cre_countries="cre_countries" :customerProp="current_customer"></sender-form>
    </div>
    <div v-for="n in showNewRecipientModal">
        <recipient-form @close="onCloseNewRecipient()" :cre_countries="cre_countries" :customerProp="current_customer" :senderListProp="sender_list_prop"></recipient-form>
    </div>
    <div class="col-md-12">
        <div class="col-md-6" >
            <div class="portlet light bordered col-md-12" id="package-block">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="icon-user font-dark"></i>
                        <span class="caption-subject bold uppercase"> Customer </span>
                    </div>
                    <div class="actions">
                        <div class="btn-group btn-group-devided">
                            <button class="btn sbold green btn-circle" @click="onClickNewButton()" data-toggle="modal" href="#responsive_customer"> Add New Customer
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="portlet-body form col-md-12">
                    <form role="form" lpformnum="1">
                    <div class="form-group col-md-12">
                        <label><b>Customer Type</b></label> <br/>
                            <select v-model="type_customer" @change="getCustomers(type_customer)">
                                <option value="-1" >All</option>
                                <option value="0">Walk-In Customer</option>
                                <option value="1">Remote Customer</option>
                                <option value="2">Agent Customer</option>
                            </select>
                        </div>
                        <div class="form-group col-md-12">
                            <label><b>Customer</b></label>
                            <v-select ref="search" label="name" placeholder="Select Customer" :options="cus_options" :on-change="validateSelectionCustomerChange"></v-select>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Shipment info-->
        <div class="col-md-6" >
            <div class="portlet light bordered col-md-12" id="package-block">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject bold uppercase"> Shipment Info </span>
                    </div>
                    <div class="actions">
                        <div class="btn-group btn-group-devided">

                        </div>
                    </div>
                </div>
                <div class="portlet-body form col-md-12">
                    <!--START FORM-->
                    <form role="form" lpformnum="1">
                        <div class="form-group">
                            <label><b>Service Types:</b></label>
                            <v-select :options="serviceTypes" v-model="serviceType"></v-select>
                        </div>
                        <div class="form-group" v-if="availableCities">
                            <label><b>Service Item:</b></label>
                                <v-select :options="availableCities" v-model="typeItem" :on-change="runme" ></v-select>
                        </div>
                    </form>
                    <!-- END FORM-->
                </div>
            </div>
        </div>
        <!--End shipment info-->
    </div>
    <div class="col-md-12">
        <div class="col-md-6">
            <div class="portlet light bordered col-md-12">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject bold uppercase"> Sender </span>
                    </div>
                    <div class="actions">
                        <button v-if="allowCreateNew" class="btn sbold green btn-circle" @click="onClickNewSenderButton()" data-toggle="modal" href="#responsive_sender"> Add New Sender
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                    <div class="actions col-md-12">
                        <v-select label="name" :options="options" :on-change="validateSelectionChange" placeholder="Select Sender" ref="fcSender"></v-select>
                        <input type="checkbox" :value="1" :id="1" @click="loadRecipientBySender($event)"> <label>Load recipient by Sender?</label>
                        <input type="hidden"  v-model="sender.customer_id">
                        <input type="hidden"  v-model="sender.customer_code">
                    </div>
                </div>
                <div class="portlet-body form col-md-12">
                    <form role="form" lpformnum="1">
                        <div class="form-group col-md-12">
                            <label class="col-md-4"><b>Contact Code:</b></label>
                            <label class="label-readonly col-md-8">{{sender.contact_code}}</label>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="col-md-4"><b>Fullname:</b></label>
                            <label class="label-readonly col-md-8">{{sender.contact_firstname}} {{sender.contact_lastname}}</label>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="col-md-4"><b>Phone:</b></label>
                            <label class="label-readonly col-md-8">{{sender.contact_phone}}</label>
                        </div>
                        <div class="form-group col-md-12 ">
                            <label class="col-md-4"><b>Email:</b></label>
                            <label class="label-readonly col-md-8">{{sender.contact_email}}</label>
                        </div>
                        <div class="form-group col-md-12 ">
                            <label class="col-md-4"><b>Address:</b></label>
                            <label v-if="address_sender" class="label-readonly col-md-8">{{address_sender}}</label>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="portlet light bordered col-md-12">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase"> Recipient </span>
                </div>
                <div class="actions">
                    <button v-if="allowCreateNew" class="btn sbold green btn-circle" @click="onClickNewRecipientButton()" data-toggle="modal" href="#responsive_recipient"> Add New Recipient
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
                <div class="actions col-md-12">
                    <v-select label="name" :options="re_options" :on-change="validateSelectionRecipientChange" placeholder="Select Recipient"></v-select>
                    <input type="hidden"  v-model="recipient.customer_id">
                    <input type="hidden"  v-model="recipient.customer_code">
                </div>
            </div>
            <div class="portlet-body form">
                <form role="form" lpformnum="1">
                    <div class="form-group col-md-12 ">
                        <label class="col-md-4"><b>Contact Code:</b></label>
                        <label class="label-readonly col-md-8">{{recipient.contact_code}}</label>
                    </div>
                    <div class="form-group col-md-12 ">
                        <label class="col-md-4"><b>Fullname:</b></label>
                        <label class="label-readonly col-md-8">{{recipient.contact_firstname}} {{recipient.contact_lastname}}</label>
                    </div>
                    <div class="form-group col-md-12 ">
                        <label class="col-md-4"><b>Phone:</b></label>
                        <label class="label-readonly col-md-8">{{recipient.contact_phone}}</label>
                    </div>
                    <div class="form-group col-md-12 ">
                        <label class="col-md-4"><b>Email:</b></label>
                        <label class="label-readonly col-md-8">{{recipient.contact_email}}</label>
                    </div>
                    <div class="form-group col-md-12 ">
                        <label class="col-md-4"><b>Address:</b></label>
                        <label v-if="address_recipient" class="label-readonly col-md-8">{{address_recipient}}</label>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>
</div>
</template>
<style>
.dropdown-input {
    border-radius: 0 25px 25px 0 !important;
    width: 100% !important;
}
.dropdown-content {
    z-index: 100 !important;
}
</style>
<script>
    import customerForm from './CustomerForm.vue';
    import senderForm from './SenderForm.vue';
    import recipientForm from './RecipientForm.vue';
    export default{
        props: {
        },
        data: function () {
            return {
                isUpdated: false,
                showError: false,
                errors: '',
                role_id: AppData.role_id,
                isSending: false,
                isLoadSender: false,
                isLoadRecipient: false,
                countries: {},
                cities: {},
                recipient: {},
                sender: {},
                customer: {},
                current_customer:{},
                disabled: 1,
                payment_zoneid: 0,
                shippingRate: {country:0},
                cus_options: [
                    { "name": 'Customer', "id": '0' , "dataCode":'ABC'}
                    ],
                options: [
                    { "name": 'Customer', "id": '0' , "dataCode":'ABC'}
                    ],
                re_options: [
                    { "name": '', "id": '0' , "dataCode":''}
                    ],
                selected: { name: null, id: null, 'dataCode':null, },
                types: [
                    {index: -1, name: 'All', css: 'label-info'},
                    {index: 0, name: 'Walk-In Customer', css: 'label-info'},
                    {index: 1, name: 'Remote Customer', css: 'label-danger'},
                    {index: 2, name: 'Agent Customer', css: 'label-danger'}
                ],
                type_customer: -1,

                serviceType: null,
                shippingRate: {service_type:0},
                typeItem: null,
                zoneId:0,
                serviceTypes: [
                {
                    label: 'Door',
                    value: 1,
                    typeItems: [{label:'Door - SGN', value:1}]
                },
                {
                    label: 'Station',
                    value: 2,
                    typeItems: [{label:'Station - HCM', value:4}, {label:'Station - HN', value:5}]
                },
                {
                    label: 'Airport',
                    value: 3,
                    typeItems: [{label:'Airport - HCM', value:6}, {label:'Airport - HN', value:7}]
                }],
                showNewModal: 1,
                showNewSenderModal:1,
                showNewRecipientModal:1,
                cre_countries: {},
                allowCreateNew: false,
                sender_list_prop:{},
            }
        },
        components: {
            customerForm, senderForm, recipientForm
        },
        computed: {
            address_sender: function(){
                if(this.sender.contact_address) {
                    return this.sender.contact_address +' - '+ this.sender.contact_zipcode_name + ',' + this.sender.country_name;
                }
            },
            address_recipient: function(){
                if(this.recipient.contact_address){
                    return this.recipient.contact_address+', '+this.recipient.district_name +' - '+ this.recipient.city_name + ',' + this.recipient.country_name;
                }
            },
            availableCities() {
                return this.serviceType ? this.serviceType.typeItems : false
            }
        },
        created: function () {
            var _self = this;
            eventHub.$on("PAYMENT_ZONEID", this.onZoneid);
            eventHub.$on("STEP_SHIPMENT_INFO", this.onPackageStep);
            eventHub.$on("CUSTOMER_CREATED",  function (customer) {
                console.log(JSON.stringify(customer)+' Customer');
                _self.customer = customer;
                _self.current_customer = customer;
                _self.allowCreateNew = true;
                eventHub.$emit("PAYMENT_CUSTOMERTYPE", _self.customer.type_customer);
            });
            eventHub.$on("SENDER_CREATED",  function (sender) {
                _self.sender = sender;
                eventHub.$emit("SHIPMENT_SENDER", _self.sender);
                eventHub.$emit("PRINT_SENDER", _self.sender);
            });
            eventHub.$on("RECIPIENT_CREATED",  function (recipient_) {
                this.$http.get(AppData.baseUrl+'/api/shipments/load-recipient-detail/'+recipient_.id).then(function (response) {
                    _self.isLoadRecipient = false;
                    _self.recipient = response.data.data;
                    _self.shippingRate.country = _self.recipient.contact_country;
                    _self.payment_zoneid = _self.recipient.zone_id;
                    eventHub.$emit("PAYMENT_ZONEID", _self.payment_zoneid);
                    eventHub.$emit("SHIPMENT_RECIPIENT", _self.recipient);
                    eventHub.$emit("PRINT_RECIPIENT", _self.recipient);
                }).catch(function (error) {
                    console.log(error);
                });
            });
            console.log('sender_form created');
        },
        beforeMount: function () {
            console.log('sender_form beforeMount');
        },
        mounted: function () {
            console.log('sender_form mounted');
            var _self = this;
           // this.loadData();
            this.loadDataCustomer();
        },
        updated: function () {
            console.log('sender_form updated');
        },
        beforeDestroy: function () {
            console.log('sender_form beforeDestroy');
        },
        methods: {
            onCloseNew() {
                this.showNewModal -= 1;
            },
            onCloseNewRecipient() {
                this.showNewRecipientModal -= 1;
            },
            onCloseNewSender() {
                this.showNewSenderModal -= 1;
            },
            onClickNewButton() {
                this.getCountries();
                this.clickCreate = true;
                this.showNewModal += 1;
            },
            onClickNewSenderButton() {
                this.getCountries();
                this.showNewSenderModal += 1;
            },
            onClickNewRecipientButton() {
                var _self = this;
                this.getCountries();
                this.showNewRecipientModal += 1;
            },
            validateSelectionChange(selection) {
                var _self = this;
                this.selected = selection;
                // get detail
                if(_self.selected.id && !_self.isLoadSender) {
                    _self.isLoadSender = true;
                    this.$http.get(AppData.baseUrl+'/api/shipments/load-sender-detail/'+selection.id).then(function (response) {
                        _self.isLoadSender = false;
                        _self.sender = response.data.data;
                        eventHub.$emit("SHIPMENT_SENDER", _self.sender);
                        eventHub.$emit("PRINT_SENDER", _self.sender);
                    }).catch(function (error) {
                        console.log(error);
                    });
                    /*// get recipient
                    this.$http.get(AppData.baseUrl+'/api/shipments/load-recipient/'+selection.id).then(function (response) {
                        _self.isLoadSender = false;
                        _self.re_options = response.data.data;
                    }).catch(function (error) {
                        console.log(error);
                    });*/
                }
                //console.log(selection.name+' has been selected');
            },
            validateSelectionRecipientChange(selection) {
                var _self = this;
                this.selected = selection;
                // get detail
                if(_self.selected.id && !_self.isLoadRecipient) {
                    _self.isLoadRecipient = true;
                    this.$http.get(AppData.baseUrl+'/api/shipments/load-recipient-detail/'+selection.id).then(function (response) {
                        _self.isLoadRecipient = false;
                        _self.recipient = response.data.data;
                        _self.shippingRate.country = _self.recipient.contact_country;
                        _self.payment_zoneid = _self.recipient.zone_id;
                        eventHub.$emit("PAYMENT_ZONEID", _self.payment_zoneid);
                        eventHub.$emit("SHIPMENT_RECIPIENT", _self.recipient);
                        eventHub.$emit("PRINT_RECIPIENT", _self.recipient);
                    }).catch(function (error) {
                        console.log(error);
                    });
                }
                //console.log(selection.name+' has been selected');
            },
            validateSelectionCustomerChange(selection) {
                var _self = this;
                this.selected = selection;
                //console.log(JSON.stringify(selection)+' has been selected');
                // get detail
                if(_self.selected.id && !_self.isLoadSender) {
                    App.blockUI({
                        target: '#package-block',
                        animate: true
                    });
                    _self.isLoadSender = true;
                    // get customer detail
                    this.$http.get(AppData.baseUrl+'/api/shipments/load-customer-detail/'+selection.id).then(function (response) {
                        _self.isLoadSender = false;
                        _self.customer = response.data.data;
                        _self.current_customer = response.data.data;
                        _self.allowCreateNew = true;
                        eventHub.$emit("PAYMENT_CUSTOMERTYPE", _self.customer.type_customer);
                    }).catch(function (error) {
                        console.log(error);
                    });
                    // get sender
                    this.loadSenderByCustomer(selection.id);
                    // get recipient
                    this.$http.get(AppData.baseUrl+'/api/shipments/load-recipient/'+selection.id).then(function (response) {
                        _self.isLoadSender = false;
                        _self.re_options = response.data.data;
                        App.unblockUI('#package-block');
                    }).catch(function (error) {
                        App.unblockUI('#package-block');
                        console.log(error);
                    });
                }
                //console.log(selection.name+' has been selected');
            },
            getDropdownValues(keyword) {
                console.log('You could refresh options by querying the API with '+keyword);
            },
            loadData: function () {
                var _self = this;
                this.$http.get(AppData.baseUrl+'/api/shipments/load-sender').then(function (response) {
                _self.options = response.data.data;
                }).catch(function (error) {
                    console.log(error);
                });
            },
            loadDataCustomer: function () {
                var _self = this;
                //this.$refs.search.click();
                this.$http.get(AppData.baseUrl+'/api/shipments/load-customer').then(function (response) {
                    _self.cus_options = response.data.data;
                }).catch(function (error) {
                    console.log(error);
                });
            },
            getCustomers: function (id) {
                var _self = this;
                this.$http.get(AppData.baseUrl+'/api/shipments/load-customer/'+id).then(function (response) {
                    _self.cus_options = response.data.data;
                }).catch(function (error) {
                    console.log(error);
                });
            },
            loadRecipientBySender: function(e) {
                var _self = this;
                if (e.target.checked) {
                    // get recipient
                    this.$http.get(AppData.baseUrl+'/api/shipments/load-recipient-by-sender/'+e.target.value).then(function (response) {
                        _self.isLoadSender = false;
                        _self.re_options = response.data.data;
                    }).catch(function (error) {
                        console.log(error);
                    });
                } else {
                    this.getCustomers(this.type_customer);
                }
            },
            runme(selected) {
                //console.log('choice service type');
                var _self = this;
                _self.shippingRate.service_type = selected.value;
                eventHub.$emit("SHIPMENT_INFO", this.serviceType, this.shippingRate.service_type);
                eventHub.$emit("PRINT_SHIPMENT_INFO", selected.label);
               // console.log('--'+JSON.stringify(_self.shippingRate));
               // eventHub.$emit("SERVICE_TYPE", _self.shippingRate);
               // alert(`label: ${selected.name} value: ${selected.value}`);
            },
            calShipmentInfo: function() {
                var _self = this;
                var zoneId = _self.zoneId;
                var service_type = _self.shippingRate.service_type;
                // price type and recipient
                this.$http.get(AppData.baseUrl+'/api/shipments/load-service-price/'+zoneId+'/'+service_type).then(function (response) {
                    console.log('--'+JSON.stringify(response.data.data));
                    eventHub.$emit("PAYMENT_SERVICE_PRICE", response.data.data);
                    eventHub.$emit("PAYMENT_SERVICE_PRICE_", response.data.data);
                }).catch(function (error) {
                    console.log(error);
                });
            },
            onZoneid: function(zoneId) {
                this.zoneId = zoneId;
            },
            onPackageStep: function (onPackageStep) {
                this.calShipmentInfo();
            },
            getCountries: function () {
                var _self = this;
                this.$http.get(AppData.baseUrl+'/api/sender/load-country').then(function (response) {
                    console.log('getCountries inside');
                    _self.cre_countries = response.data.data;
                }).catch(function (error) {
                    console.log(error);
                });
            },
            loadSenderByCustomer: function (_customerId) {
                var _self = this;
                this.$http.get(AppData.baseUrl+'/api/shipments/load-sender/'+_customerId).then(function (response) {
                    _self.isLoadSender = false;
                    _self.options = response.data.data;
                    // this.$refs.fcSender.focus();
                }).catch(function (error) {
                    console.log(error);
                });
            }
        }
    }
</script>
