<template>
    <div class="row" id="dashboard-block">
      <div class="col-md-6">
        <user-statistic></user-statistic>
      </div>
      <div class="col-md-6">
        <actived-notice></actived-notice>
      </div>
    </div>
</template>
<script>
  import UserStatistic from "./UserStatistic.vue";
  import ActivedNotice from "./ActivedNotice.vue";
  var blockUI = '#dashboard-block';
  export default {
    data: function () {
        return {
            model: {
            }
        }
    },
    computed: {
    },
    components: {
      UserStatistic , ActivedNotice
    }
  }
</script>
