<template>
    <div class="portlet light bordered" id="list-store-sent-block">
        <send-confirm :data="checkedList" :type="sendConfirmType" :show="showSendConfirm"
                      @onClosed="showSendConfirm=false,refresh()"></send-confirm>
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-red"></i>
                <span class="caption-subject font-red sbold uppercase">Packages SMS/MMS</span>
            </div>
        </div>
        <div class="portlet-body">
            <div class="row">
                <store-sent-summary></store-sent-summary>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover table-checkable dataTable no-footer"
                               role="grid" id="customers-table">
                            <thead>
                            <tr role="row" class="heading">
                                <th> Package</th>
                                <th> Created At</th>
                                <th> Total Sent</th>
                                <th> Email Sent</th>
                                <th> SMS Sent</th>
                                <th> MMS Sent</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-if="pagination &&  pagination.data && pagination.data.length > 0"
                                v-for="model in pagination.data" role="row" class="odd">
                                <td> {{model.name}}</td>
                                <td> {{model.name}}</td>
                                <td> {{model.phone}}</td>
                                <td> {{model.email}}</td>
                                <td></td>
                                <td> {{model.created_at}}</td>
                            </tr>
                            <tr v-if="!pagination || pagination.data && pagination.data.length == 0">
                                <td colspan="6">No Data</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row" v-if="pagination &&  pagination.data && pagination.data.length > 0">
                <div class="col-md-12">
                    <ul class="pager">
                        <li data-lp="1" class="previous" v-bind:class="pagination.current_page == 1?'disabled':''"><a
                                href="javascript:void(0);" @click="backPage()"><i
                                class="fa fa-angle-left"></i></a></li>
                        <span>{{pagination.current_page}}/{{pagination.last_page}}</span>
                        <li data-lp="7" class="next"
                            v-bind:class="pagination.current_page == pagination.last_page?'disabled':''"><a
                                href="javascript:void(0);" @click="nextPage()"><i class="fa fa-angle-right"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>
<style scoped>
    .actions {
        margin-right: 10px;
    }
</style>

<script>
    import StoreSentSummary from './StoreSentSummary.vue';
    export default{
        mixins: [BootstrapTourMixin],
        data: function () {
            return {
                search: '',
                pagination: {},
                currentPage: 1,
                checkedList: [],
                checkAll: false,
                sendConfirmType: '',
                showSendConfirm: false,
                tourSteps: [
                    {
                        element: "#menu-3", // element selector to show the popover next to;
                        title: "Packages",
                        content: "List Packages SMS/MMS."
                    },
                    {
                        placement: "left",
                        element: "#list-store-sent-block",
                        title: "Packages",
                        content: "You can send and track invitations at here."
                    },
                    {
                        element: "#menu-2", // element selector to show the popover next to;
                        path: "/reviews"
                    }
                ]
            }
        },
        props: {
            idTotal: 0
            },
        components: {
            StoreSentSummary
        },
        mounted: function () {
            this.refresh();
            var _self = this;
            eventHub.$on('SEND_INVITATION_SUCCESS', function (invite) {
                _self.refresh();
            });
        },
        computed: {
            pages: function () {
                var pages = [];
                if (this.pagination && this.pagination.last_page) {
                    for (var i = 1; i <= this.pagination.last_page; i++) {
                        pages.push(i);
                    }
                }
                return pages;
            }
        },
        methods: {
            refresh: function () {
                App.blockUI({
                    target: '#list-store-sent-block',
                    animate: true
                });
                var _self = this;
                this.$http.get('api/store-sent/pagination' + this.searchQuery).then(function (response) {
                    _self.pagination = response.data.data;
                    App.unblockUI('#list-store-sent-block');
                    _self.startTourGlobalFirst(_self.tourSteps, 'customers');
                }).catch(function (error) {
                    App.unblockUI('#list-store-sent-block')
                });
            },
            changePage: function (index) {
                this.currentPage = index;
                this.refresh();
            },
            backPage: function () {
                if (this.currentPage > 1) {
                    this.currentPage--;
                    this.refresh();
                }
            },
            nextPage: function () {
                if (this.currentPage < this.pagination.last_page) {
                    this.currentPage++;
                    this.refresh();
                }
            }
        }
    }
</script>
