<template>
    <div id="customer-summary-block" class="col-md-12 pull-right">
        <div class="label label-default">
            Total Customer: {{information.all}}
        </div>
        <div class="label label-primary">
            Total Sent: {{information.totalSentCount}}/{{information.allSentAllow}}
        </div>
        <div class="label label-info">
            Email: {{information.emailSentCount}}
        </div>
        <div class="label label-warning">
            SMS: {{information.smsSentCount}}
        </div>
        <div class="label label-success">
            MMS: {{information.mmsSentCount}}
        </div>
    </div>
</template>
<script>
    export default{
        data(){
            return {
                information:{
                    all:0,
                    totalSentCount:0,
                    allSentAllow:0,
                    emailSentCount:0,
                    smsSentCount:0,
                    mmsSentCount:0
                }
            }
        },
        created(){
            this.refresh();
            var _self = this;
            eventHub.$on('SEND_INVITATION_SUCCESS', function (invite) {
                _self.refresh();
            });
        },
        methods:{
            refresh() {
                App.blockUI({
                    target: '#customer-summary-block',
                    animate: true
                });
                var _self = this;
                this.$http.get('/api/invites/information-invites').then(function (response) {
                    _self.information = response.data.data;
                    App.unblockUI('#customer-summary-block');
                }).catch(function (error) {
                    App.unblockUI('#customer-summary-block');
                });
            },
        }
    }
</script>
