<template>
    <div id="responsive_edit" class="modal fade" tabindex="-1" data-width="70%">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title"><i class="icon-users"></i> Edit Recipient</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form action="#" class="form-horizontal">
                        <div class="form-body">
                            <form-error :errors="errors" field="contactname" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label"></label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon input-circle-left">
                                            <i class="fa fa-user-circle"></i>
                                        </span>
                                        <Dropdown
                                            :options="options"
                                            v-on:selected="validateSelectionCustomerChange"
                                            v-on:filter="getDropdownValues"
                                            :disabled="false"
                                            placeholder="Change Customer">
                                        </Dropdown>
                                        <input type="hidden"  v-model="recipient.customer_id">
                                        <input type="hidden"  v-model="recipient.customer_code">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="contactname" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Sender</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon input-circle-left">
                                            <i class="fa fa-user-circle"></i>
                                        </span>
                                        <Dropdown
                                            :options="sender_options"
                                            v-on:selected="validateSelection"
                                            v-on:filter="getDropdownValues"
                                            :disabled="false"
                                            placeholder="Select Sender (optional) ">
                                        </Dropdown>
                                        <input type="hidden"  v-model="recipient.sender_id">
                                        <input type="hidden"  v-model="recipient.sender_code">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="contactname" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Customer</label>
                                <div class="col-md-8">
                                        <div class="input-group">
                                        <span class="input-group-addon input-circle-left">
                                            <i class="fa fa-user-circle"></i>
                                        </span>
                                        <input type="text" class="form-control input-circle-right" disabled placeholder="Customer Fullname"
                                                v-model="customer_">
                                        </div>
                                    </div>
                            </form-error>
                            <form-error :errors="errors" field="contact_firstname" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">First Name (*)</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                    <span class="input-group-addon input-circle-left">
                                        <i class="fa fa-info-circle"></i>
                                    </span>
                                    <input type="text" class="form-control input-circle-right" placeholder="First Name" v-model="recipient.contact_firstname">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="contact_lastname" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Last Name (*)</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                    <span class="input-group-addon input-circle-left">
                                        <i class="fa fa-info-circle"></i>
                                    </span>
                                    <input type="text" class="form-control input-circle-right" placeholder="Last Name" v-model="recipient.contact_lastname">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="contact_phone" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Contact Phone (*)</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon input-circle-left">
                                            <i class="fa fa-phone"></i>
                                        </span>
                                        <input type="text" class="form-control input-circle-right" placeholder="Phone" :value="recipient.contact_phone">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="contact_email" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Contact Email (*)</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                    <span class="input-group-addon input-circle-left">
                                        <i class="fa fa-envelope"></i>
                                    </span>
                                        <input type="email" class="form-control input-circle-right" placeholder="Email"
                                               v-model="recipient.contact_email">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="contact_address" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Contact Address</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                    <span class="input-group-addon input-circle-left">
                                        <i class="fa fa-address-card"></i>
                                    </span>
                                        <input type="email" class="form-control input-circle-right" placeholder="Address"
                                                v-model="recipient.contact_address">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="tax_personal_id" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Tax/Personal ID</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                    <span class="input-group-addon input-circle-left">
                                        <i class="fa fa-address-card"></i>
                                    </span>
                                        <input type="email" class="form-control input-circle-right" placeholder="Tax/Persional ID"
                                                v-model="recipient.tax_personal_id">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="contact_country" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Country (*)</label>
                                <div class="col-md-8">

                                    <select v-model="recipient.contact_country"  @change="getCities_(recipient.contact_country)" class="form-control input-circle-left">
                                        <option value="0">Choose Country</option>
                                        <option v-for="country in edit_countries" :value="country.id"> 
                                            {{country.country_name}}
                                        </option>
                                    </select>
                                </div>
                            </form-error>
                            <form-error v-if="recipient.contact_country == 1" :errors="errors" field="zipcode" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Zipcode</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                    <span class="input-group-addon input-circle-left">
                                        <i class="fa fa-tasks"></i>
                                    </span>
                                    <input type="text" class="form-control input-circle-right" v-model="zip" maxlength="5" placeholder="ex: 94301" /> 
                                    </div>
                                </div>
                            </form-error>
                            <form-error v-if="recipient.contact_country == 1" :errors="errors" field="city" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">City</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <div v-if="error" class="error form-control input-circle">{{error}}</div>
                                        <div v-if="city" class="display form-control input-circle">{{city}}</div>
                                    </div>
                                </div>
                            </form-error>
                            <form-error v-if="recipient.contact_country == 2" :errors="errors" field="contact_city" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">City</label>
                                <div class="col-md-8">
                                    <select v-model="recipient.contact_city" @change="getDistrict_(recipient.contact_city)" class="form-control input-circle-left">
                                        <option v-for="city in edit_cities" :value="city.value" :selected="city.value == recipient.contact_city">{{city.label}}</option>
                                    </select>
                                </div>
                            </form-error>
                            <form-error v-if="recipient.contact_country == 2" :errors="errors" field="contact_district" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">District</label>
                                <div class="col-md-8">
                                    <select v-model="recipient.contact_district" class="form-control input-circle-left">
                                        <option v-for="district in edit_districts" :value="district.value" :selected="district.value == recipient.contact_district">{{district.label}}</option>
                                    </select>
                                </div>
                            </form-error>
                            <form-error v-if="recipient.contact_country == 2" :errors="errors" field="tax_personal_id" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Ward</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                    <span class="input-group-addon input-circle-left">
                                        <i class="fa fa-address-card"></i>
                                    </span>
                                        <input type="ward" class="form-control input-circle-right" placeholder="Ward"
                                                v-model="recipient.contact_ward">
                                    </div>
                                </div>
                            </form-error>
                        </div>
                    </form>
                    <!-- END FORM-->
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-outline dark">Close</button>
            <button type="button" class="btn green" @click="updateRecipient()">{{ (isSending) ? 'Saving ...' : 'Save'}}
            </button>
        </div>
    </div>
</template>
<script>
    export default{
        props: {
            recipientProp: {
                type: Object,
                default: function () {
                    return {
                        id:0,
                        customer_id: 0,
                        customer_code: '',
                        sender_id: 0,
                        sender_code: '',
                        customer_firstname: '',
                        customer_lastname: '',
                        contact_code: '',
                        contact_firstname: '',
                        contact_lastname: '',
                        contact_phone: '',
                        contact_email: '',
                        contact_address: '',
                        contact_country: 0,
                        contact_city: 0,
                        contact_zipcode:'',
                        contact_zipcode_name:'',
                        tax_personal_id: '',
                        contact_ward: '',
                    }
                }
            },
            edit_countries_: {},
            edit_cities_: {},
            edit_districts_:{},
            zip:""
        },
        data: function () {
            return {
                isUpdated: false,
                showError: false,
                errors: '',
                isSending: false,
                countries: {},
                cities_: {},
                disabled: 1,
                options: [
                    { "name": 'Customer', "id": '0' , "dataCode":'abhcj'}
                    ],
                sender_options: [
                    { "name": 'Sender', "id": '0' , "dataCode":'abhcj'}
                    ],
                selected: { name: 'null', id: 'null', 'dataCode':null },
                city: " ",
                error: "",
                listD:{}
            }
        },
        computed: {
            recipient() {
                return this.recipientProp;
            },
            customer_: function(){
                return '('+this.recipient.customer_code+') '+this.recipient.customer_firstname + ' ' + this.recipient.customer_lastname;
            },
            edit_countries() {
                return this.edit_countries_;
            },
            edit_cities() {
                return this.edit_cities_;
            },
            edit_districts: {
                //return this.edit_districts_;
                get() { return this.edit_districts_ },
                set(value) {
                    this.edit_districts_ = value;
                }
            }
        },
        created: function () {
            console.log('recipient_edit_form created');
        },
        beforeMount: function () {
            console.log('recipient_edit_form beforeMount');
        },
        mounted: function () {
            var _self = this;
            console.log('recipient_edit_form mounted');
            $('#responsive_edit').on('hidden.bs.modal', function (e) {
                _self.$emit('close');
                console.log('run close');
                _self.errors = '';
            });
            this.loadData();
        },
        updated: function () {
            console.log('recipient_edit_form updated');
        },
        beforeDestroy: function () {
            console.log('recipient_edit_form beforeDestroy');
        },
        watch: {
            zip: function() {
                if (this.zip.length === 5) {
                    this.getCity();
                    this.error = "";
                    $(".error").removeClass("no");
                }
                if (this.zip.length < 5) {
                    this.city = "";
                    this.error = "hey, that's not a zipcode";
                    $(".error").addClass("no");
                    $(".display").removeClass("animated fadeInDown");
                }
            }
        },
        methods: {
            updateRecipient: function () {
                var _self = this;
                if(!this.isSending) {
                    this.isSending = true;
                    if (this.recipient.id) {
                        this.$http.put('/api/recipient/' + _self.recipient.id, _self.recipient).then((response) => {
                            _self.isSending = false;
                            var sende_ = response.data.data;
                            eventHub.$emit("RECIPIENT_UPDATED", sende_);
                            $('.modal.in').modal('hide') ;
                            _self.errors = '';
                            //_self.recipient = '';
                            location.reload("/recipient");
                            showToast('Updated recipient successfully', 'Sender\'s information has been updated', 'success');
                        }, (error) => {
                            _self.isSending = false;
                            if (error.data && error.data.data) {
                                _self.errors = error.data.data;
                            }
                            showToast('Updated recipient failed', 'Sender\'s information has not been updated', 'error');
                        });
                    }
                }
            },
            getCities_(countryId) {
                var _self = this;
                this.$http.get("api/sender/load-city/"+countryId)
                .then( function (response) {
                    _self.cities_ = response.data.data;
                })
            },
            getDistrict_(countryId) {
                var _self = this;
                this.$http.get("api/sender/load-district/"+countryId)
                .then( function (response) {
                    _self.edit_districts = response.data.data;
                })
            },
            validateSelection(selection) {
                var _self = this;
                if(selection.id){
                    _self.recipient.sender_id    = selection.id;
                    _self.recipient.sender_code  = selection.dataCode;
                }
                this.selected = selection;
                console.log(selection.name+' has been selected');
            },
            validateSelectionCustomerChange(selection) {
                var _self = this;
                this.selected = selection;
                if(selection.id){
                    _self.recipient.customer_id    = selection.id;
                    _self.recipient.customer_code  = selection.dataCode;
                }
                // get detail
                if(_self.selected.id && !_self.isLoadSender) {
                    _self.isLoadSender = true;
                    // get sender
                    this.$http.get(AppData.baseUrl+'/api/shipments/load-sender/'+selection.id).then(function (response) {
                        _self.isLoadSender = false;
                        _self.sender_options = response.data.data;
                    }).catch(function (error) {
                        console.log(error);
                    });
                }
                console.log(selection.name+' has been selected');
            },
            getDropdownValues(keyword) {
                console.log('You could refresh options by querying the API with '+keyword);
            },
            loadData: function () {
                var _self = this;
                this.$http.get('api/recipient/load-customer').then(function (response) {
                _self.options = response.data.data;
                }).catch(function (error) {
                    console.log(error);
                });
            },
            getCity: function() {
                let self = this;
                $.getJSON("https://ZiptasticAPI.com/" + this.zip, function(result) {
                    if (result.error) {
                        self.error = "zip code not found";
                        self.city = "";
                        $(".error").addClass("no");
                    } else {
                        self.city = result.city + "," + result.state;
                        self.recipient.contact_zipcode_name = self.city;
                        self.recipient.contact_zipcode = self.zip;
                        $(".display").addClass("animated fadeInDown");
                    }
                    console.log(result);
                });
            }
        }
    }
</script>
