<template>
    <div id="responsive_recipient" class="modal fade" tabindex="-1" data-width="70%">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title"><i class="icon-users"></i> Create New Recipient</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form action="#" class="form-horizontal">
                        <div class="form-body">
                            <form-error :errors="errors" field="contactname" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Customer (*)</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon input-circle-left">
                                            <i class="fa fa-user-circle"></i>
                                        </span>
                                        <Dropdown
                                            :options="options"
                                            v-on:selected="validateSelectionCustomerChange"
                                            v-on:filter="getDropdownValues"
                                            :disabled="false"
                                            placeholder="Select Customer V ">
                                        </Dropdown>
                                        <input type="hidden"  v-model="recipient.customer_id">
                                        <input type="hidden"  v-model="recipient.customer_code">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="contactname" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Sender</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon input-circle-left">
                                            <i class="fa fa-user-circle"></i>
                                        </span>
                                        <Dropdown
                                            :options="sender_options"
                                            v-on:selected="validateSelection"
                                            v-on:filter="getDropdownValues"
                                            :disabled="false"
                                            placeholder="Select Sender (optional) ">
                                        </Dropdown>
                                        <input type="hidden"  v-model="recipient.sender_id">
                                        <input type="hidden"  v-model="recipient.sender_code">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="contact_firstname" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">First Name (*)</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                    <span class="input-group-addon input-circle-left">
                                        <i class="fa fa-info-circle"></i>
                                    </span>
                                    <input type="text" class="form-control input-circle-right" placeholder="First Name"
                                               v-model="recipient.contact_firstname">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="contact_lastname" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Last Name (*)</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                    <span class="input-group-addon input-circle-left">
                                        <i class="fa fa-info-circle"></i>
                                    </span>
                                    <input type="text" class="form-control input-circle-right" placeholder="Last Name"
                                               v-model="recipient.contact_lastname">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="contact_phone" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Contact Phone (*)</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon input-circle-left">
                                            <i class="fa fa-phone"></i>
                                        </span>
                                        <input type="text" class="form-control input-circle-right" placeholder="Phone"
                                               v-model="recipient.contact_phone">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="contact_email" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Contact Email (*)</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                    <span class="input-group-addon input-circle-left">
                                        <i class="fa fa-envelope"></i>
                                    </span>
                                        <input type="email" class="form-control input-circle-right" placeholder="Email"
                                               v-model="recipient.contact_email">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="contact_address" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Contact Address</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                    <span class="input-group-addon input-circle-left">
                                        <i class="fa fa-tasks"></i>
                                    </span>
                                        <input type="email" class="form-control input-circle-right" placeholder="Address"
                                               v-model="recipient.contact_address">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="tax_personal_id" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Tax/Personal ID</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                    <span class="input-group-addon input-circle-left">
                                        <i class="fa fa-address-card"></i>
                                    </span>
                                        <input type="email" class="form-control input-circle-right" placeholder="Tax/Persional ID"
                                                v-model="recipient.tax_personal_id">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="contact_country" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Country (*)</label>
                                <div class="col-md-8">

                                    <select v-model="recipient.contact_country"  @change="getCities(recipient.contact_country)" class="form-control input-circle-left">
                                        <option value="0">Choose Country</option>
                                        <option v-for="country in cre_countries" :value="country.id"> 
                                            {{country.country_name}}
                                        </option>
                                    </select>
                                </div>
                            </form-error>
                            <form-error v-if="recipient.contact_country == 1" :errors="errors" field="zipcode" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Zipcode</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                    <span class="input-group-addon input-circle-left">
                                        <i class="fa fa-tasks"></i>
                                    </span>
                                    <input type="text" class="form-control input-circle-right" v-model="zip" maxlength="5" placeholder="ex: 94301" /> 
                                    </div>
                                </div>
                            </form-error>
                            <form-error v-if="recipient.contact_country == 1" :errors="errors" field="city" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">City</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <div v-if="error" class="error form-control input-circle">{{error}}</div>
                                        <div v-if="city" class="display form-control input-circle">{{city}}</div>
                                    </div>
                                </div>
                            </form-error>
                            <form-error v-if="recipient.contact_country == 2" :errors="errors" field="contact_city" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">City (*)</label>
                                <div class="col-md-8">
                                    <v-select :options="cities" :disabled="disabled == 1 ? true : false"  :on-change="runme"></v-select>
                                </div>
                            </form-error>
                            <form-error v-if="recipient.contact_country == 2" :errors="errors" field="contact_district" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">District (*)</label>
                                <div class="col-md-8">
                                    <v-select :options="districts" :disabled="disabled == 1 ? true : false" :on-change="runme_"></v-select>
                                </div>
                            </form-error>
                            <form-error v-if="recipient.contact_country == 2" :errors="errors" field="tax_personal_id" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Ward</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                    <span class="input-group-addon input-circle-left">
                                        <i class="fa fa-address-card"></i>
                                    </span>
                                        <input type="ward" class="form-control input-circle-right" placeholder="Ward"
                                                v-model="recipient.contact_ward">
                                    </div>
                                </div>
                            </form-error>
                        </div>
                    </form>
                    <!-- END FORM-->
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-outline dark btn-circle">Close</button>
            <button type="button" class="btn green btn-circle" @click="createrecipient()">{{ (isSending) ? 'Saving ...' : 'Save'}}
            </button>
        </div>
    </div>
</template>
<style>
.dropdown-input {
    border-radius: 0 25px 25px 0 !important;
    width: 100% !important;
}
.dropdown-content {
    z-index: 100 !important;
}
</style>
<script>
    export default{
        props: {
            recipientProp: {
                type: Object,
                default: function () {
                    return {
                        customer_id: 0,
                        customer_code: '',
                        sender_id: 0,
                        sender_code: '',
                        contact_code: '',
                        contact_firstname: '',
                        contact_lastname: '',
                        contact_phone: '',
                        contact_email: '',
                        contact_address: '',
                        contact_country: 0,
                        contact_city: 0,
                        contact_district: 0,
                        tax_personal_id: '',
                        contact_zipcode: '',
                        contact_zipcode_name: '',
                        contact_ward: '',
                    }
                }
            },
            cre_countries: {}
        },
        data: function () {
            return {
                isUpdated: false,
                showError: false,
                errors: '',
                role_id: AppData.role_id,
                isSending: false,
                countries: {},
                cities: [{value:0, label:''}],
                districts: [{value:0, label:''}],
                disabled: 1,
                options: [
                    { "name": 'Customer', "id": '0' , "dataCode":'abhcj'}
                    ],
                sender_options: [
                    { "name": 'Sender', "id": '0' , "dataCode":'abhcj'}
                    ],
                selected: { name: null, id: null, 'dataCode':null },
                recipient_default: {
                    customer_id: 0,
                    customer_code: '',
                    sender_id: 0,
                    sender_code: '',
                    contact_code: '',
                    contact_firstname: '',
                    contact_lastname: '',
                    contact_phone: '',
                    contact_email: '',
                    contact_email: '',
                    contact_zipcode: '',
                    contact_zipcode_name: '',
                    tax_personal_id: '',
                    contact_country: 0,
                    contact_city: 0,
                    contact_district:0
                },
                city: " ",
                zip: "",
                error: ""
            }
        },
        components: {
        },
        computed: {
            recipient() {
                return this.recipientProp;
            },
        },
        created: function () {
            console.log('recipient_form created');
        },
        beforeMount: function () {
            console.log('recipient_form beforeMount');
        },
        mounted: function () {
            console.log('recipient_form mounted');
            var _self = this;
            $('#responsive_recipient').on('hidden.bs.modal', function (e) {
                _self.$emit('close');
                console.log('run close');
                _self.errors = '';
            });
            this.loadData(); 
            this.getCity();
        },
        updated: function () {
            console.log('recipient_form updated');
        },
        beforeDestroy: function () {
            console.log('recipient_form beforeDestroy');
        },
        watch: {
            zip: function() {
            if (this.zip.length === 5) {
                this.getCity();
                this.error = "";
                $(".error").removeClass("no");
            }
            if (this.zip.length < 5) {
                this.city = "";
                this.error = "hey, that's not a zipcode";
                $(".error").addClass("no");
                $(".display").removeClass("animated fadeInDown");
            }
            }
        },
        methods: {
            createrecipient: function () {
                var _self = this;
                if(!this.isSending) {
                    this.isSending = true;
                    this.$http.post('/api/recipient', _self.recipient).then((response) => {
                        _self.isSending = false;
                        var recipient_ = response.data.data;
                        eventHub.$emit("recipient_CREATED", recipient_);
                        $('.modal.in').modal('hide') ;
                        _self.errors = '';
                        _self.recipientProp = _self.recipient_default;
                        showToast('Created recipient successfully', 'recipient information has been created', 'success');
                    }, (error) => {
                        _self.isSending = false;
                        if (error.data && error.data.data) {
                            _self.errors = error.data.data;
                        }
                        showToast('Created recipient failed', 'recipient information has not been created', 'error');
                    });
                }
            },
            getCities(countryId) {
                var _self = this;
                this.$http.get("api/sender/load-city/"+countryId)
                .then((response) => {
                    _self.disabled = 0;
                    _self.cities = response.data.data;
                })
            },
            validateSelection(selection) {
                 var _self = this;
                 _self.recipient.sender_id    = selection.id;
                 _self.recipient.sender_code  = selection.dataCode;
                this.selected = selection;
                console.log(selection.name+' has been selected');
            },
            validateSelectionCustomerChange(selection) {
                 var _self = this;
                 this.selected = selection;
                 _self.recipient.customer_id    = selection.id;
                 _self.recipient.customer_code  = selection.dataCode;
                // get detail
                if(_self.selected.id && !_self.isLoadSender) {
                    _self.isLoadSender = true;
                    // get sender
                    this.$http.get(AppData.baseUrl+'/api/shipments/load-sender/'+selection.id).then(function (response) {
                        _self.isLoadSender = false;
                        _self.sender_options = response.data.data;
                    }).catch(function (error) {
                        console.log(error);
                    });
                }
                console.log(selection.name+' has been selected');
            },
            getDropdownValues(keyword) {
                console.log('You could refresh options by querying the API with '+keyword);
            },
            loadData: function () {
                var _self = this;
                this.$http.get('api/recipient/load-customer').then(function (response) {
                _self.options = response.data.data;
                }).catch(function (error) {
                    console.log(error);
                });
                this.$http.get("api/sender/load-district/2")
                    .then((response) => {
                        _self.disabled = 0;
                        _self.districts = response.data.data;
                    })
            },
            runme(selected) {
                var _self = this;
                if(selected.value){
                    _self.recipient.contact_city = selected.value;
                    this.$http.get("api/sender/load-district/"+selected.value)
                    .then((response) => {
                        _self.disabled = 0;
                        _self.districts = response.data.data;
                    })
                }
            },
            runme_(selected) {
                var _self = this;
                if(selected.value){
                    _self.recipient.contact_district = selected.value;
                }
            },
            getCity: function() {
                let self = this;
                $.getJSON("https://ZiptasticAPI.com/" + this.zip, function(result) {
                    if (result.error) {
                        self.error = "zip code not found";
                        self.city = "";
                        $(".error").addClass("no");
                    } else {
                        self.city = result.city + "," + result.state;
                        self.recipient.contact_zipcode_name = self.city;
                        self.recipient.contact_zipcode = self.zip;
                        $(".display").addClass("animated fadeInDown");
                    }
                    console.log(result);
                });
            }
        }
    }
</script>
