<template>
<div>
    <Dropdown
        :options="options"
        v-on:selected="validateSelection"
        v-on:filter="getDropdownValues"
        :disabled="false"
        placeholder="Select Customer V ">
      </Dropdown>
     <input type="text" id="customer_id" name="customer_id">
     <input type="hidden" id="customer_code" name="customer_code" :value="selected.datacode">

</div>
</template>
<style>
.dropdown-input {
    border-radius: 0 25px 25px 0 !important;
    width: 100% !important;
}
.dropdown-content {
    z-index: 100 !important;
}
</style>
<script>
    Vue.use(Dropdown);
    export default{
        data () {
          return {
            options: [
              { "name": 'Customer', "id": '0' , "dataCode":'abhcj'}
            ],
            selected: { name: null, id: null, 'dataCode':null }
          }
        },
        mounted: function () {
            this.loadData();
        },
        methods: {
          validateSelection(selection) {
            $("#customer_id").val(selection.id);
            this.selected = selection;
            console.log(selection.name+' has been selected');
          },
          getDropdownValues(keyword) {
            console.log('You could refresh options by querying the API with '+keyword);
          },
          loadData: function () {
                var _self = this;
                this.$http.get('api/sender/load-customer').then(function (response) {
                  _self.options = response.data.data;
                }).catch(function (error) {
                  console.log(error);
                });
            },
        }
    }
</script>