<template>
<div>
    <Dropdown
        :options="options"
        v-on:selected="validateSelection"
        v-on:filter="getDropdownValues"
        :disabled="false"
        placeholder="Select Customer V ">
      </Dropdown>
     <input type="hidden" placeholder="Phone" :value="selected.name">
</div>
</template>
<style>
.dropdown-input {
    border-radius: 0 25px 25px 0 !important;
    width: 100% !important;
}
.dropdown-content {
    z-index: 100 !important;
}
</style>
<script>
    Vue.use(Dropdown);
    export default{
        data () {
          return {
            options: [
              { name: 'cat heo', id: 'catheo' },
              { name: 'Dog', id: 'dog' },
              { name: 'Elephant', id: 'elephant' },
              { name: 'Girafe', id: 'girafe' },
              { name: 'Snake', id: 'snake' },
              { name: 'Spider', id: 'spider' },
              { name: 'Unicorn', id: 'unicorn' }
            ],
            selected: { name: null, id: null }
          }
        },
        methods: {
          validateSelection(selection) {
            this.selected = selection;
            console.log(selection.name+' has been selected');
          },
          getDropdownValues(keyword) {
            console.log('You could refresh options by querying the API with '+keyword);
          }
        }
    }
</script>