<template>
    <div id="responsive_edit" class="modal fade" tabindex="-1" data-width="70%">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title"><i class="icon-users"></i> Edit Sender</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form action="#" class="form-horizontal">
                        <div class="form-body">
                            <form-error :errors="errors" field="customerlist" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label"></label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon input-circle-left">
                                            <i class="fa fa-user-circle"></i>
                                        </span>
                                        <Dropdown
                                            :options="options"
                                            v-on:selected="validateSelection"
                                            v-on:filter="getDropdownValues"
                                            :disabled="false"
                                            placeholder="Change Customer">
                                        </Dropdown>
                                        <input type="hidden"  v-model="sender.customer_id">
                                        <input type="hidden"  v-model="sender.customer_code">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="currentCustomer" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Customer</label>
                                <div class="col-md-8">
                                        <div class="input-group">
                                        <span class="input-group-addon input-circle-left">
                                            <i class="fa fa-user-circle"></i>
                                        </span>
                                        <input type="text" class="form-control input-circle-right" disabled placeholder="Customer Fullname"
                                                v-model="customer_">
                                        </div>
                                    </div>
                            </form-error>
                            <form-error :errors="errors" field="contact_firstname" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">First Name (*)</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                    <span class="input-group-addon input-circle-left">
                                        <i class="fa fa-info-circle"></i>
                                    </span>
                                    <input type="text" class="form-control input-circle-right" placeholder="First Name"
                                               v-model="sender.contact_firstname">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="contact_lastname" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Last Name (*)</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                    <span class="input-group-addon input-circle-left">
                                        <i class="fa fa-info-circle"></i>
                                    </span>
                                    <input type="text" class="form-control input-circle-right" placeholder="Last Name"
                                               v-model="sender.contact_lastname">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="contact_phone" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Contact Phone (*)</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon input-circle-left">
                                            <i class="fa fa-phone"></i>
                                        </span>
                                        <input type="text" class="form-control input-circle-right" placeholder="Phone"
                                               :value="sender.contact_phone">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="contact_email" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Contact Email (*)</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                    <span class="input-group-addon input-circle-left">
                                        <i class="fa fa-envelope"></i>
                                    </span>
                                        <input type="email" class="form-control input-circle-right" placeholder="Email"
                                               v-model="sender.contact_email">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="contact_address" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Contact Address</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                    <span class="input-group-addon input-circle-left">
                                        <i class="fa fa-address-card"></i>
                                    </span>
                                        <input type="email" class="form-control input-circle-right" placeholder="Address"
                                               v-model="sender.contact_address">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="contact_country" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Country (*)</label>
                                <div class="col-md-8">
                                    <select v-model="sender.contact_country"  @change="getCities_(sender.contact_country)" class="form-control input-circle-left">
                                        <option value="0">Choose Country</option>
                                        <option v-for="country in edit_countries" :value="country.id"> 
                                            {{country.country_name}}
                                        </option>
                                    </select>
                                </div>
                            </form-error>
                            <form-error v-if="sender.contact_country == 1" :errors="errors" field="zipcode" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Zipcode</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                    <span class="input-group-addon input-circle-left">
                                        <i class="fa fa-tasks"></i>
                                    </span>
                                    <input type="text" class="form-control input-circle-right" v-model="zip" maxlength="5" placeholder="ex: 94301" /> 
                                    </div>
                                </div>
                            </form-error>
                            <form-error v-if="sender.contact_country == 1" :errors="errors" field="city" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">City</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <div v-if="error" class="error form-control input-circle">{{error}}</div>
                                        <div v-if="city" class="display form-control input-circle">{{city}}</div>
                                    </div>
                                </div>
                            </form-error>
                            <form-error v-if="sender.contact_country == 2" :errors="errors" field="contact_city" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">City (*)</label>
                                <div class="col-md-8">
                                    <select v-model="sender.contact_city" class="form-control input-circle-left">
                                        <option v-for="city in edit_cities" :value="city.value" :selected="city.id == sender.contact_city">{{city.label}}</option>
                                    </select>
                                </div>
                            </form-error>
                        </div>
                    </form>
                    <!-- END FORM-->
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-outline dark">Close</button>
            <button type="button" class="btn green" @click="updateSender()">{{ (isSending) ? 'Saving ...' : 'Save'}}
            </button>
        </div>
    </div>
</template>
<script>
    export default{
        props: {
            senderProp: {
                type: Object,
                default: function () {
                    return {
                        id:0,
                        customer_id: 0,
                        customer_code: '',
                        customer_firstname: '',
                        customer_lastname: '',
                        contact_code: '',
                        contact_firstname: '',
                        contact_lastname: '',
                        contact_phone: '',
                        contact_email: '',
                        contact_address: '',
                        contact_zipcode:'',
                        contact_zipcode_name:'',
                        contact_country: 0,
                        contact_city: 0,
                    }
                }
            },
            edit_countries_: {},
            edit_cities_: {},
            zip:""
        },
        data: function () {
            return {
                isUpdated: false,
                showError: false,
                errors: '',
                isSending: false,
                countries: {},
                cities_: {},
                disabled: 1,
                options: [
                    { "name": 'Customer', "id": '0' , "dataCode":'abhcj'}
                    ],
                selected: { name: 'null', id: 'null', 'dataCode':null },
                city: " ",
                error: ""
            }
        },
        computed: {
            sender() {
                return this.senderProp;
            },
            customer_: function(){
                return '('+this.sender.customer_code+') '+this.sender.customer_firstname + ' ' + this.sender.customer_lastname;
            },
            edit_countries() {
                return this.edit_countries_;
            },
            edit_cities() {
                return this.edit_cities_;
            }
        },
        created: function () {
            console.log('sender_edit_form created');
        },
        beforeMount: function () {
            console.log('sender_edit_form beforeMount');
        },
        mounted: function () {
            console.log('sender_edit_form mounted');
            var _self = this;
            $('#responsive_edit').on('hidden.bs.modal', function (e) {
                _self.$emit('close');
                console.log('run close');
                _self.errors = '';
            });
            this.loadData();
           // this.getCountries();
            //this.getCities_(_self.sender.contact_country); // theateam7
        },
        updated: function () {
            console.log('sender_edit_form updated');
        },
        beforeDestroy: function () {
            console.log('sender_edit_form beforeDestroy');
        },
        watch: {
            zip: function() {
            if (this.zip.length === 5) {
                this.getCity();
                this.error = "";
                $(".error").removeClass("no");
            }
            if (this.zip.length < 5) {
                this.city = "";
                this.error = "hey, that's not a zipcode";
                $(".error").addClass("no");
                $(".display").removeClass("animated fadeInDown");
            }
            }
        },
        methods: {
            updateSender: function () {
                var _self = this;
                if(!this.isSending) {
                    this.isSending = true;
                    if (this.sender.id) {
                        this.$http.put('/api/sender/' + _self.sender.id, _self.sender).then((response) => {
                            _self.isSending = false;
                            var sende_ = response.data.data;
                            eventHub.$emit("SENDER_UPDATED", sende_);
                            $('.modal.in').modal('hide') ;
                            _self.errors = '';
                            //_self.sender = '';
                            location.reload("/sender");
                            showToast('Updated sender successfully', 'Sender\'s information has been updated', 'success');
                        }, (error) => {
                            _self.isSending = false;
                            if (error.data && error.data.data) {
                                _self.errors = error.data.data;
                            }
                            showToast('Updated sender failed', 'Sender\'s information has not been updated', 'error');
                        });
                    }
                }
            },
            getCities_(countryId) {
                var _self = this;
                this.$http.get("api/sender/load-city/"+countryId)
                .then( function (response) {
                    _self.edit_cities_ = response.data.data;
                })
            },
            validateSelection(selection) {
                var _self = this;
                if(selection.id){
                    _self.sender.customer_id    = selection.id;
                    _self.sender.customer_code  = selection.dataCode;
                }
                this.selected = selection;
                console.log(selection.name+' has been selected');
            },
            getDropdownValues(keyword) {
                console.log('You could refresh options by querying the API with '+keyword);
            },
            loadData: function () {
                var _self = this;
                this.$http.get('api/sender/load-customer').then(function (response) {
                _self.options = response.data.data;
                }).catch(function (error) {
                    console.log(error);
                });
            },
            getCity: function() {
                let self = this;
                $.getJSON("https://ZiptasticAPI.com/" + this.zip, function(result) {
                    if (result.error) {
                        self.error = "zip code not found";
                        self.city = "";
                        $(".error").addClass("no");
                    } else {
                        self.city = result.city + "," + result.state;
                        self.sender.contact_zipcode_name = result.city + "," + result.state;
                        console.log(self.sender.contact_zipcode_name+' contact_zipcode_name been selected');
                        self.sender.contact_zipcode = self.zip;
                        $(".display").addClass("animated fadeInDown");
                    }
                    console.log(result);
                });
            }
        }
    }
</script>
