<template>
  <div class="portlet light">
    <div class="row">
      <div class="col-md-8">
        <provider-image :provider="review.provider_name" :isSmall="true"></provider-image>
        <a target="_blank" v-bind:href="getReviewLink(review)" class="item-name primary-link">{{review.author}}</a>
        <stars :provider="review.provider_name" :rating="review.rating"></stars>
      </div>
      <div class="col-md-4" v-if="review.provider_name === 'BOOKING' || review.provider_name === 'GOOGLE'">
        <div class="pull-right">{{review.published_at_text}}</div>
      </div>
       <div class="col-md-4" v-else>
        <div class="pull-right">{{dateFormat(review.published_at)}}</div>
      </div>
    </div>
    <!-- <p class="text-justify"> {{review.content}} </p> -->
    <div class="row">
      <div class="col-md-12">
        <p class="text-justify">
          <text-truncate :content="review.content"></text-truncate>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <a class="btn green-haze btn-circle btn-outline btn-sm pull-right" :href="review.url" target="_blank"> Respond </a>
      </div>
    </div>
  </div>
</template>
<script>
  import moment from 'moment';
  import Stars from './Stars.vue';
  import ProviderImage from '../common/ProviderImage.vue';
  import TextTruncate from '../common/TextTruncate.vue';
  export default{
    props: {
      review: {
        type: Object
      },
    },
    mounted: function () {
    },
    components: {
      Stars, ProviderImage, TextTruncate
    },
    methods:{
      dateFormat: function (date) {
        return moment(date).format("ll");
      },
      getReviewLink: function (review) {
        var providerName = review.provider_name;
        switch (providerName){
          case "GOOGLE":
            return review.reviewer_id;
          case "YELP":
            return review.url;
          case "TRIPADVISOR":
            return review.url;
          default:
            return "#";
        }
      },
      getProviderIcon: function (review) {
        var providerName = review.provider_name;
        var icon = [];
        switch (providerName){
          case "GOOGLE":
            icon = ['socicon-googleplus','bg-blue'];
            break;
          case "FACEBOOK":
            icon = ['socicon-facebook','bg-blue'];
            break;
          case "YELP":
            icon = ['socicon-yelp','bg-red'];
            break;
          case "TRIPADVISOR":
            icon = ['socicon-tripadvisor','bg-green'];
            break;
        }
        return icon
      }
    }
  }
</script>
<style scoped>
  .center {
    text-align: center;
  }
</style>
