<template>
    <div></div>
</template>
<script>
    export default{
        mounted: function () {
            var _self = this;
            eventHub.$on('START_TOUR', function () {
                _self.startTour(AppData.tourSteps, AppData.tourPageID);
            });
            eventHub.$on('START_TOUR_FIRST', function () {
                _self.startFirst(AppData.tourSteps, AppData.tourPageID);
            });
            eventHub.$on('CLEAR_TOUR', function () {
                _self.resetTour();
            });
        },
        computed: {
            tourKey: function () {
                return 'tookTour_' + AppData.userId + '_';
            }
        },
        methods: {
            startFirst: function (tourSteps, pageId) {
                var tookTour = window.localStorage.getItem(this.tourKey + pageId);
                if (tookTour) return;
                this.startTour(tourSteps, pageId);
            },
            startTour: function (tourSteps, pageId) {
                window.localStorage.setItem(this.tourKey + pageId, true);
                App.tour.addSteps(tourSteps);
                App.tour.init();
                App.tour.start(true);
            },
            resetTour: function () {
                window.localStorage.removeItem('tookTour_customers');
                window.localStorage.removeItem('tookTour_dashboard');
                window.localStorage.removeItem('tookTour_reviews');
                window.localStorage.removeItem('tookTour_settings');
                window.localStorage.removeItem('tookTour_templates');
            }
        }
    }
</script>
