<template>
    <div class="form-group" v-bind:class="{'has-error':errorField}">
        <slot></slot>
        <div :class="errorClass?errorClass:'col-md-12'">
            <span v-if="errorField" class="help-block" v-for="error in errorField">{{ error }}</span>
        </div>
    </div>
</template>
<script>
    export default {
        props: {
            errors: {},
            field: '',
            errorClass:null
        },
        computed: {
            errorField: function () {
                if (this.errors) {
                    return this.errors[this.field];
                }
                return null;
            }
        }
    }
</script>
