<template>
  <div class="page-actions">
    <div v-for="n in formRange">
      <send-request-form @close="onCloseForm"></send-request-form>
    </div>
    <div class="btn-group">
      <button type="button" data-toggle="modal" href="#responsive" class="btn green-haze btn-circle btn-sm" @click="openForm()">
        <span class="nav-button">
          <i class="fa fa-send-o"></i>
          <span class="hidden-xs">Send Invite Request</span>
        </span>
      </button>
    </div>
  </div>
</template>
<script>
  import SendRequestForm from './SendRequestForm.vue'
  export default {
    data: function () {
      return {
        formRange: 1
      }
    },
    mounted: function() {
    },
    components: {
      SendRequestForm
    },
    methods: {
      openForm() {
        this.formRange += 1;
      },
      onCloseForm() {
        this.formRange -= 1;
      }
    }
  }
</script>
