<template>
    <li>
        <a href="#" class="nav-link nav-toggle" @click="isShowModal = true">
            <i class="icon-settings"></i>
            <span class="title">Request & Support</span>
        </a>
        <modal :show="isShowModal"
               :show-footer="false"
               title="Request & Support"
               v-on:modalClose="isShowModal=false">
               <div class="col-md-12">
                <div class="row portlet light bordered">
                    <div class="margin-top-20 profile-desc-link">
                        <i class="fa fa-phone-square"></i>
                        <span>{{info.phone}}</span>
                    </div>
                    <div class="margin-top-20 profile-desc-link">
                        <i class="fa fa-envelope"></i>
                        <span>{{info.email}}</span>
                    </div>
                    <div class="margin-top-20 profile-desc-link">
                        <i class="fa fa-globe"></i>
                        <span>{{info.website}}</span>
                    </div>
                    <div class="margin-top-20 profile-desc-link">
                        <i class="fa fa-download"></i>
                        <a href="https://www.teamviewer.com/en/download/" target="_blank">TeamViewer latest</a>
                    </div>
                </div>
              </div>
            <form role="form" lpformnum="1" id='form-import-customer'>
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-6">
                            <form-error :errors="errors" field="username">
                                <input class="form-control" type="text" :value="username" placeholder="Username" readonly>
                            </form-error>
                        </div>
                        <div class="col-md-6">
                            <form-error :errors="errors" field="email">
                                <input class="form-control" type="email" placeholder="Email" v-model="model.email">
                            </form-error>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <form-error :errors="errors" field="content">
                                <textarea class="form-control" placeholder="Content" v-model="model.content" rows="10"></textarea>
                            </form-error>
                        </div>
                    </div>

                </div>
                <div class="form-actions">
                    <button id="btnAdd" type="button" class="btn blue" @click="send">
                        <span class="ladda-label">Send</span>
                    </button>
                </div>
            </form>
        </modal>
    </li>
</template>
<script>
    export default {
        data(){
            return {
                isShowModal:false,
                model:{
                    content:'',
                    email:''
                },
                info:{
                    phone:'',
                    email:'',
                    website:''
                },
                errors:{}
            }
        },
        props:{
            email:String,
            username:String
        },
        mounted(){
            this.model.email = this.email;
             this.loadData();
        },
        methods:{
            loadData: function () {
                var _self = this;
                this.$http.get('/api/common/info-support').then(function (response) {
                    console.log(response.data.data);
                    _self.info = response.data.data;
                }).catch(function (error) {
                console.log(error);
                })
            },
            send(){
                var _self = this;
                this.$http.post('/api/common/support',this.model).then((response) => {
                    showToastFromResponse(response);
                    _self.isShowModal = false;
                }).catch((error)=>{
                    _self.errors = error.data.data;
                    showToastFromResponse(error);
                })
            }
        }
    }
</script>