<template>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <select class="form-control" v-model='selectedDate' @change="selectChange">
                    <option value="7">Last 7 days</option>
                    <option value="30">Last 30 days</option>
                    <option value="fromDate">From date</option>
                </select>
            </div>
            <div class="input-group input-daterange" v-show="selectedDate == 'fromDate'">
                <input data-id='startDateText' type="text" class="form-control" v-model="startDateText">
                <span class="input-group-addon">to</span>
                <input data-id='endDateText' type="text" class="form-control" v-model="endDateText">
            </div>
        </div>
    </div>
</template>
<script>
    import moment from 'moment';
    export default {
        data() {
            return {
                startDateText: moment().subtract(7, 'day').format('YYYY-MM-DD'),
                endDateText: moment().format('YYYY-MM-DD'),
                selectedDate: "7"
            }
        },
        watch: {
            startDateText(){
                this.$emit('change', {
                    startDateText: this.startDateText,
                    endDateText: this.endDateText
                });
            },
            endDateText(){
                this.$emit('change', {
                    startDateText: this.startDateText,
                    endDateText: this.endDateText
                });
            }
        },
        mounted() {
            let _self = this;
            $.fn.datepicker.defaults.format = "yyyy-mm-dd";
            $('.input-daterange input').each(function () {
                $(this).datepicker("clearDates")
                    .on('changeDate', function (e) {
                        _self[$(e.target).data('id')] = moment(e.date).format('YYYY-MM-DD');
                    });
            });
            this.$emit('change', {
                startDateText: this.startDateText,
                endDateText: this.endDateText
            });
        },
        methods: {
            selectChange(){
                if (this.selectedDate == "7" || this.selectedDate == "30") {
                    this.startDateText = moment().subtract(this.selectedDate, 'day').format('YYYY-MM-DD');
                }
            }
        }
    }
</script>