<template>
    <div id="responsive_edit" class="modal fade" tabindex="-1" data-width="70%">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title"><i class="icon-users"></i> Edit Commodity</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form action="#" class="form-horizontal">
                        <div class="form-body">
                            <form-error :errors="errors" field="commodity_cate_name" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Commodity Category </label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon input-circle-left">
                                            <i class="fa fa-cogs"></i>
                                        </span>
                                         <input type="text" disabled class="form-control input-circle-right" placeholder="Name"
                                               v-model="commodity.commodity_cate_name">
                                    </div>
                                   <!--  <div class="input-group">
                                        <span class="input-group-addon input-circle-left">
                                            <i class="fa fa-cogs"></i>
                                        </span>
                                        <v-select :disable="disabled" v-if="commoditiesCate" :options="commoditiesCate" v-model="commodity.commodity_cate_name" :on-change="runme"></v-select>
                                    </div> -->
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="commodity_charges" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Commodity Charges </label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon input-circle-left">
                                            <i class="fa fa-cog"></i>
                                        </span>
                                         <select v-model="commodity.commodity_charges" class="form-control input-circle-right">
                                            <option v-for="charge in commoditiesChargesEdit_" :value="charge.value">{{ charge.label }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="commodity_brand" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Commodity Brand </label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon input-circle-left">
                                            <i class="fa fa-cog"></i>
                                        </span>
                                         <select v-model="commodity.commodity_brand" class="form-control input-circle-right">
                                            <option v-for="brand in commoditiesBrandEdit" :value="brand.value">{{ brand.label }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="commodity_name" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Commodity Name </label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon input-circle-left">
                                            <i class="fa fa-bars"></i>
                                        </span>
                                        <input type="text" class="form-control input-circle-right" placeholder="Name"
                                               v-model="commodity.commodity_name">
                                    </div>
                                </div>
                            </form-error>
                        </div>
                        <input type="hidden"  v-model="commodity.commodity_cate">
                    </form>
                    <!-- END FORM 1-->
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-outline dark">Close</button>
            <button type="button" class="btn green" @click="updateCommodities()">{{ (isSending) ? 'Saving ...' : 'Save'}}
            </button>
        </div>
    </div>
</template>
<script>
    export default{
        props: {
            commodityProp: {
                type: Object,
                default: function () {
                    return {
                        commodity_cate_name: '',
                        commodity_name: '',
                        commodity_cate: '',
                        commodity_brand: '',
                        commodity_charges: '',
                        status: 1,
                    }
                }
            },
            commoditiesBrandEdit_:{},
            commoditiesChargesEdit_:{}
        },
        data: function () {
            return {
                isUpdated: false,
                showError: false,
                errors: '',
                role_id: AppData.role_id,
                isSending: false,
                commoditiesCate: [{label:'0', value:0}],
                //commoditiesBrandEdit: [],
                disabled: 1,
                basedOn: [
                    {index: 1, name: 'Quanlity', css: 'label-warning'},
                    {index: 2, name: 'Value', css: 'label-success'},
                    {index: 3, name: 'Weight', css: 'label-success'}
                ],
                conditions: [
                    {index: '0', name: 'Choose Conditions', css: 'label-warning'},
                    {index: '>', name: '>', css: 'label-warning'},
                    {index: '<', name: '<', css: 'label-warning'},
                    {index: '>=', name: '>=', css: 'label-warning'},
                    {index: '<=', name: '<=', css: 'label-warning'}
                ],
                typeBaseOn: [
                    {index: '$', name: '$', css: 'label-warning'},
                    {index: '%', name: '%', css: 'label-success'},
                ],
            }
        },
        computed: {
            commodity() {
                return this.commodityProp;
            },
            commoditiesBrandEdit(){
                return this.commoditiesBrandEdit_;
            },
            commoditiesChargesEdit(){
                return this.commoditiesChargesEdit_;
            }
        },
        created: function () {
            this.getCommodityCate();
            console.log('commodity_edit_form created');
            eventHub.$on('commodities_change', function (list) {
                this.commoditiesChargesEdit_ = list;
            });
        },
        beforeMount: function () {
            console.log('commodity_edit_form beforeMount');
        },
        mounted: function () {
            var _self = this;
            console.log('commodity_edit_form mounted');
            $('#responsive_edit').on('hidden.bs.modal', function (e) {
                _self.$emit('close');
                console.log('run close');
                _self.errors = '';
            });
        },
        updated: function () {
            console.log('commodity_edit_form updated----55');
            this.$nextTick(function () {

            })
        },
        beforeDestroy: function () {
            console.log('commodity_edit_form beforeDestroy');
        },
        methods: {
            updateCommodities: function () {
                var _self = this;
                if(!this.isSending) {
                    this.isSending = true;
                    if (this.commodity.id) {
                        this.$http.put('/api/commodities/' + _self.commodity.id, _self.commodity).then((response) => {
                            _self.isSending = false;
                            var sende_ = response.data.data;
                            eventHub.$emit("commodities_UPDATED", sende_);
                            $('.modal.in').modal('hide') ;
                            _self.errors = '';
                           // _self.commodity = '';
                            showToast('Updated commodities successfully', 'Commodities\'s information has been updated', 'success');
                        }, (error) => {
                            _self.isSending = false;
                            if (error.data && error.data.data) {
                                _self.errors = error.data.data;
                            }
                            showToast('Updated commodities failed', 'Commodities\'s information has not been updated', 'error');
                        });
                    }
                }
            },
            getCommodityCate: function () {
                var _self = this;
                this.$http.get('api/commodities/load-cate').then(function (response) {
                  _self.commoditiesCate = response.data.data;
                }).catch(function (error) {
                  console.log(error);
                });
            },
            runme(selected) {
                var _self = this;
                if(selected.value) {
                    _self.commodity.commodity_cate = selected.value;
                   // this.loadData(selected.value);
                }
            },
            runme_(selected) {
                var _self = this;
                _self.commodity.commodity_brand = selected.value;
            },
            loadData(id) {
                var _self = this;
                this.$http.get('api/commodities/load-brand/'+id).then(function (response) {
                        _self.commoditiesBrandEdit = response.data.data;
                    }).catch(function (error) {
                    console.log(error);
                    });
                    this.$http.get('api/commodities/load-charges/'+id).then(function (response) {
                        _self.commoditiesChargesEdit_ = response.data.data;
                        //eventHub.$emit("commodities_change", response.data.data);
                    }).catch(function (error) {
                    console.log(error);
                    });
            }
        }
    }
</script>
