<template>
    <div id="responsive_commodity" class="modal fade" tabindex="-1" data-width="70%">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title"><i class="icon-users"></i> Create New Commodity</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form action="#" class="form-horizontal">
                        <div class="form-body">
                            <form-error :errors="errors" field="commodity_cate_name" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Commodity Category </label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon input-circle-left">
                                            <i class="fa fa-cogs"></i>
                                        </span>
                                        <v-select v-if="commoditiesCate" :options="commoditiesCate" v-model="commodity.commodity_cate_name" :on-change="runme"></v-select>
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="commodity_charges" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Commodity Charges </label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon input-circle-left">
                                            <i class="fa fa-cog"></i>
                                        </span>
                                        <select v-model="commodity.commodity_charges" class="form-control input-circle-right">
                                            <option v-for="charge in commoditiesCharges" :value="charge.value">{{ charge.label }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="commodity_brand_name" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Commodity Brand </label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon input-circle-left">
                                            <i class="fa fa-cog"></i>
                                        </span>
                                        <v-select :options="commoditiesBrand" v-model="commodity.commodity_brand_name" :on-change="runme_"></v-select>
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="commodity_name" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Commodity Name </label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon input-circle-left">
                                            <i class="fa fa-bars"></i>
                                        </span>
                                        <input type="text" class="form-control input-circle-right" placeholder="Name"
                                            v-model="commodity.commodity_name">
                                    </div>
                                </div>
                            </form-error>

                        </div>
                    </form>
                    <!-- END FORM-->
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-outline dark btn-circle">Close</button>
            <button type="button" class="btn green btn-circle" @click="createCommodity()">{{ (isSending) ? 'Saving ...' : 'Save'}}
            </button>
        </div>
    </div>
</template>
<script>
    export default{
        props: {
            commodityProp: {
                type: Object,
                default: function () {
                    return {
                        commodity_brand_name: '',
                        commodity_cate_name: '',
                        commodity_name: '',
                        commodity_cate: '',
                        commodity_brand: '',
                        commodity_charges: '',
                        status: 1,
                    }
                }
            }
        },
        data: function () {
            return {
                isUpdated: false,
                showError: false,
                errors: '',
                role_id: AppData.role_id,
                isSending: false,
                commoditiesCate: [{label:'0', value:0}],
                commoditiesBrand: [{label:'0', value:0}],
                commoditiesCharges: [{label:'0', value:0}],
                disabled: 1,
                commoDefault:{
                    commodity_brand_name: '',
                    commodity_cate_name: '',
                    commodity_name: '',
                    commodity_cate: '',
                    commodity_brand: '',
                    commodity_charges: '',
                    status: 1,
                },
                basedOn: [
                    {index: 1, name: 'Quanlity', css: 'label-warning'},
                    {index: 2, name: 'Value', css: 'label-success'},
                    {index: 3, name: 'Weight', css: 'label-success'}
                ],
                conditions: [
                    {index: '0', name: 'Choose Conditions', css: 'label-warning'},
                    {index: '>', name: '>', css: 'label-warning'},
                    {index: '<', name: '<', css: 'label-warning'},
                    {index: '>=', name: '>=', css: 'label-warning'},
                    {index: '<=', name: '<=', css: 'label-warning'}
                ],
                typeBaseOn: [
                    {index: '$', name: '$', css: 'label-warning'},
                    {index: '%', name: '%', css: 'label-success'},
                ],

            }
        },
        components: {
        },
        computed: {
            commodity() {
                return this.commodityProp;
            }
        },
        created: function () {
            this.getCommodityCate();
            console.log('commodity_form created');
        },
        beforeMount: function () {
            console.log('commodity_form beforeMount');
        },
        mounted: function () {
            console.log('commodity_form mounted');
            var _self = this;
            $('#responsive_commodity').on('hidden.bs.modal', function (e) {
                _self.$emit('close');
                console.log('run close');
                _self.errors = '';
            });
        },
        updated: function () {
            console.log('commodity_form updated');
        },
        beforeDestroy: function () {
            console.log('commodity_form beforeDestroy');
        },
        methods: {
            createCommodity: function () {
                var _self = this;
                if(!this.isSending) {
                    this.isSending = true;
                    this.$http.post('/api/commodities', _self.commodity).then((response) => {
                        _self.isSending = false;
                        var commodites_ = response.data.data;
                        eventHub.$emit("commodities_CREATED", commodites_);
                        $('.modal.in').modal('hide');
                        _self.errors = '';
                        _self.commoDefault = commodites_;
                        showToast('Created commodites successfully', 'commodites information has been created', 'success');
                    }, (error) => {
                        _self.isSending = false;
                        if (error.data && error.data.data) {
                            _self.errors = error.data.data;
                        }
                        showToast('Created commodites failed', 'commodites information has not been created', 'error');
                    });
                }
            },
            getCommodityCate: function () {
                var _self = this;
                this.$http.get('api/commodities/load-cate').then(function (response) {
                    _self.commoditiesCate = response.data.data;
                }).catch(function (error) {
                    console.log(error);
                });
            },
            runme(selected) {
                var _self = this;
                _self.commodity.commodity_cate = selected.value;
                this.$http.get('api/commodities/load-brand/'+_self.commodity.commodity_cate).then(function (response) {
                    _self.commoditiesBrand = response.data.data;
                }).catch(function (error) {
                    console.log(error);
                });
                this.$http.get('api/commodities/load-charges/'+_self.commodity.commodity_cate).then(function (response) {
                    _self.commoditiesCharges = response.data.data;
                }).catch(function (error) {
                    console.log(error);
                });
            },
            runme_(selected) {
                var _self = this;
                _self.commodity.commodity_brand = selected.value;
            },
            
        }
    }
</script>
