<template>
  <div class="portlet light bordered" id="list-commodity-block">
    <div v-for="n in showEditModal">
      <commodities-edit-form @close="onCloseEdit()" :commodityProp="current_commodities"></commodities-edit-form>
    </div>
    <div v-for="n in showNewModal">
      <commodities-form @close="onCloseNew()"></commodities-form>
    </div>
    <div class="portlet-title">
      <div class="caption">
        <i class="icon-users font-red"></i>
        <span class="caption-subject font-red sbold uppercase">List All Commodities</span>
      </div>
      <div class="actions">
        <button
          class="btn sbold green btn-circle"
          @click="onClickNewButton()"
          data-toggle="modal"
          href="#responsive_commodity"
        >
          Add New
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </div>
    <div class="portlet-body">
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table
              class="table table-striped table-bordered table-hover no-footer"
              role="grid"
              id="recipient-table"
            >
              <thead>
                <tr role="row" class="heading">
                  <th>Name</th>
                  <th>Commodity Brand</th>
                  <th>Commodity Cate</th>
                  <th width="10%">Actions</th>
            
                </tr>
                <tr>
                  <th>
                    <div class="form-group">
                      <input
                        class="form-control"
                        type="text"
                        v-model="filterCommodityName"
                        placeholder="Commodity Name"
                        @keyup.enter="filterChange"
                      >
                    </div>
                  </th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-if="pagination &&  pagination.data && pagination.data.length > 0"
                  v-for="model in pagination.data"
                  role="row"
                  class="odd"
                >
                  <td>{{model.commodity_name}}</td>
                  <td>{{model.commodity_brand_name}}</td>
                  <td>{{model.commodity_cate_name}}</td>
                  <td class="text-center">
                    <button
                      class="btn btn-info"
                      @click="onClickEditButton(model)"
                      data-toggle="modal"
                      href="#responsive_edit"
                    >
                      <i class="fa fa-edit"></i>
                    </button>
                    <button class="btn red btn-default" @click="deleterecipient(model.id)">X</button>
                  </td>
                </tr>
                <tr v-if="!pagination || pagination.data && pagination.data.length == 0">
                  <td colspan="7">No Data - No find data</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div v-if="pagination &&  pagination.data && pagination.data.length > 0">
        <div class="col-md-12">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <ul class="pager">
              <li
                data-lp="1"
                class="previous"
                v-bind:class="pagination.current_page == 1?'disabled':''"
              >
                <a href="javascript:void(0);" @click="backPage()">
                  <i class="fa fa-angle-left"></i>
                </a>
              </li>
              <span>{{pagination.current_page}}/{{pagination.last_page}}</span>
              <li
                data-lp="8"
                class="next"
                v-bind:class="pagination.current_page == pagination.last_page?'disabled':''"
              >
                <a href="javascript:void(0);" @click="nextPage()">
                  <i class="fa fa-angle-right fa-4"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4"></div>
        </div>
      </div>
    </div>
  </div>
</template>
<style scoped>
.actions {
  margin-right: 10px;
}
</style>

<script>
import commoditiesEditForm from "./FormEdit.vue";
import commoditiesForm from "./Form.vue";
export default {
  data: function() {
    return {
      search: "",
      pagination: {},
      filterStatus: 1,
      currentPage: 1,
      filterCommodityName: "",
      filterCommoditiesCate: "",
      filterCommoditiesBrand: "",
      current_commodities: {},
      origin_commodities: {},
      showNewModal: 1,
      showEditModal: 1,
      isEdited: false
    };
  },
  props: {},
  components: {
    commoditiesEditForm,
    commoditiesForm
  },
  mounted: function() {
    $(document).ready(function() {
      $('[data-toggle="popover"]').popover();
    });
    this.refresh();
    var _self = this;
    eventHub.$on("commodity_CREATED", function() {
      _self.refresh();
    });
    eventHub.$on("commodity_UPDATED", function() {
      _self.refresh();
    });
  },
  watch: {},
  computed: {
    searchQuery: function() {
      var query =
        "?orderBy=created_at&sortedBy=desc&page=" + this.currentPage + "&";
      var search = "search=";

      if (this.filterCommodityName) {
        search += "commodities_name=" + this.filterCommodityName + "&";
      }
      if (this.filterCommoditiesCate) {
        search += "commodities_cate=" + this.filterCommoditiesCate + "&";
      }
      if (this.filterCommoditiesBrand) {
        search += "commodities_brand=" + this.filterCommoditiesBrand + "&";
      }
      query += search.slice(0, -1);
      return query;
    },
    pages: function() {
      var pages = [];
      if (this.pagination && this.pagination.last_page) {
        for (var i = 1; i <= this.pagination.last_page; i++) {
          pages.push(i);
        }
      }
      return pages;
    }
  },
  methods: {
    onCloseEdit() {
      this.showEditModal -= 1;
    },
    onCloseNew() {
      this.showNewModal -= 1;
    },
    onClickNewButton() {
      this.showNewModal += 1;
    },
    searchChange: _.debounce(function() {
      this.refresh();
    }, 500),
    refresh: function() {
      App.blockUI({
        target: "#list-commodity-block",
        animate: true
      });
      $(".btn-checked").html("Check Clicked");
      var _self = this;
      this.$http
        .get("api/commodities/pagination" + this.searchQuery)
        .then(function(response) {
          _self.pagination = response.data.data;
          App.unblockUI("#list-commodity-block");
        })
        .catch(function(error) {
          App.unblockUI("#list-commodity-block");
        });
    },
    changePage: function(index) {
      this.currentPage = index;
      this.refresh();
    },
    backPage: function() {
      if (this.currentPage > 1) {
        this.currentPage--;
        this.refresh();
      }
    },
    nextPage: function() {
      if (this.currentPage < this.pagination.last_page) {
        this.currentPage++;
        this.refresh();
      }
    },
    filterChange: function() {
      this.refresh();
    },
    deleterecipient: function(id) {
      if (confirm("Do you want to delete?")) {
        App.blockUI({
          target: "#list-commodity-block",
          animate: true
        });
        return this.$http
          .delete("/api/commodities/" + id)
          .then(function(response) {
            App.unblockUI("#list-commodity-block");
            showToastFromResponse(response);
            this.refresh();
          })
          .catch(function(error) {
            App.unblockUI("#list-commodity-block");
            showToastFromResponse(error);
          });
      }
    },
    onClickEditButton(model) {
      this.isEdited = false;
      this.current_commodities = model;
      this.setOrigincommodities(model);
      this.showEditModal += 1;
    },
    setOrigincommodities(model) {
      this.origin_commodities = _.clone(model);
    }
  }
};
</script>
