@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
.basic-wrap .pace .pace-progress {
  top: 90px !important;
}
.basic-wrap .pace .pace-progress {
  position: absolute;
}
.row {
 margin-left: 0px !important;
  margin-right: 0px !important;
}
.center-element {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  min-width: 320px;
  min-height: 480px;
  background-color: #FFFFFF;
}

.auth .header {
  height: 76px;
  background-color: #FFFFFF;
  padding-top: 10px;
}

.auth .header .auth-logo {
  display: block;
  margin: 0 auto;
}

.auth .content-wrap {
  margin-top: 30px;
}

.auth .center-wrap {
  opacity: 0.9;
  margin-top: 30px;
  background-color: #FFFFFF;
}

.auth .panel {
  border-radius: 0px;
}

.auth .form-header {
  display: block;
  background-color: #009edb;
  height: 56px;
  margin-left: -15px;
  margin-right: -15px;
}

.auth .form-header .form-title {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 56px;
  padding-left: 10px;
}

body {
  background: #F6F6F6;
}

.page-content-wrapper .page-content {
  background: #fff;
}

.page-footer {
  background: #E1E1E1;
  color: #333;
}

.page-header.navbar .page-logo .logo-default {
  margin: 0px 10px 0;
  max-height: 50px;
}

.page-head .page-title {
  text-transform: uppercase;
}

table.dataTable.no-footer {
  border-bottom-color: #e7ecf1 !important;
}

.page-header-fixed .page-container {
  margin-top: 30px;
}

.page-header.navbar {
  background: #E1E1E1;
  height: 50px;
  min-height: 50px;
  border-bottom: unset;
}

.page-head .page-title > h1 {
  color: #009edb;
  font-weight: bold;
}

.page-container {
  padding: 20px 5px 0;
  background-color: #F6F6F6;
}

.page-header.navbar .page-logo {
  padding-left: 15px;
  padding-right: 28px;
}

.page-sidebar-closed.page-sidebar-closed-hide-logo .page-header.navbar .page-logo {
  margin-left: 4px;
}

.page-footer .page-footer-inner {
  color: #333;
}

.scroll-to-top > i {
  color: #2D5F8B;
}

.page-sidebar .page-sidebar-menu > li.active.open > a, .page-sidebar .page-sidebar-menu > li.active > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > span {
  font-weight: bold !important;
  color: #2D5F8B;
}

.modal-title {
  font-weight: bold !important;
  color: #2D5F8B;
}

.page-sidebar.navbar-collapse {
  background-color: #F6F6F6;
}

.page-sidebar .page-sidebar-menu > li.active.open > a, .page-sidebar .page-sidebar-menu > li.active > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a {
  background-color: #EFEFEF !important;
color: #333 !important;
}

.sidebar-customer a {
  color: #333 !important;
}

.sidebar-customer .icon-home {
  color: #333 !important;
}
.sidebar-customer:hover > a{
  background-color: #EFEFEF !important;
}

.sidebar-customer .selected {
  display: block;
  float: right;
  position: absolute;
  right: 0;
  top: 8px;
  background: 0 0;
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-right: 12px solid #e9ecf3;
}
.page-sidebar .page-sidebar-menu .sub-menu > li.active > a, .page-sidebar .page-sidebar-menu .sub-menu > li.open > a, .page-sidebar .page-sidebar-menu .sub-menu > li:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a {
  background: #EFEFEF !important;
  color: #333;
}


.page-sidebar .page-sidebar-menu > li > a > i[class*="icon-"], .page-sidebar .page-sidebar-menu > li > a > i[class^="icon-"], .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i[class*="icon-"], .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i[class^="icon-"] {
  color: #333;
}
.table-checkable tr>td:first-child, .table-checkable tr>th:first-child {
  text-align: none;
  max-width: none;
  min-width: none;
}
.btn {
  padding: 4px 6px;
  font-size: 12px;
}
.btn-lg {
  padding: 5px 10px;
  font-size: 16px;
  line-height: 1.33333;
  border-radius: 6px;
}
.table thead tr th {
  font-size: 12px;
}
.table td, .table th {
  font-size: 12px;
}
.table-responsive .form-group {
  margin-bottom: 0px;
} 
.table-responsive .form-control {
  height: 35px;
  margin: 5px 0 5px;
  width: auto;
}
.table-responsive .form-control-cus {
  width: 100% !important;
}
.shipment-label {
  margin: 8px 0 5px;
}
.label-readonly {
  padding-left: 25px;
}
#package_wrapper .form-control {
  width: 100% !important;
}
.frm-package {
  width: 10% !important;
  height: 20px !important;
  margin-left: 2px;
  margin-right: 2px;
}
.collapse.in {
  display: block !important;
}
.shipment-color-2 {
  background-color: #a5ffff;
}
/** Start Request label **/
.package-info {
  /*border-bottom: 1px dotted #999;*/
  margin-bottom: 10px;
}
.btn-request-label {
  margin-bottom: 50px;
}
.package-number {
  text-transform: uppercase;
}
.request_label_note {
  font-size:12px;
  text-align: center;
  color:red;
}
.label-tracking-img {
  margin-bottom: 0px;
}
#list_package_request_label .col-md-12 {
  margin-top: 8px;
  padding: 8px;
}
.package-item-wrap {
  border: 1px solid;
  padding: 10px;
  margin-top: 10px;
}
.pi-note {
  padding-left: 15px;
  padding-right: 15px;
}
/** End Request label **/
/** customer request**/
.block-customer-infor {
  padding-left:0 !important;
}
/** END customer request**/
/** new layout **/
// menu 
.page-sidebar .page-sidebar-menu .sub-menu > li > a > i[class*="icon-"], .page-sidebar .page-sidebar-menu .sub-menu > li > a > i[class^="icon-"], .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a > i[class*="icon-"], .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a > i[class^="icon-"] {
  color: #333;
}
.page-sidebar-menu.page-sidebar-menu-closed > li:hover, .page-sidebar-menu.page-sidebar-menu-closed > li:hover > .sub-menu, .page-sidebar-menu.page-sidebar-menu-hover-submenu li:hover > .sub-menu {
  box-shadow: unset;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown {
  height: 50px;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle {
  padding: 13px 10px 6px;
  background-color: unset !important;
}
.open i {
  color: #5b9bd1;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle:hover {
  background-color: #F6F6F6;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu {
  background: #eee;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu .dropdown-menu-list > li a, .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu.dropdown-menu-default > li a {
  color: #333;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu .dropdown-menu-list > li a > i, .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu.dropdown-menu-default > li a > i {
  color: #333;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu .dropdown-menu-list > li a:hover, .page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu.dropdown-menu-default > li a:hover {
  background-color: #f6f6f6;
}
.pace .pace-progress {
  top: 50px;
}
.pace .pace-activity {
  top: 55px;
}
.page-sidebar .page-sidebar-menu > li > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a {
  color: #333;
}
.page-header.navbar .menu-toggler.sidebar-toggler {
  margin: 18px 0 0;
}
.dropdown-user .dropdown-toggle {
  background: unset;
}
.col-lg-12, .col-md-12, .col-md-9, .col-md-3{
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu::after {
  border-bottom-color: #eee;
}
.dropdown-menu {
  box-shadow: unset;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu.dropdown-menu-default > li.divider {
  opacity: .4;
}
.btn-info {
  border-radius: .25rem !important;
}
// tool tips
/* Tooltip container */

/* Tooltip text */
.tooltip-custom  {
  position: relative;
}
.tooltip-custom .tooltiptext {
  visibility: hidden;
  width: unset;
  background-color: #5C9ACF;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  border-radius: 6px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: -18px;
  right: 117%;
}
.tooltip-custom .tooltiptext-right {
  visibility: hidden;
  width: unset;
  background-color: #5C9ACF;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  border-radius: 6px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: -18px;
  left: 125%;
}
.tooltip-custom .tooltiptext-right::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -10px;
  border-width: 5px;
  border-style: solid;
  border-color: #5C9ACF transparent transparent transparent;
  transform: rotate(-270deg);
  -webkit-transform: rotate(-270deg);
}
.tooltip-custom .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -9px;
  border-width: 5px;
  border-style: solid;
  border-color: #5C9ACF transparent transparent transparent;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip-custom:hover .tooltiptext {
  visibility: visible;
}
.tooltip-custom:hover .tooltiptext-right {
  visibility: visible;
}
// END tool tips

// table 
.heading-custom {
  background: #F6F6F6;
}
.padding-10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.padding-left-10 {
  padding-left: 10px !important;
}
.padding-right-5 {
  padding-right: 5px !important;
}
.padding-15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.form-control-select {
  padding: 0px 12px !important;
}
.nowrap {
  white-space: nowrap;
}
.dropdown-input {
  border-radius: 0 25px 25px 0 !important;
  width: 100% !important;
}
.dropdown-content {
  z-index: 100 !important;
}
.printme_content {
  /* width: 384px;height: 576px;*/
  width: 95%;
  margin: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center !important;
  flex-wrap: wrap;
}
.print_wrapper {
  display:block;
}
.print_wrapper th img {
  max-width: 200px;
}
.print_wrapper table {
  border:0;
}
.table-none-bordered, .table-none-bordered > tbody, .table-none-bordered > tbody > tr, .table-none-bordered > tbody > tr > td, .table-none-bordered > tbody > tr > th, .table-none-bordered > tfoot > tr > td, .table-none-bordered > tfoot > tr > th, .table-none-bordered > thead > tr > td, .table-none-bordered > thead > tr > th {
  border:0 !important;
  font-size: 16px !important;
  border-bottom: 0 !important;
  border-top: 0 !important;
}
.tb-title-sender {
  padding-left: 0 !important;
}
.tb-title-sender b {
  -webkit-print-color-adjust:exact;
  background-color: #333 !important;
  color: #fff !important;
  padding: 10px 100px 10px 10px;
}
.tb-title-consignee {
  padding-left: 0 !important;
}
.tb-title-consignee b {
  -webkit-print-color-adjust:exact;
  background-color: #333 !important;
  color: #fff !important;
  padding: 10px 40px 10px 10px;
}
.table-center {
  text-align: center !important;
}
.tb-border {
  border: 1px solid #333 !important;
}
.tb-noidung td {
  border-top: 1px solid #000;
}
.tb-right {
  text-align: right;
}
.tb-left {
  text-align: left;
}
.tb-center {
  text-align: center;
}
.tb-border-padding-10 {
  -webkit-print-color-adjust:exact;
  border: 1px solid #333 !important;
  padding:10px;
}

@media print {
  body {
    -webkit-print-color-adjust:exact;
  }
}
/** print A4 **/

/** END print A4**/
// END table 
.logo-login {
  text-align: center;
}
.logo-login img {
  width: 150px;
}
.page-header.navbar .menu-toggler {
  background-image: url(../../img/sidebar-toggle-dark.png) !important;
}
.open i {
  color:#5b9bd1 !important;
}
.tab-box-active {
  background-color: #3598dc !important;
  border-color: #3598dc !important;
}
.tab-box-active-2 {
  background-color: #67809F !important;
  border-color: #67809F !important;
}
.tab-box-wrap {
  padding: unset;
  border: unset;
  position: relative;
  border-right: 1px #999 solid;
  margin-bottom: 10px;
}
.btn-close {
  position: absolute;
  right:0;
  top:0;
}
.navbar{
  padding: 6px;
}
.navbar-brand > img{
  padding: 2px !important;
}
.navbar-nav{
  margin-left: 50px !important;
}
.nav > li, .nav > li > a{
  font-family: "Roboto",sans-serif;
  color: #333;
  font-size: 1em;
}
.tat-right-menu {
  float: right;
}
.tat-right-menu .header-divider {
  border-left: 1px solid rgba(0,0,0,0.1);
  height: 30px;
  vertical-align: middle;
  position: relative;
  margin: 22px 7.5px;
}
.header-button-1 a {
  background-color: #009edb;
  color: #fff;
  border-radius: 99px !important;
  padding: 8px !important;
}
#footer-fontend .page-footer-inner {
  width: 100%;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  float: unset;
  display: block;
}
#printAWB {
  display:none;
}
.scanned_1 {
  color: unset;
}
.scanned_2 {
  color: red;
}
#package_wrapper .table td, .table th {
  border: 1px solid #e7ecf1;
}
/** END new layout **/
/** shipment **/
.shipment_checkbox-sender {
  margin-top: 3px !important;
}
#package-block .header-package {
  padding: 12px 20px 0px;
}
.rm-package {
  cursor: pointer;
}
.vue-form-wizard .wizard-card-footer {
  padding: 0 35px !important;
}
/** END shipment**/
/** custom **/
.tat-padding-bottom-10 {
  padding-bottom:10px !important;
}
.tat-padding-bottom-15 {
  padding-bottom:15px !important;
}
.per-page-wrap {
  text-align: right;
}
/** END custom **/
.test-print {
  width: 50%;
  display: flex;
}
.tp-left {
  width: 50%;
}
.tp-right {
  width: 50%;
  border: 1px solid #000;
}
/*# sourceMappingURL=app.css.map */
