<template>
<div>
    <div class="col-md-12">
        <div class="portlet light bordered col-md-12 padding-15">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase"> Print Shipment </span>
                </div>
                <div class="actions">
                    <div class="btn-group btn-group-devided">
                        <button tabindex="-1" type="button" style="background-color: rgb(230, 126, 34); border-color: rgb(230, 126, 34); color: white;" class="wizard-btn" @click="printAll()">PRINT ALL</button>
                    </div>
                </div>
            </div>
            <div class="portlet-body form">
            <!-- Type package-->
            <div class="col-md-12 portlet light bordered padding-15">
                <div class="col-md-3">Type Package:</div>
                <div class="col-md-9 ">
                    <div class="col-md-4">
                        <input type="checkbox" @click="check($event)" id="c_s"> <label for="c_s">COMMERCIAL SAMPLES</label>
                    </div>
                    <div class="col-md-2">
                        <input type="checkbox" v-model="isGiChecked" @click="check2($event)" id="c_f"> <label for="c_f">GIFTS</label>
                    </div>
                    <div class="col-md-4">
                        <input type="checkbox" v-model="isMeChecked" @click="check3($event)" id="c_m"> <label for="c_m">MERCHANDISES</label>
                    </div>
                    <div class="col-md-2">
                        <input type="checkbox" v-model="isOtherChecked" @click="check4($event)" id="c_o"> <label for="c_o">OTHER</label>
                    </div>
                </div>
            </div>
            <!-- END Type package-->
            <div class="col-md-12">
                <!-- START PRINT -->
                <div v-for="(package, key_) in packages" class="col-md-12" style="padding-bottom: 10px;">
                    <div class="col-md-4">
                        <div class="row text-center">
                            <button tabindex="-1" type="button" style="background-color: rgb(230, 126, 34); border-color: rgb(230, 126, 34); color: white;" class="wizard-btn" @click="print(key_+1)">PRINT Thermal {{key_+1}}</button>
                        </div>
                        <div class="print_wrapper print-thermal" :id="'printMe_'+(key_+1)">
                            <div class="printme_content">
                                <div class="table-responsive">
                                    <table class="table table-none-bordered">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <img style="width:200px" src="/assets/layouts/layout4/img/logo-light.png" alt="logo" class="">
                                                </th>
                                                <th colspan="2" style="text-align: right !important;">
                                                    14936 Dillor St <br/>
                                                    Westminster. CA 92683 <br/>
                                                    Tel: 714 790 9999
                                                </th>   
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td></td>
                                                <td class="tb-right">Date</td>
                                                <td class="tb-center tb-border" style=" border: 1px solid #333 !important; "><b>{{new Date().getMonth() }}/{{new Date().getDate() }}/{{new Date().getFullYear() }}</b></td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td class="tb-right">Tracking Number</td>
                                                <td class="tb-center tb-border" style=" border: 1px solid #333 !important; "><b>{{shipment_code}}</b></td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td class="tb-right">Service Type</td>
                                                <td class="tb-center tb-border" style=" border: 1px solid #333 !important; "><b>{{shipment_info}}</b></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="table table-none-bordered">
                                        <tbody>
                                            <tr>
                                                <td class="tb-title-sender" colspan="3"><b style="background-color: #333;color: #fff;padding: 10px 40px 10px 10px;-webkit-print-color-adjust: exact;">Sender/Người Gửi</b></td>
                                                <td class="tb-title-consignee" colspan="3"><b style="background-color: #333;color: #fff;padding: 10px 40px 10px 10px;-webkit-print-color-adjust: exact;">Consignee/Người Nhận</b></td>
                                            </tr>
                                            <tr style=" border: 2px solid #333 !important; ">
                                                <td colspan="3" class="tb-border" style=" border: 2px solid #333 !important; ">
                                                    Name: <b style="text-transform: uppercase;">{{sender_.contact_firstname}} {{sender_.contact_lastname}}</b>
                                                    <br/>
                                                    <br/>
                                                    Address: <b style="text-transform: uppercase;">{{address_sender}}</b>
                                                    <br/>
                                                    <br/>
                                                    Phone: <b>{{sender_.contact_phone}}</b>
                                                </td>
                                                <td colspan="3" class="tb-border" style=" border: 2px solid #333 !important; ">
                                                    Name: <b style="text-transform: uppercase;">{{recipient_.contact_firstname}} {{recipient_.contact_lastname}}</b>
                                                    <br/>
                                                    <br/>
                                                    Address: <b style="text-transform: uppercase;">{{address_recipient}}</b>
                                                    <br/>
                                                    <br/>
                                                    Phone: <b>{{recipient_.contact_phone}}</b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td v-if="!isCsChecked" style="">
                                                    <div style="display: inline-block;">
                                                        <input style="display: inline-block;" type="checkbox"> 
                                                    </div>
                                                    <span style="display: inline-block;">COMMERCIAL SAMPLES</span>
                                                    
                                                </td>
                                                <td v-else style="">
                                                    <div style="display: inline-block;">
                                                        <input style="display: inline-block;" type="checkbox" checked> 
                                                    </div>
                                                    <span style="display: inline-block;">COMMERCIAL SAMPLES</span>
                                                    
                                                </td>
                                                <td v-if="!isGiChecked" style="">
                                                    <div style="display: inline-block;">
                                                        <input style="display: inline-block;" type="checkbox"> 
                                                    </div>
                                                    <span style="display: inline-block;">GIFTS</span>
                                                </td>
                                                <td v-else style="">
                                                    <div style="display: inline-block;">
                                                        <input style="display: inline-block;"  type="checkbox" checked> 
                                                    </div>
                                                    <span style="display: inline-block;">GIFTS</span>
                                                </td>
                                                <td v-if="!isMeChecked" style="">
                                                    <div style="display: inline-block;">
                                                    <input style="display: inline-block;" type="checkbox"> 
                                                    </div>
                                                    <span style="display: inline-block;">MERCHANDISES</span>
                                                </td>
                                                <td v-else style="">
                                                    <div style="display: inline-block;">
                                                        <input  style="display: inline-block;" type="checkbox" checked> 
                                                    </div>
                                                    <span style="display: inline-block;">MERCHANDISES</span>
                                                </td>
                                                <td v-if="!isOtherChecked" style="">
                                                    <div style="display: inline-block;">
                                                        <input style="display: inline-block;" type="checkbox"> 
                                                    </div>
                                                    <span style="display: inline-block;">OTHER</span>
                                                </td>
                                                <td v-else style="">
                                                    <div style="display: inline-block;">
                                                        <input style="display: inline-block;" type="checkbox" checked> 
                                                    </div>
                                                    <span style="display: inline-block;">OTHER</span>
                                                </td>
                                                <td colspan="2">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="6"><b>Package information/Thông tin kiện hàng</b></td>
                                            </tr>
                                            <tr>
                                                <td colspan="" style=" text-align: right; ">
                                                    <b> No. of package:</b> 
                                                </td>
                                                <td>
                                                    <span class="tb-border-padding-10">{{packageCount}}</span> Box
                                                </td>
                                                <td style=" text-align: right; ">
                                                    <b>Actual Weight: </b>
                                                </td>
                                                <td>
                                                    <span class="tb-border-padding-10">{{packages[key_].w}}</span> Lbs
                                                </td>
                                                <td colspan="" style=" text-align: right; ">
                                                    <b>Dimension:</b>
                                                </td>
                                                <td>
                                                    <span class="tb-border-padding-10">{{packages[key_].dD}} x {{packages[key_].dW}} x {{packages[key_].dH}} </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="6" style="text-align: center;">
                                                    <svg :id="'barcode_thermal_'+(key_+1)"></svg>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row text-center">
                            <button tabindex="-1" type="button" style="background-color: rgb(230, 126, 34); border-color: rgb(230, 126, 34); color: white;" class="wizard-btn" @click="printA4(key_+1)">PRINT Master - {{key_+1}}</button>
                        </div>
                        <div class="print_wrapper print-a4" :id="'printMeA4_'+(key_+1)">
                            <div class="printme_content">
                                <div class="table-responsive" style="width: 100%;height:100%;padding: 30px;">
                                    <table class="table table-none-bordered">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <img style="width:200px" src="/assets/layouts/layout4/img/logo-light.png" alt="logo" class="">
                                                </th>
                                                <th colspan="2" style="text-align: right !important;">
                                                    14936 Dillor St <br/>
                                                    Westminster. CA 92683 <br/>
                                                    Tel: 714 790 9999
                                                </th>   
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td></td>
                                                <td class="tb-right">Date</td>
                                                <td class="tb-center tb-border" style="border: 1px solid #333;"><b>{{new Date().getMonth() }}/{{new Date().getDate() }}/{{new Date().getFullYear() }}</b></td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td class="tb-right">Tracking Number</td>
                                                <td class="tb-center tb-border" style="border: 1px solid #333;"><b>{{shipment_code}}</b></td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td class="tb-right">Service Type</td>
                                                <td class="tb-center tb-border" style="border: 1px solid #333;"><b>{{shipment_info}}</b></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="table table-none-bordered">
                                        <tbody>
                                            <tr>
                                                <td class="tb-title-sender" colspan="3"><b style="background-color: #333;color: #fff;padding: 10px 40px 10px 10px;-webkit-print-color-adjust: exact;">Sender/Người Gửi</b></td>
                                                <td class="tb-title-consignee" colspan="3"><b style="background-color: #333;color: #fff;padding: 10px 40px 10px 10px;-webkit-print-color-adjust: exact;">Consignee/Người Nhận</b></td>
                                            </tr>
                                            <tr style=" border: 2px solid #333 !important; ">
                                                <td class="tb-border" colspan="3" style=" border: 2px solid #333 !important; ">
                                                    Name: <b style="text-transform: uppercase;">{{sender_.contact_firstname}} {{sender_.contact_lastname}}</b>
                                                    <br/>
                                                    <br/>
                                                    Address: <b style="text-transform: uppercase;">{{address_sender}}</b>
                                                    <br/>
                                                    <br/>
                                                    Phone: <b>{{sender_.contact_phone}}</b>
                                                </td>
                                                <td class="tb-border" colspan="3" style=" border: 2px solid #333 !important; ">
                                                    Name: <b style="text-transform: uppercase;">{{recipient_.contact_firstname}} {{recipient_.contact_lastname}}</b>
                                                    <br/>
                                                    <br/>
                                                    Address: <b style="text-transform: uppercase;">{{address_recipient}}</b>
                                                    <br/>
                                                    <br/>
                                                    Phone: <b>{{recipient_.contact_phone}}</b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td v-if="!isCsChecked" style="">
                                                    <div style="display: inline-block;">
                                                        <input style="display: inline-block;" type="checkbox"> 
                                                    </div>
                                                    <span style="display: inline-block;">COMMERCIAL SAMPLES</span>
                                                    
                                                </td>
                                                <td v-else style="">
                                                    <div style="display: inline-block;">
                                                        <input style="display: inline-block;" type="checkbox" checked> 
                                                    </div>
                                                    <span style="display: inline-block;">COMMERCIAL SAMPLES</span>
                                                    
                                                </td>
                                                <td v-if="!isGiChecked" style="">
                                                    <div style="display: inline-block;">
                                                        <input style="display: inline-block;" type="checkbox"> 
                                                    </div>
                                                    <span style="display: inline-block;">GIFTS</span>
                                                </td>
                                                <td v-else style="">
                                                    <div style="display: inline-block;">
                                                        <input style="display: inline-block;"  type="checkbox" checked> 
                                                    </div>
                                                    <span style="display: inline-block;">GIFTS</span>
                                                </td>
                                                <td v-if="!isMeChecked" style="">
                                                    <div style="display: inline-block;">
                                                    <input style="display: inline-block;" type="checkbox"> 
                                                    </div>
                                                    <span style="display: inline-block;">MERCHANDISES</span>
                                                </td>
                                                <td v-else style="">
                                                    <div style="display: inline-block;">
                                                        <input  style="display: inline-block;" type="checkbox" checked> 
                                                    </div>
                                                    <span style="display: inline-block;">MERCHANDISES</span>
                                                </td>
                                                <td v-if="!isOtherChecked" style="">
                                                    <div style="display: inline-block;">
                                                        <input style="display: inline-block;" type="checkbox"> 
                                                    </div>
                                                    <span style="display: inline-block;">OTHER</span>
                                                </td>
                                                <td v-else style="">
                                                    <div style="display: inline-block;">
                                                        <input style="display: inline-block;" type="checkbox" checked> 
                                                    </div>
                                                    <span style="display: inline-block;">OTHER</span>
                                                </td>
                                                <td colspan="2">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="6"><b>Package information/Thông tin kiện hàng</b></td>
                                            </tr>
                                            <tr>
                                                <td style=" text-align: right; ">
                                                    <b> No. of package: </b>
                                                </td>
                                                <td>
                                                    <span class="tb-border-padding-10">{{packageCount}}</span> Box
                                                </td>
                                                <td style=" text-align: right; ">
                                                    <b> Actual Weight: </b>
                                                </td>
                                                <td>
                                                    <span class="tb-border-padding-10">{{packages[key_].w}}</span> Lbs
                                                </td>
                                                <td style=" text-align: right; ">
                                                    <b> Dimension:</b>
                                                </td>
                                                <td>
                                                    <span class="tb-border-padding-10">{{packages[key_].dD}} x {{packages[key_].dW}} x {{packages[key_].dH}}</span>
                                                </td>
                                            </tr>
                                            <!-- 
                                            <tr >
                                                <td colspan="3"><b>Package:</b></td>
                                                <td colspan="3">{{(key_+1)}}</td>
                                            </tr> -->
                                            <tr>
                                                <td colspan="6" style="text-align: center;">
                                                <svg :id="'barcode_'+(key_+1)"></svg>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <p><b>Commodity/Nội dung hàng hoá</b></p>
                                    <table class="table tb-border">
                                        <!-- <thead>
                                            <tr role="row" class="heading">
                                                <th style=" border: 1px solid rgb(51, 51, 51) !important; ">Commodity Name</th>
                                                <th style=" border: 1px solid rgb(51, 51, 51) !important; ">Amount</th>
                                            </tr>
                                        </thead> -->
                                        <tbody style="border: 1px solid rgb(51, 51, 51) !important;">
                                            <tr style="border: 0 !important;" v-for="(commodity, key) in commodities">
                                                <td style="border: 0 !important;">{{commodities[key].commo_name}}</td>
                                                <td style="border: 0 !important;">
                                                    {{commodities[key].commo_amount}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="table table-none-bordered">
                                        <tbody>
                                            <tr>
                                                <td width="30%">
                                                    <b>Payment method</b>
                                                </td>
                                                <td width="40%">
                                                <!--
                                                    <label v-if="paymentPaids.paymentPaidType" class="label-readonly">
                                                        <span>UnPaid</span> - 
                                                        <span v-if="paymentPaids.paymentPaidItem == 1">Sender</span>
                                                        <span v-if="paymentPaids.paymentPaidItem == 2">Recipient</span>
                                                        -
                                                        <span v-if="paymentPaids.paymentPaidType == 1">Cash</span>
                                                        <span v-if="paymentPaids.paymentPaidType == 2">Credit</span>
                                                        <span v-if="paymentPaids.paymentPaidType == 3">Check</span>
                                                    </label>
                                                    <label v-else class="label-readonly">
                                                        <span>Paid</span> -
                                                        <span v-if="paymentPaids.paymentPaidItem == 1">Cash</span>
                                                        <span v-if="paymentPaids.paymentPaidItem == 2">Credit</span>
                                                        <span v-if="paymentPaids.paymentPaidItem == 3">Check</span>
                                                    </label>
                                                    -->
                                                    <label class="label-readonly">
                                                        <span v-if="paymentPaids.paymentIn == 1">Payment In US</span>
                                                        <span v-if="paymentPaids.paymentIn == 2">Payment In Việt Nam</span>
                                                        <span> - </span>
                                                        <span v-if="paymentPaids.paymentInType == 1">Cash</span>
                                                        <span v-if="paymentPaids.paymentInType == 2">Credit</span>
                                                        <span v-if="paymentPaids.paymentInType == 3">Check</span>
                                                    </label>
                                                </td>
                                                <td><b>Chargeable weight</b></td>
                                                <td>{{packages[key_].w}}</td>
                                                <td>Lbs</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <b>Note/Ghi Chú</b>
                                                </td>
                                                <td></td>
                                                <td><b>Shipping Rate</b></td>
                                                <td>{{shipmentRate.shippingRate}}</td>
                                                <td>Usd</td>
                                            </tr>
                                            <tr v-if="shipmentRate.customer_discount_rate">
                                                <td></td>
                                                <td></td>
                                                <td><b>Customer Discount Rate</b></td>
                                                <td>{{shipmentRate.customer_discount_rate}}</td>
                                                <td>Usd</td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td><b>Package Rate</b></td>
                                                <td>{{shipmentRate.packagePrice}}</td>
                                                <td>Usd</td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td><b>UPS Fee</b></td>
                                                <td>{{shipmentRate.upsFee}}</td>
                                                <td>Usd</td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td><b>Insurance</b></td>
                                                <td>{{shipmentRate.insurancePrice}}</td>
                                                <td>Usd</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <b>Sender's signature/Chữ ký người gửi</b>
                                                </td>
                                                <td></td>
                                                <td><b>Other Charge</b></td>
                                                <td>{{shipmentRate.otherCharge}}</td>
                                                <td>Usd</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <b>Employee/Nhân Viên</b>
                                                </td>
                                                <td>{{ user_fullname }}</td>
                                                <td><b>TOTAL</b></td>
                                                <td>{{shipmentRate.totalRate}}</td>
                                                <td>Usd</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <p style="text-align: center;font-size:12px"><i>I have read understand, and agree all information above is correct/Tôi đã đọc, hiểu và đồng ý với thông tin bên trên là đúng!</i></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row text-center">
                            <button tabindex="-1" type="button" style="background-color: rgb(230, 126, 34); border-color: rgb(230, 126, 34); color: white;" class="wizard-btn" @click="printA4Attached(key_+1)">PRINT Attached - {{key_+1}}</button>
                        </div>
                        <div class="print_wrapper" :id="'printMeA4Attached_'+(key_+1)">
                            <div class="printme_content">
                                <div class="table-responsive" style="width: 100%;height:100%;padding: 30px;">
                                    <table class="table table-none-bordered">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <img style="width:200px" src="/assets/layouts/layout4/img/logo-light.png" alt="logo" class="">
                                                </th>
                                                <th colspan="2" style="text-align: right !important;">
                                                    14936 Dillor St <br/>
                                                    Westminster. CA 92683 <br/>
                                                    Tel: 714 790 9999
                                                </th>   
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td></td>
                                                <td class="tb-right"><b>Date</b></td>
                                                <td class="tb-center tb-border" style=" border: 1px solid #333 !important; "><b>{{new Date().getMonth() }}/{{new Date().getDate() }}/{{new Date().getFullYear() }}</b></td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td class="tb-right"><b>Tracking Number</b></td>
                                                <td class="tb-center tb-border" style=" border: 1px solid #333 !important; "><b>{{shipment_code}}</b></td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td class="tb-right"><b>Service Type</b></td>
                                                <td class="tb-center tb-border" style=" border: 1px solid #333 !important; "><b>{{shipment_info}}</b></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="table table-none-bordered">
                                        <tbody>
                                        <tr>
                                                <td class="tb-title-sender" colspan="3"><b style="background-color: #333;color: #fff;padding: 10px 40px 10px 10px;-webkit-print-color-adjust: exact;">Sender/Người Gửi</b></td>
                                                <td class="tb-title-consignee" colspan="3"><b style="background-color: #333;color: #fff;padding: 10px 40px 10px 10px;-webkit-print-color-adjust: exact;">Consignee/Người Nhận</b></td>
                                            </tr>
                                            <tr style=" border: 2px solid #333 !important; ">
                                                <td colspan="3" class="tb-border" style=" border: 2px solid #333 !important; ">
                                                    Name: <b style="text-transform: uppercase;">{{sender_.contact_firstname}} {{sender_.contact_lastname}}</b>
                                                    <br/>
                                                    <br/>
                                                    Address: <b style="text-transform: uppercase;">{{address_sender}}</b>
                                                    <br/>
                                                    <br/>
                                                    Phone: <b>{{sender_.contact_phone}}</b>
                                                </td>
                                                <td colspan="3" class="tb-border" style=" border: 2px solid #333 !important; ">
                                                    Name: <b style="text-transform: uppercase;">{{recipient_.contact_firstname}} {{recipient_.contact_lastname}}</b>
                                                    <br/>
                                                    <br/>
                                                    Address: <b style="text-transform: uppercase;">{{address_recipient}}</b>
                                                    <br/>
                                                    <br/>
                                                    Phone: <b>{{recipient_.contact_phone}}</b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td v-if="!isCsChecked" style="">
                                                    <div style="display: inline-block;">
                                                        <input style="display: inline-block;" type="checkbox"> 
                                                    </div>
                                                    <span style="display: inline-block;">COMMERCIAL SAMPLES</span>
                                                    
                                                </td>
                                                <td v-else style="">
                                                    <div style="display: inline-block;">
                                                        <input style="display: inline-block;" type="checkbox" checked> 
                                                    </div>
                                                    <span style="display: inline-block;">COMMERCIAL SAMPLES</span>
                                                    
                                                </td>
                                                <td v-if="!isGiChecked" style="">
                                                    <div style="display: inline-block;">
                                                        <input style="display: inline-block;" type="checkbox"> 
                                                    </div>
                                                    <span style="display: inline-block;">GIFTS</span>
                                                </td>
                                                <td v-else style="">
                                                    <div style="display: inline-block;">
                                                        <input style="display: inline-block;"  type="checkbox" checked> 
                                                    </div>
                                                    <span style="display: inline-block;">GIFTS</span>
                                                </td>
                                                <td v-if="!isMeChecked" style="">
                                                    <div style="display: inline-block;">
                                                    <input style="display: inline-block;" type="checkbox"> 
                                                    </div>
                                                    <span style="display: inline-block;">MERCHANDISES</span>
                                                </td>
                                                <td v-else style="">
                                                    <div style="display: inline-block;">
                                                        <input  style="display: inline-block;" type="checkbox" checked> 
                                                    </div>
                                                    <span style="display: inline-block;">MERCHANDISES</span>
                                                </td>
                                                <td v-if="!isOtherChecked" style="">
                                                    <div style="display: inline-block;">
                                                        <input style="display: inline-block;" type="checkbox"> 
                                                    </div>
                                                    <span style="display: inline-block;">OTHER</span>
                                                </td>
                                                <td v-else style="">
                                                    <div style="display: inline-block;">
                                                        <input style="display: inline-block;" type="checkbox" checked> 
                                                    </div>
                                                    <span style="display: inline-block;">OTHER</span>
                                                </td>
                                                <td colspan="2">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="6"><b>Package information/Thông tin kiện hàng</b></td>
                                            </tr>
                                            <tr>
                                                <td style=" text-align: right; ">
                                                    <b> No. of package: </b>
                                                </td>
                                                <td>
                                                    <span class="tb-border-padding-10">{{packageCount}}</span> <b>Box</b>
                                                </td>
                                                <td style=" text-align: right; ">
                                                    <b> Actual Weight: </b>
                                                </td>
                                                <td>
                                                    <span class="tb-border-padding-10">{{packages[key_].w}}</span> <b>Lbs</b>
                                                </td>
                                                <td style=" text-align: right; ">
                                                    <b> Dimension:</b>
                                                </td>
                                                <td>
                                                    <span class="tb-border-padding-10">{{packages[key_].dD}} x {{packages[key_].dW}} x {{packages[key_].dH}}</span>
                                                </td>
                                            </tr>
                                            <!--
                                            <tr class="tb-border">
                                                <td colspan="3"><b>Package:</b></td>
                                                <td colspan="3">{{(key_+1)}}</td>
                                            </tr>
                                            -->
                                            <tr>
                                                <td colspan="6" style="text-align: center;">
                                                    <svg :id="'barcode_'+(key_+1)"></svg>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <p><b>Commodity/Nội dung hàng hoá</b></p>
                                    <!-- <table class="table table-bordered">
                                        <thead>
                                            <tr role="row" class="heading">
                                                <th>{{packages[key_].commodityName}}</th>
                                            </tr>
                                        </thead>
                                    </table> -->
                                    <table class="table tb-border tb-noidung">
                                        <!-- <thead>
                                            <tr role="row" class="heading">
                                                <th>Commodity Name</th>
                                            </tr>
                                        </thead> -->
                                        <tbody style="border: 1px solid rgb(51, 51, 51) !important;">
                                            <tr style="border: 0 !important;" v-for="(commodity, key) in commodities">
                                                <td style="border: 0 !important;">{{commodities[key].commo_name}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                    </div>
                </div>
                </div>
                <!-- END PRINT -->
                </div>
            </div>
        </div>
    </div>
</div>

</template>
<script>
import VueHtmlToPaper from '../vue-html-to-paper.js';
    var options = {
        name: '_blank',
            specs: [
            'fullscreen=no',
            'titlebar=no',
            'scrollbars=no'
            ],
        styles: [
            'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css',
            'https://unpkg.com/kidlat-css/css/kidlat.css',
            'https://app.texpress.net/css/app.css'
        ]
    };
    Vue.use(VueHtmlToPaper, options);
    export default{
        props: {
        },
        data: function () {
            return {
                showError: false,
                errors: '',
                role_id: AppData.role_id,
                user_fullname: AppData.fullname,
                isSending: false,
                isLoadType: false,
                sender_:{},
                recipient_:{},
                packageCount:0,
                shipment_code:{},
                packages:[{commodityName:'', w:0, dD:0, dW:0, dH:0}],
                sku: '150010',
                shipment_info:'',
                commodities:[],
                shipment_detail:{},
                paymentPaids:{paymentPaid:0, paymentPaidItem:0, paymentPaidType:0, paymentIn:1, paymentInType:1},
                shipmentRate:{packagePrice:0, otherCharge:0, shippingRate:0, packageSurchargePrice:0, insurancePrice:0,upsFee:0, totalRate:0, customer_discount_rate:0},
                isCsChecked:false,
                isGiChecked:true,
                isMeChecked:false,
                isOtherChecked:false,
            }
        },
        components: {

        },
        computed: {
            address_sender: function(){
                if(this.sender_.contact_address) {
                    return this.sender_.contact_address+' - '+this.sender_.contact_zipcode_name + ',' + this.sender_.country_name;
                }
            },
            address_recipient: function(){
                if(this.recipient_.contact_address){
                    return this.recipient_.contact_address+' - '+this.recipient_.district_name+' - '+this.recipient_.city_name + ',' + this.recipient_.country_name;
                }
            },
        },
        created: function () {
            var _self = this;
            eventHub.$on("PRINT_SENDER",  function (sender_) {
                _self.sender_    = sender_;
            });
            eventHub.$on("PRINT_PACKAGES",  function (packages, commodities) {
                _self.packages    = packages;
                _self.commodities    = commodities;
            });
            eventHub.$on("PRINT_RECIPIENT",  function (recipient_) {
                _self.recipient_  = recipient_;
            });
            eventHub.$on("PRINT_SHIPMENT_INFO",  function (shipment_info) {
                _self.shipment_info    = shipment_info;
            });
            
            eventHub.$on("PRINT_SHIPMENT_CODE",  function (code, packageCount) {
                console.log('PRINT_SHIPMENT_CODE ---'+packageCount);
                _self.shipment_code    = code;
                _self.packageCount = packageCount;
                if(packageCount == 2){
                    JsBarcode("#barcode_1", (_self.shipment_code),{
                        lineColor: '#000',
                        height: 100,    
                        displayValue: false
                    });
                    JsBarcode("#barcode_thermal_1", (_self.shipment_code),{
                        lineColor: '#000',
                        height: 50,    
                        displayValue: false
                    });
                } else {
                var i;
                    for (i = 1; i < packageCount; i++) {
                        JsBarcode("#barcode_"+i, (_self.shipment_code+'-'+i),{
                            lineColor: '#000',
                            height: 100,
                            displayValue: false
                        });
                        JsBarcode("#barcode_thermal_"+i, (_self.shipment_code+'-'+i),{
                            lineColor: '#000',
                            height: 50,
                            displayValue: false
                        });
                    }
                }
            });
            eventHub.$on("PRINT_SHIPMENT_PAYMENT",  function (paymentPaids) {
                _self.paymentPaids = paymentPaids;
            });
            eventHub.$on("PRINT_SHIPMENT_RATE",  function (shipmentRate) {
                _self.shipmentRate = shipmentRate;
            });
            console.log('shipmentinfo_form created');
        },
        beforeMount: function () {
            console.log('shipmentinfo_form beforeMount');
        },
        mounted: function () {
            console.log('bar code mounted');
        },
        updated: function () {
            console.log('shipmentinfo_form updated');
        },
        beforeDestroy: function () {
            console.log('shipmentinfo_form beforeDestroy');
        },
        methods: {
            print(key) {
                const options_label = {
                    name: '_blank',
                        specs: [
                        'fullscreen=no',
                        'titlebar=no',
                        'scrollbars=no'
                        ],
                    styles: [
                        'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css',
                        'https://unpkg.com/kidlat-css/css/kidlat.css',
                        'https://app.texpress.net/css/landscape.css',
                        'https://app.texpress.net/css/app.css'
                    ]
                };
                this.$htmlToPaper('printMe_'+key, options_label, () => {
                    console.warn('done landscape');
                });
            },

            printA4(key) {
                const options_label = {
                    name: '_blank',
                        specs: [
                        'fullscreen=no',
                        'titlebar=no',
                        'scrollbars=no'
                        ],
                    styles: [
                        'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css',
                        'https://unpkg.com/kidlat-css/css/kidlat.css',
                        'https://app.texpress.net/css/app.css'
                    ]
                };

                this.$htmlToPaper('printMeA4_'+key, options_label, () => {
                    console.warn('done printA4');
                });
            },
            printA4Attached(key) {
                const options_label = {
                        name: '_blank',
                            specs: [
                            'titlebar=no',
                            'scrollbars=no'
                            ],
                        styles: [
                            'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css',
                            'https://unpkg.com/kidlat-css/css/kidlat.css',
                            'https://app.texpress.net/css/app.css'
                        ]
                    };
                this.$htmlToPaper('printMeA4Attached_'+key, options_label, () => {
                    console.warn('done printA4Attached');
                });
            },
            printAll() {
                var i;
                const options_label = {
                        name: '_blank',
                            specs: [
                            'fullscreen=no',
                            'titlebar=no',
                            'scrollbars=no'
                            ],
                        styles: [
                            'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css',
                            'https://unpkg.com/kidlat-css/css/kidlat.css',
                            'https://app.texpress.net/css/landscape.css',
                            'https://app.texpress.net/css/app.css'
                        ]
                    };
                const options_label_2 = {
                        name: '_blank',
                            specs: [
                            'titlebar=no',
                            'scrollbars=no'
                            ],
                        styles: [
                            'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css',
                            'https://unpkg.com/kidlat-css/css/kidlat.css',
                            'https://app.texpress.net/css/app.css'
                        ]
                    }
                for (i = 1; i < this.packageCount; i++) {
                    this.$htmlToPaper('printMe_'+i, options_label, () => {
                        console.warn('done landscape');
                    });
                    this.$htmlToPaper('printMeA4_'+i, options_label_2, () => {
                        console.warn('done printMeA4_');
                    });
                    this.$htmlToPaper('printMeA4Attached_'+i, options_label_2, () => {
                        console.warn('done printMeA4Attached_');
                    });
                }
            },
            check: function(e){
                var _self = this;
                if (e.target.checked) {
                    _self.isCsChecked = true;
                } else {
                _self.isCsChecked = false;
                }
            },
            check2: function(e){
                var _self = this;
                if (e.target.checked) {
                    _self.isGiChecked = true;
                } else {
                    _self.isGiChecked = false;
                }
            },
            check3: function(e){
                var _self = this;
                if (e.target.checked) {
                    _self.isMeChecked = true;
                } else {
                _self.isMeChecked = false;
                }
            },
            check4: function(e){
                var _self = this;
                if (e.target.checked) {
                    _self.isOtherChecked = true;
                } else {
                _self.isOtherChecked = false;
                }
            }
        }
    }
</script>
