<template>
<div class="portlet light bordered" id="list-recipient-block">
<div class="portlet-title">
</div>
<div class="portlet-body">
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
            <form-wizard @on-complete="onComplete" :start-index="0" color="#e67e22">
                <tab-content title="Recipient Infomation" icon="ti-user" :before-change="beforeTabShipmentInfo">
                    <sender></sender>
                </tab-content>
                <tab-content title="Commodities" icon="ti-package" :before-change="beforeTabSwitch">
                    <create-package></create-package>
                </tab-content>
                <tab-content title="Fee&Payment" icon="ti-money" :before-change="beforeTabPrint">
                    <create-payment></create-payment>
                </tab-content>
                <tab-content title="Print" icon="ti-printer">
                    <create-print></create-print>
                </tab-content>
                <template slot="footer" slot-scope="props">
                <div class="wizard-footer-left">
                    <wizard-button v-if="props.activeTabIndex > 0 && !props.isLastStep" @click.native="props.prevTab()" :style="props.fillButtonStyle">Previous</wizard-button>
                    </div>
                    <div class="wizard-footer-right">
                    <wizard-button v-if="!props.isLastStep" @click.native="props.nextTab()" class="wizard-footer-right" :style="props.fillButtonStyle">Next</wizard-button>

                    <wizard-button v-else @click.native="onComplete" class="wizard-footer-right finish-button" :style="props.fillButtonStyle">{{props.isLastStep ? 'Exit' : 'Next'}}</wizard-button>
                    </div>
                </template>
            </form-wizard>
            </div>
        </div>
    </div>
</div>
</div>
</template>
<style scoped>
    .actions {
        margin-right: 10px;
    }
</style>
<script>
    // Vue.use(VueFormWizard)
    import sender from './Sender.vue'
    import createPackage from './CreatePackage.vue'
    import createPayment from './CreatePayment.vue'
    import createPrint from './CreatePrint.vue'
    import FormWizard from '../form-wizard'
    export default{
        data: function () {
            return {
                customer: {},
                sender_: {},
                recipient: {},
                packages:{},
                commodities:{},
                shipment_info:{},
                serviceType:{id:0, item:0},
                shipmentRate:{packagePrice:0, otherCharge:0, shippingRate:0, packageSurchargePrice:0, insurancePrice:0,upsFee:0, totalRate:0, customer_discount_rate:0},
                paymentPaids:{paymentPaid:0, paymentPaidItem:0, paymentPaidType:0, paymentIn:1, paymentInType:1},
                stepOne: 0,
                stepTwo: 0,
                step3: 0,
                step4:0,
                shipmentSave:0,
            }
        },
        props: {

        },
        components: {
            sender, createPackage, createPayment, createPrint
        },
        mounted: function () {
            $(document).ready(function(){
                $('[data-toggle="popover"]').popover();
                $('#rootwizard').bootstrapWizard();
            });
            var _self = this;
            // get sender & recipient
            eventHub.$on("SHIPMENT_SENDER",  function (sender) {
                _self.sender_ = sender;
            });
            eventHub.$on("SHIPMENT_RECIPIENT",  function (recipient) {
                console.log('event SHIPMENT_RECIPIENT--'+recipient);
                _self.recipient = recipient;
                // $('.wizard-footer-right').trigger('click');
                _self.stepOne = 1;
            });
            eventHub.$on("SHIPMENT_CUSTOMER",  function (customer) {
                _self.customer = customer;
            });
            // get shipment info
            eventHub.$on("SHIPMENT_INFO",  function (serviceType, serviceTypeItem) {
                console.log('event SHIPMENT_INFO--'+serviceTypeItem);
                _self.serviceType.id    = serviceType;
                _self.serviceType.item  = serviceTypeItem;
                _self.stepTwo = 1;
                //$('.wizard-footer-right').trigger('click');
            });
            // get package and commo
            eventHub.$on("SHIPMENT_PACKAGES",  function (packages) {
                _self.packages = packages;
            });
            eventHub.$on("SHIPMENT_COMMO",  function (commodities) {
                _self.commodities = commodities;
                _self.step3 = 1;
            });
            // get rate
            eventHub.$on("PAYMENT_SERVICE_RATE", function (packagePrice, otherCharge, shippingRate, packageSurchargePrice, insurancePrice, upsFee, totalRate, customer_discount_rate) {
                _self.shipmentRate.packagePrice = packagePrice;
                _self.shipmentRate.otherCharge = otherCharge;
                _self.shipmentRate.shippingRate = shippingRate;
                _self.shipmentRate.packageSurchargePrice = packageSurchargePrice;
                _self.shipmentRate.insurancePrice = insurancePrice;
                _self.shipmentRate.totalRate = totalRate;
                _self.shipmentRate.upsFee = upsFee;
                _self.shipmentRate.customer_discount_rate = customer_discount_rate;
            });
            // get paid
            eventHub.$on("SHIPMENT_PAID_paymentPaid",  function (paymentPaid) {
                _self.paymentPaids.paymentPaid    = paymentPaid;
            });
            eventHub.$on("SHIPMENT_PAID_paymentPaidItem",  function (paymentPaidItem) {
                _self.paymentPaids.paymentPaidItem  = paymentPaidItem;
                _self.step4 = 1;
            });
            eventHub.$on("SHIPMENT_PaymentIn",  function (paymentIn) {
                _self.paymentPaids.paymentIn        = paymentIn;
                _self.step4 = 1;
            });
            eventHub.$on("SHIPMENT_PaymentInType",  function (paymentInType) {
                _self.paymentPaids.paymentInType    = paymentInType;
                //_self.step4 = 1;
            });
        },
        watch: {
        },
        computed: {

        },
        created: function(){
            console.log('create shpmment created');
        },
        updated: function () {
            console.log('create shpmment updated');
        },
        methods: {
            onComplete(){
                alert('Are you sure exit!');
                window.location.href = AppData.baseUrl+"/shipments";
            },
            beforeTabPrint: function(){
                var _self = this;
                //if(_self.step4){
                    _self.isSending = true;
                    if(!_self.shipmentSave){
                        // create shipmment
                        this.$http.post('/api/shipments', {sender:_self.sender_, recipient: _self.recipient, packages:_self.packages, commodities:_self.commodities, serviceType:_self.serviceType, shipmentRate:_self.shipmentRate, paymentPaids:_self.paymentPaids}).then((response) => {
                            _self.isSending = false;
                            showToast('Created shipments successfully', 'Shipments information has been created', 'success');
                            var shipmentcode = response.data.data.shipment_code;
                            var packageCount = response.data.data.packageCount;
                            _self.shipmentSave = 1;
                            eventHub.$emit("PRINT_SHIPMENT_CODE", shipmentcode, packageCount);
                            eventHub.$emit("PRINT_SHIPMENT_PAYMENT", _self.paymentPaids);
                            eventHub.$emit("PRINT_SHIPMENT_RATE", _self.shipmentRate);
                        }, (error) => {
                            _self.isSending = false;
                            if (error.data && error.data.data) {
                                _self.errors = error.data.data;
                            }
                            showToast('Created Sender failed', 'Sender information has not been created', 'error');
                        });
                    } else {
                        // udpate shipments
                        
                    }
                    return true;
                /*} else {
                    alert('Please select full shipment info!');
                    return false;
                }*/
            },
            senderSelect: function(sender) {
                this.sender = sender;
                showToast('User', 'Sender selected', 'info');
            },
            recipientSelect: function(recipient) {
                this.recipient = recipient;
                showToast('User', 'Reciept selected', 'info');
            },
            beforeTabSwitch: function(){
                var _self = this;
                eventHub.$emit("STEP_PACKAGE", 1);
                if(_self.packages[0].w){
                    return true;
                } else {
                    alert('Please select full shipment info!');
                    return false;
                }
            },
            beforePackageStep: function(){
            },
            beforeTabShipmentInfo: function(){
                var _self = this;
                eventHub.$emit("STEP_SHIPMENT_INFO", 1);
                if(_self.stepOne && _self.stepTwo) {
                    return true;
                } else {
                    alert('Please select sender and recipient and shipment information!');
                    return false;
                }
            }
        }
    }
</script>