<template>
<div>
    <!-- Start Fee-->
    <div class="col-md-6">
        <div class="portlet light bordered col-md-12 padding-15">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase"> Fee </span>
                </div>
                <div class="actions">
                    <div class="btn-group btn-group-devided">
                    </div>
                </div>
            </div>
            <div class="portlet-body form">
                <form role="form" lpformnum="1" style="width: 100%;">
                    <div class="form-group col-md-12">
                        <label class="col-md-6"><b>Shipping Rate($)</b></label>
                        <label class="col-md-6"><input class="form-control" type='text' v-model="use_rate"></label>
                    </div>
                    <div class="form-group col-md-12" v-if="shippingRate.customer_discount_rate">
                        <label class="col-md-6"><b>Customer Discount Rate</b></label>
                        <label class="col-md-6">{{shippingRate.customer_discount_rate}} $</label>
                    </div>
                    <div class="form-group col-md-12 ">
                        <label class="col-md-6"><b>Package Rate</b></label>
                        <label class="col-md-6">{{packagePrice.price}} $</label>
                    </div>
                    <div class="form-group col-md-12 ">
                        <label class="col-md-6"><b>Package Surcharge</b></label>
                        <label class="col-md-6">{{packageSurchargePrice.price}} $</label>
                    </div>
                    <div class="form-group col-md-12 ">
                        <label class="col-md-6"><b>Insurance Package?</b></label>
                        <div class="col-md-6">
                        <input type="checkbox" :value="1" :id="1" @click="check($event)">
                        </div>
                    </div>
                    <div v-if="isChecked" class="form-group col-md-12">
                        <label style="padding-left:25px" class="col-md-6"><b>Insurance Rate</b></label>
                        <label style="padding-left:25px" class="col-md-6">{{insurancePrice}} $</label>
                    </div>
                    <div class="form-group col-md-12 ">
                        <label class="col-md-6 shipment-label"><b>UPS Fee($)</b></label>
                        <div class="col-md-6">
                            <input class="form-control" type='text' v-model="upsFee">
                        </div>
                    </div>
                    <div class="form-group col-md-12 ">
                        <label class="col-md-6 shipment-label"><b>Other Charge($)</b></label>
                        <div class="col-md-6">
                            <input class="form-control" type='text' v-model="otherCharge.price">
                        </div>
                    </div>
                    <div class="form-group col-md-12 ">
                        <label class="col-md-6"><b style="color:red">Total Rate</b></label>
                        <label class="col-md-6"><b style="color:red">{{totalRate}} $</b></label>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--End Fee -->
    <!-- Start Payment-->
    <div class="col-md-6" style="min-height:320px;">
        <div class="portlet light bordered col-md-12 padding-15">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase"> Payment </span>
                </div>
                <div class="actions">
                    <div class="btn-group btn-group-devided">
                    </div>
                </div>
            </div>
            <div class="portlet-body form">
                <form role="form" lpformnum="1" style="width: 100%;">
                    <div class="form-group col-md-12">
                        <label class="col-md-4 shipment-label"><b>Payment in:</b></label>
                        <div class="col-md-8">
                            <select v-model="paymentIn" class="form-control" @change="onChangePaymentIn(paymentIn)">
                                <option v-for="item in paymentIns" :value="item.value">{{item.label}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="col-md-4 shipment-label"><b>Payment Type:</b></label>
                        <div class="col-md-8">
                            <select v-model="paymentInType" class="form-control" @change="onChangePaymentInType(paymentInType)">
                                <option v-for="item in unpaidPaymentTypes" :value="item.value">{{item.label}}</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--End Payment -->
</div>
</template>
<style>
.dropdown-input {
    border-radius: 0 25px 25px 0 !important;
    width: 100% !important;
}
.dropdown-content {
    z-index: 100 !important;
}
</style>
<script>
Vue.component("v-select", VueSelect.VueSelect);
export default{
    props: {

    },
    data: function () {
        return {
            showError: false,
            errors: '',
            role_id: AppData.role_id,
            isSending: false,
            isLoadType: false,
            disabled: 1,
            isChecked: false,
            packagePrice: {price:0},
            insurancePrice: 0,
            upsFee: 0,
            otherCharge: {price:0},
            shippingRate:{rate:0, discount_rate:0, customer_discount_rate:0},
            packageSurchargePrice:{price:0, totalValue:0},
            paymentType:null,
            paymentIn:1,
            showUnpaidPaymentType: false,
            paymentTypeItem:null,
            paymentInType:1,
            unpaidPaymentType:null,
            customer_type:null,
            use_rate:0,
            paymentTypes: [
            {
                label: 'Paid',
                value: 1,
                typeItems: [{
                    label: 'Cash',
                    value: 1
                },
                {
                    label: 'Credit',
                    value: 2
                },
                {
                    label: 'Check',
                    value: 3
                }]
            },
            {
                label: 'UnPaid',
                value: 2,
                typeItems: [{
                    label: 'Sender',
                    value: 1
                },
                {
                    label: 'Recipient',
                    value: 2
                }]
            }],
            unpaidPaymentTypes: [
            {
                label: 'Cash',
                value: 1
            },
            {
                label: 'Credit',
                value: 2
            },
            {
                label: 'Check',
                value: 3
            }],
            paymentIns: [
            {
                label: 'Payment In Việt Nam',
                value: 2
            },
            {
                label: 'Payment In US',
                value: 1
            }],
            customer: {},
        }
    },
    components: {

    },
    computed: {
        totalRate: function(){
            console.log('---total ---');
            //var totalRate = (parseFloat(this.packagePrice.price) + parseFloat(this.otherCharge.price) + parseFloat(this.shippingRate.rate) + parseFloat(this.packageSurchargePrice.price) + parseFloat(this.insurancePrice) +  parseFloat(this.upsFee));
            var totalRate = (parseFloat(this.packagePrice.price) + parseFloat(this.otherCharge.price) + parseFloat(this.packageSurchargePrice.price) + parseFloat(this.insurancePrice) +  parseFloat(this.upsFee) +  parseFloat(this.shippingRate.customer_discount_rate) + parseFloat(this.use_rate));
            eventHub.$emit("PAYMENT_SERVICE_RATE", this.packagePrice.price, this.otherCharge.price, this.shippingRate.rate, this.packageSurchargePrice.price, this.insurancePrice, this.upsFee, totalRate, this.shippingRate.customer_discount_rate);
            return (Math.round(totalRate * 100) / 100);
        },
        availablePaymentType() {
            return this.paymentType ? this.paymentType.typeItems : false;
        }
    },
    created: function () {
        var _self = this;
        eventHub.$on("PAYMENT_SERVICE_PRICE", this.onShippingRate);
        eventHub.$on("PAYMENT_CUSTOMERTYPE", function (customerType) {
            _self.customer_type    = customerType;
            console.log('PAYMENT_CUSTOMERTYPE ----- '+JSON.stringify(_self.customer_type));
        });
        eventHub.$on("PAYMENT_PACKGAE_PRICE", this.onPackagePrice);
        eventHub.$on("PAYMENT_PACKGAE_SURCHARGE", function (packageSurchargePrice) {
            _self.packageSurchargePrice.price = packageSurchargePrice.total_price;
            _self.packageSurchargePrice.totalValue = packageSurchargePrice.total_value;
        });
        console.log('sender_form created');
    },
    beforeMount: function () {
        console.log('sender_form beforeMount');
    },
    mounted: function () {
        console.log('sender_form mounted');
        var _self = this;
        eventHub.$on("SHIPMENT_CUSTOMER",  function (customer) {
            _self.customer = customer;
            if( _self.customer.type_customer == 1 ){
                _self.upsFee = 10;
            } else {
                _self.upsFee = 0;
            }
        });
    },
    updated: function () {
        console.log('sender_form updated');
    },
    beforeDestroy: function () {
        console.log('sender_form beforeDestroy');
    },
    methods: {
        onChangePaymentIn: function(value) {
            console.log('onChangePaymentIn -- '+value);
            eventHub.$emit("SHIPMENT_PaymentIn", value);
        },
        onChangePaymentInType: function(value) {
            console.log('SHIPMENT_PaymentInType -- '+value);
            eventHub.$emit("SHIPMENT_PaymentInType", value);
        },
        onPackagePrice: function(packagePrice) {
            console.log('shipping2 - cus - '+JSON.stringify(packagePrice));
            this.packagePrice.price = packagePrice.data.total_price;
            this.use_rate           = packagePrice.data.use_rate;
            //this.upsFee             = packagePrice.data.usp_fee;
        },
        onShippingRate: function(shippingRate_) {
            var _self = this;
            console.log('shipping1 - cus - '+JSON.stringify(shippingRate_));
            _self.shippingRate.discount_rate                    = shippingRate_.discount_rate;
            _self.shippingRate.rate                             = shippingRate_.rate;
            _self.shippingRate.customer_discount_rate           = shippingRate_.customer_discount_rate;
        },
        check: function(e) {
            if (e.target.checked) {
                console.log(e.target.value)
                var commo = this.packageSurchargePrice.totalValue;
                /**
                * Door + Station HN -> 3%, Airport + Station HCM 1%
                */

                this.insurancePrice = parseFloat(commo)*parseFloat(0.03);
                this.isChecked = true;
            } else {
                this.isChecked = false;
                this.insurancePrice = 0;
            }
        },
        runme(selected) {
            if(this.paymentType.value == 2){
                this.showUnpaidPaymentType = true;
            } else {
                this.showUnpaidPaymentType = false;
            }
            eventHub.$emit("SHIPMENT_PAID_paymentPaidItem", selected.value);
            eventHub.$emit("SHIPMENT_PAID_paymentPaid", this.paymentType);
        },
        runmePaidType(selected) {
            if(selected.value) {
                eventHub.$emit("SHIPMENT_PAID_paymentPaidType", selected.value);
            }
        }
    }
}
</script>
