<template>
<div>
    <div v-for="n in showNewModal">
        <customer-form @close="onCloseNew()" :cre_countries="cre_countries"></customer-form>
    </div>
    <div v-for="n in showNewSenderModal">
        <sender-form @close="onCloseNewSender()" :cre_countries="cre_countries" :customerProp="current_customer"></sender-form>
    </div>
    <div v-for="n in showNewRecipientModal">
        <recipient-form @close="onCloseNewRecipient()" :cre_countries="cre_countries" :customerProp="current_customer" :senderListProp="sender_list_prop"></recipient-form>
    </div>
    <div class="col-md-12">
        <div class="col-md-6" >
            <div class="portlet light bordered col-md-12 padding-15" id="customer-block">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="icon-user font-dark"></i>
                        <span class="caption-subject bold uppercase"> Customer </span>
                    </div>
                    <div class="actions">
                        <div class="btn-group btn-group-devided">
                            <button class="btn sbold green btn-circle" @click="onClickNewButton()" data-toggle="modal" href="#responsive_customer"> Add New Customer
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="portlet-body form col-md-12">
                    <form role="form" lpformnum="1">
                    <div class="form-group col-md-12">
                        <label><b>Customer Type</b></label> <br/>
                            <select class="form-control form-control-cus" v-model="type_customer" @change="getCustomers(type_customer)">
                                <option value="-1" >All</option>
                                <option value="0">Walk-In Customer</option>
                                <option value="1">Remote Customer</option>
                                <option value="2">Agent Customer</option>
                            </select>
                        </div>
                        <div class="form-group col-md-12">
                            <label><b>Customer</b></label>
                            <v-select ref="search" label="name" v-model="currentSelected" placeholder="Select Customer" :options="cus_options" :on-change="validateSelectionCustomerChange"></v-select>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Shipment info-->
        <div class="col-md-6" >
            <div class="portlet light bordered col-md-12 padding-15" id="shipment-info-block">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject bold uppercase"> Shipment Info </span>
                    </div>
                    <div class="actions">
                        <div class="btn-group btn-group-devided">
                        </div>
                    </div>

                </div>
                <div class="portlet-body form col-md-12">
                    <!--START FORM-->
                    <form role="form" lpformnum="1">
                        <div class="form-group">
                            <label><b>Service Types:</b></label>
                            <!-- <v-select :options="serviceTypes" v-model="serviceType"></v-select> -->
                            <select class="form-control form-control-cus" v-model="serviceType">
                                <option :value="type_.value" v-for="type_ in serviceTypes">{{type_.label}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label><b>Service Item:</b></label>
                            <select class="form-control form-control-cus" v-model="typeItem" v-if="serviceType" @change="change_service(serviceType, typeItem)">
                                <option v-for="(option, index) in serviceTypeItems[serviceType]" :value="option.value" :selected="index === 0 ? 'selected' : false">{{option.label}}</option>
                            </select>
                            <!-- <v-select :options="availableCities" v-model="typeItem" :on-change="runme" ></v-select> -->
                        </div>
                    </form>
                    <!-- END FORM-->
                </div>
            </div>
        </div>
        <!--End shipment info-->
    </div>
    <div class="col-md-12">
        <div class="col-md-6">
            <div class="portlet light bordered col-md-12 padding-15">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject bold uppercase"> Sender </span>
                    </div>
                    <div class="actions">
                        <button v-if="allowCreateNew" class="btn sbold green btn-circle" @click="onClickNewSenderButton()" data-toggle="modal" href="#responsive_sender"> Add New Sender
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                    <div class="actions col-md-12">
                        <v-select label="name" :options="options" :on-change="validateSelectionChange" placeholder="Select Sender" ref="fcSender" v-model="currentSenderSelected"></v-select>
                        <div class="shipment_checkbox-sender">
                            <input type="checkbox" :value="1" :id="1" @click="loadRecipientBySender($event)"> <label>Load recipient by Sender?</label>
                        </div>
                        <input type="hidden"  v-model="sender.customer_id">
                        <input type="hidden"  v-model="sender.customer_code">
                    </div>
                </div>
                <div class="portlet-body form col-md-12">
                    <form role="form" lpformnum="1">
                        <div class="form-group col-md-12">
                            <label class="col-md-4"><b>Contact Code:</b></label>
                            <label class="label-readonly col-md-8">{{sender.contact_code}}</label>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="col-md-4"><b>Fullname:</b></label>
                            <label class="label-readonly col-md-8">{{sender.contact_firstname}} {{sender.contact_lastname}}</label>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="col-md-4"><b>Phone:</b></label>
                            <label class="label-readonly col-md-8">{{sender.contact_phone}}</label>
                        </div>
                        <div class="form-group col-md-12 ">
                            <label class="col-md-4"><b>Email:</b></label>
                            <label class="label-readonly col-md-8">{{sender.contact_email}}</label>
                        </div>
                        <div class="form-group col-md-12 ">
                            <label class="col-md-4"><b>Address:</b></label>
                            <label v-if="address_sender" class="label-readonly col-md-8">{{address_sender}}</label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="portlet light bordered col-md-12 padding-15">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase"> Recipient </span>
                </div>
                <div class="actions">
                    <button v-if="allowCreateNew" class="btn sbold green btn-circle" @click="onClickNewRecipientButton()" data-toggle="modal" href="#responsive_recipient"> Add New Recipient
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
                <div class="actions col-md-12">
                    <v-select label="name" :options="re_options" :on-change="validateSelectionRecipientChange" placeholder="Select Recipient" v-model="currentRecipientSelected"></v-select>
                    <input type="hidden"  v-model="recipient.customer_id">
                    <input type="hidden"  v-model="recipient.customer_code">
                </div>
            </div>
            <div class="portlet-body form">
                <form role="form" lpformnum="1">
                    <div class="form-group col-md-12 ">
                        <label class="col-md-4"><b>Contact Code:</b></label>
                        <label class="label-readonly col-md-8">{{recipient.contact_code}}</label>
                    </div>
                    <div class="form-group col-md-12 ">
                        <label class="col-md-4"><b>Fullname:</b></label>
                        <label class="label-readonly col-md-8">{{recipient.contact_firstname}} {{recipient.contact_lastname}}</label>
                    </div>
                    <div class="form-group col-md-12 ">
                        <label class="col-md-4"><b>Phone:</b></label>
                        <label class="label-readonly col-md-8">{{recipient.contact_phone}}</label>
                    </div>
                    <div class="form-group col-md-12 ">
                        <label class="col-md-4"><b>Email:</b></label>
                        <label class="label-readonly col-md-8">{{recipient.contact_email}}</label>
                    </div>
                    <div class="form-group col-md-12 ">
                        <label class="col-md-4"><b>Address:</b></label>
                        <label v-if="address_recipient" class="label-readonly col-md-8">{{address_recipient}}</label>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>
</div>
</template>
<style>
.dropdown-input {
    border-radius: 0 25px 25px 0 !important;
    width: 100% !important;
}
.dropdown-content {
    z-index: 100 !important;
}
</style>
<script>
    import customerForm from './CustomerForm.vue';
    import senderForm from './SenderForm.vue';
    import recipientForm from './RecipientForm.vue';
    export default{
        props: {
        },
        data: function () {
            return {
                isUpdated: false,
                showError: false,
                errors: '',
                role_id: AppData.role_id,
                isSending: false,
                isLoadSender: false,
                isLoadRecipient: false,
                countries: {},
                cities: {},
                recipient: {},
                sender: {},
                customer: {},
                current_customer:{},
                disabled: 1,
                payment_zoneid: 0,
                shippingRate: {country:0},
                cus_options: [
                    { "name": 'Customer', "id": '0' , "dataCode":'ABC'}
                    ],
                options: [
                    { "name": 'Customer', "id": '0' , "dataCode":'ABC'}
                    ],
                re_options: [
                    { "name": '', "id": '0' , "dataCode":''}
                    ],
                selected: { name: null, id: null, 'dataCode':null, },
                types: [
                    {index: -1, name: 'All', css: 'label-info'},
                    {index: 0, name: 'Walk-In Customer', css: 'label-info'},
                    {index: 1, name: 'Remote Customer', css: 'label-danger'},
                    {index: 2, name: 'Agent Customer', css: 'label-danger'}
                ],
                type_customer: -1,
                serviceType: 1,
                shippingRate: {service_type:1, service_type_item:2},
                typeItem: 2,
                zoneId:0,
                serviceTypes: [
                {
                    label: 'Door',
                    value: 1,
                    typeItems: [{label:'Door - SGN', value:1}, {label:'Door - HN', value:2}]
                },
                {
                    label: 'Station',
                    value: 2,
                    typeItems: [{label:'Station - HCM', value:4}, {label:'Station - HN', value:5}]
                },
                {
                    label: 'Airport',
                    value: 3,
                    typeItems: [{label:'Airport - HCM', value:6}, {label:'Airport - HN', value:7}]
                }],
                serviceTypeItems: {
                    1: [{label:'Door - SGN', value:2}, {label:'Door - HN', value:2}],
                    2: [{label:'Station - HCM', value:4}, {label:'Station - HN', value:5}],
                    3: [{label:'Airport - HCM', value:6}, {label:'Airport - HN', value:7}]
                },
                showNewModal: 1,
                showNewSenderModal:1,
                showNewRecipientModal:1,
                cre_countries: {},
                allowCreateNew: false,
                sender_list_prop:{},
                currentSelected: {
                    "name": 'Select Customer', "id": '0' , "dataCode":'0'
                },
                currentSenderSelected: {
                    "name": 'Select Sender', "id": '0' , "dataCode":'0'
                },
                currentRecipientSelected: {
                    "name": 'Select Recipient', "id": '0' , "dataCode":'0'
                },
                consolidated_id:0,
                consolidated_detail:{}
            }
        },
        components: {
            customerForm, senderForm, recipientForm
        },
        computed: {
            address_sender: function(){
                if(this.sender.contact_address) {
                    return this.sender.contact_address +' - '+ this.sender.contact_zipcode + ',' + this.sender.country_name;
                }
            },
            address_recipient: function(){
                if(this.recipient.contact_address){
                    return this.recipient.contact_address+', '+this.recipient.district_name +' - '+', '+this.recipient.contact_ward +' - '+ this.recipient.city_name + ',' + this.recipient.country_name;
                }
            },
            availableCities() {
                return this.serviceType ? this.serviceType.typeItems : true;
            }
        },
        created: function () {
            var _self = this;
            /** consolidated created shipmment */
            var url = new URL(location.href);
            var consol_id = url.searchParams.get("consolidated_id");
            if (consol_id) {
                _self.consolid = consol_id;
                this.$http
                .get(AppData.baseUrl + "/api/tracking/getlistconsolidatedById/" + consol_id)
                .then(function(response) {
                    _self.consolidated_detail = response.data.data[0];
                    var cus_id = _self.consolidated_detail.customer_id;
                    if(cus_id){
                        _self.loadCustomerDetail(cus_id);
                        _self.loadSenderByCustomer(cus_id);
                        _self.loadRecipientByCustomer(cus_id);
                        eventHub.$emit("CONSOLIDATED_ID", cus_id);
                    }
                })
                .catch(function(error) {
                console.log(error);
                });
            }
            /** END consolidated created shipmment */
            /** Load customer by customer code **/
            var cust_id = url.searchParams.get("customerid");
            if(cust_id) {
                _self.loadCustomerDetail(cust_id);
                _self.loadSenderByCustomer(cust_id);
                _self.loadRecipientByCustomer(cust_id);
            }
            /** END Load customer by customer code **/
            eventHub.$on("PAYMENT_ZONEID", this.onZoneid);
            eventHub.$on("STEP_SHIPMENT_INFO", this.onPackageStep);
            eventHub.$on("CUSTOMER_CREATED",  this.eventHubCusCrea);
            eventHub.$on("SENDER_CREATED",  function (sender) {
                _self.sender = sender;
                _self.currentSenderSelected.name      = sender.contact_code+' - '+sender.contact_firstname+' '+sender.contact_lastname;
                _self.currentSenderSelected.id        = sender.id;
                _self.currentSenderSelected.dataCode  = sender.contact_code;
                /** Sender load detail*/
                if(sender.id){ 
                    this.$http.get(AppData.baseUrl+'/api/shipments/load-sender-detail/'+sender.id).then(function (response) {
                        //_self.isLoadSender = false;
                        _self.sender = response.data.data;
                        eventHub.$emit("SHIPMENT_SENDER", _self.sender);
                        eventHub.$emit("PRINT_SENDER", _self.sender);
                    }).catch(function (error) {
                        console.log(error);
                    });
                }
                /** END Sender load detail*/
            });
            eventHub.$on("RECIPIENT_CREATED",  function (recipient_) {
                if(recipient_.id != 0) { 
                    this.$http.get(AppData.baseUrl+'/api/shipments/load-recipient-detail/'+recipient_.id).then(function (response) {
                        console.log('load recipient 1');
                        _self.isLoadRecipient = false;
                        _self.recipient = response.data.data;
                        _self.shippingRate.country = _self.recipient.contact_country;
                        _self.payment_zoneid = _self.recipient.city_zone_id;
                        _self.currentRecipientSelected.name      = recipient_.contact_code+' - '+recipient_.contact_firstname+' '+recipient_.contact_lastname;
                        _self.currentRecipientSelected.id        = recipient_.id;
                        _self.currentRecipientSelected.dataCode  = recipient_.contact_code;
                        eventHub.$emit("PAYMENT_ZONEID", _self.payment_zoneid);
                        eventHub.$emit("SHIPMENT_RECIPIENT", _self.recipient);
                        eventHub.$emit("PRINT_RECIPIENT", _self.recipient);

                        /** Sender load detail*/
                        if(recipient_.id){ 
                            this.$http.get(AppData.baseUrl+'/api/shipments/load-recipient-detail/'+recipient_.id).then(function (response) {
                                //_self.isLoadSender = false;
                                _self.recipient = response.data.data;
                                eventHub.$emit("SHIPMENT_RECIPIENT",    _self.recipient);
                                eventHub.$emit("PRINT_RECIPIENT",       _self.recipient);
                            }).catch(function (error) {
                                console.log(error);
                            });
                        }
                        /** END Sender load detail*/
                    }).catch(function (error) {
                        console.log(error);
                    });
                }
            });
            //console.log('sender_form created');
        },
        beforeMount: function () {
            //console.log('sender_form beforeMount');
        },
        mounted: function () {
           //console.log('sender_form mounted');
            var _self = this;
           // this.loadData();
            this.loadDataCustomer();
        },
        updated: function () {
           // console.log('sender_form updated');
        },
        beforeDestroy: function () {
            //console.log('sender_form beforeDestroy');
        },
        methods: {
            onCloseNew() {
                this.showNewModal -= 1;
            },
            onCloseNewRecipient() {
                this.showNewRecipientModal -= 1;
            },
            onCloseNewSender() {
                this.showNewSenderModal -= 1;
            },
            onClickNewButton() {
                this.getCountries();
                this.clickCreate = true;
                this.showNewModal += 1;
            },
            onClickNewSenderButton() {
                this.getCountries();
                this.showNewSenderModal += 1;
            },
            onClickNewRecipientButton() {
                var _self = this;
                this.getCountries();
                this.showNewRecipientModal += 1;
            },
            validateSelectionChange(selection) {
                var _self = this;
                this.selected = selection;
                // get detail
                if ((typeof(_self.selected) !== 'undefined') && (_self.selected !== null)) {
                    if(_self.selected.id) {
                        _self.isLoadSender = true;
                        _self.loadSenderDetail(selection.id);
                        /*// get recipient
                        this.$http.get(AppData.baseUrl+'/api/shipments/load-recipient/'+selection.id).then(function (response) {
                            _self.isLoadSender = false;
                            _self.re_options = response.data.data;
                        }).catch(function (error) {
                            console.log(error);
                        });*/
                    }
                }
                //console.log(selection.name+' has been selected');
            },
            validateSelectionRecipientChange(selection) {
                var _self = this;
                // get detail
                //console.log(selection+' has been selected');
                if ((typeof(selection) !== 'undefined') && (selection !== null)) {
                    _self.loadRecipientDetail(selection.id);
                }   
                //console.log(selection.name+' has been selected');
            },
            validateSelectionCustomerChange(selection) {
                var _self = this;
                var type_index = 1;
                if(_self.typeItem == 2 || _self.typeItem == 4 || _self.typeItem == 6){
                    type_index = 0;
                }
                var label_selected = _self.serviceTypeItems[_self.serviceType][type_index].label;
                eventHub.$emit("SHIPMENT_INFO", _self.serviceType, _self.shippingRate.service_type);
                eventHub.$emit("PRINT_SHIPMENT_INFO", label_selected);
                //console.log(JSON.stringify(selection.id)+' has been selected 1');

                // get detail
                if(selection.id) {
                    App.blockUI({
                        target: '#customer-block',
                        animate: true
                    });
                    _self.isLoadSender = true;
                    if(selection.id != '0') {
                        // get customer detail
                        _self.loadCustomerDetail(selection.id);
                        // get sender
                        _self.loadSenderByCustomer(selection.id);
                        // get recipient
                        this.$http.get(AppData.baseUrl+'/api/shipments/load-recipient/'+selection.id).then(function (response) {
                            //_self.isLoadSender = false;
                            _self.re_options = response.data.data;
                            _self.currentRecipientSelected = response.data.data[0];
                            App.unblockUI('#customer-block');
                        }).catch(function (error) {
                            App.unblockUI('#customer-block');
                            console.log(error);
                        });
                    } else {
                        App.unblockUI('#customer-block');
                    }
                }
                //console.log(selection.name+' has been selected');
            },
            getDropdownValues(keyword) {
                console.log('You could refresh options by querying the API with '+keyword);
            },
            loadData: function () {
                var _self = this;
                this.$http.get(AppData.baseUrl+'/api/shipments/load-sender').then(function (response) {
                _self.options = response.data.data;
                }).catch(function (error) {
                    console.log(error);
                });
            },
            loadDataCustomer: function () {
                var _self = this;
                //this.$refs.search.click();
                this.$http.get(AppData.baseUrl+'/api/shipments/load-customer').then(function (response) {
                    _self.cus_options = response.data.data;
                }).catch(function (error) {
                    console.log(error);
                });
            },
            getCustomers: function (id) {
                var _self = this;
                this.$http.get(AppData.baseUrl+'/api/shipments/load-customer/'+id).then(function (response) {
                    _self.cus_options = response.data.data;
                }).catch(function (error) {
                    console.log(error);
                });
            },
            loadRecipientBySender: function(e) {
                var _self = this;
                if (e.target.checked) {
                    // get recipient
                    this.$http.get(AppData.baseUrl+'/api/shipments/load-recipient-by-sender/'+e.target.value).then(function (response) {
                        //_self.isLoadSender = false;
                        _self.re_options = response.data.data;
                        _self.currentRecipientSelected = response.data.data[0];
                    }).catch(function (error) {
                        console.log(error);
                    });
                } else {
                    this.getCustomers(this.type_customer);
                }
            },
            runme(selected) {
                //console.log('choice service type'+selected.value);
                var _self = this;
                _self.shippingRate.service_type = selected.value;
                eventHub.$emit("SHIPMENT_INFO", this.serviceType, this.shippingRate.service_type);
                eventHub.$emit("PRINT_SHIPMENT_INFO", selected.label);
               // console.log('--'+JSON.stringify(_self.shippingRate));
               // eventHub.$emit("SERVICE_TYPE", _self.shippingRate);
               // alert(`label: ${selected.name} value: ${selected.value}`);

            },
            change_service(serviceType, typeItem) {
                //console.log(serviceType+'-'+typeItem+'choice service type -');
                var _self = this;
                var type_index = 1;
                if(typeItem == 2 || typeItem == 4 || typeItem == 6){
                    type_index = 0;
                }
                var label_selected              = this.serviceTypeItems[serviceType][type_index].label;
                _self.shippingRate.service_type     = serviceType;
                _self.shippingRate.service_type_item = typeItem;
                eventHub.$emit("SHIPMENT_INFO", this.serviceType, this.shippingRate.service_type);
                eventHub.$emit("PRINT_SHIPMENT_INFO", label_selected);
               // console.log('--'+JSON.stringify(_self.shippingRate));
               // eventHub.$emit("SERVICE_TYPE", _self.shippingRate);
               // alert(`label: ${selected.name} value: ${selected.value}`);
            },
            calShipmentInfo: function() {
                var _self = this;
                var zoneId = _self.zoneId;
                var service_type = _self.shippingRate.service_type_item;
                var customer_id = _self.current_customer.id;
                // price type and recipient
                this.$http.get(AppData.baseUrl+'/api/shipments/load-service-price/'+zoneId+'/'+service_type+'/'+customer_id).then(function (response) {
                    //console.log('--'+JSON.stringify(response.data.data));
                    eventHub.$emit("PAYMENT_SERVICE_PRICE", response.data.data);
                    eventHub.$emit("PAYMENT_SERVICE_PRICE_", response.data.data);
                }).catch(function (error) {
                    console.log(error);
                });
            },
            onZoneid: function(zoneId) {
                this.zoneId = zoneId;
            },
            onPackageStep: function (onPackageStep) {
                this.calShipmentInfo();
            },
            getCountries: function () {
                var _self = this;
                this.$http.get(AppData.baseUrl+'/api/sender/load-country').then(function (response) {
                    //console.log('getCountries inside');
                    _self.cre_countries = response.data.data;
                }).catch(function (error) {
                    console.log(error);
                });
            },
            loadSenderByCustomer: function (_customerId) {
                var _self = this;
                if(_customerId != '0'){
                    this.$http.get(AppData.baseUrl+'/api/shipments/load-sender/'+_customerId).then(function (response) {
                        //_self.isLoadSender = false;
                        _self.options = response.data.data;
                        _self.currentSenderSelected = response.data.data[0];
                        /*_self.currentSenderSelected.name = 'Select sender';
                        _self.currentSenderSelected.id = '0';
                        _self.currentSenderSelected.dataCode = '0';*/
                        // this.$refs.fcSender.focus();
                    }).catch(function (error) {
                        console.log(error);
                    });
                }
            },
            loadRecipientByCustomer: function (_customerId) {
                var _self = this;
                if(_customerId != '0'){ 
                    this.$http.get(AppData.baseUrl+'/api/shipments/load-recipient/'+_customerId).then(function (response) {
                        //_self.isLoadSender = false;
                        _self.re_options                = response.data.data;
                        _self.currentRecipientSelected  = response.data.data[0];
                        /*_self.currentRecipientSelected.name     = 'Select sender';
                        _self.currentRecipientSelected.id       = '0';
                        _self.currentRecipientSelected.dataCode = '0';*/
                    }).catch(function (error) {
                        console.log(error);
                    });
                }
            },
            loadSenderDetail: function (sender_id) {
                var _self = this;
                if(sender_id != '0'){
                    this.$http.get(AppData.baseUrl+'/api/shipments/load-sender-detail/'+sender_id).then(function (response) {
                        //_self.isLoadSender = false;
                        _self.sender = response.data.data;
                        eventHub.$emit("SHIPMENT_SENDER", _self.sender);
                        eventHub.$emit("PRINT_SENDER", _self.sender);
                    }).catch(function (error) {
                        console.log(error);
                    });
                }
            },
            loadRecipientDetail: function (recipient_id) {
                var _self = this;
                //console.log('recipient_id -----');
                if(recipient_id != '0'){
                    this.$http.get(AppData.baseUrl+'/api/shipments/load-recipient-detail/'+recipient_id).then(function (response) {
                        //console.log('load recipient 1');
                        _self.isLoadRecipient = false;
                        _self.recipient = response.data.data;
                        _self.shippingRate.country = _self.recipient.contact_country;
                        _self.payment_zoneid = _self.recipient.city_zone_id;
                        eventHub.$emit("PAYMENT_ZONEID", _self.payment_zoneid);
                        eventHub.$emit("SHIPMENT_RECIPIENT", _self.recipient);
                        //console.log(_self.recipient);
                        eventHub.$emit("PRINT_RECIPIENT", _self.recipient);
                    }).catch(function (error) {
                        console.log(error);
                    });
                }
            },
            loadCustomerDetail: function (customer_id) {
                var _self = this;
                if(customer_id != '0'){
                    this.$http.get(AppData.baseUrl+'/api/shipments/load-customer-detail/'+customer_id).then(function (response) {
                        //_self.isLoadSender = false;
                        _self.customer = response.data.data;
                        _self.current_customer = response.data.data;
                        _self.allowCreateNew = true;
                        eventHub.$emit("PAYMENT_CUSTOMERTYPE", _self.customer.type_customer);
                        eventHub.$emit("SHIPMENT_CUSTOMER", _self.customer);
                    }).catch(function (error) {
                        console.log(error);
                    });
                }
            },
            eventHubCusCrea: function (customer_) {
                var _self = this;
                //console.log(JSON.stringify(customer_)+' Customer test');
                _self.sender = {};
                _self.recipient = {};
                // set selected for customer
                _self.currentSelected   = { "name":customer_.customer_code+' - '+customer_.firstname+' '+customer_.lastname, "id":customer_.id,"dataCode":customer_.customer_code};
                _self.currentSenderSelected       = {"name": 'Select Sender', "id": '0' , "dataCode":'0'};
                _self.currentRecipientSelected    = {"name": 'Select Recipient', "id": '0' , "dataCode":'0'};
                // clean sender and reciept
                var customer_id = customer_.id;
                
                if(customer_id != 0){
                    // load detail customer
                    this.loadCustomerDetail(customer_id);
                    // load sender & recipient
                    this.loadSenderByCustomer(customer_id);
                    this.loadRecipientByCustomer(customer_id);
                }
            }
        }
    }
</script>
