<template>
<div class="portlet light bordered" id="list-recipient-block">
<div v-for="n in showEditModal">
<recipient-edit-form @close="onCloseEdit()" :recipientProp="current_recipient" :zip="edit_zipcode" :edit_countries_="cre_countries" :edit_cities_="edit_cities" :edit_districts_="edit_districts" ></recipient-edit-form>
</div>
<div v-for="n in showNewModal">
<recipient-form @close="onCloseNew()" :cre_countries="cre_countries"></recipient-form>
</div>
<div class="portlet-title">
    <div class="caption">
        <i class="icon-users font-red"></i>
        <span class="caption-subject font-red sbold uppercase">List All recipient</span>
    </div>
    <div class="actions">
        <button class="btn sbold green btn-circle" @click="onClickNewButton()" data-toggle="modal" href="#responsive_recipient"> Add New
            <i class="fa fa-plus"></i>
            </button>
    </div>
</div>
<div class="portlet-body">
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover no-footer"
                        role="grid" id="recipient-table">
                    <thead>
                    <tr role="row" class="heading">
                        <th rowspan="2">Customer</th>
                        <th colspan="4"> Contact Info</th>
                        <th rowspan="2" width="8%">Ship No.</th>
                        <th rowspan="2" width="10%">Actions</th>
                    </tr>
                    <tr role="row" class="heading">
                        <th> Name</th>
                        <th width="10%">Code</th>
                        <th width="10%">Phone</th>
                        <th> Address</th>
                    </tr>
                    <tr>
                        <th>
                            <div class="form-group">
                                <input class="form-control" type='text' v-model="filterCustomerCode" placeholder="Customer Code"
                                        @keyup.enter="filterChange">
                            </div>
                        </th>
                        <th>
                            <div class="form-group">
                                <input class="form-control" type='text' v-model="filterContactName"
                                        @keyup.enter="filterChange">
                            </div>
                        </th>
                        <th>
                            <div class="form-group">
                                <input class="form-control" type='text' v-model="filterContactCode"
                                        @keyup.enter="filterChange">
                            </div>
                        </th>
                        <th>
                            <div class="form-group">
                                <input class="form-control" type='text' v-model="filterPhone"
                                        @keyup.enter="filterChange">
                            </div>
                        </th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-if="pagination &&  pagination.data && pagination.data.length > 0"
                        v-for="model in pagination.data" role="row" class="odd">
                        <td>
                            ({{model.customer_code}}) - {{model.customer_firstname}} {{model.customer_lastname}}
                        </td>
                        <td>
                            {{model.contact_firstname}} {{model.contact_lastname}}
                        </td>
                        <td>
                            {{model.contact_code}}
                        </td>
                        <td> {{model.contact_phone}}</td>
                        <td>
                            {{model.contact_address}}
                            <br/>
                            {{model.city_name}}, {{model.country_name}}
                        </td>
                        <td> 

                        </td>
                        <td class="text-center">
                            <button class="btn btn-info" @click="onClickEditButton(model)" data-toggle="modal" href="#responsive_edit">
                                <i class="fa fa-edit"></i>
                            </button>
                            <button class="btn red btn-default" @click="deleterecipient(model.id)">X</button>
                        </td>
                    </tr>
                    <tr v-if="!pagination || pagination.data && pagination.data.length == 0">
                        <td colspan="7">No Data - No find data</td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row" >
    <div v-if="pagination &&  pagination.data && pagination.data.length > 0">
        <div class="col-md-12">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <ul class="pager">
                    <li data-lp="1" class="previous" v-bind:class="pagination.current_page == 1?'disabled':''"><a
                            href="javascript:void(0);" @click="backPage()"><i
                            class="fa fa-angle-left"></i></a></li>
                    <span>{{pagination.current_page}}/{{pagination.last_page}}</span>
                    <li data-lp="8" class="next"
                        v-bind:class="pagination.current_page == pagination.last_page?'disabled':''"><a
                            href="javascript:void(0);" @click="nextPage()"><i class="fa fa-angle-right fa-4"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
    </div>
</div>
</template>
<style scoped>
    .actions {
        margin-right: 10px;
    }
    .table-responsive .form-control {
        height: 25px;
        width: 100%;
    }
</style>

<script>
    import recipientEditForm from './FormEdit.vue'
    import recipientForm from './Form.vue'
    export default{
        data: function () {
            return {
                search: '',
                pagination: {},
                filterStatus: 1,
                currentPage: 1,
                filterCustomerCode: '',
                filterContactName: '',
                filterContactCode: '',
                filterPhone: '',
                filterStatus: 1,
                current_recipient: {},
                origin_recipient: {},
                showNewModal: 1,
                showEditModal: 1,
                isEdited: false,
                cre_countries: {},
                edit_cities:{},
                edit_districts:{},
                edit_zipcode:""
            }
        },
        props: {

        },
        components: {
          recipientEditForm, recipientForm
        },
        mounted: function () {
            $(document).ready(function(){
                $('[data-toggle="popover"]').popover();
            });
            this.refresh();
            var _self = this;
            eventHub.$on('recipient_CREATED', function () {
                _self.refresh();
            });
            eventHub.$on('recipient_UPDATED', function () {
                _self.refresh();
            });
        },
        watch: {
        },
        computed: {
            searchQuery: function () {
                var query = "?orderBy=created_at&sortedBy=desc&page=" + this.currentPage + "&";
                var search = 'search=';

                if (this.filterStatus && this.filterStatus >= 0) {
                    search += 'status:' + this.filterStatus + '&';
                }
                if (this.filterCustomerCode) {
                    search += 'customer_code=' + this.filterCustomerCode + '&';
                }
                if (this.filterContactName) {
                    search += 'contact_name=' + this.filterContactName + '&';
                }
                if (this.filterContactCode) {
                    search += 'contact_code=' + this.filterContactCode + '&';
                }
                if (this.filterPhone) {
                    search += 'phone:' + this.filterPhone + '&';
                }
                query += search.slice(0, -1);
                return query;
            },
            pages: function () {
                var pages = [];
                if (this.pagination && this.pagination.last_page) {
                    for (var i = 1; i <= this.pagination.last_page; i++) {
                        pages.push(i);
                    }
                }
                return pages;
            }
        },
        methods: {
            onCloseEdit() {
                this.showEditModal -= 1;
            },
            onCloseNew() {
                this.showNewModal -= 1;
            },
            onClickNewButton() {
                this.getCountries();
                this.showNewModal += 1;
            },
            searchChange: _.debounce(function () {
                this.refresh();
            }, 500),
            refresh: function () {
                App.blockUI({
                    target: '#list-recipient-block',
                    animate: true
                });
                $('.btn-checked').html('Check Clicked');
                var _self = this;
                this.$http.get('api/recipient/pagination' + this.searchQuery).then(function (response) {
                    _self.pagination = response.data.data;
                    App.unblockUI('#list-recipient-block');
                }).catch(function (error) {
                    App.unblockUI('#list-recipient-block')
                });
            },
            changePage: function (index) {
                this.currentPage = index;
                this.refresh();
            },
            backPage: function () {
                if (this.currentPage > 1) {
                    this.currentPage--;
                    this.refresh();
                }
            },
            nextPage: function () {
                if (this.currentPage < this.pagination.last_page) {
                    this.currentPage++;
                    this.refresh();
                }
            },
            filterChange: function () {
                this.refresh();
            },
            deleterecipient: function (id) {
                if (confirm("Do you want to delete?")) {
                    App.blockUI({
                        target: '#list-recipient-block',
                        animate: true
                    });
                    return this.$http.delete('/api/recipient/'+id).then(function (response) {
                        App.unblockUI('#list-recipient-block');
                        showToastFromResponse(response);
                        this.refresh();
                    }).catch(function (error) {
                        App.unblockUI('#list-recipient-block');
                        showToastFromResponse(error);
                    })
                }
            },
            onClickEditButton(model) {
                this.isEdited = false;
                this.current_recipient = model;
                this.setOriginrecipient(model);
                this.getCountries();
                this.getCities_(model.contact_country);
                this.getDistricts_(model.contact_city);
                this.edit_zipcode = model.contact_zipcode;
                this.showEditModal += 1;
            },
            setOriginrecipient(model){
                this.origin_recipient = _.clone(model);
            },
            getCountries: function () {
                var _self = this;
                this.$http.get('api/sender/load-country').then(function (response) {
                    console.log('getCountries inside');
                    _self.cre_countries = response.data.data;
                }).catch(function (error) {
                    console.log(error);
                });
            },
            getCities_(countryId) {
                var _self = this;
                this.$http.get("api/sender/load-city/"+countryId)
                .then( function (response) {
                    _self.edit_cities = response.data.data;
                })
            },
            getDistricts_(cityId) {
                var _self = this;
                this.$http.get("api/sender/load-district/"+cityId)
                .then( function (response) {
                    _self.edit_districts = response.data.data;
                })
            }
        }
    }
</script>
