<template>
    <div id="responsive_sender" class="modal fade" tabindex="-1" data-width="70%">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title"><i class="icon-users"></i> Create New Sender</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form action="#" class="form-horizontal">
                        <div class="form-body">
                            <form-error :errors="errors" field="contactname" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Customer (*)</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon input-circle-left">
                                            <i class="fa fa-user-circle"></i>
                                        </span>
                                                <customer-select></customer-select>
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="contactname" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">First Name (*)</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                    <span class="input-group-addon input-circle-left">
                                        <i class="fa fa-info-circle"></i>
                                    </span>
                                    <input type="text" class="form-control input-circle-right" placeholder="First Name"
                                               v-model="sender.contact_firstname">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="contactname" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Last Name (*)</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                    <span class="input-group-addon input-circle-left">
                                        <i class="fa fa-info-circle"></i>
                                    </span>
                                    <input type="text" class="form-control input-circle-right" placeholder="Last Name"
                                               v-model="sender.contact_lastname">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="phone" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Contact Phone (*)</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon input-circle-left">
                                            <i class="fa fa-phone"></i>
                                        </span>
                                        <input type="text" class="form-control input-circle-right" placeholder="Phone"
                                               v-model="sender.contact_phone">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="email" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Contact Email (*)</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                    <span class="input-group-addon input-circle-left">
                                        <i class="fa fa-envelope"></i>
                                    </span>
                                        <input type="email" class="form-control input-circle-right" placeholder="Email"
                                               v-model="sender.contact_email">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="address" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Contact Address</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                    <span class="input-group-addon input-circle-left">
                                        <i class="fa fa-address-card"></i>
                                    </span>
                                        <input type="email" class="form-control input-circle-right" placeholder="Address"
                                               v-model="sender.contact_address">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="country" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Country (*)</label>
                                <div class="col-md-8">

                                    <select v-model="sender.contact_country"  @change="getCities(sender.contact_country)" class="form-control input-circle-left">
                                        <option value="0">Choose Country</option>
                                        <option v-for="country in countries" :value="country.id"> 
                                            {{country.country_name}}
                                        </option>
                                    </select>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="district" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">City (*)</label>
                                <div class="col-md-8">
                                    <select v-model="sender.contact_city" class="form-control input-circle-left" :disabled="disabled == 1 ? true : false">
                                        <option v-for="city in cities" :value="city.id">{{city.city_name}}</option>
                                    </select>
                                </div>
                            </form-error>
                        </div>
                    </form>
                    <!-- END FORM-->
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-outline dark btn-circle">Close</button>
            <button type="button" class="btn green btn-circle" @click="createSender()">{{ (isSending) ? 'Saving ...' : 'Save'}}
            </button>
        </div>
    </div>
</template>
<script>
import CustomerSelect from './CustomerSelect.vue'
    export default{
        props: {
            senderProp: {
                type: Object,
                default: function () {
                    return {
                        customer_id: 0,
                        customer_code: '',
                        contact_code: '',
                        contact_firstname: '',
                        contact_lastname: '',
                        contact_phone: '',
                        contact_email: '',
                        contact_address: '',
                        contact_country: 0,
                        contact_city: 0,
                    }
                }
            }
        },
        data: function () {
            return {
                isUpdated: false,
                showError: false,
                errors: '',
                role_id: AppData.role_id,
                isSending: false,
                types: [
                    {index: 0, name: 'Walk-In Customer', css: 'label-info'},
                    {index: 1, name: 'Remote Customer', css: 'label-danger'},
                    {index: 2, name: 'Agent Customer', css: 'label-danger'}
                ],
                countries: {},
                cities: {},
                disabled: 1,
            
            }
        },
        components: {
            CustomerSelect
        },
        computed: {
            sender() {
                return this.senderProp;
            },
        },
        created: function () {
            console.log('sender_form created');
        },
        beforeMount: function () {
            console.log('sender_form beforeMount');
        },
        mounted: function () {
            console.log('sender_form mounted');
            var _self = this;
            this.getCountries();
            $('#responsive_sender').on('hidden.bs.modal', function (e) {
                _self.$emit('close');
                console.log('run close');
                _self.errors = '';
            });
        },
        updated: function () {
            console.log('sender_form updated');
        },
        beforeDestroy: function () {
            console.log('sender_form beforeDestroy');
        },
        methods: {
            createSender: function () {
                var _self = this;
                alert($("input[name=customer_id]").val()); // testateam4
                if(!this.isSending) {
                    this.isSending = true;
                    this.$http.post('/api/sender', _self.sender).then((response) => {
                        _self.isSending = false;
                        var sender_ = response.data.data;
                        eventHub.$emit("USER_CREATED", sender_);
                        $('.modal.in').modal('hide') ;
                        _self.errors = '';
                        _self.sender = sender_;
                        showToast('Created sender successfully', 'Sender information has been created', 'success');
                    }, (error) => {
                        _self.isSending = false;
                        if (error.data && error.data.data) {
                            _self.errors = error.data.data;
                        }
                        showToast('Created Sender failed', 'Sender information has not been created', 'error');
                    });
                }
            },
            getCountries: function () {
                var _self = this;
                this.$http.get('api/sender/load-country').then(function (response) {
                  _self.countries = response.data.data;
                }).catch(function (error) {
                  console.log(error);
                });
            },
            getCities(countryId) {
                var _self = this;
                this.$http.get("api/sender/load-city/"+countryId)
                .then((response) => {
                    _self.disabled = 0;
                    _self.cities = response.data.data;
                })
            },
        }
    }
</script>
