<template>
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption font-dark">
                <i class="icon-settings font-dark"></i>
                <span class="caption-subject bold uppercase"> Esms Setting Default </span>
            </div>
            <div class="actions">
                <div class="btn-group btn-group-devided">
                </div>
            </div>
        </div>
        <div class="portlet-body form">
            <form role="form" lpformnum="1">
                <master-setting-text-input title="Sms Api Token" key-setting="sms_api_token"/>
                <master-setting-text-input title="Sms Api Secret" key-setting="sms_api_secret"/>
                <master-setting-text-input title="Sms Brand Name" key-setting="sms_brand_name"/>
            </form>
        </div>
    </div>
</template>
<script>
    import MasterSettingTextInput from './MasterSettingTextInput.vue';
    import MasterSettingCheckbox from './MasterSettingCheckbox.vue';
    import MasterSettingTextarea from './MasterSettingTextarea.vue';
    export default{
        components:{
            MasterSettingTextInput,
            MasterSettingCheckbox,
            MasterSettingTextarea
        }
    }
</script>