<template>
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption font-dark">
                <i class="icon-settings font-dark"></i>
                <span class="caption-subject bold uppercase"> Setting Infomation Default </span>
            </div>
            <div class="actions">
                <div class="btn-group btn-group-devided">
                </div>
            </div>
        </div>
        <div class="portlet-body form">
            <form role="form" lpformnum="1">
                <master-setting-textarea title="Introduction Text" key-setting="introduction_text"/>
                <master-setting-textarea title="Survey Message" key-setting="survey_message"/>
                <master-setting-textarea title="Apologize Message" key-setting="apologize_message"/>
            </form>
        </div>
    </div>
</template>
<script>
    import MasterSettingTextInput from './MasterSettingTextInput.vue';
    import MasterSettingCheckbox from './MasterSettingCheckbox.vue';
    import MasterSettingTextarea from './MasterSettingTextarea.vue';
    export default{
        components:{
            MasterSettingTextInput,
            MasterSettingCheckbox,
            MasterSettingTextarea
        }
    }
</script>