<template>
    <div class="row">
        <div class="col-md-12">
            <proxy-component/>
            <google-analytic-component/>
            <info-setting />
            <esms-setting />
            <info-support-setting />
        </div>
    </div>
</template>
<script>
    import ProxyComponent from './Proxy.vue';
    import GoogleAnalyticComponent from './GoogleAnalytic.vue';
    import InfoSetting from './InfoSetting.vue';
    import InfoSupportSetting from './InfoSupportSetting.vue';
    import EsmsSetting from './EsmsSetting.vue';
    export default {
        components: {
            ProxyComponent,
            GoogleAnalyticComponent,
            InfoSetting,
            EsmsSetting,
            InfoSupportSetting
        }
    }
</script>