<template>
    <div class="form-group">
        <label>{{title}}</label>
        <input type="checkbox" v-model="setting.value" @change="update" true-value="1" false-value="0">
    </div>
    </div>
</template>
<script>
    export default{
        data: function () {
            return {
                setting: {}
            }
        },
        props: {
            title: String,
            keySetting: String
        },
        mounted(){
            this.loadSetting();
        },
        methods: {
            loadSetting(){
                let _self = this;
                this.$http.get('/api/master_settings/key/' + this.keySetting).then(function (response) {
                    _self.setting = response.data.data;
                });
            },
            update(){
                let _self = this;
                console.log('update');
                this.$http.put('/api/master_settings/' + this.setting.id, {
                    value: this.setting.value
                }).then(function (response) {
                    _self.setting = response.data.data;
                });
            }
        }
    }
</script>