<template>
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption font-dark">
                <i class="icon-settings font-dark"></i>
                <span class="caption-subject bold uppercase"> Proxy </span>
            </div>
            <div class="actions">
                <div class="btn-group btn-group-devided">
                </div>
            </div>
        </div>
        <div class="portlet-body form">
            <form role="form" lpformnum="1">
                <master-setting-text-input title="Proxy url" key-setting="proxy_url"/>
            </form>
        </div>
    </div>
</template>
<script>
    import MasterSettingTextInput from './MasterSettingTextInput.vue';
    import MasterSettingCheckbox from './MasterSettingCheckbox.vue';
    export default{
        components:{
            MasterSettingTextInput,
            MasterSettingCheckbox
        }
    }
</script>