<template>
  <div id="responsive_edit" class="modal fade" tabindex="-1" data-width="50%">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title">
        <i class="icon-wrench"></i>
        {{ !isCreate ? 'Edit Awb Air' : 'Add New Awb Air '}}
      </h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="portlet-body form">
          <!-- BEGIN FORM-->
          <form action="#" class="form-horizontal">
            <div class="form-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="col-md-12">
                    <form-error
                      :errors="errors"
                      field="rate"
                      error-class="col-md-offset-3 col-md-8"
                    >
                      <label class="col-md-3 control-label">Air Name</label>
                      <div class="col-md-8">
                        <input v-model="user.air_name" placeholder="Air Name" type="text" class="form-control tel" />
                      </div>
                    </form-error>
                  </div>

                  <div class="col-md-12">
                    <form-error
                      :errors="errors"
                      field="discount_rate"
                      error-class="col-md-offset-3 col-md-8"
                    >
                      <label class="col-md-3 control-label">Code</label>
                      <div class="col-md-8">
                        <input v-model="user.air_pre_code" placeholder="Code" type="text" class="form-control tel" />
                      </div>
                    </form-error>
                  </div>

                  <div class="col-md-12">
                    <form-error
                    :errors="errors"
                    field="logo"
                    error-class="col-md-offset-3 col-md-8"
                  >
                    <label class="col-md-3 control-label">Logo</label>
                    <div class="col-md-8">
                      <image-small-input @change="uploadIDChange" :src="'/storage/airport_logo/'+url"></image-small-input>
                    </div>
                  </form-error>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <!-- END FORM-->
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn green btn-circle"
        @click="updateUser()"
      >{{ (isSending) ? 'Sending ...' : 'Save'}}</button>
      <button type="button" data-dismiss="modal" class="btn btn-outline btn-circle dark">Close</button>
    </div>
  </div>
</template>
<style>
.multiselect__tag {
  display: none !important;
}
</style>
<script>
export default {
  props: {
    userProp: {
      type: Object,
      default: function() {
        return {};
      }
    },
    urlProp: {
      type: String,
      default: ""
    }
  },
  data: function() {
    return {
      isUpdated: false,
      showError: false,
      errors: "",
      role_id: AppData.role_id,
      isSending: false,
      isCreate: false,
      role_id: AppData.role_id,
      isFile: true,
      file:{},
    };
  },
  components: {},
  computed: {
    user() {
      return this.userProp;
    },
    url(){
      return this.urlProp;
    }
  },
  created: function() {
    console.log("user_form created");
  },
  beforeMount: function() {
    console.log("user_form beforeMount");
  },
  mounted: function() {
    console.log("user_form mounted");
    var _self = this;
    $("#responsive_edit").on("hidden.bs.modal", function(e) {
      _self.$emit("close");
      console.log("run close");
      _self.errors = "";
    });
  },
  updated: function() {
    console.log("user_form updated");
  },
  beforeDestroy: function() {
    console.log("user_form beforeDestroy");
  },
  methods: {
    updateUser: function() {
      var _self = this;
      if (!this.isSending) {
        if(_self.user.air_name == ''){
          showToast('error','Air name require','error');
        } else if(_self.user.air_pre_code == ''){
          showToast('error','Code require','error');
        } else if (_self.isFile == false) {
          showToast("error", "Logo require", "error");
          return;
        } else{
          this.isSending = true;
          var formData = new FormData();
          formData.append('file', _self.file);
          formData.append('air_name', _self.user.air_name);
          formData.append('air_pre_code', _self.user.air_pre_code);
          this.$http.post("/api/awb-air/edit/" + _self.user.id, formData).then(
            response => {
              _self.isSending = false;
              var user = response.data.data;
              eventHub.$emit("USER_UPDATED", user);
              //$('#responsive').modal('hide');
              $(".modal.in").modal("hide");
              _self.errors = "";
              showToast(
                "Updated awb air successfully",
                "Awb air's information has been updated",
                "success"
              );
            },
            error => {
              _self.isSending = false;
              if (error.data && error.data.data) {
                _self.errors = error.data.data;
              }
              showToast(
                "Updated awb air failed",
                "Awb air's information has not been updated",
                "error"
              );
            }
          );
        }
      }
    },
    onCloseCreate: function() {
      var _self = this;
      _self.isCreate = false;
    },
    onCreate: function() {
      var _self = this;
      _self.isCreate = true;
    },
    uploadIDChange: function(event) {
      var _self = this;
      var input = event.target;
      _self.file = input.files[0];
      _self.isFile = true;
    },
  }
};
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
