<template>
  <div id="responsive" class="modal fade" tabindex="-1" data-width="50%">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title">
        <i class="icon-settings"></i>
        {{user.id ? 'Edit' : 'Add New Air'}}
      </h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="portlet-body form">
          <!-- BEGIN FORM-->
          <form action="#" class="form-horizontal">
            <div class="form-body">
              <form-error
                :errors="errors"
                field="air_name"
                error-class="col-md-offset-3 col-md-8"
              >
                <label class="col-md-3 control-label">Air Name</label>
                <div class="col-md-8">
                  <div class="input-group">
                    <span class="input-group-addon input-circle-left">
                      <i class="fa fa-indent"></i>
                    </span>
                    <input
                      type="text"
                      class="form-control input-circle-right"
                      placeholder="Air name"
                      v-model="user.air_name"
                    />
                  </div>
                </div>
              </form-error>

              <form-error
                :errors="errors"
                field="air_pre_code"
                error-class="col-md-offset-3 col-md-8"
              >
                <label class="col-md-3 control-label">Code</label>
                <div class="col-md-8">
                  <div class="input-group">
                    <span class="input-group-addon input-circle-left">
                      <i class="fa fa-indent"></i>
                    </span>
                    <input
                      type="text"
                      class="form-control input-circle-right"
                      placeholder="Code"
                      v-model="user.air_pre_code"
                    />
                  </div>
                </div>
              </form-error>

              <form-error
                    :errors="errors"
                    field="logo"
                    error-class="col-md-offset-3 col-md-8"
                  >
                    <label class="col-md-3 control-label">Logo</label>
                    <div class="col-md-8">
                      <image-small-input @change="uploadIDChange" :src="''"></image-small-input>
                    </div>
                  </form-error>

            </div>
          </form>
          <!-- END FORM-->
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn green btn-circle"
        @click="updateUser()"
      >{{ (isSending) ? 'Sending ...' : 'Save'}}</button>
      <button type="button" data-dismiss="modal" class="btn btn-outline btn-circle dark">Close</button>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    userProp: {
      type: Object,
      default: function() {
        return {
          air_name: "",
          air_pre_code:""
        };
      }
    }
  },
  data: function() {
    return {
      isUpdated: false,
      showError: false,
      errors: "",
      role_id: AppData.role_id,
      isSending: false,
      isFile: false,
      file:{}
    };
  },
  computed: {
    user() {
      return this.userProp;
    }
  },
  created: function() {
    console.log("user_form created");
  },
  beforeMount: function() {
    console.log("user_form beforeMount");
  },
  mounted: function() {
    console.log("user_form mounted");
    var _self = this;
    $("#responsive").on("hidden.bs.modal", function(e) {
      _self.$emit("close");
      console.log("run close");
      _self.errors = "";
    });
  },
  updated: function() {
    console.log("user_form updated");
  },
  beforeDestroy: function() {
    console.log("user_form beforeDestroy");
  },
  methods: {
    updateUser: function() {
      var _self = this;
      if (!this.isSending) {
        if(_self.user.air_name == ''){
          showToast('error','Air name require','error');
        } else if(_self.user.air_pre_code == ''){
          showToast('error','Code require','error');
        } else if (_self.isFile == false) {
          showToast("error", "Logo require", "error");
          return;
        } else{
          var formData = new FormData();
          formData.append('file', _self.file);
          formData.append('air_name', _self.user.air_name);
          formData.append('air_pre_code', _self.user.air_pre_code);
          this.isSending = true;
          this.$http.post("/api/awb-air", formData).then(
            response => {
              _self.isSending = false;
              var user_ = response.data.data;
              eventHub.$emit("USER_CREATED", user_);
              //$('#responsive').modal('hide');
              $(".modal.in").modal("hide");
              _self.errors = "";
              showToast(
                "Created awb air successfully",
                "Awb air's information has been created",
                "success"
              );
            },
            error => {
              _self.isSending = false;
              if (error.data && error.data.data) {
                _self.errors = error.data.data;
              }
              showToastFromResponse(error)
            }
          );
        }
      }
    },
    uploadIDChange: function(event) {
      var _self = this;
      var input = event.target;
      _self.file = input.files[0];
      _self.isFile = true;
    },
  }
};
</script>
