<template>
  <div id="responsive_confirm" class="modal fade" tabindex="-1" data-width="50%">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title">
        <i class="icon-question"></i> You can set new customer code!</h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="portlet-body form">
          <!-- BEGIN FORM-->
          <form action="#" class="form-horizontal">
            <div class="form-body">
              <form-error
                :errors="errors"
                field="discount_rate"
                error-class="col-md-offset-3 col-md-8"
              >
                <label class="col-md-3 control-label">Customer Code</label>
                <div class="col-md-8">
                  <div class="input-group">
                    <span class="input-group-addon input-circle-left">
                      <i class="fa fa-tasks"></i>
                    </span>
                    <input
                      type="text"
                      class="form-control input-circle-right"
                      placeholder="Enter Customer Code"
                      v-model="customerCodeGenProp"
                    />
                  </div>
                </div>
              </form-error>
            </div>
          </form>
          <!-- END FORM-->
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <!-- <button type="button" @click="getCustomerCode(customer)" data-dismiss="modal" class="btn btn-outline dark">No</button> -->
      <button
        type="button"
        class="btn green"
        @click="updateCustomer()"
      >{{ (isSending) ? 'Sending ...' : 'Confirm'}}</button>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    customerProp: {
      type: Object,
      default: function() {
        return {};
      }
    },
    customerCodeGenProp:''
  },
  data: function() {
    return {
      isUpdated: false,
      showError: false,
      errors: "",
      isSending: false,
      error_: "",
      city_full_name:""
    };
  },
  computed: {
    customer() {
      return this.customerProp;
    },
  },
  created: function() {
    console.log("customer_edit_form created");
  },
  beforeMount: function() {
    console.log("customer_edit_form beforeMount");
  },
  mounted: function() {
    console.log("user_form mounted");
    var _self = this;
    $("#responsive_confirm").on("hidden.bs.modal", function(e) {
      _self.$emit("close");
      console.log("run close");
      _self.errors = "";
    });
  },
  updated: function() {
    console.log("customer_edit_form updated");
  },
  beforeDestroy: function() {
    console.log("customer_edit_form beforeDestroy");
  },
  watch: {},
  methods: {
    updateCustomer: function() {
      var _self = this;
      if (!_self.isSending) {
        _self.isSending = true;
        // check customer code exist 
        this.$http
          .post(AppData.baseUrl + "/api/customers/check-customer-code/"+_self.customerCodeGenProp)
          .then(function(response) {
            _self.isSending = false;
            _self.createCustomer(_self.customer);
          })
          .catch(function(error) {
            _self.isSending = false;
            showToastFromResponse(error);
          });
        // END check customer code exist 
      }
    },
    createCustomer: function(model) {
      var _self = this;
      var form = new FormData();
      var firstName = model.customer_name.split(' ').slice(0, -1).join(' ');
      var lastName = model.customer_name.split(' ').slice(-1).join(' ');
      var payment = 'PAY IN VN';
      if(model.payment == 2){
        payment = 'PAY IN US';
      }
      form.append("firstname", firstName);
      form.append("lastname", lastName);
      form.append("address", model.customer_address);
      form.append("zipcode", model.customer_zipcode);
      form.append("phone", model.customer_phone);
      form.append("email", model.customer_email);
      form.append("pay_to", payment);
      form.append("service_type_id", model.service_type_id);
      form.append("customer_id_number", model.customer_id_number);
      form.append("customer_upload_id", '/storage/request_customer/'+model.id_number_url);
      form.append("country", 1);
      form.append("city", 0);
      form.append("city_name_full", _self.city_full_name);
      form.append("customer_code", _self.customerCodeGenProp);
      form.append("type_customer", 0);

      this.$http
        .post(AppData.baseUrl + "/api/customers", form)
        .then(function(response) {
          //_self.isSending = false;
          _self.customer_id = response.data.data.id;
          this.createSender(model);
        })
        .catch(function(error) {
          _self.isSending = false;
          App.unblockUI("#request-customer-list-block");
          showToastFromResponse(error);
        });
    },
    createSender: function(model) {
      var _self = this;
      var form = new FormData();
      var firstName = model.customer_name.split(' ').slice(0, -1).join(' ');
      var lastName = model.customer_name.split(' ').slice(-1).join(' ');
      form.append("contact_firstname", firstName);
      form.append("contact_lastname", lastName);
      form.append("contact_address", model.customer_address);
      form.append("contact_zipcode", model.customer_zipcode);
      form.append("contact_phone", model.customer_phone);
      form.append("contact_email", model.customer_email);
      form.append("contact_code", "");
      form.append("contact_country", 1);
      form.append("contact_city", 0);
      form.append("contact_zipcode_name", _self.city_full_name);
      form.append("customer_id", _self.customer_id);
      form.append("customer_code", _self.customerCodeGenProp);

      this.$http
        .post(AppData.baseUrl + "/api/sender", form)
        .then(function(res) {
          this.getCity(model.consignee_zipcode);
          this.createRecipient(model, res.data.data);
        })
        .catch(function(error) {
          _self.isSending = false;
          App.unblockUI("#request-customer-list-block");
          showToastFromResponse(error);
        });
    },
    createRecipient: function(model, senser) {
      var _self = this;
      var form = new FormData();
      var firstName = model.consignee_name.split(' ').slice(0, -1).join(' ');
      var lastName  = model.consignee_name.split(' ').slice(-1).join(' ');
      form.append("contact_firstname", firstName);
      form.append("contact_lastname", lastName);
      form.append("contact_address", model.consignee_address);
      form.append("contact_phone", model.consignee_phone);
      form.append("contact_code", senser.contact_code);
      form.append("contact_country", model.consignee_country);
      form.append("customer_id", _self.customer_id);
      form.append("customer_code", _self.customerCodeGenProp);
      form.append("contact_ward", model.consignee_ward);
      form.append("sender_id", senser.id);
      if (model.consignee_country == 1) {
        form.append("contact_zipcode", model.customer_zipcode);
        form.append("contact_zipcode_name", _self.city_full_name);
      } else {
        form.append("contact_city", model.consignee_city);
        form.append("contact_district", model.consignee_district);
      }
      this.$http
        .post(AppData.baseUrl + "/api/recipient", form)
        .then(function(response) {
          this.$http
            .post(AppData.baseUrl + "/api/request-customer-change-status/" + model.id, {
              status: 2
            })
            .then(function(response) {
              showToastFromResponse(response);
              eventHub.$emit("REQUEST_CUSTOMER_CONFIRM");
              $(".modal.in").modal("hide");
            })
            .catch(function(error) {
              App.unblockUI("#request-customer-list-block");
              showToastFromResponse(error);
            });
        })
        .catch(function(error) {
          _self.isSending = false;
          App.unblockUI("#request-customer-list-block");
          showToastFromResponse(error);
        });
    },
    getCity: function(zipcode) {
      let _self = this;
      $.getJSON("https://ZiptasticAPI.com/" + zipcode, function(result) {
        if (result.error) {
          _self.error = "zip code not found";
          _self.city = "";
          $(".error").addClass("no");
        } else {
          _self.city_full_name = result.city + "," + result.state;
        }
      });
    },

  }
};
</script>
