<template>
  <div id="responsive_edit" class="modal fade" tabindex="-1" data-width="70%">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title">
        <i class="icon-users"></i>
        {{(isCreating) ? 'Edit Request Customer' : 'View Request Customer'}}
      </h4>
    </div>

    <div class="modal-body">
      <div class="row">
        <div class="portlet-body form">
          <!-- BEGIN FORM-->
          <form action="#" class="form-horizontal">
            <div class="form-body">
              <!-- START Form Info-->
              <div class="portlet light bordered col-md-12 padding-10" id="sender-info-block">
                <div class="portlet-title">
                  <div class="caption font-dark">
                    <i class="icon-user font-dark"></i>
                    <span class="caption-subject bold uppercase">Information</span>
                  </div>
                  <div class="actions">
                    <div class="btn-group btn-group-devided"></div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <h3>Customer infor</h3>

                    <form-error
                      :errors="errors"
                      field="service_type"
                      error-class="col-md-offset-3 col-md-8"
                    >
                      <label class="col-md-4 control-label">Name(*)</label>
                      <div class="col-md-8">
                        <div class="input-group">
                          <span class="input-group-addon input-circle-left">
                            <i class="fa fa-indent"></i>
                          </span>
                          <input
                            :disabled="!isCreating"
                            v-model="customer.customer_name"
                            class="form-control"
                            placeholder="Enter customer name"
                          />
                        </div>
                      </div>
                    </form-error>

                    <form-error
                      :errors="errors"
                      field="service_type"
                      error-class="col-md-offset-3 col-md-8"
                    >
                      <label class="col-md-4 control-label">Phone(*)</label>
                      <div class="col-md-8">
                        <div class="input-group">
                          <span class="input-group-addon input-circle-left">
                            <i class="fa fa-indent"></i>
                          </span>
                          <input
                            :disabled="!isCreating"
                            v-model="customer.customer_phone"
                            class="form-control"
                            placeholder="Enter customer phone"
                          />
                        </div>
                      </div>
                    </form-error>

                    <form-error
                      :errors="errors"
                      field="service_type"
                      error-class="col-md-offset-3 col-md-8"
                    >
                      <label class="col-md-4 control-label">Email(*)</label>
                      <div class="col-md-8">
                        <div class="input-group">
                          <span class="input-group-addon input-circle-left">
                            <i class="fa fa-indent"></i>
                          </span>
                          <input
                            :disabled="!isCreating"
                            v-model="customer.customer_email"
                            class="form-control"
                            placeholder="Enter customer email"
                          />
                        </div>
                      </div>
                    </form-error>

                    <form-error
                      :errors="errors"
                      field="service_type"
                      error-class="col-md-offset-3 col-md-8"
                    >
                      <label class="col-md-4 control-label">Address(*)</label>
                      <div class="col-md-8">
                        <div class="input-group">
                          <span class="input-group-addon input-circle-left">
                            <i class="fa fa-indent"></i>
                          </span>
                          <input
                            :disabled="!isCreating"
                            class="form-control"
                            v-model="customer.customer_address"
                            placeholder="Enter customer address"
                          />
                        </div>
                      </div>
                    </form-error>

                    <form-error
                      :errors="errors"
                      field="service_type"
                      error-class="col-md-offset-3 col-md-8"
                    >
                      <label class="col-md-4 control-label">Zip code(*)</label>
                      <div class="col-md-8">
                        <div class="input-group">
                          <span class="input-group-addon input-circle-left">
                            <i class="fa fa-indent"></i>
                          </span>
                          <input
                            :disabled="!isCreating"
                            @change="checkZipcode(customer.customer_zipcode,true)"
                            class="form-control"
                            v-model="customer.customer_zipcode"
                            placeholder="Enter zipcode"
                          />
                        </div>
                      </div>
                    </form-error>

                    <form-error
                      :errors="errors"
                      field="service_type"
                      error-class="col-md-offset-3 col-md-8"
                    >
                      <label class="col-md-4 control-label">ID Number(*)</label>
                      <div class="col-md-8">
                        <div class="input-group">
                          <span class="input-group-addon input-circle-left">
                            <i class="fa fa-indent"></i>
                          </span>
                          <input
                            :disabled="!isCreating"
                            class="form-control"
                            v-model="customer.customer_id_number"
                            placeholder="Enter customer address"
                          />
                        </div>
                      </div>
                    </form-error>

                    <form-error
                      :errors="errors"
                      field="country"
                      error-class="col-md-offset-3 col-md-8"
                    >
                      <label class="col-md-4 control-label">File</label>
                      <div class="col-md-8">
                        <div class="input-group">
                          <image-small-input
                            @change="uploadIDChange"
                            :src="'/storage/request_customer/'+customer.id_number_url"
                          ></image-small-input>
                        </div>
                      </div>
                    </form-error>
                  </div>

                  <div class="col-md-6">
                    <h3>Consignee infor</h3>

                    <form-error
                      :errors="errors"
                      field="status"
                      error-class="col-md-offset-3 col-md-8"
                    >
                      <label class="col-md-4 control-label">Name(*)</label>
                      <div class="col-md-8">
                        <div class="input-group">
                          <span class="input-group-addon input-circle-left">
                            <i class="fa fa-indent"></i>
                          </span>
                          <input
                            :disabled="!isCreating"
                            class="form-control"
                            v-model="customer.consignee_name"
                            placeholder="Enter consignee name"
                          />
                        </div>
                      </div>
                    </form-error>

                    <form-error
                      :errors="errors"
                      field="status"
                      error-class="col-md-offset-3 col-md-8"
                    >
                      <label class="col-md-4 control-label">Phone(*)</label>
                      <div class="col-md-8">
                        <div class="input-group">
                          <span class="input-group-addon input-circle-left">
                            <i class="fa fa-indent"></i>
                          </span>
                          <input
                            :disabled="!isCreating"
                            class="form-control"
                            v-model="customer.consignee_phone"
                            placeholder="Enter consignee phone"
                          />
                        </div>
                      </div>
                    </form-error>

                    <form-error
                      :errors="errors"
                      field="status"
                      error-class="col-md-offset-3 col-md-8"
                    >
                      <label class="col-md-4 control-label">Address(*)</label>
                      <div class="col-md-8">
                        <div class="input-group">
                          <span class="input-group-addon input-circle-left">
                            <i class="fa fa-indent"></i>
                          </span>
                          <input
                            :disabled="!isCreating"
                            class="form-control"
                            v-model="customer.consignee_address"
                            placeholder="Enter consignee address"
                          />
                        </div>
                      </div>
                    </form-error>

                    <form-error
                      :errors="errors"
                      field="status"
                      error-class="col-md-offset-3 col-md-8"
                    >
                      <label class="col-md-4 control-label">Country(*)</label>
                      <div class="col-md-8">
                        <div class="input-group">
                          <span class="input-group-addon input-circle-left">
                            <i class="fa fa-indent"></i>
                          </span>
                          <select
                            :disabled="!isCreating"
                            class="form-control"
                            v-model="customer.consignee_country"
                            placeholder="Select country"
                            @change="changeCountry"
                          >
                            <option value="0">Select Country</option>
                            <option
                              v-for="country in cre_countries"
                              :value="country.id"
                            >{{country.country_name}}</option>
                          </select>
                        </div>
                      </div>
                    </form-error>

                    <form-error
                      :errors="errors"
                      field="status"
                      error-class="col-md-offset-3 col-md-8"
                      v-if="customer.consignee_country == 1"
                    >
                      <label class="col-md-4 control-label">Zipcode(*)</label>
                      <div class="col-md-8">
                        <div class="input-group">
                          <span class="input-group-addon input-circle-left">
                            <i class="fa fa-indent"></i>
                          </span>
                          <input
                            :disabled="!isCreating"
                            class="form-control"
                            v-model="customer.consignee_zipcode"
                            placeholder="Enter zipcode"
                          />
                        </div>
                      </div>
                    </form-error>

                    <form-error
                      :errors="errors"
                      field="status"
                      error-class="col-md-offset-3 col-md-8"
                      v-if="customer.consignee_country == 2"
                    >
                      <label class="col-md-4 control-label">City(*)</label>
                      <div class="col-md-8">
                        <div class="input-group">
                          <span class="input-group-addon input-circle-left">
                            <i class="fa fa-indent"></i>
                          </span>
                          <select
                            :disabled="!isCreating"
                            class="form-control"
                            v-model="customer.consignee_city"
                          >
                            <option value="0">Select City</option>
                            <option v-for="city in cities" :value="city.value">{{city.label}}</option>
                          </select>
                        </div>
                      </div>
                    </form-error>

                    <form-error
                      :errors="errors"
                      field="status"
                      error-class="col-md-offset-3 col-md-8"
                      v-if="customer.consignee_country == 2 && customer.consignee_city!= '' "
                    >
                      <label class="col-md-4 control-label">District(*)</label>
                      <div class="col-md-8">
                        <div class="input-group">
                          <span class="input-group-addon input-circle-left">
                            <i class="fa fa-indent"></i>
                          </span>
                          <select
                            :disabled="!isCreating"
                            class="form-control"
                            v-model="customer.consignee_district"
                          >
                            <option value="0">Select District</option>
                            <option
                              v-for="district in districts"
                              :value="district.value"
                            >{{district.label}}</option>
                          </select>
                        </div>
                      </div>
                    </form-error>

                    <form-error
                      :errors="errors"
                      field="status"
                      error-class="col-md-offset-3 col-md-8"
                      v-if="customer.consignee_country == 2 && customer.consignee_district!= '' "
                    >
                      <label class="col-md-4 control-label">Ward(*)</label>
                      <div class="col-md-8">
                        <div class="input-group">
                          <span class="input-group-addon input-circle-left">
                            <i class="fa fa-indent"></i>
                          </span>
                          <input
                            :disabled="!isCreating"
                            class="form-control"
                            v-model="customer.consignee_ward"
                          />
                        </div>
                      </div>
                    </form-error>
                  </div>
                </div>
              </div>
              <!-- END Form Info-->
              <!-- START Form packages-->
              <div class="portlet light bordered col-md-12 padding-10" id="package-info-block">
                <div class="portlet-title">
                  <div class="caption font-dark">
                    <i class="icon-layers font-dark"></i>
                    <span class="caption-subject bold uppercase">Service & Payment</span>
                  </div>
                  <div class="actions">
                    <div class="btn-group btn-group-devided"></div>
                  </div>
                </div>
                <div class="row package-info">
                  <div class="col-md-6">
                    <form-error
                      :errors="errors"
                      field="status"
                      error-class="col-md-offset-2 col-md-10"
                    >
                      <label class="col-md-4 control-label">Service Type(*)</label>
                      <div class="col-md-8">
                        <div class="input-group">
                          <select
                            class="form-control"
                            v-model="customer.service_type_id"
                            :disabled="!isCreating"
                          >
                            <option value="0">Select Service Type</option>
                            <option
                              v-for="service in list_service"
                              :value="service.id"
                            >{{service.service_type_name}}</option>
                          </select>
                        </div>
                      </div>
                    </form-error>
                  </div>
                  <div class="col-md-6">
                    <form-error
                      :errors="errors"
                      field="status"
                      error-class="col-md-offset-2 col-md-10"
                    >
                      <label class="col-md-4 control-label">Payment method(*)</label>
                      <div class="col-md-8">
                        <div class="input-group">
                          <select
                            class="form-control"
                            v-model="customer.payment"
                            :disabled="!isCreating"
                          >
                            <option value="0">Select Payment</option>
                            <option value="1">PAY IN US - THANH TOÁN TẠI Mỹ</option>
                            <option value="2">PAY IN VN - THANH TOÁN TẠI VN</option>
                          </select>
                        </div>
                      </div>
                    </form-error>
                  </div>
                </div>
              </div>
              <!-- END Form packages-->
            </div>
          </form>
          <!-- END FORM-->
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" data-dismiss="modal" class="btn btn-outline dark">Close</button>
      <button type="button" v-if="!isCreating" @click="isCreating = true" class="btn green">Edit</button>
      <button
        v-if="isCreating"
        type="button"
        class="btn green"
        @click="updateCustomer()"
      >{{ (isSending) ? 'Sending ...' : 'Save'}}</button>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    customerProp: {
      type: Object,
      default: function() {
        return {
          sender_name: "",
          customer_code: "",
          address: "",
          zipcode: "",
          receiver_name: "",
          receiver_address: ""
        };
      }
    }
  },
  data: function() {
    return {
      isUpdated: false,
      showError: false,
      errors: "",
      isChecked: 0,
      isSending: false,
      isCreating: false,
      customerError_: {},
      customerCity_: {},
      cre_countries: [],
      list_service: [],
      cities: [],
      districts: [],
      file: {},
      isFile: false
    };
  },
  computed: {
    customer() {
      return this.customerProp;
    }
  },
  created: function() {
    console.log("customer_edit_form created");
    this.loadService();
    this.getCountries();
    this.getCities();
    this.getDistricts();
  },
  beforeMount: function() {
    console.log("customer_edit_form beforeMount");
  },
  mounted: function() {
    console.log("user_form mounted");
    var _self = this;
    $("#responsive_edit").on("hidden.bs.modal", function(e) {
      _self.$emit("close");
      console.log("run close");
      _self.errors = "";
    });
  },
  updated: function() {
    console.log("customer_edit_form updated");
  },
  beforeDestroy: function() {
    console.log("customer_edit_form beforeDestroy");
  },
  watch: {},
  methods: {
    updateCustomer: function() {
      var _self = this;
      if (!this.isSending) {
        var re_email = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,10}))$/;
        var re_phone = /^[+]*[(]{0,1}[0-9]{1,3}[)]{0,1}[-\s\./0-9]*$/g;
        var re_consignee_phone = /^[+]*[(]{0,1}[0-9]{1,3}[)]{0,1}[-\s\./0-9]*$/g;
        if (_self.customer.customer_name === "") {
        showToast("error", "Customer name require", "error");
        return;
      } else if (_self.customer.customer_phone === "") {
        showToast("error", "Customer phone require", "error");
        return;
      } else if (
        !re_phone.test(_self.customer.customer_phone.trim()) ||
        _self.customer.customer_phone.trim().length < 9 ||
        _self.customer.customer_phone.trim().length > 11
      ) {
        showToast("Error", "Customer phone Invalid", "error");
        return;
      } else if (_self.customer.customer_email === "") {
        showToast("error", "Customer email require", "error");
        return;
      } else if (
        !re_email.test(_self.customer.customer_email.trim()) &&
        _self.customer.customer_email.trim() != ""
      ) {
        showToast("Error", "Customer email invalid", "error");
        return;
      } else if (_self.customer.customer_address === "") {
        showToast("error", "Customer address require", "error");
        return;
      } else if (_self.customer.customer_zipcode === "") {
        showToast("error", "Customer zipcode require", "error");
        return;
      } else if (_self.customer.customer_id_number === "") {
        showToast("error", "Customer ID Number require", "error");
        return;
      } 
      // else if (_self.isFile == false) {
      //   showToast("error", "Image id number require", "error");
      //   return;
      // }
       else if (_self.customer.consignee_name === "") {
        showToast("error", "Consignee name require", "error");
        return;
      } else if (_self.customer.consignee_phone === "") {
        showToast("error", "Consignee phone require", "error");
        return;
      } else if (
        !re_consignee_phone.test(_self.customer.consignee_phone.trim()) ||
        _self.customer.consignee_phone.trim().length < 9 ||
        _self.customer.consignee_phone.trim().length > 11
      ) {
        showToast("Error", "Consignee phone Invalid", "error");
        return;
      } else if (_self.customer.consignee_address === "") {
        showToast("error", "Consignee address require", "error");
        return;
      } else if (
        _self.customer.consignee_country === "" ||
        _self.customer.consignee_country == 0
      ) {
        showToast("error", "Consignee country require", "error");
        return;
      } else if (
        _self.customer.consignee_zipcode === "" &&
        _self.customer.consignee_country == 1
      ) {
        showToast("error", "Consignee zipcode require", "error");
        return;
      } else if (
        (_self.customer.consignee_city === "" || _self.customer.consignee_city == 0) &&
        _self.customer.consignee_country == 2
      ) {
        showToast("error", "Consignee city require", "error");
        return;
      } else if (
        (_self.customer.consignee_district === "" ||
          _self.customer.consignee_district == 0) &&
        _self.customer.consignee_country == 2
      ) {
        showToast("error", "Consignee district require", "error");
        return;
      } else if (
        _self.customer.consignee_ward === "" &&
        _self.customer.consignee_country == 2
      ) {
        showToast("error", "Consignee ward require", "error");
        return;
      } else if (
        _self.customer.service_type_id === "" ||
        _self.customer.service_type_id === "0"
      ) {
        showToast("error", "Service type require", "error");
        return;
      } else if (_self.customer.payment === "" || _self.customer.payment === "0") {
        showToast("error", "Payment require", "error");
        return;
      } else {
        this.isSending = true;
        App.blockUI({
          target: "#responsive_edit",
          animate: true
        });
        var formData = new FormData();
        formData.append("file", _self.file);
        formData.append("customer_name", _self.customer.customer_name);
        formData.append("customer_phone", _self.customer.customer_phone);
        formData.append("customer_email", _self.customer.customer_email);
        formData.append("customer_address", _self.customer.customer_address);
        formData.append(
          "customer_id_number",
          _self.customer.customer_id_number
        );
        formData.append("customer_zipcode", _self.customer.customer_zipcode);
        formData.append("consignee_phone", _self.customer.consignee_phone);
        formData.append("consignee_name", _self.customer.consignee_name);
        formData.append("consignee_address", _self.customer.consignee_address);
        formData.append("consignee_zipcode", _self.customer.consignee_zipcode);
        formData.append("consignee_country", _self.customer.consignee_country);
        formData.append("consignee_city", _self.customer.consignee_city);
        formData.append("consignee_ward", _self.customer.consignee_ward);
        formData.append(
          "consignee_district",
          _self.customer.consignee_district
        );
        formData.append("service_type_id", _self.customer.service_type_id);
        formData.append("payment", _self.customer.payment);
        this.$http
          .post(
            AppData.baseUrl + "/api/request-customer/edit/" + _self.customer.id,
            formData
          )
          .then(function(response) {
            _self.pagination = response.data.data;
            showToast(
                  "Updated request label successfully",
                  "Request label's information has been updated",
                  "success"
                );
            eventHub.$emit("REQUEST_CUSTOMER_EDIT");
            $(".modal.in").modal("hide");
            App.unblockUI({
              target: "#responsive_edit",
              animate: true
            });
          })
          .catch(function(error) {
            showToast(
                  "Updated request label failed",
                  "Request label's information has not been updated",
                  "error"
                );
          });
          }
      }
    },
    getCity_: function() {
      let self = this;
      $.getJSON("https://ZiptasticAPI.com/" + this.zip_, function(result) {
        if (result.error) {
          self.error_ = "zip code not found";
          self.city_ = "";
          $(".error").addClass("no");
        } else {
          self.city_ = result.city + "," + result.state;
        }
        console.log(result);
      });
    },
    getCountries: function() {
      var _self = this;
      this.$http
        .get("api/sender/load-country")
        .then(function(response) {
          _self.cre_countries = response.data.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    getCities() {
      var _self = this;
      this.$http.get("api/sender/load-city/2").then(function(response) {
        _self.cities = response.data.data;
      });
    },
    getDistricts() {
      var _self = this;
      this.$http
        .get("api/sender/load-district/" + _self.customer.consignee_city)
        .then(function(response) {
          _self.districts = response.data.data;
        });
    },
    changeCountry: function() {
      var _self = this;
      if (_self.customer.consignee_country == 1) {
        _self.customer.consignee_district = 0;
        _self.customer.consignee_city = 0;
      } else {
        _self.customer.consignee_zipcode = "";
      }
    },
    uploadIDChange: function(event) {
      var _self = this;
      var input = event.target;
      _self.file = {};
      _self.file = input.files[0];
      _self.isFile = true;
    }
  }
};
</script>
