<template>
  <div>
    <div class="row">
      <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="#" class="form-horizontal">
          <div class="form-body">
            <!-- START Form Info-->
            <div class="portlet light bordered col-md-12 padding-15" id="sender-info-block">
              <div class="portlet-title">
                <div class="caption font-dark">
                  <i class="icon-user font-dark"></i>
                  <span class="caption-subject bold uppercase">Information</span>
                </div>
                <div class="actions">
                  <div class="btn-group btn-group-devided"></div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 block-customer-infor">
                  <h3>Customer Information</h3>

                  <form-error
                    :errors="errors"
                    field="service_type"
                    error-class="col-md-offset-3 col-md-8"
                  >
                    <label class="col-md-4 control-label">Name (*)</label>
                    <div class="col-md-8">
                      <div class="input-group">
                        <span class="input-group-addon input-circle-left">
                          <i class="fa fa-indent"></i>
                        </span>
                        <input
                          :disabled="!isCreating"
                          v-model="user.customer_name"
                          class="form-control"
                          placeholder="Enter customer name"
                        />
                      </div>
                    </div>
                  </form-error>

                  <form-error
                    :errors="errors"
                    field="service_type"
                    error-class="col-md-offset-3 col-md-8"
                  >
                    <label class="col-md-4 control-label">Phone (*)</label>
                    <div class="col-md-8">
                      <div class="input-group">
                        <span class="input-group-addon input-circle-left">
                          <i class="fa fa-indent"></i>
                        </span>
                        <input
                          :disabled="!isCreating"
                          v-model="user.customer_phone"
                          class="form-control"
                          placeholder="Enter customer phone"
                        />
                      </div>
                    </div>
                  </form-error>

                  <form-error
                    :errors="errors"
                    field="service_type"
                    error-class="col-md-offset-3 col-md-8"
                  >
                    <label class="col-md-4 control-label">Email (*)</label>
                    <div class="col-md-8">
                      <div class="input-group">
                        <span class="input-group-addon input-circle-left">
                          <i class="fa fa-indent"></i>
                        </span>
                        <input
                          :disabled="!isCreating"
                          v-model="user.customer_email"
                          class="form-control"
                          placeholder="Enter customer email"
                        />
                      </div>
                    </div>
                  </form-error>

                  <form-error
                    :errors="errors"
                    field="service_type"
                    error-class="col-md-offset-3 col-md-8"
                  >
                    <label class="col-md-4 control-label">Address (*)</label>
                    <div class="col-md-8">
                      <div class="input-group">
                        <span class="input-group-addon input-circle-left">
                          <i class="fa fa-indent"></i>
                        </span>
                        <input
                          :disabled="!isCreating"
                          class="form-control"
                          v-model="user.customer_address"
                          placeholder="Enter customer address"
                        />
                      </div>
                    </div>
                  </form-error>

                  <form-error
                    :errors="errors"
                    field="service_type"
                    error-class="col-md-offset-3 col-md-8"
                  >
                    <label class="col-md-4 control-label">Zip code (*)</label>
                    <div class="col-md-8">
                      <div class="input-group">
                        <span class="input-group-addon input-circle-left">
                          <i class="fa fa-indent"></i>
                        </span>
                        <input
                          :disabled="!isCreating"
                          @change="checkZipcode(user.customer_zipcode,true)"
                          class="form-control"
                          v-model="user.customer_zipcode"
                          placeholder="Enter zipcode"
                        />
                      </div>
                    </div>
                  </form-error>
                  <form-error :errors="errors" field="city" error-class="col-md-offset-3 col-md-8">
                    <label class="col-md-4 control-label">City</label>
                    <div class="col-md-8">
                      <div class="input-group">
                        <div
                          v-if="customerError_"
                          class="error form-control input-circle"
                        >{{customerError_}}</div>
                        <div
                          v-if="customerCity_"
                          class="display form-control input-circle"
                        >{{customerCity_}}</div>
                      </div>
                    </div>
                  </form-error>

                  <form-error
                    :errors="errors"
                    field="service_type"
                    error-class="col-md-offset-3 col-md-8"
                  >
                    <label class="col-md-4 control-label">ID Number (*)</label>
                    <div class="col-md-8">
                      <div class="input-group">
                        <span class="input-group-addon input-circle-left">
                          <i class="fa fa-indent"></i>
                        </span>
                        <input
                          :disabled="!isCreating"
                          class="form-control"
                          v-model="user.customer_id_number"
                          placeholder="Enter customer ID Number"
                        />
                      </div>
                    </div>
                  </form-error>

                  <form-error
                    :errors="errors"
                    field="service_type"
                    error-class="col-md-offset-3 col-md-8"
                  >
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-8">
                      <image-small-input @change="uploadIDChange" :src="''"></image-small-input>
                    </div>
                  </form-error>

                </div>

                <div class="col-md-6">
                  <h3>Consignee Information</h3>

                  <form-error
                    :errors="errors"
                    field="status"
                    error-class="col-md-offset-3 col-md-8"
                  >
                    <label class="col-md-4 control-label">Name (*)</label>
                    <div class="col-md-8">
                      <div class="input-group">
                        <span class="input-group-addon input-circle-left">
                          <i class="fa fa-indent"></i>
                        </span>
                        <input
                          :disabled="!isCreating"
                          class="form-control"
                          v-model="user.consignee_name"
                          placeholder="Enter consignee name"
                        />
                      </div>
                    </div>
                  </form-error>

                  <form-error
                    :errors="errors"
                    field="status"
                    error-class="col-md-offset-3 col-md-8"
                  >
                    <label class="col-md-4 control-label">Phone (*)</label>
                    <div class="col-md-8">
                      <div class="input-group">
                        <span class="input-group-addon input-circle-left">
                          <i class="fa fa-indent"></i>
                        </span>
                        <input
                          :disabled="!isCreating"
                          class="form-control"
                          v-model="user.consignee_phone"
                          placeholder="Enter consignee phone"
                        />
                      </div>
                    </div>
                  </form-error>

                  <form-error
                    :errors="errors"
                    field="status"
                    error-class="col-md-offset-3 col-md-8"
                  >
                    <label class="col-md-4 control-label">Address (*)</label>
                    <div class="col-md-8">
                      <div class="input-group">
                        <span class="input-group-addon input-circle-left">
                          <i class="fa fa-indent"></i>
                        </span>
                        <input
                          :disabled="!isCreating"
                          class="form-control"
                          v-model="user.consignee_address"
                          placeholder="Enter consignee address"
                        />
                      </div>
                    </div>
                  </form-error>

                  <form-error
                    :errors="errors"
                    field="status"
                    error-class="col-md-offset-3 col-md-8"
                  >
                    <label class="col-md-4 control-label">Country (*)</label>
                    <div class="col-md-8">
                      <div class="input-group">
                        <span class="input-group-addon input-circle-left">
                          <i class="fa fa-indent"></i>
                        </span>
                        <select
                          :disabled="!isCreating"
                          class="form-control"
                          v-model="user.consignee_country"
                          placeholder="Select country"
                          @change="changeCountry"
                        >
                          <option value="0">Select Country</option>
                          <option
                            v-for="country in cre_countries"
                            :value="country.id"
                          >{{country.country_name}}</option>
                        </select>
                      </div>
                    </div>
                  </form-error>

                  <form-error
                    :errors="errors"
                    field="status"
                    error-class="col-md-offset-3 col-md-8"
                    v-if="user.consignee_country == 1"
                  >
                    <label class="col-md-4 control-label">Zipcode (*)</label>
                    <div class="col-md-8">
                      <div class="input-group">
                        <span class="input-group-addon input-circle-left">
                          <i class="fa fa-indent"></i>
                        </span>
                        <input
                          :disabled="!isCreating"
                          class="form-control"
                          v-model="user.consignee_zipcode"
                          placeholder="Enter zipcode"
                          @change="checkZipcode(user.consignee_zipcode,false)"
                        />
                      </div>
                    </div>
                  </form-error>
                  <form-error
                    v-if="user.consignee_country == 1"
                    :errors="errors"
                    field="city"
                    error-class="col-md-offset-3 col-md-8"
                  >
                    <label class="col-md-4 control-label">City</label>
                    <div class="col-md-8">
                      <div class="input-group">
                        <div
                          v-if="consigneeError_"
                          class="error form-control input-circle"
                        >{{consigneeError_}}</div>
                        <div
                          v-if="consigneeCity_"
                          class="display form-control input-circle"
                        >{{consigneeCity_}}</div>
                      </div>
                    </div>
                  </form-error>

                  <form-error
                    :errors="errors"
                    field="status"
                    error-class="col-md-offset-3 col-md-8"
                    v-if="user.consignee_country == 2"
                  >
                    <label class="col-md-4 control-label">City (*)</label>
                    <div class="col-md-8">
                      <div class="input-group">
                        <span class="input-group-addon input-circle-left">
                          <i class="fa fa-indent"></i>
                        </span>
                        <select
                          :disabled="!isCreating"
                          class="form-control"
                          v-model="user.consignee_city"
                          @change="getDistricts()"
                        >
                          <option value="0">Select City</option>
                          <option v-for="city in cities" :value="city.value">{{city.label}}</option>
                        </select>
                      </div>
                    </div>
                  </form-error>

                  <form-error
                    :errors="errors"
                    field="status"
                    error-class="col-md-offset-3 col-md-8"
                    v-if="user.consignee_country == 2 && user.consignee_city!= '' "
                  >
                    <label class="col-md-4 control-label">District (*)</label>
                    <div class="col-md-8">
                      <div class="input-group">
                        <span class="input-group-addon input-circle-left">
                          <i class="fa fa-indent"></i>
                        </span>
                        <select
                          :disabled="!isCreating"
                          class="form-control"
                          v-model="user.consignee_district"
                        >
                          <option value="0">Select District</option>
                          <option
                            v-for="district in districts"
                            :value="district.value"
                          >{{district.label}}</option>
                        </select>
                      </div>
                    </div>
                  </form-error>

                  <form-error
                    :errors="errors"
                    field="status"
                    error-class="col-md-offset-3 col-md-8"
                    v-if="user.consignee_country == 2 && user.consignee_district!= '' "
                  >
                    <label class="col-md-4 control-label">Ward (*)</label>
                    <div class="col-md-8">
                      <div class="input-group">
                        <span class="input-group-addon input-circle-left">
                          <i class="fa fa-indent"></i>
                        </span>
                        <input
                          :disabled="!isCreating"
                          class="form-control"
                          v-model="user.consignee_ward"
                          placeholder="Enter Ward"
                        />
                      </div>
                    </div>
                  </form-error>
                </div>
              </div>
            </div>
            <!-- END Form Info-->
            <!-- START Form packages-->
            <div class="portlet light bordered col-md-12 padding-15" id="package-info-block">
              <div class="portlet-title">
                <div class="caption font-dark">
                  <i class="icon-layers font-dark"></i>
                  <span class="caption-subject bold uppercase">Service & Payment</span>
                </div>
                <div class="actions">
                  <div class="btn-group btn-group-devided"></div>
                </div>
              </div>
              <div class="row package-info">
                <div class="col-md-6">
                  <form-error
                    :errors="errors"
                    field="status"
                    error-class="col-md-offset-2 col-md-10"
                  >
                    <label class="col-md-4 control-label">Service Type (*)</label>
                    <div class="col-md-8">
                      <div class="input-group">
                        <select
                          class="form-control"
                          v-model="user.service_type_id"
                          :disabled="!isCreating"
                        >
                          <option value="0">Select Service Type</option>
                          <option
                            v-for="service in list_service"
                            :value="service.id"
                          >{{service.service_type_name}}</option>
                        </select>
                      </div>
                    </div>
                  </form-error>
                </div>
                <div class="col-md-6">
                  <form-error
                    :errors="errors"
                    field="status"
                    error-class="col-md-offset-2 col-md-10"
                  >
                    <label class="col-md-4 control-label">Payment method (*)</label>
                    <div class="col-md-8">
                      <div class="input-group">
                        <select class="form-control" v-model="user.payment" :disabled="!isCreating">
                          <option value="0">Select Payment</option>
                          <option value="1">PAY IN US - THANH TOÁN TẠI Mỹ</option>
                          <option value="2">PAY IN VN - THANH TOÁN TẠI VN</option>
                        </select>
                      </div>
                    </div>
                  </form-error>
                </div>

                <div class="col-md-12">
                  <form-error
                    :errors="errors"
                    field="status"
                    error-class="col-md-offset-2 col-md-10"
                  >
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-8">
                      <div class="input-group">
                        <input type="checkbox" v-model="isChecked" class="form-control" />
                        <b>I certify all information is true and correct to the best of my knowledge</b>
                      </div>
                    </div>
                  </form-error>
                </div>
              </div>
            </div>
            <!-- END Form packages-->
          </div>
        </form>
        <!-- END FORM-->
      </div>
    </div>
    <div class="col center-align text-center btn-request-label">
      <div>
        <button
          type="button"
          class="btn btn-lg green"
          @click="updateUser()"
          v-if="isCreating"
        >{{ (isSending) ? 'Sending ...' : 'Create Request'}}</button>
        <button type="button" class="btn default" v-if="isCreating" @click="addNew()">Reset</button>
        <!-- <button type="button" class="btn green btn-circle" v-if="!isCreating">Print</button> -->
        <button
          type="button"
          class="btn btn-lg btn-secondary"
          v-if="!isCreating"
          @click="addNew()"
        >Add New Request</button>
      </div>
    </div>
    <!--
    <div>
      <input type="input" v-model="test_csrf" class="form-control" />
      <button
              type="button"
              class="btn btn-lg green"
              @click="testCsrf()"
            >{{ (isSending) ? 'Sending ...' : 'Test Csrf'}}</button>
    </div> -->
  </div>

</template>
<style>
.date-color {
  background-color: white !important;
}
</style>
<script>
import Datepicker from "vuejs-datepicker";
import Multiselect from "vue-multiselect";
Vue.component("multiselect", Multiselect);
export default {
  props: {
    userProp: {
      type: Object,
      default: function() {
        return {
          customer_name: "",
          customer_phone: "",
          customer_email: "",
          customer_zipcode: "",
          customer_address: "",
          customer_id_number: "",
          consignee_name: "",
          consignee_address: "",
          consignee_phone: "",
          consignee_zipcode: "",
          consignee_country: 0,
          consignee_city: 0,
          consignee_district: 0,
          consignee_ward: "",
          service_type_id: "0",
          payment: "0",
          status: 0,
          test_csrf:""
        };
      }
    }
  },
  data: function() {
    return {
      isSending: false,
      customers: [],
      recipients: [],
      errors: {},
      isCreating: true,
      zipcode_error: false,
      customerCity_: " ",
      customerError_: "",
      consigneeCity_: " ",
      consigneeError_: "",
      package_num: 0,
      send_date: "",
      disabled: false,
      htmlContext: "",
      list_package: [],
      zip_code: "",
      rate_preview: 0,
      list_service: [],
      isChecked: false,
      file: {},
      cre_countries: [],
      cities: [],
      districts: [],
      isFile: false
    };
  },
  computed: {
    user() {
      return this.userProp;
    }
  },
  components: {
    Datepicker,
    Multiselect
  },
  created() {
    var _self = this;
    this.loadService();
    this.getCountries();
    this.getCities();
  },
  mounted() {
    var _self = this;
  },
  methods: {
    updateUser: function() {
      var _self = this;
      console.log
      var re_email = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,10}))$/;
      var re_phone = /^[+]*[(]{0,1}[0-9]{1,3}[)]{0,1}[-\s\./0-9]*$/g;
      var re_consignee_phone = /^[+]*[(]{0,1}[0-9]{1,3}[)]{0,1}[-\s\./0-9]*$/g;
      if (_self.user.customer_name === "") {
        showToast("error", "Customer name require", "error");
        return;
      } else if (_self.user.customer_phone === "") {
        showToast("error", "Customer phone require", "error");
        return;
      } else if (
        !re_phone.test(_self.user.customer_phone.trim()) ||
        _self.user.customer_phone.trim().length < 9 ||
        _self.user.customer_phone.trim().length > 11
      ) {
        showToast("Error", "Customer phone Invalid", "error");
        return;
      } else if (_self.user.customer_email === "") {
        showToast("error", "Customer email require", "error");
        return;
      } else if (
        !re_email.test(_self.user.customer_email.trim()) &&
        _self.user.customer_email.trim() != ""
      ) {
        showToast("Error", "Customer email invalid", "error");
        return;
      } else if (_self.user.customer_address === "") {
        showToast("error", "Customer address require", "error");
        return;
      } else if (_self.user.customer_zipcode === "") {
        showToast("error", "Customer zipcode require", "error");
        return;
      } else if (_self.user.customer_id_number === "") {
        showToast("error", "Customer ID Number require", "error");
        return;
      } else if (_self.isFile == false) {
        showToast("error", "Image id number require", "error");
        return;
      } else if (_self.user.consignee_name === "") {
        showToast("error", "Consignee name require", "error");
        return;
      } else if (_self.user.consignee_phone === "") {
        showToast("error", "Consignee phone require", "error");
        return;
      } else if (
        !re_consignee_phone.test(_self.user.consignee_phone.trim()) ||
        _self.user.consignee_phone.trim().length < 9 ||
        _self.user.consignee_phone.trim().length > 11
      ) {
        showToast("Error", "Consignee phone Invalid", "error");
        return;
      } else if (_self.user.consignee_address === "") {
        showToast("error", "Consignee address require", "error");
        return;
      } else if (
        _self.user.consignee_country === "" ||
        _self.user.consignee_country == 0
      ) {
        showToast("error", "Consignee country require", "error");
        return;
      } else if (
        _self.user.consignee_zipcode === "" &&
        _self.user.consignee_country == 1
      ) {
        showToast("error", "Consignee zipcode require", "error");
        return;
      } else if (
        (_self.user.consignee_city === "" || _self.user.consignee_city == 0) &&
        _self.user.consignee_country == 2
      ) {
        showToast("error", "Consignee city require", "error");
        return;
      } else if (
        (_self.user.consignee_district === "" ||
          _self.user.consignee_district == 0) &&
        _self.user.consignee_country == 2
      ) {
        showToast("error", "Consignee district require", "error");
        return;
      } else if (
        _self.user.consignee_ward === "" &&
        _self.user.consignee_country == 2
      ) {
        showToast("error", "Consignee ward require", "error");
        return;
      } else if (
        _self.user.service_type_id === "" ||
        _self.user.service_type_id === "0"
      ) {
        showToast("error", "Service type require", "error");
        return;
      } else if (_self.user.payment === "" || _self.user.payment === "0") {
        showToast("error", "Payment require", "error");
        return;
      } else if (!_self.isChecked) {
        showToast("error", "Please check Agreement", "error");
        return;
      } else {
        if (!this.isSending) {
          this.checkZipcode(_self.user.customer_zipcode);
          if (!_self.zipcode_error) {
            this.isSending = true;
            var formData = new FormData();
            var _token = $('meta[name="csrf-token"]').attr('content');
            formData.append("_token", _token);
            formData.append("file", _self.file);
            formData.append("customer_name", _self.user.customer_name);
            formData.append("customer_phone", _self.user.customer_phone);
            formData.append("customer_email", _self.user.customer_email);
            formData.append("customer_address", _self.user.customer_address);
            formData.append("customer_id_number", _self.user.customer_id_number);
            formData.append("customer_zipcode", _self.user.customer_zipcode);
            formData.append("consignee_phone", _self.user.consignee_phone);
            formData.append("consignee_name", _self.user.consignee_name);
            formData.append("consignee_address", _self.user.consignee_address);
            formData.append("consignee_zipcode", _self.user.consignee_zipcode);
            formData.append("consignee_country", _self.user.consignee_country);
            formData.append("consignee_city", _self.user.consignee_city);
            formData.append("consignee_ward", _self.user.consignee_ward);
            formData.append(
              "consignee_district",
              _self.user.consignee_district
            );
            formData.append("service_type_id", _self.user.service_type_id);
            formData.append("payment", _self.user.payment);
            this.$http.post("/api/request-customer/store", formData).then(
              response => {
                _self.isSending = false;
                _self.isCreating = false;
                showToast(
                  "Created request customer successfully",
                  "Request customer information has been created",
                  "success"
                );
              },
              error => {
                _self.isSending = false;
                if (error.data && error.data.data) {
                  _self.errors = error.data.data;
                }
                showToast(
                  "Created request customer failed",
                  error.data.message,
                  "error"
                );
              }
            );
          } else {
            _self.isSending = false;
            showToast(
              "Created request customer failed",
              "Zipcode error!",
              "error"
            );
          }
        } else {
          _self.isSending = false;
          showToast(
            "Created request customer failed",
            "Request is creating",
            "error"
          );
        }
      }
    },
    checkZipcode: function(zipcode, isCustomer) {
      let _self = this;
      _self.customerError_ = "";
      _self.consigneeError_ = "";
      $.getJSON("https://ZiptasticAPI.com/" + zipcode, function(result) {
        if (result.error) {
          showToast("warning", "hey, that's not a zipcode!", "warning");
          _self.zipcode_error = true;
          if (isCustomer) {
            _self.customerCity_ = "";
            _self.customerError_ = "hey, that's not a zipcode!";
            _self.user.customer_zipcode = "";
          } else {
            _self.consigneeCity_ = "";
            _self.consigneeError_ = "hey, that's not a zipcode!";
            _self.user.consignee_zipcode = "";
          }
          $(".error").addClass("no");
        } else {
          _self.user.zipcode = zipcode;
          _self.zipcode_error = false;
          if (isCustomer) {
            _self.customerCity_ = result.city + "," + result.state;
          } else {
            _self.consigneeCity_ = result.city + "," + result.state;
          }
        }
      });
    },
    addNew: function() {
      var _self = this;
      _self.isChecked = false;
      _self.isCreating = true;
      (_self.user.customer_name = ""),
        (_self.user.customer_phone = ""),
        (_self.user.customer_email = ""),
        (_self.user.customer_zipcode = ""),
        (_self.user.customer_id_number = ""),
        (_self.user.consignee_name = ""),
        (_self.user.consignee_address = ""),
        (_self.user.consignee_phone = ""),
        (_self.user.consignee_zipcode = ""),
        (_self.user.consignee_country = 0),
        (_self.user.consignee_city = 0),
        (_self.user.consignee_district = 0),
        (_self.user.service_type_id = "0"),
        (_self.user.payment = "0"),
        (_self.user.status = 0);
      location.reload();
    },
    uploadIDChange: function(event) {
      var _self = this;
      var input = event.target;
      _self.file = input.files[0];
      _self.isFile = true;
    },
    loadService: function() {
      var _self = this;
      this.$http.get("api/request-customer/get-service-type").then(
        response => {
          _self.list_service = response.data.data;
        },
        error => {
          console.log(error);
        }
      );
    },
    getCountries: function() {
      var _self = this;
      this.$http
        .get("api/requestcustomer/load-country")
        .then(function(response) {
          console.log("getCountries inside");
          _self.cre_countries = response.data.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    getCities() {
      var _self = this;
      this.$http.get("api/requestcustomer/load-city/2").then(function(response) {
        _self.cities = response.data.data;
      });
    },
    getDistricts() {
      var _self = this;
      this.$http
        .get("api/requestcustomer/load-district/" + _self.user.consignee_city)
        .then(function(response) {
          _self.districts = response.data.data;
        });
    },
    changeCountry: function() {
      var _self = this;
      if (_self.user.consignee_country == 1) {
        _self.user.consignee_district = 0;
        _self.user.consignee_city = 0;
      } else {
        _self.user.consignee_zipcode = "";
      }
    },
    testCsrf: function() {
      var _self = this;
      var formData = new FormData();
      var _token = $('meta[name="csrf-token"]').attr('content');
      formData.append("test_csrf", _self.test_csrf);
      formData.append("_token", _token);
      this.$http.post("/api/request-customer/test-csrf", formData).then(
        response => {
          _self.isSending = false;
          _self.isCreating = false;
        },
        error => {
          _self.isSending = false;
          if (error.data && error.data.data) {
            _self.errors = error.data.data;
          }
        }
      );
    }
  }
};
</script>
