<template>
  <div class="portlet light bordered" id="request-customer-list-block">
    <div v-for="n in showEditModal">
      <request-customer-view-form
        @close="onCloseEdit()"
        :customerProp="current_customer"
        :listServiceProd="list_service_prod"
        :creCountriesProd="cre_countries_prod"
        :citiesProd="cities_prod"
        :districtsProd="districts_prod"
      ></request-customer-view-form>
    </div>
    <div v-for="n in showConfirmModal">
      <request-customer-confirm-form
        @close="onCloseConfirm()"
        :customerProp="current_customer"
        :customerCodeGenProp="customer_code_gen"
      ></request-customer-confirm-form>
    </div>
    <div class="portlet-title">
      <div class="caption">
        <i class="icon-users font-red"></i>
        <span class="caption-subject font-red sbold uppercase">List All Request Customer</span>
      </div>
      <div class="actions">
        <a class="btn sbold green btn-circle" href="../request-customer" role="button" target="_blank">
          Add New
          <i class="fa fa-plus"></i>
        </a>
      </div>
    </div>
    <div class="portlet-body">
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table
              class="table table-striped table-bordered table-hover no-footer"
              role="grid"
              id="recipient-table"
            >
              <thead>
                <tr role="row" class="heading heading-custom">
                  <th>Action</th>
                  <th>Status</th>
                  <th class="nowrap">Customer Name</th>
                  <th>Zipcode</th>
                  <th class="nowrap">Customer Phone</th>
                  <th class="nowrap">Customer Email</th>
                  <th class="nowrap">Consignee Name</th>
                  <th class="nowrap">Consignee Phone</th>
                  <th class="nowrap">Service Type</th>
                  <th>Payment</th>
                </tr>
                <tr>
                  <th></th>
                  <th>
                    <div class="form-group">
                      <select v-model="filterStatus" @change="filterChange" class="form-control form-control-select">
                        <option value="-1">All</option>
                        <option
                          v-for="status in requestLabelStatus"
                          :value="status.index"
                        >{{status.name}}</option>
                      </select>
                    </div>
                  </th>
                  <th>
                    <div class="form-group">
                      <input
                        class="form-control"
                        type="text"
                        v-model="filterCustomerName"
                        @keyup.enter="filterChange"
                      />
                    </div>
                  </th>
                  <th>
                    <div class="form-group">
                      <input
                        class="form-control"
                        type="text"
                        v-model="filterCustomerZipcode"
                        @keyup.enter="filterChange"
                      />
                    </div>
                  </th>
                  <th>
                    <div class="form-group">
                      <input
                        class="form-control"
                        type="text"
                        v-model="filterCustomerPhone"
                        @keyup.enter="filterChange"
                      />
                    </div>
                  </th>
                  <th>
                    <div class="form-group">
                      <input
                        class="form-control"
                        type="text"
                        v-model="filterCustomerEmail"
                        @keyup.enter="filterChange"
                      />
                    </div>
                  </th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th>
                  </th>
                  
                </tr>
              </thead>
              <tbody>
                <tr
                  v-if="pagination &&  pagination.data && pagination.data.length > 0"
                  v-for="model in pagination.data"
                  role="row"
                  class="odd"
                >
                  <td class="nowrap">
                    <button
                      v-if="model.status == 1"
                      class="btn btn-success btn-default tooltip-custom-right"
                      @click="onClickConfirmButton(model)"
                      data-toggle="modal"
                      href="#responsive_confirm"
                    >
                    <i class="fa fa-check-square"></i>
                      Confirm
                    </button>
                    <button
                      v-if="model.status == 1"
                      class="btn red btn-default tooltip-custom"
                      @click="deleteRequestLabel(model.id, model.customer_name)"
                    >
                    <i class="fas fa-trash"></i>
                    <span class="tooltiptext-right">Delete Request</span>
                    </button>
                    <button
                      v-if="model.status == 1"
                      class="btn btn-info tooltip-custom"
                      @click="onClickEditButton(model)"
                      data-toggle="modal"
                      href="#responsive_edit"
                      >
                      <i class="fa fa-edit"></i>
                      <span class="tooltiptext-right">View Information</span>
                      </button>
                  </td>
                  <td>{{requestLabelStatus[(model.status-1)].name}}</td>
                  <td>{{model.customer_name}}</td>
                  <td>{{model.customer_zipcode}}</td>
                  <td>{{model.customer_phone}}</td>
                  <td>{{model.customer_email}}</td>
                  <td>{{model.consignee_name}}</td>
                  <td>{{model.consignee_phone}}</td>
                  <td>{{list_service[(model.service_type_id-1)].service_type_name}}</td>
                  <td class="nowrap">{{payments[(model.payment-1)].label}}</td>
                </tr>
                <tr v-if="!pagination || pagination.data && pagination.data.length == 0">
                  <td colspan="10">No Data - No find data</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div v-if="pagination &&  pagination.data && pagination.data.length > 0">
        <div class="col-md-12">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <div class="table-center pagination-detail"><span class="pagination-info">Showing <b>{{pagination.current_page}}</b> to <b>{{pagination.last_page}}</b> of <b>{{pagination.total}}</b> rows</span></div>
            <ul class="pager">
              <li
                data-lp="1"
                class="previous"
                v-bind:class="pagination.current_page == 1?'disabled':''"
              >
                <a href="javascript:void(0);" @click="backPage()">
                  <i class="fa fa-angle-left"></i>
                </a>
              </li>
              <span>{{pagination.current_page}}/{{pagination.last_page}}</span>
              <li
                data-lp="8"
                class="next"
                v-bind:class="pagination.current_page == pagination.last_page?'disabled':''"
              >
                <a href="javascript:void(0);" @click="nextPage()">
                  <i class="fa fa-angle-right fa-4"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4"></div>
        </div>
      </div>
    </div>
  </div>
</template>
<style scoped>
.actions {
  margin-right: 10px;
}
.table-responsive .form-control {
  height: 25px;
  width: 100%;
}
.form-group {
  margin-bottom: 0px !important;
}
</style>
<script>
import RequestCustomerConfirmForm from './FormConfirm.vue';
import RequestCustomerViewForm from "./FormView.vue";
export default {
  data: function() {
    return {
      search: "",
      pagination: {},
      filterStatus: "",
      currentPage: 1,
      filterCustomerName: "",
      filterCustomerPhone: "",
      filterCustomerEmail: "",
      filterCustomerZipcode: "",
      showNewModal: 1,
      showEditModal: 1,
      isEdited: false,
      current_customer: {},
      current_customer_package: {},
      origin_customer: {},
      edit_zipcode: "",
      showConfirmModal: 1,
      requestLabelStatus: [
        { index: 1, name: "Pending" },
        { index: 2, name: "Approved" }
      ],
      city_full_name: "",
      customer_code: "",
      customer_id: 0,
      list_service:[],
      list_service_prod:[],
      cities_prod:[],
      cre_countries_prod:[],
      districts_prod:[],
      payments:[
        {index:1, label:"PAY IN US"},
        {index:2, label:"PAY IN VN"}
      ],
      customer_code_gen:''
    };
  },
  props: {},
  components: {
    RequestCustomerViewForm,RequestCustomerConfirmForm
  },
  mounted: function() {
    var _self = this;

    $(document).ready(function() {
      $('[data-toggle="popover"]').popover();
    });
    eventHub.$on('REQUEST_CUSTOMER_CONFIRM', function () {
                _self.refresh();
    });
    eventHub.$on('REQUEST_CUSTOMER_EDIT', function () {
                _self.refresh();
    });
    this.refresh();
  },
  created() {
    this.loadService();
  },
  watch: {},
  computed: {
    searchQuery: function() {
      var query =
        "?orderBy=created_at&sortedBy=desc&page=" + this.currentPage + "&";
      var search = "";
      if (this.filterCustomerName) {
        search += "customer_name=" + this.filterCustomerName + "&";
      }
      if (this.filterCustomerPhone) {
        search += "customer_phone=" + this.filterCustomerPhone + "&";
      }
      if (this.filterCustomerEmail) {
        search += "customer_email=" + this.filterCustomerEmail + "&";
      }
      if (this.filterCustomerZipcode) {
        search += "customer_zipcode=" + this.filterCustomerZipcode + "&";
      }
      if (this.filterStatus && this.filterStatus >= 0) {
        search += "status=" + this.filterStatus + "&";
      }
      query += search.slice(0, -1);
      return query;
    },
    pages: function() {
      var pages = [];
      if (this.pagination && this.pagination.last_page) {
        for (var i = 1; i <= this.pagination.last_page; i++) {
          pages.push(i);
        }
      }
      return pages;
    }
  },
  methods: {
    onCloseEdit() {
      this.showEditModal -= 1;
    },
    onCloseConfirm() {
      this.showConfirmModal -= 1;
    },
    onClickEditButton(model) {
      this.isEdited = false;
      this.current_customer = model;
      this.setOriginCustomer(model);
      /** prod */
      this.loadService();
      this.getCities();
      this.getCountries();
      this.getDistricts(model.consignee_city);
      this.showEditModal += 1;
    },
    onClickConfirmButton(model) {
      this.isEdited = false;
      this.current_customer = model;
      this.setOriginCustomer(model);
      this.getCustomerCode_();
      this.showConfirmModal += 1;
    },
    setOriginCustomer(model) {
      this.origin_customer = _.clone(model);
    },
    searchChange: _.debounce(function() {
      this.refresh();
    }, 500),
    refresh: function() {
      App.blockUI({
        target: "#request-customer-list-block",
        animate: true
      });
      $(".btn-checked").html("Check Clicked");
      var _self = this;
      this.$http
        .get(
          AppData.baseUrl +
            "/api/request-customer/pagination" +
            this.searchQuery
        )
        .then(function(response) {
          _self.pagination = response.data.data;
          App.unblockUI("#request-customer-list-block");
        })
        .catch(function(error) {
          App.unblockUI("#request-customer-list-block");
        });
    },
    changePage: function(index) {
      this.currentPage = index;
      this.refresh();
    },
    backPage: function() {
      if (this.currentPage > 1) {
        this.currentPage--;
        this.refresh();
      }
    },
    nextPage: function() {
      if (this.currentPage < this.pagination.last_page) {
        this.currentPage++;
        this.refresh();
      }
    },
    filterChange: function() {
      this.refresh();
    },
    deleteRequestLabel: function(id, customer_name) {
      if (confirm("Are you sure you want to delete ("+customer_name+") customer?")) {
        App.blockUI({
          target: "#request-customer-list-block",
          animate: true
        });
        return this.$http
          .delete(AppData.baseUrl + "/api/request-customer/" + id)
          .then(function(response) {
            App.unblockUI("#request-customer-list-block");
            showToastFromResponse(response);
            this.refresh();
          })
          .catch(function(error) {
            App.unblockUI("#request-customer-list-block");
            showToastFromResponse(error);
          });
      }
    },
    approveRequestCustomer: function(model) {
      var _self = this;

      if (confirm("Do you sure approve this request?")) {
        App.blockUI({
          target: "#request-customer-list-block",
          animate: true
        });
        this.getCustomerCode(model);
        this.getCity(model.customer_zipcode);
      }
    },
    getCity: function(zipcode) {
      let _self = this;
      $.getJSON("https://ZiptasticAPI.com/" + zipcode, function(result) {
        if (result.error) {
          _self.error = "zip code not found";
          _self.city = "";
          $(".error").addClass("no");
        } else {
          _self.city_full_name = result.city + "," + result.state;
        }
        console.log(result);
      });
    },
    loadService: function() {
      var _self = this;
      this.$http.get("api/request-customer/get-service-type").then(
        response => {
          _self.list_service = response.data.data;
          _self.list_service_prod = response.data.data;
        },
        error => {
          console.log(error);
        }
      );
    },
    getCountries: function() {
      var _self = this;
      this.$http
        .get("api/sender/load-country")
        .then(function(response) {
          _self.cre_countries_prod = response.data.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    getCities() {
      var _self = this;
      this.$http.get("api/sender/load-city/2").then(function(response) {
        _self.cities_prod = response.data.data;
      });
    },
    getDistricts(consignee_city) {
      var _self = this;
      this.$http
        .get("api/sender/load-district/" + consignee_city)
        .then(function(response) {
          _self.districts_prod = response.data.data;
        });
    },
    getCustomerCode_: function() {
      var _self = this;
      this.$http.get("api/customers/load-customer-code/0").then(response => {
        _self.customer_code_gen = response.data.data;
        //_self.customer_code_gen = _.assignIn(_self.customer_code_gen, response.data.data);
      });
    },
  }
};
</script>