<template>
    <div id="responsive_edit" class="modal fade" tabindex="-1" data-width="70%">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title"><i class="icon-layers"></i> Shipment Information</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form action="#" class="form-horizontal">
                        <div class="form-body">
                            <form-error :errors="errors" field="commodity_name" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Shipment Status</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon input-circle-left">
                                            <i class="fa fa-bars"></i>
                                        </span>
                                        <select v-model="shipment.status" class="form-control" style="width: 150px;">
                                            <option value="">Status</option>
                                            <option v-for="type_ in typeStatus" :value="type_.index">{{ type_.name }}</option>
                                        </select>
                                        <button type="button" style="height: 34px;" class="btn green" @click="changeStatusExportList()">{{ (isSending) ? 'Saving ...' : 'Change'}}
                                        </button>
                                    </div>
                                </div>
                            </form-error>
                        </div>
                    </form>
                    <!-- END FORM-->
                </div>
            </div>
        </div>
        <div class="portlet light bordered col-md-12">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase"> #REF -  {{shipment.shipment_code}}
                    -
                    {{shipment.firstname}} {{shipment.lastname}} - {{shipment.customer_code}}</span>
                </div>
                <div class="actions col-md-12">
                    
                </div>
            </div>
            <div class="portlet-body form col-md-12">
                <div class="col-md-6">
                    <!-- START Sender Infor-->
                    <div class="portlet light bordered col-md-12">
                        <div class="portlet-title">
                            <div class="caption font-dark">
                                <i class="icon-settings font-dark"></i>
                                <span class="caption-subject bold uppercase"> Sender </span>
                            </div>
                        </div>
                        <div class="portlet-body form col-md-12">
                            <form role="form" lpformnum="1">
                                
                            </form>
                        </div>
                    </div>
                    <!-- END sender infor-->
                    <!-- START Recipient Infor-->
                    <div class="portlet light bordered col-md-12">
                        <div class="portlet-title">
                            <div class="caption font-dark">
                                <i class="icon-settings font-dark"></i>
                                <span class="caption-subject bold uppercase"> Recipient </span>
                            </div>
                        </div>
                        <div class="portlet-body form col-md-12">
                            <form role="form" lpformnum="1">
                                
                            </form>
                        </div>
                    </div>
                    <!-- END Recipient infor-->
                </div>
                <div class="col-md-6">
                    <!-- START Shipment Infor-->
                    <div class="portlet light bordered col-md-12">
                        <div class="portlet-title">
                            <div class="caption font-dark">
                                <i class="icon-settings font-dark"></i>
                                <span class="caption-subject bold uppercase"> Shipment&Fee </span>
                            </div>
                        </div>
                        <div class="portlet-body form col-md-12">
                            <form role="form" lpformnum="1">
                                
                            </form>
                        </div>
                    </div>
                    <!-- END Shipment infor-->
                    
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-outline dark">Close</button>
            
        </div>
    </div>
</template>
<script>
    export default{
        props: {
            exportListProp: {
                type: Object,
                default: function () {
                    return {
                        
                    }
                }
            },
        },
        data: function () {
            return {
                isUpdated: false,
                showError: false,
                errors: '',
                role_id: AppData.role_id,
                isSending: false,
                disabled: 1,
                typeStatus: [
                    {index: 1, name: 'New'},
                    {index: 2, name: 'In Use'},
                    {index: 3, name: 'Boarding'},
                    {index: 4, name: 'Completed'}
                ]
            }
        },
        computed: {
            shipment() {
                return this.exportListProp;
            }
        },
        created: function () {
            console.log('commodityCate_edit_form created');
        },
        beforeMount: function () {
            console.log('commodityCate_edit_form beforeMount');
        },
        mounted: function () {
            var _self = this;
            console.log('commodityCate_edit_form mounted');
            $('#responsive_edit').on('hidden.bs.modal', function (e) {
                _self.$emit('close');
                console.log('run close');
                _self.errors = '';
            });
        },
        updated: function () {
            console.log('shipment updated');
        },
        beforeDestroy: function () {
            console.log('shipment beforeDestroy');
        },
        methods: {
            changeStatusExportList: function () {
                var _self = this;
                if (confirm("Do you want to change status?")) {
                    var id = _self.shipment.shipment_id;
                    var status = _self.shipment.status;
                    _self.isSending = true;
                    return this.$http.post('/api/shipments/change-status',_self.shipment).then(function (response) {
                        _self.isSending = false;
                        eventHub.$emit("shipment_update_status", true);
                        showToastFromResponse(response);
                        this.refresh();
                    }).catch(function (error) {
                        _self.isSending = false;
                        showToastFromResponse(error);
                    })
                }
            },
        }
    }
</script>
