<template>
<div>
    <!-- Start Export List-->
    <div class="col-md-12">
        <div class="portlet light bordered col-md-12">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase"> AWB Information </span>
                </div>
                <div class="actions">
                    <div class="btn-group btn-group-devided">

                    </div>
                </div>
            </div>
            <div class="portlet-body form">
                <form role="form" lpformnum="1" style="width: 100%;">
                    <div class="form-group col-md-12">
                        <label class="col-md-6"><b>Total Weight:</b></label>
                        <div class="col-md-6">
                            {{exportListDetail.total_weight}} Ibs
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="col-md-6"><b>Total Packages:</b></label>
                        <div class="col-md-6">
                            {{exportListDetail.total_packages}}
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="col-md-6"><b>Total Box:</b></label>
                        <div class="col-md-6">
                            {{exportListDetail.total_box}}
                        </div>
                    </div>
                    <div>
                        <div class="caption font-dark">
                            <i class="icon-settings font-dark"></i>
                            <span class="caption-subject bold uppercase"> Export AWB Info </span>
                        </div>
                        <div class="actions">
                            <div class="btn-group btn-group-devided">
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="col-md-6"><b>Number Master AWB:</b></label>
                            <div class="col-md-6" style="display: flex;">
                                <input class="form-control" style="width: 30%;" type='text' v-model="awbInfo.numberMasterAwwb">
                                <input class="form-control" style="width: 30%;" type='text' v-model="awbInfo.codeMasterAwwb">
                                <input class="form-control" style="width: 40%;" type='text' v-model="awbInfo.seriesMasterAwwb">
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="col-md-6"><b>Airport AWB:</b></label>
                            <div class="col-md-6">
                                <input class="form-control" type='text' v-model="awbInfo.airportAwb">
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="col-md-6"><b>Date AWB:</b></label>
                            <div class="col-md-6">
                                <input class="" type='date' v-model="awbInfo.dateAwb">
                            </div>
                        </div>
                    <!--    <div class="form-group col-md-12">
                            <label class="col-md-6"><b>Air Carrier:</b></label>
                            <div class="col-md-6">
                                <v-select ref="search" label="name" v-model="awbInfo.airCarrierAwb" placeholder="Air Carrier" :options="air_options"></v-select>
                            </div>
                        </div> -->
                        <div class="form-group col-md-12">
                            <label class="col-md-6"><b>Total USD:</b></label>
                            <div class="col-md-6">
                                <input class="form-control" type='text' v-model="awbInfo.totalUsd">
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="col-md-6"><b>Total Rate/Charge:</b></label>
                            <div class="col-md-6">
                                <input class="form-control" type='text' v-model="awbInfo.rateCharge">
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="col-md-6"><b>Nature and Quantity of Goods:</b></label>
                            <div class="col-md-6">
                                <input class="form-control" type='text' v-model="awbInfo.volume">
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <button type="button" style="background-color: rgb(230, 126, 34); border-color: rgb(230, 126, 34); color: white;" class="wizard-btn" @click="printMAWB()">PRINT MAWB</button>    
                        <button type="button" style="background-color: rgb(230, 126, 34); border-color: rgb(230, 126, 34); color: white;" class="wizard-btn" @click="printHAWB()">PRINT HAWB</button>    
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--End Export List -->

    <!-- START Export AWB -->
    <!-- 
    <div class="print_wrapper_" id="printAWB">
        <div id="printme_content" class="">
            <div class="table-responsive" style="background-image: url('/assets/global/img/express-cargo/airwaybill-ups.jpg');font-weight: bold;">
                <table class="table table-bordered">
                    <tbody> 
                        <tr style="height: 30px;">
                            <td style="width: 50%;" colspan="6">
                                {{awbInfo.numberMasterAwwb}} | {{awbInfo.codeMasterAwwb}} | {{awbInfo.seriesMasterAwwb}}
                            </td>
                            <td style="width: 50%;">
                                {{awbInfo.numberMasterAwwb}} - | {{awbInfo.seriesMasterAwwb}}
                            </td>
                        </tr>
                        <tr style="height: 10px;"><td style="" colspan="6"></td><td></td></tr>
                        <tr style="height: 85px;">
                            <td style="padding-left: 40px;" colspan="6">
                                T EXPRESS CARGO INC <br/>
                                14936 DILLOR ST <br/>
                                WESTMINSTER. CA 92683<br/>
                                TEL: 714 790 999 <br/>
                            </td>
                            <td></td>
                        </tr>
                        <tr style="height: 10px;"><td style="" colspan="6"></td> <td></td></tr>
                        <tr style="height: 85px;">
                            <td style="padding-left: 40px;" colspan="6">
                                CHI NHANH TONG CONG TY<br/>
                                CHUYEN PHAT NHANH BUU DIEN<br/>
                                CONG TY CO PHAN TAI TP HCM <br/>
                                36 BIS BA VI ST WARD 4 , TAN BINH DIST HCM VIET NAM <br/>
                            </td>
                            <td></td>
                        </tr>
                        <tr style="height: 10px;"><td style="" colspan="6"></td><td></td></tr>
                        <tr style="height: 43px;"><td style="" colspan="6"></td> <td></td></tr>
                        <tr style="">
                            <td style="padding-left: 40px;" colspan="6">
                                UNICARGO EXPRESS INC dba DYNASTY WORLDWIDE<br/>
                                LOGISTICS <br/>
                                LOS ANGELES,UNITED STATES
                            </td> 
                            <td></td>
                        </tr>
                        <tr style="">
                            <td style="" width="45px"></td> 
                            <td style="padding: 5px 0px 0px 4px;width: 90px;">LOS ANGELES, CA - INT'L</td> 
                            <td style="padding: 5px 0px 0px 4px;width: 30px;">{{awbInfo.airportAwb}}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="3" style="padding-left: 40px;">
                                HOCHIMINH CITY
                            </td> 
                            <td colspan="3">
                                {{awbInfo.dateAwb}}
                            </td> 
                            <td></td>
                        </tr>
                        <tr style="height: 90px;">
                            <td colspan="6"></td> 
                            <td></td>
                        </tr>
                        <tr style="height: 150px;">
                            <td style="text-align: right;"> {{summaryP}}</td> 
                            <td> {{exportListDetail.total_packages}}</td> 
                            <td></td>
                            <td> {{exportListDetail.total_weight}}</td>
                            <td> {{awbInfo.rateCharge}}</td>
                            <td>{{awbInfo.totalUsd}}</td>
                            <td>{{awbInfo.volume}}</td>
                        </tr>
                        <tr style="height: 30px;">
                            <td style="text-align: right;">{{summaryP}}</td> 
                            <td> {{exportListDetail.total_packages}}</td> 
                            <td></td>
                            <td> {{exportListDetail.total_weight}}</td>
                            <td>{{awbInfo.rateCharge}}</td>
                            <td>{{awbInfo.totalUsd}}</td>
                            <td></td>
                        </tr>

                        <tr style="height: 30px;">
                            <td style="width: 50%;" colspan="6">
                            </td>
                            <td style="width: 50%;">
                                {{awbInfo.numberMasterAwwb}} - | {{awbInfo.seriesMasterAwwb}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div> -->
    <div class="col-md-12">
        <div class="print_wrapper_ print_wrapper" id="printAWB">
            <div id="printme_content" class="">
                <section class="sheet" style="padding-left:60px">
                    <!-- start section -->
                    <div style="position:relative">
                    <img src="http://dev.express-cargo/assets/global/img/express-cargo/form.png" />
                    </div>

                    <div
                    style="position:absolute;color:black;font-weight: 500;margin-left:28px;top:19px;width:2370px;height:3172px;overflow:hidden"
                    >
                    <div
                        style="position:absolute;font-size:40px;color:black;font-weight: 500;left:0px;top:0px;width:113px;text-align:center"
                    >
                        <b>297</b>
                    </div>
                    <div
                        style="position:absolute;font-size:40px;color:black;font-weight: 500;font-weight: 500 ;left:115px;top:0px;width:113px;text-align:center"
                    >
                        <b>LAX</b>
                    </div>
                    <div
                        style="position:absolute;font-size:40px;color:black;font-weight: 500;left:220px;top:0px;width:240px;text-align:center"
                    >
                        <b>4100 3933</b>
                    </div>
                    <div
                        style="position:absolute;font-size:40px;color:black;font-weight: 500;right:150px;top:0px;width:320;text-align:center"
                    >
                        <b>297-4100 3933</b>
                    </div>

                    <!--Shipper'Name and address-->
                    <div
                        style="position:absolute;font-size:40px;color:black;font-weight: 500;left:23px;top:55px;padding-top:20px;width:480px;height:175px"
                    >
                        T EXPRESS CARGO INC
                        14936 DILLOW ST
                        WESTMINSTER, CA
                    </div>

                    <div
                        style="position:absolute;font-size:40px;color:black;font-weight: 500;left:23px;top:236px"
                    >Tel : -5622139999</div>

                    <!--Air way-->
                    <div
                        style="position:absolute;font-size:40px;color:black;font-weight: 500;right:480px;top:55px;padding-top:20px;width:520px;height:120px"
                    >
                        CHINA AIRLINES (W170)
                        5651 WEST 96TH STREET,
                    </div>
                    
                    <div
                        style="position:absolute;font-size:40px;color:black;font-weight: 500;left:1362px;top:185px"
                    >LOS ANGELES, CA90045, UNITED STATES</div>

                    <!--Consignee's Name and Address-->
                    <div
                        style="position:absolute;font-size:40px;color:black;font-weight: 500;left:0px;top:356px;padding-top:20px;width:690px;height:120px;padding-left:20px"
                    >
                        CHI NHANH TONG CONG TY
                        CHUYEN PHAT NHANH BUU DIEN
                        -CONG TY CO PHAN TAI TP HCM
                    </div>

                    <div
                        style="position:absolute;font-size:40px;color:black;font-weight: 500;left:23px;top:540px"
                    >36 BIS BA VI ST WARD 4 , TAN BINH DIST HCM VIET NAM</div>


                    <!--Issuing Carrier's Agent Name and City-->
                    <div
                        style="position:absolute;font-size:40px;color:black;font-weight: 500;left:0px;top:652px;padding-top:20px;width:900px;height:120px;padding-left:20px"
                    >
                        UNICARGO EXPRESS INC dba DYNASTY WORLDWIDE LOGISTICS
                    </div>
                    
                    <div
                        style="position:absolute;font-size:40px;color:black;font-weight: 500;left:23px;top:776px"
                    >LOS ANGELES,UNITED STATES</div>

                    <!--Accounting Information-->
                    <div
                        style="position:absolute;font-size:42px;color:black;font-weight: 500;left:1115px;top:695px"
                    >Lot# : UEI-AE034738</div>
                    <div
                        style="position:absolute;font-size:42px;color:black;font-weight: 500;left:1725px;top:695px"
                    >FREIGHT PREPAID</div>

                    <div
                        style="position:absolute;font-size:40px;color:black;font-weight: 500;top:885px;width:515px;padding-left:20px;"
                    >0118553/0010</div>

                    <!--Airport of Departure (Addr. of First Carrier) and Requested Routing-->
                    <div
                        style="position:absolute;font-size:40px;color:black;font-weight: 500;left:0px;top:990px;width:1070px;padding-left:20px"
                    >LOS ANGELES, CA - INT'L</div>

                    <div
                        style="position:absolute;font-size:40px;color:black;font-weight: 500;left:1752px;top:972px"
                    ><b>ORIGINAL</b></div>

                    <div
                        style="position:absolute;font-size:40px;color:black;font-weight: 500;left:0px;top:1090px;width:130px;text-align:center"
                    >TPE</div>
                    <div
                        style="position:absolute;font-size:40px;color:black;font-weight: 500;left:155px;top:1090px;width:515px;text-align:center"
                    >CHINA AIRLINES (W170)</div>
                    <div
                        style="position:absolute;font-size:40px;color:black;font-weight: 500;left:645px;top:1090px;width:124px;text-align:center"
                    >SGN</div>
                    <div
                        style="position:absolute;font-size:40px;color:black;font-weight: 500;left:770px;top:1090px;width:95px;text-align:center"
                    >CI</div>
                    <div
                        style="position:absolute;font-size:40px;color:black;font-weight: 500;left:1070px;top:1090px;width:130px;text-align:center"
                    >USD</div>
                    <div
                        style="position:absolute;font-size:40px;color:black;font-weight: 500;left:1202px;top:1090px;width:60px;text-align:center"
                    >PP</div>
                    <div
                        style="position:absolute;font-size:40px;color:black;font-weight: 500;left:1262px;top:1090px;width:64px;text-align:center"
                    >P</div>
                    <div
                        style="position:absolute;font-size:40px;color:black;font-weight: 500;left:1522px;top:1090px;width:356px;text-align:center"
                    >NVD</div>
                    <div
                        style="position:absolute;font-size:40px;color:black;font-weight: 500;left:1876px;top:1090px;width:356px;text-align:center"
                    >as per invoice</div>

                    <div
                        style="position:absolute;font-size:40px;color:black;font-weight: 500;top:1190px;width:535px;text-align:center"
                    >HOCHIMINH CITY</div>
                    <div
                        style="position:absolute;font-size:40px;color:black;font-weight: 500;left:550px;top:1190px;width:265px;text-align:left;padding-left:10px"
                    >CI5117/20</div>
                    <div
                        style="position:absolute;font-size:40px;color:black;font-weight: 500;left:812px;top:1190px;width:265px;text-align:left;padding-left:10px"
                    >6/20/2019</div>
                    <div
                        style="position:absolute;font-size:40px;color:black;font-weight: 500;left:1072px;top:1190px;width:358px;padding-left:20px"
                    >NIL</div>


                    <!--Rate/Charge-->
                    <div
                        style="position:absolute;font-size:40px;color:black;font-weight: 500;left:670px;top:1578px;width:210px;text-align:center"
                    >G.W.</div>
                    <div
                        style="position:absolute;font-size:40px;color:black;font-weight: 500;left:670px;top:1622px;width:210px;text-align:center"
                    >300.0K</div>
                    <div
                        style="position:absolute;font-size:40px;color:black;font-weight: 500;left:0px;top:1622px;width:130px;padding-left:20px;text-align:center"
                    >14 Pices</div>
                    <div
                        style="position:absolute;font-size:40px;color:black;font-weight: 500;left:0px;top:2195px;width:130px;padding-left:20px;text-align:left"
                    >14</div>

                    <div
                        style="position:absolute;font-size:40px;color:black;font-weight: 500;left:135px;top:1622px;width:205px;padding-right:10px;text-align:right;"
                    >300.0K</div>
                    <div
                        style="position:absolute;font-size:40px;color:black;font-weight: 500;left:135px;top:2195px;width:205px;padding-right:10px;text-align:right;"
                    >300.0K</div>

                    <div
                        style="position:absolute;font-size:40px;color:black;font-weight: 500;left:905px;top:1622px;width:248px;padding-right:20px;text-align:right;"
                    >8.00</div>
                    <div
                        style="position:absolute;font-size:40px;color:black;font-weight: 500;left:1180px;top:1622px;width:360px;padding-right:20px;text-align:right;"
                    >$2,4000.00</div>
                    <div
                        style="position:absolute;font-size:40px;color:black;font-weight: 500;left:1180px;top:2195px;width:360px;padding-right:20px;text-align:right;"
                    >$2,4000.00</div>
                    <div
                        style="position:absolute;font-size:40px;color:black;font-weight: 500;left:1568px;top:1554px;width:664px;padding-top:10px;text-align:left;padding-left:20px"
                    >
                        CLOTHES, SHOES, PERSONAL
                        CARE, HOUSEHOLD GOODS
                    </div>
                    <div
                        style="position:absolute;font-size:40px;color:black;font-weight: 500;left:1568px;top:1712px;width:664px;padding-top:10px;text-align:left;padding-left:20px"
                    >
                        No Sed Required - NOEEI
                        30.37(a)
                    </div>


                    <!--Price-->
                    <div
                        style="position:absolute;font-size:40px;color:black;font-weight: 500;left:0px;bottom:815px;width:420px;text-align:right;padding-right:20px;"
                    >2,400.00</div>
                    <div
                        style="position:absolute;font-size:40px;color:black;font-weight: 500;left:0px;bottom:415px;width:420px;text-align:right;padding-right:20px;"
                    >315.00</div>
                    <div
                        style="position:absolute;font-size:40px;color:black;font-weight: 500;left:0px;bottom:220px;width:420px;text-align:right;padding-right:20px;"
                    >2,715.00</div>

                    <div
                        style="position:absolute;font-size:40px;color:black;font-weight: 500;left:1158px;bottom:820px;width:282px;text-align:right;padding-right:20px;"
                    >285.00</div>
                    <div
                        style="position:absolute;font-size:40px;color:black;font-weight: 500;right:190px;bottom:820px;width:282px;text-align:right;padding-right:20px;"
                    >30.00</div>
                    
                    <!--Signature of Shipper or his Agent-->
                    <div
                        style="position:absolute;font-size:40px;color:black;font-weight: 500;left:845px;bottom:362px;width:1385px;text-align:center"
                    >UNICARGO EXPRESS INC. dba DYNASTY WORLDWIDE LOGISTICS GROUP</div>

                    <div
                        style="position:absolute;font-size:40px;color:black;font-weight: 500;left:900px;bottom:165px;width:355px;text-align:left;"
                    >Jun 18, 2019</div>
                    <div
                        style="position:absolute;font-size:40px;color:black;font-weight: 500;left:1502px;bottom:165px;width:512px;text-align:left"
                    >LAX</div>

                    <!--Signature of Issuing Carrier or its Agent-->
                    <div
                        style="position:absolute;font-size:40px;color:black;font-weight: 500;right:113px;bottom:165px;width:470px;text-align:center"
                    >Eddie Han</div>

                    <div
                        style="position:absolute;font-size:40px;color:black;font-weight: 500;right:113px;bottom:60px;width:305px;text-align:left"
                    >
                        <b>297-4100 3933</b>
                    </div>
                    </div>
                    <!-- end section-->
                </section>
            </div>
        </div>
    </div>
    <!-- END Export AWB -->

</div>
</template>
<style>
.dropdown-input {
    border-radius: 0 25px 25px 0 !important;
    width: 100% !important;
}
.dropdown-content {
    z-index: 100 !important;
}
.viewport {
position: relative;
}
.viewport canvas,
.viewport video {
position: absolute;
left: 0;
top: 0;
}
.print_wrapper {
    display:none;
}
</style>
<script>
import VueHtmlToPaper from './vue-html-to-paper.js';
var options = {
        name: '_blank',
            specs: [
            'fullscreen=yes',
            'titlebar=no',
            'scrollbars=yes'
            ],
        styles: [
            'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css',
            'https://unpkg.com/kidlat-css/css/kidlat.css'
        ]
    }
Vue.use(VueHtmlToPaper, options);
Vue.component("v-select", VueSelect.VueSelect);
    export default{
        props: {

        },
        data: function () {
            return {
                showError: false,
                errors: '',
                role_id: AppData.role_id,
                isSending: false,
                isLoadType: false,
                disabled: 1,
                isChecked: false,
                packagePrice: {price:0},
                insurancePrice: 0,
                upsFee: 0,
                otherCharge: {price:0},
                shippingRate:{rate:0, discount_rate:0},
                packageSurchargePrice:{price:0, totalValue:0},
                paymentType:null,
                showUnpaidPaymentType: false,
                paymentTypeItem:null,
                unpaidPaymentType:null,
                customer_type:null,
                shipment_options:[{ "name": 'Customer', "id": '0' , "dataCode":'ABC'}],
                air_options:[{ "name": 'Air', "id": '0' , "dataCode":'ABC'}],
                listShipmentExportList: [],
                listShipmentExportList_master: [],
                checkedList: [],
                listBox:[],
                listItemBox:[],
                current_box:1,
                current_selected_box:0,
                shipmentCodeBarcode:'',
                awbInfo:{
                    'numberMasterAwwb':'',
                    'codeMasterAwwb':'',
                    'seriesMasterAwwb':'',
                    'dateAwb':'',
                    'airportAwb':'',
                    'airCarrierAwb':''
                },
                exportListDetail:{}
            }
        },
        components: {
        },
        computed: {
            
        },
        created: function () {
            var _self = this;
            this.loadDataShipment();
            this.loadAirCarrier();
            _self.listBox.push({'box_id':0});
            console.log('sender_form created');
        },
        watch: {
            checkAll: function (value) {
                var ids = _.transform(this.pagination.data, function (result, model) {
                    result.push(model.id);
                }, []);
                if (value) {
                    this.checkedList = _.union(this.checkedList, ids);
                } else {
                    this.checkedList = _.xor(this.checkedList, ids);
                }
            }
        },
        beforeMount: function () {
            console.log('sender_form beforeMount');
        },
        mounted: function () {
            var url = new URL(location.href);
            var exportlist_id = url.searchParams.get("exportlist_id");
            console.log('prammmmmmm ---------'+exportlist_id);
            var _self = this;
            if(exportlist_id){
                this.$http.get(AppData.baseUrl+'/api/export-list/load-export-list/'+exportlist_id).then(function (response) {
                    // set info
                    _self.exportListDetail = response.data.data;
                }).catch(function (error) {
                    console.log(error);
                });
            }
        },
        updated: function () {
            console.log('sender_form updated');
        },
        beforeDestroy: function () {
            console.log('sender_form beforeDestroy');
        },
        methods: {
            check: function(e) {
                if (e.target.checked) {
                    this.isChecked = true;
                } else {
                    this.isChecked = false;
                }
            },
            validateSelectionShipment(selection) {
                var _self = this;
                //console.log(JSON.stringify(selection)+' has been selected');
                // get detail
                if(selection) {
                    // get detail shipment
                    this.loadShipmentDetail(selection.id);
                }
                //console.log(selection.name+' has been selected');
            },
            loadDataShipment: function () {
                var _self = this;
                //this.$refs.search.click();
                this.$http.get(AppData.baseUrl+'/api/export-list/load-shipments').then(function (response) {
                    _self.shipment_options = response.data.data;
                }).catch(function (error) {
                    console.log(error);
                });
            },
            loadAirCarrier: function () {
                var _self = this;
                //this.$refs.search.click();
                this.$http.get(AppData.baseUrl+'/api/export-list/load-air').then(function (response) {
                    _self.air_options = response.data.data;
                }).catch(function (error) {
                    console.log(error);
                });
            },
            loadShipmentDetail: function (id) {
                var _self = this;
                this.$http.get(AppData.baseUrl+'/api/export-list/shipment-detail/'+id).then(function (response) {
                    var item = response.data.data;
                    if (_self.listShipmentExportList.indexOf(item)==-1){
                        var objIndexS = _self.listItemBox.findIndex((obj => obj.id == item.id));
                        if(objIndexS == -1){
                            console.log(JSON.stringify(objIndexS)+' objIndexS');
                            _self.listShipmentExportList.push(item);
                            _self.listShipmentExportList_master.push(item);
                            _self.listItemBox.push({'box_id':0, 'id':item.id});
                        } else {
                            showToast('Exist Shipment', 'This shipment has been added', 'error');
                        }
                    }
                }).catch(function (error) {
                    console.log(error);
                });
            },
            onClickRemoveBox: function (key) {
                var _self = this;
                if (confirm("Do you want to delete?")) {
                    console.log(JSON.stringify(key)+' key');
                    this.listBox.splice( key, 1 );
                    this.current_box -= 1;
                    // tìm các list của box
                    const list_id = _self.listItemBox.filter(function(value) {
                        return value.box_id == key;
                    });
                    console.log(JSON.stringify(list_id)+' idx');
                    // update list to box 1
                    list_id.forEach(function(entry) {
                        console.log(JSON.stringify(entry)+' entry');
                        var objIndex = _self.listItemBox.findIndex((obj => obj.id == entry.id));
                        _self.listItemBox[objIndex].box_id = 0;
                    });
                    this.onClickCurentBox(0);
                    console.log(JSON.stringify(_self.listItemBox)+' idx');
                }
            },
            onClickNewBox: function () {
                var _self = this;
                //console.log(JSON.stringify(_self.checkedList)+' ITEM has been selected');
                //console.log(JSON.stringify(_self.listShipmentExportList)+' shipment selected list');
                // get current box
                var box_id = _self.current_box;
                if(_self.checkedList && _self.checkedList.length){
                    // create new box
                    _self.listBox.push({'box_id':box_id});
                    _self.current_box++;
                    // add item
                    const checkedList_ = [];
                    _self.checkedList.forEach(function(entry) {
                        // add new box

                        //_self.listItemBox.push({'box_id':box_id, 'id':entry});
                        // update list box 1
                        //objIndex = _self.listItemBox.findIndex((obj => obj.id == entry));
                        //console.log(JSON.stringify(objIndex)+' listItemBox');
                        //_self.listItemBox[objIndex].box_id = box_id;
                        console.log(JSON.stringify(_self.listItemBox)+' listItemBox B');
                        //var item = _self.listItemBox.find(item => item.id === entry);
                        //item.box_id = box_id;
                        console.log(JSON.stringify(box_id)+' listItemBox A');
                        var objIndex = _self.listItemBox.findIndex((obj => obj.id == entry));
                        console.log(JSON.stringify(objIndex)+' listItemBox A1');
                        _self.listItemBox[objIndex].box_id = box_id;

                        console.log(JSON.stringify(_self.listItemBox)+' listItemBox A');
                        checkedList_.push({'id':entry});    
                    });
                    // remove checked in export-list
                    const results = _self.listShipmentExportList.filter(({ id: id1 }) => !checkedList_.some(({ id: id2 }) => id2 === id1));
                    // set lits new for ALL
                    _self.listShipmentExportList = results;
                    // set list shipment for box
                    console.log(JSON.stringify(results)+' Export list has been remove');
                    // reset checkbox
                    $('.checkboxes').each(function () {
                        this.checked = false;
                    });
                    _self.checkedList = [];
                }
            },
            onClickCurentBox: function (box_id) {
                var _self = this;
                _self.current_selected_box = box_id;
                console.log(JSON.stringify(_self.listItemBox)+' box_id');
                const list_id = _self.listItemBox.filter(function(value) {
                                    return value.box_id == box_id;
                                });
                //console.log(JSON.stringify(list_id)+' Export list');                
                // get id 
                const results = _self.listShipmentExportList_master.filter(({ id: id1 }) => list_id.some(({ id: id2 }) => id2 === id1));
                _self.listShipmentExportList = results;
            },
            onClickAddToBox: function (box_id) {
                var _self = this;
                _self.current_selected_box = box_id;
                if(_self.checkedList && _self.checkedList.length){
                    // add item
                    const checkedList_ = [];
                    _self.checkedList.forEach(function(entry) {
                        // add new box
                        var objIndex = _self.listItemBox.findIndex((obj => obj.id == entry));
                        console.log(JSON.stringify(objIndex)+' listItemBox A1');
                        _self.listItemBox[objIndex].box_id = box_id;

                        console.log(JSON.stringify(_self.listItemBox)+' listItemBox A');
                        checkedList_.push({'id':entry});    
                    });
                    // remove checked in export-list
                    const results = _self.listShipmentExportList.filter(({ id: id1 }) => !checkedList_.some(({ id: id2 }) => id2 === id1));
                    // set lits new for ALL
                    _self.listShipmentExportList = results;
                    // set list shipment for box
                    console.log(JSON.stringify(results)+' Export list has been remove');
                    // reset checkbox
                    $('.checkboxes').each(function () {
                        this.checked = false;
                    });
                    _self.checkedList = [];
                }
            },
            deleteItemList: function(id) {
                var _self = this;
                var box_id = _self.current_selected_box;
                var objIndex = _self.listItemBox.findIndex((obj => obj.id == id));
                if(box_id == 0){
                    _self.listItemBox.splice(objIndex, 1);
                    var objIndexM = _self.listItemBox.findIndex((obj => obj.id == id));
                    _self.listShipmentExportList_master.splice(objIndexM, 1);
                } else {
                    _self.listItemBox[objIndex].box_id = 0;
                }
                this.onClickCurentBox(box_id);
            },
            countBoxItems: function (box_id) {
                var _self = this;
                return _self.listItemBox.filter( box => box.box_id == box_id ).length;
            },
            countBoxWeight: function (box_id) {
                var _self = this;
                const list_id = _self.listItemBox.filter(function(value) {
                                    return value.box_id == box_id;
                                });              
                // get id 
                const results = _self.listShipmentExportList_master.filter(({ id: id1 }) => list_id.some(({ id: id2 }) => id2 === id1));
                var val = 0;
                if(results.length) {
                    val = results.map(item => item.package_weight).reduce((prev, next) => parseFloat(prev) + parseFloat(next));
                }
                //var wCount = results.reduce( sumProps('package_weight'));
                return val;
            },
            loadShipmentBarcode: function () {
                var _self = this;
                if(_self.shipmentCodeBarcode){
                    this.$http.get(AppData.baseUrl+'/api/export-list/shipment-detail-code/'+_self.shipmentCodeBarcode).then(function (response) {
                        var item_ = response.data.data;
                        if(item_.success){
                            var item = response.data.data.data;
                            if (_self.listShipmentExportList.indexOf(item)==-1){
                                var objIndexS = _self.listItemBox.findIndex((obj => obj.id == item.id));
                                if(objIndexS == -1){
                                    console.log(JSON.stringify(objIndexS)+' objIndexS');
                                    _self.listShipmentExportList.push(item);
                                    _self.listShipmentExportList_master.push(item);
                                    _self.listItemBox.push({'box_id':0, 'id':item.id});
                                } else {
                                    showToast('Exist Shipment', 'This shipment has been added', 'error');
                                }
                            }
                        } else {
                            showToast('Exist Shipment In Export List', 'This shipment exist other Export List!', 'error');
                        }
                    }).catch(function (error) {
                        console.log(error);
                    });
                }
            },
            saveExportList: function () {
                var _self = this; 
                this.$http.post('/api/export-list', {listBox:_self.listBox, listItemBox: _self.listItemBox, summaryW:_self.summaryW, summaryP:_self.summaryP}).then((response) => {
                    showToast('Created export-list successfully', 'Created export-list information has been created', 'success');
                    alert('Export List created success!');
                    window.location.href = AppData.baseUrl+"/export-list";
                }, (error) => {
                    _self.isSending = false;
                    if (error.data && error.data.data) {
                        _self.errors = error.data.data;
                    }
                    showToast('Created export-list failed', 'export-list has not been created', 'error');
                });
                return true;
            },
            saveExportListAwb: function () {
                var _self = this; 
                this.$http.post('/api/export-list', {listBox:_self.listBox, listItemBox: _self.listItemBox, summaryW:_self.summaryW, summaryP:_self.summaryP, awb:_self.awbInfo}).then((response) => {
                    showToast('Created export-list successfully', 'Created export-list information has been created', 'success');
                    _self.$htmlToPaper('printAWB');
                    
                }, (error) => {
                    _self.isSending = false;
                    if (error.data && error.data.data) {
                        _self.errors = error.data.data;
                    }
                    showToast('Created export-list failed', 'export-list has not been created', 'error');
                });
                return true;
            },
            printMAWB: function () {
                var _self = this;
                _self.$htmlToPaper('printAWB');
            },
            printHAWB: function () {
                
            }
        }
    }
</script>
