<template>
    <div id="responsive_edit" class="modal fade" tabindex="-1" data-width="70%">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title"><i class="icon-users"></i> Edit Export List</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form action="#" class="form-horizontal">
                        <div class="form-body">
                            <form-error :errors="errors" field="customer_code" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Customer Code </label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon input-circle-left">
                                            <i class="fa fa-code"></i>
                                        </span>
                                        <input type="text" class="form-control input-circle-right" placeholder="Customer Code Custom"
                                            v-model="customer.customer_code">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="customer_code" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Awb </label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon input-circle-left">
                                            <i class="fa fa-code"></i>
                                        </span>
                                        <input type="text" class="form-control input-circle-right" placeholder="Customer Awb"
                                            v-model="customer.customer_awb">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="firstname" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Shipment Status</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                    <span class="input-group-addon input-circle-left">
                                        <i class="fa fa-info-circle"></i>
                                    </span>
                                    <input type="text" class="form-control input-circle-right" placeholder="Shipment Status" v-model="customer.shipment_status">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="firstname" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label"></label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <input type="checkbox" v-model="customer.check" @click="check($event)"> <label>Apply Shipment Status for all awb: {{customer.customer_awb}}</label>
                                    </div>
                                </div>
                            </form-error>
                        </div>
                    </form>
                    <!-- END FORM-->
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-outline dark">Close</button>
            <button type="button" class="btn green" @click="updateCustomer()">{{ (isSending) ? 'Sending ...' : 'Save'}}
            </button>
        </div>
    </div>
</template>
<script>
    export default{
        props: {
            customerProp: {
                type: Object,
                default: function () {
                    return {
                        customer_code: '',
                        customer_awb: '',
                        shipment_status: ''
                    }
                }
            }
        },
        data: function () {
            return {
                isUpdated: false,
                showError: false,
                errors: '',
                isChecked:0,
                isSending: false,
            }
        },
        computed: {
            customer() {
                return this.customerProp;
            },
        },
        created: function () {
            console.log('customer_edit_form created');
        },
        beforeMount: function () {
            console.log('customer_edit_form beforeMount');
        },
        mounted: function () {
            console.log('user_form mounted');
            var _self = this;
            $('#responsive_edit').on('hidden.bs.modal', function (e) {
                _self.$emit('close');
                console.log('run close');
                _self.errors = '';
            });
            
        },
        updated: function () {
            console.log('customer_edit_form updated');
        },
        beforeDestroy: function () {
            console.log('customer_edit_form beforeDestroy');
        },
        watch: {
        },
        methods: {
            updateCustomer: function () {
                var _self = this;
                if(!this.isSending) {
                    this.isSending = true;
                    if (this.customer.id) {
                        this.customer.check = this.isChecked;
                        this.$http.post(AppData.baseUrl+'/api/export-list/update-export-list-status', _self.customer).then((response) => {
                            _self.isSending = false;
                            var customer = response.data.data;
                            eventHub.$emit("EXPORTLIST_UPDATED", customer);
                            $('.modal.in').modal('hide') ;
                            _self.errors = '';
                            _self.user = customer;
                            showToast('Updated customer successfully', 'Customer\'s information has been updated', 'success');
                        }, (error) => {
                            _self.isSending = false;
                            if (error.data && error.data.data) {
                                _self.errors = error.data.data;
                            }
                            showToast('Updated customer failed', 'Customer\'s information has not been updated', 'error');
                        });
                    }
                }
            },
            check: function(e) {
                if (e.target.checked) {
                    this.isChecked = 1;
                } else {
                    this.isChecked = 0;
                }
            },
        }
    }
</script>
