<template>
<div>
    <!-- Start Import Export List-->
    <div class="col-md-12">
        <div class="portlet light bordered col-md-12 padding-15">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase"> Import Info </span>
                </div>
                <div class="actions">
                    <div class="btn-group btn-group-devided">
                    </div>
                </div>
            </div>
            <div class="portlet-body form">
                <form role="form" lpformnum="1" id='form-import-customer'>
                    <div class="form-body">
                        <form-error :errors="errors" field="customer_code">
                            <input class="form-control" type="text" placeholder="Customer Code" v-model="model.customer_code">
                        </form-error>
                        <form-error :errors="errors" field="customer_awb">
                            <input class="form-control" type="text" placeholder="Awb Code" v-model="model.customer_awb">
                        </form-error>
                        <form-error :errors="errors" field="shipment_status">
                            <input class="form-control" type="text" placeholder="Shipment Status" v-model="model.shipment_status">
                        </form-error>
                    </div>
                    <div class="form-actions">
                        <button id="btnAdd" type="button" class="btn blue mt-ladda-btn ladda-button"
                                data-style="expand-right" @click="add">
                            <span class="ladda-label">Add</span>
                            <span class="ladda-spinner"></span>
                        </button>
                    </div>
                </form>
                <hr>
                <form role="form" lpformnum="1" method="POST" action="" enctype="multipart/form-data"
                        v-on:submit.prevent="onSubmitForm">
                    <div class="form-body">
                        <p>You can import your customer list with Excel file.Please download <a href="/files/example_importlist.xlsx" target="_blank">Customer
                            excel file template</a></p>
                        <form-error :errors="errors" field="file">
                            <input class="form-control" type="file" name="file" @change.prevent="onFileChange">
                        </form-error>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn blue ladda-button" data-style="expand-left"
                                v-bind:disabled="isLoading"><span
                                class="ladda-label"> {{isLoading?'Importing...':'Import'}} </span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End Import Export List-->
</div>
</template>
<style>
</style>
<script>
    export default{
        data: function () {
            return {
                isShowModal: false,
                formData: new FormData(),
                model: {
                },
                errors: {},
                isLoading: false
            }
        },
        methods: {
            openImportModal: function () {
                this.isShowModal = true;
            },
            submit: function () {
                console.log('Event model submit');
                this.isShowModal = false;
            },
            onFileChange: function (e) {
                this.formData.append('file', e.target.files[0]);
            },
            onSubmitForm: function (e) {
                this.isLoading = true;
                var _self = this;
                this.$http.post(AppData.baseUrl+'/api/export-list/import-upload', this.formData).then(function (response) {
                    console.log(response);
                    showToastFromResponse(response);
                    _self.$emit('importCustomerSuccess');
                    _self.isShowModal = false;
                    _self.formData = new FormData();
                    _self.isLoading = false;
                    this.errors = {};
                    $('#form-import-customer').find('input[type="file"]').val('');
                }).catch(function (error) {
                    if (error.data && error.data.data) {
                        this.errors = error.data.data;
                    } else {
                        showToastFromResponse(error);
                        this.$emit('importCustomerFail');
                        this.isShowModal = false;
                    }
                    _self.isLoading = false;
                });
            },
            add: function () {
                this.$http.post(AppData.baseUrl+'/api/export-list/import-add', this.model).then(function (response) {
                    showToastFromResponse(response);
                    this.isShowModal = false;
                    this.model = {};
                    this.$emit('importCustomerSuccess');
                    eventHub.$emit('SEND_INVITATION_SUCCESS',response.data);
                }).catch(function (error) {
                    if (error.data && error.data.data) {
                        this.errors = error.data.data;
                    } else {
                        showToastFromResponse(error);
                        this.isShowModal = false;
                        this.$emit('importCustomerFail');
                        this.model = {};
                    }
                });
            }
        }
    }
</script>
