<template>
  <div class="portlet light bordered" id="list-export-list-block">
    <div v-for="n in showEditModal">
      <change-status-form @close="onCloseEdit()" :exportListProp="current_exportlist"></change-status-form>
    </div>
    <div class="portlet-title">
      <div class="caption">
        <i class="icon-users font-red"></i>
        <span class="caption-subject font-red sbold uppercase">List All</span>
      </div>
      <div class="actions">
        <a class="btn sbold green btn-circle" href="./export-list/scan" role="button">
          Add New
          <i class="fa fa-plus"></i>
        </a>
      </div>
    </div>
    <div class="portlet-body">
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table
              class="table table-striped table-bordered table-hover no-footer"
              role="grid"
              id="recipient-table"
            >
              <thead>
                <tr role="row" class="heading">
                  <th>Action</th>
                  <th>Status</th>
                  <th>Export List</th>
                  <th>Awb Air</th>
                  <th>Code T Express</th>
                  <th>Total Weight</th>
                  <th>Total Packages</th>
                  <th>Total Box</th>
                  <th>Created Date</th>
                  <th>Updated Date</th>
                </tr>
                <tr>
                  <th></th>
                  <th>
                    <select v-model="filterStatus" @change="refresh()" class style="width: 62px;">
                      <option value>All</option>
                      <option :value="type_.index" v-for="type_ in typeStatus">{{ type_.name }}</option>
                    </select>
                  </th>
                  <th>
                    <input
                      class="form-control"
                      type="text"
                      v-model="filterName"
                      @keyup.enter="refresh()"
                    />
                  </th>
                  <th>
                    <input
                      class="form-control"
                      type="text"
                      v-model="filterAwb"
                      @keyup.enter="refresh()"
                    />
                  </th>
                  <th>
                    <input
                      class="form-control"
                      type="text"
                      v-model="filterCodeTExpress"
                      @keyup.enter="refresh()"
                    />
                  </th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-if="pagination &&  pagination.data && pagination.data.length > 0"
                  v-for="model in pagination.data"
                  role="row"
                  class="odd"
                >
                  <td class="text-center">
                    <a
                      v-if="model.status == 1"
                      :href="'export-list/scan?exportlist_id='+(model.id)"
                      target="_blank"
                      style="color:blue"
                    >Edit</a>
                    <br />
                    <a @click="cancelExportList(model)" style="color:red">Cancel</a>
                  </td>
                  <td>
                    <span
                      class="hide"
                      v-bind:class="typeStatus[model.status].css"
                    >{{typeStatus[model.status].name}}</span>
                    <select
                      class="form-control"
                      v-model="model.status"
                      @change="updateStatus(model)"
                      style="height: 35px;"
                    >
                      <option v-for="status in typeStatus" :value="status.index">{{ status.name }}</option>
                    </select>
                  </td>
                  <td>{{model.export_list_name}}</td>
                  <td>{{model.shipment_barcode_awb}}</td>
                  <td>{{model.code_T_Express}}</td>
                  <td>{{model.total_weight}}</td>
                  <td>{{model.total_packages}}</td>
                  <td>{{model.total_box}}</td>
                  <td>{{model.created_at}}</td>
                  <td>{{model.updated_at}}</td>
                </tr>
                <tr v-if="!pagination || pagination.data && pagination.data.length == 0">
                  <td colspan="10">No Data - No find data</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div v-if="pagination &&  pagination.data && pagination.data.length > 0">
        <div class="col-md-12">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <ul class="pager">
              <li
                data-lp="1"
                class="previous"
                v-bind:class="pagination.current_page == 1?'disabled':''"
              >
                <a href="javascript:void(0);" @click="backPage()">
                  <i class="fa fa-angle-left"></i>
                </a>
              </li>
              <span>{{pagination.current_page}}/{{pagination.last_page}}</span>
              <li
                data-lp="8"
                class="next"
                v-bind:class="pagination.current_page == pagination.last_page?'disabled':''"
              >
                <a href="javascript:void(0);" @click="nextPage()">
                  <i class="fa fa-angle-right fa-4"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4"></div>
        </div>
      </div>
    </div>
  </div>
</template>
<style scoped>
.actions {
  margin-right: 10px;
}
.table-responsive .form-control {
  height: 25px;
  width: 100%;
}
.form-group {
  margin-bottom: 0px !important;
}
</style>
<script>
import changeStatusForm from "./ChangeStatusForm.vue";
export default {
  data: function() {
    return {
      search: "",
      pagination: {},
      filterStatus: "",
      currentPage: 1,
      filterName: "",
      filterAwb: "",
      filterCodeTExpress: "",
      current_recipient: {},
      origin_recipient: {},
      showNewModal: 1,
      showEditModal: 1,
      isEdited: false,
      origin_shiment: {},

      shipment_packages: {},
      historyList: false,
      view_customer_id: "",
      view_sender_id: "",
      view_recipient_id: "",
      view_title: "",

      typeStatus: [
        { index: 1, name: "In Warehouse" },
        { index: 2, name: "Departed" },
        { index: 3, name: "In Transit" },
        { index: 4, name: "Arrived" },
        { index: 5, name: "Cleared Custom" },
        { index: 6, name: "Delivered" }
      ],
      current_exportlist: {}
    };
  },
  props: {},
  components: {
    changeStatusForm
  },
  mounted: function() {
    var _self = this;

    $(document).ready(function() {
      $('[data-toggle="popover"]').popover();
    });
    eventHub.$on("shipment_update_status", function() {
      _self.refresh();
    });
    this.refresh();
  },
  watch: {},
  computed: {
    searchQuery: function() {
      var query =
        "?orderBy=created_at&sortedBy=desc&page=" + this.currentPage + "&";
      var search = "";

      if (this.filterStatus) {
        search += "status=" + this.filterStatus + "&";
      }
      if (this.filterName) {
        search += "export_list_name=" + this.filterName + "&";
      }
      if (this.filterAwb) {
        search += "shipment_barcode_awb=" + this.filterAwb + "&";
      }
      if (this.filterCodeTExpress) {
        search += "code_T_Express=" + this.filterCodeTExpress + "&";
      }
      query += search.slice(0, -1);
      return query;
    },
    pages: function() {
      var pages = [];
      if (this.pagination && this.pagination.last_page) {
        for (var i = 1; i <= this.pagination.last_page; i++) {
          pages.push(i);
        }
      }
      return pages;
    }
  },
  methods: {
    onCloseEdit() {
      this.showEditModal -= 1;
    },
    onCloseNew() {
      this.showNewModal -= 1;
    },
    onClickNewButton() {
      this.showNewModal += 1;
    },
    searchChange: _.debounce(function() {
      this.refresh();
    }, 500),
    refresh: function() {
      App.blockUI({
        target: "#list-exoprt-list-block",
        animate: true
      });
      $(".btn-checked").html("Check Clicked");
      var _self = this;
      this.$http
        .get("api/export-list/pagination" + this.searchQuery)
        .then(function(response) {
          _self.pagination = response.data.data;
          App.unblockUI("#list-exoprt-list-block");
        })
        .catch(function(error) {
          App.unblockUI("#list-exoprt-list-block");
        });
    },
    changePage: function(index) {
      this.currentPage = index;
      this.refresh();
    },
    backPage: function() {
      if (this.currentPage > 1) {
        this.currentPage--;
        this.refresh();
      }
    },
    nextPage: function() {
      if (this.currentPage < this.pagination.last_page) {
        this.currentPage++;
        this.refresh();
      }
    },
    filterChange: function() {
      this.refresh();
    },
    cancelExportList: function(model) {
      if (confirm("Do you want to cancel?")) {
        var oldStatus = model.status;
        App.blockUI({
          target: "#list-exoprt-list-block",
          animate: true
        });
        if (model.status == 1) {
          return this.$http
            .delete("/api/export-list/" + model.id)
            .then(function(response) {
              App.unblockUI("#list-exoprt-list-block");
              showToastFromResponse(response);
              this.refresh();
            })
            .catch(function(error) {
              App.unblockUI("#list-exoprt-list-block");
              showToastFromResponse(error);
            });
        } else {
          return this.$http
            .put("/api/export-list/change-status/" + model.id, {
              status: -1,
              id: model.id
            })
            .then(
              response => {
                App.unblockUI("#list-exoprt-list-block");
                showToastFromResponse(response);
                this.refresh();
              },
              response => {
                model.status = oldStatus;
                App.unblockUI("#list-exoprt-list-block");
                showToastFromResponse(error);
              }
            );
        }
      }
    },
    updateStatus: function(model) {
      var _self = this;
      if (
        confirm(
          "Do you want to change export " + model.export_list_name + " status ?"
        )
      ) {
        var oldStatus = model.status;
        this.$http
          .put("/api/export-list/change-status/" + model.id, {
            status: model.status,
            id: model.id
          })
          .then(
            response => {
              showToast(
                "Updated status successfully",
                "Export List's status has been changed",
                "success"
              );
              this.refresh();
            },
            response => {
              model.status = oldStatus;
              showToast(
                "Updated status failed",
                "Export List's status has not been changed",
                "error"
              );
            }
          );
      }
    }
  }
};
</script>
