<template>
<div class="portlet light bordered" id="list-export-list-import-block">
    <div v-for="n in showEditModal">
        <customer-import-edit-form @close="onCloseEdit()" :customerProp="current_customer"></customer-import-edit-form>
    </div>
<div class="portlet-title">
    <div class="caption">
        <i class="icon-users font-red"></i>
        <span class="caption-subject font-red sbold uppercase">List All</span>
    </div>
    <div class="actions">
        <a class="btn sbold green btn-circle" href="../export-list/import" role="button">Add New <i class="fa fa-plus"></i></a>
    </div>
</div>
<div class="portlet-body">
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover no-footer"
                        role="grid" id="recipient-table">
                    <thead>
                    <tr role="row" class="heading">
                        <th>Customer Code</th>
                        <th>AWB</th>
                        <th>Shipment Status</th>
                        <th>Action</th>
                    </tr>
                    <tr>
                        <th>
                            <div class="form-group">
                                <input class="form-control" type='text' v-model="filterCustomerCode" @keyup.enter="filterChange">
                            </div>
                        </th>
                        <th>
                            <div class="form-group">
                                <input class="form-control" type='text' v-model="filterCustomerAwb" @keyup.enter="filterChange">
                            </div>
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-if="pagination &&  pagination.data && pagination.data.length > 0"
                        v-for="model in pagination.data" role="row" class="odd">
                        <td>
                            <a @click="onClickEditButton(model)"  data-toggle="modal" href="#responsive_edit" alt="">
                                {{model.customer_code}}
                            </a>
                        </td>
                        <td>
                            {{model.customer_awb}}
                        </td>
                        <td>
                            {{model.shipment_status}}
                        </td>
                        <td>
                            <button class="btn red btn-default" @click="deleteExportStatus(model.id)">X</button>
                        </td>
                    </tr>
                    <tr v-if="!pagination || pagination.data && pagination.data.length == 0">
                        <td colspan="10">No Data - No find data</td>
                    </tr>
                    
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row" >
    <div v-if="pagination &&  pagination.data && pagination.data.length > 0">
        <div class="col-md-12">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <ul class="pager">
                    <li data-lp="1" class="previous" v-bind:class="pagination.current_page == 1?'disabled':''"><a
                            href="javascript:void(0);" @click="backPage()"><i
                            class="fa fa-angle-left"></i></a></li>
                    <span>{{pagination.current_page}}/{{pagination.last_page}}</span>
                    <li data-lp="8" class="next"
                        v-bind:class="pagination.current_page == pagination.last_page?'disabled':''"><a
                            href="javascript:void(0);" @click="nextPage()"><i class="fa fa-angle-right fa-4"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
    </div>
</div>
</template>
<style scoped>
    .actions {
        margin-right: 10px;
    }
    .table-responsive .form-control {
        height: 25px;
        width: 100%;
    }
    .form-group {
        margin-bottom: 0px !important;
    }
</style>
<script>
import CustomerImportEditForm from './FormEditELStatus.vue'
    export default{
        data: function () {
            return {
                search: '',
                pagination: {},
                filterStatus: "",
                currentPage: 1,
                filterCustomerCode: '',
                filterCustomerAwb: '',
                showNewModal: 1,
                showEditModal: 1,
                isEdited: false,
                current_customer: {},
                origin_customer: {},
            }
        },
        props: {

        },
        components: {
            CustomerImportEditForm
        },
        mounted: function () {
            var _self = this;

            $(document).ready(function(){
                $('[data-toggle="popover"]').popover();
            });
            eventHub.$on('shipment_update_status', function () {
                _self.refresh();
            });
            eventHub.$on('EXPORTLIST_UPDATED', function () {
                _self.refresh();
            });
            this.refresh();
        },
        watch: {
        },
        computed: {
            searchQuery: function () {
                var query = "?orderBy=created_at&sortedBy=desc&page=" + this.currentPage + "&";
                var search = '';

                if (this.filterCustomerCode) {
                    search += 'customer_code=' + this.filterCustomerCode + '&';
                }
                if (this.filterCustomerAwb) {
                    search += 'customer_awb=' + this.filterCustomerAwb + '&';
                }
                query += search.slice(0, -1);
                return query;
            },
            pages: function () {
                var pages = [];
                if (this.pagination && this.pagination.last_page) {
                    for (var i = 1; i <= this.pagination.last_page; i++) {
                        pages.push(i);
                    }
                }
                return pages;
            }
        },
        methods: {
            onCloseEdit() {
                this.showEditModal -= 1;
            },
            onClickEditButton(model) {
                this.isEdited = false;
                this.current_customer = model;
                this.setOriginCustomer(model);
                this.showEditModal += 1;
            },
            setOriginCustomer(model){
                this.origin_customer = _.clone(model);
            },
            searchChange: _.debounce(function () {
                this.refresh();
            }, 500),
            refresh: function () {
                App.blockUI({
                    target: '#list-exoprt-list-import-block',
                    animate: true
                });
                $('.btn-checked').html('Check Clicked');
                var _self = this;
                this.$http.get(AppData.baseUrl+'/api/export-list/pagination-list' + this.searchQuery).then(function (response) {
                    _self.pagination = response.data.data;
                    App.unblockUI('#list-exoprt-list-import-block');
                }).catch(function (error) {
                    App.unblockUI('#list-exoprt-list-import-block')
                });
            },
            changePage: function (index) {
                this.currentPage = index;
                this.refresh();
            },
            backPage: function () {
                if (this.currentPage > 1) {
                    this.currentPage--;
                    this.refresh();
                }
            },
            nextPage: function () {
                if (this.currentPage < this.pagination.last_page) {
                    this.currentPage++;
                    this.refresh();
                }
            },
            filterChange: function () {
                this.refresh();
            },
            deleteExportStatus: function (id) {
                if (confirm("Do you want to delete?")) {
                    App.blockUI({
                        target: '#list-exoprt-list-import-block',
                        animate: true
                    });
                    return this.$http.delete(AppData.baseUrl+'/api/export-list/import-delete/'+id).then(function (response) {
                        App.unblockUI('#list-exoprt-list-import-block');
                        showToastFromResponse(response);
                        this.refresh();
                    }).catch(function (error) {
                        App.unblockUI('#list-exoprt-list-import-block');
                        showToastFromResponse(error);
                    })
                }
            },
            
        }
    }
</script>
