<template>
<div>
  <div class="col-md-12 padding-right-5">
    <div class="portlet light bordered col-md-12 padding-10" id="package-block">
      <div class="portlet-title">
        <div class="caption font-dark">
          <i class="icon-user font-dark"></i>
          <span class="caption-subject bold uppercase">Shipments</span>
        </div>
        <div class="actions"></div>
      </div>
      <div class="portlet-body form col-md-12">
        <div class="form-group col-md-4">
          <label class="col-md-3 shipment-label">
            <b>Export Name:</b>
          </label>
          <div class="col-md-6">
            <input
              name="export_list_name"
              id="export_list_name"
              type="text"
              class="form-control"
              v-model="export_list_name"
              placeholder="Export Name"
            />
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group col-md-4">
          <label class="col-md-3 shipment-label">
            <b>Code T Express:</b>
          </label>
          <div class="col-md-6">
            <input
              name="Code_T_Express"
              id="Code_T_Express"
              type="text"
              class="form-control"
              v-model="code_T_Express"
              placeholder="Code T Express"
            />
          </div>
        </div>
      </div>
      <div v-if="isEdit" class="portlet-title">
        <div class="caption font-dark">
          <i class="icon-user font-dark"></i>
          <span class="caption-subject bold uppercase">AWB</span>
        </div>
        <div class="actions"></div>
      </div>
      <div class="form-group col-md-12">
        <div v-if="isEdit" class="form col-md-4 padding-15">
          <div class="form-group col-md-12">
            <label class="col-md-3 shipment-label">
              <b>Airport:</b>
            </label>
            <div class="col-md-6">
              <select v-model="airport" class="form-control">
                <option value>Select Airport</option>
                <option v-for="air in air_options" :value="air.dataCode">{{ air.name }}</option>
              </select>
            </div>
          </div>
          <div class="form-group col-md-12">
            <label class="col-md-3 shipment-label">
              <b>AWB:</b>
            </label>
            <div class="col-md-6">
              <input
                name="awb_number"
                id="awb_number"
                type="text"
                class="form-control"
                v-model="awb_number"
                placeholder="Awb number"
              />
            </div>
          </div>
        </div>
        <div v-if="isEdit" class="form col-md-4">
          <div class="form-group col-md-12">
            <label class="col-md-3 shipment-label">
              <b>DEPARTURE:</b>
            </label>
            <div class="col-md-6">
              <input
                name="departure"
                id="departure"
                type="text"
                class="form-control"
                v-model="departure"
                placeholder="Departure"
              />
            </div>
          </div>
          <div class="form-group col-md-12">
            <label class="col-md-3 shipment-label">
              <b>DESTINATION:</b>
            </label>
            <div class="col-md-6">
              <input
                name="destination"
                id="destination"
                type="text"
                class="form-control"
                v-model="destination"
                placeholder="SGN, HN, .."
              />
            </div>
          </div>
        </div>
      </div>
      <div class="form-group col-md-12">
        <button
          v-if="isEdit"
          type="button"
          class="btn sbold green"
          @click="updateExportList()"
        >{{ (isSending) ? 'Saving ...' : 'Update Export List'}}</button>
        <button
          v-if="!isEdit"
          type="button"
          class="btn sbold green"
          @click="saveExportList()"
        >{{ (isSending) ? 'Saving ...' : 'Save Export List'}}</button>
        <button
          v-if="isEdit"
          type="button"
          class="btn sbold green"
          @click="saveExportListAwb()"
        >{{ (isSending) ? 'Saving ...' : 'Print Export List'}}</button>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <!-- Start Fee-->
    <div class="col-md-9">
      <div class="portlet light bordered col-md-12 padding-10">
        <div class="portlet-title">
          <div class="caption font-dark">
            <i class="icon-settings font-dark"></i>
            <span class="caption-subject bold uppercase">List Shipment To Export List</span>
          </div>
          <div class="actions">
            <div class="btn-group btn-group-devided"></div>
          </div>
        </div>
        <!-- Scanbarcode -->
        <div class="portlet-body form col-md-12">
          <form role="form" lpformnum="1">
            <div class="form-group col-md-12">
              <label>
                <b>Shipment Scan Barcode</b> For
                <span v-if="current_selected_box != 0">BOX {{(current_selected_box)}}</span>
                <span v-else>Export List</span>
              </label>
              <input
                ref="barcodescan"
                autofocus
                name="barcode_scan"
                id="barcode_scan"
                type="text"
                class="form-control"
                v-model="shipmentCodeBarcode"
                @keyup="loadShipmentBarcode"
                placeholder="Input scanner"
                :disabled="disabled == 1"
              />
            </div>
            <div class="form-group col-md-12">
              <label>
                <b>or Type BarCode</b> For
                <span v-if="current_selected_box != 0">BOX {{(current_selected_box)}}</span>
                <span v-else>Export List</span>
              </label>
              <input
                ref="barcodescaninput"
                name="barcode_input"
                id="barcode_input"
                type="text"
                class="form-control"
                v-model="shipmentCodeBarcodeInput"
                @change="loadShipmentBarcodeInput"
                placeholder="Input barcode and enter"
                :disabled="disabled == 1"
              />
            </div>
            <div class="form-group col-md-12">
              <a v-if="exportlistid" @click="onClickNewBoxOnly()" href="javascript:;">
                <i class="icon-docs"></i> Add New Box
              </a>
            </div>
          </form>
        </div>
        <!-- END Scanbarcode-->
        <!-- START button add box-->
        <div class="portlet-body form">
          <!-- START BUTTON add -->
          <div class="btn-group" v-if="checkedList.length">
            <button
              class="btn btn-xs green dropdown-toggle"
              type="button"
              data-toggle="dropdown"
              aria-expanded="true"
            >
              Actions
              <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a @click="onClickNewBox()" href="javascript:;">
                  <i class="icon-docs"></i> Add New Box
                </a>
              </li>
              <li v-for="(box, key) in listBox">
                <a href="javascript:;" @click="onClickAddToBox(key)">
                  <i class="icon-tag"></i>
                  <span v-if="key != 0">Add To Box {{(key)}}</span>
                  <span v-if="key == 0">Add Export List</span>
                </a>
              </li>
            </ul>
          </div>
          <!-- END BUTTON add -->
          <!--List Box-->
          <div
            class="btn tab-box-wrap"
            v-if="listShipmentExportList_master && listShipmentExportList_master.length > 0"
            v-for="(box, key) in listBox"
          >
            <div
              v-if="key == 0"
              ref="tab0"
              :class="'btn tab-box-active blue-hoki tab-box-'+(key)"
              @click="onClickCurentBox(key)"
            >
              <button
                v-if="key > 0"
                style="font-size: 8px;"
                @click="onClickRemoveBox(key)"
                class="btn red btn-default btn-close"
              >X</button>
              <span v-if="key != 0" class @click="onClickCurentBox(key)">
                BOX {{(key)}}
                <br />
                Items({{countBoxItems(key)}}) - Weight({{countBoxWeight(key)}})
              </span>
              <span v-else class @click="onClickCurentBox(key)">
                Export List
                <br />
                Items({{countBoxItems(key)}}) - Weight({{countBoxWeight(key)}})
              </span>
            </div>
            <div v-else :class="'btn blue-hoki tab-box-'+(key)" @click="onClickCurentBox(key)">
              <button
                v-if="key > 0"
                style="font-size: 8px;"
                @click="onClickRemoveBox(key)"
                class="btn red btn-default btn-close"
              >X</button>
              <span v-if="key != 0" class @click="onClickCurentBox(key)">
                BOX {{(key)}}
                <br />
                Total Items({{countBoxItems(key)}})
              </span>
              <span v-else class @click="onClickCurentBox(key)">
                Export List
                <br />
                Items({{countBoxItems(key)}}) - Weight({{countBoxWeight(key)}})
              </span>
            </div>
          </div>
          <!--END List Box-->
        </div>
        <!-- END button add box-->
        <div class="portlet-body form">
          <table
            class="table table-striped table-bordered table-hover no-footer"
            role="grid"
            id="recipient-table"
          >
            <thead>
              <tr role="row" class="heading">
                <th></th>
                <th>Customer Code</th>
                <th>Num.</th>
                <th>Weight</th>
                <th colspan="2">Package Number</th>
                <th>Actions</th>
              </tr>
              <tr>
                <th colspan="4">
                  <span v-if="current_selected_box != 0">BOX {{(current_selected_box)}}</span>
                  <span v-else>Export List</span>
                </th>
                <th>Origin</th>
                <th>
                  <span v-if="current_selected_box != 0">
                    Current Box
                  </span>
                  <span v-else>
                    Separate
                  </span>
                    
                </th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-if="listShipmentExportList && listShipmentExportList.length > 0"
                v-for="model in listShipmentExportList"
                role="row"
                class="odd"
              >
                <td>
                  <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                    <input
                      type="checkbox"
                      class="checkboxes"
                      :value="model.id"
                      v-model="checkedList"
                    />
                    <span></span>
                  </label>
                </td>
                <td>{{model.cus_code}}</td>
                <td>{{model.shipment_num}}</td>
                <td>{{model.shipment_weight}}</td>
                <td>
                  {{model.shipment_package_num}}
                  <template v-if="model.finish_scanned">
                    <span :class="'scanned_'+(model.finish_scanned)"  v-if="current_selected_box == 0"> [{{model.scanned}} Scanned]</span>
                  </template>
                  <template v-else>
                    <span class="scanned_1"  v-if="current_selected_box == 0"> [{{model.shipment_package_num}} Scanned]</span>
                  </template>
                </td>
                <td>{{model.shipment_package_num_separate}}</td>
                <td class="text-center nowrap">
                  <button class="btn btn-danger" @click="deleteItemList(model.id, model.box_id)">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
              <tr v-if="!listShipmentExportList || listShipmentExportList.length == 0">
                <td colspan="7">No Data - No find data</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--End Fee -->
    <!-- Start Export List-->
    <div class="col-md-3 padding-left-10" style="min-height:320px;">
      <div class="portlet light bordered col-md-12 padding-10">
        <div class="portlet-title">
          <div class="caption font-dark">
            <i class="icon-settings font-dark"></i>
            <span class="caption-subject bold uppercase">Summary</span>
          </div>
          <div class="actions">
            <div class="btn-group btn-group-devided"></div>
          </div>
        </div>
        <div class="portlet-body form">
          <form role="form" lpformnum="1" style="width: 100%;">
            <div class="form-group col-md-12">
              <label class="col-md-6">
                <b>Total Weight:</b>
              </label>
              <div class="col-md-6">{{summaryW}} Ibs</div>
            </div>
            <div class="form-group col-md-12">
              <label class="col-md-6">
                <b>Total Packages:</b>
              </label>
              <div class="col-md-6">{{summaryP}}</div>
            </div>
            <div class="form-group col-md-12">
              <label class="col-md-6">
                <b>Total Box:</b>
              </label>
              <div class="col-md-6">{{listBox.length - 1}}</div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--End Export List -->
  </div>
  <!-- START Export AWB -->
  <div class="print_wrapper_" id="printAWB">
    <div id="printme_content" class>
      <div style="font-weight: bold;text-align: center;margin:20px">
        <div class="row">
          <div v-for="num in summaryP" class="col-md-5" style="border: solid 1px;margin-top:70px;margin-left:50px">
            <div class="row" style="border-bottom:solid 1px;height:85px">
              <img
                :src="'/storage/airport_logo/'+(airport)+'.png'"
                style="width: 180px; margin-left: auto; margin-right: auto; display: block;padding-top: 10px;padding-bottom: 10px"
              />
            </div>
            <div
              class="row"
              style="font-size: 12px;text-align: left;font-weight: normal;border-bottom:solid 1px"
            >MAWB</div>
            <div class="row" style="border-bottom:solid 1px;font-size: 18px;font-weight: normal;height:40px;padding-top:8px">
              <div class="col-md-12">{{airport}}-{{awb_number}}</div>
            </div>

            <div
              class="row"
              style="border-bottom: 1px solid;font-size: 12px;font-weight: normal;"
            >
              <div
                class="col-md-6"
                style="border-right:solid 1px;border-bottom: 1px solid;"
              >DEPARTURE</div>
              <div class="col-md-6" style="border-bottom: 1px solid;">TOTAL MAWB PIECES</div>
              <span class="col-md-6" style="border-right:solid 1px;font-size: 18px;height:40px;padding-top:8px">{{departure}}</span>
              <span class="col-md-6" style="font-size: 18px;height:40px;padding-top:8px">{{summaryP}}</span>
            </div>

            <div
              class="row"
              style="border-bottom: 1px solid;font-size: 12px;font-weight: normal"
            >
              <div
                class="col-md-6"
                style="border-right:solid 1px;border-bottom: 1px solid;height:20px"
              >DESTINATION</div>
              <div class="col-md-6" style="border-bottom: 1px solid;height:20px">WEIGHT</div>
              <span
                class="col-md-6"
                style="border-right:solid 1px;font-size: 18px;height:40px;padding-top:8px"
              >{{destination}}</span>
              <span class="col-md-6" style="font-size: 18px;height:40px;padding-top:8px">{{summaryW}} KGS</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END Export AWB -->
</div>
</template>
<style>
#printAWB {
  /* display:none; */
}
.dropdown-input {
  border-radius: 0 25px 25px 0 !important;
  width: 100% !important;
}
.dropdown-content {
  z-index: 100 !important;
}

.viewport {
  position: relative;
}
.viewport canvas,
.viewport video {
  position: absolute;
  left: 0;
  top: 0;
}
</style>
<script>
import VueHtmlToPaper from "./vue-html-to-paper.js";
var options = {
  name: "_blank",
  specs: ["fullscreen=no", "titlebar=no", "scrollbars=no"],
  styles: [
    "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css",
    "https://unpkg.com/kidlat-css/css/kidlat.css"
  ]
};
Vue.use(VueHtmlToPaper, options);
Vue.component("v-select", VueSelect.VueSelect);
export default {
  props: {},
  data: function() {
    return {
      showError: false,
      errors: "",
      role_id: AppData.role_id,
      isEdit: false,
      isSending: false,
      isLoadType: false,
      disabled: 1,
      isChecked: false,
      packagePrice: { price: 0 },
      insurancePrice: 0,
      upsFee: 0,
      otherCharge: { price: 0 },
      shippingRate: { rate: 0, discount_rate: 0 },
      packageSurchargePrice: { price: 0, totalValue: 0 },
      paymentType: null,
      showUnpaidPaymentType: false,
      paymentTypeItem: null,
      unpaidPaymentType: null,
      customer_type: null,
      shipment_options: [{ name: "Customer", id: "0", dataCode: "ABC" }],
      air_options: [{ name: "Air", id: "0", dataCode: "ABC" }],
      listShipmentExportList: [],
      listShipmentExportList_master: [],
      checkedList: [],
      listBox: [],
      listItemBox: [],
      current_box: 1,
      current_selected_box: 0,
      shipmentCodeBarcode: "",
      shipmentCodeBarcodeInput: "",
      awbInfo: {
        numberMasterAwwb: "",
        dateAwb: "",
        airportAwb: "",
        airCarrierAwb: ""
      },
      airports: [
        { index: "160", name: "Cathay" },
        { index: "180", name: "Korean" }
      ],
      departure: "",
      destination: "",
      awb_number: "",
      airport: "default",
      export_list_name: "",
      code_T_Express: "",
      detail_exportlist: {},
      exportlistid: 0,
      disabled: 0,
    };
  },
  components: {},
  computed: {
    summaryW: function() {
      var _self = this;
      if (_self.listShipmentExportList_master.length) {
        var filter_list = [];
        filter_list = _self.listShipmentExportList_master.filter((value, index, self) => self.map(x => x.id).indexOf(value.id) == index);
        var val = filter_list
          .map(item => item.shipment_weight)
          .reduce((prev, next) => parseFloat(prev) + parseFloat(next));
        //var wCount = results.reduce( sumProps('package_weight'));
        
        return val;
      } else {
        return 0;
      }
    },
    summaryP: function() {
      var _self = this;
      if (_self.listShipmentExportList_master.length) {
        var count_odd = _self.listItemBox.filter(box => box.box_id == 0);
        var val_pack = 0;
        //console.log(JSON.stringify(count_odd.length) + " 77777");
        if(count_odd.length !== 0) {
          //console.log(JSON.stringify(count_odd.length) + " 66666");
          val_pack = count_odd
          .map(item => item.shipment_package_num)
          .reduce((prev, next) => parseFloat(prev) + parseFloat(next));
        }
        //console.log(JSON.stringify(count_odd) + " 88888");
        var count_box = _self.listBox.length;
        var val = parseFloat(val_pack) + parseFloat(count_box) - 1;
        //console.log(JSON.stringify(count_box) + " 88888");
        return val;
      } else {
        return 0;
      }
    }
  },
  created: function() {
    var _self = this;
    this.loadDataShipment();
    this.loadAirCarrier();
    var url = new URL(location.href);
    var exportlist_id = url.searchParams.get("exportlist_id");

    var _self = this;
    if (exportlist_id) {
      _self.isEdit = true;
      _self.exportlistid = exportlist_id;
      this.$http
        .get(AppData.baseUrl + "/api/export-list/load-edit/" + exportlist_id)
        .then(function(response) {
          // set info
          _self.listBox = response.data.data.box;
          _self.listItemBox = response.data.data.box_list;
          _self.departure =
            response.data.data.detail_exportlist[0].shipment_barcode_departure;
          _self.destination =
            response.data.data.detail_exportlist[0].shipment_barcode_destination;
          _self.awb_number =
            response.data.data.detail_exportlist[0].shipment_barcode_awb;
          _self.export_list_name =
            response.data.data.detail_exportlist[0].export_list_name;
          _self.code_T_Express =
            response.data.data.detail_exportlist[0].code_T_Express;
          _self.airport =
            response.data.data.detail_exportlist[0].shipment_barcode_airport;
          _self.current_box = 0;
          _self.detail_exportlist = response.data.data.detail_exportlist[0];
          _self.listShipmentExportList_master = response.data.data.box_list;
          //_self.listShipmentExportList = response.data.data.list_master;
          //_self.listShipmentExportList = response.data.data.box_list;
          _self.onClickCurentBox(_self.current_box);
        })
        .catch(function(error) {
          console.log(error);
        });
    } else {
      _self.listBox.push({ box_id: "0" });
    }
    console.log("sender_form created");
  },
  watch: {
    checkAll: function(value) {
      var ids = _.transform(
        this.pagination.data,
        function(result, model) {
          result.push(model.id);
        },
        []
      );
      if (value) {
        this.checkedList = _.union(this.checkedList, ids);
      } else {
        this.checkedList = _.xor(this.checkedList, ids);
      }
    }
  },
  beforeMount: function() {
    console.log("sender_form beforeMount");
  },
  mounted: function() {
    var _self = this;
  },
  updated: function() {
    console.log("sender_form updated");
    //this.loadShipmentBarcode();
  },
  beforeDestroy: function() {
    console.log("sender_form beforeDestroy");
  },
  methods: {
    check: function(e) {
      if (e.target.checked) {
        this.isChecked = true;
      } else {
        this.isChecked = false;
      }
    },
    loadDataShipment: function() {
      var _self = this;
      //this.$refs.search.click();
      this.$http
        .get(AppData.baseUrl + "/api/export-list/load-shipments")
        .then(function(response) {
          _self.shipment_options = response.data.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    loadAirCarrier: function() {
      var _self = this;
      //this.$refs.search.click();
      this.$http
        .get(AppData.baseUrl + "/api/export-list/load-air")
        .then(function(response) {
          _self.air_options = response.data.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    onClickRemoveBox: function(key) {
      var _self = this;
      if (confirm("Do you want to delete?")) {
        //console.log(JSON.stringify(key)+' key');
        //this.listBox.splice(key, 1);
        
        //this.current_box -= 1;
        // tìm các list của box
        const list_id = _self.listItemBox.filter(function(value) {
          return value.box_id == key;
        });
        //console.log(JSON.stringify(list_id)+' idx');
        // dồn về box gần nhất
        /*_self.listItemBox.forEach(item => {
          if (item.box_id > key || item.box_id == key) {
            item.box_id = parseInt(item.box_id) - 1;
          }
        });*/
        _self.listItemBox.forEach(item => {
          if (parseInt(item.box_id) == key) {
            var objIndexM = _self.listItemBox.findIndex((obj => obj.id == item.id && obj.box_id == "0"));
            if (objIndexM !== -1) {
              console.log(8888);
              var origin_separate = _self.listItemBox[objIndexM].shipment_package_num_separate;
              _self.listItemBox[objIndexM].shipment_package_num_separate = ""+(parseInt(origin_separate) - parseInt(item.shipment_package_num_separate));
              var objIndexM_ = _self.listItemBox.findIndex((obj => obj.id == item.id && obj.box_id == item.box_id));
              _self.listItemBox.splice(objIndexM_, 1);
            } else {
              console.log(88881);
              item.box_id = 0;
              if(item.shipment_package_num_separate) {
                item.shipment_package_num_separate = ""+(parseInt(item.shipment_package_num) - parseInt(item.shipment_package_num_separate));
              }
            }
          }
        });
        _self.listShipmentExportList_master.forEach(item => {
          if (parseInt(item.box_id) == key) {
            console.log(9999);
            var objIndexM = _self.listShipmentExportList_master.findIndex((obj => obj.id == item.id && obj.box_id == "0"));
            if (objIndexM !== -1) {
              var origin_separate = _self.listShipmentExportList_master[objIndexM].shipment_package_num_separate;
              _self.listShipmentExportList_master[objIndexM].shipment_package_num_separate = ""+(parseInt(origin_separate) - parseInt(item.shipment_package_num_separate));
              var objIndexM_ = _self.listShipmentExportList_master.findIndex((obj => obj.id == item.id && obj.box_id == item.box_id));
              _self.listShipmentExportList_master.splice(objIndexM_, 1);
            } else {
              console.log(99991);
              item.box_id = 0;
              if(item.shipment_package_num_separate) {
                item.shipment_package_num_separate = ""+(parseInt(item.shipment_package_num) - parseInt(item.shipment_package_num_separate));
              }
            }
          }
        });
        this.listBox.splice(key, 1);
        setTimeout(function() {
          _self.onClickCurentBox(0);
        }, 300);
        //_self.$refs.tab0.$el.click();
        //_self.current_box = 0;
        /*setTimeout(function() {
          _self.onClickCurentBox(key - 1);
        }, 300);*/
        //console.log(JSON.stringify(_self.listItemBox)+' idx');
      }
    },
    onClickNewBoxOnly: function() {
      var _self = this;
      // get current box
      var count_box = _self.listBox.length;
      console.log("--7--" + count_box);
      // create new box
      _self.listBox.push({ box_id: ""+count_box });
      setTimeout(function() {
        _self.onClickCurentBox(count_box);
      }, 300);
    },
    onClickNewBox: function() {
      var _self = this;
      //console.log(JSON.stringify(_self.checkedList)+' ITEM has been selected');
      //console.log(JSON.stringify(_self.listShipmentExportList)+' shipment selected list');
      // get current box
      var box_id = _self.listBox.length;
      if (_self.checkedList && _self.checkedList.length) {
        // create new box
        _self.listBox.push({ box_id: ""+box_id });
        //_self.current_box++;
        // add item
        const checkedList_ = [];
        _self.checkedList.forEach(function(entry) {
          // add new box

          //_self.listItemBox.push({'box_id':box_id, 'id':entry});
          // update list box 1
          //objIndex = _self.listItemBox.findIndex((obj => obj.id == entry));
          //console.log(JSON.stringify(objIndex)+' listItemBox');
          //_self.listItemBox[objIndex].box_id = box_id;
          console.log(JSON.stringify(_self.listItemBox) + " listItemBox B");
          //var item = _self.listItemBox.find(item => item.id === entry);
          //item.box_id = box_id;
          console.log(JSON.stringify(box_id) + " listItemBox A");
          var objIndex = _self.listItemBox.findIndex(obj => obj.id == entry);
          console.log(JSON.stringify(objIndex) + " listItemBox A1");
          _self.listItemBox[objIndex].box_id = box_id;

          console.log(JSON.stringify(_self.listItemBox) + " listItemBox A");
          checkedList_.push({ id: entry });
        });
        // remove checked in export-list
        const results = _self.listShipmentExportList.filter(
          ({ id: id1 }) => !checkedList_.some(({ id: id2 }) => id2 === id1)
        );
        // set lits new for ALL
        _self.listShipmentExportList = results;
        // set list shipment for box
        console.log(JSON.stringify(results) + " Export list has been remove");
        // reset checkbox
        $(".checkboxes").each(function() {
          this.checked = false;
        });
        _self.checkedList = [];
      }
    },
    onClickCurentBox: function(box_id) {
      var _self = this;
      var incorrect = new Audio('/storage/sound/incorrect.mp3');
      var check_scanned = this.checkScanned();
      console.log(' Export 333');
      if (check_scanned != "" && box_id != 0) {
        console.log(' Export 2222');
        incorrect.play();
        alert('Please scan finish packages: '+check_scanned);
        showToast("error", 'Please scan finish packages: '+check_scanned, "error");
        return false;
      } else { 
        console.log(' Export 111');
        $(".blue-hoki").removeClass("tab-box-active");
        $(".tab-box-" + box_id).addClass("tab-box-active");
        _self.current_selected_box = box_id;
        //console.log(JSON.stringify(box_id)+' Export list');
        //console.log(JSON.stringify(_self.listItemBox)+' box_id');
        const list_id = _self.listItemBox.filter(function(value) {
          return value.box_id == box_id;
        });
        //console.log(JSON.stringify(list_id)+' Export list');
        // get id
        /*const results = _self.listShipmentExportList_master.filter(
          ({ id: id1 }) => list_id.some(({ id: id2 }) => id2 === id1)
        );*/
        //console.log(JSON.stringify(results)+' Export');
        _self.listShipmentExportList = list_id;
      }
    },
    onClickAddToBox: function(box_id) {
      var _self = this;
      _self.current_selected_box = box_id;
      if (_self.checkedList && _self.checkedList.length) {
        // add item
        const checkedList_ = [];
        _self.checkedList.forEach(function(entry) {
          // add new box
          var objIndex = _self.listItemBox.findIndex(obj => obj.id == entry);
          console.log(JSON.stringify(objIndex) + " listItemBox A1");
          _self.listItemBox[objIndex].box_id = box_id;

          console.log(JSON.stringify(_self.listItemBox) + " listItemBox A");
          checkedList_.push({ id: entry });
        });
        // remove checked in export-list
        const results = _self.listShipmentExportList.filter(
          ({ id: id1 }) => !checkedList_.some(({ id: id2 }) => id2 === id1)
        );
        // set lits new for ALL
        _self.listShipmentExportList = results;
        // set list shipment for box
        console.log(JSON.stringify(results) + " Export list has been remove");
        // reset checkbox
        $(".checkboxes").each(function() {
          this.checked = false;
        });
        _self.checkedList = [];
      }
    },
    deleteItemList: function(id) {
        var _self = this;
        var box_id = _self.current_selected_box;
        var objIndex = _self.listItemBox.findIndex((obj => obj.id == id && obj.box_id == box_id));
        var objIndexM = _self.listShipmentExportList_master.findIndex((obj => obj.id == id && obj.box_id == box_id));
        //var objIndexL = _self.listShipmentExportList.findIndex((obj => obj.id == id));
        //console.log(JSON.stringify(_self.listItemBox)+' 1111');
        //console.log('==='+objIndex+'='+objIndexM);
        if(box_id == 0){
            //_self.listItemBox.splice(objIndex, 1);
            _self.listShipmentExportList_master.splice(objIndexM, 1);
            //_self.listShipmentExportList.splice(objIndexM, 1);
        } else {
            var separate = _self.listItemBox[objIndex].shipment_package_num_separate;
            if(typeof(separate) == "undefined" || separate == ''){
              _self.listItemBox[objIndex].box_id = 0;
              _self.listShipmentExportList_master[objIndexM].box_id = ""+0;
            } else {
              var objIndexL_ = _self.listItemBox.findIndex(
                  obj => obj.id == id && obj.box_id == "0"
                );
              var objIndexM_ = _self.listShipmentExportList_master.findIndex(
                  obj => obj.id == id && obj.box_id == "0"
                );
              if(objIndexM_ == -1) {
                _self.listShipmentExportList_master[objIndexM].box_id = ""+0;
                var num = _self.listShipmentExportList_master[objIndexM].shipment_package_num;
                var separate = _self.listShipmentExportList_master[objIndexM].shipment_package_num_separate;
                _self.listShipmentExportList_master[objIndexM].shipment_package_num_separate = ""+(parseInt(num) - parseInt(separate));
              } else {
                var origin_separate = _self.listShipmentExportList_master[objIndexM_].shipment_package_num_separate;
                _self.listShipmentExportList_master[objIndexM_].shipment_package_num_separate = ""+(parseInt(origin_separate) - parseInt(separate));
                _self.listShipmentExportList_master.splice(objIndexM, 1);
              }
              //_self.listItemBox[objIndexL_].shipment_package_num_separate = origin_separate - separate;
              //_self.listItemBox.splice(objIndex, 1);
              //console.log(JSON.stringify(_self.listItemBox)+' 2222');
              //console.log(JSON.stringify(_self.listShipmentExportList_master)+' 333');
            }
        }
        _self.onClickCurentBox(box_id);
    },
    countBoxItems: function(box_id) {
      var _self = this;
      return _self.listItemBox.filter(box => box.box_id == box_id).length;
    },
    countBoxWeight: function(box_id) {
      var _self = this;
      const list_id = _self.listItemBox.filter(function(value) {
        return value.box_id == box_id;
      });
      // get id
      const results = _self.listShipmentExportList_master.filter(
        ({ id: id1 }) => list_id.some(({ id: id2 }) => id2 === id1)
      );
      var val = 0;
      if (results.length !== 0) {
        val = results
          .map(item => item.shipment_weight)
          .reduce((prev, next) => parseFloat(prev) + parseFloat(next));
      }
      //var wCount = results.reduce( sumProps('package_weight'));
      return val;
    },
    loadShipmentBarcode: _.debounce(function() {
      var _self = this;
      var correct = new Audio('/storage/sound/correct.wav');
      var incorrect = new Audio('/storage/sound/incorrect.mp3');
      if (_self.shipmentCodeBarcode && _self.shipmentCodeBarcode.length > 8) {
        var exportlistId = _self.exportlistid;
        _self.disabled = 1;
        this.$http
          .get(
            AppData.baseUrl +
              "/api/export-list/shipment-detail-code-scan/" +
              _self.shipmentCodeBarcode+"/"+exportlistId
          )
          .then(function(response) {
            _self.disabled = 0;
            _self.shipmentCodeBarcode = "";
            _self.$refs.barcodescan.focus();
            var item_ = response.data.data;
            if (!item_.success) {
              var code = item_.code.toLowerCase();
              var fields = code.split("-");
              var cus_code = fields[0];
              var shipment_num = fields[1];
              var shipment_weight = fields[2];
              var shipment_package_num = fields[3];
              if (
                typeof cus_code == "undefined" ||
                typeof shipment_num == "undefined" ||
                typeof shipment_weight == "undefined" ||
                typeof shipment_package_num == "undefined"
              ) {
                incorrect.play();
                showToast(
                  "Error Format",
                  "This code not correct format",
                  "error"
                );
                return false;
              } else if (
                !Number(shipment_num) ||
                !Number(shipment_package_num)
              ) {
                incorrect.play();
                showToast(
                  "Error Format",
                  "Number or package number is a number",
                  "error"
                );
                return false;
              } else if (
                parseInt(shipment_num) <= 0 ||
                parseInt(shipment_package_num) <= 0
              ) {
                incorrect.play();
                showToast(
                  "Error Format",
                  "Number or package number not null",
                  "error"
                );
                return false;
              } else {
                var box_current = _self.current_selected_box;
                console.log('--box_current1--'+box_current);
                // check add to box 0 or not
                if(box_current == 0){
                  var item = {
                    box_id: "0",
                    id: code,
                    cus_code: cus_code,
                    shipment_num: shipment_num,
                    shipment_weight: shipment_weight,
                    shipment_package_num: shipment_package_num,
                    scanned: "1",
                    finish_scanned: "1"
                  };
                  var objIndexS = _self.listShipmentExportList_master.findIndex(
                    obj => obj.id == item.id
                  );
                  console.log('----:'+objIndexS);
                  if (objIndexS == -1) {
                    //_self.listShipmentExportList.push(item);
                    if(parseInt(shipment_package_num) > 1) {
                      item.finish_scanned = "2";
                    }
                    _self.listShipmentExportList_master.push(item);
                    console.log('lm--'+JSON.stringify(_self.listShipmentExportList_master));
                    if(!_self.exportlistid) {
                      _self.listItemBox.push(item);
                    }
                    //_self.listItemBox.push(item);
                    console.log('l--'+JSON.stringify(_self.listItemBox));
                    _self.onClickCurentBox(box_current);
                    // sound 
                    correct.play();
                  } else {
                    var pack_num    = parseInt(_self.listShipmentExportList_master[objIndexS].shipment_package_num);
                    var scanned_num = parseInt(_self.listShipmentExportList_master[objIndexS].scanned);
                    console.log('1l--'+JSON.stringify(pack_num)+'!---!'+scanned_num);
                    if(pack_num > 1 && pack_num > scanned_num) {
                      var cscanned_plus = scanned_num + 1;
                      _self.listShipmentExportList_master[objIndexS].scanned = cscanned_plus;
                      _self.listItemBox[objIndexS].scanned = cscanned_plus;
                      if(pack_num == cscanned_plus) {
                        _self.listItemBox[objIndexS].finish_scanned = "1";
                      } else {
                        _self.listItemBox[objIndexS].finish_scanned = "2";
                      }
                      // sound 
                      correct.play();
                    } else {
                      incorrect.play();
                      showToast(
                        "Exist Shipment",
                        "This shipment has been added",
                        "error"
                      );
                      return false;
                    }
                  }
                } else {
                  var objIndexF = _self.listItemBox.findIndex(
                      obj => obj.id == code && obj.box_id == "0"
                    );
                  if (objIndexF != -1) {
                      /*var objIndexS = _self.listItemBox.findIndex(
                        obj => obj.id == code
                      );*/
                      var objIndexM = _self.listShipmentExportList_master.findIndex(
                        obj => obj.id == code && obj.box_id == "0"
                      );
                      // check package 
                      var pack_num    = _self.listItemBox[objIndexM].shipment_package_num;
                      var pack_separate    = _self.listItemBox[objIndexM].shipment_package_num_separate;
                      if(parseInt(pack_num) > 1) {
                        if(typeof(pack_separate) == "undefined" || pack_separate == ''){
                          pack_separate = "1";
                          var item_new = {
                            box_id: ""+box_current,
                            id: code,
                            cus_code: cus_code,
                            shipment_num: shipment_num,
                            shipment_weight: shipment_weight,
                            shipment_package_num: shipment_package_num,
                            shipment_package_num_separate: pack_separate
                          };
                          _self.listShipmentExportList_master[objIndexM].shipment_package_num_separate = ""+pack_separate;
                          _self.listItemBox[objIndexF].shipment_package_num_separate = ""+pack_separate;
                          _self.listShipmentExportList_master.push(item_new);
                          if(!_self.exportlistid) {
                            _self.listItemBox.push(item_new);
                          }
                        } else {
                          var objIndexBoxF = _self.listItemBox.findIndex(
                              obj => obj.id == code && obj.box_id == ""+box_current
                            );
                          //console.log('ttt--|'+pack_separate);
                          //console.log('ttt--|'+pack_num);
                          if(parseInt(pack_separate) < (parseInt(pack_num) -1)) {
                            //console.log('uuuuuu--|'+pack_separate);
                            //console.log('uuuuuu--|'+pack_num);
                            if (objIndexBoxF == -1) {
                              //console.log(222);
                              //var pack_separate_pack = _self.listItemBox[objIndexBoxF].shipment_package_num_separate;
                              //if(typeof(pack_separate_pack) == "undefined"){
                              //  pack_separate_pack = "1";
                                var item_new_box = {
                                      box_id: ""+box_current,
                                      id: code,
                                      cus_code: cus_code,
                                      shipment_num: shipment_num,
                                      shipment_weight: shipment_weight,
                                      shipment_package_num: shipment_package_num,
                                      shipment_package_num_separate: "1"
                                    };
                                _self.listShipmentExportList_master.push(item_new_box);
                                if(!_self.exportlistid) {
                                  _self.listItemBox.push(item_new_box);
                                }
                            } else {
                              console.log(111);
                              var pack_separate_pack = _self.listItemBox[objIndexBoxF].shipment_package_num_separate;
                              pack_separate_pack++;
                              _self.listItemBox[objIndexBoxF].shipment_package_num_separate = ""+pack_separate_pack;
                              _self.listShipmentExportList_master[objIndexBoxF].shipment_package_num_separate = ""+pack_separate_pack;
                              
                            }
                            pack_separate++;
                            _self.listShipmentExportList_master[objIndexM].shipment_package_num_separate = ""+(pack_separate);
                            _self.listItemBox[objIndexF].shipment_package_num_separate = ""+(pack_separate);
                          } else {
                            console.log(333);
                            console.log('cccc--|'+pack_separate);
                            console.log('cccc--|'+pack_num);
                            if (objIndexBoxF == -1) {
                              console.log('444boxl-'+JSON.stringify(_self.listItemBox));
                              console.log('444boxm-'+JSON.stringify(_self.listShipmentExportList_master));
                              console.log('444--|'+objIndexF);
                              console.log('4441--|'+box_current);
                              var item_new_box = {
                                      box_id: ""+box_current,
                                      id: code,
                                      cus_code: cus_code,
                                      shipment_num: shipment_num,
                                      shipment_weight: shipment_weight,
                                      shipment_package_num: shipment_package_num,
                                      shipment_package_num_separate: "1"
                                    };
                                _self.listShipmentExportList_master.push(item_new_box);
                                if(!_self.exportlistid) {
                                  _self.listItemBox.push(item_new_box);
                                }
                              //_self.listShipmentExportList_master[objIndexF].shipment_package_num_separate = "1";
                              //_self.listItemBox[objIndexF].shipment_package_num_separate = "1";
                              //_self.listShipmentExportList_master[objIndexF].box_id = ""+box_current;
                              //_self.listItemBox[objIndexF].box_id = ""+box_current;
                             // _self.listShipmentExportList_master.splice(objIndexF, 1);
                             // _self.listItemBox.splice(objIndexF, 1);

                              console.log('boxl-'+JSON.stringify(_self.listItemBox));
                              console.log('boxm-'+JSON.stringify(_self.listShipmentExportList_master));
                            } else {
                              console.log(555);
                              var pack_separate_pack = _self.listItemBox[objIndexBoxF].shipment_package_num_separate;
                              pack_separate_pack++;
                              console.log('dd--|'+pack_separate_pack);
                              console.log('dd--|'+pack_separate);
                              console.log('dd--|'+pack_num);
                              _self.listItemBox[objIndexBoxF].shipment_package_num_separate = ""+pack_separate_pack;
                              _self.listShipmentExportList_master[objIndexBoxF].shipment_package_num_separate = ""+pack_separate_pack;
                              
                            }
                            //_self.listItemBox.splice(objIndexM, 1);
                            _self.listShipmentExportList_master.splice(objIndexM, 1);
                          }
                        }
                      } else {
                        _self.listShipmentExportList_master[objIndexF].box_id = ""+box_current;
                        _self.listItemBox[objIndexF].box_id = ""+box_current;
                      }
                      correct.play();
                      _self.onClickCurentBox(box_current);
                  } else {
                    incorrect.play();
                    showToast(
                        "Exist Shipment 1",
                        "This barcode not in Export List",
                        "error"
                      );
                  }
                }
              }
            } else {
              incorrect.play();
              showToast(
                "Exist Shipment In Export List",
                "This shipment exist other Export List!",
                "error"
              );
            }
          })
          .catch(function(error) {
            console.log(error);
          });
      }
    }, 500),
    loadShipmentBarcodeInput: function() {
      var _self = this;
      var correct = new Audio('/storage/sound/correct.wav');
      var incorrect = new Audio('/storage/sound/incorrect.mp3');
      if (_self.shipmentCodeBarcodeInput) {
        var exportlistId = _self.exportlistid;
        _self.disabled = 1;
        this.$http
          .get(
            AppData.baseUrl +
              "/api/export-list/shipment-detail-code-scan/" +
              _self.shipmentCodeBarcodeInput+"/"+exportlistId
          )
          .then(function(response) {
            _self.disabled = 0;
            _self.shipmentCodeBarcodeInput = "";
            _self.$refs.barcodescaninput.focus();
            var item_ = response.data.data;
            if (!item_.success) {
              var code = item_.code.toLowerCase();
              var fields = code.split("-");
              var cus_code = fields[0];
              var shipment_num = fields[1];
              var shipment_weight = fields[2];
              var shipment_package_num = fields[3];
              if (
                typeof cus_code == "undefined" ||
                typeof shipment_num == "undefined" ||
                typeof shipment_weight == "undefined" ||
                typeof shipment_package_num == "undefined"
              ) {
                incorrect.play();
                showToast(
                  "Error Format",
                  "This code not correct format",
                  "error"
                );
                return false;
              } else if (
                !Number(shipment_num) ||
                !Number(shipment_package_num)
              ) {
                incorrect.play();
                showToast(
                  "Error Format",
                  "Number or package number is a number",
                  "error"
                );
                return false;
              } else if (
                parseInt(shipment_num) <= 0 ||
                parseInt(shipment_package_num) <= 0
              ) {
                incorrect.play();
                showToast(
                  "Error Format",
                  "Number or package number not null",
                  "error"
                );
                return false;
              } else {
                var box_current = _self.current_selected_box;
                console.log('--box_current1--'+box_current);
                // check add to box 0 or not
                if(box_current == 0){
                  var item = {
                    box_id: "0",
                    id: code,
                    cus_code: cus_code,
                    shipment_num: shipment_num,
                    shipment_weight: shipment_weight,
                    shipment_package_num: shipment_package_num,
                    scanned: "1",
                    finish_scanned: "1"
                  };
                  var objIndexS = _self.listShipmentExportList_master.findIndex(
                    obj => obj.id == item.id
                  );
                  console.log('----:'+objIndexS);
                  if (objIndexS == -1) {
                    //_self.listShipmentExportList.push(item);
                    if(parseInt(shipment_package_num) > 1) {
                      item.finish_scanned = "2";
                    }
                    _self.listShipmentExportList_master.push(item);
                    console.log('lm--'+JSON.stringify(_self.listShipmentExportList_master));
                    if(!_self.exportlistid) {
                      _self.listItemBox.push(item);
                    }
                    //_self.listItemBox.push(item);
                    console.log('l--'+JSON.stringify(_self.listItemBox));
                    _self.onClickCurentBox(box_current);
                    // sound 
                    correct.play();
                  } else {
                    var pack_num    = parseInt(_self.listShipmentExportList_master[objIndexS].shipment_package_num);
                    var scanned_num = parseInt(_self.listShipmentExportList_master[objIndexS].scanned);
                    console.log('1l--'+JSON.stringify(pack_num)+'!---!'+scanned_num);
                    if(pack_num > 1 && pack_num > scanned_num) {
                      var cscanned_plus = scanned_num + 1;
                      _self.listShipmentExportList_master[objIndexS].scanned = cscanned_plus;
                      _self.listItemBox[objIndexS].scanned = cscanned_plus;
                      if(pack_num == cscanned_plus) {
                        _self.listItemBox[objIndexS].finish_scanned = "1";
                      } else {
                        _self.listItemBox[objIndexS].finish_scanned = "2";
                      }
                      // sound 
                      correct.play();
                    } else {
                      incorrect.play();
                      showToast(
                        "Exist Shipment",
                        "This shipment has been added",
                        "error"
                      );
                      return false;
                    }
                  }
                } else {
                  var objIndexF = _self.listItemBox.findIndex(
                      obj => obj.id == code && obj.box_id == "0"
                    );
                  if (objIndexF != -1) {
                      /*var objIndexS = _self.listItemBox.findIndex(
                        obj => obj.id == code
                      );*/
                      var objIndexM = _self.listShipmentExportList_master.findIndex(
                        obj => obj.id == code && obj.box_id == "0"
                      );
                      // check package 
                      var pack_num    = _self.listItemBox[objIndexM].shipment_package_num;
                      var pack_separate    = _self.listItemBox[objIndexM].shipment_package_num_separate;
                      if(parseInt(pack_num) > 1) {
                        if(typeof(pack_separate) == "undefined" || pack_separate == ''){
                          pack_separate = "1";
                          var item_new = {
                            box_id: ""+box_current,
                            id: code,
                            cus_code: cus_code,
                            shipment_num: shipment_num,
                            shipment_weight: shipment_weight,
                            shipment_package_num: shipment_package_num,
                            shipment_package_num_separate: pack_separate
                          };
                          _self.listShipmentExportList_master[objIndexM].shipment_package_num_separate = ""+pack_separate;
                          _self.listItemBox[objIndexF].shipment_package_num_separate = ""+pack_separate;
                          _self.listShipmentExportList_master.push(item_new);
                          if(!_self.exportlistid) {
                            _self.listItemBox.push(item_new);
                          }
                        } else {
                          var objIndexBoxF = _self.listItemBox.findIndex(
                              obj => obj.id == code && obj.box_id == ""+box_current
                            );
                          //console.log('ttt--|'+pack_separate);
                          //console.log('ttt--|'+pack_num);
                          if(parseInt(pack_separate) < (parseInt(pack_num) -1)) {
                            //console.log('uuuuuu--|'+pack_separate);
                            //console.log('uuuuuu--|'+pack_num);
                            if (objIndexBoxF == -1) {
                              //console.log(222);
                              //var pack_separate_pack = _self.listItemBox[objIndexBoxF].shipment_package_num_separate;
                              //if(typeof(pack_separate_pack) == "undefined"){
                              //  pack_separate_pack = "1";
                                var item_new_box = {
                                      box_id: ""+box_current,
                                      id: code,
                                      cus_code: cus_code,
                                      shipment_num: shipment_num,
                                      shipment_weight: shipment_weight,
                                      shipment_package_num: shipment_package_num,
                                      shipment_package_num_separate: "1"
                                    };
                                _self.listShipmentExportList_master.push(item_new_box);
                                if(!_self.exportlistid) {
                                  _self.listItemBox.push(item_new_box);
                                }
                            } else {
                              console.log(111);
                              var pack_separate_pack = _self.listItemBox[objIndexBoxF].shipment_package_num_separate;
                              pack_separate_pack++;
                              _self.listItemBox[objIndexBoxF].shipment_package_num_separate = ""+pack_separate_pack;
                              _self.listShipmentExportList_master[objIndexBoxF].shipment_package_num_separate = ""+pack_separate_pack;
                              
                            }
                            pack_separate++;
                            _self.listShipmentExportList_master[objIndexM].shipment_package_num_separate = ""+(pack_separate);
                            _self.listItemBox[objIndexF].shipment_package_num_separate = ""+(pack_separate);
                          } else {
                            console.log(333);
                            console.log('cccc--|'+pack_separate);
                            console.log('cccc--|'+pack_num);
                            if (objIndexBoxF == -1) {
                              console.log('444boxl-'+JSON.stringify(_self.listItemBox));
                              console.log('444boxm-'+JSON.stringify(_self.listShipmentExportList_master));
                              console.log('444--|'+objIndexF);
                              console.log('4441--|'+box_current);
                              var item_new_box = {
                                      box_id: ""+box_current,
                                      id: code,
                                      cus_code: cus_code,
                                      shipment_num: shipment_num,
                                      shipment_weight: shipment_weight,
                                      shipment_package_num: shipment_package_num,
                                      shipment_package_num_separate: "1"
                                    };
                                _self.listShipmentExportList_master.push(item_new_box);
                                if(!_self.exportlistid) {
                                  _self.listItemBox.push(item_new_box);
                                }
                              //_self.listShipmentExportList_master[objIndexF].shipment_package_num_separate = "1";
                              //_self.listItemBox[objIndexF].shipment_package_num_separate = "1";
                              //_self.listShipmentExportList_master[objIndexF].box_id = ""+box_current;
                              //_self.listItemBox[objIndexF].box_id = ""+box_current;
                             // _self.listShipmentExportList_master.splice(objIndexF, 1);
                             // _self.listItemBox.splice(objIndexF, 1);

                              console.log('boxl-'+JSON.stringify(_self.listItemBox));
                              console.log('boxm-'+JSON.stringify(_self.listShipmentExportList_master));
                            } else {
                              console.log(555);
                              var pack_separate_pack = _self.listItemBox[objIndexBoxF].shipment_package_num_separate;
                              pack_separate_pack++;
                              console.log('dd--|'+pack_separate_pack);
                              console.log('dd--|'+pack_separate);
                              console.log('dd--|'+pack_num);
                              _self.listItemBox[objIndexBoxF].shipment_package_num_separate = ""+pack_separate_pack;
                              _self.listShipmentExportList_master[objIndexBoxF].shipment_package_num_separate = ""+pack_separate_pack;
                              
                            }
                            //_self.listItemBox.splice(objIndexM, 1);
                            _self.listShipmentExportList_master.splice(objIndexM, 1);
                          }
                        }
                      } else {
                        _self.listShipmentExportList_master[objIndexF].box_id = ""+box_current;
                        _self.listItemBox[objIndexF].box_id = ""+box_current;
                      }
                      correct.play();
                      _self.onClickCurentBox(box_current);
                  } else {
                    incorrect.play();
                    showToast(
                        "Exist Shipment 1",
                        "This barcode not in Export List",
                        "error"
                      );
                  }
                }
              }
            } else {
              incorrect.play();
              showToast(
                "Exist Shipment In Export List",
                "This shipment exist other Export List!",
                "error"
              );
            }
          })
          .catch(function(error) {
            console.log(error);
          });
      }
    },
    saveExportList: function() {
      var _self = this;
      var incorrect = new Audio('/storage/sound/incorrect.mp3');
      var odd_package = _self.listItemBox.filter(obj => obj.box_id == 0);
      var check_scanned = this.checkScanned();
      if (check_scanned != "") {
        incorrect.play();
        alert('Please scam finish packages: '+check_scanned);
        showToast("error", 'Please scam finish packages: '+check_scanned, "error");
        return false;
      }else if (_self.export_list_name === "") {
        incorrect.play();
        showToast("error", "Export name require", "error");
        return false;
      } else {
        this.$http
          .post("/api/export-list", {
            listBox: _self.listBox,
            listItemBox: _self.listItemBox,
            summaryW: _self.summaryW,
            summaryP: _self.summaryP,
            airport: _self.airport,
            awb_number: _self.awb_number,
            departure: _self.departure,
            destination: _self.destination,
            export_list_name: _self.export_list_name,
            code_T_Express: _self.code_T_Express
          })
          .then(
            response => {
              showToast(
                "Created export-list successfully",
                "Created export-list information has been created",
                "success"
              );
              //alert('Export List created success!');
              //window.location.href = AppData.baseUrl+"/export-list";
              //_self.isChecked = true;
              //_self.detail_exportlist.id = response.data.data.id;
              //_self.exportlistid = response.data.data.id;
              //_self.isEdit = true;
              window.location.href = AppData.baseUrl+"/export-list/scan?exportlist_id="+response.data.data.id;
              /*setTimeout(function() {
                location.reload("/export-list");
              }, 2000);*/
            },
            error => {
              _self.isSending = false;
              if (error.data && error.data.data) {
                _self.errors = error.data.data;
              }
              showToast(
                "Created export-list failed",
                "export-list has not been created",
                "error"
              );
            }
          );
        return true;
      }
    },
    saveExportListAwb: function() {
      var _self = this;
      if (_self.airport === "") {
        showToast("error", "Airport require", "error");
        return;
      } else if (_self.awb_number === "") {
        showToast("error", "Awb Number require", "error");
        return;
      } else if (_self.export_list_name === "") {
        showToast("error", "Export name require", "error");
        return;
      } else if (_self.code_T_Express === "") {
        showToast("error", "Code T Express require", "error");
        return;
      } else if (_self.departure === "") {
        showToast("error", "Departure require", "error");
        return;
      } else if (_self.destination === "") {
        showToast("error", "Destination require", "error");
        return;
      } else {
        _self.$htmlToPaper("printAWB");
      }
      return true;
    },
    updateExportList: function() {
      var incorrect = new Audio('/storage/sound/incorrect.mp3');
      var _self = this;
      var odd_package = _self.listItemBox.filter(obj => obj.box_id == 0);
      var id = _self.exportlistid;
      var check_scanned = this.checkScanned();
      console.log(check_scanned);
      if (check_scanned != "") {
        incorrect.play();
        alert('Please scan finish packages: '+check_scanned);
        showToast("error", 'Please scan finish packages: '+check_scanned, "error");
        return false;
      } else if (_self.listItemBox.length == 0) {
        incorrect.play();
        showToast("error", "List shipment require", "error");
        return;
      } else {
        this.$http
          .put("/api/export-list/" + id, {
            listBox: _self.listBox,
            listItemBox: _self.listItemBox,
            summaryW: _self.summaryW,
            summaryP: _self.summaryP,
            airport: _self.airport,
            awb_number: _self.awb_number,
            departure: _self.departure,
            destination: _self.destination,
            export_list_name: _self.export_list_name,
            code_T_Express: _self.code_T_Express
          })
          .then(
            response => {
              showToast(
                "Export-list update successfully",
                "Export-list information has been updated",
                "success"
              );
              //alert('Export List created success!');
              //window.location.href = AppData.baseUrl+"/export-list";
              _self.isChecked = true;
              setTimeout(function() {
                location.reload("/export-list");
              }, 2000);
            },
            error => {
              _self.isSending = false;
              if (error.data && error.data.data) {
                _self.errors = error.data.data;
              }
              showToast(
                "Export-list update failed",
                "export-list has not been updated",
                "error"
              );
            }
          );
        return true;
      }
    },
    checkScanned: function(){
      var _self = this; 
      var text = "";
      const list_not_finish_scanned = _self.listItemBox.filter(function(value) {
        return value.finish_scanned == "2";
      });
      list_not_finish_scanned.forEach(function(value){
          text += value.id+";";
      })
      return text;
    }
  }
};
</script>
