<template>
  <div>
    <div class="col-md-12">
      <div class="portlet light bordered col-md-12 padding-10" id="package-block">
        <div class="portlet-title">
          <div class="caption font-dark">
            <i class="icon-user font-dark"></i>
            <span class="caption-subject bold uppercase">Shipments</span>
          </div>
          <div class="actions"></div>
        </div>
        <div class="portlet-body form col-md-12">
          <div class="form-group col-md-6">
            <label class="col-md-6 shipment-label">
              <b>Export Name:</b>
            </label>
            <div class="col-md-6">
              <input
                name="export_list_name"
                id="export_list_name"
                type="text"
                class="form-control"
                v-model="export_list_name"
                placeholder="Export Name"
              />
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="col-md-6 shipment-label">
              <b>Code T Express:</b>
            </label>
            <div class="col-md-6">
              <input
                name="Code_T_Express"
                id="Code_T_Express"
                type="text"
                class="form-control"
                v-model="code_T_Express"
                placeholder="Code T Express"
              />
            </div>
          </div>
        </div>
        <div v-if="isEdit" class="portlet-title">
          <div class="caption font-dark">
            <i class="icon-user font-dark"></i>
            <span class="caption-subject bold uppercase">AWB</span>
          </div>
          <div class="actions"></div>
        </div>
        <div class="form-group col-md-12">
          <div v-if="isEdit" class="portlet-body form col-md-6">
            <div class="form-group col-md-12">
              <label class="col-md-6 shipment-label">
                <b>Airport:</b>
              </label>
              <div class="col-md-6">
                <select v-model="airport" class="form-control">
                  <option value>Select Airport</option>
                  <option v-for="air in air_options" :value="air.dataCode">{{ air.name }}</option>
                </select>
              </div>
            </div>
            <div class="form-group col-md-12">
              <label class="col-md-6 shipment-label">
                <b>AWB:</b>
              </label>
              <div class="col-md-6">
                <input
                  name="awb_number"
                  id="awb_number"
                  type="text"
                  class="form-control"
                  v-model="awb_number"
                  placeholder="Awb number"
                />
              </div>
            </div>
          </div>
          <div v-if="isEdit" class="portlet-body form col-md-6">
            <div class="form-group col-md-12">
              <label class="col-md-6 shipment-label">
                <b>DEPARTURE:</b>
              </label>
              <div class="col-md-6">
                <input
                  name="departure"
                  id="departure"
                  type="text"
                  class="form-control"
                  v-model="departure"
                  placeholder="Departure"
                />
              </div>
            </div>
            <div class="form-group col-md-12">
              <label class="col-md-6 shipment-label">
                <b>DESTINATION:</b>
              </label>
              <div class="col-md-6">
                <input
                  name="destination"
                  id="destination"
                  type="text"
                  class="form-control"
                  v-model="destination"
                  placeholder="SGN, HN, .."
                />
              </div>
            </div>
          </div>
        </div>
        <div class="form-group col-md-12">
          <button
            v-if="isEdit"
            type="button"
            class="btn sbold green"
            @click="updateExportList()"
          >{{ (isSending) ? 'Saving ...' : 'Update Export List'}}</button>
          <button
            v-if="!isEdit"
            type="button"
            class="btn sbold green"
            @click="saveExportList()"
          >{{ (isSending) ? 'Saving ...' : 'Save Export List'}}</button>
          <button
            v-if="isEdit"
            type="button"
            class="btn sbold green"
            @click="saveExportListAwb()"
          >{{ (isSending) ? 'Saving ...' : 'Print Export List'}}</button>
        </div>
      </div>
    </div>
    <!-- Start Fee-->
    <div class="col-md-9">
      <div class="portlet light bordered col-md-12 padding-10">
        <div class="portlet-title">
          <div class="caption font-dark">
            <i class="icon-settings font-dark"></i>
            <span class="caption-subject bold uppercase">List Shipment To Export List</span>
          </div>
          <div class="actions">
            <div class="btn-group btn-group-devided"></div>
          </div>
        </div>
        <!-- Scanbarcode -->
        <div class="portlet-body form col-md-12">
          <form role="form" lpformnum="1">
            <div class="form-group col-md-12">
              <label>
                <b>Shipment Scan Barcode</b> For
                <span v-if="current_selected_box != 0">BOX {{(current_selected_box)}}</span>
                <span v-else>Odd Packages</span>
              </label>
              <input
                ref="barcodescan"
                autofocus
                name="barcode_scan"
                id="barcode_scan"
                type="text"
                class="form-control"
                v-model="shipmentCodeBarcode"
                @keypress="loadShipmentBarcode"
                @change="loadShipmentBarcode"
                placeholder="Input scanner"
              />
            </div>
            <div class="form-group col-md-12">
              <label>
                <b>or Type BarCode</b> For
                <span v-if="current_selected_box != 0">BOX {{(current_selected_box)}}</span>
                <span v-else>Odd Packages</span>
              </label>
              <input
                name="barcode_input"
                id="barcode_input"
                type="text"
                class="form-control"
                v-model="shipmentCodeBarcodeInput"
                @change="loadShipmentBarcodeInput"
                placeholder="Input barcode and enter"
              />
            </div>
            <div class="form-group col-md-12">
              <a @click="onClickNewBoxOnly()" href="javascript:;">
                <i class="icon-docs"></i> Add New Box
              </a>
            </div>
          </form>
        </div>
        <!-- END Scanbarcode-->
        <!-- START button add box-->
        <div class="portlet-body form">
          <!-- START BUTTON add -->
          <div class="btn-group" v-if="checkedList.length">
            <button
              class="btn btn-xs green dropdown-toggle"
              type="button"
              data-toggle="dropdown"
              aria-expanded="true"
            >
              Actions
              <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a @click="onClickNewBox()" href="javascript:;">
                  <i class="icon-docs"></i> Add New Box
                </a>
              </li>
              <li v-for="(box, key) in listBox">
                <a href="javascript:;" @click="onClickAddToBox(key)">
                  <i class="icon-tag"></i>
                  <span v-if="key != 0">Add To Box {{(key)}}</span>
                  <span v-if="key == 0">Add Odd Packages</span>
                </a>
              </li>
            </ul>
          </div>
          <!-- END BUTTON add -->
          <!--List Box-->
          <div
            class="btn tab-box-wrap"
            v-if="listShipmentExportList_master && listShipmentExportList_master.length > 0"
            v-for="(box, key) in listBox"
          >
            <div
              v-if="key == 0"
              ref="tab0"
              :class="'btn tab-box-active blue-hoki tab-box-'+(key)"
              @click="onClickCurentBox(key)"
            >
              <button
                v-if="key > 0"
                style="font-size: 8px;"
                @click="onClickRemoveBox(key)"
                class="btn red btn-default btn-close"
              >X</button>
              <span v-if="key != 0" class @click="onClickCurentBox(key)">
                BOX {{(key)}}
                <br />
                Items({{countBoxItems(key)}}) - Weight({{countBoxWeight(key)}})
              </span>
              <span v-else class @click="onClickCurentBox(key)">
                Odd Packages
                <br />
                Items({{countBoxItems(key)}}) - Weight({{countBoxWeight(key)}})
              </span>
            </div>
            <div v-else :class="'btn blue-hoki tab-box-'+(key)" @click="onClickCurentBox(key)">
              <button
                v-if="key > 0"
                style="font-size: 8px;"
                @click="onClickRemoveBox(key)"
                class="btn red btn-default btn-close"
              >X</button>
              <span v-if="key != 0" class @click="onClickCurentBox(key)">
                BOX {{(key)}}
                <br />
                Items({{countBoxItems(key)}}) - Weight({{countBoxWeight(key)}})
              </span>
              <span v-else class @click="onClickCurentBox(key)">
                Odd Packages
                <br />
                Items({{countBoxItems(key)}}) - Weight({{countBoxWeight(key)}})
              </span>
            </div>
          </div>
          <!--END List Box-->
        </div>
        <!-- END button add box-->
        <div class="portlet-body form">
          <table
            class="table table-striped table-bordered table-hover no-footer"
            role="grid"
            id="recipient-table"
          >
            <thead>
              <tr role="row" class="heading">
                <th></th>
                <th>Customer Code</th>
                <th>Num.</th>
                <th>Weight</th>
                <th>Package Number</th>
                <th>Actions</th>
              </tr>
              <tr>
                <th colspan="7">
                  <span v-if="current_selected_box != 0">BOX {{(current_selected_box)}}</span>
                  <span v-else>Odd Packages</span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-if="listShipmentExportList && listShipmentExportList.length > 0"
                v-for="model in listShipmentExportList"
                role="row"
                class="odd"
              >
                <td>
                  <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                    <input
                      type="checkbox"
                      class="checkboxes"
                      :value="model.id"
                      v-model="checkedList"
                    />
                    <span></span>
                  </label>
                </td>
                <td>{{model.cus_code}}</td>
                <td>{{model.shipment_num}}</td>
                <td>{{model.shipment_weight}}</td>
                <td>{{model.shipment_package_num}}</td>
                <td class="text-center nowrap">
                  <button class="btn btn-danger" @click="deleteItemList(model.id, model.box_id)">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
              <tr v-if="!listShipmentExportList || listShipmentExportList.length == 0">
                <td colspan="7">No Data - No find data</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--End Fee -->
    <!-- Start Export List-->
    <div class="col-md-3" style="min-height:320px;">
      <div class="portlet light bordered col-md-12 padding-10">
        <div class="portlet-title">
          <div class="caption font-dark">
            <i class="icon-settings font-dark"></i>
            <span class="caption-subject bold uppercase">Summary</span>
          </div>
          <div class="actions">
            <div class="btn-group btn-group-devided"></div>
          </div>
        </div>
        <div class="portlet-body form">
          <form role="form" lpformnum="1" style="width: 100%;">
            <div class="form-group col-md-12">
              <label class="col-md-6">
                <b>Total Weight:</b>
              </label>
              <div class="col-md-6">{{summaryW}} Ibs</div>
            </div>
            <div class="form-group col-md-12">
              <label class="col-md-6">
                <b>Total Packages:</b>
              </label>
              <div class="col-md-6">{{summaryP}}</div>
            </div>
            <div class="form-group col-md-12">
              <label class="col-md-6">
                <b>Total Box:</b>
              </label>
              <div class="col-md-6">{{listBox.length - 1}}</div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--End Export List -->

    <!-- START Export AWB -->
    <div class="print_wrapper_" id="printAWB">
      <div id="printme_content" class>
        <div style="font-weight: bold;text-align: center;margin:50px">
          <div class="row">
            <div v-for="num in summaryP" class="col-md-5" style="border: solid 1px;margin:25px">
              <div class="row" style="border-bottom:solid 1px">
                <img
                  :src="'/storage/airport_logo/'+(airport)+'.png'"
                  style="width: 180px; margin-left: auto; margin-right: auto; display: block;padding-top: 10px;padding-bottom: 10px"
                />
              </div>
              <div
                class="row"
                style="font-size: 12px;text-align: left;font-weight: normal;border-bottom:solid 1px"
              >MAWB</div>
              <div class="row" style="border-bottom:solid 1px;font-size: 18px;font-weight: normal">
                <div class="col-md-12">{{airport}}-{{awb_number}}</div>
              </div>

              <div
                class="row"
                style="border-bottom: 1px solid;font-size: 12px;font-weight: normal;"
              >
                <div
                  class="col-md-6"
                  style="border-right:solid 1px;border-bottom: 1px solid;"
                >DEPARTURE</div>
                <div class="col-md-6" style="border-bottom: 1px solid;">TOTAL MAWB PIECES</div>
                <span class="col-md-6" style="border-right:solid 1px;font-size: 18px">{{departure}}</span>
                <span class="col-md-6" style="font-size: 18px">{{summaryP}}</span>
              </div>

              <div
                class="row"
                style="border-bottom: 1px solid;font-size: 12px;font-weight: normal;"
              >
                <div
                  class="col-md-6"
                  style="border-right:solid 1px;border-bottom: 1px solid;"
                >DESTINATION</div>
                <div class="col-md-6" style="border-bottom: 1px solid;">WEIGHT</div>
                <span
                  class="col-md-6"
                  style="border-right:solid 1px;font-size: 18px"
                >{{destination}}</span>
                <span class="col-md-6" style="font-size: 18px">{{summaryW}} KGS</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END Export AWB -->
  </div>
</template>
<style>
#printAWB {
  /* display:none; */
}
.dropdown-input {
  border-radius: 0 25px 25px 0 !important;
  width: 100% !important;
}
.dropdown-content {
  z-index: 100 !important;
}

.viewport {
  position: relative;
}
.viewport canvas,
.viewport video {
  position: absolute;
  left: 0;
  top: 0;
}
</style>
<script>
import VueHtmlToPaper from "./vue-html-to-paper.js";
var options = {
  name: "_blank",
  specs: ["fullscreen=no", "titlebar=no", "scrollbars=no"],
  styles: [
    "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css",
    "https://unpkg.com/kidlat-css/css/kidlat.css"
  ]
};
Vue.use(VueHtmlToPaper, options);
Vue.component("v-select", VueSelect.VueSelect);
export default {
  props: {},
  data: function() {
    return {
      showError: false,
      errors: "",
      role_id: AppData.role_id,
      isEdit: false,
      isSending: false,
      isLoadType: false,
      disabled: 1,
      isChecked: false,
      packagePrice: { price: 0 },
      insurancePrice: 0,
      upsFee: 0,
      otherCharge: { price: 0 },
      shippingRate: { rate: 0, discount_rate: 0 },
      packageSurchargePrice: { price: 0, totalValue: 0 },
      paymentType: null,
      showUnpaidPaymentType: false,
      paymentTypeItem: null,
      unpaidPaymentType: null,
      customer_type: null,
      shipment_options: [{ name: "Customer", id: "0", dataCode: "ABC" }],
      air_options: [{ name: "Air", id: "0", dataCode: "ABC" }],
      listShipmentExportList: [],
      listShipmentExportList_master: [],
      checkedList: [],
      listBox: [],
      listItemBox: [],
      current_box: 1,
      current_selected_box: 0,
      shipmentCodeBarcode: "",
      shipmentCodeBarcodeInput: "",
      awbInfo: {
        numberMasterAwwb: "",
        dateAwb: "",
        airportAwb: "",
        airCarrierAwb: ""
      },
      airports: [
        { index: "160", name: "Cathay" },
        { index: "180", name: "Korean" }
      ],
      departure: "",
      destination: "",
      awb_number: "",
      airport: "default",
      export_list_name: "",
      code_T_Express: "",
      detail_exportlist: {},
      exportlistid: 0
    };
  },
  components: {},
  computed: {
    summaryW: function() {
      var _self = this;

      if (_self.listShipmentExportList_master.length) {
        var val = _self.listShipmentExportList_master
          .map(item => item.shipment_weight)
          .reduce((prev, next) => parseFloat(prev) + parseFloat(next));
        //var wCount = results.reduce( sumProps('package_weight'));
        return val;
      } else {
        return 0;
      }
    },
    summaryP: function() {
      var _self = this;
      if (_self.listShipmentExportList_master.length) {
        var count_odd = _self.listItemBox.filter(box => box.box_id == 0);
        var val_pack = count_odd
          .map(item => item.shipment_package_num)
          .reduce((prev, next) => parseFloat(prev) + parseFloat(next));
        var count_box = _self.listBox.length;
        var val = parseFloat(val_pack) + parseFloat(count_box) - 1;
        console.log(JSON.stringify(count_box) + " 88888");
        return val;
      } else {
        return 0;
      }
    }
  },
  created: function() {
    var _self = this;
    this.loadDataShipment();
    this.loadAirCarrier();
    var url = new URL(location.href);
    var exportlist_id = url.searchParams.get("exportlist_id");

    var _self = this;
    if (exportlist_id) {
      _self.isEdit = true;
      _self.exportlistid = exportlist_id;
      this.$http
        .get(AppData.baseUrl + "/api/export-list/load-edit/" + exportlist_id)
        .then(function(response) {
          // set info
          _self.listBox = response.data.data.box;
          _self.listItemBox = response.data.data.box_list;
          _self.departure =
            response.data.data.detail_exportlist[0].shipment_barcode_departure;
          _self.destination =
            response.data.data.detail_exportlist[0].shipment_barcode_destination;
          _self.awb_number =
            response.data.data.detail_exportlist[0].shipment_barcode_awb;
          _self.export_list_name =
            response.data.data.detail_exportlist[0].export_list_name;
          _self.code_T_Express =
            response.data.data.detail_exportlist[0].code_T_Express;
          _self.airport =
            response.data.data.detail_exportlist[0].shipment_barcode_airport;
          _self.current_box = 0;
          _self.detail_exportlist = response.data.data.detail_exportlist[0];
          _self.listShipmentExportList_master = response.data.data.list_master;
          _self.listShipmentExportList = response.data.data.list_master;
          _self.onClickCurentBox(_self.current_box);
        })
        .catch(function(error) {
          console.log(error);
        });
    } else {
      _self.listBox.push({ box_id: 0 });
    }
    console.log("sender_form created");
  },
  watch: {
    checkAll: function(value) {
      var ids = _.transform(
        this.pagination.data,
        function(result, model) {
          result.push(model.id);
        },
        []
      );
      if (value) {
        this.checkedList = _.union(this.checkedList, ids);
      } else {
        this.checkedList = _.xor(this.checkedList, ids);
      }
    }
  },
  beforeMount: function() {
    console.log("sender_form beforeMount");
  },
  mounted: function() {
    var _self = this;
  },
  updated: function() {
    console.log("sender_form updated");
    this.loadShipmentBarcode();
  },
  beforeDestroy: function() {
    console.log("sender_form beforeDestroy");
  },
  methods: {
    check: function(e) {
      if (e.target.checked) {
        this.isChecked = true;
      } else {
        this.isChecked = false;
      }
    },
    validateSelectionShipment(selection) {
      var _self = this;
      //console.log(JSON.stringify(selection)+' has been selected');
      // get detail
      if (selection) {
        // get detail shipment
        this.loadShipmentDetail(selection.id);
      }
      //console.log(selection.name+' has been selected');
    },
    loadDataShipment: function() {
      var _self = this;
      //this.$refs.search.click();
      this.$http
        .get(AppData.baseUrl + "/api/export-list/load-shipments")
        .then(function(response) {
          _self.shipment_options = response.data.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    loadAirCarrier: function() {
      var _self = this;
      //this.$refs.search.click();
      this.$http
        .get(AppData.baseUrl + "/api/export-list/load-air")
        .then(function(response) {
          _self.air_options = response.data.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    loadShipmentDetail: function(id) {
      var _self = this;
      this.$http
        .get(AppData.baseUrl + "/api/export-list/shipment-detail/" + id)
        .then(function(response) {
          var item = response.data.data;
          if (_self.listShipmentExportList.indexOf(item) == -1) {
            var objIndexS = _self.listItemBox.findIndex(
              obj => obj.id == item.id
            );
            if (objIndexS == -1) {
              console.log(JSON.stringify(objIndexS) + " objIndexS");
              _self.listShipmentExportList.push(item);
              _self.listShipmentExportList_master.push(item);
              _self.listItemBox.push({ box_id: 0, id: item.id });
            } else {
              showToast(
                "Exist Shipment",
                "This shipment has been added",
                "error"
              );
            }
          }
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    onClickRemoveBox: function(key) {
      var _self = this;
      if (confirm("Do you want to delete?")) {
        //console.log(JSON.stringify(key)+' key');
        this.listBox.splice(key, 1);
        //this.current_box -= 1;
        // tìm các list của box
        const list_id = _self.listItemBox.filter(function(value) {
          return value.box_id == key;
        });
        //console.log(JSON.stringify(list_id)+' idx');
        _self.listItemBox.forEach(item => {
          if (item.box_id > key || item.box_id == key) {
            item.box_id = parseInt(item.box_id) - 1;
          }
        });
        console.log("111 idx23");
        //_self.$refs.tab0.$el.click();
        //_self.current_box = 0;
        setTimeout(function() {
          _self.onClickCurentBox(key - 1);
        }, 300);
        //console.log(JSON.stringify(_self.listItemBox)+' idx');
      }
    },
    onClickNewBoxOnly: function() {
      var _self = this;
      // get current box
      var count_box = _self.listBox.length;
      console.log("--7--" + count_box);
      // create new box
      _self.listBox.push({ box_id: count_box });
      setTimeout(function() {
        _self.onClickCurentBox(count_box);
      }, 300);
    },
    onClickNewBox: function() {
      var _self = this;
      //console.log(JSON.stringify(_self.checkedList)+' ITEM has been selected');
      //console.log(JSON.stringify(_self.listShipmentExportList)+' shipment selected list');
      // get current box
      var box_id = _self.listBox.length;
      if (_self.checkedList && _self.checkedList.length) {
        // create new box
        _self.listBox.push({ box_id: box_id });
        //_self.current_box++;
        // add item
        const checkedList_ = [];
        _self.checkedList.forEach(function(entry) {
          // add new box

          //_self.listItemBox.push({'box_id':box_id, 'id':entry});
          // update list box 1
          //objIndex = _self.listItemBox.findIndex((obj => obj.id == entry));
          //console.log(JSON.stringify(objIndex)+' listItemBox');
          //_self.listItemBox[objIndex].box_id = box_id;
          console.log(JSON.stringify(_self.listItemBox) + " listItemBox B");
          //var item = _self.listItemBox.find(item => item.id === entry);
          //item.box_id = box_id;
          console.log(JSON.stringify(box_id) + " listItemBox A");
          var objIndex = _self.listItemBox.findIndex(obj => obj.id == entry);
          console.log(JSON.stringify(objIndex) + " listItemBox A1");
          _self.listItemBox[objIndex].box_id = box_id;

          console.log(JSON.stringify(_self.listItemBox) + " listItemBox A");
          checkedList_.push({ id: entry });
        });
        // remove checked in export-list
        const results = _self.listShipmentExportList.filter(
          ({ id: id1 }) => !checkedList_.some(({ id: id2 }) => id2 === id1)
        );
        // set lits new for ALL
        _self.listShipmentExportList = results;
        // set list shipment for box
        console.log(JSON.stringify(results) + " Export list has been remove");
        // reset checkbox
        $(".checkboxes").each(function() {
          this.checked = false;
        });
        _self.checkedList = [];
      }
    },
    onClickCurentBox: function(box_id) {
      var _self = this;
      $(".blue-hoki").removeClass("tab-box-active");
      $(".tab-box-" + box_id).addClass("tab-box-active");
      _self.current_selected_box = box_id;
      console.log(" Export list 1");
      //console.log(JSON.stringify(_self.listItemBox)+' box_id');
      const list_id = _self.listItemBox.filter(function(value) {
        return value.box_id == box_id;
      });
      //console.log(JSON.stringify(list_id)+' Export list');

      // get id
      const results = _self.listShipmentExportList_master.filter(
        ({ id: id1 }) => list_id.some(({ id: id2 }) => id2 === id1)
      );
      _self.listShipmentExportList = results;
      console.log(" Export list 2");
    },
    onClickAddToBox: function(box_id) {
      var _self = this;
      _self.current_selected_box = box_id;
      if (_self.checkedList && _self.checkedList.length) {
        // add item
        const checkedList_ = [];
        _self.checkedList.forEach(function(entry) {
          // add new box
          var objIndex = _self.listItemBox.findIndex(obj => obj.id == entry);
          console.log(JSON.stringify(objIndex) + " listItemBox A1");
          _self.listItemBox[objIndex].box_id = box_id;

          console.log(JSON.stringify(_self.listItemBox) + " listItemBox A");
          checkedList_.push({ id: entry });
        });
        // remove checked in export-list
        const results = _self.listShipmentExportList.filter(
          ({ id: id1 }) => !checkedList_.some(({ id: id2 }) => id2 === id1)
        );
        // set lits new for ALL
        _self.listShipmentExportList = results;
        // set list shipment for box
        console.log(JSON.stringify(results) + " Export list has been remove");
        // reset checkbox
        $(".checkboxes").each(function() {
          this.checked = false;
        });
        _self.checkedList = [];
      }
    },
    deleteItemList: function(id) {
        var _self = this;
        var box_id = _self.current_selected_box;
        var objIndex = _self.listItemBox.findIndex((obj => obj.id == id));
        if(box_id == 0){
            _self.listItemBox.splice(objIndex, 1);
            var objIndexM = _self.listShipmentExportList_master.findIndex((obj => obj.id == id));
            _self.listShipmentExportList_master.splice(objIndexM, 1);
        } else {
            _self.listItemBox[objIndex].box_id = 0;
        }
        _self.onClickCurentBox(box_id);
    },
    deleteItemList_bk: function(id, box_id) {
      var _self = this;
      var box_id = _self.current_selected_box;
      var objIndex = _self.listItemBox.findIndex(
        obj => obj.id == id && obj.box_id == box_id
      );
      if (_self.exportlistid) {
        if (box_id != 0) {
          _self.listItemBox[objIndex].box_id = 0;
          _self.onClickCurentBox(box_id);
        }
      } else {
        if (box_id == 0) {
          _self.listItemBox.splice(objIndex, 1);
          var objIndexM = _self.listShipmentExportList_master.findIndex(
            obj => obj.id == id
          );
          _self.listShipmentExportList_master.splice(objIndexM, 1);
        } else {
          _self.listItemBox[objIndex].box_id = 0;
        }
        _self.onClickCurentBox(box_id);
      }
    },
    countBoxItems: function(box_id) {
      var _self = this;
      return _self.listItemBox.filter(box => box.box_id == box_id).length;
    },
    countBoxWeight: function(box_id) {
      var _self = this;
      const list_id = _self.listItemBox.filter(function(value) {
        return value.box_id == box_id;
      });
      // get id
      const results = _self.listShipmentExportList_master.filter(
        ({ id: id1 }) => list_id.some(({ id: id2 }) => id2 === id1)
      );
      var val = 0;
      if (results.length) {
        val = results
          .map(item => item.shipment_weight)
          .reduce((prev, next) => parseFloat(prev) + parseFloat(next));
      }
      //var wCount = results.reduce( sumProps('package_weight'));
      return val;
    },
    loadShipmentBarcode: function() {
      var _self = this;
      if (_self.shipmentCodeBarcode) {
        if (_self.exportlistid) {
          this.$http
            .get(
              AppData.baseUrl +
                "/api/export-list/shipment-detail-code-scan/" +
                _self.shipmentCodeBarcode
            )
            .then(function(response) {
              _self.shipmentCodeBarcode = "";
              var item_ = response.data.data;
              if (!item_.success) {
                var code = item_.code;
                _self.$refs.barcodescan.focus();
                var fields = code.split("-");
                var cus_code = fields[0];
                var shipment_num = fields[1];
                var shipment_weight = fields[2];
                var shipment_package_num = fields[3];
                if (
                  typeof cus_code == "undefined" ||
                  typeof shipment_num == "undefined" ||
                  typeof shipment_weight == "undefined" ||
                  typeof shipment_package_num == "undefined"
                ) {
                  showToast(
                    "Error Format",
                    "This code not correct format",
                    "error"
                  );
                  return;
                } else if (
                  !Number(shipment_num) ||
                  !Number(shipment_package_num)
                ) {
                  showToast(
                    "Error Format",
                    "Number or package number is a number",
                    "error"
                  );
                  return;
                } else if (
                  parseInt(shipment_num) <= 0 ||
                  parseInt(shipment_package_num) <= 0
                ) {
                  showToast(
                    "Error Format",
                    "Number or package number not null",
                    "error"
                  );
                  return;
                } else {
                  var box_current = _self.current_selected_box;
                  var item = {
                    box_id: box_current,
                    id: code,
                    cus_code: cus_code,
                    shipment_num: shipment_num,
                    shipment_weight: shipment_weight,
                    shipment_package_num: shipment_package_num
                  };
                  //if (_self.listShipmentExportList.indexOf(item)==-1){
                  console.log(JSON.stringify(_self.listItemBox) + " list1");
                  var objIndexS = _self.listItemBox.findIndex(
                    obj => obj.id == item.id && obj.box_id == "0"
                  );
                  if (objIndexS != -1) {
                    console.log(JSON.stringify(objIndexS) + " list21");
                    if (box_current != 0) {
                      var pack_num =
                        _self.listItemBox[objIndexS].shipment_package_num;
                      var pack_0 = _self.listItemBox[objIndexS].pack_0;
                      if (typeof pack_0 == "undefined") {
                        pack_0 = 1;
                      } else {
                        pack_0++;
                      }
                      _self.listItemBox[objIndexS].pack_0 = pack_0;
                      console.log(JSON.stringify(pack_0) + " list51");
                      console.log(parseInt(pack_num) + " list41");
                      //if(parseInt(pack_0) >= parseInt(pack_num)){
                      _self.listShipmentExportList_master.splice(objIndexS, 1);
                      _self.listShipmentExportList.splice(objIndexS, 1);
                      _self.listItemBox.splice(objIndexS, 1);
                      //}
                      _self.listShipmentExportList.push(item);
                      _self.listShipmentExportList_master.push(item);
                      //_self.listItemBox.push({'box_id':"2", 'id':item.id, 'cus_code':cus_code, 'shipment_num':shipment_num, 'shipment_weight':shipment_weight, 'shipment_package_num':shipment_package_num});
                      _self.listItemBox.push(item);
                    } else {
                      showToast(
                        "Exist Barcode",
                        "This Barcode added!",
                        "success"
                      );
                    }
                  } else {
                    showToast(
                      "Exist Shipment 1",
                      "This shipment not added before",
                      "error"
                    );
                  }
                  //}
                }
              } else {
                showToast(
                  "Not Have Barcode",
                  "This code not in exportlist!",
                  "error"
                );
              }
            })
            .catch(function(error) {
              console.log(error);
            });
        } else {
          this.$http
            .get(
              AppData.baseUrl +
                "/api/export-list/shipment-detail-code-scan/" +
                _self.shipmentCodeBarcode
            )
            .then(function(response) {
              _self.shipmentCodeBarcode = "";
              var item_ = response.data.data;
              if (item_.success) {
                var code = item_.code;
                _self.$refs.barcodescan.focus();
                var fields = code.split("-");
                var cus_code = fields[0];
                var shipment_num = fields[1];
                var shipment_weight = fields[2];
                var shipment_package_num = fields[3];
                if (
                  typeof cus_code == "undefined" ||
                  typeof shipment_num == "undefined" ||
                  typeof shipment_weight == "undefined" ||
                  typeof shipment_package_num == "undefined"
                ) {
                  showToast(
                    "Error Format",
                    "This code not correct format",
                    "error"
                  );
                  return;
                } else if (
                  !Number(shipment_num) ||
                  !Number(shipment_package_num)
                ) {
                  showToast(
                    "Error Format",
                    "Number or package number is a number",
                    "error"
                  );
                  return;
                } else if (
                  parseInt(shipment_num) <= 0 ||
                  parseInt(shipment_package_num) <= 0
                ) {
                  showToast(
                    "Error Format",
                    "Number or package number not null",
                    "error"
                  );
                  return;
                } else {
                  var box_current = _self.current_selected_box;

                  var item = {
                    box_id: box_current,
                    box_id: box_current,
                    id: code,
                    cus_code: cus_code,
                    shipment_num: shipment_num,
                    shipment_weight: shipment_weight,
                    shipment_package_num: shipment_package_num
                  };
                  if (_self.listShipmentExportList.indexOf(item) == -1) {
                    var objIndexS = _self.listItemBox.findIndex(
                      obj => obj.id == item.id
                    );
                    if (objIndexS == -1) {
                      console.log(JSON.stringify(objIndexS) + " objIndexS");
                      _self.listShipmentExportList.push(item);
                      _self.listShipmentExportList_master.push(item);
                      _self.listItemBox.push(item);
                      //_self.listItemBox.push({'box_id':_self.current_selected_box, 'id':item.id, 'cus_code':cus_code, 'shipment_num':shipment_num, 'shipment_weight':shipment_weight, 'shipment_package_num':shipment_package_num});
                    } else {
                      showToast(
                        "Exist Shipment",
                        "This shipment has been added",
                        "error"
                      );
                    }
                  }
                }
              } else {
                showToast(
                  "Exist Shipment In Export List",
                  "This shipment exist other Export List!",
                  "error"
                );
              }
            })
            .catch(function(error) {
              console.log(error);
            });
        }
      }
    },
    loadShipmentBarcodeInput_bk: function() {
      var _self = this;
      if (_self.shipmentCodeBarcodeInput) {
        if (_self.exportlistid) {
          this.$http
            .get(
              AppData.baseUrl +
                "/api/export-list/shipment-detail-code-scan/" +
                _self.shipmentCodeBarcodeInput
            )
            .then(function(response) {
              _self.shipmentCodeBarcodeInput = "";
              var item_ = response.data.data;
              if (!item_.success) {
                var code = item_.code;
                _self.$refs.barcodescan.focus();
                var fields = code.split("-");
                var cus_code = fields[0];
                var shipment_num = fields[1];
                var shipment_weight = fields[2];
                var shipment_package_num = fields[3];
                if (
                  typeof cus_code == "undefined" ||
                  typeof shipment_num == "undefined" ||
                  typeof shipment_weight == "undefined" ||
                  typeof shipment_package_num == "undefined"
                ) {
                  showToast(
                    "Error Format",
                    "This code not correct format",
                    "error"
                  );
                  return;
                } else if (
                  !Number(shipment_num) ||
                  !Number(shipment_package_num)
                ) {
                  showToast(
                    "Error Format",
                    "Number or package number is a number",
                    "error"
                  );
                  return;
                } else if (
                  parseInt(shipment_num) <= 0 ||
                  parseInt(shipment_package_num) <= 0
                ) {
                  showToast(
                    "Error Format",
                    "Number or package number not null",
                    "error"
                  );
                  return;
                } else {
                  var box_current = _self.current_selected_box;
                  var item = {
                    box_id: box_current,
                    id: code,
                    cus_code: cus_code,
                    shipment_num: shipment_num,
                    shipment_weight: shipment_weight,
                    shipment_package_num: shipment_package_num
                  };
                  //if (_self.listShipmentExportList.indexOf(item)==-1){
                  console.log(JSON.stringify(_self.listItemBox) + " list1");
                  var objIndexS = _self.listItemBox.findIndex(
                    obj => obj.id == item.id && obj.box_id == "0"
                  );
                  if (objIndexS != -1) {
                    console.log(JSON.stringify(objIndexS) + " list21");
                    if (box_current != 0) {
                      var pack_num =
                        _self.listItemBox[objIndexS].shipment_package_num;
                      var pack_0 = _self.listItemBox[objIndexS].pack_0;
                      if (typeof pack_0 == "undefined") {
                        pack_0 = 1;
                      } else {
                        pack_0++;
                      }
                      _self.listItemBox[objIndexS].pack_0 = pack_0;
                      console.log(JSON.stringify(pack_0) + " list51");
                      console.log(parseInt(pack_num) + " list41");
                      //if(parseInt(pack_0) >= parseInt(pack_num)){
                      _self.listShipmentExportList_master.splice(objIndexS, 1);
                      _self.listShipmentExportList.splice(objIndexS, 1);
                      _self.listItemBox.splice(objIndexS, 1);
                      //}
                      _self.listShipmentExportList.push(item);
                      _self.listShipmentExportList_master.push(item);
                      //_self.listItemBox.push({'box_id':"2", 'id':item.id, 'cus_code':cus_code, 'shipment_num':shipment_num, 'shipment_weight':shipment_weight, 'shipment_package_num':shipment_package_num});
                      _self.listItemBox.push(item);
                    } else {
                      showToast(
                        "Exist Barcode",
                        "This Barcode added!",
                        "success"
                      );
                    }
                  } else {
                    showToast(
                      "Exist Shipment 1",
                      "This shipment not added before",
                      "error"
                    );
                  }
                  //}
                }
              } else {
                showToast(
                  "Not Have Barcode",
                  "This code not in exportlist!",
                  "error"
                );
              }
            })
            .catch(function(error) {
              console.log(error);
            });
        } else {
          this.$http
            .get(
              AppData.baseUrl +
                "/api/export-list/shipment-detail-code-scan/" +
                _self.shipmentCodeBarcodeInput
            )
            .then(function(response) {
              _self.shipmentCodeBarcodeInput = "";
              var item_ = response.data.data;
              if (item_.success) {
                var code = item_.code;
                _self.$refs.barcodescan.focus();
                var fields = code.split("-");
                var cus_code = fields[0];
                var shipment_num = fields[1];
                var shipment_weight = fields[2];
                var shipment_package_num = fields[3];
                if (
                  typeof cus_code == "undefined" ||
                  typeof shipment_num == "undefined" ||
                  typeof shipment_weight == "undefined" ||
                  typeof shipment_package_num == "undefined"
                ) {
                  showToast(
                    "Error Format",
                    "This code not correct format",
                    "error"
                  );
                  return;
                } else if (
                  !Number(shipment_num) ||
                  !Number(shipment_package_num)
                ) {
                  showToast(
                    "Error Format",
                    "Number or package number is a number",
                    "error"
                  );
                  return;
                } else if (
                  parseInt(shipment_num) <= 0 ||
                  parseInt(shipment_package_num) <= 0
                ) {
                  showToast(
                    "Error Format",
                    "Number or package number not null",
                    "error"
                  );
                  return;
                } else {
                  var box_current = _self.current_selected_box;
                  var item = {
                    box_id: box_current,
                    id: code,
                    cus_code: cus_code,
                    shipment_num: shipment_num,
                    shipment_weight: shipment_weight,
                    shipment_package_num: shipment_package_num
                  };
                  if (_self.listShipmentExportList.indexOf(item) == -1) {
                    var objIndexS = _self.listItemBox.findIndex(
                      obj => obj.id == item.id
                    );
                    if (objIndexS == -1) {
                      //console.log(JSON.stringify(objIndexS)+' objIndexS');
                      console.log(
                        JSON.stringify(_self.listItemBox) +
                          " 3objIndexS3 " +
                          box_current
                      );
                      _self.listShipmentExportList.push(item);
                      _self.listShipmentExportList_master.push(item);
                      //_self.listItemBox.push({'box_id':"2", 'id':item.id, 'cus_code':cus_code, 'shipment_num':shipment_num, 'shipment_weight':shipment_weight, 'shipment_package_num':shipment_package_num});
                      _self.listItemBox.push(item);
                    } else {
                      showToast(
                        "Exist Shipment",
                        "This shipment has been added",
                        "error"
                      );
                    }
                  }
                }
              } else {
                showToast(
                  "Exist Shipment In Export List",
                  "This shipment exist other Export List!",
                  "error"
                );
              }
            })
            .catch(function(error) {
              console.log(error);
            });
        }
      }
    },
    loadShipmentBarcodeInput: function() {
      var _self = this;
      if (_self.shipmentCodeBarcodeInput) {
        this.$http
          .get(
            AppData.baseUrl +
              "/api/export-list/shipment-detail-code-scan/" +
              _self.shipmentCodeBarcodeInput
          )
          .then(function(response) {
            _self.shipmentCodeBarcodeInput = "";
            var item_ = response.data.data;
            if (!item_.success) {
              var code = item_.code;
              _self.$refs.barcodescan.focus();
              var fields = code.split("-");
              var cus_code = fields[0];
              var shipment_num = fields[1];
              var shipment_weight = fields[2];
              var shipment_package_num = fields[3];
              if (
                typeof cus_code == "undefined" ||
                typeof shipment_num == "undefined" ||
                typeof shipment_weight == "undefined" ||
                typeof shipment_package_num == "undefined"
              ) {
                showToast(
                  "Error Format",
                  "This code not correct format",
                  "error"
                );
                return;
              } else if (
                !Number(shipment_num) ||
                !Number(shipment_package_num)
              ) {
                showToast(
                  "Error Format",
                  "Number or package number is a number",
                  "error"
                );
                return;
              } else if (
                parseInt(shipment_num) <= 0 ||
                parseInt(shipment_package_num) <= 0
              ) {
                showToast(
                  "Error Format",
                  "Number or package number not null",
                  "error"
                );
                return;
              } else {
                var box_current = _self.current_selected_box;
                console.log('--box_current--'.objIndexS);
                // check add to box 0 or not
                if(box_current == 0){
                  var item = {
                    box_id: box_current,
                    id: code,
                    cus_code: cus_code,
                    shipment_num: shipment_num,
                    shipment_weight: shipment_weight,
                    shipment_package_num: shipment_package_num
                  };
                  var objIndexS = _self.listItemBox.findIndex(
                    obj => obj.id == item.id
                  );
                  console.log('----'.objIndexS);
                  if (objIndexS != -1) {
                    _self.listShipmentExportList.push(item);
                    _self.listShipmentExportList_master.push(item);
                    //_self.listItemBox.push({'box_id':"2", 'id':item.id, 'cus_code':cus_code, 'shipment_num':shipment_num, 'shipment_weight':shipment_weight, 'shipment_package_num':shipment_package_num});
                    _self.listItemBox.push(item);
                  } else {
                    showToast(
                      "Exist Shipment",
                      "This shipment has been added",
                      "error"
                    );
                  }
                } else {
                  var item_check = {
                    box_id: 0,
                    id: code,
                    cus_code: cus_code,
                    shipment_num: shipment_num,
                    shipment_weight: shipment_weight,
                    shipment_package_num: shipment_package_num
                  };
                  if (_self.listShipmentExportList.indexOf(item_check) != -1) {
                    var objIndexS = _self.listItemBox.findIndex(
                      obj => obj.id == code
                    );
                    _self.listShipmentExportList[objIndexS].box_id = box_current;
                    _self.listShipmentExportList_master[objIndexS].box_id = box_current;
                  } else {
                    showToast(
                        "Exist Shipment 1",
                        "This barcode not in Export List",
                        "error"
                      );
                  }
                }
              }
            } else {
              showToast(
                "Exist Shipment In Export List",
                "This shipment exist other Export List!",
                "error"
              );
            }
          })
          .catch(function(error) {
            console.log(error);
          });
      }
    },
    saveExportList: function() {
      var _self = this;
      var odd_package = _self.listItemBox.filter(obj => obj.box_id == 0);
      if (_self.export_list_name === "") {
        showToast("error", "Export name require", "error");
        return;
      } else {
        this.$http
          .post("/api/export-list", {
            listBox: _self.listBox,
            listItemBox: _self.listItemBox,
            summaryW: _self.summaryW,
            summaryP: _self.summaryP,
            airport: _self.airport,
            awb_number: _self.awb_number,
            departure: _self.departure,
            destination: _self.destination,
            export_list_name: _self.export_list_name,
            code_T_Express: _self.code_T_Express
          })
          .then(
            response => {
              showToast(
                "Created export-list successfully",
                "Created export-list information has been created",
                "success"
              );
              //alert('Export List created success!');
              //window.location.href = AppData.baseUrl+"/export-list";
              //_self.isChecked = true;
              _self.detail_exportlist.id = response.data.data.id;
              _self.exportlistid = response.data.data.id;
              //_self.isEdit = true;
              setTimeout(function() {
                location.reload("/export-list");
              }, 2000);
            },
            error => {
              _self.isSending = false;
              if (error.data && error.data.data) {
                _self.errors = error.data.data;
              }
              showToast(
                "Created export-list failed",
                "export-list has not been created",
                "error"
              );
            }
          );
        return true;
      }
    },
    saveExportListAwb: function() {
      var _self = this;
      if (_self.airport === "") {
        showToast("error", "Airport require", "error");
        return;
      } else if (_self.awb_number === "") {
        showToast("error", "Awb Number require", "error");
        return;
      } else if (_self.export_list_name === "") {
        showToast("error", "Export name require", "error");
        return;
      } else if (_self.code_T_Express === "") {
        showToast("error", "Code T Express require", "error");
        return;
      } else if (_self.departure === "") {
        showToast("error", "Departure require", "error");
        return;
      } else if (_self.destination === "") {
        showToast("error", "Destination require", "error");
        return;
      } else {
        _self.$htmlToPaper("printAWB");
      }
      return true;
    },
    updateExportList: function() {
      var _self = this;
      var odd_package = _self.listItemBox.filter(obj => obj.box_id == 0);
      var id = _self.exportlistid;
      if (_self.listItemBox.length == 0) {
        showToast("error", "List shipment require", "error");
        return;
      } else if (odd_package.length == 0) {
        showToast("error", "Odd package require", "error");
        return;
      } else {
        this.$http
          .put("/api/export-list/" + id, {
            listBox: _self.listBox,
            listItemBox: _self.listItemBox,
            summaryW: _self.summaryW,
            summaryP: _self.summaryP,
            airport: _self.airport,
            awb_number: _self.awb_number,
            departure: _self.departure,
            destination: _self.destination,
            export_list_name: _self.export_list_name,
            code_T_Express: _self.code_T_Express
          })
          .then(
            response => {
              showToast(
                "Export-list update successfully",
                "Export-list information has been updated",
                "success"
              );
              //alert('Export List created success!');
              //window.location.href = AppData.baseUrl+"/export-list";
              _self.isChecked = true;
              setTimeout(function() {
                location.reload("/export-list");
              }, 2000);
            },
            error => {
              _self.isSending = false;
              if (error.data && error.data.data) {
                _self.errors = error.data.data;
              }
              showToast(
                "Export-list update failed",
                "export-list has not been updated",
                "error"
              );
            }
          );
        return true;
      }
    }
  }
};
</script>
