<template>
  <div>
    <div class="col-md-12">
      <div class="portlet light bordered col-md-12" id="package-block">
        <div class="portlet-title">
          <div class="caption font-dark">
            <i class="icon-user font-dark"></i>
            <span class="caption-subject bold uppercase">Consolidated Trackings</span>
          </div>
          <div class="actions"></div>
        </div>
        <div class="portlet-body form col-md-12 padding-15" id="customerInfo">
          <form role="form" lpformnum="1">
            <div class="form-group col-md-12">
              <label>
                <b>Customer Code</b>
              </label>
              <input
                ref="customercode"
                autofocus
                name="customer_code"
                id="customer_code"
                type="text"
                class="form-control"
                v-model="customer.customer_code"
                @change="SearchCustomer"
                placeholder="Input Customer Code"
              />
            </div>
            <div class="form-group col-md-12">
              <label>
                <b>Full Name</b>
              </label>
              <input
                disabled="true"
                id="fullname"
                v-model="customer.fullname"
                type="text"
                class="form-control"
              />
            </div>
            <div class="form-group col-md-12">
              <label>
                <b>Phone</b>
              </label>
              <input
                disabled="true"
                id="phone"
                v-model="customer.phone"
                type="text"
                class="form-control"
              />
            </div>
            <div class="form-group col-md-12">
              <label>
                <b>Email</b>
              </label>
              <input
                disabled="true"
                id="email"
                v-model="customer.email"
                type="text"
                class="form-control"
              />
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Start Fee-->
    <div class="col-md-12">
      <div class="portlet light bordered col-md-12">
        <div class="portlet-title">
          <div class="caption font-dark">
            <i class="icon-settings font-dark"></i>
            <span class="caption-subject bold uppercase">List Tracking</span>
          </div>
          <div class="actions">
            <div class="btn-group btn-group-devided"></div>
          </div>
        </div>
        <!-- Scanbarcode -->
        <div class="portlet-body form col-md-12 padding-15">
          <form role="form" lpformnum="1">
            <div class="form-group col-md-12">
              <label>
                <b>Tracking Scan Code</b> For
                <span v-if="current_selected_box != 0">Consolidated {{(current_selected_box)}}</span>
                <span v-else>Export List</span>
              </label>
              <input
                ref="barcodescan"
                autofocus
                name="barcode_scan"
                id="barcode_scan"
                type="text"
                class="form-control"
                v-model="trackingCodeBarcode"
                @keyup="loadTrackingBarcode"
                placeholder="Scan Tracking Scan Code"
                :disabled="disabled == 1"
              />
            </div>
            <div class="form-group col-md-12">
              <label>
                <b>or Type Tracking Scan Code</b> For
                <span v-if="current_selected_box != 0">Consolidated {{(current_selected_box)}}</span>
                <span v-else>Export List</span>
              </label>
              <input
                ref="barcodescaninput"
                name="barcode_input"
                id="barcode_input"
                type="text"
                class="form-control"
                v-model="trackingCodeBarcodeInput"
                @keyup.enter="loadTrackingBarcodeInput"
                placeholder="Input tracking code and enter"
                :disabled="disabled == 1"
              />
            </div>
            <div class="form-group col-md-12">
              <a v-if="_self.customer.customer_code" @click="onClickNewBoxOnly()" href="javascript:;">
                <i class="icon-docs"></i> Add Consolidated
              </a>
            </div>
          </form>
        </div>
        <!-- END Scanbarcode-->

        <!-- START button add box-->
        <div class="portlet-body form padding-15">
          <!-- START BUTTON add -->
          <div class="btn-group" v-if="checkedList.length">
            <button
              class="btn btn-xs green dropdown-toggle"
              type="button"
              data-toggle="dropdown"
              aria-expanded="true"
            >
              Actions
              <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a @click="onClickNewBox()" href="javascript:;">
                  <i class="icon-docs"></i> Add New Consolidated
                </a>
              </li>
              <li v-for="(box, key) in listBox">
                <a href="javascript:;" @click="onClickAddToBox(key)">
                  <i class="icon-tag"></i>
                  <span v-if="key != 0">Add To Consolidated {{(key)}}</span>
                  <span v-if="key == 0">Add Not Yet Packages</span>
                </a>
              </li>
            </ul>
          </div>
          <!-- END BUTTON add -->
          <!--List Box-->
          <div
            class="btn tab-box-wrap-2"
            v-if="listShipmentExportList_master && listShipmentExportList_master.length > 0"
            v-for="(box, key) in listBox"
          >
            <div class="btn blue"
              :class="'tab-box-'+(key)"
              style="margin: 10px;"
            >
              <button
                v-if="key > 0"
                style="font-size: 8px;"
                @click="onClickRemoveBox(key)"
                class="btn red btn-default"
              >X</button>
              <span
                v-if="key != 0"
                class
                @click="onClickCurentBox(key)"
              >Consolidated {{(key)}} - Items({{countBoxItems(key)}})</span>
              <span
                v-else
                class
                @click="onClickCurentBox(key)"
              >Not Yet Consolidated - Items({{countBoxItems(key)}})</span>
            </div>
          </div>
          <!--END List Box-->
        </div>
        <!-- END button add box-->
        <div class="portlet-body form padding-15">
          <table
            class="table table-striped table-bordered table-hover no-footer"
            role="grid"
            id="recipient-table"
          >
            <thead>
              <tr role="row" class="heading">
                <th></th>
                <th>Tracking Code</th>
                <th>Created at</th>
                <th width="10%">Actions</th>
              </tr>
              <tr>
                <th colspan="4">
                  <span v-if="current_selected_box != 0">Consolidated {{(current_selected_box+1)}}</span>
                  <span v-else>Not Yet Consolidated</span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-if="listTracking && listTracking.length > 0"
                v-for="model in listTracking"
                role="row"
                class="odd"
              >
                <td>
                  <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                    <input
                      type="checkbox"
                      class="checkboxes"
                      :value="model.id"
                      v-model="checkedList"
                    />
                    <span></span>
                  </label>
                </td>
                <td>{{model.tracking_code}}</td>
                <td>{{model.created_at}}</td>
                <td class="text-center">
                  <button class="btn btn-danger" @click="deleteItemList(model.id)">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
              <tr v-if="listTracking && listTracking.length > 0 && current_selected_box !=0" class="odd">
                <td colspan="2"><input class="form-control" placeholder="Enter weight" @change="changeDescription" v-model="weight" /></td>
                <td colspan="2">
                  <table class="table">
                  <tr class="old">
                    <td><input class="form-control" placeholder="Enter depth" @change="changeDescription" v-model="depth" /></td>
                    <td><input class="form-control" placeholder="Enter width" @change="changeDescription" v-model="width" /></td>
                    <td><input class="form-control" placeholder="Enter height" @change="changeDescription" v-model="height" /></td>
                  </tr>
                  </table>
                </td>
              </tr>
              <tr v-if="listTracking && listTracking.length > 0 && current_selected_box !=0" class="odd">
                <td colspan="4"><textarea cols="2" class="form-control" placeholder="Enter note" @change="changeDescription" v-model="note" ></textarea></td>  
              <tr>
              <tr v-if="!listTracking || listTracking.length == 0">
                <td colspan="4">No Data - No find data</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--End Fee -->
    <div class="form-group col-md-12">
          <button
            type="button"
            class="btn sbold green btn-circle"
            @click="updateTrackingList()"
          >{{ (isSending) ? 'Saving ...' : 'Save Tracking List'}}</button>
        </div>
  </div>
</template>
<style>
.dropdown-input {
  border-radius: 0 25px 25px 0 !important;
  width: 100% !important;
}
.dropdown-content {
  z-index: 100 !important;
}

.viewport {
  position: relative;
}
.viewport canvas,
.viewport video {
  position: absolute;
  left: 0;
  top: 0;
}
</style>
<script>
import VueHtmlToPaper from "./vue-html-to-paper.js";
var options = {
  name: "_blank",
  specs: ["fullscreen=yes", "titlebar=no", "scrollbars=yes"],
  styles: [
    "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css",
    "https://unpkg.com/kidlat-css/css/kidlat.css"
  ]
};

Vue.use(VueHtmlToPaper, options);
Vue.component("v-select", VueSelect.VueSelect);
export default {
  props: {},
  data: function() {
    return {
      showError: false,
      errors: "",
      role_id: AppData.role_id,
      isSending: false,
      isLoadType: false,
      disabled: 1,
      isChecked: false,
      listShipmentExportList_master: [],
      checkedList: [],
      listBox: [],
      listItemBox: [],
      current_box: 1,
      current_selected_box: 0,
      customer_code: "",
      customer: {
        customer_code: "",
        fullname: "",
        phone: "",
        email: ""
      },
      tracking_code:'',
      listTracking: [],
      list_description: [],
      weight: "",
      width: "",
      height: "",
      depth : "",
      note: "",
      trackingCodeBarcode: "",
      trackingCodeBarcodeInput:"",
      consolidatedId:"",
      disabled: 1,
    };
  },
  components: {},
  computed: {
  },
  created: function() {
    var _self = this;
    _self.listBox.push({ box_id: 0 });
    _self.list_description.push({note: "" , weight: "", width: "",height: "",depth : ""});
    console.log("sender_form created");
  },
  watch: {
    checkAll: function(value) {
      var ids = _.transform(
        this.pagination.data,
        function(result, model) {
          result.push(model.id);
        },
        []
      );
      if (value) {
        this.checkedList = _.union(this.checkedList, ids);
      } else {
        this.checkedList = _.xor(this.checkedList, ids);
      }
    }
  },
  beforeMount: function() {
    console.log("sender_form beforeMount");
  },
  mounted: function() {
  },
  updated: function() {
    console.log("sender_form updated");
  },
  beforeDestroy: function() {
    console.log("sender_form beforeDestroy");
  },
  methods: {
    check: function(e) {
      if (e.target.checked) {
        this.isChecked = true;
      } else {
        this.isChecked = false;
      }
    },
    onClickRemoveBox: function(key) {
      console.log(key);
      var _self = this;
      if (confirm("Do you want to delete?")) {
        console.log(JSON.stringify(key) + " key");
        this.listBox.splice(key, 1);
        this.current_box -= 1;
        // tìm các list của box
        const list_id = _self.listItemBox.filter(function(value) {
          return value.box_id == key;
        });
        console.log(JSON.stringify(list_id) + " idx");
        // update list to box 1
        list_id.forEach(function(entry) {
          console.log(JSON.stringify(entry) + " entry");
          var objIndex = _self.listItemBox.findIndex(obj => obj.id == entry.id);
          _self.listItemBox[objIndex].box_id = 0;
        });
        this.onClickCurentBox(0);
        console.log(JSON.stringify(_self.listItemBox) + " idx");
      }
    },
    onClickNewBox: function() {
      var _self = this;
      // get current box
      var box_id = _self.current_box;
      if (_self.checkedList && _self.checkedList.length) {
        // create new box
        _self.listBox.push({ box_id: box_id });
        _self.list_description.push({note: "" , weight: "", width: "",height: "",depth : ""});
        _self.current_box++;
        // add item
        const checkedList_ = [];
        _self.checkedList.forEach(function(entry) {
          // add new box
          console.log(JSON.stringify(_self.listItemBox) + " listItemBox B");
          console.log(JSON.stringify(box_id) + " listItemBox A");
          var objIndex = _self.listItemBox.findIndex(obj => obj.id == entry);

          console.log(JSON.stringify(objIndex) + " listItemBox A1");
          _self.listItemBox[objIndex].box_id = box_id;
          _self.listShipmentExportList_master[objIndex].box_id = box_id;

          console.log(JSON.stringify(_self.listItemBox) + " listItemBox A");
          checkedList_.push({ id: entry });
        });
        // remove checked in export-list
        const results = _self.listTracking.filter(
          ({ id: id1 }) => !checkedList_.some(({ id: id2 }) => id2 === id1)
        );
        // set lits new for ALL
        _self.listTracking = results;
        // set list shipment for box
        console.log(JSON.stringify(results) + " Export list has been remove");
        // reset checkbox
        $(".checkboxes").each(function() {
          this.checked = false;
        });
        _self.checkedList = [];
      }
      this.onClickCurentBox(box_id);
    },
    onClickCurentBox: function(box_id) {
      var _self = this;
      if(box_id){
        _self.disabled = 0;
      } else {
        _self.disabled = 1;
      }
      _self.current_selected_box = box_id;
      $(".blue").removeClass("tab-box-active-2");
      $(".tab-box-" + box_id).addClass("tab-box-active-2");

      ////console.log(JSON.stringify(_self.listItemBox) + " box_id");
      //onsole.log(_self.listShipmentExportList_master);
      //console.log(_self.listItemBox);
      const list_id = _self.listItemBox.filter(function(value) {
        return value.box_id == box_id;
      });
      if(_self.list_description.length) {
        _self.weight= _self.list_description[box_id].weight;
        _self.note= _self.list_description[box_id].note;
        _self.height= _self.list_description[box_id].height;
        _self.depth= _self.list_description[box_id].depth;
        _self.width= _self.list_description[box_id].width;
      }
      //console.log(JSON.stringify(list_id)+' Export list');
      // get id
      const results = _self.listShipmentExportList_master.filter(
        ({ id: id1 }) => list_id.some(({ id: id2 }) => id2 === id1)
      );
      _self.listTracking = results;
      
    },
    onClickCurentBox_BK: function(box_id) {
      var _self = this;
      if(box_id){
        _self.disabled = 1;
      } else {
        _self.disabled = 0;
      }
      _self.current_selected_box = box_id;
      console.log(JSON.stringify(_self.listItemBox) + " box_id");
      console.log(_self.listShipmentExportList_master);
      console.log(_self.listItemBox);
      const list_id = _self.listItemBox.filter(function(value) {
        return value.box_id == box_id;
      });
      _self.weight= _self.list_description[box_id].weight;
      _self.note= _self.list_description[box_id].note;
      _self.height= _self.list_description[box_id].height;
      _self.depth= _self.list_description[box_id].depth;
      _self.width= _self.list_description[box_id].width;
      //console.log(JSON.stringify(list_id)+' Export list');
      // get id
      const results = _self.listShipmentExportList_master.filter(
        ({ id: id1 }) => list_id.some(({ id: id2 }) => id2 === id1)
      );
      _self.listTracking = results;
      
    },
    onClickAddToBox: function(box_id) {
      var _self = this;
      _self.current_selected_box = box_id;
      if (_self.checkedList && _self.checkedList.length) {
        // add item
        const checkedList_ = [];
        _self.checkedList.forEach(function(entry) {
          // add new box
          var objIndex = _self.listItemBox.findIndex(obj => obj.id == entry);
          console.log(JSON.stringify(objIndex) + " listItemBox A1");
          _self.listItemBox[objIndex].box_id = box_id;
          _self.listShipmentExportList_master[objIndex].box_id = box_id;

          console.log(JSON.stringify(_self.listItemBox) + " listItemBox A");
          checkedList_.push({ id: entry });
        });
        // remove checked in export-list
        const results = _self.listTracking.filter(
          ({ id: id1 }) => !checkedList_.some(({ id: id2 }) => id2 === id1)
        );
        // set lits new for ALL
        _self.listTracking = results;
        // set list shipment for box
        console.log(JSON.stringify(results) + " Export list has been remove");
        // reset checkbox
        $(".checkboxes").each(function() {
          this.checked = false;
        });
        _self.checkedList = [];
      }
    },
    deleteItemList: function(id) {
      var _self = this;
      var box_id = _self.current_selected_box;
      var objIndex = _self.listItemBox.findIndex(obj => obj.id == id);
      if (box_id == 0) {
        _self.listItemBox.splice(objIndex, 1);
        var objIndexM = _self.listItemBox.findIndex(obj => obj.id == id);
        _self.listShipmentExportList_master.splice(objIndexM, 1);
      } else {
        _self.listItemBox[objIndex].box_id = 0;
      }
      this.onClickCurentBox(box_id);
    },
    countBoxItems: function(box_id) {
      var _self = this;
      return _self.listItemBox.filter(box => box.box_id == box_id).length;
    },
    countBoxWeight: function(box_id) {
      var _self = this;
      const list_id = _self.listItemBox.filter(function(value) {
        return value.box_id == box_id;
      });
      // get id
      const results = _self.listShipmentExportList_master.filter(
        ({ id: id1 }) => list_id.some(({ id: id2 }) => id2 === id1)
      );
      var val = 0;
      if (results.length) {
        val = results
          .map(item => item.package_weight)
          .reduce((prev, next) => parseFloat(prev) + parseFloat(next));
      }
      //var wCount = results.reduce( sumProps('package_weight'));
      return val;
    },
    SearchCustomer: function() {
      var _self = this;
      if (_self.customer.customer_code === "") {
        showToast("error", "Customer code require", "error");
        return;
      } else{
        App.blockUI({
        target: "#customerInfo",
        animate: true
      });
      this.$http
        .get("/api/get-customer/" + _self.customer.customer_code)
        .then(function(response) {
          _self.customer = response.data.data;
          if (_self.customer.length != 0) {
            _self.customer.forEach(element => {
              _self.customer.fullname = element.firstname + " " + element.lastname;
              _self.customer.phone = element.phone;
              _self.customer.email = element.email;
              _self.customer.customer_code = element.customer_code;
            });
            this.loadTracking(_self.customer.customer_code);
          }
          else{
            _self.listTracking = [];
            _self.listShipmentExportList_master = [];
            _self.listItemBox = [];
            showToast(
              "Not found",
              "Please enter customer code again",
              "error"
            );
          }
          App.unblockUI("#customerInfo");
        })
        .catch(function(error) {
          App.unblockUI("#customerInfo");
          console.log(error);
        });
      }
    },
    updateTrackingList: function () {
      var _self = this;
      var listfilter = _self.listShipmentExportList_master.filter(function (item) {
        return item.box_id != 0;
      });
      for (let i = 1; i < _self.list_description.length; i++) {
        if(_self.list_description[i].weight.trim() == ''|| isNaN(_self.list_description[i].weight)){
          showToast("error", "Weight consolidated "+i +" require or must be number", "error");
          return;
        } else if(_self.list_description[i].depth.trim() == ''|| isNaN(_self.list_description[i].depth)){
          showToast("error", "Depth consolidated "+i+" require or must be number", "error");
          return;
        } else if(_self.list_description[i].width.trim() == ''|| isNaN(_self.list_description[i].width)){
          showToast("error", "Width consolidated "+i+" require or must be number", "error");
          return;
        } else if(_self.list_description[i].height.trim() == ''|| isNaN(_self.list_description[i].height)){
          showToast("error", "Height consolidated "+i+" require or must be number", "error");
          return;
        }
      }
      if(listfilter.length === 0){
        showToast("error", "No have consolidated", "error");
        return;
      }else{
        _self.isSending= true;
        var listItem = [];
        for (let i = 1; i < _self.listBox.length; i++) {
            var group_tracking = "";
            listfilter.forEach(element => {
              if(element.box_id == i){
                group_tracking += element.id+";" ;
              }
            });
            listItem.push({
              customer_code : _self.customer.customer_code,
              group_tracking : group_tracking,
              note : _self.list_description[i].note,
              weight : _self.list_description[i].weight,
              depth : _self.list_description[i].depth,
              height : _self.list_description[i].height,
              width : _self.list_description[i].width,
              created_by : 1,
              status: 1,
            })
        }
        this.$http
        .post("/api/tracking/createConsolidatedTracking",{listItem: listItem})
        .then(
          response => {
            showToast(
              "Consolidated tracking created successfully",
              "Consolidated tracking has been created",
              "success"
            );
            _self.isSending = false;
          },
          error => {
            _self.isSending = false;
            if (error.data && error.data.data) {
              _self.errors = error.data.data;
            }
            showToast(
              "Consolidated tracking created failed",
              "Consolidated tracking has not been created",
              "error"
            );
          }
        );
      }
        
    },
    loadTracking: function (customer_code) {
      var _self = this;
      this.$http
        .get("/api/tracking?customer_code="+customer_code)
        .then(function(response) {
          _self.listTracking = response.data.data;
          _self.listShipmentExportList_master = response.data.data;
          _self.listShipmentExportList_master.forEach(element => {
            _self.listItemBox.push({ box_id: 0, id: element.id });
          });
          _self.onClickCurentBox(0);
        })
        .catch(function(error) {
          console.log(error);
        });
        
    },
    changeDescription: function () {
      var _self = this;
      _self.list_description[_self.current_selected_box].weight = _self.weight;
      _self.list_description[_self.current_selected_box].note = _self.note;
      _self.list_description[_self.current_selected_box].width = _self.width;
      _self.list_description[_self.current_selected_box].depth = _self.depth;
      _self.list_description[_self.current_selected_box].height = _self.height;

    },
    onClickNewBoxOnly: function() {
      var _self = this;
      // get current box
      var count_box = _self.listBox.length;
      // create new box
      _self.listBox.push({ box_id: ""+count_box });
      _self.list_description.push({box_id: ""+count_box, note: "" , weight: "", width: "",height: "",depth : ""});
      setTimeout(function() {
        _self.onClickCurentBox(count_box);
      }, 300);
    },
    loadTrackingBarcode: _.debounce(function() {
      var _self = this;
      var correct = new Audio('/storage/sound/correct.wav');
      var incorrect = new Audio('/storage/sound/incorrect.mp3');
      var code = _self.trackingCodeBarcode;
      if (code) {
        var consolidatedId = _self.consolidatedId;
        var box_current = _self.current_selected_box;
        _self.disabled = 1;
        // check in list or not
        if (_self.listShipmentExportList_master && _self.listShipmentExportList_master.length) {
          _self.disabled = 0;
          var objIndex = _self.listShipmentExportList_master.findIndex(obj => obj.tracking_code == code);
          if (objIndex !== -1) {
            _self.trackingCodeBarcode = "";
            _self.$refs.barcodescan.focus();
            _self.listItemBox[objIndex].box_id = box_current;
            _self.listShipmentExportList_master[objIndex].box_id = box_current;
            _self.onClickCurentBox(box_current);
          } else {
            _self.trackingCodeBarcode = "";
            _self.$refs.barcodescan.focus();
            incorrect.play();
            showToast(
              "Error",
              "This tracking not yet scanned",
              "error"
            );
            return false;
          }
        }
      }
    }, 500),
    loadTrackingBarcodeInput: function() {
      var _self = this;
      var correct = new Audio('/storage/sound/correct.wav');
      var incorrect = new Audio('/storage/sound/incorrect.mp3');
      var code = _self.trackingCodeBarcodeInput;
      if (code) {
        console.log('lm--|'+JSON.stringify(code));
        var consolidatedId = _self.consolidatedId;
        var box_current = _self.current_selected_box;
        _self.disabled = 1;
        // check in list or not
        if (_self.listShipmentExportList_master && _self.listShipmentExportList_master.length) {
          _self.disabled = 0;
          var objIndex = _self.listShipmentExportList_master.findIndex(obj => obj.tracking_code == code);
          if (objIndex !== -1) {
            _self.trackingCodeBarcodeInput = "";
            _self.$refs.barcodescaninput.focus();
            _self.listItemBox[objIndex].box_id = box_current;
            _self.listShipmentExportList_master[objIndex].box_id = box_current;
            _self.onClickCurentBox(box_current);
          } else {
            _self.trackingCodeBarcodeInput = "";
            _self.$refs.barcodescaninput.focus();
            incorrect.play();
            showToast(
              "Error",
              "This tracking not yet scanned or added",
              "error"
            );
            return false;
          }
        }
      }
    },
  }
};
</script>