<template>
  <div id="responsive_edit_consolidated" class="modal fade" tabindex="-1" data-width="70%">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title">
        <i class="icon-users"></i> Edit consolidated
      </h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="portlet-body form">
          <!-- BEGIN FORM-->
          <div class="col-md-3">
            <div v-for="(model,n) in list_package">
              <button class="btn btn-default" @click="changePackage(model)">Package {{n+1}}</button>
              <br />
              <br />
            </div>
          </div>
          <div class="col-md-9" id="form-edit">
            <form action="#" class="form-horizontal">
              <div class="form-body">
                <form-error
                  :errors="errors"
                  field="sender_name"
                  error-class="col-md-offset-3 col-md-8"
                >
                  <label class="col-md-3 control-label">Customer Code</label>
                  <div class="col-md-8">
                    <div class="input-group">
                      <span class="input-group-addon input-circle-left">
                        <i class="fa fa-code"></i>
                      </span>
                      <input
                        type="text"
                        class="form-control input-circle-right"
                        placeholder="Customer Code Custom"
                        v-model="current_package.customer_code"
                        disabled="true"
                      />
                    </div>
                  </div>
                </form-error>
                <form-error :errors="errors" field="weight" error-class="col-md-offset-3 col-md-8">
                  <label class="col-md-3 control-label">Weight</label>
                  <div class="col-md-8">
                    <div class="input-group">
                      <span class="input-group-addon input-circle-left">
                        <i class="fa fa-info-circle"></i>
                      </span>
                      <input
                        type="text"
                        class="form-control input-circle-right"
                        placeholder="Enter weight"
                        v-model="current_package.weight"
                      />
                    </div>
                  </div>
                </form-error>
                <form-error :errors="errors" field="weight" error-class="col-md-offset-3 col-md-8">
                  <label class="col-md-3 control-label">Depth</label>
                  <div class="col-md-8">
                    <div class="input-group">
                      <span class="input-group-addon input-circle-left">
                        <i class="fa fa-info-circle"></i>
                      </span>
                      <input
                        type="text"
                        class="form-control input-circle-right"
                        placeholder="Enter depth"
                        v-model="current_package.depth"
                      />
                    </div>
                  </div>
                </form-error>
                <form-error :errors="errors" field="weight" error-class="col-md-offset-3 col-md-8">
                  <label class="col-md-3 control-label">Width</label>
                  <div class="col-md-8">
                    <div class="input-group">
                      <span class="input-group-addon input-circle-left">
                        <i class="fa fa-info-circle"></i>
                      </span>
                      <input
                        type="text"
                        class="form-control input-circle-right"
                        placeholder="Enter width"
                        v-model="current_package.width"
                      />
                    </div>
                  </div>
                </form-error>
                <form-error :errors="errors" field="weight" error-class="col-md-offset-3 col-md-8">
                  <label class="col-md-3 control-label">Height</label>
                  <div class="col-md-8">
                    <div class="input-group">
                      <span class="input-group-addon input-circle-left">
                        <i class="fa fa-info-circle"></i>
                      </span>
                      <input
                        type="text"
                        class="form-control input-circle-right"
                        placeholder="Enter height"
                        v-model="current_package.height"
                      />
                    </div>
                  </div>
                </form-error>
                <form-error :errors="errors" field="rate" error-class="col-md-offset-3 col-md-8">
                  <label class="col-md-3 control-label">Tracking list</label>
                  <div class="col-md-8">
                    <div class="input-group">
                      <span class="input-group-addon input-circle-left">
                        <i class="fa fa-info-circle"></i>
                      </span>
                      <multiselect
                        v-model="selected"
                        :options="list_tracking"
                        :multiple="true"
                        :close-on-select="false"
                        :clear-on-select="false"
                        :preserve-search="true"
                        :hideSelected="true"
                        placeholder="Select Tracking code"
                        label="tracking_code"
                        track-by="tracking_code"
                      >
                        <template slot="tag" slot-scope="{ option, remove }">
                          <span class="custom__tag">
                            <span>
                              <button class="btn green-meadow">{{ option.tracking_code }}</button>
                            </span>
                            <span class="custom__remove" @click="remove(option)">
                              <button class="btn btn-danger" @click="removeChange(option)">❌</button>
                            </span>
                          </span>
                        </template>
                        <span
                          slot="noResult"
                        >Oops! No Tracking found. Consider changing the search query.</span>
                      </multiselect>
                    </div>
                  </div>
                </form-error>
                <form-error :errors="errors" field="rate" error-class="col-md-offset-3 col-md-8">
                  <label class="col-md-3 control-label">Note</label>
                  <div class="col-md-8">
                    <div class="input-group">
                      <span class="input-group-addon input-circle-left">
                        <i class="fa fa-info-circle"></i>
                      </span>
                      <textarea
                        type="text"
                        placeholder="Enter note"
                        class="form-control input-circle-right"
                        v-model="current_package.note"
                      ></textarea>
                    </div>
                  </div>
                </form-error>
              </div>
            </form>
          </div>
          <!-- END FORM-->
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" data-dismiss="modal" class="btn btn-outline dark">Close</button>
      <button
        type="button"
        class="btn green"
        @click="updateConsolidated()"
      >{{ (isSending) ? 'Sending ...' : 'Save'}}</button>
    </div>
  </div>
</template>
<script>
import Multiselect from "vue-multiselect";
Vue.component("multiselect", Multiselect);
export default {
  props: {
    customerProp: {
      type: Object,
      default: function() {
        return {
          customer_code: "",
          consolidated: ""
        };
      }
    },
    current_package_prod:{
        id: 0,
        customer_code: "",
        weight: "",
        depth: "",
        width: "",
        height:"",
        note: "",
        group_tracking: ""},
    list_tracking_prod: [],
    list_package_prod: [],
    selected_prod:[]
  },
  data: function() {
    return {
      isUpdated: false,
      showError: false,
      errors: "",
      isChecked: 0,
      isSending: false,
      error_: ""
    };
  },
  components: {
    Multiselect
  },
  computed: {
    customer() {
      return this.customerProp;
    },
    current_package() {
      return this.current_package_prod;
    },
    list_tracking() {
      return this.list_tracking_prod;
    },
    list_package() {
      return this.list_package_prod;
    },
    selected(){
      return this.selected_prod;
    }
  },
  created: function() {
    var _self = this;
    console.log("customer_edit_form created");  
  },
  beforeMount: function() {
    console.log("customer_edit_form beforeMount");
  },
  mounted: function() {
    console.log("user_form mounted");
    var _self = this;
    //_self.loadConsolidated(_self.customer.customer_code);
    $("#responsive_edit_consolidated").on("hidden.bs.modal", function(e) {
      _self.$emit("close");
      console.log("run close");
      _self.errors = "";
    });
  },
  updated: function() {
    console.log("customer_edit_form updated");
  },
  beforeDestroy: function() {
    console.log("customer_edit_form beforeDestroy");
  },
  watch: {},
  methods: {
    updateConsolidated: function() {
      var _self = this;
      if (!this.isSending) {
        if (this.current_package.id) {
          if (_self.selected.length == 0) {
            showToast("error", "Tracking list require", "error");
            return;
          } else if (
            _self.current_package.weight.trim() === "" ||
            _self.current_package.weight == 0 ||
            isNaN(_self.current_package.weight)
          ) {
            showToast("error", "Weight require or must be number", "error");
            return;
          } else if (
            _self.current_package.depth.trim() === "" ||
            _self.current_package.depth == 0 ||
            isNaN(_self.current_package.depth)
          ) {
            showToast("error", "Depth require or must be number", "error");
            return;
          } else if (
            _self.current_package.width.trim() === "" ||
            _self.current_package.width == 0 ||
            isNaN(_self.current_package.width)
          ) {
            showToast("error", "Width require or must be number", "error");
            return;
          } else if (
            _self.current_package.height.trim() === "" ||
            _self.current_package.height == 0 ||
            isNaN(_self.current_package.height)
          ) {
            showToast("error", "Height require or must be number", "error");
            return;
          } else {
            App.blockUI({
              target: "#form-edit",
              animate: true
            });
            this.isSending = true;
            _self.list_tracking = _self.list_tracking.filter(
              x => x.change == 1
            );
            _self.current_package.group_tracking = this.formatTrackingGroup();
            this.$http
              .put(
                AppData.baseUrl + "/api/tracking/updateConsolidatedTracking",
                {
                  consolidated: _self.current_package,
                  list_tracking_rermove: _self.list_tracking
                }
              )
              .then(
                response => {
                  _self.isSending = false;
                  var customer = response.data.data;
                  eventHub.$emit("CONSOLIDATED_UPDATED", customer);
                  $(".modal.in").modal("hide");
                  _self.errors = "";
                  showToast(
                    "Updated Consolidated tracking successfully",
                    "Consolidated tracking has been updated",
                    "success"
                  );
                  App.unblockUI("#form-edit");
                },
                error => {
                  _self.isSending = false;
                  if (error.data && error.data.data) {
                    _self.errors = error.data.data;
                  }
                  showToast(
                    "Updated Consolidated tracking failed",
                    "Consolidated tracking has not been updated",
                    "error"
                  );
                  App.unblockUI("#form-edit");
                }
              );
          }
        }
      }
    },
    changePackage: function(model) {
      var _self = this;
      _self.current_package = model;
      _self.selected = [];
      _self.list_tracking = [];
      this.loadTrackingCode(model);
    },
    loadTrackingCode: function(customer) {
      var _self = this;
      this.$http
        .get(
          AppData.baseUrl +
            "/api/tracking/getListTrackingByCustomer?customer_code=" +
            customer.customer_code +
            "&group_tracking=" +
            customer.group_tracking
        )
        .then(
          response => {
            _self.list_tracking = response.data.data;
            var list_selected = _self.current_package.group_tracking.split(";");
            list_selected.forEach(element => {
              _self.list_tracking.filter(function(item) {
                element == item.id ? _self.selected.push(item) : "";
              });
            });
          },
          error => {
            console.log(error);
          }
        );
    },
    removeChange: function(option) {
      var _self = this;
      _self.selected = _self.selected.filter(x=> x.id != option.id);
      for (let i = 0; i < _self.list_tracking.length; i++) {
        if (_self.list_tracking[i].id == option.id) {
          _self.list_tracking[i].status = 0;
          _self.list_tracking[i].change = 1;
        }
      }
    },
    formatTrackingGroup: function() {
      var _self = this;
      var group_tracking = "";
      _self.selected.forEach(element => {
        group_tracking += element.id + ";";
      });
      return group_tracking;
    }
  }
};
</script>
