<template>
  <div id="responsive_edit" class="modal fade" tabindex="-1" data-width="50%">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title">
        <i class="icon-users"></i> Edit Tracking Code
      </h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="portlet-body form">
          <!-- BEGIN FORM-->
          <form action="#" class="form-horizontal">
            <div class="form-body">
              <form-error
                :errors="errors"
                field="customer_code"
                error-class="col-md-offset-3 col-md-8"
              >
                <label class="col-md-3 control-label">Customer Code</label>
                <div class="col-md-8">
                  <div class="input-group">
                    <span class="input-group-addon input-circle-left">
                      <i class="fa fa-code"></i>
                    </span>
                    <input
                      type="text"
                      class="form-control input-circle-right"
                      placeholder="Customer Code Custom"
                      v-model="customer.customer_code"
                      disabled="true"
                      @change="changeCustomerCode(customer.customer_code)"
                    />
                  </div>
                </div>
              </form-error>

              <form-error :errors="errors" field="tracking" error-class="col-md-offset-3 col-md-8">
                <label class="col-md-3 control-label">Tracking Number</label>
                <div class="col-md-8">
                  <div class="input-group">
                    <span class="input-group-addon input-circle-left">
                      <i class="fa fa-info-circle"></i>
                    </span>
                    <input
                      type="text"
                      class="form-control input-circle-right"
                      placeholder="Tracking Number"
                      v-model="customer.tracking_code"
                    />
                  </div>
                </div>
              </form-error>
            </div>
          </form>
          <!-- END FORM-->
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" data-dismiss="modal" class="btn btn-outline dark">Close</button>
      <button
        type="button"
        class="btn green"
        @click="updateCustomer()"
      >{{ (isSending) ? 'Sending ...' : 'Save'}}</button>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    customerProp: {
      type: Object,
      default: function() {
        return {
          id: 1,
          customer_code: "",
          customer_id:"",
          tracking_code: ""
        };
      }
    }
  },
  data: function() {
    return {
      isUpdated: false,
      showError: false,
      errors: "",
      isChecked: 0,
      isSending: false,
      city_: " ",
      error_: ""
    };
  },
  computed: {
    customer() {
      return this.customerProp;
    }
  },
  created: function() {
    console.log("customer_edit_form created");
  },
  beforeMount: function() {
    console.log("customer_edit_form beforeMount");
  },
  mounted: function() {
    console.log("user_form mounted");
    var _self = this;
    $("#responsive_edit").on("hidden.bs.modal", function(e) {
      _self.$emit("close");
      console.log("run close");
      _self.errors = "";
    });
  },
  updated: function() {
    console.log("customer_edit_form updated");
  },
  beforeDestroy: function() {
    console.log("customer_edit_form beforeDestroy");
  },
  watch: {},
  methods: {
    updateCustomer: function() {
      var _self = this;
      if (_self.customer.status == 1) {
        if (
          confirm(
            "Tracking code added to consolidated. Do you want to continue?"
          )
        ) {
        } else {
          return;
        }
      }
      if (!this.isSending) {
        if (this.customer.id) {
          if (_self.customer.customer_code.trim() == "") {
            showToast("error", "Customer code require", "error");
            return;
          } else if (_self.customer.tracking_code.trim() == "") {
            showToast("error", "Tracking code require", "error");
            return;
          } else {
            this.isSending = true;
            this.$http
              .put(
                AppData.baseUrl + "/api/tracking/" + _self.customer.id,
                _self.customer
              )
              .then(
                response => {
                  _self.isSending = false;
                  var customer = response.data.data;
                  eventHub.$emit("REQUESTLABEL_UPDATED", customer);
                  $(".modal.in").modal("hide");
                  _self.errors = "";
                  _self.user = customer;
                  showToast(
                    "Updated tracking code successfully",
                    "Tracking code has been updated",
                    "success"
                  );
                },
                error => {
                  _self.isSending = false;
                  if (error.data && error.data.data) {
                    _self.errors = error.data.data;
                  }
                  showToast(
                    "Updated tracking code failed",
                    "Tracking code has not been updated",
                    "error"
                  );
                }
              );
          }
        }
      }
    },
    changeTracking: function() {
      var _self = this;
      var num = _self.customer.tracking_code.split("\n").length;
      for (let i = 0; i < num; i++) {
        _self.customer.tracking_code = _self.customer.tracking_code.replace(
          "\n",
          ";"
        );
      }
    }
  }
};
</script>
