<template>
  <div class="portlet light bordered" id="list-tracking-block">
    <div v-for="n in showEditConsolidatedModal">
      <form-edit-consolidated
        @close="onCloseEdit()"
        :customerProp="current_tracking"
        :listPackageProd="list_package_prod"
        :currentPackageProd="current_package_prod"
        :listTrackingProd ="list_tracking_prod"
        :listSelectProd ="selected_prod"
      ></form-edit-consolidated>
    </div>
    <div class="portlet-title">
      <div class="caption">
        <i class="icon-users font-red"></i>
        <span class="caption-subject font-red sbold uppercase">
          List All Consolidated Tracking
          <b v-if="view_title">Of - {{view_title}}</b>
        </span>
      </div>
      <div class="actions">
        <a class="btn sbold green btn-circle" href="./tracking/consolidated-tracking" role="button">
          Add New
          <i class="fa fa-plus"></i>
        </a>
      </div>
    </div>
    <div class="portlet-body">
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table
              class="table table-striped table-bordered table-hover no-footer"
              role="grid"
              id="tracking-table"
            >
              <thead>
                <tr role="row" class="heading">
                  <th >Customer</th>
                  <th >Consolidated</th>
                  <th >Action</th>
                </tr>
                <tr role="row">
                  <th>
                    <div class="form-group">
                      <input
                        class="form-control"
                        type="text"
                        v-model="filterCustomerCode"
                        @keyup.enter="filterChange"
                      />
                    </div>
                  </th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-if="pagination &&  pagination.data && pagination.data.length > 0"
                  v-for="model in pagination.data"
                  role="row"
                  :class="'odd shipment-color-'+(model.payment_in)"
                >
                  <td class="text">{{model.customer_code}}</td>
                  <td>{{model.group_tracking}}</td>
                  <td>
                    <button
                      class="btn btn-info"
                      @click="onClickEditButton(model)"
                      data-toggle="modal"
                      href="#responsive_edit_consolidated"
                    >
                      <i class="fa fa-edit"></i>
                    </button>
                    <a class="btn sbold green btn-circle" :href="'./shipments/create?consolidated_id='+model.id" role="button">
                      Creat Shipment
                    </a>
                  </td>
                </tr>
                <tr
                  v-if="!pagination || pagination.data && pagination.data.length == 0||pagination.total==0 "
                >
                  <td colspan="10">No Data - No find data</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div v-if="pagination &&  pagination.data && pagination.data.length > 0">
        <div class="col-md-12">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <ul class="pager">
              <li
                data-lp="1"
                class="previous"
                v-bind:class="pagination.current_page == 1?'disabled':''"
              >
                <a href="javascript:void(0);" @click="backPage()">
                  <i class="fa fa-angle-left"></i>
                </a>
              </li>
              <span>{{pagination.current_page}}/{{pagination.last_page}}</span>
              <li
                data-lp="8"
                class="next"
                v-bind:class="pagination.current_page == pagination.last_page?'disabled':''"
              >
                <a href="javascript:void(0);" @click="nextPage()">
                  <i class="fa fa-angle-right fa-4"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4"></div>
        </div>
      </div>
    </div>
  </div>
</template>
<style scoped>
.actions {
  margin-right: 10px;
}
.table-responsive .form-control {
  height: 25px;
  width: 100%;
}
.form-group {
  margin-bottom: 0px !important;
}
#chartdiv {
  width: 100%;
  height: 600px;
}
#chartPiediv {
  width: 100%;
  height: 600px;
}
</style>
<script>
import FormEditConsolidated from "./FormEditConsolidated.vue";
export default {
  data: function() {
    return {
      search: "",
      pagination: {},
      currentPage: 1,
      filterCustomerCode: "",
      current_recipient: {},
      origin_recipient: {},
      showNewModal: 0,
      showEditConsolidatedModal: 1,
      isEdited: false,
      typeStatus: [],
      origin_consolidated: {},
      current_tracking: {},
      view_title: "",
      listStatus: [],
      selected: [],
      action: "0",
      list_package_prod:[],
      current_package_prod:{id: 0,
        customer_code: "",
        weight: "",
        depth: "",
        width: "",
        height:"",
        note: "",
        group_tracking: ""},
      list_tracking_prod:[],
      selected_prod: []
    };
  },
  props: {},
  components: {
    FormEditConsolidated
  },
  created: function() {
    this.refresh();
  },
  mounted: function() {
    var _self = this;
  },
  watch: {},
  computed: {
    searchQuery: function() {
      var query =
        "?orderBy=created_at&sortedBy=desc&page=" + this.currentPage + "&";
      var search = "";
      if (this.filterCustomerCode) {
        search += "customer_code=" + this.filterCustomerCode + "&";
      }
      query += search.slice(0, -1);
      return query;
    },
    pages: function() {
      var pages = [];
      if (this.pagination && this.pagination.last_page) {
        for (var i = 1; i <= this.pagination.last_page; i++) {
          pages.push(i);
        }
      }
      return pages;
    }
  },
  mounted: function() {
    var _self = this;
    eventHub.$on("CONSOLIDATED_UPDATED", function() {
      _self.refresh();
    });
  },
  methods: {
    onCloseEdit() {
      console.log("--8--" + this.showEditConsolidatedModal);
      this.showEditConsolidatedModal -= 1;
    },
    onClickEditButton(model) {
      this.isEdited = false;
      this.current_tracking = model;
      this.setOriginConsolidated(model);
      this.loadConsolidatedProd(model.customer_code);
      this.showEditConsolidatedModal += 1;
    },
    searchChange: _.debounce(function() {
      this.refresh();
    }, 500),
    refresh: function() {
      App.blockUI({
        target: "#list-tracking-block",
        animate: true
      });
      $(".btn-checked").html("Check Clicked");
      var _self = this;
      this.$http
        .get("api/tracking/getlistconsolidated" + this.searchQuery)
        .then(function(response) {
          _self.pagination = response.data.data;
          App.unblockUI("#list-tracking-block");
        })
        .catch(function(error) {
          App.unblockUI("#list-tracking-block");
        });
    },
    changePage: function(index) {
      this.currentPage = index;
      this.refresh();
    },
    backPage: function() {
      if (this.currentPage > 1) {
        this.currentPage--;
        this.refresh();
      }
    },
    nextPage: function() {
      if (this.currentPage < this.pagination.last_page) {
        this.currentPage++;
        this.refresh();
      }
    },
    filterChange: function() {
      this.refresh();
    },
    setOriginrecipient(model) {
      this.origin_recipient = _.clone(model);
    },
    setOriginConsolidated(model) {
      this.origin_consolidated = _.clone(model);
    },
    changeSelected: function() {
      var _self = this;
      var val = [];
      $(":checkbox:checked").each(function(i) {
        val[i] = $(this).val();
      });
      _self.selected = val;
    },
    changAction: function() {
      var _self = this;
      if (_self.action == "Delete") {
        if (confirm("Do you want to cancel all selected?")) {
          _self.selected.forEach(element => {
            this.$http
              .delete("/api/shipments/" + element)
              .then(function(response) {
                App.unblockUI("#list-tracking-block");
              })
              .catch(function(error) {
                App.unblockUI("#list-tracking-block");
                showToastFromResponse(error);
              });
          });
          toastr.success("Cancelled success");
        }
        _self.selected = [];
        $(".checkboxes").prop("checked", false);
        this.refresh();
      } else {
        var d = new Date();
        var month = d.getMonth() < 10 ? "0" + (d.getMonth() + 1) : d.getMonth();
        var day = d.getDate() < 10 ? "0" + d.getDate() : d.getDate();
        var date = d.getFullYear() + "-" + month + "-" + day;
        _self.selected.forEach(element => {
          var shipment = {
            shipment_id: element,
            status: _self.action.id,
            status_note: _self.action.english_name + " note",
            date_log: date
          };
          this.$http
            .post("/api/shipments/change-status", shipment)
            .then(function(response) {
              // showToastFromResponse(response);
              //this.refresh();
            })
            .catch(function(error) {
              _self.isSending = false;
              showToastFromResponse(error);
            });
        });
        _self.selected = [];
        $(".checkboxes").prop("checked", false);
        toastr.success("Changed success");
      }
      this.refresh();
      _self.action = "0";
    },
    checkAll: function() {
      var _self = this;
      if ($("#checkall").is(":checked")) {
        $(".checkboxes").prop("checked", true);
        this.changeSelected();
        _self.selected = _self.selected.slice(1);
      } else {
        $(".checkboxes").prop("checked", false);
        _self.selected = [];
      }
    },
    loadConsolidatedProd: function(customer_code) {
      var _self = this;
      if(typeof customer_code !== "undefined") {
        this.$http
          .get(
            AppData.baseUrl +
              "/api/tracking/getConsolidatedByCustomer/" + customer_code
          )
          .then(
            response => {
              _self.list_package_prod = response.data.data;
              _self.current_package_prod = response.data.data[0];
              _self.loadTrackingCodeProd(_self.current_package_prod);

            },
            error => {}
          );
      }
    },
    loadTrackingCodeProd: function(customer) {
      var _self = this;
      this.$http
        .get(
          AppData.baseUrl +
            "/api/tracking/getListTrackingByCustomer?customer_code=" +
            customer.customer_code +
            "&group_tracking=" +
            customer.group_tracking
        )
        .then(
          response => {
            _self.list_tracking_prod = []; 
            _self.selected_prod = [];
            _self.list_tracking_prod = response.data.data;
            var list_selected = _self.current_package_prod.group_tracking.split(";");
            list_selected.forEach(element => {
              _self.list_tracking_prod.filter(function(item) {
                element == item.id ? _self.selected_prod.push(item) : "";
              });
            });
          },
          error => {
            console.log(error);
          }
        );
    },
  }
};
</script>