<template>
  <div class="portlet light bordered" id="list-tracking-block">
    <div v-for="n in showEditModal">
      <form-edit
        @close="onCloseEdit()"
        :customerProp="current_tracking"
      ></form-edit>
    </div>
    <div class="portlet-title">
      <div class="caption">
        <i class="icon-users font-red"></i>
        <span class="caption-subject font-red sbold uppercase">
          List All Tracking
          <b v-if="view_title">Of - {{view_title}}</b>
        </span>
      </div>
      <div class="actions">
        <a class="btn sbold green btn-circle" href="./tracking/scan" role="button">
          Add New
          <i class="fa fa-plus"></i>
        </a>
      </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        <div class="row">
          <div class="col-md-3">
            <datepicker
              v-model="filterFrom"
              format="dd-MM-yyyy"
              input-class="form-control tel date-color"
            ></datepicker>
          </div>
          <div class="col-md-3">
            <datepicker
              v-model="filterTo"
              format="dd-MM-yyyy"
              input-class="form-control tel date-color"
            ></datepicker>
          </div>
          <div class="col-md-2"><button @click="refresh()" class="btn btn-info">Filter</button></div>
        </div>
        </div>
      </div>
    <div class="portlet-body">
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table
              class="table table-striped table-bordered table-hover no-footer"
              role="grid"
              id="tracking-table"
            >
              <thead>
                <tr role="row" class="heading">
                  <th></th>
                  <th align="center">Customer</th>
                  <th align="center">Tracking code</th>
                  <th align="center">Carrier</th>
                  <th align="center">Action</th>
                </tr>
                <tr role="row">
                  <th style="text-align:center">
                    <input @click="checkAll()" id="checkall" type="checkbox" class="group-checkable" />
                  </th>
                  <th>
                    <div class="form-group">
                      <input
                        class="form-control"
                        type="text"
                        v-model="filterCustomerCode"
                        @keyup.enter="filterChange"
                      />
                    </div>
                  </th>
                  <th>
                    <div class="form-group">
                      <input
                        class="form-control"
                        type="text"
                        v-model="filterTrackingCode"
                        @keyup.enter="filterChange"
                      />
                    </div>
                  </th>
                  <th></th>
                  <th>
                    <select v-model="action" @change="changAction()" v-if="selected.length != 0">
                      <option value="0">Select Action</option>
                      <option value="Delete">Delete selected</option>
                    </select>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-if="pagination &&  pagination.data && pagination.data.length > 0"
                  v-for="model in pagination.data"
                  role="row"
                  :class="'odd shipment-color-'+(model.payment_in)"
                >
                <td align="center">
                    <input type="checkbox" @click="changeSelected" class="checkboxes" :value="model.id" />
                  </td>
                  <td class="text">{{model.customer_code}}</td>
                  <td>{{model.tracking_code}}</td>
                  <td>{{model.carrier}}</td>
                  <td align="center">
                    <button
                      class="btn btn-info"
                      @click="onClickEditButton(model)"
                      data-toggle="modal"
                      href="#responsive_edit"
                    >
                      <i class="fa fa-edit"></i>
                    </button>
                    <button
                      class="btn btn-danger"
                      @click="deleteTracking(model)"
                    >
                      <i class="fas fa-trash"></i>
                    </button>
                  </td>
                </tr>
                <tr
                  v-if="!pagination || pagination.data && pagination.data.length == 0||pagination.total==0 "
                >
                  <td colspan="10">No Data - No find data</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div v-if="pagination &&  pagination.data && pagination.data.length > 0">
        <div class="col-md-12">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <ul class="pager">
              <li
                data-lp="1"
                class="previous"
                v-bind:class="pagination.current_page == 1?'disabled':''"
              >
                <a href="javascript:void(0);" @click="backPage()">
                  <i class="fa fa-angle-left"></i>
                </a>
              </li>
              <span>{{pagination.current_page}}/{{pagination.last_page}}</span>
              <li
                data-lp="8"
                class="next"
                v-bind:class="pagination.current_page == pagination.last_page?'disabled':''"
              >
                <a href="javascript:void(0);" @click="nextPage()">
                  <i class="fa fa-angle-right fa-4"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4"></div>
        </div>
      </div>
    </div>
  </div>
</template>
<style scoped>
.actions {
  margin-right: 10px;
}
.table-responsive .form-control {
  height: 25px;
  width: 100%;
}
.form-group {
  margin-bottom: 0px !important;
}
#chartdiv {
  width: 100%;
  height: 600px;
}
#chartPiediv {
  width: 100%;
  height: 600px;
}
</style>
<script>
import Datepicker from "~/../vuejs-datepicker";
import FormEdit from "./FormEdit.vue";
export default {
  data: function() {
    return {
      search: "",
      pagination: {},
      currentPage: 1,
      filterCustomerCode: "",
      filterTrackingCode:"",
      filterFrom: new Date(),
      filterTo: new Date(),
      current_recipient: {},
      origin_recipient: {},
      showNewModal: 1,
      showEditModal: 1,
      isEdited: false,
      typeStatus: [],
      showStatusChangeModal: 0,
      origin_shiment: {},
      current_tracking: {},
      view_title: "",
      listStatus: [],
      selected: [],
      action: "0"
    };
  },
  props: {},
  components: {
    FormEdit,Datepicker
  },
  created: function() {
    this.refresh();
  },
  mounted: function() {
    var _self = this;
  },
  watch: {},
  computed: {
    searchQuery: function() {
      var query =
        "?orderBy=created_at&sortedBy=desc&page=" + this.currentPage + "&";
      var search = "";
      if (this.filterFrom) {
        search += "from=" + this.formatDate(this.filterFrom) + " 00:00:01" + "&to="+ this.formatDate(this.filterTo) + " 23:59:59&" ;
      }
      if (this.filterCustomerCode) {
        search += "customer_code=" + this.filterCustomerCode + "&";
      }
      if (this.filterTrackingCode) {
        search += "tracking_code=" + this.filterTrackingCode + "&";
      }
      query += search.slice(0, -1);
      return query;
    },
    pages: function() {
      var pages = [];
      if (this.pagination && this.pagination.last_page) {
        for (var i = 1; i <= this.pagination.last_page; i++) {
          pages.push(i);
        }
      }
      return pages;
    }
  },
  methods: {
    onCloseEdit() {
      this.showEditModal -= 1;
    },
    onCloseNew() {
      this.showNewModal -= 1;
    },
    onClickNewButton() {
      this.showNewModal += 1;
    },
    onClickEditButton(model) {
      this.isEdited = false;
      this.current_tracking = model;
      this.setOriginTracking(model);
      this.showEditModal += 1;
    },
    onCloseStatusChangeEdit() {
      this.showStatusChangeModal -= 1;
    },
    onClickStatusChangeButton(model) {
      var _self = this;
      this.isEdited = false;
      this.current_tracking = model;
      this.setOriginTracking(model);
      this.showStatusChangeModal += 1;
    },
    searchChange: _.debounce(function() {
      this.refresh();
    }, 500),
    refresh: function() {
      App.blockUI({
        target: "#list-tracking-block",
        animate: true
      });
      $(".btn-checked").html("Check Clicked");
      var _self = this;
      this.$http
        .get("api/tracking/pagination" + this.searchQuery)
        .then(function(response) {
          _self.pagination = response.data.data;
          App.unblockUI("#list-tracking-block");
        })
        .catch(function(error) {
          App.unblockUI("#list-tracking-block");
        });
    },
    changePage: function(index) {
      this.currentPage = index;
      this.refresh();
    },
    backPage: function() {
      if (this.currentPage > 1) {
        this.currentPage--;
        this.refresh();
      }
    },
    nextPage: function() {
      if (this.currentPage < this.pagination.last_page) {
        this.currentPage++;
        this.refresh();
      }
    },
    filterChange: function() {
      this.refresh();
    },
    setOriginrecipient(model) {
      this.origin_recipient = _.clone(model);
    },
    setOriginTracking(model) {
      this.origin_shiment = _.clone(model);
    },
    deleteTracking: function (model) {
      var _self = this;
      if(confirm("Do you want to delete ?")){
        this.$http
              .delete("/api/tracking/" + model.id)
              .then(function(response) {
                App.unblockUI("#list-tracking-block");
                showToastFromResponse(response);
              })
              .catch(function(error) {
                App.unblockUI("#list-tracking-block");
                showToastFromResponse(error);
              });
          // toastr.success("Delete success");
      }
      this.refresh();
    },
    changeSelected: function() {
      var _self = this;
      var val = [];
      $(":checkbox:checked").each(function(i) {
        val[i] = $(this).val();
      });
      _self.selected = val;
    },
    changAction: function() {
      var _self = this;
      if (_self.action == "Delete") {
        if (confirm("Do you want to cancel all selected?")) {
          _self.selected.forEach(element => {
            this.$http
              .delete("/api/tracking/" + element)
              .then(function(response) {
                App.unblockUI("#list-tracking-block");
              })
              .catch(function(error) {
                App.unblockUI("#list-tracking-block");
                showToastFromResponse(error);
              });
          });
          toastr.success("Delete success");
        }
        _self.selected = [];
        $(".checkboxes").prop("checked", false);
        this.refresh();
      }
      this.refresh();
      _self.action = "0";
    },
    checkAll: function() {
      var _self = this;
      if ($("#checkall").is(":checked")) {
        $(".checkboxes").prop("checked", true);
        this.changeSelected();
        _self.selected = _self.selected.slice(1);
      } else {
        $(".checkboxes").prop("checked", false);
        _self.selected = [];
      }
    },
    formatDate: function(newdate) {
      var day = newdate.getDate();
      var month = parseInt(newdate.getMonth()) + parseInt(1);
      if (parseInt(month) < 10) month = "0" + month;
      if (parseInt(day) < 10) day = "0" + newdate.getDate();
      var date = newdate.getFullYear() + "-" + month + "-" + day;
      return date;
    }
  }
};
</script>
