<template>
  <div>
    <div class="col-md-12">
      <div class="portlet light bordered col-md-12" id="package-block">
        <div class="portlet light col-md-6" id="customerInfo">
          <div class="portlet-title">
            <div class="caption font-dark">
              <i class="icon-settings font-dark"></i>
              <span class="caption-subject bold uppercase">Customer's information</span>
            </div>
            <div class="actions">
              <div class="btn-group btn-group-devided"></div>
            </div>
          </div>
          <div class="portlet-body form">
            <form role="form" lpformnum="1">
              <div class="form-group col-md-12">
                <label>
                  <b>Customer Code</b>
                </label>
                <input
                  ref="customercode"
                  autofocus
                  name="customer_code"
                  id="customer_code"
                  type="text"
                  class="form-control"
                  v-model="customer.customer_code"
                  @change="SearchCustomer"
                  placeholder="Input Customer Code"
                />
              </div>
              <div class="form-group col-md-12">
                <label>
                  <b>Full Name</b>
                </label>
                <input
                  disabled="true"
                  id="fullname"
                  v-model="customer.fullname"
                  type="text"
                  class="form-control"
                />
              </div>
              <div class="form-group col-md-12">
                <label>
                  <b>Phone</b>
                </label>
                <input
                  disabled="true"
                  id="phone"
                  v-model="customer.phone"
                  type="text"
                  class="form-control"
                />
              </div>
              <div class="form-group col-md-12">
                <label>
                  <b>Email</b>
                </label>
                <input
                  disabled="true"
                  id="email"
                  v-model="customer.email"
                  type="text"
                  class="form-control"
                />
              </div>
            </form>
          </div>
        </div>
        <div class="portlet light col-md-6">
          <div class="portlet-title">
            <div class="caption font-dark">
              <i class="icon-settings font-dark"></i>
              <span class="caption-subject bold uppercase">List Tracking</span>
            </div>
            <div class="actions">
              <div class="btn-group btn-group-devided"></div>
            </div>
          </div>
          <!-- START button add box-->
          <div class="portlet-body form">
            <div class="form-group col-md-12">
              <label>
                <b>Tracking Code</b>
              </label>
              <input
                type="text"
                v-model="tracking_code"
                @keyup.enter="scanTracking()"
                class="form-control"
                placeholder="scan and enter keyboard"
              />
            </div>
            <!-- START BUTTON add -->
            <div class="btn-group" v-if="checkedList.length">
              <button
                class="btn btn-xs green dropdown-toggle"
                type="button"
                data-toggle="dropdown"
                aria-expanded="true"
              >
                Actions
                <i class="fa fa-angle-down"></i>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <a @click="deleteSelected()" href="javascript:;">
                    <i class="fa fa-trash"></i> Remove selected
                  </a>
                </li>
              </ul>
            </div>
            <!-- END BUTTON add -->
          </div>
          <!-- END button add box-->
          <div class="portlet-body form">
            <div class="fixed-table-body">
              <table
                class="table table-striped table-bordered table-hover no-footer"
                role="grid"
                id="recipient-table"
              >
                <thead>
                  <tr role="row" class="heading">
                    <th></th>
                    <th>Tracking Code</th>
                    <th>Carrier</th>
                    <th width="10%">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    v-if="listTracking && listTracking.length > 0"
                    v-for="model in listTracking"
                    role="row"
                    class="odd"
                  >
                    <td>
                      <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                        <input
                          type="checkbox"
                          class="checkboxes"
                          :value="model.item_id"
                          v-model="checkedList"
                        />
                        <span></span>
                      </label>
                    </td>
                    <td>{{model.tracking_code}}</td>
                    <td>{{model.carrier}}</td>
                    <td class="text-center">
                      <button class="btn btn-danger" @click="deleteItemList(model.item_id)">
                        <i class="fa fa-trash"></i>
                      </button>
                    </td>
                  </tr>
                  <tr v-if="!listTracking || listTracking.length == 0">
                    <td colspan="4">No Data - No find data</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="form-group col-md-12 padding-15">
          <button
            type="button"
            class="btn sbold green btn-circle"
            @click="saveTrackingList()"
          >{{ (isSending) ? 'Saving ...' : 'Save Tracking List'}}</button>
        </div>
      </div>
    </div>
    <!-- Start Fee-->
    <!-- -->
    <!--End Fee -->
  </div>
</template>
<style>
.dropdown-input {
  border-radius: 0 25px 25px 0 !important;
  width: 100% !important;
}
.dropdown-content {
  z-index: 100 !important;
}

.viewport {
  position: relative;
}
.viewport canvas,
.viewport video {
  position: absolute;
  left: 0;
  top: 0;
}
</style>
<script>
import VueHtmlToPaper from "./vue-html-to-paper.js";
var options = {
  name: "_blank",
  specs: ["fullscreen=yes", "titlebar=no", "scrollbars=yes"],
  styles: [
    "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css",
    "https://unpkg.com/kidlat-css/css/kidlat.css"
  ]
};
Vue.use(VueHtmlToPaper, options);
Vue.component("v-select", VueSelect.VueSelect);
export default {
  props: {},
  data: function() {
    return {
      showError: false,
      errors: "",
      role_id: AppData.role_id,
      isSending: false,
      isLoadType: false,
      disabled: 1,
      isChecked: false,
      checkedList: [],
      customer_code: "",
      customer: {
        customer_code: "",
        fullname: "",
        phone: "",
        email: ""
      },
      tracking_code: "",
      listTracking: []
    };
  },
  components: {},
  computed: {},
  created: function() {
    var _self = this;
    console.log("sender_form created");
  },
  watch: {
    checkAll: function(value) {
      var ids = _.transform(
        this.pagination.data,
        function(result, model) {
          result.push(model.id);
        },
        []
      );
      if (value) {
        this.checkedList = _.union(this.checkedList, ids);
      } else {
        this.checkedList = _.xor(this.checkedList, ids);
      }
    }
  },
  beforeMount: function() {
    console.log("sender_form beforeMount");
  },
  mounted: function() {},
  updated: function() {
    console.log("sender_form updated");
  },
  beforeDestroy: function() {
    console.log("sender_form beforeDestroy");
  },
  methods: {
    check: function(e) {
      if (e.target.checked) {
        this.isChecked = true;
      } else {
        this.isChecked = false;
      }
    },
    scanTracking() {
      var _self = this;
      if (_self.customer.customer_code === "") {
        showToast("error", "Customer code require", "error");
        return;
      } else if (_self.tracking_code === "") {
        showToast("error", "Tracking code require", "error");
        return;
      } else {
        this.$http
          .get("/api/tracking/checkTrackingCode/" + _self.tracking_code + "/"+_self.customer.customer_code)
          .then(
            response => {
              if (response.data.data == false) {
                showToast(
                  "error",
                  "Tracking code existed. Please enter tracking code again!!!",
                  "error"
                );
                _self.tracking_code = '';
              } else {
                var exits = 0;
                _self.listTracking.forEach(element => {
                  if (element.tracking_code == _self.tracking_code) {
                    exits = 1;
                  }
                });
                if (exits === 0) {
                  this.checkCarrier();
                } else {
                  showToast(
                    "Exist Tracking Code",
                    "This Tracking Code has been added",
                    "error"
                  );
                }
              }
            },
            error => {
              _self.isSending = false;
              if (error.data && error.data.data) {
                _self.errors = error.data.data;
              }
            }
          );
      }
    },
    deleteSelected: function() {
      var _self = this;
      if (_self.checkedList && _self.checkedList.length) {
        _self.checkedList.forEach(entry => {
          var index = _self.listTracking.findIndex(obj => obj.item_id == entry);
          _self.listTracking.splice(index, 1);
        });
      }
    },
    deleteItemList: function(id) {
      var _self = this;
      var index = _self.listTracking.findIndex(obj => obj.item_id == id);
      _self.listTracking.splice(index, 1);
    },
    SearchCustomer: function() {
      var _self = this;
      if (_self.customer.customer_code === "") {
        showToast("error", "Customer code require", "error");
        return;
      } else{
        App.blockUI({
        target: "#customerInfo",
        animate: true
      });
        this.$http
        .get("/api/get-customer/" + _self.customer.customer_code)
        .then(function(response) {
          _self.customer = response.data.data;
          if (_self.customer.length != 0) {
            _self.customer.forEach(element => {
              _self.customer.fullname = element.firstname + " " + element.lastname;
              _self.customer.email = element.email;
              _self.customer.phone = element.phone;
              _self.customer.customer_id = element.id;
              _self.customer.customer_code = element.customer_code;
            });
          } else {
            showToast("Not found", "Please enter customer code again", "error");
          }
          App.unblockUI("#customerInfo");
        })
        .catch(function(error) {
          App.unblockUI("#customerInfo");
          console.log(error);
        });
      }
      
    },
    saveTrackingList: function() {
      var _self = this;
      if (_self.customer.customer_code === "") {
        showToast("error", "Customer code require", "error");
        return;
      } else if (_self.listTracking.length === 0) {
        showToast(
          "error",
          "List tracking no data. Please scan tracking code",
          "error"
        );
        return;
      } else {
        _self.isSending = true;
        App.blockUI({
        target: "#page-block",
        animate: true
      });
        var consolidated_tracking = "";
        _self.listTracking.forEach(element => {
          consolidated_tracking += element.tracking_code;
        });
        for (var i = 0; i < _self.listTracking.length; i++) {
          _self.listTracking[i][
            "consolidated_tracking"
          ] = consolidated_tracking;
        }
        this.$http
          .post("/api/tracking", {
            listItem: _self.listTracking
          })
          .then(
            response => {
              showToast(
                "Created tracking code successfully",
                "Tracking code has been created",
                "success"
              );
              setTimeout(function(){
                location.reload(); 
              }, 3000);
              _self.isSending = false;
              App.unblockUI("#customerInfo");
            },
            error => {
              _self.isSending = false;
              if (error.data && error.data.data) {
                _self.errors = error.data.data;
              }
              showToast(
                "Created tracking code failed",
                "Tracking code has not been created",
                "error"
              );
              App.unblockUI("#customerInfo");
            }
          );
      }
    },
    checkCarrier: function () {
      var _self = this;
      this.$http
          .get("/api/tracking/get-carrier/"+_self.tracking_code)
          .then(
            response => {
              var item = {
                    item_id: _self.listTracking.length + 1,
                    carrier : response.data.data.code,
                    consolidated_tracking: "",
                    customer_code: _self.customer.customer_code,
                    tracking_code: _self.tracking_code,
                    customer_id: _self.customer.customer_id,
                    box_id: 0
                  };
                  _self.tracking_code = "";
                  _self.listTracking.push(item);
            },
            error => {
              _self.isSending = false;
              if (error.data && error.data.data) {
                _self.errors = error.data.data;
              }
            }
          );
    }
  }
};
</script>
