<template>
  <div id="responsive" class="modal fade" tabindex="-1" data-width="50%">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title">Thank you for your feedback!</h4>
    </div>
    <div class="modal-body" v-if="feedback_message">
      <div class="row">

        <div class="portlet-body form">
          <!-- BEGIN FORM-->
          <form action="#" class="form-horizontal">
            <div class="form-body">
              <div class="form-group">

              </div>
              <div class="form-group">
                <div class="col-md-offset-1 col-md-10">{{feedback_message}}</div>
              </div>
            </div>
          </form>
          <!-- END FORM-->
        </div>

      </div>
    </div>
    <div class="modal-footer">
      <p v-if="redirect_url">You'll be redirected to <a :href="redirect_url">Our website</a> after {{countdown}} second(s)</p>
    </div>
  </div>
</template>
<script>
  export default{
    props:
      {
        redirect_url: "",
        feedback_message: ""
      }
      ,
    data: function () {
      return {
        countdown: 5
      }
    },
    mounted: function () {
      var _self = this;
      $('#responsive').on('show.bs.modal', function (e) {
        var timer = null;
        timer = setInterval(function() {
        	if(_self.countdown == 0) {
            window.location.replace(_self.redirect_url);
            return clearInterval(timer)
          }
        	_self.countdown -= 1
        }, 1000)
      });
    }
  }
</script>
