<template>
  <div id="responsive_edit" class="modal fade" tabindex="-1" data-width="70%">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title">
        <i class="icon-layers"></i> Shipment Information
      </h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="portlet-body form">
          <!-- BEGIN FORM-->
          <form action="#" class="form-horizontal">
            <div class="form-body">
              <form-error
                :errors="errors"
                field="commodity_name"
                error-class="col-md-offset-3 col-md-8"
              >
                <label class="col-md-3 control-label">Shipment Status</label>
                <div class="col-md-8">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="fa fa-bars"></i>
                    </span>
                    <select v-model="shipment.status" class="form-control" style="width: 300px;">
                      <option
                        v-on:click="changeNote(type.id)"
                        v-for="type in shipmentStatusLogs"
                        :value="type.id"
                      >{{ type.english_name }}-{{ type.vietnam_name }}</option>
                    </select>
                  </div>
                </div>
              </form-error>
              <form-error
                :errors="errors"
                field="commodity_name"
                error-class="col-md-offset-3 col-md-8"
              >
                <label class="col-md-3 control-label">Status Note</label>
                <div class="col-md-8">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="fa fa-list"></i>
                    </span>
                    <textarea style="width: 300px;" class="form-control" v-model="shipment.status_note"></textarea>
                  </div>
                </div>
              </form-error>
              <div class="col-md-offset-3 col-md-8">
              <button
                      type="button"
                      style="height: 34px;"
                      class="btn green"
                      @click="changeStatusShipment()"
                    >{{ (isSending) ? 'Saving ...' : 'Change'}}</button>
              </div>
            </div>
          </form>
          <!-- END FORM-->
        </div>
      </div>
    </div>
    <div class="portlet light bordered col-md-12">
      <div class="portlet-title">
        <div class="caption font-dark">
          <i class="icon-settings font-dark"></i>
          <span class="caption-subject bold uppercase">
            #REF - {{shipment.shipment_code}}
            -
            {{shipment.firstname}} {{shipment.lastname}} - {{shipment.customer_code}}
          </span>
        </div>
        <div class="actions col-md-12"></div>
      </div>
      <div class="portlet-body form col-md-12">
        <div class="col-md-6">
          <!-- START Sender Infor-->
          <div class="portlet light bordered col-md-12">
            <div class="portlet-title">
              <div class="caption font-dark">
                <i class="icon-settings font-dark"></i>
                <span class="caption-subject bold uppercase">Sender</span>
              </div>
            </div>
            <div class="portlet-body form col-md-12">
              <form role="form" lpformnum="1">
                <div class="form-group col-md-12">
                  <label class="col-md-4">
                    <b>Contact Code:</b>
                  </label>
                  <label class="label-readonly col-md-8">{{shipment.sender_code}}</label>
                </div>
                <div class="form-group col-md-12">
                  <label class="col-md-4">
                    <b>Fullname:</b>
                  </label>
                  <label
                    class="label-readonly col-md-8"
                  >{{shipment.sender_firstname}} {{shipment.sender_lastname}}</label>
                </div>
                <div class="form-group col-md-12">
                  <label class="col-md-4">
                    <b>Phone:</b>
                  </label>
                  <label class="label-readonly col-md-8">{{shipment.sender_phone}}</label>
                </div>
              </form>
            </div>
          </div>
          <!-- END sender infor-->
          <!-- START Recipient Infor-->
          <div class="portlet light bordered col-md-12">
            <div class="portlet-title">
              <div class="caption font-dark">
                <i class="icon-settings font-dark"></i>
                <span class="caption-subject bold uppercase">Recipient</span>
              </div>
            </div>
            <div class="portlet-body form col-md-12">
              <form role="form" lpformnum="1">
                <div class="form-group col-md-12">
                  <label class="col-md-4">
                    <b>Contact Code:</b>
                  </label>
                  <label class="label-readonly col-md-8">{{shipment.recipient_code}}</label>
                </div>
                <div class="form-group col-md-12">
                  <label class="col-md-4">
                    <b>Fullname:</b>
                  </label>
                  <label
                    class="label-readonly col-md-8"
                  >{{shipment.recipient_firstname}} {{shipment.sender_lastname}}</label>
                </div>
                <div class="form-group col-md-12">
                  <label class="col-md-4">
                    <b>Phone:</b>
                  </label>
                  <label class="label-readonly col-md-8">{{shipment.recipient_phone}}</label>
                </div>
              </form>
            </div>
          </div>
          <!-- END Recipient infor-->
        </div>
        <div class="col-md-6">
          <!-- START Shipment Infor-->
          <div class="portlet light bordered col-md-12">
            <div class="portlet-title">
              <div class="caption font-dark">
                <i class="icon-settings font-dark"></i>
                <span class="caption-subject bold uppercase">Shipment&Fee</span>
              </div>
            </div>
            <div class="portlet-body form col-md-12">
              <form role="form" lpformnum="1">
                <div class="form-group col-md-12">
                  <label class="col-md-6">
                    <b>Service Type:</b>
                  </label>
                  <label class="label-readonly col-md-6">{{shipment.service_type_item}}</label>
                </div>
                <div class="form-group col-md-12">
                  <label class="col-md-6">
                    <b>Payment:</b>
                  </label>
                  <label v-if="shipment.payment_type_paid_type" class="label-readonly col-md-6">
                    <span>UnPaid</span> -
                    <span v-if="shipment.payment_type_item == 1">Sender</span>
                    <span v-if="shipment.payment_type_item == 2">Recipient</span>
                    -
                    <span v-if="shipment.payment_type_paid_type == 1">Cash</span>
                    <span v-if="shipment.payment_type_paid_type == 2">Credit</span>
                    <span v-if="shipment.payment_type_paid_type == 3">Check</span>
                  </label>
                  <label v-else class="label-readonly col-md-6">
                    <span>Paid</span> -
                    <span v-if="shipment.payment_type_item == 1">Cash</span>
                    <span v-if="shipment.payment_type_item == 2">Credit</span>
                    <span v-if="shipment.payment_type_item == 3">Check</span>
                  </label>
                </div>
                <div class="form-group col-md-12">
                  <label class="col-md-6">
                    <b>Shipping Rate:</b>
                  </label>
                  <label class="label-readonly col-md-6">{{shipment.shippingRate}}</label>
                </div>
                <div class="form-group col-md-12">
                  <label class="col-md-6">
                    <b>Package Rate:</b>
                  </label>
                  <label class="label-readonly col-md-6">{{shipment.packagePrice}}</label>
                </div>
                <div class="form-group col-md-12">
                  <label class="col-md-6">
                    <b>Package Surcharge:</b>
                  </label>
                  <label class="label-readonly col-md-6">{{shipment.packageSurchargePrice}}</label>
                </div>
                <div class="form-group col-md-12">
                  <label class="col-md-6">
                    <b>Insurance Rate:</b>
                  </label>
                  <label class="label-readonly col-md-6">{{shipment.insurancePrice}}</label>
                </div>
                <div class="form-group col-md-12">
                  <label class="col-md-6">
                    <b>Other Charge:</b>
                  </label>
                  <label class="label-readonly col-md-6">{{shipment.otherCharge}}</label>
                </div>
                <div class="form-group col-md-12">
                  <label class="col-md-6">
                    <b>UPS Fee:</b>
                  </label>
                  <label class="label-readonly col-md-6">{{shipment.upsFee}}</label>
                </div>
                <div class="form-group col-md-12">
                  <label class="col-md-6">
                    <b>Total Rate:</b>
                  </label>
                  <label class="label-readonly col-md-6">{{shipment.totalRate}}</label>
                </div>
              </form>
            </div>
          </div>
          <!-- END Shipment infor-->
          <!-- START Packages Infor-->
          <div class="portlet light bordered col-md-12">
            <div class="portlet-title">
              <div class="caption font-dark">
                <i class="icon-settings font-dark"></i>
                <span class="caption-subject bold uppercase">Packages</span>
              </div>
            </div>
            <div class="portlet-body form col-md-12">
              <form v-for="(package, key_) in shipment_packages.packages" role="form" lpformnum="1">
                <div class="form-group col-md-12">
                  <label class="col-md-4">
                    <b>Package {{key_+1}}:</b>
                  </label>
                  <label class="label-readonly col-md-8">ACTWGT: {{package.w}}</label>
                </div>
                <div class="form-group col-md-12">
                  <label class="col-md-4"></label>
                  <label
                    class="label-readonly col-md-8"
                  >DMS: {{package.dD}}x{{package.dW}}x{{package.dH}}</label>
                </div>
              </form>
            </div>
          </div>
          <!-- END Packages infor-->
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" data-dismiss="modal" class="btn btn-outline dark">Close</button>
    </div>
  </div>
</template>
<script>
let count=0;
export default {
  props: {
    shipmentProp: {
      type: Object,
      default: function() {
        return {};
      }
    },
    shipment_packages: {
      type: Object,
      default: function() {
        return {};
      }
    }
  },
  data: function() {
    return {
      shipmentStatusLogs: [],
      isUpdated: false,
      showError: false,
      errors: "",
      role_id: AppData.role_id,
      isSending: false,
      disabled: 1,
    };
  },
  computed: {
    shipment() {
      return this.shipmentProp;
    }
  },
  created: function() {
    var _self = this;
    if (_self.shipment.id != null && _self.shipment.id != "undefined") {
      _self.shipment.status_note='';
      this.loadShippmenStatus(_self.shipment);
    }
    console.log("commodityCate_edit_form created");
  },
  beforeMount: function() {
    console.log("commodityCate_edit_form beforeMount");
  },
  mounted: function() {
    var _self = this;
    console.log("commodityCate_edit_form mounted");
    $("#responsive_edit").on("hidden.bs.modal", function(e) {
      _self.$emit("close");
      console.log("run close");
      _self.errors = "";
    });
  },
  updated: function() {
    var _self = this;
    if (
      _self.shipment.id != null &&
      _self.shipment.id != "undefined" &&
      count == 0
    ) {
      this.loadShippmenStatus(_self.shipment);
      count += 1;
    }
    console.log("shipment updated");
  },
  beforeDestroy: function() {
    console.log("shipment beforeDestroy");
  },
  methods: {
    changeStatusShipment: function() {
      var _self = this;
      if (confirm("Do you want to change status?")) {
        var id = _self.shipment.shipment_id;
        var status = _self.shipment.status;
        var d = new Date();
        var month = d.getMonth() < 10 ? "0"+(d.getMonth()+1) : d.getMonth();
        var day = d.getDate() < 10 ? "0"+d.getDate() : d.getDate();
        var date = d.getFullYear() +"-"+month +"-"+day;
        _self.shipment.date_log = date;
        _self.isSending = true;
        return this.$http
          .post("/api/shipments/change-status", _self.shipment)
          .then(function(response) {
            _self.isSending = false;
            eventHub.$emit("shipment_update_status", true);
            showToastFromResponse(response);
            //this.refresh();
          })
          .catch(function(error) {
            _self.isSending = false;
            showToastFromResponse(error);
          });
      }
    },
    loadShippmenStatus: function(shipment) {
      var _self = this;
      this.$http
        .get("/api/shipmentstatuslogs/" + shipment.id)
        .then(function(response) {
          _self.shipmentStatusLogs = Object.keys(response.data.data).map(
            function(key) {
              return response.data.data[key];
            }
          );
          _self.changeNote(_self.shipment.status);
        })
        .catch(function(error) {
          _self.isSending = false;
          console.log(error);
          // showToastFromResponse(error);
        });
    },
    changeNote: function(id) {
      var _self = this;
      _self.shipmentStatusLogs.forEach(element => {
        if (element.id == id) {
          _self.shipment.status_note = element.log_note;
          if (element.log_note == null || element.log_note == "") {
            _self.shipment.status_note = element.note;
          }
        }
      });
    }
  }
};
</script>
