<template>
  <div class="portlet light bordered" id="list-shipments-block">
    <div v-for="n in showEditModal">
      <change-status-form
        @close="onCloseEdit()"
        :shipmentProp="current_shipment"
        :shipment_packages="shipment_packages"
      ></change-status-form>
    </div>
      <div v-for="n in showStatusChangeModal">
      <status-change
        @close="onCloseStatusChangeEdit()"
        :shipmentProp="current_shipment"
      ></status-change>
    </div>
    <div class="portlet-title">
      <div class="caption">
        <i class="icon-users font-red"></i>
        <span class="caption-subject font-red sbold uppercase">
          List All Shipments
          <b v-if="view_title">Of - {{view_title}}</b>
        </span>
      </div>
      <div class="actions">
        <a class="btn sbold green btn-circle" href="./shipments/create" role="button">
          Add New
          <i class="fa fa-plus"></i>
        </a>
      </div>
    </div>
    <div class="portlet-body">
      <div class="row">
        <!-- <div class="col-md-8">
          <div id="chartdiv"></div>
        </div> -->
        <div class="col-md-12">
          <!-- <div id="chartPiediv"></div> -->
          <GChart
        :resizeDebounce="1500"
        :settings="{packages: ['corechart']}"
        :data="chartData"
        :createChart="(el, google) => new google.visualization.PieChart(el)"
        :options="chartOptions"
        @ready="onChartReady"
      />
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table
              class="table table-striped table-bordered table-hover no-footer"
              role="grid"
              id="recipient-table"
            >
              <thead>
                <tr role="row" class="heading">
                  <th rowspan="2"></th>
                  <th rowspan="2">Action</th>
                  <th rowspan="2">Status</th>
                  <th rowspan="2">#REF</th>
                  <th rowspan="2">Customer</th>
                  <th rowspan="2">Service Type</th>
                  <th rowspan="2">Payment Type</th>
                  <th colspan="2">SENDER</th>
                  <th colspan="2">RECIPIENT</th>
                </tr>
                <tr role="row" class="heading">
                  <th>Name</th>
                  <th width="10%">Phone</th>
                  <th>Name</th>
                  <th width="10%">Phone</th>
                </tr>
                <tr>
                  <th style="text-align:center">
                    <input @click="checkAll()" id="checkall" type="checkbox" class="group-checkable" />
                  </th>
                  <th>
                    <select v-model="action" @change="changAction()" v-if="selected.length != 0">
                      <option value="0">Select Action</option>
                      <option>Delete</option>
                      <option :value="type_" v-for="type_ in typeStatus">Change status {{type_.english_name}}</option>
                    </select>
                  </th>
                  <th>
                    <select
                      v-model="filterStatus"
                      @change="getShipmentStatus()"
                      class
                      style="width: 62px;"
                    >
                      <option value>All</option>
                      <option :value="type_.id" v-for="type_ in typeStatus">{{ type_.english_name }}-{{ type_.vietnam_name }}</option>
                    </select>
                  </th>
                  <th>
                    <input
                      class="form-control"
                      type="text"
                      v-model="filterREF"
                      placeholder="#REF"
                      @keyup.enter="filterChange"
                    />
                  </th>
                  <th>
                    <div class="form-group">
                      <input
                        class="form-control"
                        type="text"
                        v-model="filterCustomerCode"
                        placeholder="Customer Code"
                        @keyup.enter="filterChange"
                      />
                    </div>
                  </th>
                  <th></th>
                  <th></th>
                  <th>
                    <div class="form-group">
                      <input
                        class="form-control"
                        type="text"
                        v-model="filterContactNameS"
                        @keyup.enter="filterChange"
                      />
                    </div>
                  </th>
                  <th>
                    <div class="form-group">
                      <input
                        class="form-control"
                        type="text"
                        v-model="filterPhoneS"
                        @keyup.enter="filterChange"
                      />
                    </div>
                  </th>
                  <th>
                    <div class="form-group">
                      <input
                        class="form-control"
                        type="text"
                        v-model="filterContactNameR"
                        @keyup.enter="filterChange"
                      />
                    </div>
                  </th>
                  <th>
                    <div class="form-group">
                      <input
                        class="form-control"
                        type="text"
                        v-model="filterPhoneR"
                        @keyup.enter="filterChange"
                      />
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-if="pagination &&  pagination.data && pagination.data.length > 0"
                  v-for="model in pagination.data"
                  role="row"
                  :class="'odd shipment-color-'+(model.payment_in)"
                >
                  <td align="center">
                    <input type="checkbox" @click="changeSelected" class="checkboxes" :value="model.id" />
                  </td>
                  <td class="text-center">
                    <!-- <a :href="'/shipments/edit/?shipment_id='+(model.shipment_id)" target="_blank" style="color:blue">Edit</a> <br/> -->
                    <a
                      style="color:green"
                      @click="onClickChangeStatusButton(model)"
                      data-toggle="modal"
                      href="#responsive_edit"
                    >
                      <span>View/Change Status</span>
                    </a>
                    <br/>
                    <a
                    style="color:gray"
                      @click="onClickStatusChangeButton(model)"
                      data-toggle="modal"
                      href="#responsive_status_change">Status Change</a>
                    <br />
                    <a @click="cancelShipment(model.shipment_id)" style="color:red">Cancel</a>
                  </td>
                  <td>
                    {{typeStatus[model.status-1].english_name}}({{typeStatus[model.status-1].vietnam_name}})
                    <br />
                    <span v-if="model.status_note">
                      Note:
                      <i>{{model.status_note}}</i>
                    </span>
                  </td>
                  <td>{{model.shipment_code}}</td>
                  <td>({{model.customer_code}}) - {{model.firstname}} {{model.lastname}}</td>
                  <td>{{model.service_type_item}}</td>
                  <td>
                    <label class="label-readonly">
                      <span v-if="model.payment_in == 1">Payment In US</span>
                      <span v-if="model.payment_in == 2">Payment In VN</span>
                      -
                      <span v-if="model.payment_in_type == 1">Cash</span>
                      <span v-if="model.payment_in_type == 2">Credit</span>
                      <span v-if="model.payment_in_type == 3">Check</span>
                    </label>
                  </td>
                  <td>({{model.sender_code}}) - {{model.sender_firstname}} {{model.sender_lastname}}</td>
                  <td>{{model.sender_phone}}</td>
                  <td>({{model.recipient_code}}) - {{model.recipient_firstname}} {{model.recipient_lastname}}</td>
                  <td>{{model.recipient_phone}}</td>
                </tr>
                <tr
                  v-if="!pagination || pagination.data && pagination.data.length == 0||pagination.total==0 "
                >
                  <td colspan="10">No Data - No find data</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div v-if="pagination &&  pagination.data && pagination.data.length > 0">
        <div class="col-md-12">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <ul class="pager">
              <li
                data-lp="1"
                class="previous"
                v-bind:class="pagination.current_page == 1?'disabled':''"
              >
                <a href="javascript:void(0);" @click="backPage()">
                  <i class="fa fa-angle-left"></i>
                </a>
              </li>
              <span>{{pagination.current_page}}/{{pagination.last_page}}</span>
              <li
                data-lp="8"
                class="next"
                v-bind:class="pagination.current_page == pagination.last_page?'disabled':''"
              >
                <a href="javascript:void(0);" @click="nextPage()">
                  <i class="fa fa-angle-right fa-4"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4"></div>
        </div>
      </div>
    </div>
  </div>
</template>
<style scoped>
.actions {
  margin-right: 10px;
}
.table-responsive .form-control {
  height: 25px;
  width: 100%;
}
.form-group {
  margin-bottom: 0px !important;
}
#chartdiv {
  width: 100%;
  height: 600px;
}
#chartPiediv {
  width: 100%;
  height: 600px;
}
</style>
<script>
import changeStatusForm from "./ChangeStatusForm.vue";
import StatusChange from "./StatusChange.vue";
import VueGoogleCharts from "~/../vue-google-charts";
export default {
  data: function() {
    return {
      search: "",
      pagination: {},
      filterStatus: "",
      currentPage: 1,
      filterCustomerCode: "",
      filterContactNameS: "",
      filterContactNameR: "",
      filterPhoneS: "",
      filterPhoneR: "",
      filterREF: "",
      current_recipient: {},
      origin_recipient: {},
      showNewModal: 1,
      showEditModal: 1,
      isEdited: false,
      typeStatus: [],
      showEditModal: 1,
      showStatusChangeModal: 0,
      origin_shiment: {},
      current_shipment: {},
      shipment_packages: {},
      historyList: 0,
      view_customer_id: 0,
      view_sender_id: 0,
      view_recipient_id: 0,
      view_title: "",
      listStatus: [],
      selected:[],
      action:"0",
      chartData: [],
      chartOptions: {
        chart: {
          title: "Company Performance",
          width: 1000,
          colors: ["#337ab7", "#36c6d3", "#8E44AD", "#ed6b75",'#89F1B6']
        },
        colors: ["#337ab7", "#36c6d3", "#8E44AD", "#ed6b75",'#89F1B6']
      },
      current_shipment_id:1
    };
  },
  props: {},
  components: {
    changeStatusForm,
    StatusChange
  },
  created: function() {
    var _self = this;
    this.$http
      .get("api/shipments/shipmentStatus")
      .then(function(response) {
        _self.listStatus = response.data.data;
        this.DataChart(_self.listStatus);
      })
      .catch(function(error) {});
  },
  mounted: function() {
    var _self = this;
    var url = new URL(location.href);
    var view_sender_id = url.searchParams.get("sender_id");
    var view_recipient_id = url.searchParams.get("recipient_id");
    var view_customer_id = url.searchParams.get("customer_id");
    if (
      view_sender_id !== null ||
      !view_recipient_id !== null ||
      !view_customer_id !== null
    ) {
      _self.historyList = 1;
      _self.view_customer_id = view_customer_id;
      _self.view_recipient_id = view_recipient_id;
      _self.view_sender_id = view_sender_id;
    }
    if (view_sender_id) {
      this.$http
        .get(
          AppData.baseUrl +
            "/api/shipments/load-sender-detail/" +
            view_sender_id
        )
        .then(function(response) {
          var result = response.data.data;
          _self.view_title =
            result.contact_code +
            " - " +
            result.contact_firstname +
            " " +
            result.contact_lastname;
        })
        .catch(function(error) {
          console.log(error);
        });
    }
    if (view_recipient_id) {
      this.$http
        .get(
          AppData.baseUrl +
            "/api/shipments/load-recipient-detail/" +
            view_recipient_id
        )
        .then(function(response) {
          var result = response.data.data;
          _self.view_title =
            result.contact_code +
            " - " +
            result.contact_firstname +
            " " +
            result.contact_lastname;
        })
        .catch(function(error) {
          console.log(error);
        });
    }
    if (view_customer_id) {
      this.$http
        .get(
          AppData.baseUrl +
            "/api/shipments/load-customer-detail/" +
            view_customer_id
        )
        .then(function(response) {
          var result = response.data.data;
          _self.view_title =
            result.customer_code +
            " - " +
            result.firstname +
            " " +
            result.lastname;
        })
        .catch(function(error) {
          console.log(error);
        });
    }

    $(document).ready(function() {
      $('[data-toggle="popover"]').popover();
    });
    eventHub.$on("shipment_update_status", function() {
      _self.refresh();
    });
    this.refresh();
  },
  watch: {},
  computed: {
    searchQuery: function() {
      var query =
        "?orderBy=created_at&sortedBy=desc&page=" + this.currentPage + "&";
      var search = "";
      if (this.filterStatus) {
        search += "status=" + this.filterStatus + "&";
      }
      if (this.filterCustomerCode) {
        search += "customer_code=" + this.filterCustomerCode + "&";
      }
      if (this.filterContactNameS) {
        search += "contact_name_s=" + this.filterContactNameS + "&";
      }
      if (this.filterPhoneS) {
        search += "contact_phone_s=" + this.filterPhoneS + "&";
      }
      if (this.filterContactNameR) {
        search += "contact_name_r=" + this.filterContactNameR + "&";
      }
      if (this.filterPhoneR) {
        search += "contact_phone_r=" + this.filterPhoneR + "&";
      }
      if (this.filterREF) {
        search += "shipment_code=" + this.filterREF + "&";
      }
      if (this.view_customer_id) {
        search += "view_customer_id=" + this.view_customer_id + "&";
      }
      if (this.view_recipient_id) {
        search += "view_recipient_id=" + this.view_recipient_id + "&";
      }
      if (this.view_sender_id) {
        search += "view_sender_id=" + this.view_sender_id + "&";
      }
      query += search.slice(0, -1);
      return query;
    },
    pages: function() {
      var pages = [];
      if (this.pagination && this.pagination.last_page) {
        for (var i = 1; i <= this.pagination.last_page; i++) {
          pages.push(i);
        }
      }
      return pages;
    }
  },
  methods: {
    onCloseEdit() {
      this.showEditModal -= 1;
    },
    onCloseNew() {
      this.showNewModal -= 1;
    },
    onClickNewButton() {
      this.showNewModal += 1;
    },
    onCloseStatusChangeEdit() {
      this.showStatusChangeModal -= 1;
    },
    onClickStatusChangeButton(model) {
      var _self = this;
      this.isEdited = false;
      this.current_shipment = model;
      this.setOriginShipment(model);
      this.showStatusChangeModal += 1;
    },
    searchChange: _.debounce(function() {
      this.refresh();
    }, 500),
    refresh: function() {
      this.loadStatus();
      App.blockUI({
        target: "#list-shipments-block",
        animate: true
      });
      $(".btn-checked").html("Check Clicked");
      var _self = this;
      this.$http
        .get("api/shipments/pagination" + this.searchQuery)
        .then(function(response) {
          _self.pagination = response.data.data;
          App.unblockUI("#list-shipments-block");
        })
        .catch(function(error) {
          App.unblockUI("#list-shipments-block");
        });
    },
    changePage: function(index) {
      this.currentPage = index;
      this.refresh();
    },
    backPage: function() {
      if (this.currentPage > 1) {
        this.currentPage--;
        this.refresh();
      }
    },
    nextPage: function() {
      if (this.currentPage < this.pagination.last_page) {
        this.currentPage++;
        this.refresh();
      }
    },
    filterChange: function() {
      this.refresh();
    },
    cancelShipment: function(id) {
      if (confirm("Do you want to cancel?")) {
        App.blockUI({
          target: "#list-shipments-block",
          animate: true
        });
        return this.$http
          .delete("/api/shipments/" + id)
          .then(function(response) {
            App.unblockUI("#list-shipments-block");
            showToastFromResponse(response);
            this.refresh();
          })
          .catch(function(error) {
            App.unblockUI("#list-shipments-block");
            showToastFromResponse(error);
          });
      }
    },
    editShipment(shipment_id) {
      window.open(AppData.baseUrl + "/api/shipments/edit/" + shipment_id);
    },
    setOriginrecipient(model) {
      this.origin_recipient = _.clone(model);
    },
    getShipmentStatus(shipmentStatus) {
      var _self = this;
      this.$http
        .get("api/shipments/pagination" + this.searchQuery)
        .then(function(response) {
          _self.pagination = response.data.data;
          App.unblockUI("#list-shipments-block");
        })
        .catch(function(error) {
          App.unblockUI("#list-shipments-block");
        });
    },
    onClickChangeStatusButton(model) {
      var _self = this;
      this.isEdited = false;
      this.current_shipment = model;
      this.setOriginShipment(model);
      this.getPackageShipment(model.shipment_id);
      //console.log('--'+JSON.stringify(_self.shipment_packages));
      this.showEditModal += 1;
    },
    setOriginShipment(model) {
      this.origin_shiment = _.clone(model);
    },
    getPackageShipment: function(shipment_id) {
      var _self = this;
      this.$http
        .get("api/shipments/load-packages/" + shipment_id)
        .then(function(response) {
          _self.shipment_packages = response.data.data;
        })
        .catch(function(error) {});
    },
    loadStatus: function() {
      var _self = this;
      this.$http
        .get("api/shipmentstatuslog/loadstatus")
        .then(function(response) {
          _self.typeStatus = response.data;
        })
        .catch(function(error) {});
    },
    changeSelected: function () {
      var _self = this;
      var val = [];
        $(':checkbox:checked').each(function(i){
          val[i] = $(this).val();
        });
        _self.selected = val;
    },
    changAction: function () {
      var _self = this;
      if(_self.action == "Delete"){
        if (confirm("Do you want to cancel all selected?")) {
        _self.selected.forEach(element => {
          this.$http
          .delete("/api/shipments/" + element)
          .then(function(response) {
            App.unblockUI("#list-shipments-block");
          })
          .catch(function(error) {
            App.unblockUI("#list-shipments-block");
            showToastFromResponse(error);
          });
        });
        toastr.success('Cancelled success');
        }
        _self.selected = [];
        $('.checkboxes').prop('checked', false);
        this.refresh();
      }else {
        var d = new Date();
        var month = d.getMonth() < 10 ? "0"+(d.getMonth()+1) : d.getMonth();
        var day = d.getDate() < 10 ? "0"+d.getDate() : d.getDate();
        var date = d.getFullYear() +"-"+month +"-"+day;
        _self.selected.forEach(element => {
          var shipment={
            'shipment_id': element,
            'status' : _self.action.id,
            'status_note': _self.action.english_name + " note",
            'date_log': date
          }
          this.$http
          .post("/api/shipments/change-status",shipment)
          .then(function(response) {
            // showToastFromResponse(response);
            //this.refresh();
          })
          .catch(function(error) {
            _self.isSending = false;
            showToastFromResponse(error);
          });
        })
         _self.selected = [];
        $('.checkboxes').prop('checked', false);
        toastr.success('Changed success');
      }
      this.refresh();
      _self.action = "0";
    },
    checkAll: function () {
      var _self = this;
      if ($('#checkall').is(":checked")){
        $('.checkboxes').prop('checked', true);
        this.changeSelected();
        _self.selected = _self.selected.slice(1);
      }else{
        $('.checkboxes').prop('checked', false);
        _self.selected = [];
      }
    },
    onChartReady(chart, google) {
      this.chartsLib = google;
    },
    DataChart: function(PieData) {
      this.chartData = [
        ["Type", "Shipment Status"],
        [PieData[0].english_name, PieData[0].volumn],
        [PieData[1].english_name, PieData[1].volumn],
        [PieData[2].english_name, PieData[2].volumn],
        [PieData[3].english_name, PieData[3].volumn],
        [PieData[4].english_name, PieData[4].volumn],
      ];
    },
  }
};
</script>