<template>
  <div id="responsive_status_change" class="modal fade" tabindex="-1" data-width="70%">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title">
        <i class="icon-layers"></i> Shipment Status History
      </h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="portlet-body form">
          <table
            class="table table-striped table-bordered table-hover dt-responsive dataTable no-footer dtr-inline collapsed"
            id="sample_1"
          >
            <thead>
              <tr>
                <th>Date</th>
                <th>Status</th>
                <th>Note</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="model in status_log">
                <td>{{model.date_log}}</td>
                <td>{{model.english_name}}</td>
                <td>{{model.log_note}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" data-dismiss="modal" class="btn btn-outline dark">Close</button>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    shipmentProp: {
      type: Object,
      default: function() {
        return {};
      }
    }
  },
  data: function() {
    return {
        status_log:[]
    };
  },
  computed: {
    shipment() {
      return this.shipmentProp;
    }
  },
  created: function() {
      var _self = this;
      if(this.shipment != null){
       this.$http
      .get("api/shipments/shipmentStatusById/"+this.shipment.shipment_id)
      .then(function(response) {
        _self.status_log = response.data.data;
      })
      .catch(function(error) {});   
      }
      
  },
  methods: {}
};
</script>