<template>
    <div id="responsive_edit_package" class="modal fade" tabindex="-1" data-width="50%">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">Package SMS/MMS Sent</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="portlet-body form">
                        <!-- BEGIN FORM-->
                        <form action="#" class="form-horizontal">
                            <div class="form-body">
                                <form-error :errors="errors" field="full_name" error-class="col-md-offset-3 col-md-8">
                                    <label class="col-md-3 control-label">Full name</label>
                                    <div class="col-md-8">
                                        <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-envelope"></i>
                    </span>
                                            <input type="text" class="form-control" placeholder="Full name"
                                                v-model="user.full_name">
                                        </div>
                                    </div>
                                </form-error>
                                <form-error :errors="errors" field="username" error-class="col-md-offset-3 col-md-8">
                                    <label class="col-md-3 control-label">Username</label>
                                    <div class="col-md-8">
                                        <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-user"></i>
                    </span>
                                            <input type="text" class="form-control" placeholder="Username"
                                                v-model="user.username">
                                        </div>
                                    </div>
                                </form-error>
                                <form-error :errors="errors" field="email" error-class="col-md-offset-3 col-md-8">
                                    <label class="col-md-3 control-label">Email Address</label>
                                    <div class="col-md-8">
                                        <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-envelope"></i>
                    </span>
                                            <input type="email" class="form-control" placeholder="Email Address"
                                                v-model="user.email" :disabled="user.id">
                                        </div>
                                    </div>
                                </form-error>
                                <form-error :errors="errors" field="package" error-class="col-md-offset-3 col-md-8">
                                    <label class="col-md-3 control-label">Package</label>
                                    <div class="col-md-8">
                                        <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-phone"></i>
                    </span>
                                            <input type="text" class="form-control" placeholder="Package"
                                                v-model="user.package">
                                        </div>
                                    </div>
                                </form-error>
                                <form-error :errors="errors" field="total_allow_sent" error-class="col-md-offset-3 col-md-8">
                                    <label class="col-md-3 control-label">Total Allow Sent</label>
                                    <div class="col-md-8">
                                        <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-phone"></i>
                    </span>
                                            <input type="text" class="form-control" placeholder="Total Allow Sent"
                                                v-model="user.total_allow_sent">
                                        </div>
                                    </div>
                                </form-error>
                            </div>
                        </form>
                        <!-- END FORM-->
                    </div>
                </div>
                <div class="col-md-6">
                    <table class="table table-striped table-bordered table-hover table-checkable dataTable no-footer"
                               role="grid" id="customers-table">
                       <thead>
                            <tr>
                                <th> Package Note </th>
                                <th> Total Sent </th>
                                <th> Created At </th>
                                <th> Delete </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-if="pagination &&  pagination.data && pagination.data.length > 0"
                                v-for="model in pagination.data" role="row" class="odd">
                                <td> {{model.package}}  </td>
                                <td> {{model.total_allow_sent}}  </td>
                                <td> {{model.updated_at}}  </td>
                                <td>
                                    <button class="btn btn-danger" @click="deleteUserPackage(model)">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                 </td>
                            </tr>
                            <tr v-if="!pagination || pagination.data && pagination.data.length == 0">
                                <td colspan="8">No Data</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row" v-if="pagination &&  pagination.data && pagination.data.length > 0">
                <div class="col-md-12">
                    <ul class="pager">
                        <li data-lp="1" class="previous" v-bind:class="pagination.current_page == 1?'disabled':''"><a
                                href="javascript:void(0);" @click="backPage()"><i
                                class="fa fa-angle-left"></i></a></li>
                        <span>{{pagination.current_page}}/{{pagination.last_page}}</span>
                        <li data-lp="7" class="next"
                            v-bind:class="pagination.current_page == pagination.last_page?'disabled':''"><a
                                href="javascript:void(0);" @click="nextPage()"><i class="fa fa-angle-right"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-outline dark">Close</button>
            <button type="button" class="btn green" @click="updateUser()">{{ (isSending) ? 'Sending ...' : 'Save'}}
            </button>
        </div>
    </div>
</template>
<script>
    export default{
        props: {
            userProp: {
                type: Object,
                default: function () {
                    return {
                        username: '',
                        full_name: '',
                        package: '',
                        email: '',
                        total_allow_sent: ''
                    }
                }
            },
        },
        data: function () {
            return {
                isUpdated: false,
                showError: false,
                errors: '',
                role_id: AppData.role_id,
                isSending: false,
                userPackages: [],
                isRequesting: false,
                pagination: {}
            }
        },
        computed: {
            user() {
                return this.userProp;
            },
            pages: function () {
                var pages = [];
                if (this.pagination && this.pagination.last_page) {
                    for (var i = 1; i <= this.pagination.last_page; i++) {
                        pages.push(i);
                    }
                }
                return pages;
            }
        },
        created: function () {
            console.log('user_package_form created');
            var _self = this;
            if (!_self.isRequesting) {
                this.loadDataPackage();
            }
        },
        beforeMount: function () {
            console.log('user_package_form beforeMount');
            var _self = this;
            if (!_self.isRequesting) {
                this.loadDataPackage();
            }
        },
        mounted: function () {
            console.log('user_package_form mounted');
            var _self = this;
            $('#responsive_edit_package').on('hidden.bs.modal', function (e) {
                _self.$emit('close');
                console.log('run close');
                _self.errors = '';
            });
            var _self = this;
            if (!_self.isRequesting) {
                this.loadDataPackage();
            }
        },
        updated: function () {
            console.log('user_package_form updated');
            
        },
        beforeDestroy: function () {
            console.log('user_package_form beforeDestroy');
            var _self = this;
            _self.isRequesting = false;
        },
        methods: {
            loadDataPackage: function () {
                var _self = this;
                _self.isRequesting = true;
                this.$http.get('/api/users/list-package?userid='+ _self.user.id).then(function (response) {
                     // var data_ = response.data.data;
                     // _self.userPackages = data_;
                     _self.pagination = response.data.data;
                     console.log('List user package show!');
                }).catch(function (error) {
                    console.log(error);
                });
            },
            updateUser: function () {
                var _self = this;
                if(!this.isSending) {
                    this.isSending = true;
                    if (this.user.id) {
                        this.$http.put('/api/users/package/' + _self.user.id, _self.user).then((response) => {
                            _self.isSending = false;
                            //eventHub.$emit("USER_UPDATED", user);
                           // $('.modal.in').modal('hide') ;
                            _self.package = '';
                            _self.total_allow_sent = '';
                            _self.errors = '';
                            var newData = response.data;
                            _.assignIn(_self.userPackages, newData);
                            showToast('create user package successfully', 'User\'s information has been updated', 'success');
                        }, (error) => {
                            _self.isSending = false;
                            if (error.data && error.data.data) {
                                _self.errors = error.data.data;
                            }
                            showToast('create user package failed', 'User\'s information has not been updated', 'error');
                        });
                    }
                }
            },
            deleteUserPackage: function(model) {
                if (confirm("Do you want to delete?")) {
                    var _self = this;
                    this.$http.put('/api/users/package-delete/' + model.id).then((response) => {
                        var index = _self.userPackages.indexOf(model);
                        if(index != -1)
                            _self.userPackages.splice(index, 1);
                        showToast('Deleted successfully', 'User Package has been removed', 'success');
                    }, (response) => {
                        console.log('Delete failed:' + response);
                        showToast('Delete failed', ' User Package has not been deleted', 'error');
                    });
                }
            }
        }
    }
</script>
