<template>
  <ul>
    <li v-for="provider in providers">
      <span class="inline">
        <provider-image :provider="provider.name.toUpperCase()" :isSmall="true"></provider-image>
      </span>
    </li>
  </ul>
</template>
<script>
  import ProviderImage from '../../common/ProviderImage.vue';
  export default {
    props: {
      providers: {
        default: {}
      }
    },
    components: {
      ProviderImage
    },
    data() {
      return {
      }
    }
  }
</script>
<style scoped>
  ul {
    list-style: none;
  }
  li {
    display: inline;
  }
</style>
