<template>
    <div class="row" id="airbnb-provider-setting-block">
        <div class="col-md-12">
            <div class="form">
                <form action="#" class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Review URL</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" placeholder="Your new comment's link"
                                       v-model="model.reviewed_url">
                                <span class="help-block bold"><em>Please set the Review ID first!</em></span>
                                <span class="help-block" v-if="reviewed_link"> You can use the link below: </span>
                                <span class="help-block" v-if="reviewed_link"><a target="_blank" :href="reviewed_link">{{reviewed_link}}</a></span>
                            </div>
                        </div>
                        <form-error :errors="errors" field="reviewed_key">
                            <label class="col-md-2 control-label">Review ID</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" placeholder="Ex: rooms/32694"
                                       v-model="model.reviewed_key">
                                <span class="help-block"> If your page is https://www.airbnb.com/rooms/32694. "rooms/32694" will be your page's ID </span>
                            </div>
                        </form-error>
                    </div>
                    <div class="form-actions right">
                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" class="btn green" @click="submit">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
<script>
    export default{
        data: function () {
            return {
                model: {
                    reviewed_key: "",
                    name: 'AIRBNB',
                    store_id: AppData.store_id
                },
                errors: {}
            }
        },
        mounted: function () {
            this.refresh();
        },
        computed: {
            reviewed_link: function () {
                var strs = this.model.reviewed_key.split("/")
                if(this.model.reviewed_key){
                  return "https://www.airbnb.com/" + strs[0] + "/" + strs[1] ;
                }
                return "";
            }
        },
        methods: {
            refresh: function () {
                App.blockUI({
                    target: '#airbnb-provider-setting-block',
                    message: 'Wait for a few minutes because you have a lot of reviews',
                    boxed: true
                });
                var _self = this;
                this.$http.get('api/review_providers/by-user/AIRBNB').then(function (response) {
                    if (response.data.data) {
                        _self.model = response.data.data;
                    }
                    App.unblockUI('#airbnb-provider-setting-block')
                }).catch(function (error) {
                    showToastFromResponse(error);
                    App.unblockUI('#airbnb-provider-setting-block')
                });
            },
            submit: function () {
               App.blockUI({
                   target: '#airbnb-provider-setting-block',
                   message: 'Wait for a few minutes because you have a lot of reviews',
                   boxed: true
               });
               this.errors = {};
               var _self = this;

               this.$http.post('api/review_providers', this.model).then(function (response) {
                   _self.model = response.data.data;
                   showToast('Saved successfully', 'Airbnb\'s settings has been saved', 'success');
                   App.unblockUI('#airbnb-provider-setting-block')
               }).catch(function (error) {
                   _self.errors = error.data.data;
                   showToastFromResponse(error);
                   App.unblockUI('#airbnb-provider-setting-block')
               });
            }
        }
    }
</script>
