<template>
    <div class="portlet light" v-if="componentShouldShow" id="provider-settings">
        <div class="portlet-title tabbable-line">
            <div class="caption">
                <i class="icon-link font-blue"></i>
                <span class="caption-subject bold font-blue uppercase"> REVIEW PROVIDER SETTING  </span>
            </div>
            <ul class="nav nav-tabs">
                <li class="active">
                   <a href="#booking_provider_setting" data-toggle="tab" aria-expanded="true">
                        <provider-image :provider="'BOOKING'" :isSmall="true"></provider-image>
                        Booking
                    </a>
                </li>
            </ul>
        </div>
        <div class="portlet-body">
            <div class="tab-content">
                <div class="tab-pane active" id="booking_provider_setting">
                    <booking-provider-setting-form/>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import BookingProviderSettingForm from './BookingProviderSettingForm.vue';
    import ProviderImage from '../common/ProviderImage.vue';
    export default{
        computed:{
          componentShouldShow: function () {
              return AppData.store_id;
          }
        },
        components:{
            BookingProviderSettingForm,
            ProviderImage
        }
    }
</script>
