<template>
    <div class="form" id="yelp-provider-setting-block">
        <form action="#" class="form-horizontal">
            <div class="form-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">Review URL</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" placeholder="Your new comment's link"
                               v-model="model.reviewed_url">
                        <span class="help-block bold"><em>Please set the Review ID first!</em></span>
                        <span class="help-block"> Access below page and copy link of "Write a Review" button </span>
                        <span class="help-block"><a target="_blank" :href="reviewed_url">{{reviewed_url}}</a></span>
                        <span class="help-block"> Please set the Review ID first! </span>
                    </div>
                </div>
                <form-error :errors="errors" field="reviewed_key">
                    <label class="col-md-2 control-label">Review ID</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" placeholder="Ex: ichido-san-francisco-6"
                               v-model="model.reviewed_key">
                        <span class="help-block"> If your page is https://www.yelp.com/biz/ichido-san-francisco-6. "ichido-san-francisco-6" will be your page's ID </span>
                    </div>
                </form-error>
            </div>
            <div class="form-actions right">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn green" @click="submit">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>
<script>
    export default{
        data: function () {
            return {
                model: {
                    reviewed_key: '',
                    name: 'YELP',
                    store_id: AppData.store_id
                },
                errors: {}
            }
        },
        created: function () {
            this.refresh();
        },
        computed: {
            reviewed_url: function () {
                return 'https://www.yelp.com/biz/' + this.model.reviewed_key;
            }
        },
        methods: {
            refresh: function () {
                App.blockUI({
                    target: '#yelp-provider-setting-block',
                    animate: true
                });
                var _self = this;
                this.$http.get('api/review_providers/by-user/YELP').then(function (response) {
                    if (response.data.data) {
                        _self.model = response.data.data;
                    }
                    App.unblockUI('#yelp-provider-setting-block')
                }).catch(function (error) {
                    showToastFromResponse(error);
                    App.unblockUI('#yelp-provider-setting-block')
                });
            },
            submit: function () {
                App.blockUI({
                    target: '#yelp-provider-setting-block',
                    message: 'Wait for a few minutes because you have a lot of reviews',
                    boxed: true
                });
                this.errors = {};
                var _self = this;
                this.$http.post('api/review_providers', this.model).then(function (response) {
                    if (response.data.data) {
                        _self.model = response.data.data;
                    }
                    showToast('Saved successfully', 'Yelp\'s settings has been saved', 'success');
                    _self.model = response.data.data;
                    App.unblockUI('#yelp-provider-setting-block')
                }).catch(function (error) {
                    _self.errors = error.data.data;
                    showToastFromResponse(error);
                    App.unblockUI('#yelp-provider-setting-block')
                });
            }
        }
    }
</script>
