<template>
    <div id="responsive_commodity" class="modal fade" tabindex="-1" data-width="70%">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title"><i class="icon-users"></i> Create New Commodity</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form action="#" class="form-horizontal">
                        <div class="form-body">
                            <form-error :errors="errors" field="commodity_cate_name" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Commodity Category </label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon input-circle-left">
                                            <i class="fa fa-cogs"></i>
                                        </span>
                                        <v-select v-if="commoditiesCate" :options="commoditiesCate" v-model="commodity.commodity_cate_name" :on-change="runme"></v-select>
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="commodity_charges_name" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Commodity Estimates Charges Name </label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon input-circle-left">
                                            <i class="fa fa-bars"></i>
                                        </span>
                                        <input type="text" class="form-control input-circle-right" placeholder="Name"
                                                v-model="commodity.commodity_charges_name">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="unit" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Commodity Unit </label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon input-circle-left">
                                            <i class="fa fa-bars"></i>
                                        </span>
                                        <input type="text" class="form-control input-circle-right" placeholder="Unit"
                                                v-model="commodity.unit">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="price" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Min Charge</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon input-circle-left">
                                            <i class="fa fa-bars"></i>
                                        </span>
                                        <input type="text" class="form-control input-circle-right" placeholder="Min Charge Value"
                                                v-model="commodity.min_charge">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="price" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Based-on</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon input-circle-left">
                                            <i class="fa fa-bars"></i>
                                        </span>
                                        <select v-model="commodity.based_on" class="form-control input-circle-right">
                                            <option v-for="base in basedOn" :value="base.index">{{ base.name }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </form-error>
                            <form-error v-if="commodity.based_on < 4" :errors="errors" field="price" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Surcharge Value</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon input-circle-left">
                                            <i class="fa fa-bars"></i>
                                        </span>
                                        <input type="text" class="form-control" placeholder="Value"
                                                v-model="commodity.value" style="width: 50%;">
                                        <select v-model="commodity.value_type" class="form-control input-circle-right" style="width: 50%;">
                                                <option v-for="condition in typeBaseOn" :value="condition.index">{{ condition.name }}</option>
                                        </select>
                                        
                                    </div>
                                </div>
                            </form-error>
                        <div v-if="commodity.based_on >= 4" id="con_1" class="col-md-6">
                            <form-error :errors="errors" field="price" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label" style="color: #2D5F8B;">Condition Quanlity</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon input-circle-left">
                                            <i class="fa fa-bars"></i>
                                        </span>
                                        <select v-model="commodity.condition_q_type" class="form-control" style="width: 50%;">
                                            <option v-for="condition in conditions" :value="condition.index">{{ condition.name }}
                                            </option>
                                        </select>
                                        <input type="text" class="form-control input-circle-right" placeholder="Quanlity"
                                                v-model="commodity.condition_q" style="width: 50%;">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="price" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label" style="color: #2D5F8B;">Condition Value</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon input-circle-left">
                                            <i class="fa fa-bars"></i>
                                        </span>
                                        <select v-model="commodity.condition_v_type" class="form-control" style="width: 50%;">
                                            <option v-for="condition in conditions" :value="condition.index">{{ condition.name }}
                                            </option>
                                        </select>
                                        <input type="text" class="form-control input-circle-right" placeholder="Value"
                                                v-model="commodity.condition_v" style="width: 50%;">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="price" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label" style="color: #2D5F8B;">Condition Weight</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon input-circle-left">
                                            <i class="fa fa-bars"></i>
                                        </span>
                                        <select v-model="commodity.condition_w_type" class="form-control" style="width: 50%;">
                                            <option v-for="condition in conditions" :value="condition.index">{{ condition.name }}
                                            </option>
                                        </select>
                                        <input type="text" class="form-control input-circle-right" placeholder="Weight"
                                                v-model="commodity.condition_w" style="width: 50%;">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="price" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label" style="color: #2D5F8B;">Condition Base</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon input-circle-left">
                                            <i class="fa fa-bars"></i>
                                        </span>
                                        <select v-model="commodity.condition_base" class="form-control input-circle-right">
                                            <option v-for="base in conditionBasedOn" :value="base.index">{{ base.name }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="price" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label" style="color: #2D5F8B;">Surcharge</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon input-circle-left">
                                            <i class="fa fa-bars"></i>
                                        </span>
                                        <input type="text" class="form-control" placeholder="Value Correct"
                                                v-model="commodity.value_correct" style="width: 50%;">
                                        <select v-model="commodity.value_correct_type" class="form-control input-circle-right" style="width: 50%;">
                                                <option v-for="condition in typeBaseOn" :value="condition.index">{{ condition.name }}</option>
                                        </select>
                                    </div>
                                </div>
                            </form-error>
                        </div>
                        <div v-if="commodity.based_on >= 5" id="con_1" class="col-md-6">
                            <form-error :errors="errors" field="price" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label" style="color: #2D5F8B;">Condition Quanlity 2</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon input-circle-left">
                                            <i class="fa fa-bars"></i>
                                        </span>
                                        <select v-model="commodity.condition_q_type_2" class="form-control" style="width: 50%;">
                                            <option v-for="condition in conditions" :value="condition.index">{{ condition.name }}
                                            </option>
                                        </select>
                                        <input type="text" class="form-control input-circle-right" placeholder="Quanlity"
                                                v-model="commodity.condition_q_2" style="width: 50%;">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="price" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label" style="color: #2D5F8B;">Condition Value 2</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon input-circle-left">
                                            <i class="fa fa-bars"></i>
                                        </span>
                                        <select v-model="commodity.condition_v_type_2" class="form-control" style="width: 50%;">
                                            <option v-for="condition in conditions" :value="condition.index">{{ condition.name }}
                                            </option>
                                        </select>
                                        <input type="text" class="form-control input-circle-right" placeholder="Value"
                                                v-model="commodity.condition_v_2" style="width: 50%;">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="price" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label" style="color: #2D5F8B;">Condition Weight 2</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon input-circle-left">
                                            <i class="fa fa-bars"></i>
                                        </span>
                                        <select v-model="commodity.condition_w_type_2" class="form-control" style="width: 50%;">
                                            <option v-for="condition in conditions" :value="condition.index">{{ condition.name }}
                                            </option>
                                        </select>
                                        <input type="text" class="form-control input-circle-right" placeholder="Weight"
                                                v-model="commodity.condition_w_2" style="width: 50%;">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="price" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label" style="color: #2D5F8B;">Condition Base 2</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon input-circle-left">
                                            <i class="fa fa-bars"></i>
                                        </span>
                                        <select v-model="commodity.condition_base_2" class="form-control input-circle-right">
                                            <option v-for="base in conditionBasedOn" :value="base.index">{{ base.name }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="price" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label" style="color: #2D5F8B;">Surcharge 2</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon input-circle-left">
                                            <i class="fa fa-bars"></i>
                                        </span>
                                        <input type="text" class="form-control" placeholder="Value Correct"
                                                v-model="commodity.value_correct_2" style="width: 50%;">
                                        <select v-model="commodity.value_correct_type_2" class="form-control input-circle-right" style="width: 50%;">
                                                <option v-for="condition in typeBaseOn" :value="condition.index">{{ condition.name }}</option>
                                        </select>
                                    </div>
                                </div>
                            </form-error>
                        </div>
                        </div>
                    </form>
                    <!-- END FORM-->
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-outline dark btn-circle">Close</button>
            <button type="button" class="btn green btn-circle" @click="createCommodity()">{{ (isSending) ? 'Saving ...' : 'Save'}}
            </button>
        </div>
    </div>
</template>
<script>
    export default{
        props: {
            commodityProp: {
                type: Object,
                default: function () {
                    return {
                        commodity_cate_name: '',
                        commodity_charges_name: '',
                        commodity_cate: '',
                        unit: '',
                        based_on: 0,
                        min_charge: '',
                        condition_q_type:'',
                        condition_q:'',
                        condition_w_type:'',
                        condition_w:'',
                        condition_v_type:'',
                        condition_v:'',
                        condition_q_type_2:'',
                        condition_q_2:'',
                        condition_w_type_2:'',
                        condition_w_2:'',
                        condition_v_type_2:'',
                        condition_v_2:'',
                        value_correct:0,
                        value_correct_type:'',
                        value_correct_2:0,
                        value_correct_type_2:'',
                        condition_base:0,
                        condition_base_2:0,
                        value_uncorrect:0,
                        value_uncorrect_type:0,
                        condition_v:'',
                        status: 1,
                    }
                }
            }
        },
        data: function () {
            return {
                isUpdated: false,
                showError: false,
                errors: '',
                role_id: AppData.role_id,
                isSending: false,
                commoditiesCate: [{label:'0', value:0}],
                commoditiesBrand: [{label:'0', value:0}],
                disabled: 1,
                commoDefault:{
                    commodity_cate_name: '',
                    commodity_charges_name: '',
                    commodity_cate: '',
                    unit: '',
                    based_on: 0,
                    min_charge: '',
                    condition_q_type:'',
                    condition_q:'',
                    condition_w_type:'',
                    condition_w:'',
                    condition_v_type:'',
                    condition_v:'',
                    condition_q_type_2:'',
                    condition_q_2:'',
                    condition_w_type_2:'',
                    condition_w_2:'',
                    condition_v_type_2:'',
                    condition_v_2:'',
                    condition_base_2:'',
                    condition_base:'',
                    value_correct:0,
                    value_correct_type:'',
                    value_correct_2:0,
                    value_correct_type_2:'',
                    value_uncorrect:0,
                    value_uncorrect_type:'',
                    value:0,
                    value_type:'',
                    status: 1,
                },
                basedOn: [
                    {index: 1, name: 'Quanlity', css: 'label-warning'},
                    {index: 2, name: 'Value', css: 'label-success'},
                    {index: 3, name: 'Weight', css: 'label-success'},
                    {index: 4, name: 'One Condition', css: 'label-success'},
                    {index: 5, name: 'Two Condition', css: 'label-success'}
                ],
                conditionBasedOn: [
                    {index: 1, name: 'Quanlity', css: 'label-warning'},
                    {index: 2, name: 'Value', css: 'label-success'},
                    {index: 3, name: 'Weight', css: 'label-success'},
                    {index: 4, name: 'One time', css: 'label-success'},
                ],
                conditions: [
                    {index: '', name: 'Choose Conditions', css: 'label-warning'},
                    {index: '>', name: '>', css: 'label-warning'},
                    {index: '<', name: '<', css: 'label-warning'},
                    {index: '>=', name: '>=', css: 'label-warning'},
                    {index: '<=', name: '<=', css: 'label-warning'}
                ],
                typeBaseOn: [
                    {index: '$', name: '$', css: 'label-warning'},
                    {index: '%', name: '%', css: 'label-success'},
                ],

            }
        },
        components: {
        },
        computed: {
            commodity() {
                return this.commodityProp;
            }
        },
        created: function () {
            this.getCommodityCate();
            console.log('commodity_form created');
        },
        beforeMount: function () {
            console.log('commodity_form beforeMount');
        },
        mounted: function () {
            console.log('commodity_form mounted');
            var _self = this;
            $('#responsive_commodity').on('hidden.bs.modal', function (e) {
                _self.$emit('close');
                console.log('run close');
                _self.errors = '';
            });
            
        },
        updated: function () {
            console.log('commodity_form updated');
        },
        beforeDestroy: function () {
            console.log('commodity_form beforeDestroy');
        },
        methods: {
            createCommodity: function () {
                var _self = this;
                if(!this.isSending) {
                    this.isSending = true;
                    this.$http.post(AppData.baseUrl+'/api/commodities/charges', _self.commodity).then((response) => {
                        _self.isSending = false;
                        var commodites_ = response.data.data;
                        eventHub.$emit("commodity_CREATED", commodites_);
                        $('.modal.in').modal('hide') ;
                        _self.errors = '';
                        _self.commoDefault = commodites_;
                        showToast('Created commodites successfully', 'commodites information has been created', 'success');
                    }, (error) => {
                        _self.isSending = false;
                        if (error.data && error.data.data) {
                            _self.errors = error.data.data;
                        }
                        showToast('Created commodites failed', 'commodites information has not been created', 'error');
                    });
                }
            },
            getCommodityCate: function () {
                var _self = this;
                this.$http.get(AppData.baseUrl+'/api/commodities/charges/load-cate').then(function (response) {
                    _self.commoditiesCate = response.data.data;
                }).catch(function (error) {
                    console.log(error);
                });
            },
            runme(selected) {
                var _self = this;
                _self.commodity.commodity_cate = selected.value;
            },
        }
    }
</script>
