<template>
  <div class="star-ratings-css">
    <div class="star-ratings-css-top" :style="getWidth()">
      <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
    </div>
    <div class="star-ratings-css-bottom">
      <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
    </div>
  </div>
</template>
<script>
  export default {
    props: {
      rating: {
        default: 2
      }
    },
    data() {
      return {
        maxRating: 2
      }
    },
    methods: {
      getWidth() {
        var percent = (this.rating * 100) / this.maxRating;
        return 'width:' + percent + '%';
      }
    }
  }
</script>
<style scoped>
  .star-ratings-css {
    zoom: 200%;
    unicode-bidi: bidi-override;
    color: #c5c5c5;
    position: relative;
    padding: 0;
    display: inline-block;
  }
  .star-ratings-css-top {
    color: #fc7547;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  .star-ratings-css-bottom {
    padding: 0;
    display: block;
    z-index: 0;
  }
</style>
