<template>
  <div id="responsive_edit" class="modal fade" tabindex="-1" data-width="50%">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title">
        <i class="icon-wrench"></i>
        {{ !isCreate ? 'Edit District' : 'Add New Ditrict For '+user.city_name}}
      </h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="portlet-body form">
          <!-- BEGIN FORM-->
          <form action="#" class="form-horizontal">
            <div class="form-body">
              <div class="row">
                <div class="col-md-3" v-if="isCreate == false">
                  <!-- <span v-for="(model,n) in district_list">
                    <button
                      @click="changeDistrict(model)"
                      class="btn btn-default"
                    >{{model.district_name}}</button>
                    <button v-if="n!=0" class="btn btn-danger" @click="deleteUser(model.id)">
                      <i class="fa fa-times red" aria-hidden="true"></i>
                    </button>
                    <br />
                    <br />
                  </span>-->
                  <select class="form-control">
                    <option>Please select district</option>
                    <option
                      @click="changeDistrict(model)"
                      v-for="model in district_list"
                      :value="model"
                    >{{model.district_name}}</option>
                  </select>
                </div>

                <div class="col-md-9">
                  <div class="col-md-12">
                    <form-error
                      :errors="errors"
                      field="rate"
                      error-class="col-md-offset-3 col-md-8"
                    >
                      <label class="col-md-3 control-label">District Name</label>
                      <div class="col-md-8">
                        <input
                          v-model="district.district_name"
                          type="text"
                          class="form-control tel"
                        />
                      </div>
                    </form-error>
                  </div>

                  <div class="col-md-12" v-if="user.country_id != 2" >
                    <form-error
                      :errors="errors"
                      field="discount_rate"
                      error-class="col-md-offset-3 col-md-8"
                    >
                      <label class="col-md-3 control-label">Zip Code</label>
                      <div class="col-md-8">
                        <input v-model="district.zipcode" type="text" class="form-control tel" />
                      </div>
                    </form-error>
                  </div>

                  <div class="col-md-12">
                    <form-error
                      :errors="errors"
                      field="discount_rate"
                      error-class="col-md-offset-3 col-md-8"
                    >
                      <label class="col-md-3 control-label">Zone</label>
                      <div class="col-md-8">
                        <select
                          v-model="district.zone_id"
                          class="form-control"
                          placeholder="Please select zone"
                        >
                          <option>Please select zone</option>
                          <option v-for="zone in list_zone" :value="zone.id">{{zone.zone_name}}</option>
                        </select>
                      </div>
                    </form-error>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <!-- END FORM-->
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        v-if="isCreate == false "
        type="button"
        class="btn btn-outline dark btn-circle"
        @click="onCreate()"
      >Add New District</button>
      <button
        type="button"
        class="btn green btn-circle"
        @click="updateUser()"
      >{{ (isSending) ? 'Sending ...' : 'Save'}}</button>
    </div>
  </div>
</template>
<style>
.multiselect__tag {
  display: none !important;
}
</style>
<script>
export default {
  props: {
    userProp: {
      type: Object,
      default: function() {
        return {};
      }
    }
  },
  data: function() {
    return {
      district_list: {},
      district: {},
      isUpdated: false,
      showError: false,
      errors: "",
      error_list:[],
      role_id: AppData.role_id,
      isSending: false,
      list_zone: [],
      isCreate: false,
      role_id: AppData.role_id
    };
  },
  components: {},
  computed: {
    user() {
      return this.userProp;
    }
  },
  created: function() {
    var _self = this;
    this.LoadData(this.user);
    console.log("user_form created");
  },
  beforeMount: function() {
    console.log("user_form beforeMount");
  },
  mounted: function() {
    console.log("user_form mounted");
    var _self = this;
    $("#responsive_edit").on("hidden.bs.modal", function(e) {
      _self.$emit("close");
      console.log("run close");
      _self.errors = "";
    });
  },
  updated: function() {
    console.log("user_form updated");
  },
  beforeDestroy: function() {
    console.log("user_form beforeDestroy");
  },
  methods: {
    updateUser: function() {
      var _self = this;
      if (!this.isSending) {
        this.isSending = true;
        if (_self.district.id) {
          _self.district["updated_by"] = _self.role_id;
          this.$http
            .put("/api/district/" + _self.district.id, _self.district)
            .then(
              response => {
                _self.isSending = false;
                var user = response.data.data;
                eventHub.$emit("USER_UPDATED", user);
                //$('#responsive').modal('hide');
                $(".modal.in").modal("hide");
                _self.errors = "";
                showToast(
                  "Updated district successfully",
                  "District's information has been updated",
                  "success"
                );
              },
              error => {
                _self.isSending = false;
                if (error.data && error.data.data) {
                  _self.errors = error.data.data;
                }
                showToast(
                  "Updated district failed",
                  "District's information has not been updated",
                  "error"
                );
              }
            );
        } else {
            _self.district.city_id = this.user.id;
            this.$http.post("/api/district", _self.district).then(
              response => {
                _self.isSending = false;
                var user = response.data.data;
                _self.isCreate = false;
                eventHub.$emit("USER_UPDATED", user);
                //$('#responsive').modal('hide');
                $(".modal.in").modal("hide");
                _self.errors = "";
                showToast(
                  "Created district successfully",
                  "District's information has been created",
                  "success"
                );
              },
              error => {
                _self.isSending = false;
                if (error.data && error.data.data) {
                  _self.errors = error.data.data;
                }
                showToast(
                  "Created district failed",
                  "District's information has not been created",
                  "error"
                );
              }
            );
        }
      }
    },
    deleteUser: function(id) {
      var _self = this;
      if (confirm("Do you want to delete?")) {
        this.$http.delete("/api/service_type_zone/" + id).then(
          response => {
            _self.isSending = false;
            var user = response.data.data;
            _self.isCreate = false;
            eventHub.$emit("USER_CREATED", user);
            //$('#responsive').modal('hide');
            $(".modal.in").modal("hide");
            _self.errors = "";
            showToast(
              "Deleted Service type zone successfully",
              "Service type zone's information has been deleted",
              "success"
            );
          },
          error => {
            _self.isSending = false;
            if (error.data && error.data.data) {
              _self.errors = error.data.data;
            }
            showToast(
              "Deleted Service type zone failed",
              "Service type zone's information has not been deleted",
              "error"
            );
          }
        );
      }
    },
    onCloseCreate: function() {
      var _self = this;
      _self.isCreate = false;
    },
    LoadData: function(user) {
      var _self = this;
      this.$http
        .get("/api/district/district_list_by_id/" + user.id)
        .then(function(response) {
          _self.district_list = response.data.data;
          if (_self.district_list.length == 0) {
            _self.isCreate = true;
          }
          this.loadZone();
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    loadZone: function() {
      var _self = this;
      this.$http
        .get("/api/service_type_zone/list_zone")
        .then(function(response) {
          _self.list_zone = response.data.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    changeDistrict: function(model) {
      var _self = this;
      _self.district = model;
    },
    onCreate: function() {
      var _self = this;
      _self.isCreate = true;
      _self.district = {};
    },
    validate: function() {
      var _self = this;
      console.log(_self.district.zone_id);
      if (_self.district.zone_id == "undefined") {
        _self.error_list.push('Please select zone');
      }
      return _self.error_list;
    }
  }
};
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
