<template>
  <div id="responsive" class="modal fade" tabindex="-1" data-width="50%">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title">
        <i class="icon-settings"></i>
        {{user.id ? 'Edit' : 'Add New City'}}
      </h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="portlet-body form">
          <!-- BEGIN FORM-->
          <form action="#" class="form-horizontal">
            <div class="form-body">
              <form-error
                :errors="errors"
                field="service_type"
                error-class="col-md-offset-3 col-md-8"
              >
                <label class="col-md-3 control-label">City Name</label>
                <div class="col-md-8">
                  <div class="input-group">
                    <span class="input-group-addon input-circle-left">
                      <i class="fa fa-indent"></i>
                    </span>
                    <input
                      type="text"
                      class="form-control input-circle-right"
                      placeholder="City name"
                      v-model="user.city_name"
                    />
                  </div>
                </div>
              </form-error>

              <form-error
                :errors="errors"
                field="service_type"
                error-class="col-md-offset-3 col-md-8"
              >
                <label class="col-md-3 control-label">Country</label>
                <div class="col-md-8">
                  <div class="input-group">
                    <span class="input-group-addon input-circle-left">
                      <i class="fa fa-indent"></i>
                    </span>
                    <select
                      class="form-control input-circle-right"
                      v-model="user.country_id"
                    >
                    <option v-for="country in country_list" :value="country.id">{{country.country_name}}</option>
                    </select>
                  </div>
                </div>
              </form-error>

              <form-error
                :errors="errors"
                field="service_type"
                error-class="col-md-offset-3 col-md-8"
              >
                <label class="col-md-3 control-label">Zone</label>
                <div class="col-md-8">
                  <div class="input-group">
                    <span class="input-group-addon input-circle-left">
                      <i class="fa fa-indent"></i>
                    </span>
                    <select
                      class="form-control input-circle-right"
                      v-model="user.zone_id"
                    >
                    <option v-for="zone in zone_list" :value="zone.id">{{zone.zone_name}}</option>
                    </select>
                  </div>
                </div>
              </form-error>
              
              <form-error
                :errors="errors"
                field="status"
                error-class="col-md-offset-3 col-md-8"
              >
                <label class="col-md-3 control-label">Status</label>
                <div class="col-md-8">
                  <div class="input-group">
                    <span class="input-group-addon input-circle-left">
                      <i class="fa fa-indent"></i>
                    </span>
                    <select
                      class="form-control input-circle-right"
                      v-model="user.status"
                    >
                    <option value="1">Actived</option>
                    <option value="0">Pending</option>
                    </select>
                  </div>
                </div>
              </form-error>

            </div>
          </form>
          <!-- END FORM-->
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn green btn-circle"
        @click="updateUser()"
      >{{ (isSending) ? 'Sending ...' : 'Save'}}</button>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    userProp: {
      type: Object,
      default: function() {
        return {
          city_name: "",
          country_id: 1,
          zone_id: 1,
          status: 1,
        };
      }
    }
  },
  data: function() {
    return {
      zone_list:[],
      country_list:[],
      isUpdated: false,
      showError: false,
      errors: "",
      role_id: AppData.role_id,
      isSending: false,
    };
  },
  computed: {
    user() {
      return this.userProp;
    }
  },
  created: function() {
    this.loadZone();
    this.loadCountry();
    console.log("user_form created");
  },
  beforeMount: function() {
    console.log("user_form beforeMount");
  },
  mounted: function() {
    console.log("user_form mounted");
    var _self = this;
    $("#responsive").on("hidden.bs.modal", function(e) {
      _self.$emit("close");
      console.log("run close");
      _self.errors = "";
    });
  },
  updated: function() {
    console.log("user_form updated");
  },
  beforeDestroy: function() {
    console.log("user_form beforeDestroy");
  },
  methods: {
    updateUser: function() {
      var _self = this;
      if (!this.isSending) {
        this.isSending = true;
        if (this.user.id) {
          this.$http
            .put("/api/city/" + _self.user.id, _self.user)
            .then(
              response => {
                _self.isSending = false;
                var user_ = response.data.data;
                eventHub.$emit("USER_UPDATED", user_);
                //$('#responsive').modal('hide');
                $(".modal.in").modal("hide");
                _self.errors = "";
                showToast(
                  "Updated city successfully",
                  "City's information has been updated",
                  "success"
                );
              },
              error => {
                _self.isSending = false;
                if (error.data && error.data.data) {
                  _self.errors = error.data.data;
                }
                showToast(
                  "Updated city failed",
                  "City's information has not been updated",
                  "error"
                );
              }
            );
        } else {
          this.$http.post("/api/city", _self.user).then(
            response => {
              _self.isSending = false;
              var user_ = response.data.data;
              eventHub.$emit("USER_CREATED", user_);
              //$('#responsive').modal('hide');
              $(".modal.in").modal("hide");
              _self.errors = "";
              showToast(
                "Created city successfully",
                "City's information has been created",
                "success"
              );
            },
            error => {
              _self.isSending = false;
              if (error.data && error.data.data) {
                _self.errors = error.data.data;
              }
              showToast(
                "Created city failed",
                "City's information has not been created",
                "error"
              );
            }
          );
        }
      }
    },
    loadZone: function() {
      var _self = this;
      this.$http
        .get("/api/service_type_zone/list_zone")
        .then(function(response) {
          _self.zone_list = response.data.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    loadCountry:function () {
      var _self = this;
      this.$http
        .get("/api/country")
        .then(function(response) {
          _self.country_list = response.data.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    }
  }
};
</script>
