<template>
  <div class="row">
    <div v-for="n in showNewModal">
      <user-form @close="onCloseNew()"></user-form>
    </div>
    <div v-for="n in showEditModal">
      <user-edit-form @close="onCloseEdit()" :userProp="current_user"></user-edit-form>
    </div>

    <div class="col-md-12">
      <!-- BEGIN EXAMPLE TABLE PORTLET-->
      <div class="portlet light bordered">
        <div class="portlet-title">
          <div class="caption font-dark">
            <i class="icon-settings font-dark"></i>
            <span class="caption-subject bold uppercase">All City</span>
          </div>
          <div class="actions">
            <button
              class="btn sbold green btn-circle"
              @click="onClickNewButton()"
              data-toggle="modal"
              href="#responsive"
            >
              Add New
              <i class="fa fa-plus"></i>
            </button>
          </div>
        </div>
        <div class="portlet-body">
          <div class="table-toolbar">
            <div class="row">
              <div class="col-md-6">
                <div class="btn-group pull-right" v-if="false">
                  <button class="btn green btn-outline dropdown-toggle" data-toggle="dropdown">
                    Tools
                    <i class="fa fa-angle-down"></i>
                  </button>
                  <ul class="dropdown-menu pull-right">
                    <li>
                      <a href="javascript:;">
                        <i class="fa fa-print"></i> Print
                      </a>
                    </li>
                    <li>
                      <a href="javascript:;">
                        <i class="fa fa-file-pdf-o"></i> Save as PDF
                      </a>
                    </li>
                    <li>
                      <a href="javascript:;">
                        <i class="fa fa-file-excel-o"></i> Export to
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <table
            class="table table-striped table-bordered table-hover dt-responsive dataTable no-footer dtr-inline collapsed"
            id="sample_1"
          >
            <thead>
              <tr>
                <th style="text-align:center">STT</th>
                <th>Name</th>
                <th>Zone</th>
                <th style="text-align:center">Edit</th>
                <th style="text-align:center">Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(user,n) in users" class="odd gradeX">
                <td align="center">{{n+1}}</td>
                <td>{{user.city_name}}</td>
                <td >
                  <select class="form-control tel" v-model="user.zone_id" @change="changeZone(user)">
                    <option v-for="zone in list_zone" :value="zone.id">{{zone.zone_name}}</option>
                  </select>
                  </td>
                <td align="right">
                  <button
                    class="btn btn-info"
                    @click="onClickEditButton(user)"
                    data-toggle="modal"
                    href="#responsive_edit"
                  >
                    <i class="fa fa-edit"></i>
                  </button>
                </td>
                <td align="right">
                  <button class="btn btn-danger" @click="deleteUser(user)">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- END EXAMPLE TABLE PORTLET-->
    </div>
  </div>
</template>
<script>
var TableDatatablesManaged = require("../../../utils/table-datatables-responsive");
import UserForm from "./Form.vue";
import UserEditForm from "./FormEdit.vue";

export default {
  data: function() {
    return {
      search: "",
      users: [],
      zone:"",
      current_user: {},
      origin_user: {},
      statuses: [
        { index: 0, name: "Pending", css: "label-warning" },
        { index: 1, name: "Actived", css: "label-success" }
      ],
      isUpdated: false,
      showNewModal: 1,
      showEditModal: 0,
      role_id: AppData.role_id,
      isEdited: false,
      list_zone: []
    };
  },
  components: {
    UserForm,
    UserEditForm
  },
  computed: {},
  created: function() {
    this.loadZone();
    this.loadData();
    eventHub.$on("USER_CREATED", this.onUserCreated);
    eventHub.$on("USER_UPDATED", this.onUserUpdated);
  },
  updated: function() {
    if (!this.isUpdated) {
      TableDatatablesManaged.default.init();
      this.isUpdated = true;
    }
  },
  methods: {
    onCloseNew() {
      this.showNewModal -= 1;
    },
    onCloseEdit() {
      this.showEditModal -= 1;
    },
    onCloseEditPackage() {
      this.showEditPackageModal -= 1;
    },
    onClickEditButton(user) {
      this.isEdited = false;
      this.current_user = user;
      this.setOriginUser(user);
      //eventHub.$emit("LOAD_SERVICE", user);
      this.showEditModal += 1;
    },
    onClickEditPackageButton(user) {
      this.isEdited = false;
      this.current_user = user;
      this.setOriginUser(user);
      this.showEditPackageModal += 1;
    },
    onClickNewButton() {
      this.showNewModal += 1;
    },
    setOriginUser(user) {
      this.origin_user = _.clone(user);
    },
    loadData: function() {
      var _self = this;
      this.$http
        .get("/api/city")
        .then(function(response) {
          _self.users = response.data.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    buildSearchQuery: function() {
      var searchQuery = "";
      if (this.search && this.search != "") {
        searchQuery =
          "?search=" + this.search + "&searchFields=name:like;email:like";
      }
      return searchQuery;
    },
    loadZone: function() {
      var _self = this;
      this.$http
        .get("/api/service_type_zone/list_zone")
        .then(function(response) {
          _self.list_zone = response.data.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    onUserCreated: function(user) {
      var _self = this;
      _self.users.push(user);
    },
    onUserUpdated: function(user) {
      this.loadData();
      this.isEdited = true;
    },
    deleteUser: function(user) {
      if (confirm("Do you want to delete?")) {
        var _self = this;
        user.status = -1;
        this.$http.put("/api/city/" + user.id,user).then(
          response => {
              var index = _self.users.indexOf(user);
              if(index != -1)
                 _self.users.splice(index,index);
            showToast(
              "Deleted successfully",
              "City has been removed",
              "success"
            );
          },
          response => {
            console.log("Delete failed:" + response);
            showToast(
              "Delete failed",
              "City has not been deleted",
              "error"
            );
          }
        );
      }
    },
    changeZone: function (user) {
      var _self = this;
      if (confirm("Do you want to change zone ?")) {
        this.$http
        .put("/api/city/"+ user.id, user)
        .then(function(response) {
          showToast(
              "Change Zone successfully",
              "City has been changed",
              "success"
            );
          this.loadData();
        })
        .catch(function(error) {
          console.log(error);
        });
      }
      else{
        this.loadData();
      }
    }
  }
};
</script>
<style>
.dataTables_filter {
  float: right !important;
}
</style>
