<template>
    <div class="portlet light bordered" id="list-customer-block">
        <div class="portlet-title">
            <div class="caption">
                <span class="caption-subject font-red sbold uppercase">
                    <a class="btn btn-circle grey-salsa btn-sm" data-toggle="modal" href="#responsive_send_sms" @click="onClickSMSButton()"> SMS COUPON </a>
                    <a class="btn btn-circle grey-salsa btn-sm" data-toggle="modal" href="#responsive_send_mms" @click="onClickMMSButton()"> MMS COUPON </a>
                </span>
            </div>
            <div class="actions">
              <span class="caption-subject font-red sbold uppercase">
                <a class="btn btn-circle red-sunglo btn-sm" @click="syncContact()">Sync Contacts</a>
              </span>
            </div>
        </div>
        <div class="portlet-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover table-checkable dataTable no-footer"
                               role="grid" id="customers-table">
                            <thead>
                            <tr role="row" class="heading">
                                <th width="2%" class="sorting_disabled" rowspan="1" colspan="1" aria-label="">
                                </th>
                                <th> Message </th>
                                <th> Type (SMS/MMS) </th>
                                <th> Sent at </th>
                                <th> Total contact </th>
                                <th> Send </th>
                            </tr>
                            <tr>
                                <th></th>
                                <th>
                                    <div class="form-group">
                                        <input class="form-control" type='text' v-model="filterContent"
                                               @keyup.enter="filterChange">
                                    </div>
                                </th>
                                <th>
                                    <div class="form-group">
                                        <select class="form-control" v-model="filterType" @change="filterChange">
                                            <option value="-1">All</option>
                                            <option value="0">SMS</option>
                                            <option value="1">MMS</option>
                                        </select>
                                    </div>
                                </th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-if="pagination &&  pagination.data && pagination.data.length > 0"
                                v-for="model in pagination.data" role="row" class="odd">
                                <td></td>
                                <td> {{model.content}}</td>
                                <td> {{model.type == 0 ? "SMS" : "MMS"}}</td>
                                <td> {{formatDate(model.last_sent_at)}}</td>
                                <td> {{model.contacts ? model.contacts.length : "0"}}</td>
                                <td class="text-center">
                                    <span class="label label-sm label-info" v-if="model.email_sent"> Sent </span>
                                    <button class="btn btn-default" data-toggle="modal" href="#responsive" @click="currentMessage = model;onClickSendingButton()">Send
                                    </button>
                                </td>

                            </tr>
                            <tr v-if="!pagination || pagination.data && pagination.data.length == 0">
                                <td colspan="8">No Data</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row" v-if="pagination &&  pagination.data && pagination.data.length > 0">
                <div class="col-md-12">
                    <ul class="pager">
                        <li data-lp="1" class="previous" v-bind:class="pagination.current_page == 1?'disabled':''"><a
                                href="javascript:void(0);" @click="backPage()"><i
                                class="fa fa-angle-left"></i></a></li>
                        <span>{{pagination.current_page}}/{{pagination.last_page}}</span>
                        <li data-lp="7" class="next"
                            v-bind:class="pagination.current_page == pagination.last_page?'disabled':''"><a
                                href="javascript:void(0);" @click="nextPage()"><i class="fa fa-angle-right"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div v-for="n in smsFormCount">
          <sms-form :contactSize="contactSize" @close="onCloseSMSForm"></sms-form>
        </div>
        <div v-for="n in mmsFormCount">
          <mms-form :contactSize="contactSize" @close="onCloseMMSForm"></mms-form>
        </div>
        <div v-for="n in sendingFormCount">
          <sending-form :message="currentMessage" :contactSize="contactSize" @close="onCloseSendingForm"></sending-form>
        </div>
    </div>
</template>
<style scoped>
    .actions {
        margin-right: 10px;
    }
</style>
<script>
    import BootstrapTourMixin from '../../mixins/BootstrapTourMixin';
    import MomentMixin from '../../mixins/MomentMixin';
    import SmsForm from './SmsForm.vue';
    import MmsForm from './MmsForm.vue';
    import SendingForm from './SendingForm.vue';
    export default{
        mixins: [BootstrapTourMixin,MomentMixin],
        data: function () {
            return {
                search: '',
                pagination: {},
                currentPage: 1,
                checkedList: [],
                checkAll: false,
                sendConfirmType: '',
                showSendConfirm: false,
                filterType: -1,
                filterContent: '',
                smsFormCount: 1,
                mmsFormCount: 1,
                sendingFormCount: 0,
                currentMessage: {},
                contactSize: 0
            }
        },
        components: {
            SmsForm, MmsForm, SendingForm
        },
        mounted: function () {
            this.refresh();
            this.countContact();
            var _self = this;
            eventHub.$on('SEND_INVITATION_SUCCESS', function (invite) {
                _self.refresh();
            });
            eventHub.$on("TEMPLATE_CREATED", this.onTemplateCreated);
            eventHub.$on("TEMPLATE_UPDATED", this.onTemplateUpdated);
            eventHub.$on("SENT_TEMPLATE", this.onTemplateSent);
        },
        watch: {
            checkAll: function (value) {
                var ids = _.transform(this.pagination.data, function (result, model) {
                    result.push(model.id);
                }, []);
                if (value) {
                    this.checkedList = _.union(this.checkedList, ids);
                } else {
                    this.checkedList = _.xor(this.checkedList, ids);
                }
            }
        },
        computed: {
            searchQuery: function () {
                var query = "?with=contacts&orderBy=created_at&sortedBy=desc&page=" + this.currentPage + "&";
                var search = 'search=';
                if (this.filterType && this.filterType >= 0) {
                    search += 'type:' + this.filterType + ';';
                }
                if (this.filterContent) {
                    search += 'content:' + this.filterContent + ';';
                }
                query += search.slice(0, -1);
                return query;
            },
            pages: function () {
                var pages = [];
                if (this.pagination && this.pagination.last_page) {
                    for (var i = 1; i <= this.pagination.last_page; i++) {
                        pages.push(i);
                    }
                }
                return pages;
            }
        },
        methods: {
            searchChange: _.debounce(function () {
                this.refresh();
            }, 500),
            refresh: function () {
                App.blockUI({
                    target: '#list-customer-block',
                    animate: true
                });
                var _self = this;
                this.$http.get('api/blast_templates/byUser' + this.searchQuery).then(function (response) {

                    _self.pagination = response.data.data;
                    console.log(response);
                    App.unblockUI('#list-customer-block');
                }).catch(function (error) {
                    App.unblockUI('#list-customer-block')
                });
            },
            countContact() {
              var _self = this;
              this.$http.get("api/client_contacts/countUser/" + AppData.store_id).then(function (response) {
                  console.log(response);
                  _self.contactSize = response.data.data;
              }).catch(function (error) {
                  _self.contactSize = 0;
              });
            },
            changePage: function (index) {
                this.currentPage = index;
                this.refresh();
            },
            backPage: function () {
                if (this.currentPage > 1) {
                    this.currentPage--;
                    this.refresh();
                }
            },
            nextPage: function () {
                if (this.currentPage < this.pagination.last_page) {
                    this.currentPage++;
                    this.refresh();
                }
            },
            send: function (id, via) {
                this.sendList([id], via);
            },
            onTemplateCreated: function(template) {
              this.pagination.data.unshift(template);
              showToast('Template', 'Template has been added to list', 'info');
            },
            onTemplateUpdated: function(template) {
              console.log("Edited",template);
              // this.isEdited = true;
            },
            onTemplateSent: function() {
              this.refresh();
            },
            syncContact() {
              this.$http.get('api/blast_templates/syncContact').then(function (response) {
                  App.unblockUI('#list-customer-block');
                  showToastFromResponse(response);
              }).catch(function (error) {
                  App.unblockUI('#list-customer-block');
                  showToastFromResponse(error);
              })
            },
            sendAll: function () {
                if (!confirm('Are you sure you want to send all invites?')) {
                    return;
                }
                App.blockUI({
                    target: '#list-customer-block',
                    animate: true
                });
                this.$http.post('/api/invites/send-all', {}).then(function (response) {
                    App.unblockUI('#list-customer-block');
                    showToastFromResponse(response);
                    this.refresh();
                }).catch(function (error) {
                    App.unblockUI('#list-customer-block');
                    showToastFromResponse(error);
                })
            },
            sendSelected: function (via) {
                if (!this.checkedList || this.checkedList.length == 0) {
                    showToast('Warning', 'You must select least a customer.', 'warning');
                    return;
                }
                this.sendConfirmType = via;
                this.showSendConfirm = true;
            },
            sendList: function (ids, via) {
                App.blockUI({
                    target: '#list-customer-block',
                    animate: true
                });
                return this.$http.post('/api/invites/send', {
                    list: ids,
                    via: via
                }).then(function (response) {
                    App.unblockUI('#list-customer-block');
                    showToastFromResponse(response);
                    this.refresh();
                }).catch(function (error) {
                    App.unblockUI('#list-customer-block');
                    showToastFromResponse(error);
                })
            },
            filterChange: function () {
                this.refresh();
            },
            deleteInvite: function (id) {
                App.blockUI({
                    target: '#list-customer-block',
                    animate: true
                });
                return this.$http.delete('/api/invites/'+id).then(function (response) {
                    App.unblockUI('#list-customer-block');
                    showToastFromResponse(response);
                    this.refresh();
                }).catch(function (error) {
                    App.unblockUI('#list-customer-block');
                    showToastFromResponse(error);
                })
            },
            onClickSMSButton: function () {
              console.log('show');
              this.smsFormCount += 1;
            },
            onCloseSMSForm: function () {
              console.log('close');
              this.smsFormCount -= 1;
            },
            onClickMMSButton: function () {
              console.log('show');
              this.mmsFormCount += 1;
            },
            onCloseMMSForm: function () {
              console.log('close');
              this.mmsFormCount -= 1;
            },
            onClickSendingButton: function () {
              console.log('show');
              this.sendingFormCount += 1;
            },
            onCloseSendingForm: function () {
              console.log('close');
              this.sendingFormCount -= 1;
            },
        }
    }
</script>
