<template>
    <div id="responsive_edit" class="modal fade" tabindex="-1" data-width="70%">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title"><i class="icon-users"></i> Edit Request Label</h4>

        </div>
        <div class="modal-body">
            <div class="row">
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form action="#" class="form-horizontal">
                        <div class="form-body">
                            <form-error :errors="errors" field="customer_code" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Sender</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon input-circle-left">
                                            <i class="fa fa-code"></i>
                                        </span>
                                        <input type="text" class="form-control input-circle-right" placeholder="Customer Code Custom"
                                            v-model="customer.sender_name" disabled="true">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="address" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Weight</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                    <span class="input-group-addon input-circle-left">
                                        <i class="fa fa-info-circle"></i>
                                    </span>
                                    <input type="text" class="form-control input-circle-right" placeholder="Sender Address" v-model="customer.weight">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="zipcode" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Weight Unit</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                    <span class="input-group-addon input-circle-left">
                                        <i class="fa fa-info-circle"></i>
                                    </span>
                                    <select class="form-control input-circle-right" v-model="customer.weight_unit">
                                        <option>Kg</option>
                                        <option>LBS</option> 
                                    </select>
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="city" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Height</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                    <span class="input-group-addon input-circle-left">
                                        <i class="fa fa-info-circle"></i>
                                    </span>
                                    <input type="text" class="form-control input-circle-right" v-model="customer.height">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="receiver_name" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Width</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                    <span class="input-group-addon input-circle-left">
                                        <i class="fa fa-info-circle"></i>
                                    </span>
                                    <input type="text" class="form-control input-circle-right"  v-model="customer.width">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="receiver_name" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Length</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                    <span class="input-group-addon input-circle-left">
                                        <i class="fa fa-info-circle"></i>
                                    </span>
                                    <input type="text" class="form-control input-circle-right" v-model="customer.length">
                                    </div>
                                </div>
                            </form-error>
                            <form-error :errors="errors" field="receiver_name" error-class="col-md-offset-3 col-md-8">
                                <label class="col-md-3 control-label">Unit</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                    <span class="input-group-addon input-circle-left">
                                        <i class="fa fa-info-circle"></i>
                                    </span>
                                    <select class="form-control input-circle-right" v-model="customer.unit">
                                        <option>Kg</option>
                                        <option>LBS</option> 
                                    </select>
                                    </div>
                                </div>
                            </form-error>
                        </div>
                    </form>
                    <!-- END FORM-->
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-outline dark">Close</button>
            <button type="button" class="btn green" @click="updateCustomer()">{{ (isSending) ? 'Sending ...' : 'Save'}}
            </button>
        </div>
    </div>
</template>
<script>
    export default{
        props: {
            customerProp: {
                type: Object,
                default: function () {
                    return {
                        id:0,
                        sender_name:"",
                        weight: "",
                        weight_unit: "Kg",
                        height: "",
                        width: "",
                        length: "",
                        unit: "Kg"
                    }
                }
            },
        },
        data: function () {
            return {
                isUpdated: false,
                showError: false,
                errors: '',
                isChecked:0,
                isSending: false,
                error_: ""
            }
        },
        computed: {
            customer() {
                return this.customerProp;
            },
        },
        created: function () {
            console.log('customer_edit_form created');
        },
        beforeMount: function () {
            console.log('customer_edit_form beforeMount');
        },
        mounted: function () {
            console.log('user_form mounted');
            var _self = this;
            $('#responsive_edit').on('hidden.bs.modal', function (e) {
                _self.$emit('close');
                console.log('run close');
                _self.errors = '';
            });
            
        },
        updated: function () {
            console.log('customer_edit_form updated');
        },
        beforeDestroy: function () {
            console.log('customer_edit_form beforeDestroy');
        },
        watch: {
        },
        methods: {
            updateCustomer: function () {
                var _self = this;
                if(!this.isSending) {
                    this.isSending = true;
                    if (this.customer.id) {
                        this.customer.check = this.isChecked;
                        this.$http.put(AppData.baseUrl+'/api/request-label-package-list/'+_self.customer.id, _self.customer).then((response) => {
                            _self.isSending = false;
                            var customer = response.data.data;
                            eventHub.$emit("REQUESTLABEL_UPDATED", customer);
                            $('.modal.in').modal('hide') ;
                            _self.errors = '';
                            showToast('Updated request label successfully', 'Request Label information has been updated', 'success');
                        }, (error) => {
                            _self.isSending = false;
                            if (error.data && error.data.data) {
                                _self.errors = error.data.data;
                            }
                            showToast('Updated request label failed', 'Request Label information has not been updated', 'error');
                        });
                    }
                }
            },
        }
    }
</script>
