<template>
    <a class="btn btn-circle red-sunglo btn-sm" data-style="expand-left" @click="openImportModal()">
        <modal :show="isShowModal"
               :show-footer="false"
               title="Upload a background"
               v-on:modalSubmit="submit()"
               v-on:modalClose="isShowModal=!isShowModal">
            <form role="form" lpformnum="1" method="POST" action="" enctype="multipart/form-data"
                  v-on:submit.prevent="onSubmitForm">
                <div class="form-body">
                    <p></p>
                    <form-error :errors="errors" field="file">
                        <input class="form-control" type="file" name="file" @change.prevent="onFileChange">
                    </form-error>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn blue ladda-button" data-style="expand-left"
                            v-bind:disabled="isLoading"><span
                            class="ladda-label"> {{isLoading?'Importing...':'Import'}} </span></button>
                </div>
            </form>
        </modal>
        <i class="fa fa-cloud-upload"></i> Add new </a>
</template>

<script>
    export default {
        data(){
            return {
                isShowModal: false,
                formData: new FormData(),
                model: {
                },
                errors: {},
                isLoading: false,
            }
        },
        methods:{
            openImportModal: function () {
                this.isShowModal = true;
            },
            submit: function () {
                console.log('Event model submit');
                this.isShowModal = false;
            },
            onFileChange: function (e) {
                this.formData.append('file', e.target.files[0]);
            },
            onSubmitForm: function (e) {
                this.$http.post('/api/master_redirect_backgrounds/upload', this.formData).then(function (response) {
                    showToastFromResponse(response);
                    this.$emit('onSuccess');
                    this.isShowModal = false;
                    this.formData = new FormData();
                    this.isLoading = false;
                     $('.modal.in').modal('hide') ;
                    $('.modal-scrollable').css('zIndex',-1);
                    $('.modal-backdrop.fade').css('zIndex',-1);
                    this.errors = {};
                }).catch(function (error) {
                    if (error.data && error.data.data) {
                        this.errors = error.data.data;
                    } else {
                        showToastFromResponse(error);
                        this.$emit('onError');
                        this.isShowModal = false;
                         $('.modal.in').modal('hide') ;
                        $('.modal-scrollable').css('zIndex',-1);
                        $('.modal-backdrop.fade').css('zIndex',-1);
                    }
                    this.isLoading = false;
                })
            }
        }
    }
</script>