<template>
<div class="portlet light bordered" id="list-check-shipments-block">
<div class="portlet-title">
    <div class="caption">
        <i class="icon-users font-red"></i>
        <span class="caption-subject font-red sbold uppercase">List All Shipments</b></span>
    </div>
    <div class="actions">
        
    </div>
</div>
<div class="portlet-body">
    <div class="row">
        <div class="col-md-4">
            <form action="#" class="form-horizontal">
                <div class="form-group" style="margin-bottom: 10px !important;">
                    <label class="control-label">Customer Code</label>
                    <input class="form-control" type='text' v-model="filterCustomerCode" placeholder="Customer Code" @keyup.enter="filterChange">
                    <label class="control-label">Air Way Bill(Mã Chuyến Bay)</label>
                    <input class="form-control" type='text' v-model="filterPhoneAwb" placeholder="Customer Awb" @keyup.enter="filterChange">
                </div>
                <div class="form-group" style="margin-bottom: 10px !important;">
                    <button class="btn sbold green btn-circle" @click="searchChange"> Search
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="portlet-body">
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover no-footer"
                        role="grid" id="recipient-table">
                    <thead>
                    <tr role="row" class="heading">
                        <th>Customer Code</th>
                        <th>Air Way Bill(Mã Chuyến Bay)</th>
                        <th>Shipment Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-if="pagination &&  pagination.data && pagination.data.length > 0"
                        v-for="model in pagination.data" role="row" class="odd">
                        <td>
                            {{model.customer_code}}
                        </td>
                        <td>
                            {{model.customer_awb}}
                        </td>
                        <td>
                            {{model.shipment_status}}
                        </td>
                    </tr>
                    <tr v-if="!pagination || pagination.data && pagination.data.length == 0 ||pagination.total==0">
                        <td colspan="10">No Data - No find data</td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row" >
        <div v-if="pagination &&  pagination.data && pagination.data.length > 0">
            <div class="col-md-12">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <ul class="pager">
                        <li data-lp="1" class="previous" v-bind:class="pagination.current_page == 1?'disabled':''"><a
                                href="javascript:void(0);" @click="backPage()"><i
                                class="fa fa-angle-left"></i></a></li>
                        <span>{{pagination.current_page}}/{{pagination.last_page}}</span>
                        <li data-lp="8" class="next"
                            v-bind:class="pagination.current_page == pagination.last_page?'disabled':''"><a
                                href="javascript:void(0);" @click="nextPage()"><i class="fa fa-angle-right fa-4"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
</div>
</template>
<style scoped>
    .actions {
        margin-right: 10px;
    }
    .table-responsive .form-control {
        height: 25px;
        width: 100%;
    }
    .form-group {
        margin-bottom: 0px !important;
    }
</style>
<script>
    export default{
        data: function () {
            return {
                search: '',
                pagination: {},
                filterStatus: "",
                currentPage: 1,
                filterCustomerCode: '0',
                filterPhoneAwb: '0',
                current_recipient: {},
                origin_recipient: {},
                showNewModal: 1,
                showEditModal: 1,
                isEdited: false,
                typeStatus: [],
                showEditModal:1,
                origin_shiment:{},
                current_shipment:{},
                shipment_packages:{},
                historyList:false,
                view_customer_id:'',
                view_sender_id:'',
                view_recipient_id:'',
                view_title:''
            }
        },
        props: {

        },
        components: {
            
        },
        mounted: function () {
            var _self = this;
            
            $(document).ready(function(){
                $('[data-toggle="popover"]').popover();
            });
            eventHub.$on('shipment_update_status', function () {
                _self.refresh();
            });
            this.refresh();
        },
        watch: {
        },
        computed: {
            searchQuery: function () {
                var query = "?orderBy=created_at&sortedBy=desc&page=" + this.currentPage + "&";
                var search = '';
                if (this.filterCustomerCode) {
                    search += 'customer_code=' + this.filterCustomerCode + '&';
                }
                if (this.filterPhoneAwb) {
                    search += 'customer_awb=' + this.filterPhoneAwb + '&';
                }
                query += search.slice(0, -1);
                return query;
            },
            pages: function () {
                var pages = [];
                if (this.pagination && this.pagination.last_page) {
                    for (var i = 1; i <= this.pagination.last_page; i++) {
                        pages.push(i);
                    }
                }
                return pages;
            }
        },
        methods: {
            onCloseEdit() {
                this.showEditModal -= 1;
            },
            onCloseNew() {
                this.showNewModal -= 1;
            },
            onClickNewButton() {
                this.showNewModal += 1;
            },
            searchChange: _.debounce(function () {
                this.refresh();
            }, 500),
            refresh: function () {
                App.blockUI({
                    target: '#list-check-shipments-block',
                    animate: true
                });
                $('.btn-checked').html('Check Clicked');
                var _self = this;
                this.$http.get(AppData.baseUrl+'/api/check-export-list/pagination' + this.searchQuery).then(function (response) {
                    _self.pagination = response.data.data;
                    App.unblockUI('#list-check-shipments-block');
                }).catch(function (error) {
                    App.unblockUI('#list-check-shipments-block')
                });
            },
            changePage: function (index) {
                this.currentPage = index;
                this.refresh();
            },
            backPage: function () {
                if (this.currentPage > 1) {
                    this.currentPage--;
                    this.refresh();
                }
            },
            nextPage: function () {
                if (this.currentPage < this.pagination.last_page) {
                    this.currentPage++;
                    this.refresh();
                }
            },
            filterChange: function () {
                this.refresh();
            },
            searchChange: function () {
                this.refresh();
            }
        }
    }

</script>
